Repository opencv/opencv, pull requests merged in 2018-10, with the labels that each got.

#12708 3rdparty/protobuf: fix compilation issue on s390
  3rdparty/protobuf/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h
Labels: bug, category: build/install, category: dnn, platform: other

#12709 Fix frame rate rounding in ffmpeg wrapper (#9023)
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: videoio

#12714 Fix documentation of cv::cuda::compare
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
Labels: category: documentation, category: gpu/cuda (contrib)

#12711 dnn(ocl4dnn): drop weights_buf
  modules/dnn/src/opencl/conv_layer_spatial.cl
Labels: category: dnn, category: ocl

#12620 ocl: OPENCV_OPENCL_BUILD_EXTRA_OPTIONS parameter
  modules/core/src/ocl.cpp
Labels: category: core, category: ocl, feature

#12669 Added support for multi-path configuration parameter (env)
  modules/core/include/opencv2/core/utils/configuration.private.hpp
  modules/core/src/system.cpp
Labels: category: core, feature

#12722 cudafilters: fix test failure of cudafilters Median_Accuracy
  modules/cudafilters/src/cuda/median_filter.cu
Labels: bug, category: gpu/cuda (contrib)

#12693 Obtain fourcc when `AVStream` is network stream
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: videoio

#12727 Fix CMake for clang-cl
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#12731 Add check for CALIB_USE_EXTRINSIC_GUESS in stereoCalibrate
  modules/calib3d/src/calibration.cpp
Labels: bug, category: calib3d

#12726 dnn(ocl4dnn): calculate activation expression once
  modules/dnn/src/opencl/conv_layer_spatial.cl
Labels: bug, category: dnn, category: ocl

#12735 cudastereo: fix test failure of StereoBeliefPropagation
  modules/cudastereo/src/cuda/stereobp.cu
  modules/cudastereo/src/stereobp.cpp
Labels: bug, category: gpu/cuda (contrib)

#12695 Fixes #12692: Update samples/gpu/videoreader.cpp
  samples/gpu/video_reader.cpp
Labels: category: gpu/cuda (contrib), category: samples

#12741 Fix install with external protobuf
  cmake/OpenCVFindProtobuf.cmake
Labels: category: build/install

#12745 ocl::KernelArg::Local(): added size argument
  modules/core/include/opencv2/core/ocl.hpp
Labels: bug, category: ocl

#12749 Fix clang-cl _tzcnt_u32 intrinsic
  modules/core/include/opencv2/core/hal/intrin.hpp
Labels: bug, category: build/install, category: core

#12753 Correct licenses install location for ffmpeg-download script
  3rdparty/ffmpeg/ffmpeg-download.ps1.in
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: build/install

#12767 Fix JavaScript bindings for features2d module
  modules/js/src/core_bindings.cpp
Labels: bug, category: java bindings

#12725 cmake: don't ignore Python from PATH environment variable
  cmake/OpenCVDetectPython.cmake
  cmake/OpenCVMinDepVersions.cmake
Labels: bug, category: build/install, category: python bindings, platform: win32

#12755 core: update allocSingleton implementation, valgrind suppression
  modules/core/include/opencv2/core/private.hpp
  modules/core/src/system.cpp
  platforms/scripts/valgrind.supp
Labels: category: core

#12728 calib3d: move undistort files from imgproc
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/include/opencv2/calib3d/calib3d_c.h
  modules/calib3d/misc/java/test/Calib3dTest.java
  modules/calib3d/src/calibration.cpp
  modules/calib3d/src/distortion_model.hpp
  modules/calib3d/src/undistort.avx2.cpp
  modules/calib3d/src/undistort.cpp
  modules/calib3d/src/undistort.hpp
  modules/calib3d/test/test_undistort.cpp
  modules/calib3d/test/test_undistort_badarg.cpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/include/opencv2/imgproc/imgproc_c.h
  modules/imgproc/misc/java/test/ImgprocTest.java
  modules/imgproc/test/test_imgwarp.cpp
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/OnCameraFrameRender.java
Labels: RFC, category: calib3d, category: imgproc

#12765 TS/CUDA: Show device ID in case of multiple devices
  modules/ts/src/cuda_test.cpp
Labels: category: gpu/cuda (contrib), test

#12596 Add Shufflenet support in ONNX
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#12777 Added documentation for cvtColorTwoPlane
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#12762 CUDA/BgSegm: fix the threshold of MOG2.Update test
  modules/cudabgsegm/test/test_bgsegm.cpp
Labels: category: gpu/cuda (contrib), test

#12636 samples: add winpack "drap & drop" build script
  samples/CMakeLists.example.in
  samples/_winpack_build_sample.cmd
Labels: category: build/install, category: samples

#12788 samples: add search for MSVS 2017 BuildTools
  samples/_winpack_build_sample.cmd
Labels: category: build/install, category: samples

#12781 videoio: drop rectification code for VIDERE cameras
  modules/videoio/src/cap_dc1394_v2.cpp
Labels: category: videoio

#12793 cmake: fix Python detection for standalone bindings
  cmake/OpenCVDetectPython.cmake
  modules/python/standalone.cmake
Labels: category: build/install, category: python bindings

#12795 cmake: fix Python detection for standalone bindings
  cmake/OpenCVDetectPython.cmake
  modules/python/standalone.cmake
Labels: port/backport done

#12521 Objdetect: QRCode detect + decode
  3rdparty/quirc/CMakeLists.txt
  3rdparty/quirc/LICENSE
  3rdparty/quirc/include/quirc.h
  3rdparty/quirc/include/quirc_internal.h
  3rdparty/quirc/src/decode.c
  3rdparty/quirc/src/quirc.c
  3rdparty/quirc/src/version_db.c
  CMakeLists.txt
  cmake/templates/cvconfig.h.in
  modules/objdetect/CMakeLists.txt
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
  platforms/js/build_js.py
  samples/cpp/live_detect_qrcode.cpp
Labels: category: objdetect, feature

#12792 cudaimgproc: fix test failure of cudaimgproc convert color of bgr2lab series
  modules/cudaimgproc/test/test_color.cpp
Labels: category: gpu/cuda (contrib), test

#12796 core: call omp_set_dynamic() for better CPU usage
  modules/core/src/parallel.cpp
Labels: bug, category: core, optimization

#12803 samples: prefer CMake from MSVS
  samples/_winpack_build_sample.cmd
Labels: category: build/install, category: samples

#12806 imgproc: Enable VSX on pyrDown & pyrUp
  modules/imgproc/src/pyramids.cpp
Labels: category: imgproc, optimization

#12811 resolves #11283
  modules/imgproc/src/resize.cpp
Labels: bug, category: imgproc

#12641 Add a file with preprocessing parameters for deep learning samples
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence_cpp.cpp
  samples/dnn/classification.cpp
  samples/dnn/classification.py
  samples/dnn/common.hpp
  samples/dnn/common.py
  samples/dnn/models.yml
  samples/dnn/object_detection.cpp
  samples/dnn/object_detection.py
  samples/dnn/segmentation.cpp
  samples/dnn/segmentation.py
  samples/dnn/tf_text_graph_common.py
Labels: category: dnn, category: samples, feature

#12815 core: re-throw allocation exception if there is no fallback
  modules/core/src/matrix.cpp
Labels: category: core, category: t-api

#12823 change area() emptiness checks to empty()
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/src/stereobm.cpp
  modules/dnn/perf/perf_convolution.cpp
  modules/imgproc/src/drawing.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/lsd.cpp
  modules/imgproc/src/pyramids.cpp
  modules/imgproc/test/ocl/test_pyramids.cpp
  modules/imgproc/test/ocl/test_warp.cpp
  modules/imgproc/test/test_imgwarp_strict.cpp
  modules/objdetect/src/cascadedetect.cpp
  modules/objdetect/src/detection_based_tracker.cpp
  modules/objdetect/src/haar.cpp
  samples/cpp/select3dobj.cpp
  samples/tapi/dense_optical_flow.cpp
Labels: bug, category: core

#12697 Faster Cocoa Window Drawing
  modules/highgui/src/window_cocoa.mm
Labels: category: highgui-gui, platform: ios/osx

#12344 Replaced core module calls to universal intrinsics to wide version
  modules/core/src/copy.cpp
  modules/core/src/lapack.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/matmul.cpp
Labels: category: core, optimization

#12799 js: update build js
  modules/core/include/opencv2/core/utils/trace.hpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/mathfuncs_core.simd.hpp
  modules/js/CMakeLists.txt
  platforms/js/build_js.py
Labels: category: build/install, category: javascript (js)

#12837 Fix Pooling and Convolution layers from Intel's Inference Engine
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
Labels: category: dnn, feature

#12829 video: fix test failure of PyrLKOpticalFlow.Mat
  modules/video/src/lkpyramid.cpp
  modules/video/src/opencl/pyrlk.cl
Labels: bug, category: ocl, category: video

#12843 objdetect: validate QRdecode inputs
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: bug, category: objdetect

#12846 videoio: return -1 is incorrect for function with 'bool' result
  modules/videoio/src/cap_v4l.cpp
Labels: bug, category: videoio(camera)

#12845 OCL: bailout from unsupported types
  modules/core/include/opencv2/core/opencl/ocl_defs.hpp
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#12848 core: update solveLP() interface
  modules/core/include/opencv2/core/optim.hpp
  modules/core/src/lpsolver.cpp
  modules/core/test/test_lpsolver.cpp
Labels: category: core, future

#12859 Remove unused empty block
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio

#12860 Fix clashing include guards
  apps/traincascade/old_ml.hpp
  modules/features2d/src/kaze/KAZEConfig.h
Labels: bug

#12863 build: eliminate warnings
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#12864 Implement getBatchSize for Intel's Inference Engine networks
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn, optimization

#12844 add support for latest Turing gpu and cuda 10
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#12852 Bugfix/increase magic threshold for perf test
  modules/stitching/perf/perf_matchers.cpp
Labels: category: stitching, test

#12832 I added code below using if~else to fix compiling errors that occur w…
  modules/core/include/opencv2/core/types_c.h
Labels: category: build/install, category: gpu/cuda (contrib)

#12867 Add documentation for radiusSearch
  modules/flann/include/opencv2/flann.hpp
Labels: category: documentation, category: flann

#12870 G-API: Implement basic heterogeneity plugin for Fluid backend
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/fluid/gfluidbuffer.cpp
  modules/gapi/src/backends/fluid/gfluidbuffer_priv.hpp
  modules/gapi/test/gapi_basic_hetero_tests.cpp
Labels: category: g-api, feature

#12875 Fix ENet test
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, test

#12871 flann: Add documentation for Distance functor
  modules/flann/include/opencv2/flann.hpp
Labels: category: documentation, category: flann

#12857 G-API Documentation: first submission
  modules/gapi/CMakeLists.txt
  modules/gapi/doc/00-root.markdown
  modules/gapi/doc/01-background.markdown
  modules/gapi/doc/10-hld-overview.md
  modules/gapi/doc/20-kernel-api.markdown
  modules/gapi/doc/30-implementation.markdown
  modules/gapi/doc/dot/kernel_hierarchy.dot
  modules/gapi/doc/intro.markdown
  modules/gapi/doc/pics/demo.jpg
  modules/gapi/doc/pics/gapi_scheme.png
  modules/gapi/doc/pics/kernel_hierarchy.png
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/samples/api_example.cpp
  modules/gapi/samples/kernel_api_snippets.cpp
Labels: category: documentation, category: g-api

#12713 Recognize ConvolutionDepthwise as Convolution
  modules/dnn/src/caffe/caffe_importer.cpp
Labels: category: dnn, feature

#12877 Update of IPP integration
  3rdparty/ippicv/ippicv.cmake
  cmake/OpenCVFindIPP.cmake
  cmake/OpenCVFindIPPIW.cmake
  cmake/templates/cvconfig.h.in
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/private.hpp
  modules/core/src/channels.cpp
  modules/core/src/copy.cpp
  modules/core/src/mean.cpp
  modules/core/src/merge.cpp
  modules/core/src/minmax.cpp
  modules/core/src/split.cpp
  modules/core/src/system.cpp
  modules/core/test/test_arithm.cpp
  modules/imgproc/src/filter.cpp
  modules/imgproc/src/resize.cpp
  modules/objdetect/src/haar.cpp
Labels: optimization

#12919 dnn/samples: handle not set env vars gracefully
  samples/dnn/common.hpp
Labels: bug, category: samples

#12909 cmake: don't change baseline compiler flags in 'detection' mode
  cmake/OpenCVCompilerOptimizations.cmake
Labels: bug, category: build/install

#12914 core:vsx change behavior of v_round to rounding to nearest even
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
Labels: bug, category: core, optimization

#12887 cmake: fix variable expand in CMake conditions
  CMakeLists.txt
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVDetectCUDA.cmake
  cmake/OpenCVDetectVTK.cmake
  cmake/OpenCVFindIPP.cmake
  cmake/OpenCVFindMKL.cmake
  cmake/OpenCVModule.cmake
  cmake/OpenCVPackaging.cmake
  cmake/templates/OpenCVConfig-CUDA.cmake.in
Labels: bug, category: build/install

#12881 ORB: compute default norm by wta_k
  modules/features2d/src/orb.cpp
Labels: bug, category: features2d

#12922 core: fix merge from 3.4
  modules/core/include/opencv2/core/base.hpp
Labels: bug, category: core

#12894 drop C-API sample code
  doc/tutorials/core/file_input_output_with_xml_yml/file_input_output_with_xml_yml.markdown
  doc/tutorials/core/how_to_use_OpenCV_parallel_for_/how_to_use_OpenCV_parallel_for_.markdown
  doc/tutorials/core/interoperability_with_OpenCV_1/images/outputInteropOpenCV1.jpg
  doc/tutorials/core/interoperability_with_OpenCV_1/interoperability_with_OpenCV_1.markdown
  doc/tutorials/core/mat_operations.markdown
  doc/tutorials/core/table_of_content_core.markdown
  doc/tutorials/introduction/transition_guide/transition_guide.markdown
  modules/core/include/opencv2/core/mat.hpp
  samples/cpp/image.cpp
  samples/cpp/tutorial_code/core/interoperability_with_OpenCV_1/interoperability_with_OpenCV_1.cpp
  samples/cpp/tutorial_code/core/mat_operations/mat_operations.cpp
Labels: RFC, category: documentation, category: samples

#12888 cmake: fix objdetect QR decoder link_libraries
  modules/objdetect/CMakeLists.txt
Labels: bug, category: build/install, category: objdetect

#12934 core: move compiler defines from base.hpp into cvdef.h
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/cvdef.h
Labels: category: build/install

#12925 (3.4) cmake: fix variable expand in CMake conditions
  CMakeLists.txt
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVDetectCUDA.cmake
  cmake/OpenCVDetectVTK.cmake
  cmake/OpenCVFindIPP.cmake
  cmake/OpenCVFindMKL.cmake
  cmake/OpenCVModule.cmake
  cmake/OpenCVPackaging.cmake
  cmake/templates/OpenCVConfig-CUDA.cmake.in
Labels: bug, category: build/install

#12927 docs: hide GAPI_EXPORTS from documentation
  doc/Doxyfile.in
Labels: category: documentation, category: g-api

#12930 Update depth map for python-opencv
  doc/py_tutorials/py_calib3d/py_depthmap/py_depthmap.markdown
Labels: category: documentation

#12854 Objdetect: QRCode pipeline: Added perf tests
  modules/objdetect/perf/perf_qrcode_pipeline.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: category: objdetect, test

#12804 add .editorconfig
  .editorconfig
Labels: RFC

#12935 python: eliminate DeprecationWarning: SO -> EXT_SUFFIX
  modules/python/common.cmake
Labels: category: build/install, category: python bindings

#12772 More accurate pinhole camera calibration with imperfect planar target
  doc/tutorials/calib3d/camera_calibration/camera_calibration.markdown
  doc/tutorials/calib3d/table_of_content_calib3d.markdown
  modules/calib3d/doc/calib3d.bib
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/include/opencv2/calib3d/calib3d_c.h
  modules/calib3d/src/calibration.cpp
  modules/calib3d/test/test_cameracalibration.cpp
  modules/calib3d/test/test_cameracalibration_badarg.cpp
  samples/cpp/calibration.cpp
  samples/cpp/tutorial_code/calib3d/camera_calibration/camera_calibration.cpp
  samples/cpp/tutorial_code/calib3d/camera_calibration/in_VID5.xml
Labels: category: calib3d, effort: few weeks, feature

#12138 videoio:new crossbar setting support
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_dshow.cpp
  modules/videoio/test/test_camera.cpp
Labels: category: videoio(camera), feature, test

#12960 core(ipp): disable SSE4.2 meanStdDev() optimization for CV_32F
  modules/core/src/mean.cpp
Labels: bug, category: core

#12958 docs: fix document about camera distortion parameters
  modules/calib3d/doc/pics/distortion_examples.png
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#12947 Renamed Sobel operator GAPI kernel to match with OpenCV naming rules
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
Labels: category: g-api

#12967 Add Java and Python code for background subtraction tutorial
  doc/tutorials/video/background_subtraction/background_subtraction.markdown
  doc/tutorials/video/background_subtraction/images/Background_Subtraction_Tutorial_Result_1.png
  doc/tutorials/video/background_subtraction/images/Background_Subtraction_Tutorial_Result_2.png
  doc/tutorials/video/background_subtraction/images/Background_Subtraction_Tutorial_frame.jpg
  doc/tutorials/video/background_subtraction/images/Background_Subtraction_Tutorial_result_KNN.jpg
  doc/tutorials/video/background_subtraction/images/Background_Subtraction_Tutorial_result_MOG2.jpg
  doc/tutorials/video/table_of_content_video.markdown
  samples/cpp/tutorial_code/video/bg_sub.cpp
  samples/java/tutorial_code/video/background_subtraction/BackgroundSubtractionDemo.java
  samples/python/tutorial_code/video/background_subtraction/bg_sub.py
Labels: category: documentation, feature

#12954 Fixed a few comments related to macOS support
  CMakeLists.txt
  modules/highgui/src/window.cpp
Labels: category: build/install, platform: ios/osx

#12978 Fix signature of static function collectCalibrationData() in modules/calib3d/src/calibration.cpp
  modules/calib3d/src/calibration.cpp
Labels: category: calib3d

#12944 added threshold to g-api imgproc tests
  modules/gapi/perf/common/gapi_core_perf_tests.cpp
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.cpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
Labels: category: g-api, test

#12938 Multidimensional Mat reshape in Java
  modules/core/misc/java/src/java/core+Mat.java
  modules/core/misc/java/test/MatTest.java
  modules/java/generator/src/cpp/Mat.cpp
Labels: category: core, category: java bindings, feature

#12948 Add drawFrameAxes function
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/solvepnp.cpp
  samples/cpp/tutorial_code/features2D/Homography/decompose_homography.cpp
  samples/cpp/tutorial_code/features2D/Homography/homography_from_camera_displacement.cpp
  samples/cpp/tutorial_code/features2D/Homography/panorama_stitching_rotating_camera.cpp
  samples/cpp/tutorial_code/features2D/Homography/perspective_correction.cpp
  samples/cpp/tutorial_code/features2D/Homography/pose_from_homography.cpp
Labels: RFC, category: calib3d, feature

#12876 RGB2RGB conversions rewritten to wide intirinsics
  modules/imgproc/src/color_rgb.cpp
Labels: category: imgproc, optimization

#12990 G-API: Introduce new `reshape()` API
  modules/gapi/include/opencv2/gapi/fluid/gfluidbuffer.hpp
  modules/gapi/include/opencv2/gapi/gcompiled.hpp
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/backends/cpu/gcpubackend.hpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/fluid/gfluidbuffer.cpp
  modules/gapi/src/backends/fluid/gfluidbuffer_priv.hpp
  modules/gapi/src/compiler/gcompiled.cpp
  modules/gapi/src/compiler/gcompiled_priv.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/compiler/passes/meta.cpp
  modules/gapi/src/compiler/passes/passes.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gexecutor.hpp
  modules/gapi/test/gapi_fluid_test.cpp
  modules/gapi/test/internal/gapi_int_recompilation_test.cpp
Labels: category: g-api

#12982 Python wrapper generator: Fix closing input file
  modules/python/src2/gen2.py
Labels: bug, category: python bindings

#12951 Make some methods in viz const
  modules/viz/include/opencv2/viz/viz3d.hpp
  modules/viz/include/opencv2/viz/widgets.hpp
  modules/viz/src/clouds.cpp
  modules/viz/src/shapes.cpp
  modules/viz/src/viz3d.cpp
  modules/viz/src/vizimpl.cpp
  modules/viz/src/vizimpl.hpp
  modules/viz/src/widget.cpp
Labels: category: build/install, category: viz, future

#12994 fixed imshow on mac
  modules/highgui/src/window_cocoa.mm
Labels: bug, category: highgui-gui, platform: ios/osx

#12988 Add python test for copyto with mask
  modules/python/test/test_copytomask.py
Labels: category: core, category: python bindings, test

#12997 cmake: eliminate GCC4.x warnings
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#12971 Upd imgproc hpp
  modules/imgcodecs/src/grfmt_webp.cpp
  modules/imgcodecs/test/test_png.cpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/demosaicing.cpp
  modules/imgproc/test/test_color.cpp
  modules/imgproc/test/test_cvtyuv.cpp
  modules/imgproc/test/test_goodfeaturetotrack.cpp
Labels: category: documentation, category: imgproc

#12991 3rdparty: update libpng 1.6.35
  3rdparty/libpng/CHANGES
  3rdparty/libpng/CMakeLists.txt
  3rdparty/libpng/LICENSE
  3rdparty/libpng/README
  3rdparty/libpng/intel/filter_sse2_intrinsics.c
  3rdparty/libpng/opencv-libpng.patch
  3rdparty/libpng/png.c
  3rdparty/libpng/png.h
  3rdparty/libpng/pngconf.h
  3rdparty/libpng/pngget.c
  3rdparty/libpng/pnginfo.h
  3rdparty/libpng/pngpread.c
  3rdparty/libpng/pngpriv.h
  3rdparty/libpng/pngread.c
  3rdparty/libpng/pngrio.c
  3rdparty/libpng/pngrtran.c
  3rdparty/libpng/pngrutil.c
  3rdparty/libpng/pngset.c
  3rdparty/libpng/pngstruct.h
  3rdparty/libpng/pngtrans.c
  3rdparty/libpng/pngwio.c
  3rdparty/libpng/pngwrite.c
  3rdparty/libpng/pngwtran.c
  3rdparty/libpng/pngwutil.c
  3rdparty/libpng/powerpc/filter_vsx_intrinsics.c
Labels: category: build/install, category: imgcodecs
