Repository opencv/opencv, pull requests merged in 2018-12, with the labels that each got.

#13349 Restored 500ms delay in highgui test
  modules/highgui/test/test_gui.cpp
Labels: category: highgui-gui, test

#13348 videoio(v4l): initialize members in ctor
  modules/videoio/src/cap_v4l.cpp
Labels: category: build/install, category: video

#13351 Fixed compilation with VA-interop on 32-bit platforms
  modules/core/src/va_intel.cpp
Labels: bug, category: build/install, category: core

#13350 gapi: eliminate KW issues
  modules/gapi/include/opencv2/gapi/own/assert.hpp
Labels: category: build/install

#13352 core: add getcwd() stub
  modules/core/src/utils/filesystem.cpp
Labels: bug, category: build/install, category: core

#13363 Fix comment marker in OpenCVDetectCudaArch.cu
  cmake/checks/OpenCVDetectCudaArch.cu
Labels: bug, category: build/install, category: gpu/cuda (contrib)

#13364 Fix error in LineIterator example code in doc
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: bug, category: documentation

#12945 Updated inRange, addWeighted and comparison implementations with wide un.intrinsics
  modules/core/src/arithm.cpp
Labels: category: core, optimization

#13332 DNN backends registry
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_googlenet.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_misc.cpp
Labels: category: dnn, feature

#13361 Get/Set functions for BRISK parameters, issue #11527
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/brisk.cpp
  modules/features2d/test/test_brisk.cpp
Labels: category: features2d, feature

#13369 dnn: fixup available backends/targets
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_common.hpp
Labels: category: dnn

#13341 Fix VideoCapture_LibRealsense
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_librealsense.cpp
  modules/videoio/src/cap_librealsense.hpp
Labels: category: videoio(camera), feature

#13370 stitching(perf): update test threshold
  modules/stitching/perf/perf_matchers.cpp
Labels: category: ocl, category: stitching, test

#13376 Exclude Input layer from list of outputs for IE networks
  modules/dnn/src/op_inf_engine.cpp
Labels: bug, category: dnn

#13377 Exclude Input layer from list of outputs for IE networks
  modules/dnn/src/op_inf_engine.cpp
Labels: bug, category: dnn

#13367 cmake options verification
  CMakeLists.txt
  cmake/OpenCVUtils.cmake
Labels: category: build/install

#13389 Element-wise subtraction from TensorFlow
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#13316 cmake: fix compiler flags (CPU_BASELINE_REQUIRED=xxx + CPU_BASELINE=DETECT)
  cmake/OpenCVCompilerOptimizations.cmake
Labels: bug, category: build/install

#13385 cmake: hide 'junk' dir from the root of build directory
  cmake/OpenCVVersion.cmake
Labels: category: build/install

#13388 stitching(perf): increase threshold of transform vector
  modules/stitching/perf/perf_matchers.cpp
Labels: category: ocl, category: stitching, test

#13382 try to solve #13381
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/loadsave.cpp
Labels: category: imgcodecs, feature

#13416 python: don't use 'cv2.' in documentation
  modules/features2d/include/opencv2/features2d.hpp
Labels: category: documentation, category: python bindings

#13419 Fixed -Wextra-semi warnings in public headers
  modules/features2d/include/opencv2/features2d.hpp
Labels: category: build/install

#13424 Add ability to build iOS and macOS frameworks with nonfree modules
  platforms/ios/build_framework.py
  platforms/osx/build_framework.py
Labels: category: build/install, feature, platform: ios/osx

#13420 Remove MinCore_Downlevel, replace with Shlwapi
  modules/videoio/src/cap_msmf.cpp
Labels: bug, category: build/install, category: videoio, platform: win32

#13423 cmake: fix compiler flags filtering
  cmake/OpenCVUtils.cmake
Labels: bug, category: build/install

#13425 dnn: fix vulkan backend builds with Clang
  modules/dnn/src/vkcom/include/op_pool.hpp
  modules/dnn/src/vkcom/src/context.cpp
  modules/dnn/src/vkcom/src/context.hpp
  modules/dnn/src/vkcom/src/op_base.cpp
Labels: bug, category: build/install, category: dnn

#13430 cuda: use correct CC value for Jetson Xavier
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#13387 Minor fixes in IE backend tests
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, test

#13427 Operate with shapes in ONNX models
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#13334 compareHist updated with wide intrinsics
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/imgproc/perf/perf_histogram.cpp
  modules/imgproc/src/histogram.cpp
Labels: category: imgproc, optimization

#13436 videoio(MSMF): backport WITH_MSMF_DXVA flag
  CMakeLists.txt
  cmake/OpenCVFindLibsVideo.cmake
  modules/videoio/CMakeLists.txt
  modules/videoio/src/cap_msmf.cpp
Labels: category: build/install, category: videoio, platform: win32

#13379 RGB to/from Gray rewritten to wide intrinsics
  modules/imgproc/src/color_rgb.cpp
  modules/imgproc/src/opencl/color_rgb.cl
Labels: category: imgproc, optimization

#13438 Update template_matching.markdown
  doc/tutorials/imgproc/histograms/template_matching/template_matching.markdown
Labels: category: documentation

#13441 videoio: fix CAP_IMAGES
  modules/videoio/src/cap_images.cpp
Labels: bug, category: videoio

#13400 Optimize exposure compensation
  modules/stitching/perf/perf_stich.cpp
  modules/stitching/src/exposure_compensate.cpp
Labels: category: stitching, optimization

#13443 core:vsx fix build failure on GCC<=6
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
Labels: bug, category: build/install, platform: other

#13448 (2.4) videoio(dc1394): use lazy initialization on demand
  modules/highgui/src/cap_dc1394_v2.cpp
Labels: category: videoio, port/backport done

#13447 videoio(dc1394): use lazy initialization on demand
  modules/videoio/src/cap_dc1394_v2.cpp
Labels: category: videoio

#13455 stitching: fix l_gains data type from Eigen solver (float / double)
  modules/stitching/src/exposure_compensate.cpp
Labels: bug, category: stitching

#13440 RGB to/from Gray rewritten to wide intrinsics (port to master)
  modules/core/include/opencv2/core/cuda/detail/color_detail.hpp
  modules/imgproc/src/color_rgb.cpp
  modules/imgproc/src/opencl/color_rgb.cl
Labels: category: imgproc, optimization

#13463 Fix Scharr and Sobel functions
  modules/imgproc/src/deriv.cpp
Labels: bug, category: imgproc, category: ocl

#13432 Create text_detection.py
  samples/dnn/text_detection.py
Labels: category: dnn, category: samples

#13449 Stitching: added functions to set warp interpolation mode
  modules/stitching/include/opencv2/stitching.hpp
  modules/stitching/src/stitcher.cpp
Labels: category: stitching, feature

#13458 cmake: fix python install paths
  CMakeLists.txt
  cmake/OpenCVGenSetupVars.cmake
  modules/python/CMakeLists.txt
  modules/python/common.cmake
  modules/python/python_loader.cmake
  modules/python/standalone.cmake
Labels: category: build/install, category: python bindings

#13464 core(ocl): add parameter to limit device max workgroup size
  modules/core/src/ocl.cpp
Labels: category: core, category: ocl

#13456 core: fix eigen2cv() - don't change fixed type of 'dst'
  modules/core/include/opencv2/core/eigen.hpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core

#13466 Added Turing to the _generations list.
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#13267 Python wrapper for detail
  modules/core/misc/python/pyopencv_rotationwarper.hpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_stitching.py
  modules/stitching/include/opencv2/stitching/detail/autocalib.hpp
  modules/stitching/include/opencv2/stitching/detail/blenders.hpp
  modules/stitching/include/opencv2/stitching/detail/camera.hpp
  modules/stitching/include/opencv2/stitching/detail/exposure_compensate.hpp
  modules/stitching/include/opencv2/stitching/detail/matchers.hpp
  modules/stitching/include/opencv2/stitching/detail/motion_estimators.hpp
  modules/stitching/include/opencv2/stitching/detail/seam_finders.hpp
  modules/stitching/include/opencv2/stitching/detail/timelapsers.hpp
  modules/stitching/include/opencv2/stitching/detail/util.hpp
  modules/stitching/include/opencv2/stitching/detail/warpers.hpp
  modules/stitching/include/opencv2/stitching/warpers.hpp
  modules/stitching/src/blenders.cpp
  modules/stitching/src/exposure_compensate.cpp
  modules/stitching/src/matchers.cpp
  modules/stitching/src/seam_finders.cpp
  modules/stitching/src/warpers.cpp
  samples/python/stitching_detailed.py
Labels: category: python bindings, category: stitching, feature

#13471 Try to fix "enum struct" wrapping for Java
  modules/features2d/misc/java/test/Features2dTest.java
  modules/java/generator/gen_java.py
  modules/python/src2/hdr_parser.py
  samples/java/tutorial_code/features2D/feature_flann_matcher/SURFFLANNMatchingDemo.java
  samples/java/tutorial_code/features2D/feature_homography/SURFFLANNMatchingHomographyDemo.java
Labels: bug, category: java bindings

#13480 GAPI OCL backend internal UMat size fix
  modules/gapi/src/backends/ocl/goclbackend.cpp
Labels: bug, category: g-api

#13478 Fixed medianBlur implementation for hi-resolution images
  modules/imgproc/src/median_blur.cpp
  modules/imgproc/test/test_filter.cpp
Labels: bug, category: imgproc

#13482 Fix python bindings without stitching module
  modules/core/misc/python/pyopencv_rotationwarper.hpp
  modules/python/src2/cv2.cpp
  modules/stitching/misc/python/pyopencv_stitching.hpp
Labels: bug, category: build/install, category: python bindings

#13484 videoio: Fix new frame size applying in v4l.
  modules/videoio/src/cap_v4l.cpp
Labels: bug, category: videoio(camera), platform: linux

#13489 dnn: add OpenVINO 2018R5 defines
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: category: dnn

#13488 videoio(v4l2): fix build due missing V4L2_CID_ISO_SENSITIVITY
  modules/videoio/src/cap_v4l.cpp
Labels: category: build/install, category: videoio(camera), platform: linux

#13435 cmake(java): add OPENCV_JAVA_SOURCE_VERSION / OPENCV_JAVA_TARGET_VERSION
  cmake/OpenCVDetectApacheAnt.cmake
  modules/java/jar/CMakeLists.txt
  modules/java/jar/build.xml.in
Labels: category: build/install, category: java bindings

#13499 objdetect(qrcode): don't process small/non-regular images
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#13487 videoio(test): test V4L frame size changing manual test
  modules/videoio/test/test_camera.cpp
Labels: category: videoio(camera), platform: linux, test

#13493 Fix dnn tests with Inference Engine R5
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn

#13507 imgproc: revert "Speedup filter2d by loop unrolling"
  modules/imgproc/src/filter.cpp
Labels: bug, category: imgproc

#13517 dnn: add Vulkan device check for BackendRegistry
  modules/dnn/src/dnn.cpp
Labels: bug, test

#13518 dnn: fixup missing vkcom/vulkan combination of backend/target in dnn …
  modules/dnn/test/test_common.hpp
Labels: bug, test

#13510 fix initial values bug for `pairwise_matches[xxx].confidence`
  modules/stitching/src/matchers.cpp
Labels: bug, category: stitching

#13451 Off-by-ones in windows/GDI window calculations
  modules/highgui/src/window_w32.cpp
Labels: category: highgui-gui, platform: win32

#13453 fix for #4990: correct calculation of image coordinates from window coordinates
  modules/highgui/src/window_w32.cpp
Labels: category: highgui-gui, platform: win32

#13422 Split videoio dependencies search
  CMakeLists.txt
  cmake/FindGstreamerWindows.cmake
  cmake/OpenCVDetectMediaSDK.cmake
  cmake/OpenCVFindIntelPerCSDK.cmake
  cmake/OpenCVFindLibRealsense.cmake
  cmake/OpenCVFindLibsVideo.cmake
  cmake/OpenCVFindOpenNI.cmake
  cmake/OpenCVFindOpenNI2.cmake
  cmake/OpenCVFindXimea.cmake
  cmake/OpenCVGenConfig.cmake
  cmake/OpenCVUtils.cmake
  cmake/templates/cvconfig.h.in
  doc/tutorials/videoio/intelperc.markdown
  modules/video/perf/opencl/perf_bgfg_knn.cpp
  modules/video/perf/opencl/perf_bgfg_mog2.cpp
  modules/video/perf/perf_bgfg_knn.cpp
  modules/video/perf/perf_bgfg_mog2.cpp
  modules/video/test/ocl/test_bgfg_mog2.cpp
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/detect_aravis.cmake
  modules/videoio/cmake/detect_avfoundation.cmake
  modules/videoio/cmake/detect_dc1394.cmake
  modules/videoio/cmake/detect_dshow.cmake
  modules/videoio/cmake/detect_ffmpeg.cmake
  modules/videoio/cmake/detect_gphoto.cmake
  modules/videoio/cmake/detect_gstreamer.cmake
  modules/videoio/cmake/detect_ios.cmake
  modules/videoio/cmake/detect_msdk.cmake
  modules/videoio/cmake/detect_msmf.cmake
  modules/videoio/cmake/detect_openni2.cmake
  modules/videoio/cmake/detect_pvapi.cmake
  modules/videoio/cmake/detect_realsense.cmake
  modules/videoio/cmake/detect_v4l.cmake
  modules/videoio/cmake/detect_ximea.cmake
  modules/videoio/cmake/detect_xine.cmake
  modules/videoio/cmake/init.cmake
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/perf/perf_input.cpp
  modules/videoio/perf/perf_output.cpp
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_dc1394.cpp
  modules/videoio/src/cap_dshow.cpp
  modules/videoio/src/cap_giganetix.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_intelperc.cpp
  modules/videoio/src/cap_intelperc.hpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/cap_openni.cpp
  modules/videoio/src/videoio_registry.cpp
  modules/videoio/test/test_video_io.cpp
  modules/world/CMakeLists.txt
Labels: category: build/install, category: videoio

#13520 dnn/Vulkan: fix GPU hang for heavy convolution tasks
  modules/dnn/src/dnn.cpp
  modules/dnn/src/vkcom/include/op_base.hpp
  modules/dnn/src/vkcom/include/op_conv.hpp
  modules/dnn/src/vkcom/shader/conv.comp
  modules/dnn/src/vkcom/shader/conv48.comp
  modules/dnn/src/vkcom/shader/conv48_spv.cpp
  modules/dnn/src/vkcom/shader/conv_spv.cpp
  modules/dnn/src/vkcom/shader/dw_conv.comp
  modules/dnn/src/vkcom/shader/dw_conv_spv.cpp
  modules/dnn/src/vkcom/shader/spv_shader.hpp
  modules/dnn/src/vkcom/src/op_base.cpp
  modules/dnn/src/vkcom/src/op_conv.cpp
Labels: category: dnn, optimization

#13534 Fixed standalone FFmpeg search with pkg-config
  modules/videoio/cmake/detect_ffmpeg.cmake
Labels: category: build/install, category: videoio

#13532 Channels exposure compensators
  modules/stitching/include/opencv2/stitching/detail/exposure_compensate.hpp
  modules/stitching/perf/perf_stich.cpp
  modules/stitching/src/exposure_compensate.cpp
Labels: category: stitching, feature
