Repository opencv/opencv, pull requests merged in 2018-04, with the labels that each got.

#11202 Protection to not run Eth config when USB camera is connected
  modules/videoio/src/cap_aravis.cpp
Labels: category: videoio

#11212 cleanup: biicode
  doc/tutorials/introduction/biicode/images/bii_lena.png
  doc/tutorials/introduction/biicode/images/biiapp.png
  doc/tutorials/introduction/biicode/images/biicode.png
  doc/tutorials/introduction/biicode/tutorial_biicode.markdown
  doc/tutorials/introduction/table_of_content_introduction.markdown
Labels: category: documentation

#11211 samples: avoid using of legacy code constructions in viz sample
  samples/cpp/tutorial_code/viz/histo3D.cpp
Labels: category: build/install, category: samples, category: viz

#11207 Add Python support for error message handlers.
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: category: python bindings, feature

#11224 core: fix AVX2 "min" implementation
  modules/core/src/arithm_simd.hpp
Labels: bug, category: core

#11235 cuda: eliminate part of build warnings
  modules/core/include/opencv2/core/cuda_types.hpp
  modules/core/src/cuda/gpu_mat.cu
  modules/core/src/cuda_host_mem.cpp
  modules/core/src/cuda_stream.cpp
  modules/cudaarithm/src/cuda/lut.cu
  modules/cudabgsegm/src/mog.cpp
  modules/cudabgsegm/src/mog2.cpp
  modules/cudacodec/src/cuvid_video_source.hpp
  modules/cudacodec/src/ffmpeg_video_source.hpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/src/video_source.hpp
  modules/cudalegacy/src/precomp.hpp
  modules/stitching/include/opencv2/stitching/detail/seam_finders.hpp
  modules/superres/src/optical_flow.cpp
  modules/videostab/include/opencv2/videostab/optical_flow.hpp
  modules/videostab/include/opencv2/videostab/wobble_suppression.hpp
  samples/gpu/CMakeLists.txt
  samples/gpu/opticalflow_nvidia_api.cpp
Labels: category: build/install, category: gpu (cuda)

#11200 android: refactor Android SDK detection
  CMakeLists.txt
  cmake/OpenCVUtils.cmake
  cmake/android/OpenCVDetectAndroidSDK.cmake
  cmake/android/android_ant_projects.cmake
  cmake/android/android_gradle_projects.cmake
  modules/java/android_sdk/CMakeLists.txt
Labels: category: android, category: build/install

#11237 cuda: refactor MemoryPool
  modules/core/src/cuda_stream.cpp
Labels: category: gpu (cuda)

#11260 Correct a mistake in {js,py}_table_of_contents_histograms.markdown
  doc/js_tutorials/js_imgproc/js_histograms/js_table_of_contents_histograms.markdown
  doc/py_tutorials/py_imgproc/py_histograms/py_table_of_contents_histograms.markdown
Labels: bug, category: documentation

#11265 Avoiding Divide By Zero Error
  samples/cpp/train_HOG.cpp
Labels: category: samples

#11230 Set translation in Viz3d::setViewerPose
  modules/viz/src/vizimpl.cpp
Labels: bug, category: viz

#11262 imgproc: don't call .unlock() on non-holded mutex in houghCircles()
  modules/imgproc/src/hough.cpp
Labels: bug, category: imgproc

#11254 MSMF-based VideoCapture reworked to use SourceReader
  modules/videoio/src/cap_msmf.cpp
Labels: category: videoio

#11245 cuda: drop samples for low-level CUDA API
  samples/gpu/CMakeLists.txt
  samples/gpu/driver_api_multi.cpp
  samples/gpu/driver_api_stereo_multi.cpp
Labels: category: build/install, category: gpu (cuda), category: samples

#11244 cuda: drop performance sample
  samples/gpu/CMakeLists.txt
  samples/gpu/performance/CMakeLists.txt
  samples/gpu/performance/performance.cpp
  samples/gpu/performance/performance.h
  samples/gpu/performance/tests.cpp
Labels: category: build/install, category: gpu (cuda), category: samples

#11243 cuda: WITH_CUDA=OFF by default (need to enable it explicitly if required)
  CMakeLists.txt
  cmake/OpenCVFindLibsPerf.cmake
  doc/py_tutorials/py_setup/py_setup_in_fedora/py_setup_in_fedora.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
  platforms/android/build_sdk.py
  platforms/js/build_js.py
  platforms/maven/opencv/pom.xml
Labels: category: build/install, category: gpu (cuda)

#11272 imgcodecs: exclude rle8.bmp from GDAL tests
  modules/imgcodecs/test/test_grfmt.cpp
Labels: category: imgcodecs, test

#11270 android: std::exception_ptr is not available on some platforms
  modules/core/src/parallel.cpp
Labels: bug, category: android, category: build/install

#11170 core: test-sample for FIXED_TYPE demonstration
  modules/core/test/test_misc.cpp
Labels: category: core

#11271 tbb: fix build warnings -Wshadow
  modules/core/src/parallel.cpp
Labels: category: build/install

#11276 cmake: update PDB installation
  3rdparty/protobuf/CMakeLists.txt
  cmake/OpenCVUtils.cmake
Labels: category: build/install

#11280 cmake: fix Ninja generator warning about pylintrc
  cmake/OpenCVPylint.cmake
Labels: category: build/install

#11282 build: fix MSVS build problems
  modules/imgproc/src/color_lab.cpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/cap_msmf.hpp
Labels: bug, category: build/install

#11294 Fix multiple inputs models from Intel's Model Optimizer
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_layers.cpp
Labels: bug, category: dnn

#11292 CUDA: fix CUDA build crash
  cmake/OpenCVDetectCUDA.cmake
  modules/core/include/opencv2/core/cuda/vec_math.hpp
  modules/cudev/test/CMakeLists.txt
Labels: category: build/install, category: gpu (cuda)

#10978 core: add "check" macros
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/check.hpp
  modules/core/src/check.cpp
  modules/core/src/system.cpp
  modules/core/test/test_misc.cpp
Labels: category: core, feature

#11297 core:ppc Several improvements on VSX(1)
  CMakeLists.txt
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: category: core, optimization

#11305 typo: not nVidia nor NVidia, but NVIDIA
  cmake/templates/cvconfig.h.in
  doc/tutorials/gpu/gpu-basics-similarity/gpu_basics_similarity.markdown
  modules/dnn/src/caffe/opencv-caffe.proto
  modules/imgproc/src/deriv.cpp
Labels: category: gpu (cuda)

#11306 OCL: improve OpenCL trace messages
  modules/core/src/ocl.cpp
Labels: category: core, category: ocl

#11317 imgproc(ipp): disable parallel GaussianBlur
  modules/core/include/opencv2/core/private.hpp
  modules/imgproc/src/smooth.cpp
Labels: category: imgproc

#11319 dnn(test): update error tolerance for RCNN/RFCN tests
  modules/dnn/test/test_caffe_importer.cpp
Labels: category: dnn, test

#11338 core: fix FP16 conversion with CV_DISABLE_OPTIMIZATION option
  cmake/OpenCVCompilerOptimizations.cmake
  modules/core/include/opencv2/core/cv_cpu_helper.h
  modules/core/src/convert.cpp
Labels: bug, category: build/install, category: core

#11309 add universal intrinsics for RGB2HLS_f
  modules/imgproc/src/color_hsv.cpp
Labels: category: imgproc, optimization

#11349 core: CV_Error is marked as 'noreturn'
  modules/core/include/opencv2/core/base.hpp
Labels: category: build/install

#11361 OCL: CL_MEM_USE_HOST_PTR workaround
  modules/core/src/ocl.cpp
  modules/core/src/umatrix.cpp
Labels: category: ocl

#11304 Issue 11242 (intrinsics v_extract...) branch 3.4, without C++11
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/test/test_intrin.cpp
Labels: category: core, optimization

#11362 Fuse deconvolution layer subgraphs from Keras
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn

#11369 Fix build with FFmpeg 4.0
  modules/highgui/src/cap_ffmpeg_impl.hpp
Labels: port/backport done

#11357 core: disable errors dump
  modules/core/src/system.cpp
Labels: category: core

#11375 build: unreachable code after CV_Error()
  modules/core/include/opencv2/core/private.cuda.hpp
  modules/core/src/cuda_gpu_mat.cpp
  modules/core/src/cuda_host_mem.cpp
  modules/core/src/cuda_info.cpp
  modules/core/src/cuda_stream.cpp
  modules/core/src/gl_core_3_1.cpp
  modules/core/src/opengl.cpp
  modules/stitching/src/blenders.cpp
  modules/stitching/src/timelapsers.cpp
  modules/stitching/src/warpers_cuda.cpp
  modules/superres/src/btv_l1_cuda.cpp
  modules/superres/src/frame_source.cpp
  modules/superres/src/optical_flow.cpp
  modules/videostab/src/global_motion.cpp
  modules/videostab/src/inpainting.cpp
Labels: category: build/install

#11376 core: CV_Error with set_terminate() on Windows
  modules/core/src/system.cpp
Labels: category: core

#11332 core(hal): improve v_select() SSE4.1+
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/perf/perf_mat.cpp
  modules/core/src/copy.cpp
  modules/core/test/test_intrin_utils.hpp
Labels: category: core, optimization

#11391 android: don't use relative paths to contrib modules
  platforms/android/build_sdk.py
Labels: category: android, category: build/install

#11392 core: drop cv::errorNoReturn()
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/base.hpp
  modules/core/src/check.cpp
  modules/core/src/opengl.cpp
  modules/core/src/persistence.cpp
  modules/core/src/system.cpp
  modules/dnn/include/opencv2/dnn/dnn.inl.hpp
  modules/highgui/src/window.cpp
Labels: category: core

#11395 imgproc: fix fixedpoint
  modules/imgproc/src/fixedpoint.inl.hpp
Labels: bug, category: build/install, category: imgproc, priority: high

#11404 core: fix Intel Compiler std::exception_ptr detection
  modules/core/src/parallel.cpp
Labels: bug, category: build/install, category: core

#11403 cmake: fix CPU_BASELINE_FINAL filling
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/checks/cpu_fp16.cpp
Labels: category: build/install

#11410 core: disabled IPP AVX512 normL1(a, b, mask)
  modules/core/src/norm.cpp
Labels: bug, category: core

#11401 Optimize MultiBandBlender to run faster
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/stitching/include/opencv2/stitching/detail/blenders.hpp
  modules/stitching/src/blenders.cpp
  modules/stitching/test/test_blenders.cuda.cpp
Labels: category: gpu (cuda), category: stitching

#11406 core: added MatSize::dims() method
  modules/core/include/opencv2/core/cvstd.inl.hpp
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/op_halide.cpp
Labels: category: core

#11420 cmake: update 'git describe' information
  CMakeLists.txt
  cmake/OpenCVUtils.cmake
Labels: category: build/install
