Repository opencv/opencv, pull requests merged in 2018-05, with the labels that each got.

#11421 Merge 3.4
  CMakeLists.txt
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVCompilerOptions.cmake
  cmake/OpenCVDetectCUDA.cmake
  cmake/OpenCVFindLibsVideo.cmake
  cmake/OpenCVFindProtobuf.cmake
  cmake/OpenCVUtils.cmake
  cmake/checks/cpu_fp16.cpp
  doc/tutorials/dnn/dnn_custom_layers/dnn_custom_layers.md
  doc/tutorials/dnn/images/lena_hed.jpg
  modules/core/include/opencv2/core/cvstd.inl.hpp
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/src/convert_scale.cpp
  modules/core/src/cuda_gpu_mat.cpp
  modules/core/src/norm.cpp
  modules/core/src/parallel.cpp
  modules/core/test/test_arithm.cpp
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/dnn/misc/python/pyopencv_dnn.hpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/op_halide.cpp
  modules/imgproc/src/clahe.cpp
  modules/imgproc/src/fixedpoint.inl.hpp
  modules/imgproc/src/opencl/clahe.cl
  modules/python/src2/cv2.cpp
  modules/stitching/include/opencv2/stitching/detail/blenders.hpp
  modules/stitching/src/blenders.cpp
  modules/stitching/test/test_blenders.cuda.cpp
  modules/videoio/CMakeLists.txt
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/cap_msmf.hpp
  modules/videoio/src/cap_openni2.cpp
  platforms/android/build_sdk.py
  samples/dnn/edge_detection.py
Labels: port/backport done

#11463 fix spelling error
  doc/tutorials/core/interoperability_with_OpenCV_1/interoperability_with_OpenCV_1.markdown
Labels: category: documentation

#11481 Fixes 11480 : allow to force the video codec used to read videos
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio, feature

#11483 cuda_canny : multi stream safety
  modules/cudafilters/src/cuda/column_filter.hpp
  modules/cudafilters/src/cuda/row_filter.hpp
  modules/cudaimgproc/src/canny.cpp
  modules/cudaimgproc/src/cuda/canny.cu
  modules/cudaimgproc/test/test_canny.cpp
Labels: bug, category: gpu (cuda)

#11476 cuda: fix build error of sample
  modules/stitching/include/opencv2/stitching/detail/blenders.hpp
Labels: bug, category: gpu (cuda), category: stitching

#11489 core: fix ARM intrinsincs (v_rotate_left<0>)
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/test/test_intrin.cpp
Labels: category: core

#11430 add universal intrinsics for HLS2RGB_f
  modules/imgproc/src/color_hsv.cpp
Labels: category: imgproc, optimization

#11418 add universal intrinsics for RGB2HSV_f
  modules/imgproc/src/color_hsv.cpp
Labels: category: imgproc, optimization

#11495 Merge 3.4
  doc/tutorials/core/interoperability_with_OpenCV_1/interoperability_with_OpenCV_1.markdown
  doc/tutorials/dnn/dnn_yolo/dnn_yolo.markdown
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/operations.hpp
  modules/core/test/test_intrin_utils.hpp
  modules/cudafilters/src/cuda/column_filter.hpp
  modules/cudafilters/src/cuda/row_filter.hpp
  modules/cudaimgproc/src/canny.cpp
  modules/cudaimgproc/src/cuda/canny.cu
  modules/cudaimgproc/test/test_canny.cpp
  modules/imgproc/src/color_hsv.cpp
  modules/photo/test/test_hdr.cpp
  modules/stitching/include/opencv2/stitching/detail/blenders.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/src/cap_qt.cpp
  samples/cpp/tutorial_code/dnn/custom_layers.cpp
  samples/dnn/object_detection.cpp
  samples/dnn/openpose.cpp
  samples/dnn/segmentation.cpp
Labels: port/backport done

#11498 Update py_meanshift.markdown
  doc/py_tutorials/py_video/py_meanshift/py_meanshift.markdown
Labels: category: documentation

#11502 ml: fix internal state when changing the impl in KNearest
  modules/ml/src/knearest.cpp
Labels: bug, category: ml

#11506 Clarify Euler angles convention in tutorial Real Time pose estimation of a textured object
  samples/cpp/tutorial_code/calib3d/real_time_pose_estimation/src/Utils.cpp
Labels: category: documentation, feature

#11526 cuda_meanStdDev : bug fix
  modules/cudaarithm/src/reductions.cpp
Labels: bug, category: gpu (cuda)

#11060 Thread-safe version of sparse function in cv::gpu::PyrLKOpticalFlow
  modules/gpu/include/opencv2/gpu/gpu.hpp
  modules/gpu/perf/perf_video.cpp
  modules/gpu/src/cuda/pyrlk.cu
  modules/gpu/src/pyrlk.cpp
  modules/gpu/test/test_optflow.cpp
Labels: category: gpu (cuda)

#11525 cuda: avoid unnecessary cudaStreamSynchronize() call
  modules/core/src/cuda_stream.cpp
Labels: category: gpu (cuda)

#11494 dnn: work around of the test failure of opencv_test_dnn
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn, category: ocl

#11516 features2d: remove deprecated java wrappers
  modules/features2d/misc/java/filelist
  modules/features2d/misc/java/gen_dict.json
  modules/features2d/misc/java/src/cpp/features2d_manual.hpp
  modules/features2d/misc/java/test/BruteForceHammingDescriptorMatcherTest.java
  modules/features2d/misc/java/test/BruteForceHammingLUTDescriptorMatcherTest.java
  modules/features2d/misc/java/test/FASTFeatureDetectorTest.java
  modules/features2d/misc/java/test/ORBDescriptorExtractorTest.java
Labels: category: features2d, category: java bindings

#11529 Add Java and Python code for morphology tutorial
  doc/tutorials/imgproc/erosion_dilatation/erosion_dilatation.markdown
  doc/tutorials/imgproc/erosion_dilatation/images/Morphology_1_Tutorial_Theory_Dilatation_2.png
  doc/tutorials/imgproc/erosion_dilatation/images/Morphology_1_Tutorial_Theory_Dilation.png
  doc/tutorials/imgproc/erosion_dilatation/images/Morphology_1_Tutorial_Theory_Erosion.png
  doc/tutorials/imgproc/erosion_dilatation/images/Morphology_1_Tutorial_Theory_Erosion_2.png
  doc/tutorials/imgproc/erosion_dilatation/images/Morphology_1_Tutorial_Theory_Original_Image.png
  doc/tutorials/imgproc/opening_closing_hats/images/Morphology_2_Tutorial_Theory_BlackHat.png
  doc/tutorials/imgproc/opening_closing_hats/images/Morphology_2_Tutorial_Theory_Closing.png
  doc/tutorials/imgproc/opening_closing_hats/images/Morphology_2_Tutorial_Theory_Closing_2.png
  doc/tutorials/imgproc/opening_closing_hats/images/Morphology_2_Tutorial_Theory_Gradient.png
  doc/tutorials/imgproc/opening_closing_hats/images/Morphology_2_Tutorial_Theory_Opening.png
  doc/tutorials/imgproc/opening_closing_hats/images/Morphology_2_Tutorial_Theory_Opening_2.png
  doc/tutorials/imgproc/opening_closing_hats/images/Morphology_2_Tutorial_Theory_TopHat.png
  doc/tutorials/imgproc/opening_closing_hats/opening_closing_hats.markdown
  samples/cpp/tutorial_code/ImgProc/Morphology_1.cpp
  samples/cpp/tutorial_code/ImgProc/Morphology_2.cpp
  samples/cpp/tutorial_code/ImgProc/Smoothing/Smoothing.cpp
  samples/java/tutorial_code/ImgProc/erosion_dilatation/MorphologyDemo1.java
  samples/java/tutorial_code/ImgProc/opening_closing_hats/MorphologyDemo2.java
  samples/python/tutorial_code/imgProc/erosion_dilatation/morphology_1.py
  samples/python/tutorial_code/imgProc/opening_closing_hats/morphology_2.py
Labels: category: documentation, feature

#11520 FFMPEG-based VideoCapture and VideoWriter backend changed to C++ interface
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/precomp.hpp
Labels: category: videoio

#11537 fix build warnings
  modules/dnn/src/dnn.cpp
  modules/stitching/src/blenders.cpp
Labels: category: build/install

#11550 cuda: fix the test failure of CUDA_Arithm/MeanStdDev
  modules/core/include/opencv2/core/private.cuda.hpp
Labels: bug, category: gpu (cuda)

#11555 videoio: fix lifetime management of data of input frames
  modules/videoio/src/cap_ffmpeg.cpp
Labels: bug, category: videoio

#11532 videoio: add rudimentary librealsense 1.x support
  CMakeLists.txt
  cmake/OpenCVFindLibRealsense.cmake
  cmake/OpenCVFindLibsVideo.cmake
  cmake/templates/cvconfig.h.in
  modules/videoio/CMakeLists.txt
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_librealsense.cpp
  modules/videoio/src/cap_librealsense.hpp
Labels: category: videoio, feature

#11543 Add Java and Python code for some imgproc tutorials
  doc/tutorials/imgproc/imgtrans/canny_detector/canny_detector.markdown
  doc/tutorials/imgproc/imgtrans/remap/remap.markdown
  doc/tutorials/imgproc/table_of_content_imgproc.markdown
  doc/tutorials/imgproc/threshold/threshold.markdown
  doc/tutorials/imgproc/threshold_inRange/images/Threshold_inRange_HSV_colorspace.jpg
  doc/tutorials/imgproc/threshold_inRange/images/Threshold_inRange_RGB_colorspace.jpg
  doc/tutorials/imgproc/threshold_inRange/threshold_inRange.markdown
  samples/cpp/tutorial_code/ImgProc/Threshold.cpp
  samples/cpp/tutorial_code/ImgProc/Threshold_inRange.cpp
  samples/cpp/tutorial_code/ImgTrans/CannyDetector_Demo.cpp
  samples/cpp/tutorial_code/ImgTrans/Remap_Demo.cpp
  samples/java/tutorial_code/ImgProc/threshold/Threshold.java
  samples/java/tutorial_code/ImgProc/threshold_inRange/ThresholdInRange.java
  samples/java/tutorial_code/ImgTrans/canny_detector/CannyDetectorDemo.java
  samples/java/tutorial_code/ImgTrans/remap/RemapDemo.java
  samples/python/tutorial_code/ImgTrans/canny_detector/CannyDetector_Demo.py
  samples/python/tutorial_code/ImgTrans/remap/Remap_Demo.py
  samples/python/tutorial_code/imgProc/threshold/threshold.py
  samples/python/tutorial_code/imgProc/threshold_inRange/threshold_inRange.py
Labels: category: documentation

#11563 dnn(text): update check threshols
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, test

#11558 cmake: filter NVCC compiler flags
  cmake/OpenCVDetectCUDA.cmake
Labels: bug, category: build/install, category: gpu (cuda)

#11417 imgcodecs cmake: the option to customize supported formats list
  CMakeLists.txt
  cmake/OpenCVFindLibsGrfmt.cmake
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/src/grfmt_hdr.cpp
  modules/imgcodecs/src/grfmt_hdr.hpp
  modules/imgcodecs/src/grfmt_pam.cpp
  modules/imgcodecs/src/grfmt_pam.hpp
  modules/imgcodecs/src/grfmt_pxm.cpp
  modules/imgcodecs/src/grfmt_pxm.hpp
  modules/imgcodecs/src/grfmt_sunras.cpp
  modules/imgcodecs/src/grfmt_sunras.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_grfmt.cpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: category: build/install, category: imgcodecs

#11564 ts: run.py passthrough --test_* args "as is"
  modules/ts/misc/run.py
Labels: test

#11572 NPP : NppStreamHandler fix
  modules/core/include/opencv2/core/private.cuda.hpp
Labels: bug, category: gpu (cuda)

#11573 GStreamer backend: fixed memory leak and version check
  modules/videoio/src/cap_gstreamer.cpp
Labels: bug, category: videoio

#11581 Bugfix to allow adjust3rdMatrix to be run
  modules/calib3d/src/calibration.cpp
Labels: bug, category: calib3d

#11108 Resolves #4303
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/perf/perf_houghcircles.cpp
  modules/imgproc/perf/perf_houghlines.cpp
  modules/imgproc/src/hough.cpp
  modules/imgproc/test/test_houghcircles.cpp
  modules/imgproc/test/test_houghlines.cpp
Labels: category: imgproc, feature

#11582 interactive-calibration: use empty() method instead of checking dimension size
  apps/interactive-calibration/frameProcessor.cpp
Labels: category: apps

#11580 Fix batch normalization fusion from TensorFlow's SSDs
  samples/dnn/tf_text_graph_ssd.py
Labels: bug, category: dnn

#11583 Add Java and Python code for some imgproc tutorials (2)
  doc/tutorials/imgproc/histograms/back_projection/back_projection.markdown
  doc/tutorials/imgproc/histograms/histogram_calculation/histogram_calculation.markdown
  doc/tutorials/imgproc/histograms/histogram_comparison/histogram_comparison.markdown
  doc/tutorials/imgproc/histograms/histogram_equalization/histogram_equalization.markdown
  doc/tutorials/imgproc/imgtrans/warp_affine/warp_affine.markdown
  doc/tutorials/imgproc/table_of_content_imgproc.markdown
  samples/cpp/tutorial_code/Histograms_Matching/EqualizeHist_Demo.cpp
  samples/cpp/tutorial_code/Histograms_Matching/calcBackProject_Demo1.cpp
  samples/cpp/tutorial_code/Histograms_Matching/calcBackProject_Demo2.cpp
  samples/cpp/tutorial_code/Histograms_Matching/calcHist_Demo.cpp
  samples/cpp/tutorial_code/Histograms_Matching/compareHist_Demo.cpp
  samples/cpp/tutorial_code/ImgTrans/Geometric_Transforms_Demo.cpp
  samples/java/tutorial_code/Histograms_Matching/back_projection/CalcBackProjectDemo1.java
  samples/java/tutorial_code/Histograms_Matching/back_projection/CalcBackProjectDemo2.java
  samples/java/tutorial_code/Histograms_Matching/histogram_calculation/CalcHistDemo.java
  samples/java/tutorial_code/Histograms_Matching/histogram_comparison/CompareHistDemo.java
  samples/java/tutorial_code/Histograms_Matching/histogram_equalization/EqualizeHistDemo.java
  samples/java/tutorial_code/ImgTrans/warp_affine/GeometricTransformsDemo.java
  samples/python/tutorial_code/Histograms_Matching/back_projection/calcBackProject_Demo1.py
  samples/python/tutorial_code/Histograms_Matching/back_projection/calcBackProject_Demo2.py
  samples/python/tutorial_code/Histograms_Matching/histogram_calculation/calcHist_Demo.py
  samples/python/tutorial_code/Histograms_Matching/histogram_comparison/compareHist_Demo.py
  samples/python/tutorial_code/Histograms_Matching/histogram_equalization/EqualizeHist_Demo.py
  samples/python/tutorial_code/ImgTrans/warp_affine/Geometric_Transforms_Demo.py
Labels: category: documentation, feature

#11396 MSMF VideoCapture backend C++ interface
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/precomp.hpp
Labels: category: video

#11592 Remove custom toBufferedImage Java code in Java tutorials
  samples/java/tutorial_code/ImgProc/erosion_dilatation/MorphologyDemo1.java
  samples/java/tutorial_code/ImgProc/opening_closing_hats/MorphologyDemo2.java
  samples/java/tutorial_code/ImgProc/tutorial_template_matching/MatchTemplateDemo.java
Labels: category: documentation, category: java bindings, category: samples

#11589 calib3d: chess board detector - avoid image modification by cvFindContours
  modules/calib3d/src/calibinit.cpp
Labels: bug, category: calib3d

#11590 calib3d: chess board - properly detect/handle iCntMaxima=0 case
  modules/calib3d/src/calibinit.cpp
Labels: bug, category: calib3d

#11591 calib3d: chess board - perform full range (with 0) histogram smooth
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d

#11605 build: workaround issues with C compilation mode
  modules/core/include/opencv2/core/cvdef.h
  modules/highgui/include/opencv2/highgui/highgui_c.h
Labels: category: build/install

#11607 Remove Shift deep learning layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/shift_layer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
Labels: category: dnn

#11598 Add Java and Python code for some features2d tutorials
  doc/opencv.bib
  doc/tutorials/features2d/feature_description/feature_description.markdown
  doc/tutorials/features2d/feature_detection/feature_detection.markdown
  doc/tutorials/features2d/feature_flann_matcher/feature_flann_matcher.markdown
  doc/tutorials/features2d/feature_flann_matcher/images/Feature_FlannMatcher_Lowe_ratio_test.png
  doc/tutorials/features2d/feature_flann_matcher/images/Feature_FlannMatcher_Result_ratio_test.jpg
  doc/tutorials/features2d/feature_homography/feature_homography.markdown
  doc/tutorials/features2d/feature_homography/images/Feature_Homography_Result.jpg
  doc/tutorials/features2d/table_of_content_features2d.markdown
  doc/tutorials/features2d/trackingmotion/corner_subpixeles/corner_subpixeles.markdown
  doc/tutorials/features2d/trackingmotion/corner_subpixels/corner_subpixels.markdown
  doc/tutorials/features2d/trackingmotion/corner_subpixels/images/Corner_Subpixels_Original_Image.jpg
  doc/tutorials/features2d/trackingmotion/corner_subpixels/images/Corner_Subpixels_Result.jpg
  doc/tutorials/features2d/trackingmotion/generic_corner_detector/generic_corner_detector.markdown
  doc/tutorials/features2d/trackingmotion/good_features_to_track/good_features_to_track.markdown
  doc/tutorials/features2d/trackingmotion/good_features_to_track/images/Feature_Detection_Result_a.jpg
  doc/tutorials/features2d/trackingmotion/good_features_to_track/images/Feature_Detection_Result_b.jpg
  doc/tutorials/features2d/trackingmotion/good_features_to_track/images/good_features_to_track_Shi_Tomasi.jpg
  doc/tutorials/features2d/trackingmotion/harris_detector/harris_detector.markdown
  samples/cpp/tutorial_code/TrackingMotion/cornerDetector_Demo.cpp
  samples/cpp/tutorial_code/TrackingMotion/cornerHarris_Demo.cpp
  samples/cpp/tutorial_code/TrackingMotion/cornerSubPix_Demo.cpp
  samples/cpp/tutorial_code/TrackingMotion/goodFeaturesToTrack_Demo.cpp
  samples/cpp/tutorial_code/features2D/feature_description/SURF_matching_Demo.cpp
  samples/cpp/tutorial_code/features2D/feature_detection/SURF_detection_Demo.cpp
  samples/cpp/tutorial_code/features2D/feature_flann_matcher/SURF_FLANN_matching_Demo.cpp
  samples/cpp/tutorial_code/features2D/feature_homography/SURF_FLANN_matching_homography_Demo.cpp
  samples/java/tutorial_code/TrackingMotion/corner_subpixels/CornerSubPixDemo.java
  samples/java/tutorial_code/TrackingMotion/generic_corner_detector/CornerDetectorDemo.java
  samples/java/tutorial_code/TrackingMotion/good_features_to_track/GoodFeaturesToTrackDemo.java
  samples/java/tutorial_code/TrackingMotion/harris_detector/CornerHarrisDemo.java
  samples/java/tutorial_code/features2D/feature_description/SURFMatchingDemo.java
  samples/java/tutorial_code/features2D/feature_detection/SURFDetectionDemo.java
  samples/java/tutorial_code/features2D/feature_flann_matcher/SURFFLANNMatchingDemo.java
  samples/java/tutorial_code/features2D/feature_homography/SURFFLANNMatchingHomographyDemo.java
  samples/python/tutorial_code/TrackingMotion/corner_subpixels/cornerSubPix_Demo.py
  samples/python/tutorial_code/TrackingMotion/generic_corner_detector/cornerDetector_Demo.py
  samples/python/tutorial_code/TrackingMotion/good_features_to_track/goodFeaturesToTrack_Demo.py
  samples/python/tutorial_code/TrackingMotion/harris_detector/cornerHarris_Demo.py
  samples/python/tutorial_code/features2D/feature_description/SURF_matching_Demo.py
  samples/python/tutorial_code/features2D/feature_detection/SURF_detection_Demo.py
  samples/python/tutorial_code/features2D/feature_flann_matcher/SURF_FLANN_matching_Demo.py
  samples/python/tutorial_code/features2D/feature_homography/SURF_FLANN_matching_homography_Demo.py
Labels: category: documentation, feature

#11617 videoio(ffmpeg): specify stream->time_base
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: bug, category: videoio

#11614 Fix dilated convolution from Keras
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn

#11557 dnn: relax intel only ocl4 dnn
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/opencl/mvn.cl
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn

#11618 videoio(ffmpeg): add option to enable debug logs
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio, feature

#11632 videoio: fix isOpened() method for legacy APIs, fix "index" API list
  modules/videoio/src/cap.cpp
  modules/videoio/src/videoio_registry.cpp
Labels: bug, category: videoio

#11633 videoio(V4L): don't pre-scan or cache list of available cameras
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio(camera)

#11534 Thread-safe version of sparse function in cv::gpu::PyrLKOpticalFlow 2
  modules/gpu/src/cuda/pyrlk.cu
  samples/gpu/pyrlk_optical_flow_multithreading.cpp
Labels: category: gpu (cuda), priority: low

#11639 build: fix missing precomp.hpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
Labels: bug, category: build/install

#11608 Resize histSize if IPP is enabled
  modules/imgproc/src/histogram.cpp
  modules/imgproc/test/test_histograms.cpp
Labels: bug, category: imgproc

#11640 (2.4) videoio(ffmpeg): specify stream->time_base
  modules/highgui/src/cap_ffmpeg_impl.hpp
  modules/highgui/test/test_ffmpeg.cpp
Labels: category: videoio, port/backport done

#11642 calib3d: cv::findContours() doesn't require to clone input
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d
