Repository opencv/opencv, pull requests merged in 2018-08, with the labels that each got.

#12106 Fixes typo in function name hal::warpPerspective.
  3rdparty/openvx/hal/openvx_hal.cpp
  3rdparty/openvx/hal/openvx_hal.hpp
  modules/imgproc/include/opencv2/imgproc/hal/hal.hpp
  modules/imgproc/src/hal_replacement.hpp
  modules/imgproc/src/imgwarp.cpp
Labels: bug, category: imgproc

#12129 feat(stitching): Add Sift support for the FeaturesFinder
  modules/stitching/include/opencv2/stitching/detail/matchers.hpp
  modules/stitching/src/matchers.cpp
  samples/cpp/stitching_detailed.cpp
Labels: category: stitching, feature

#12131 core(merge): fix SIMD loop head processing
  modules/core/src/merge.cpp
Labels: bug, category: core, optimization

#12123 Objdetect: QRCode detector: Refactor code and update functions
  modules/objdetect/src/qrcode.cpp
Labels: category: objdetect

#12120 core(test): intrinsic tests for all dispatched CPU optimizations
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVModule.cmake
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/test/test_intrin.avx2.cpp
  modules/core/test/test_intrin.cpp
  modules/core/test/test_intrin.fp16.cpp
  modules/core/test/test_intrin.simd.hpp
  modules/core/test/test_intrin128.simd.hpp
  modules/core/test/test_intrin256.simd.hpp
  modules/core/test/test_intrin_utils.hpp
  modules/core/test/test_precomp.hpp
Labels: category: build/install, category: core, test

#12093 Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: category: documentation, category: infrastructure

#12135 imgproc: update cornerSubPix documentation
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation, category: imgproc

#12097 Support WITH_CUDA with clang compiler.
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu (cuda)

#12134 videoio: added YUV420 format (UV order) support to v4l capture
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio(camera), feature, platform: linux

#12050 dnn(ocl): avoid memory access violation
  modules/dnn/src/opencl/conv_layer_spatial.cl
Labels: bug, category: dnn, category: ocl

#12121 Fix in SSE2 optimizations of types conversion routines (32s->16u)
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/src/convert.cpp
Labels: bug, category: core, optimization

#12130 MVN layer using Intel's Inference Engine backend
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#12162 core(intrin): avoid symbols duplication from SIMD128/256 cases
  modules/core/include/opencv2/core/hal/intrin.hpp
Labels: bug, category: core

#12166 videoio: check iterator in mjpeg_encoder.cpp
  modules/videoio/src/cap_mjpeg_decoder.cpp
Labels: bug, category: videoio

#12161 core: dump neighbour cache directories (from old OpenCV versions)
  modules/core/src/utils/filesystem.cpp
Labels: category: core

#12159 Update cap_gstreamer.cpp
  modules/videoio/src/cap_gstreamer.cpp
Labels: bug, category: videoio

#12171 core(test): extra tests/fixes for merge/split
  modules/core/src/merge.cpp
  modules/core/src/split.cpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core

#12169 photo: avoid resizing a const Mat in decolor()
  modules/photo/src/contrast_preserve.hpp
Labels: bug, category: photo

#12173 - Decolor corrections
  modules/photo/src/contrast_preserve.hpp
Labels: bug, category: photo

#12178 imgproc(cvtColor): temporary disable IPP for 8U GRAY2BGR mode
  modules/imgproc/src/color_rgb.cpp
Labels: bug, category: imgproc, optimization

#12179 (2.4) samples(gpu): fix build (invalid access to cvconfig.h from sample)
  samples/gpu/CMakeLists.txt
Labels: bug, category: build/install, category: gpu (cuda), category: samples

#12184 imgproc(cvtColor): slightly improve error messages
  modules/imgproc/src/color.cpp
  modules/imgproc/src/color.hpp
Labels: category: imgproc

#12174 core: cv::Range() ostream write operator
  modules/core/include/opencv2/core/cvstd.inl.hpp
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
Labels: category: core, category: dnn

#12128 Enable reshape-as-shape layer from TensorFlow
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn

#12191 Fix a Typo in the comment of asift.py
  samples/python/asift.py
Labels: bug, category: samples

#12192 Pfm
  CMakeLists.txt
  cmake/OpenCVFindLibsGrfmt.cmake
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/src/grfmt_pfm.cpp
  modules/imgcodecs/src/grfmt_pfm.hpp
  modules/imgcodecs/src/grfmts.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_grfmt.cpp
Labels: category: imgcodecs, feature

#12203 apps: fix interactive calibration
  apps/interactive-calibration/calibController.cpp
Labels: bug, category: apps

#12156 Support Python binding for CUDA functionalities
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/misc/python/pyopencv_core.hpp
  modules/cudabgsegm/CMakeLists.txt
  modules/cudafeatures2d/CMakeLists.txt
  modules/cudafilters/CMakeLists.txt
  modules/cudafilters/include/opencv2/cudafilters.hpp
  modules/cudaimgproc/CMakeLists.txt
  modules/cudaimgproc/include/opencv2/cudaimgproc.hpp
  modules/cudalegacy/src/cuda/NCVBroxOpticalFlow.cu
  modules/cudalegacy/test/NCVTest.hpp
  modules/cudalegacy/test/NCVTestSourceProvider.hpp
  modules/cudaobjdetect/CMakeLists.txt
  modules/cudaoptflow/CMakeLists.txt
  modules/cudastereo/CMakeLists.txt
  modules/cudawarping/CMakeLists.txt
  modules/python/bindings/CMakeLists.txt
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
  modules/python/test/test_cuda.py
Labels: category: gpu (cuda), category: python bindings, feature

#12228 doc: fix typo
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: bug, category: documentation

#12233 Fixed core headers installation in world builds
  modules/core/CMakeLists.txt
Labels: bug, category: build/install

#12220 Update seamless cloning
  modules/photo/src/seamless_cloning.cpp
  modules/photo/src/seamless_cloning.hpp
  modules/photo/src/seamless_cloning_impl.cpp
Labels: bug, category: photo

#12172 core: move const tables outside of dispatched code
  modules/core/src/mathfuncs.cpp
  modules/core/src/mathfuncs.hpp
  modules/core/src/mathfuncs_core.simd.hpp
Labels: category: core

#12232 Avoid multi-inheritance in the cuda::features2d classes
  modules/cudafeatures2d/include/opencv2/cudafeatures2d.hpp
  modules/cudafeatures2d/src/fast.cpp
  modules/cudafeatures2d/src/orb.cpp
Labels: category: build/install, category: gpu (cuda), category: python bindings, feature

#12240 fixed 64-float pfm auto conversion
  modules/imgcodecs/src/grfmt_pfm.cpp
Labels: category: imgcodecs

#12235 core(perf): fix addScalar test
  modules/core/perf/perf_arithm.cpp
Labels: category: core, test

#12254 fix a typo.
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#12255 fix an error in the formula for cv::cornerSubPix
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#12263 Add export macro for ios conversion functions
  modules/imgcodecs/include/opencv2/imgcodecs/ios.h
  modules/imgcodecs/src/ios_conversions.mm
Labels: bug, category: build/install, platform: ios/osx

#12219 core: repair CV_Assert() messages
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/cvdef.h
  modules/core/src/matmul.cpp
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/dnn/src/caffe/caffe_importer.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/crop_and_resize_layer.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/nms.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/src/torch/torch_importer.cpp
  modules/dnn/test/test_layers.cpp
  modules/highgui/src/window_w32.cpp
  samples/dnn/classification.cpp
  samples/dnn/custom_layers.hpp
  samples/dnn/segmentation.cpp
  samples/dnn/text_detection.cpp
Labels: category: core

#12256 core(intrin): restrict FP16 operations
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, category: build/install, category: core

#12262 cap-v4l: remove unwanted loop in V4L2 mainloop
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio

#12266 Fixed windows build with InferenceEngine
  modules/dnn/src/layers/normalize_bbox_layer.cpp
Labels: bug, category: build/install, category: dnn

#12248 video: remove duplicate RANSAC code
  modules/shape/CMakeLists.txt
  modules/shape/src/aff_trans.cpp
  modules/shape/src/precomp.hpp
  modules/video/CMakeLists.txt
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/include/opencv2/video/tracking_c.h
  modules/video/src/compat_video.cpp
  modules/video/src/lkpyramid.cpp
  modules/video/test/test_estimaterigid.cpp
Labels: category: calib3d, future

#12268 Fixes bug in `cuda::meanShiftSegmentation`
  modules/cudaimgproc/include/opencv2/cudaimgproc.hpp
  modules/cudaimgproc/src/mssegmentation.cpp
Labels: category: gpu (cuda), feature

#12272 build: fix build with defined CV_STATIC_ANALYSIS
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/cvdef.h
Labels: bug, category: build/install, category: core

#12275 dnn(build): fix CV_Assert() usage
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
Labels: bug, category: build/install, category: dnn

#12291 Closes #12281 - a bug in cuda::pow with negative base values
  modules/cudaarithm/src/cuda/math.cu
Labels: bug, category: gpu (cuda)

#12287 java: add a MatOfRotatedRect class
  modules/core/misc/java/src/java/core+MatOfRotatedRect.java
  modules/core/misc/java/test/RotatedRectTest.java
Labels: category: java bindings, feature

#12246 Move enums
  modules/core/include/opencv2/core.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/misc/java/test/ImgprocTest.java
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/CameraCalibrator.java
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/OnCameraFrameRender.java
  samples/android/mobilenet-objdetect/src/org/opencv/samples/opencv_mobilenet/MainActivity.java
  samples/java/tutorial_code/Histograms_Matching/back_projection/CalcBackProjectDemo1.java
  samples/java/tutorial_code/ImgProc/Smoothing/Smoothing.java
  samples/java/tutorial_code/ShapeDescriptors/find_contours/FindContoursDemo.java
  samples/java/tutorial_code/TrackingMotion/corner_subpixels/CornerSubPixDemo.java
  samples/java/tutorial_code/TrackingMotion/generic_corner_detector/CornerDetectorDemo.java
  samples/java/tutorial_code/TrackingMotion/good_features_to_track/GoodFeaturesToTrackDemo.java
  samples/java/tutorial_code/ml/introduction_to_pca/IntroductionToPCADemo.java
  samples/java/tutorial_code/ml/introduction_to_svm/IntroductionToSVMDemo.java
  samples/java/tutorial_code/ml/non_linear_svms/NonLinearSVMsDemo.java
Labels: category: imgproc, future

#12274 viz: call "mapper->Update()" before and after SetInputData()
  modules/viz/src/widget.cpp
Labels: bug, category: viz

#12295 cmake: WITH_GPHOTO2=OFF by default
  CMakeLists.txt
Labels: category: build/install, category: videoio

#12298 java: change MatOfRotatedRect to CV_32FC5
  modules/core/misc/java/src/java/core+MatOfRotatedRect.java
  modules/core/misc/java/test/RotatedRectTest.java
Labels: bug, category: java bindings

#12308 `CV_Assert`s changed
  modules/videoio/src/cap_xine.cpp
Labels: bug, category: build/install, category: videoio

#12306 python: add support for NMSBoxes(RotatedRect)
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/python/src2/cv2.cpp
Labels: category: dnn, category: python bindings, feature

#12313 related moved enums
  modules/imgproc/misc/java/gen_dict.json
  modules/imgproc/misc/java/test/ImgprocTest.java
  modules/photo/misc/java/test/PhotoTest.java
  modules/video/misc/java/test/BackgroundSubtractorMOGTest.java
Labels: category: core, category: imgproc, category: java bindings

#12323 android: NDK17 support
  platforms/android/build_sdk.py
  platforms/android/ndk-17.config.py
Labels: category: build/install, platform: android

#12319 Enable more deep learning tests using Intel's Inference Engine backend
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: bug, category: dnn, test

#12326 ts: don't pass NULL for std::string() constructor
  modules/ts/src/ts.cpp
Labels: bug, test

#12333 dnn: fix variance setting bug for PriorBoxLayer
  modules/dnn/src/layers/prior_box_layer.cpp
Labels: category: dnn

#12336 Fix lifetime of networks which are loaded from Model Optimizer IRs
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_ie_models.cpp
Labels: bug, category: dnn

#12332 Adds a small note describing BUILD_opencv_world
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation

#12345 java: fix LIST_GET macro
  modules/dnn/misc/java/test/DnnListRegressionTest.java
  modules/java/generator/src/cpp/opencv_java.hpp
Labels: bug, category: java bindings

#12327 Fix typo in distanceTransform
  modules/imgproc/src/distransform.cpp
Labels: bug, category: imgproc

#12346 Added option to fail on missing testdata
  modules/ts/src/ts.cpp
Labels: feature, test

#12351 Fixed that object_detection.py does not work in python3.
  samples/dnn/object_detection.py
Labels: bug, category: dnn, category: python bindings, category: samples

#12189 cleanup: IPP Async (IPP_A)
  cmake/OpenCVFindIPPAsync.cmake
  cmake/OpenCVFindLibsPerf.cmake
  cmake/templates/cvconfig.h.in
  doc/Doxyfile.in
  doc/tutorials/core/how_to_use_OpenCV_parallel_for_/how_to_use_OpenCV_parallel_for_.markdown
  doc/tutorials/core/how_to_use_ippa_conversion/how_to_use_ippa_conversion.markdown
  doc/tutorials/core/how_to_use_ippa_conversion/images/How_To_Use_IPPA_Result.jpg
  doc/tutorials/core/images/How_To_Use_IPPA.jpg
  doc/tutorials/core/interoperability_with_OpenCV_1/interoperability_with_OpenCV_1.markdown
  doc/tutorials/core/table_of_content_core.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
  modules/core/include/opencv2/core/ippasync.hpp
  modules/core/test/test_ippasync.cpp
  samples/cpp/CMakeLists.txt
  samples/cpp/tutorial_code/core/ippasync/ippasync_sample.cpp
Labels: category: build/install

#12360 imgcodecs: add null pointer check
  modules/imgcodecs/src/loadsave.cpp
Labels: bug, category: imgcodecs

#12348 Fix bug in Subdiv2D::getTriangleList
  modules/imgproc/misc/java/test/Subdiv2DTest.java
  modules/imgproc/src/subdivision2d.cpp
  modules/imgproc/test/test_subdivision2d.cpp
Labels: bug, category: imgproc

#12353 imgcodecs(webp): multiple fixes
  modules/imgcodecs/src/grfmt_webp.cpp
  modules/imgcodecs/src/grfmt_webp.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_webp.cpp
Labels: bug, category: imgcodecs

#12358 ml: fix adjusting K in KNearest
  modules/ml/src/knearest.cpp
  modules/ml/test/test_emknearestkmeans.cpp
Labels: bug, category: ml

#12361 build: fix js build (make video->calib3d dependency optional)
  modules/js/src/embindgen.py
  modules/video/CMakeLists.txt
  modules/video/src/lkpyramid.cpp
  platforms/js/build_js.py
Labels: bug, category: build/install, category: javascript (js)

#12073 Bit-exact GaussianBlur reworked to use wide intrinsics
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/imgproc/src/smooth.cpp
Labels: category: imgproc, optimization

#12215 doc: add new tutorial motion deblur filter
  doc/tutorials/imgproc/motion_deblur_filter/images/black_car.jpg
  doc/tutorials/imgproc/motion_deblur_filter/images/motion_original.jpg
  doc/tutorials/imgproc/motion_deblur_filter/images/motion_psf.png
  doc/tutorials/imgproc/motion_deblur_filter/images/white_car.jpg
  doc/tutorials/imgproc/motion_deblur_filter/motion_deblur_filter.markdown
  doc/tutorials/imgproc/table_of_content_imgproc.markdown
  samples/cpp/tutorial_code/ImgProc/motion_deblur_filter/motion_deblur_filter.cpp
Labels: category: documentation, category: samples
