Repository opencv/opencv, pull requests merged in 2018-11, with the labels that each got.

#13007 Fix #12970
  modules/calib3d/test/test_cameracalibration.cpp
Labels: bug, category: calib3d, test

#12989 Fix reading of black-and-white (thresholded) TIFF images
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: category: imgcodecs, feature

#13002 Add ONNX's padding import
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#13003 Detect cross-cutting frameworks before libraries so the latter can use them
  CMakeLists.txt
  cmake/OpenCVFindFrameworks.cmake
  cmake/OpenCVFindLibsPerf.cmake
Labels: bug, category: build/install

#10584 ffmpeg
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio, feature

#13033 videoio: fix build of standalone ffmpeg plugin
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: build/install, category: videoio

#13055 removed the old C API for Haar-based object detection
  modules/objdetect/include/opencv2/objdetect/objdetect_c.h
  modules/objdetect/src/cascadedetect.cpp
  modules/objdetect/src/haar.avx.cpp
  modules/objdetect/src/haar.cpp
  modules/objdetect/src/haar.hpp
  modules/objdetect/test/test_cascadeandhog.cpp
  modules/objdetect/test/test_precomp.hpp
Labels: category: objdetect

#12916 fix matchTemplate for imgproc module
  modules/imgproc/src/templmatch.cpp
Labels: bug, category: imgproc

#13053 highgui: fix broken waitKey() condition in window_w32
  modules/highgui/src/window_w32.cpp
Labels: bug, category: highgui-gui, platform: win32

#13041 docs: remove NULL strings from highgui.hpp
  modules/highgui/include/opencv2/highgui.hpp
Labels: bug, category: documentation, category: highgui-gui

#13032 Replaced strcpy_s, strcat_s for MinGW builds.
  modules/highgui/src/window_w32.cpp
Labels: bug, category: build/install, platform: other

#13040 docs: intro formatting update, minor cleanup
  doc/Doxyfile.in
  modules/core/doc/intro.markdown
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/utility.hpp
Labels: category: documentation

#13045 typo in kmeans doc
  modules/core/include/opencv2/core.hpp
Labels: category: core, category: documentation

#13010 Fix #12824
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#13005 samples(gpu): cleanup samples for legacy API
  samples/gpu/CMakeLists.txt
  samples/gpu/bgfg_segm.cpp
  samples/gpu/cascadeclassifier_nvidia_api.cpp
  samples/gpu/opticalflow_nvidia_api.cpp
Labels: category: build/install, category: gpu/cuda (contrib), category: samples

#13052 GAPI: Sobel 3x3 with FP32 input, v2
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
Labels: category: g-api, category: imgproc, test

#13023 medianBlur implementation update
  modules/imgproc/src/median_blur.cpp
  modules/imgproc/src/smooth.cpp
Labels: category: imgproc, optimization

#13036 java: add converters, tests for MatOfRotatedRect
  modules/java/generator/src/java/org/opencv/utils/Converters.java
  modules/java/test/android_test/src/org/opencv/test/OpenCVTestCase.java
  modules/java/test/common_test/src/org/opencv/test/utils/ConvertersTest.java
  modules/java/test/pure_test/src/org/opencv/test/OpenCVTestCase.java
Labels: category: java bindings, feature, test

#13006 cmake: introduce setup_vars scripts
  CMakeLists.txt
  cmake/OpenCVGenSetupVars.cmake
  cmake/OpenCVUtils.cmake
  cmake/templates/setup_vars_linux.sh.in
  cmake/templates/setup_vars_macosx.sh.in
  cmake/templates/setup_vars_win32.cmd.in
Labels: RFC, category: build/install, category: infrastructure, feature

#13026 superres: move to opencv_contrib
  modules/superres/CMakeLists.txt
  modules/superres/include/opencv2/superres.hpp
  modules/superres/include/opencv2/superres/optical_flow.hpp
  modules/superres/perf/perf_main.cpp
  modules/superres/perf/perf_precomp.hpp
  modules/superres/perf/perf_superres.cpp
  modules/superres/src/btv_l1.cpp
  modules/superres/src/btv_l1_cuda.cpp
  modules/superres/src/cuda/btv_l1_gpu.cu
  modules/superres/src/frame_source.cpp
  modules/superres/src/input_array_utility.cpp
  modules/superres/src/input_array_utility.hpp
  modules/superres/src/opencl/superres_btvl1.cl
  modules/superres/src/optical_flow.cpp
  modules/superres/src/precomp.hpp
  modules/superres/src/ring_buffer.hpp
  modules/superres/src/super_resolution.cpp
  modules/superres/test/test_main.cpp
  modules/superres/test/test_precomp.hpp
  modules/superres/test/test_superres.cpp
Labels: category: superres

#13001 G-API: Added Standalone.cmake
  modules/gapi/CMakeLists.txt
  modules/gapi/cmake/standalone.cmake
Labels: category: build/install, category: g-api

#13067 Fix integer overflow when accumulating timing values
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn

#13061 ffmpeg: update wrapper (4.1 - master)
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: videoio, platform: win32

#12897 cmake: OPENCV_GENERATE_PKGCONFIG
  CMakeLists.txt
Labels: category: build/install

#13037 cmake: OPENCV_FORCE_3RDPARTY_BUILD build flag
  CMakeLists.txt
Labels: category: build/install

#13043 videoio: backport "VideoCapture(int index, int apiPreference)" interface
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap.cpp
Labels: category: videoio, port/backport done

#13056 boxFilter implementation update
  modules/core/include/opencv2/core/utility.hpp
  modules/imgproc/src/box_filter.cpp
  modules/imgproc/src/smooth.cpp
Labels: category: imgproc, optimization

#13057 update drawing functions
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/drawing.cpp
Labels: category: imgproc

#12901 cmake: don't undefine passed options
  cmake/OpenCVUtils.cmake
Labels: category: build/install

#12064 core: Remove raw intrinsics from arithmetic operations
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/src/arithm.cpp
  modules/core/src/arithm.dispatch.cpp
  modules/core/src/arithm.simd.hpp
  modules/core/src/arithm_core.hpp
  modules/core/src/arithm_ipp.hpp
  modules/core/src/arithm_simd.hpp
  modules/core/src/precomp.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: category: core, optimization

#12454 Add support for changing fourcc and support mono formats (e.g. Y8, Y16) in DirectShow
  modules/videoio/src/cap_dshow.cpp
Labels: bug, category: videoio(camera), feature, platform: win32

#11680 videoio: deprecate Video for Windows (VFW)
  CMakeLists.txt
Labels: category: build/install, category: videoio

#13029 videostab: move to opencv_contrib
  modules/videostab/CMakeLists.txt
  modules/videostab/include/opencv2/videostab.hpp
  modules/videostab/include/opencv2/videostab/deblurring.hpp
  modules/videostab/include/opencv2/videostab/fast_marching.hpp
  modules/videostab/include/opencv2/videostab/fast_marching_inl.hpp
  modules/videostab/include/opencv2/videostab/frame_source.hpp
  modules/videostab/include/opencv2/videostab/global_motion.hpp
  modules/videostab/include/opencv2/videostab/inpainting.hpp
  modules/videostab/include/opencv2/videostab/log.hpp
  modules/videostab/include/opencv2/videostab/motion_core.hpp
  modules/videostab/include/opencv2/videostab/motion_stabilizing.hpp
  modules/videostab/include/opencv2/videostab/optical_flow.hpp
  modules/videostab/include/opencv2/videostab/outlier_rejection.hpp
  modules/videostab/include/opencv2/videostab/ring_buffer.hpp
  modules/videostab/include/opencv2/videostab/stabilizer.hpp
  modules/videostab/include/opencv2/videostab/wobble_suppression.hpp
  modules/videostab/src/clp.hpp
  modules/videostab/src/cuda/global_motion.cu
  modules/videostab/src/deblurring.cpp
  modules/videostab/src/fast_marching.cpp
  modules/videostab/src/frame_source.cpp
  modules/videostab/src/global_motion.cpp
  modules/videostab/src/inpainting.cpp
  modules/videostab/src/log.cpp
  modules/videostab/src/motion_stabilizing.cpp
  modules/videostab/src/optical_flow.cpp
  modules/videostab/src/outlier_rejection.cpp
  modules/videostab/src/precomp.hpp
  modules/videostab/src/stabilizer.cpp
  modules/videostab/src/wobble_suppression.cpp
  modules/videostab/test/test_main.cpp
  modules/videostab/test/test_motion_estimation.cpp
  modules/videostab/test/test_precomp.hpp
  samples/cpp/CMakeLists.txt
  samples/cpp/videostab.cpp
Labels: category: videostab

#13073 highgui: drop obsolete Carbon API
  CMakeLists.txt
  cmake/OpenCVFindLibsGUI.cmake
  cmake/templates/cvconfig.h.in
  modules/highgui/CMakeLists.txt
  modules/highgui/src/precomp.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_carbon.cpp
  modules/highgui/test/test_gui.cpp
Labels: category: build/install, category: highgui-gui

#13074 videoio: drop obsolete backends
  CMakeLists.txt
  cmake/OpenCVFindLibsVideo.cmake
  cmake/checks/vfwtest.cpp
  cmake/templates/cvconfig.h.in
  modules/videoio/CMakeLists.txt
  modules/videoio/doc/videoio_overview.markdown
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/perf/perf_output.cpp
  modules/videoio/src/cap_cmu.cpp
  modules/videoio/src/cap_qt.cpp
  modules/videoio/src/cap_qtkit.mm
  modules/videoio/src/cap_unicap.cpp
  modules/videoio/src/cap_vfw.cpp
  modules/videoio/src/precomp.hpp
  modules/videoio/src/videoio_registry.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: build/install, category: videoio

#13076 samples: fix digits_video.py
  samples/python/digits_video.py
Labels: bug, category: python bindings, category: samples

#13065 Update text graphs generator for Faster-RCNN networks from TensorFlow
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/test/test_tf_importer.cpp
  samples/dnn/tf_text_graph_faster_rcnn.py
Labels: bug, category: dnn

#13060 removed C API in the following modules: photo, video, imgcodecs, videoio
  modules/highgui/include/opencv2/highgui/highgui_c.h
  modules/highgui/src/precomp.hpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_cocoa.mm
  modules/highgui/src/window_gtk.cpp
  modules/highgui/src/window_w32.cpp
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/include/opencv2/imgcodecs/imgcodecs_c.h
  modules/imgcodecs/src/grfmt_base.cpp
  modules/imgcodecs/src/grfmt_bmp.cpp
  modules/imgcodecs/src/grfmt_bmp.hpp
  modules/imgcodecs/src/grfmt_jpeg.cpp
  modules/imgcodecs/src/grfmt_pam.cpp
  modules/imgcodecs/src/grfmt_pxm.cpp
  modules/imgcodecs/src/grfmt_sunras.cpp
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/src/precomp.hpp
  modules/imgcodecs/src/utils.cpp
  modules/imgcodecs/src/utils.hpp
  modules/imgproc/src/color.cpp
  modules/photo/include/opencv2/photo.hpp
  modules/photo/include/opencv2/photo/photo_c.h
  modules/photo/src/inpaint.cpp
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/include/opencv2/video/tracking_c.h
  modules/video/src/compat_video.cpp
  modules/video/test/test_camshift.cpp
  modules/video/test/test_kalman.cpp
  modules/video/test/test_optflowpyrlk.cpp
  modules/videoio/src/cap_dc1394_v2.cpp
  modules/videoio/src/cap_images.cpp
  modules/videoio/src/precomp.hpp
  modules/videoio/src/videoio_registry.cpp
Labels: category: build/install

#13080 core: fix processing of vector-rows
  modules/core/src/arithm.cpp
  modules/core/src/convert.cpp
  modules/core/src/convert_scale.cpp
  modules/core/src/copy.cpp
  modules/core/src/precomp.hpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core

#13085 significantly reduced OpenCV binary size by disabling IPP in some funcs
  modules/core/src/matrix_operations.cpp
  modules/core/src/mean.cpp
  modules/core/src/minmax.cpp
  modules/core/src/sum.cpp
  modules/imgproc/src/corner.cpp
  modules/imgproc/src/deriv.cpp
  modules/imgproc/src/filter.cpp
  modules/imgproc/src/median_blur.cpp
  modules/imgproc/src/morph.cpp
  modules/imgproc/src/smooth.cpp
Labels: category: build/install

#13084 moved DIS optical flow from opencv_contrib to opencv, moved TVL1 in the opposite direction
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/perf/opencl/perf_dis_optflow.cpp
  modules/video/perf/opencl/perf_optflow_dualTVL1.cpp
  modules/video/perf/perf_disflow.cpp
  modules/video/perf/perf_precomp.hpp
  modules/video/perf/perf_tvl1optflow.cpp
  modules/video/perf/perf_variational_refinement.cpp
  modules/video/src/dis_flow.cpp
  modules/video/src/opencl/dis_flow.cl
  modules/video/src/opencl/optical_flow_tvl1.cl
  modules/video/src/optical_flow_io.cpp
  modules/video/src/tvl1flow.cpp
  modules/video/src/variational_refinement.cpp
  modules/video/test/ocl/test_dis.cpp
  modules/video/test/ocl/test_optflow_tvl1flow.cpp
  modules/video/test/test_OF_accuracy.cpp
  modules/video/test/test_OF_reproducibility.cpp
  modules/video/test/test_precomp.hpp
  modules/video/test/test_tvl1optflow.cpp
  samples/cpp/dis_opticalflow.cpp
  samples/cpp/tvl1_optical_flow.cpp
  samples/python/dis_opt_flow.py
  samples/tapi/dense_optical_flow.cpp
Labels: category: contrib, category: video

#13094 OCL: core: run "reduce" kernels in synchronous mode
  modules/core/src/sum.cpp
  modules/core/src/umatrix.cpp
Labels: category: core, category: ocl

#11935 Support for Matx read/write by FileStorage
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/test/test_io.cpp
Labels: RFC, category: core, test

#12962 videoio: add manual white-balance and implement it for V4L2
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio(camera), feature

#13024 G-API: Fixed unitialized mat in LUT test
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/gapi_scalar_tests.cpp
  modules/gapi/test/internal/gapi_int_recompilation_test.cpp
Labels: bug, category: g-api, test

#13072 Fixed pendantic warning
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/mat.hpp
  modules/features2d/include/opencv2/features2d.hpp
Labels: category: build/install

#13103 docs: fix links
  doc/tutorials/core/how_to_scan_images/how_to_scan_images.markdown
Labels: category: documentation

#13097 (3.4) refined QRCodeDetector API for OpenCV 4.0
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/perf/perf_qrcode_pipeline.cpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
  samples/cpp/live_detect_qrcode.cpp
Labels: category: build/install, category: objdetect

#12827 [evolution] Stitching for OpenCV 4.0
  modules/features2d/src/feature2d.cpp
  modules/python/test/test_stitching.py
  modules/stitching/include/opencv2/stitching.hpp
  modules/stitching/include/opencv2/stitching/detail/matchers.hpp
  modules/stitching/misc/python/pyopencv_stitching.hpp
  modules/stitching/perf/opencl/perf_stitch.cpp
  modules/stitching/perf/perf_estimators.cpp
  modules/stitching/perf/perf_matchers.cpp
  modules/stitching/perf/perf_precomp.hpp
  modules/stitching/perf/perf_stich.cpp
  modules/stitching/src/matchers.cpp
  modules/stitching/src/precomp.hpp
  modules/stitching/src/stitcher.cpp
  modules/stitching/test/test_matchers.cpp
  modules/stitching/test/test_precomp.hpp
  samples/cpp/stitching.cpp
  samples/cpp/stitching_detailed.cpp
  samples/python/stitching.py
Labels: category: stitching, future

#13102 core: rework getContinuousSize() for vector-col/row support
  modules/core/src/arithm.cpp
  modules/core/src/convert.cpp
  modules/core/src/convert_scale.cpp
  modules/core/src/copy.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/matrix.cpp
  modules/core/src/precomp.hpp
Labels: bug, category: core

#13107 core(test): extend divideByZero test
  modules/core/test/test_arithm.cpp
Labels: category: core, test

#12896 cmake: OPENCV_GENERATE_PKGCONFIG
  CMakeLists.txt
Labels: category: build/install

#13128 (3.4) cmake: fix supporting of legacy flags
  cmake/OpenCVCompilerOptimizations.cmake
Labels: bug, category: build/install, platform: android, platform: arm

#13112 fix coverity reports
  modules/dnn/src/dnn.cpp
  modules/videoio/src/cap_v4l.cpp
Labels: category: build/install

#13125 Add a test for FileNode::keys()
  modules/core/src/persistence_cpp.cpp
  modules/core/test/test_io.cpp
Labels: category: core, test

#13115 Fix missing intrin.hpp header in dis_flow.cpp
  modules/video/src/dis_flow.cpp
  modules/video/src/variational_refinement.cpp
Labels: bug, category: video

#13123 Add FileNode::keys() missed during refactoring
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#13126 videoio: remove cap_libv4l in favour of cap_v4l
  CMakeLists.txt
  cmake/OpenCVFindLibsVideo.cmake
  cmake/templates/cvconfig.h.in
  doc/py_tutorials/py_setup/py_setup_in_fedora/py_setup_in_fedora.markdown
  doc/py_tutorials/py_setup/py_setup_in_ubuntu/py_setup_in_ubuntu.markdown
  modules/videoio/CMakeLists.txt
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_dc1394.cpp
  modules/videoio/src/cap_libv4l.cpp
  modules/videoio/src/videoio_registry.cpp
Labels: category: build/install, category: videoio(camera), platform: linux

#13127 cmake: fix Android features detection
  CMakeLists.txt
Labels: bug, category: build/install, platform: android

#13137 videoio(v4l): turn off normalization of V4L properties
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio(camera), platform: linux

#13124 stitching(test): workaround ParallelFeaturesFinder.IsSameWithSerial
  modules/stitching/test/test_matchers.cpp
Labels: category: stitching, test

#13140 build: fix version 3->4
  cmake/OpenCVGenSetupVars.cmake
  cmake/OpenCVPackaging.cmake
Labels: category: build/install

#13070 GAPI (fluid): optimization of Sobel 3x3
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/own/saturate.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
Labels: category: g-api, optimization

#13133 GAPI (fluid): Sobel 3x3 optimization: CV_SIMD dynamic dispatching
  modules/gapi/CMakeLists.txt
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, feature, optimization

#13150 Update ADE to version 0.1.1d
  modules/gapi/cmake/DownloadADE.cmake
Labels: category: build/install, category: g-api

#13152 doc(tutorial_py_fourier_transform): Correct errors in tutorial
  doc/py_tutorials/py_imgproc/py_transforms/py_fourier_transform/py_fourier_transform.markdown
Labels: category: documentation, category: python bindings

#13157 GAPI (fluid): Sobel 3x3 optimization: remove needless file
  modules/gapi/src/backends/fluid/gfluidimgproc_func.cpp
Labels: category: g-api

#13160 Fix a bug with OpenVINO backend
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn

#13096 G-API: update tests checks
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/perf/gpu/gapi_imgproc_perf_tests_gpu.cpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
  modules/gapi/test/cpu/gapi_operators_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_operators_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_operators_tests_gpu.cpp
Labels: category: g-api, test

#13166 Fix batch_norm_layer intrinsics code
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
Labels: bug, category: build/install, category: dnn

#13164 imgproc(ocl): fix morph generic filter checks
  modules/imgproc/src/morph.cpp
  modules/imgproc/test/ocl/test_filters.cpp
Labels: bug, category: imgproc, category: ocl

#13173 Fix Vulkan's max pooling in case of no output indices
  modules/dnn/src/vkcom/src/op_pool.cpp
Labels: bug, category: dnn

#13162 GAPI (fluid): RGB/BGR to gray: optimization
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, optimization

#13175 Fixed use of model.load instances in letter_recog.py
  samples/python/letter_recog.py
Labels: bug, category: python bindings, category: samples

#13168 dnn: reduce disabled warnings
  doc/Doxyfile.in
  modules/core/include/opencv2/core/cvdef.h
  modules/core/src/matmul.cpp
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/include/opencv2/dnn/dict.hpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/caffe/caffe_io.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/crop_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/src/tensorflow/tf_io.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_misc.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_precomp.hpp
  modules/dnn/test/test_tf_importer.cpp
  modules/python/src2/hdr_parser.py
Labels: category: build/install, category: dnn

#13151 videoio: drop VideoCaptureModes enum in favour of fourcc
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/include/opencv2/videoio/videoio_c.h
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_msmf.cpp
Labels: category: videoio(camera)

#12913 Extra hyperparameters for Intel's Inference Engine layers
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/crop_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: bug, category: dnn, feature, optimization

#12977 python: bindings loader package
  CMakeLists.txt
  cmake/OpenCVGenSetupVars.cmake
  modules/python/CMakeLists.txt
  modules/python/bindings/CMakeLists.txt
  modules/python/common.cmake
  modules/python/package/.gitignore
  modules/python/package/cv2/__init__.py
  modules/python/package/cv2/load_config_py2.py
  modules/python/package/cv2/load_config_py3.py
  modules/python/package/setup.py
  modules/python/package/template/config-x.y.py.in
  modules/python/package/template/config.py.in
  modules/python/python_loader.cmake
Labels: category: build/install, category: python bindings, feature

#13177 win32: update scripts
  cmake/templates/setup_vars_win32.cmd.in
  samples/_winpack_build_sample.cmd
  samples/_winpack_run_python_sample.cmd
  samples/python/_run_winpack_demo.cmd
  samples/python/_run_winpack_demo_python27.cmd
Labels: category: build/install, category: samples, platform: win32

#13178 samples(python): fix video parameters
  samples/python/video.py
Labels: bug, category: python bindings, category: samples, platform: win32

#13131 DNN: Add support for ConvTranspose when parsing ONNX
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#13184 highgui: Qt - restore convertscale semantics
  modules/highgui/src/window_QT.cpp
Labels: bug, category: highgui-gui

#13183 carotene: fix test failure of ColorCvtRGB2Gray
  3rdparty/carotene/src/colorconvert.cpp
Labels: bug, category: imgproc, platform: arm

#13176 G-API: Doxygen class reference
  modules/gapi/include/opencv2/gapi.hpp
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gcompiled.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gpu/ggpukernel.hpp
  modules/gapi/include/opencv2/gapi/gscalar.hpp
  modules/gapi/samples/api_ref_snippets.cpp
Labels: category: documentation, category: g-api

#13188 samples: rename
  doc/tutorials/videoio/intelperc.markdown
  doc/tutorials/videoio/kinect_openni.markdown
  samples/cpp/imagelist_reader.cpp
  samples/cpp/qrcode.cpp
  samples/cpp/videocapture_gphoto2_autofocus.cpp
  samples/cpp/videocapture_gstreamer_pipeline.cpp
  samples/cpp/videocapture_image_sequence.cpp
  samples/cpp/videocapture_intelperc.cpp
  samples/cpp/videocapture_openni.cpp
Labels: category: build/install

#13189 cmake: emit warnings about unsupported options if turned ON only
  cmake/OpenCVUtils.cmake
Labels: category: build/install

#13193 core: move dims() check to the top in copyMakeBorder()
  modules/core/src/copy.cpp
Labels: bug, category: core

#13192 core: fix issues from valgrind builder
  modules/core/src/utils/filesystem.cpp
  platforms/scripts/valgrind.supp
Labels: bug, category: core

#13195 move legacy C-API constants into separate files
  doc/Doxyfile.in
  modules/features2d/misc/java/test/Features2dTest.java
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/include/opencv2/imgcodecs/imgcodecs_c.h
  modules/imgcodecs/include/opencv2/imgcodecs/legacy/constants_c.h
  modules/imgcodecs/src/precomp.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/java/generator/gen_java.py
  modules/photo/include/opencv2/photo.hpp
  modules/photo/include/opencv2/photo/legacy/constants_c.h
  modules/photo/src/inpaint.cpp
  modules/python/bindings/CMakeLists.txt
  modules/video/include/opencv2/video/legacy/constants_c.h
  modules/video/include/opencv2/video/tracking.hpp
  modules/videoio/include/opencv2/videoio/legacy/constants_c.h
  modules/videoio/include/opencv2/videoio/videoio_c.h
  modules/videoio/src/cap_gphoto2.cpp
  modules/videoio/src/cap_images.cpp
  modules/videoio/src/cap_mjpeg_decoder.cpp
  modules/videoio/src/precomp.hpp
Labels: category: build/install

#13174 GAPI (fluid): RGB to YUV optimization
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, optimization

#13206 GAPI (fluid): RGB to Lab optimization
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
Labels: category: g-api, optimization

#13144 Update Mask-RCNN networks generator
  samples/dnn/tf_text_graph_mask_rcnn.py
Labels: category: dnn

#13181 Initial support of FPGA target from Intel's OpenVINO toolkit
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_misc.cpp
Labels: category: dnn, feature

#13213 dnn: fix format
  modules/dnn/src/layers/blank_layer.cpp
Labels: bug, category: build/install, category: dnn

#13214 core: fixed operator- for Rect
  modules/core/include/opencv2/core/types.hpp
  modules/core/test/test_operations.cpp
Labels: category: core, feature

#13223 Resolve #13219: Make randomly generated colours opaque.
  modules/features2d/src/draw.cpp
Labels: category: features2d

#13232 fix numThreadsMax for OpenMP
  modules/core/src/parallel.cpp
Labels: bug, category: core

#13209 cmake: don't generate dllmain for cudev module
  cmake/OpenCVModule.cmake
Labels: bug, category: build/install, category: gpu/cuda (contrib)

#13235 highgui: restore convertscale semantics in window_w32.cpp
  modules/highgui/src/window_w32.cpp
Labels: category: highgui-gui

#13236 highgui: add missing API cvGetPropVisible_W32
  modules/highgui/src/precomp.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_w32.cpp
Labels: category: highgui-gui, feature, platform: win32

#13239 Fixed build on FreeBSD
  modules/core/src/utils/filesystem.cpp
Labels: bug, category: build/install, platform: other

#13241 updated documentation for imread and imwrite (added pfm image format)
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation, category: imgcodecs

#13243 Fix missing check part (defined(__cplusplus)) in header types_c.h
  modules/core/include/opencv2/core/types_c.h
Labels: bug, category: build/install

#13244 dnn/Vulkan: don't init Vulkan runtime if using other backend/target
  modules/dnn/src/dnn.cpp
  modules/dnn/src/vkcom/include/op_base.hpp
  modules/dnn/src/vkcom/include/vkcom.hpp
  modules/dnn/src/vkcom/src/buffer.cpp
  modules/dnn/src/vkcom/src/common.hpp
  modules/dnn/src/vkcom/src/context.cpp
  modules/dnn/src/vkcom/src/context.hpp
  modules/dnn/src/vkcom/src/op_base.cpp
  modules/dnn/src/vkcom/src/tensor.cpp
  modules/dnn/src/vkcom/src/vkcom.cpp
  modules/dnn/src/vkcom/vulkan/vk_loader.hpp
Labels: category: dnn

#13120 Custom OpenCL G-API kernel example.
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/gapi_gpu_test.cpp
  modules/gapi/test/opencl_kernels_test_gapi.hpp
Labels: category: g-api, category: ocl

#13253 cmake: install "legacy/constants_c.h" compatibility headers
  cmake/OpenCVModule.cmake
  modules/imgcodecs/CMakeLists.txt
  modules/videoio/CMakeLists.txt
  samples/cpp/tutorial_code/compatibility/compatibility_test.cpp
Labels: bug, category: build/install

#13260 cmake: allow to disable ADE build
  modules/gapi/cmake/init.cmake
Labels: category: build/install, category: g-api

#13263 Fix ONNX's emotion_ferplus model.
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_backends.cpp
Labels: bug, category: dnn

#13265 androidcamera: add a missing header.
  modules/androidcamera/src/camera_activity.cpp
Labels: affected: 2.4, category: build/install, platform: android

#13275 dnn/Vulkan: make thread safe
  modules/dnn/src/vkcom/src/common.hpp
  modules/dnn/src/vkcom/src/context.cpp
  modules/dnn/src/vkcom/src/op_base.cpp
Labels: category: dnn

#13278 Fixed NEON detection in Carotene build
  3rdparty/carotene/hal/CMakeLists.txt
Labels: bug, category: build/install, platform: android, platform: arm

#13279 Fixed NEON detection in Carotene build (port from master)
  3rdparty/carotene/hal/CMakeLists.txt
Labels: bug, category: build/install, platform: android, platform: arm

#13228 Add URLs, harmonise formatting, and fix parse error in bibliography
  doc/opencv.bib
Labels: bug, category: documentation

#13221 GAPI (fluid): optimization of Separable filter
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, optimization

#13251 More fixes for G-API tests
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/perf/gpu/gapi_imgproc_perf_tests_gpu.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
Labels: category: g-api, test

#13292 Made FileNode::operator string inline
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence.cpp
Labels: category: build/install, category: core

#13301 build: eliminate warnings
  modules/imgproc/src/median_blur.cpp
Labels: category: build/install

#13294 Added anonymous namespace to perf_contours
  modules/imgproc/perf/perf_contours.cpp
Labels: category: imgproc, test

#13298 Fixed misleading indentation warning in intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
Labels: category: build/install

#13290 GAPI (fluid): Filter 2D optimization
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, optimization

#13315 GAPI (fluid): Erode/Dilate optimization
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, optimization

#13319 GAPI (fluid): Erode/Dilate optimization, part 2
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, optimization

#13322 Add ability to specify iPhoneSimulator build ARCHS
  platforms/ios/build_framework.py
Labels: category: build/install, platform: ios/osx

#13320 opencv 4.0: fix abi-checker (to enable API/source checks only)
  cmake/OpenCVGenABI.cmake
  cmake/templates/opencv_abi.xml.in
Labels: category: build/install

#13264 Restored function to rescale pixel values before imshow
  modules/highgui/src/precomp.hpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_cocoa.mm
  modules/highgui/src/window_gtk.cpp
  modules/highgui/src/window_w32.cpp
  modules/highgui/test/test_gui.cpp
Labels: bug, category: highgui-gui

#13327 QRcode seg. faults
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#13323 imgproc: local "CV_Assert(totalSampleCount > 0)" check
  modules/imgproc/src/grabcut.cpp
Labels: bug, category: imgproc

#13329 GAPI (fluid): Median blur optimization
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api, optimization

#13331 G-API gpu backend renaming patch
  modules/gapi/include/opencv2/gapi/gpu/ggpukernel.hpp
  modules/gapi/include/opencv2/gapi/ocl/core.hpp
  modules/gapi/include/opencv2/gapi/ocl/imgproc.hpp
Labels: category: g-api

#13317 hal::norm update
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/perf/perf_norm.cpp
  modules/core/src/norm.cpp
  modules/ts/include/opencv2/ts.hpp
Labels: category: core, optimization

#13336 Fix for gcc 5.4.0 compilation errors
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/sse_utils.hpp
Labels: category: build/install

#13338 imgproc(test): fix resize bitexact test
  modules/imgproc/test/test_resize_bitexact.cpp
Labels: category: imgproc, test
