Repository opencv/opencv, pull requests merged in 2018-02, with the labels that each got.

#10820 cmake: use -isystem for Python/numpy include directories
  modules/python/common.cmake
Labels: category: build/install

#10833 improve the doc for the viz module.
  cmake/OpenCVDetectVTK.cmake
  modules/calib3d/src/homography_decomp.cpp
  modules/viz/include/opencv2/viz.hpp
  modules/viz/include/opencv2/viz/types.hpp
  modules/viz/include/opencv2/viz/viz3d.hpp
  modules/viz/include/opencv2/viz/vizcore.hpp
  modules/viz/include/opencv2/viz/widgets.hpp
  modules/viz/src/clouds.cpp
  modules/viz/src/vizcore.cpp
  modules/viz/src/vtk/vtkCloudMatSink.h
  modules/viz/src/vtk/vtkVizInteractorStyle.hpp
  modules/viz/src/widget.cpp
Labels: category: documentation, category: viz

#10803 Update BufferReader documentation with some example code
  modules/core/include/opencv2/core/cuda.hpp
Labels: category: gpu (cuda)

#10711 cmake: update reporting of excluded dispatching files
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVUtils.cmake
  modules/core/include/opencv2/core/cv_cpu_helper.h
  modules/core/src/convert.cpp
  modules/core/test/test_intrin.cpp
  modules/dnn/CMakeLists.txt
Labels: category: build/install

#10822 OCL: disable Laplacian5 and sepFilter2D_SinglePass kernels for AMD OpenCL
  modules/imgproc/src/deriv.cpp
  modules/imgproc/src/filter.cpp
Labels: category: ocl

#10845 cmake: reset __content variable if file doesn't exist
  cmake/OpenCVCompilerOptimizations.cmake
Labels: category: build/install

#10852 core: generalize and fix x86 'cpuid' calls
  modules/core/src/system.cpp
Labels: bug, category: core

#10821 Remove setBatchNorm and setScale methods
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/shift_layer.cpp
Labels: category: dnn

#10846 Misc. modules/ typos (cont.)
  doc/tutorials/imgproc/imgtrans/distance_transformation/distance_transform.markdown
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/src/circlesgrid.cpp
  modules/calib3d/src/five-point.cpp
  modules/calib3d/src/opencl/stereobm.cl
  modules/calib3d/src/p3p.cpp
  modules/calib3d/src/polynom_solver.cpp
  modules/calib3d/src/rho.cpp
  modules/calib3d/test/test_cameracalibration_tilt.cpp
  modules/calib3d/test/test_posit.cpp
  modules/calib3d/test/test_stereomatching.cpp
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/include/opencv2/core/cuda/block.hpp
  modules/core/include/opencv2/core/types_c.h
  modules/core/misc/java/gen_dict.json
  modules/flann/include/opencv2/flann/dist.h
  modules/flann/include/opencv2/flann/kmeans_index.h
  modules/js/test/test_imgproc.js
  modules/ml/doc/ml_intro.markdown
  modules/ml/include/opencv2/ml.hpp
  modules/ml/src/gbt.cpp
  modules/ml/src/svm.cpp
  modules/ml/test/test_emknearestkmeans.cpp
  modules/ml/test/test_lr.cpp
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/src/hog.cpp
  modules/photo/include/opencv2/photo.hpp
  modules/shape/include/opencv2/shape/shape_transformer.hpp
  modules/shape/src/emdL1.cpp
  modules/shape/src/emdL1_def.hpp
  modules/shape/src/tps_trans.cpp
  modules/stitching/include/opencv2/stitching/detail/motion_estimators.hpp
  modules/stitching/src/matchers.cpp
  modules/stitching/src/motion_estimators.cpp
  modules/superres/include/opencv2/superres.hpp
Labels: category: documentation

#10850 Fix bugs in layers imported from TensorFlow
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn

#10864 cmake: debug info
  CMakeLists.txt
  cmake/OpenCVCRTLinkage.cmake
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#10727 cmake: customize OpenCV build via CMake script hooks
  CMakeLists.txt
  cmake/OpenCVGenConfig.cmake
  cmake/OpenCVModule.cmake
  cmake/OpenCVPackaging.cmake
  cmake/OpenCVUtils.cmake
Labels: category: build/install, feature

#10879 fix tutorial on real time pose estimation
  samples/cpp/tutorial_code/calib3d/real_time_pose_estimation/src/main_detection.cpp
Labels: category: samples

#10883 build: portable integer types
  modules/calib3d/src/rho.cpp
  modules/calib3d/src/rho.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/softfloat.hpp
  modules/core/src/persistence.hpp
  modules/dnn/src/precomp.hpp
  modules/imgcodecs/src/exif.cpp
  modules/imgcodecs/src/exif.hpp
  modules/imgproc/src/drawing.cpp
Labels: category: build/install

#10589 Make <array> #ifdef true for MSVC
  modules/core/include/opencv2/core/cvdef.h
  modules/core/test/test_mat.cpp
Labels: category: build/install, category: core

#10885 core: fix parallel_for() data race
  modules/core/src/parallel_impl.cpp
Labels: bug, category: core

#10893 core: remove '-' from separators list of disabled CPU flags
  modules/core/src/system.cpp
Labels: bug, category: core

#10876 android: move .a files into 'staticlibs' directory
  CMakeLists.txt
  cmake/OpenCVGenAndroidMK.cmake
  cmake/OpenCVModule.cmake
  cmake/templates/OpenCV.mk.in
Labels: category: android, category: build/install

#10901 (2.4) backport imgcodecs fixes
  modules/highgui/src/bitstrm.cpp
  modules/highgui/src/grfmt_bmp.cpp
  modules/highgui/src/grfmt_jpeg2000.cpp
  modules/highgui/src/grfmt_pxm.cpp
  modules/highgui/src/grfmt_sunras.cpp
  modules/highgui/src/precomp.hpp
  modules/highgui/src/utils.cpp
Labels: port/backport done

#10891 ReLU6 layer ocl support
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/ocl4dnn/include/ocl4dnn.hpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/src/opencl/conv_layer_spatial.cl
Labels: category: dnn, category: ocl, feature

#10908 ffmpeg: fix 'uchar' error
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: build/install, category: videoio

#10903 ml: refactor ML_ANN test
  modules/ml/test/test_mltests2.cpp
Labels: category: ml, test

#10902 (port #10695): Add mask support to SimpleBlobDetector
  modules/features2d/src/blobdetector.cpp
Labels: port/backport done

#10406 core: replace raw intrinsics with universal intrinsics in copy.cpp
  modules/core/perf/perf_mat.cpp
  modules/core/src/copy.cpp
Labels: optimization

#10892 android: add build.grade into Android SDK
  modules/java/android_sdk/CMakeLists.txt
  modules/java/android_sdk/build.gradle.in
Labels: category: android, category: build/install, feature

#10906 cuda_fast : multi stream safety
  modules/cudafeatures2d/src/cuda/fast.cu
  modules/cudafeatures2d/src/fast.cpp
  modules/cudafeatures2d/test/test_features2d.cpp
Labels: bug, category: gpu (cuda)

#10907 cmake: fix Ninja warning
  modules/java/jar/CMakeLists.txt
Labels: bug, category: build/install

#10913 (2.4 backport #10912) imgcodecs: fix RBaseStream hang on truncated inputs
  modules/highgui/src/bitstrm.cpp
Labels: bug, category: imgcodecs, port/backport done

#10912 imgcodecs: fix RBaseStream hang on truncated inputs
  modules/imgcodecs/src/bitstrm.cpp
Labels: backport is needed, bug, category: imgcodecs

#10915 createsamples: fix ROI in icvGetBackgroundImage()
  apps/createsamples/utility.cpp
Labels: bug, category: apps

#10909 ffmpeg: update wrapper
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: videoio

#10922 ave pooling ocl fix
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/ocl4dnn/include/ocl4dnn.hpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_pool.cpp
  modules/dnn/src/opencl/ocl4dnn_pooling.cl
Labels: category: dnn, category: ocl

#10925 deconvolution ocl fix
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, category: ocl
