Repository opencv/opencv, pull requests merged in 2019-10, with the labels that each got.

#15492 G-API: Add new render primitives
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/render.hpp
  modules/gapi/src/api/render.cpp
  modules/gapi/src/api/render_ocv.cpp
  modules/gapi/src/api/render_ocv.hpp
  modules/gapi/src/api/render_priv.hpp
  modules/gapi/test/common/gapi_render_tests.hpp
  modules/gapi/test/common/gapi_render_tests_inl.hpp
  modules/gapi/test/cpu/gapi_render_tests_cpu.cpp
Labels: category: g-api, feature

#15618 dnn: increase async test timeout
  modules/dnn/misc/python/test/test_dnn.py
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_misc.cpp
Labels: category: dnn, test

#15619 dnn: skip "sum" tests on IE/OpenCL target
  modules/dnn/test/test_halide_layers.cpp
Labels: bug, category: dnn

#15620 core: workaround transform() inplace calls
  modules/core/src/matmul.dispatch.cpp
Labels: bug, category: core

#15621 cmake: add check for IPP IW license files
  cmake/OpenCVFindIPPIW.cmake
Labels: category: build/install

#15627 G-API: fix UB/crash in pattern substitution routine
  modules/gapi/src/compiler/passes/perform_substitution.cpp
Labels: bug, category: g-api

#15637 QR-Code detection: accuracy improvement (fixed)
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#15634 imgproc: fix fitLine() implementation
  modules/imgproc/misc/java/test/ImgprocTest.java
  modules/imgproc/src/linefit.cpp
  modules/imgproc/test/test_convhull.cpp
Labels: bug, category: imgproc

#15631 Add note about pkg-config usage in tutorial
  doc/tutorials/introduction/linux_install/linux_install.markdown
Labels: category: documentation

#15622 Enable ENet with Inference Engine backend on CPU
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn

#15639 dnn(test): fix optional test data
  modules/dnn/misc/python/test/test_dnn.py
  modules/dnn/test/test_model.cpp
Labels: category: dnn, test

#15638 OpenCV G-API Filter2D test improvement
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
Labels: category: g-api, test

#15602 core: fix UBSAN in softfloat
  modules/core/src/softfloat.cpp
Labels: category: build/install, category: core

#15641 dnn(pytest): backport changes from master, update test setUp()
  modules/dnn/misc/python/test/test_dnn.py
Labels: category: dnn, test

#15644 upgrade the file to use the correct package name and include py3/gtk3…
  doc/py_tutorials/py_setup/py_setup_in_ubuntu/py_setup_in_ubuntu.markdown
Labels: category: documentation

#15646 Fix AVX512 detection
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/checks/cpu_avx512clx.cpp
  cmake/checks/cpu_avx512icl.cpp
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/cv_cpu_helper.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/src/system.cpp
Labels: bug, category: build/install, category: core

#15653 Build with cuda 10.1 and NPP 10.2.0.243
  modules/core/include/opencv2/core/private.cuda.hpp
Labels: category: build/install, category: gpu/cuda (contrib)

#15654 Update copy.cpp
  modules/core/src/copy.cpp
Labels: category: core

#15510 core: rework and optimize SIMD implementation of dotProd
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_forward.hpp
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/core/include/opencv2/core/vsx_utils.hpp
  modules/core/perf/perf_dot.cpp
  modules/core/src/matmul.simd.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: category: core, optimization

#15642 imgproc: accurate histogram value thresholding
  modules/imgproc/src/histogram.cpp
  modules/imgproc/test/test_histograms.cpp
Labels: bug, category: imgproc

#15632 Add a few more tests on `any`
  modules/gapi/test/util/any_tests.cpp
Labels: category: g-api

#15664 build: eliminate CUDA warnings
  modules/cudalegacy/src/cuda/NCVBroxOpticalFlow.cu
Labels: category: build/install, category: gpu/cuda (contrib)

#15661 build: update AVX2 check
  cmake/checks/cpu_avx2.cpp
Labels: bug, category: build/install, platform: android, priority: high

#15658 Cuda + OpenGL on ARM
  modules/core/src/opengl.cpp
Labels: category: build/install, category: core, category: gpu/cuda (contrib)

#15666 Fixed clang -Wnewline-eof warning by adding newline to end of file
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
Labels: category: build/install

#15544 Disable posix_memalign by default
  CMakeLists.txt
  modules/core/src/alloc.cpp
Labels: category: core

#15673 G-API: Fix valgrind issue in draw::render
  modules/gapi/test/common/gapi_tests_common.hpp
Labels: category: g-api, test

#15681 Deprecated IE API in G-API test
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api, test

#15527 Adding support for vectorized masking for uchar/ushort.
  modules/imgproc/src/accum.simd.hpp
Labels: category: imgproc, optimization

#15662 New v_reverse HAL intrinsic for reversing the ordering of a vector
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: category: core, feature, optimization

#15655 Use atomic operations to modify flagNestedParallelFor
  modules/core/src/parallel.cpp
Labels: category: core

#15659 Use std::atomic in getExpTab32f and getLogTab32f
  modules/core/src/mathfuncs.cpp
Labels: category: core

#15684 G-API: G_ID_HELPER_BODY macro semicolon issue
  modules/gapi/include/opencv2/gapi/gkernel.hpp
Labels: category: build/install, category: g-api

#15704 G-API: avoid dynamic initialization in dispatched files
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: bug, category: g-api

#15700 core(IPP): skip huge input in flip()
  modules/core/src/copy.cpp
  modules/core/test/test_mat.cpp
  modules/ts/src/ts_tags.cpp
Labels: bug, category: core, optimization

#15701 core(alloc): force initialization of memalign flag
  modules/core/src/alloc.cpp
Labels: bug, category: core

#15715 COMP: Enabling build with recent VTK version
  modules/viz/src/precomp.hpp
Labels: bug, category: build/install, category: viz

#15720 cmake: fix UWP scripts path
  cmake/platforms/OpenCV-WindowsPhone.cmake
  cmake/platforms/OpenCV-WindowsStore.cmake
Labels: bug, category: build/install, platform: winrt/uwp

#15708 JS(SIMD): support Emscripten 1.38.48-upstream
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
Labels: category: build/install, category: javascript (js)

#15709 JS(SIMD): v_reverse implementation
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
Labels: category: build/install, category: core, category: javascript (js)

#15699 G-API: Implement OpenCV render backend
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/render/render.hpp
  modules/gapi/src/api/render.cpp
  modules/gapi/src/api/render_ocv.cpp
  modules/gapi/src/api/render_priv.hpp
  modules/gapi/src/backends/render/grenderocv.cpp
  modules/gapi/src/backends/render/grenderocv.hpp
  modules/gapi/src/backends/render/grenderocvbackend.cpp
  modules/gapi/src/backends/render/grenderocvbackend.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/test/common/gapi_render_tests.hpp
  modules/gapi/test/common/gapi_render_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_render_tests_cpu.cpp
  modules/gapi/test/gapi_sample_pipelines.cpp
Labels: category: g-api

#15180 StereoBM implementation WUI update
  modules/calib3d/src/stereobm.cpp
Labels: category: calib3d, optimization

#15716 javadoc: fix generation with OpenJDK 11
  modules/java/jar/CMakeLists.txt
  modules/java/jar/build.xml.in
Labels: category: build/install, category: documentation, category: java bindings

#15737 core(SIMD): v_reverse() for MSA backend
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
Labels: bug, category: core, optimization, platform: other

#15216 G-API: Introduce Streaming API
  modules/gapi/CMakeLists.txt
  modules/gapi/cmake/standalone.cmake
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gcompiled.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/ocl/goclkernel.hpp
  modules/gapi/include/opencv2/gapi/own/convert.hpp
  modules/gapi/include/opencv2/gapi/streaming/cap.hpp
  modules/gapi/include/opencv2/gapi/streaming/source.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/ocl/goclcore.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gcompiler.hpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/compiler/gmodel.cpp
  modules/gapi/src/compiler/gmodel.hpp
  modules/gapi/src/compiler/gmodelbuilder.cpp
  modules/gapi/src/compiler/gstreaming.cpp
  modules/gapi/src/compiler/gstreaming_priv.hpp
  modules/gapi/src/compiler/passes/dump_dot.cpp
  modules/gapi/src/compiler/passes/passes.hpp
  modules/gapi/src/compiler/passes/streaming.cpp
  modules/gapi/src/executor/conc_queue.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.hpp
  modules/gapi/src/precomp.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/gapi_array_tests.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
  modules/gapi/test/own/conc_queue_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api

#15741 Issue 15730
  cmake/OpenCVCompilerOptimizations.cmake
Labels: category: build/install, platform: other

#15685 core: vectorize countNonZero64f
  modules/core/src/count_non_zero.simd.hpp
Labels: category: core, optimization

#14518 Add documentation and example program for intersectConvexConvex
  modules/imgproc/include/opencv2/imgproc.hpp
  samples/cpp/intersectExample.cpp
Labels: category: documentation, category: imgproc, category: samples

#15743 grammar corrections for python gui docs
  doc/py_tutorials/py_gui/py_table_of_contents_gui.markdown
  doc/py_tutorials/py_gui/py_video_display/py_video_display.markdown
Labels: category: documentation

#15747 fix incorrect imshow behavior
  modules/highgui/src/precomp.hpp
Labels: bug, category: highgui-gui

#15735 G-API: Doxygen documentatation for Async API
  modules/gapi/include/opencv2/gapi/gasync_context.hpp
  modules/gapi/include/opencv2/gapi/gcompiled_async.hpp
  modules/gapi/include/opencv2/gapi/gcomputation_async.hpp
  samples/dnn/object_detection.cpp
Labels: category: documentation, category: g-api / gapi

#15756 stitching_detailed: use correct match_conf default
  samples/cpp/stitching_detailed.cpp
Labels: bug, category: samples, category: stitching

#15739 Enable Eltwise layer with different numbers of inputs channels
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn

#15738 Fixing bug with comparison of v_int64x2 or v_uint64x2
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, category: core, optimization

#15759 G-API: fix ARMv7 build
  modules/gapi/include/opencv2/gapi/ocl/goclkernel.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
Labels: bug, category: build/install, category: g-api / gapi

#15762 G-API: Returned GModel::mkDataNode() overload for external backends
  modules/gapi/src/compiler/gmodel.cpp
  modules/gapi/src/compiler/gmodel.hpp
Labels: category: g-api / gapi

#15754 Tutorial - Make required input args positional.
  samples/cpp/tutorial_code/Histograms_Matching/compareHist_Demo.cpp
Labels: category: documentation, category: samples

#15736 G-API: Fix for "using cv makes G_TYPED_KERNEL fail"
  modules/gapi/include/opencv2/gapi/gkernel.hpp
Labels: category: g-api / gapi

#15752 Fix custom IE layers in case of no MKLDNN plugin
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, feature

#15770 Fixed StereoBM uniqueness check
  modules/calib3d/src/stereobm.cpp
Labels: bug, category: calib3d

#15764 Convert demosaic functions to HAL (2.6x faster for VSX)
  modules/imgproc/src/demosaicing.cpp
Labels: category: imgproc, optimization

#15761 core(trace): add ITT control parameter
  modules/core/src/trace.cpp
Labels: category: core, feature

#15793 Fixed typo in assertion
  modules/calib3d/src/fisheye.cpp
Labels: category: calib3d

#15777 add own::Mat empty implementation
  modules/gapi/include/opencv2/gapi/own/mat.hpp
Labels: category: g-api / gapi

#15800 GAPI: fix opencv_world build
  modules/gapi/CMakeLists.txt
Labels: bug, category: build/install, platform: win32

#15623 Use circular lut history buffer in computeGradient of HOG
  modules/objdetect/src/hog.cpp
Labels: category: objdetect, optimization

#15791 android: use .getRowStride() in JavaCamera2View
  modules/core/misc/java/src/java/core+Mat.java
  modules/core/misc/java/test/MatTest.java
  modules/java/generator/android-21/java/org/opencv/android/JavaCamera2View.java
  modules/java/generator/src/cpp/Mat.cpp
Labels: bug, platform: android

#15692 core(TLS): implement releasing of ThreadData with thread termination
  modules/core/include/opencv2/core/private.hpp
  modules/core/include/opencv2/core/utility.hpp
  modules/core/include/opencv2/core/utils/instrumentation.hpp
  modules/core/include/opencv2/core/utils/tls.hpp
  modules/core/include/opencv2/core/utils/trace.private.hpp
  modules/core/src/ocl.cpp
  modules/core/src/ovx.cpp
  modules/core/src/precomp.hpp
  modules/core/src/rand.cpp
  modules/core/src/system.cpp
  modules/core/src/umatrix.cpp
  modules/core/test/test_utils.cpp
  modules/core/test/test_utils_tls.impl.hpp
  modules/imgproc/src/histogram.cpp
Labels: category: core

#15751 G-API: Refactor render tests
  modules/gapi/include/opencv2/gapi/render/render.hpp
  modules/gapi/src/api/render.cpp
  modules/gapi/src/api/render_ocv.cpp
  modules/gapi/src/api/render_priv.hpp
  modules/gapi/src/backends/render/grenderocv.cpp
  modules/gapi/src/backends/render/grenderocvbackend.cpp
  modules/gapi/test/common/gapi_render_tests.cpp
  modules/gapi/test/common/gapi_render_tests.hpp
  modules/gapi/test/common/gapi_render_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_helpers.hpp
  modules/gapi/test/cpu/gapi_render_tests_cpu.cpp
  modules/gapi/test/render/gapi_render_tests_ocv.cpp
Labels: category: g-api / gapi

#15763 GAPI Fluid: Dynamic window size
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
Labels: category: g-api / gapi

#15608 Change modules settings
  modules/js/src/embindgen.py
  platforms/js/build_js.py
  platforms/js/opencv_js.config.py
Labels: category: build/install, category: javascript (js)

#15478 StereoSGBM algorithm updated to use wide universal intrinsics
  modules/calib3d/src/stereosgbm.cpp
Labels: category: calib3d, optimization

#15780 Doc bugfix
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#15789 Changes disparity image to float representation
  samples/cpp/stereo_match.cpp
Labels: bug, category: calib3d, category: samples

#15799 Parallelize pyrDown & calcSharrDeriv
  modules/imgproc/src/pyramids.cpp
  modules/video/src/lkpyramid.cpp
  modules/video/src/lkpyramid.hpp
Labels: category: imgproc, category: video, optimization

#15805 Fix wording in some tutorials
  doc/tutorials/core/basic_linear_transform/basic_linear_transform.markdown
  doc/tutorials/core/how_to_scan_images/how_to_scan_images.markdown
  doc/tutorials/core/mat-mask-operations/mat_mask_operations.markdown
  doc/tutorials/core/mat_the_basic_image_container/mat_the_basic_image_container.markdown
  modules/core/include/opencv2/core/saturate.hpp
Labels: category: documentation

#15819 TS: do not block reporting of launched "DISABLED_" tests
  modules/ts/misc/testlog_parser.py
Labels: test
