Repository opencv/opencv, pull requests merged in 2019-09, with the labels that each got.

#15432 removed tegra optimization
  modules/imgproc/src/median_blur.dispatch.cpp
Labels: category: imgproc

#15438 GAPI: make static analysis happy in Fluid Internal Parallelism
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
Labels: category: g-api

#15419 WIP: G-API: Internal IE flag check in public headers issue
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/util.hpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: build/install, category: g-api

#15442 gapi(test): fix 32S->8U type in OwnMatConversion.WithND
  modules/gapi/test/own/mat_tests.cpp
Labels: bug, category: g-api, test

#15437 OpenCL: FreeBSD build fix
  modules/core/src/opencl/runtime/opencl_core.cpp
Labels: category: build/install

#15063 Wrap OpenCV layers as custom CPU layers with IE backend
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/crop_and_resize_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#15433 fix 'chmod' is not recognized as an internal or external command in Windows
  cmake/OpenCVPCHSupport.cmake
Labels: category: build/install

#15451 Fix exception using calibrateCameraRO with iFixedPoint > 0
  modules/calib3d/src/calibration.cpp
Labels: bug, category: calib3d

#15440 Adding all possible data type interactions to the perf tests since some use SIMD acceleration and others do not.
  modules/imgproc/perf/perf_integral.cpp
Labels: category: imgproc, test

#15444 core(OpenCL): fix fft kernel compilation
  modules/core/src/opencl/fft.cl
Labels: bug, category: core, category: ocl

#14872 Added mechanism to set/toggle NORMAL window to TOPMOST window.
  modules/highgui/include/opencv2/highgui.hpp
  modules/highgui/src/precomp.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_cocoa.mm
  modules/highgui/src/window_w32.cpp
Labels: category: highgui-gui, feature

#15461 imgproc: avoid manual memory allocation in connectedcomponents.cpp
  modules/imgproc/src/connectedcomponents.cpp
Labels: category: imgproc

#15474 gapi(test): disable memory consumption check in valgrind runs
  modules/ts/misc/run_long.py
Labels: category: g-api, test

#15475 ts: eliminate -Warray-bounds warning
  modules/ts/src/ts_func.cpp
Labels: category: build/install

#15443 Fluid Internal Parallelism:
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
Labels: category: g-api

#15466 ffmpeg/3.4: update FFmpeg wrapper
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: 3rdparty, category: videoio

#15468 ffmpeg/4.x: update FFmpeg plugin
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: 3rdparty, category: videoio

#15511 Fix issue #15506
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: bug, category: build/install, category: core, optimization

#15487 Fix OpenVINO 2019R1 compilation
  modules/dnn/src/dnn.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: build/install, category: dnn

#15449 cmake: download tries, customizable download parameters
  cmake/OpenCVDownload.cmake
Labels: category: build/install

#15476 js setup docker build warning and docs instructions
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
Labels: category: documentation, category: javascript (js)

#15518 Fixed OSX build with Qt
  modules/highgui/src/window.cpp
Labels: category: build/install, category: highgui-gui, platform: ios/osx

#15491 Fixed universal intrinsic undistort() implementation
  modules/calib3d/test/test_undistort.cpp
  modules/imgproc/src/undistort.simd.hpp
Labels: bug, category: calib3d, optimization

#15517 AVFoundation: fix camera authorization request
  modules/videoio/src/cap_avfoundation_mac.mm
Labels: category: videoio(camera), platform: ios/osx

#15341 issue #5769 fixed: cv::stereoRectify fails if given inliers mask of t…
  modules/calib3d/src/five-point.cpp
  modules/calib3d/test/test_cameracalibration.cpp
Labels: bug, category: calib3d

#15399 Added performance test for StereoBM algorithm
  modules/calib3d/perf/perf_stereosgbm.cpp
Labels: category: calib3d, test

#15531 Fixed out of bound reading in DIS optical flow evaluation implementation
  modules/video/src/dis_flow.cpp
Labels: bug, category: video

#15529 Grammer fixes on python image display tutorial
  doc/py_tutorials/py_gui/py_image_display/py_image_display.markdown
Labels: category: documentation, category: highgui-gui

#15516 Fix dnn object detection sample
  samples/dnn/object_detection.cpp
  samples/dnn/object_detection.py
Labels: bug, category: dnn, category: samples

#15515 Fix DetectionModel in case of out of [0, 1] range detection prediction
  modules/dnn/src/model.cpp
  modules/dnn/test/test_model.cpp
Labels: bug, category: dnn

#15477 Remove old build java option
  CMakeLists.txt
  doc/tutorials/introduction/building_tegra_cuda/building_tegra_cuda.markdown
Labels: category: build/install, category: java bindings

#15519 Windows: partially restore install config generation
  cmake/OpenCVGenConfig.cmake
  cmake/OpenCVInstallLayout.cmake
Labels: category: build/install

#15540 cmake: use 'long long' for atomic check
  cmake/checks/atomic_check.cpp
Labels: category: build/install

#15530 Update samples
  samples/cpp/dis_opticalflow.cpp
  samples/cpp/ela.cpp
  samples/python/squares.py
Labels: bug, category: samples

#15422 Added MSA implementations for mips platforms.
  3rdparty/libpng/CMakeLists.txt
  3rdparty/libpng/mips/filter_msa_intrinsics.c
  3rdparty/libpng/mips/mips_init.c
  3rdparty/libwebp/src/dsp/msa_macro.h
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVDetectCXXCompiler.cmake
  cmake/checks/cpu_msa.cpp
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/cv_cpu_helper.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/msa_macros.h
  modules/core/src/arithm.simd.hpp
  modules/core/src/matmul.simd.hpp
  modules/core/src/parallel_impl.cpp
  modules/core/src/system.cpp
  platforms/linux/mips.toolchain.cmake
  platforms/linux/mips32r5el-gnu.toolchain.cmake
  platforms/linux/mips64r6el-gnu.toolchain.cmake
Labels: category: core, optimization, platform: other

#15554 3rdparty patch files for PR #15422
  3rdparty/libpng/patches/20190910-msa-patch.diff
  3rdparty/libwebp/patches/20190910-msa-asm-patch.diff
Labels: category: 3rdparty

#15564 imgcodecs: add check image.empty() in imwrite()/imencode()
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/src/loadsave.cpp
Labels: bug, category: imgcodecs

#15565 ml: add checks of empty train data
  modules/ml/src/ann_mlp.cpp
  modules/ml/src/boost.cpp
  modules/ml/src/em.cpp
  modules/ml/src/inner_functions.cpp
  modules/ml/src/knearest.cpp
  modules/ml/src/lr.cpp
  modules/ml/src/nbayes.cpp
  modules/ml/src/rtrees.cpp
  modules/ml/src/svm.cpp
  modules/ml/src/svmsgd.cpp
  modules/ml/src/tree.cpp
  modules/ml/test/test_lr.cpp
  modules/ml/test/test_mltests2.cpp
Labels: bug, category: ml, test

#15538 Extended v_check_any/v_check_all to 64-bit integer
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
Labels: category: core, optimization

#15570 G-API: Move maxval to threshold tests parameter
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
Labels: category: g-api

#15371 [GSoC 2019] Improve the performance of JavaScript version of OpenCV (OpenCV.js)
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/core/src/mathfuncs_core.simd.hpp
  modules/core/src/parallel.cpp
  modules/js/CMakeLists.txt
  modules/js/perf/README.md
  modules/js/perf/base.js
  modules/js/perf/package.json
  modules/js/perf/perf_helpfunc.js
  modules/js/perf/perf_imgproc/perf_cvtcolor.html
  modules/js/perf/perf_imgproc/perf_cvtcolor.js
  modules/js/perf/perf_imgproc/perf_resize.html
  modules/js/perf/perf_imgproc/perf_resize.js
  modules/js/perf/perf_imgproc/perf_threshold.html
  modules/js/perf/perf_imgproc/perf_threshold.js
  modules/js/src/core_bindings.cpp
  modules/js/src/make_umd.py
  platforms/js/build_js.py
Labels: GSoC, category: javascript (js)

#15573 (3.4) build: eliminate cxx11 warnings
  modules/core/include/opencv2/core/cvdef.h
  modules/stitching/src/camera.cpp
  modules/videostab/src/global_motion.cpp
Labels: category: build/install

#15581 Add option to disable features in iOS build.
  platforms/ios/build_framework.py
Labels: category: build/install, platform: ios/osx

#15572 Fix computation of internal shapes in Deconvolution layer
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
Labels: bug, category: dnn

#15582 Fixed OOB reading in pyrDown
  modules/imgproc/src/pyramids.cpp
Labels: bug, category: imgproc, optimization

#15579 core(OpenCL): add flag OPENCV_OPENCL_ENABLE_MEM_USE_HOST_PTR
  modules/core/src/ocl.cpp
Labels: category: ocl

#15313 G-API: add transformation logic to GCompiler
  modules/gapi/CMakeLists.txt
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gcompiler.hpp
  modules/gapi/src/compiler/passes/passes.hpp
  modules/gapi/src/compiler/passes/pattern_matching.cpp
  modules/gapi/src/compiler/passes/pattern_matching.hpp
  modules/gapi/src/compiler/passes/perform_substitution.cpp
  modules/gapi/src/compiler/passes/transformations.cpp
  modules/gapi/test/internal/gapi_int_perform_substitution_test.cpp
Labels: category: g-api

#15580 dnn: Allow LSTM layer to operate in reverse direction
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, feature

#15591 core(persistence): fix reserveNodeSpace() implementation
  modules/core/src/persistence.cpp
Labels: bug, category: core

#15595 Added Rodrigues to the JS embindgen.py and a unittest in test_calib3d…
  modules/js/src/embindgen.py
  modules/js/test/test_calib3d.js
Labels: category: calib3d, category: javascript (js), feature

#15600 imgproc: fix indexing issue in pyramids
  modules/imgproc/src/pyramids.cpp
Labels: category: imgproc

#12670 imgproc: use Matx23d as result type of getRotationMatrix2D() call
  modules/calib3d/src/chessboard.cpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/imgwarp.cpp
Labels: RFC, category: imgproc

#15356 QR-Code detection: accuracy improvement
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: category: objdetect

#15480 js - cv.estimateAffine2D, cv.warpPolar
  modules/js/src/embindgen.py
  modules/js/test/test_calib3d.js
  modules/js/test/test_imgproc.js
Labels: category: javascript (js), feature

#15609 Update loadsave.cpp
  modules/imgcodecs/src/loadsave.cpp
Labels: category: imgcodecs

#15611 Fix autodetection of input size for dnn networks
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_model.cpp
Labels: bug, category: dnn
