Repository opencv/opencv, pull requests merged in 2019-06, with the labels that each got.

#14660 add cuDNN dependency and setup build for cuda4dnn
  CMakeLists.txt
  cmake/FindCUDNN.cmake
  cmake/OpenCVDetectCUDA.cmake
  cmake/OpenCVMinDepVersions.cmake
  cmake/OpenCVModule.cmake
  cmake/OpenCVPackaging.cmake
  cmake/templates/OpenCVConfig-CUDA.cmake.in
  cmake/templates/cvconfig.h.in
  modules/dnn/CMakeLists.txt
  modules/dnn/cmake/hooks/INIT_MODULE_SOURCES_opencv_dnn.cmake
  modules/dnn/src/cuda/test.cu
  modules/dnn/src/cuda4dnn/test.cpp
  modules/dnn/src/precomp.hpp
Labels: GSoC, category: build/install, category: dnn, category: gpu/cuda (contrib), feature

#14696 FreeBSD build fix
  modules/videoio/src/backend_plugin.cpp
Labels: bug, category: build/install, category: videoio

#14210 AVX512 wide universal intrinsics
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_forward.hpp
  modules/core/test/test_intrin.cpp
  modules/core/test/test_intrin512.simd.hpp
  modules/core/test/test_intrin_utils.hpp
  modules/imgproc/src/contours.cpp
  modules/imgproc/src/resize.cpp
  modules/imgproc/src/sumpixels.cpp
Labels: optimization

#14661 Enable more deconvolution layer configurations with IE backend
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, feature

#14704 3rdparty: fix missing files from libjpeg-turbo 2.0.2
  3rdparty/libjpeg-turbo/CMakeLists.txt
  3rdparty/libjpeg-turbo/src/jcicc.c
  3rdparty/libjpeg-turbo/src/jdicc.c
Labels: category: 3rdparty, category: build/install, category: imgcodecs

#14705 3rdparty: update libjpeg 9c
  3rdparty/libjpeg/README
  3rdparty/libjpeg/change.log
  3rdparty/libjpeg/jcinit.c
  3rdparty/libjpeg/jcmaster.c
  3rdparty/libjpeg/jctrans.c
  3rdparty/libjpeg/jdatadst.c
  3rdparty/libjpeg/jdcolor.c
  3rdparty/libjpeg/jdct.h
  3rdparty/libjpeg/jdhuff.c
  3rdparty/libjpeg/jdmainct.c
  3rdparty/libjpeg/jdmaster.c
  3rdparty/libjpeg/jdmerge.c
  3rdparty/libjpeg/jfdctflt.c
  3rdparty/libjpeg/jfdctfst.c
  3rdparty/libjpeg/jidctflt.c
  3rdparty/libjpeg/jidctfst.c
  3rdparty/libjpeg/jidctint.c
  3rdparty/libjpeg/jinclude.h
  3rdparty/libjpeg/jpegint.h
  3rdparty/libjpeg/jpeglib.h
  3rdparty/libjpeg/jversion.h
Labels: category: 3rdparty, category: build/install, category: imgcodecs

#14716 imgcodecs: sanitize PAM decoding
  modules/imgcodecs/src/grfmt_pam.cpp
Labels: backport is needed, category: imgcodecs

#14684 G-API: Add parameters alpha and beta in tests on ConvertTo kernel
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
Labels: category: g-api

#14719 3rdparty: apply protobuf v3.5.1..v3.5.2 patch
  3rdparty/protobuf/README.md
  3rdparty/protobuf/src/google/protobuf/stubs/io_win32.cc
Labels: category: 3rdparty, category: dnn

#14718 Revert the bad parts of b085158d5999fdced91094405f8753e9275092f6
  modules/calib3d/src/calibration.cpp
  modules/calib3d/test/test_cameracalibration.cpp
Labels: bug, category: calib3d, test

#14712 Remove divide by 1000
  samples/python/tutorial_code/core/mat_mask_operations/mat_mask_operations.py
Labels: category: documentation

#14710 Fix alignment issue on ARMv7
  modules/imgproc/src/imgwarp.cpp
Labels: bug, category: imgproc, platform: arm

#14678 Fix build issue on QNX platform
  modules/core/src/system.cpp
Labels: category: build/install, category: core, platform: other

#14682 Add Axpy layer
  modules/dnn/src/caffe/caffe_importer.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/test/test_caffe_importer.cpp
Labels: category: dnn, feature

#14726 (3.4) imgcodecs: sanitize PAM decoding
  modules/imgcodecs/src/grfmt_pam.cpp
Labels: bug, category: imgcodecs, port/backport done

#14724 Fix some typos
  modules/calib3d/src/fundam.cpp
  modules/calib3d/src/ippe.hpp
  modules/calib3d/test/test_cameracalibration_artificial.cpp
  modules/core/include/opencv2/core/core_c.h
  modules/core/include/opencv2/core/operations.hpp
  modules/core/include/opencv2/core/optim.hpp
  modules/core/src/datastructs.cpp
  modules/core/src/mathfuncs_core.simd.hpp
  modules/imgcodecs/src/exif.cpp
  modules/imgcodecs/src/rgbe.cpp
  modules/ts/src/ts_gtest.cpp
  modules/video/src/ecc.cpp
  modules/video/src/lkpyramid.cpp
  samples/cpp/videocapture_openni.cpp
Labels: category: documentation

#14733 cast positional arguments to int
  samples/python/tutorial_code/imgProc/BasicGeometricDrawing/basic_geometric_drawing.py
Labels: category: python bindings, category: samples

#14693 java: fix java SimpleBlobDetector
  modules/features2d/misc/java/gen_dict.json
  modules/features2d/misc/java/test/SIMPLEBLOBFeatureDetectorTest.java
Labels: category: java bindings, test

#14667 java: generated code to have javadoc
  CMakeLists.txt
  doc/CMakeLists.txt
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/core/include/opencv2/core.hpp
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
  modules/features2d/include/opencv2/features2d.hpp
  modules/java/generator/gen_java.py
  modules/java/generator/templates/java_class.prolog
  modules/java/generator/templates/java_class_inherited.prolog
  modules/java/generator/templates/java_module.prolog
  modules/java/jar/build.xml.in
  modules/ml/include/opencv2/ml.hpp
  modules/python/src2/hdr_parser.py
  modules/videoio/include/opencv2/videoio.hpp
Labels: category: documentation, category: java bindings

#14749 android: fix javadoc
  modules/java/jar/CMakeLists.txt
  modules/java/jar/build.xml.in
  platforms/android/build_sdk.py
Labels: bug, category: build/install, category: java bindings, platform: android

#14752 Changed to integer division
  samples/python/tutorial_code/imgProc/morph_lines_detection/morph_lines_detection.py
Labels: bug, category: documentation, category: python bindings, category: samples

#14750 samples: skip findFile() in encoding mode
  samples/cpp/videocapture_gstreamer_pipeline.cpp
Labels: bug, category: samples

#14756 AVX 512 detection: workaround for older GCC with -O0
  cmake/checks/cpu_avx512skx.cpp
Labels: bug, category: build/install, category: core, optimization

#14754 Objdetect: QRCode detector - Mat assertion, added binding tests
  modules/objdetect/misc/java/test/QRCodeDetectorTest.java
  modules/objdetect/misc/python/test/test_qrcode_detect.py
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#14759 java: wrap StringIO() to support unicode strings
  modules/java/generator/gen_java.py
Labels: category: build/install, category: java bindings

#14697 Support Slice layer in ONNX importer
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#14767 imgcodecs(test): add OpenEXR I/O test
  modules/imgcodecs/test/test_exr.impl.hpp
  modules/imgcodecs/test/test_grfmt.cpp
Labels: category: imgcodecs, test

#14764 core(intrin): drop hasSIMD128 checks
  modules/calib3d/src/stereobm.cpp
  modules/calib3d/src/stereosgbm.cpp
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/features2d/src/fast.cpp
  modules/features2d/src/fast_score.cpp
  modules/imgproc/src/canny.cpp
  modules/imgproc/src/corner.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/moments.cpp
  modules/video/src/lkpyramid.cpp
Labels: category: core, optimization

#14760 Rewrite code in BGR2Gray functions so that auto vectorizer does a better job.
  modules/imgcodecs/src/utils.cpp
Labels: category: imgproc, optimization

#14513 G-API: Implement color-convert kernels
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
Labels: category: g-api

#14771 Allow setting IS_PART_OF_WORLD in command line, fix videoio plugin linking
  cmake/OpenCVModule.cmake
  modules/videoio/cmake/plugin.cmake
Labels: bug, category: build/install

#14777 imgcodecs(tiff): add more checks
  modules/imgcodecs/src/grfmt_tiff.cpp
Labels: backport is needed, category: imgcodecs

#14779 core: avoid function type cast, make happy UBSAN
  modules/core/src/convert.dispatch.cpp
  modules/core/src/convert.simd.hpp
  modules/core/src/convert_scale.simd.hpp
Labels: backport is needed, category: build/install, category: core

#14736 Added cmake switch to enable limited python API (stage 3)
  modules/dnn/misc/python/pyopencv_dnn.hpp
  modules/flann/misc/python/pyopencv_flann.hpp
  modules/python/bindings/CMakeLists.txt
  modules/python/common.cmake
  modules/python/python3/CMakeLists.txt
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/src2/pycompat.hpp
Labels: category: build/install, category: python bindings, feature

#14781 Limited API support for Python3
  modules/dnn/misc/python/pyopencv_dnn.hpp
  modules/flann/misc/python/pyopencv_flann.hpp
  modules/python/bindings/CMakeLists.txt
  modules/python/common.cmake
  modules/python/python3/CMakeLists.txt
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/src2/pycompat.hpp
Labels: category: build/install, category: python bindings, feature, port/backport done

#14720 G-API: Removed LUT3D API entry
  modules/gapi/include/opencv2/gapi/core.hpp
Labels: category: g-api

#14743 Fix for MSVS2019 build warnings
  cmake/OpenCVCompilerOptimizations.cmake
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/imgproc/src/sumpixels.avx512_skx.cpp
Labels: category: build/install, category: core, optimization, platform: win32

#14782 core: repair default log level
  modules/core/src/logger.cpp
  modules/core/src/utils/logtagconfigparser.cpp
  modules/core/src/utils/logtagconfigparser.hpp
  modules/core/src/utils/logtagmanager.cpp
Labels: category: core

#14783 (3.4) imgcodecs(tiff): add more checks
  modules/imgcodecs/src/grfmt_tiff.cpp
Labels: category: imgcodecs, port/backport done

#14784 (3.4) core: avoid function type cast, make happy UBSAN
  modules/core/src/convert.dispatch.cpp
  modules/core/src/convert.simd.hpp
  modules/core/src/convert_scale.simd.hpp
Labels: category: build/install, category: core, port/backport done

#14793 Fixed plugin installation location on Windows
  modules/videoio/cmake/plugin.cmake
Labels: category: build/install, category: video

#14673 make -fvisibility=hidden work with java 1.7
  modules/java/generator/src/cpp/common.h
Labels: category: java bindings

#14804 Improved MediaSDK detection mechanism
  modules/videoio/cmake/detect_msdk.cmake
Labels: backport is needed, category: build/install, category: videoio

#14790 ffmpeg: update 3.4.6
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: affected: 3.4, category: 3rdparty, category: videoio, platform: win32

#14805 valgrind: fix issues
  modules/videoio/src/cap_images.cpp
  platforms/scripts/valgrind.supp
Labels: bug, category: videoio

#14794 Rename parameters in AVX512 implementation of v_load/store_interleave
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
Labels: category: core

#14792 Remove Inference Engine 2018R3 and 2018R4
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/crop_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: build/install, category: dnn

#14700 G-API: Render
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/render.hpp
  modules/gapi/src/api/render.cpp
  modules/gapi/src/api/render_priv.hpp
  modules/gapi/test/gapi_render_test.cpp
Labels: category: g-api

#14747 Fix #14683
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/opencl/mvn.cl
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn, test

#14583 fix the bug, when k[4] is negative, icdist may be negative at the edg…
  modules/imgproc/src/undistort.cpp
Labels: bug, category: calib3d

#14800 Test request by #14583
  modules/calib3d/test/test_undistort_points.cpp
Labels: category: calib3d, test

#14808 cmake: typo in hook name
  CMakeLists.txt
Labels: bug, category: build/install

#14815 valgrind: suppress OpenEXR ThreadPool
  platforms/scripts/valgrind.supp
Labels: category: imgcodecs

#14648 G-API Introduce GAPI_TRANSFORM initial interface
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gcompoundkernel.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gtransform.hpp
  modules/gapi/include/opencv2/gapi/ocl/goclkernel.hpp
  modules/gapi/include/opencv2/gapi/util/util.hpp
  modules/gapi/src/api/gkernel.cpp
  modules/gapi/src/compiler/passes/kernels.cpp
  modules/gapi/test/gapi_transform_tests.cpp
Labels: category: g-api

#14816 Solve the import issue in Python2.
  modules/python/package/cv2/__init__.py
Labels: bug, category: python bindings

#14844 G-API: Added overload of contains<> for tuple
  modules/gapi/include/opencv2/gapi/util/util.hpp
Labels: category: g-api

#14689 Cancelation support fo Async GAPI
  modules/gapi/cmake/standalone.cmake
  modules/gapi/include/opencv2/gapi/gasync_context.hpp
  modules/gapi/include/opencv2/gapi/gcompiled_async.hpp
  modules/gapi/include/opencv2/gapi/gcomputation_async.hpp
  modules/gapi/include/opencv2/gapi/own/cvdefs.hpp
  modules/gapi/src/executor/gasync.cpp
  modules/gapi/test/gapi_async_test.cpp
Labels: category: g-api, feature

#14737 opencv.js: fix the loading issue of opencv.js(WASM) in face recognition
  samples/dnn/js_face_recognition.html
Labels: category: javascript (js)

#14836 (3.4) static analysis issues
  modules/calib3d/src/calibration.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/videoio/src/cap_mfx_writer.cpp
Labels: category: build/install

#14848 core: eliminate AVX512 build warnings
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/imgproc/src/sumpixels.avx512_skx.cpp
Labels: category: build/install

#14846 videoio(gstreamer): port changes from #14834
  modules/ts/misc/run_long.py
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_gstreamer.cpp
  modules/videoio/test/test_video_io.cpp
  platforms/scripts/valgrind.supp
  platforms/scripts/valgrind_3rdparty.supp
Labels: category: videoio, port/backport done

#14833 Support Eltwise3D on OCV backend
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#14864 Fix face recognition sample for JS
  samples/dnn/js_face_recognition.html
Labels: bug, category: documentation, category: javascript (js)

#14305 Add javascript bindings for calib3d module.
  modules/calib3d/CMakeLists.txt
  modules/js/src/embindgen.py
  modules/js/test/test_calib3d.js
  modules/js/test/tests.html
  modules/js/test/tests.js
  platforms/js/build_js.py
Labels: category: javascript (js), feature

#14847 dnn(test): fix usage of findDataFile()
  modules/dnn/perf/perf_caffe.cpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_googlenet.cpp
  modules/dnn/test/test_misc.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
  modules/objdetect/test/test_qrcode.cpp
  modules/ts/src/ts.cpp
Labels: category: dnn, test

#14845 dnn tensorflow support mirrorpad
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#14874 videoio: fix GStreamer plugin build
  modules/videoio/src/cap_gstreamer.cpp
Labels: bug, category: build/install, category: videoio

#14820 G-API: Implement line and circle draw operations
  modules/gapi/include/opencv2/gapi/render.hpp
  modules/gapi/src/api/render.cpp
  modules/gapi/test/gapi_render_test.cpp
Labels: category: g-api

#14876 Fix face recognition JS sample
  samples/dnn/js_face_recognition.html
Labels: bug, category: dnn, category: javascript (js), category: samples

#14878 core: revise syntax to support Visual C++ 2013
  modules/core/include/opencv2/core/cvstd_wrapper.hpp
Labels: category: build/install, category: core, platform: win32

#14875 [#14873] Fix code signing issue on Xcode 11 in Try Compile script
  platforms/ios/cmake/Toolchains/common-ios-toolchain.cmake
Labels: category: build/install, platform: ios/osx

#14849 js: added fillPoly() and fillConvexPoly()
  modules/js/src/embindgen.py
  modules/js/test/test_imgproc.js
Labels: category: javascript (js), feature

#14814 dnn(test): replace SkipTestException with tags
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_googlenet.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_main.cpp
  modules/dnn/test/test_misc.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
  modules/ts/include/opencv2/ts.hpp
  modules/ts/src/ts_tags.cpp
Labels: category: dnn, test

#14869 samples: support MSVS 2019 compiler (winpack)
  samples/_winpack_build_sample.cmd
Labels: category: build/install, category: samples

#13252 filter2d: fix #13179
  modules/imgproc/src/filter.dispatch.cpp
  modules/imgproc/test/test_filter.cpp
Labels: bug, category: imgproc

#14775 Update obsolete flag in Intel video decoder.
  modules/videoio/src/cap_mfx_common.cpp
Labels: category: videoio

#14889 core(intrin): v_load_low() workaround for aarch64+clang
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
Labels: bug, category: core, optimization

#14890 dnn: both protobuf readers have similar behavior
  modules/dnn/src/caffe/caffe_io.cpp
Labels: bug, category: dnn

#14900 Remove extra ")"
  samples/dnn/js_face_recognition.html
Labels: bug, category: javascript (js)

#14898 Keep a local copy of `features` from `flann::GenericIndex ` constructor
  modules/flann/include/opencv2/flann.hpp
  modules/flann/include/opencv2/flann/dist.h
Labels: category: flann

#14886 imgproc: fix kmeans() call from grabCut()
  modules/core/src/kmeans.cpp
  modules/imgproc/src/grabcut.cpp
Labels: bug, category: imgproc

#14895 dnn: configure plugin path for InferenceEngine
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn

#14899 dnn: fix BNLL layer implementation
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/test/test_halide_layers.cpp
Labels: bug, category: dnn

#14881 Limit number of threads in CPU plugin of IE by OpenCV's getNumThreads
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn, feature

#14905 Fixed multi instrumentations
  modules/core/include/opencv2/core/private.hpp
Labels: category: build/install

#14914 Fixed names conflict with dldt
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: category: build/install, category: dnn

#14918 dnn: adjust compilation options
  modules/dnn/src/op_inf_engine.hpp
Labels: category: build/install, category: dnn

#14757 G-API: Introduce new approach to write accuracy tests
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/common/gapi_tests_helpers.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
Labels: category: g-api, test

#14892 G-API: Parameterized render tests
  modules/gapi/src/api/render.cpp
  modules/gapi/test/common/gapi_render_tests.cpp
  modules/gapi/test/common/gapi_render_tests.hpp
  modules/gapi/test/common/gapi_render_tests_inl.hpp
  modules/gapi/test/cpu/gapi_render_tests_cpu.cpp
  modules/gapi/test/gapi_render_test.cpp
Labels: category: g-api

#14922 G-API: Align operators tests to new test model
  modules/gapi/test/common/gapi_operators_tests.hpp
  modules/gapi/test/common/gapi_operators_tests_inl.hpp
  modules/gapi/test/cpu/gapi_operators_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_operators_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_operators_tests_gpu.cpp
Labels: category: g-api

#14923 G-API: Align imgproc tests to new model
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
Labels: category: g-api

#14885 Async API for GAPI : output arguments lifetime tests
  modules/gapi/include/opencv2/gapi/gcompiled_async.hpp
  modules/gapi/include/opencv2/gapi/gcomputation_async.hpp
  modules/gapi/test/gapi_async_test.cpp
Labels: category: g-api

#14920 Fix detection of 32bit ARM builds on Aarch64
  cmake/OpenCVDetectCXXCompiler.cmake
Labels: category: build/install

#14931 Final fix for JS sample of dnn
  samples/dnn/js_face_recognition.html
Labels: category: samples

#14934 Explicitly default operator= for Vec<T, n>
  modules/core/include/opencv2/core/matx.hpp
Labels: category: build/install, category: core

#14936 Crosscorr cleanup
  modules/imgproc/src/filter.dispatch.cpp
  modules/imgproc/src/filterengine.hpp
  modules/imgproc/src/templmatch.cpp
Labels: category: imgproc
