Repository opencv/opencv, pull requests merged in 2019-11, with the labels that each got.

#15831 pylint: eliminate warnings
  modules/python/test/test_cuda.py
  samples/python/dis_opt_flow.py
  samples/python/stitching.py
  samples/python/stitching_detailed.py
Labels: category: build/install

#15555 Vectorize flipHoriz and flipVert functions.
  modules/core/src/copy.cpp
Labels: category: core, optimization

#15812 Use FlsAlloc/FlsFree/FlsGetValue/FlsSetValue instead of TlsAlloc/TlsFree/TlsGetValue/TlsSetValue to implment TLS value cleanup when thread has been terminated on Windows Vista and above
  modules/core/src/system.cpp
Labels: category: core, feature, platform: win32

#15820 Clarify stereoRectify() doc
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#15821 Fix wrong definition of viz::Color::navy()
  modules/viz/include/opencv2/viz/types.hpp
Labels: bug, category: viz

#15834 python: fix type error msg
  modules/python/src2/gen2.py
Labels: bug, category: python bindings

#15838 Correct stereoRectify documentation
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#15842 Fix YAML parse
  modules/core/src/persistence_yml.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#15828 Convert moments in tile algorithms to HAL (1.3x faster for VSX).
  modules/imgproc/src/moments.cpp
Labels: category: imgproc, optimization

#15813 Fix OpenCL device detection when some OpenCL platform has no devices
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#15814 Simplify OpenCL info dumping code
  modules/core/include/opencv2/core/opencl/opencl_info.hpp
Labels: category: core, category: ocl

#15159 fix FindOpenEXR to respect OPENEXR_ROOT
  cmake/OpenCVFindOpenEXR.cmake
Labels: category: build/install

#15854 Removed a minor typo
  modules/cudaoptflow/src/pyrlk.cpp
Labels: bug, category: gpu/cuda (contrib)

#15867 Install: added missing gapi headers
  modules/gapi/CMakeLists.txt
Labels: category: build/install, category: g-api / gapi

#15866 Added SECURITY.md
  SECURITY.md
Labels: category: infrastructure

#15868 core(persistence): add more checks for implementation limitations
  modules/core/src/persistence_json.cpp
  modules/core/src/persistence_xml.cpp
Labels: bug, category: core, category: vulnerability

#15848 core(test): add test for YAML parse multiple documents
  modules/core/test/test_io.cpp
Labels: category: core, port/backport done, test

#15832 Grammar fixes for python core operations docs
  doc/py_tutorials/py_core/py_basic_ops/py_basic_ops.markdown
  doc/py_tutorials/py_core/py_image_arithmetics/py_image_arithmetics.markdown
  doc/py_tutorials/py_core/py_optimization/py_optimization.markdown
Labels: category: documentation

#15319 opencv.js : expose FS
  modules/js/src/helpers.js
Labels: category: javascript (js)

#15861 Fix dnn::getLayerInputs
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_misc.cpp
Labels: category: dnn

#15811 Supported ONNX Squeeze, ReduceL2 and Eltwise::DIV
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#15826 cmake: fix ITT define condition
  modules/core/CMakeLists.txt
Labels: bug, category: build/install, category: core

#15835 cmake(cpu optmizations): fix cleanup of OPENCV_DEPENDANT_TARGETS_* vars
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVModule.cmake
  cmake/OpenCVUtils.cmake
Labels: bug, category: build/install

#15877 videoio: Fixed relative paths handling in GStreamer backend
  modules/videoio/src/cap_gstreamer.cpp
Labels: bug, category: videoio

#15875 Fix Windows installation script error
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation, platform: win32

#15891 cmake: set _WIN32_WINNT for Windows 7 API
  cmake/OpenCVCompilerOptions.cmake
Labels: bug, category: core, platform: win32

#15883 Refactor opencl_info
  modules/core/include/opencv2/core/opencl/opencl_info.hpp
Labels: category: core, category: ocl

#15874 GAPI Fluid: The run_sepfilter() has logic error into snippet for 5x5 …
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
Labels: category: g-api / gapi

#15425 JS - adds a tutorial about running opencv.js in Node.js
  doc/js_tutorials/js_setup/js_nodejs/js_nodejs.markdown
  doc/js_tutorials/js_setup/js_table_of_contents_setup.markdown
Labels: category: documentation, category: javascript (js)

#15900 Fix MacOS build
  platforms/osx/build_framework.py
Labels: category: build/install, platform: ios/osx

#15905 imgproc(IPP): disable ippiDistanceTransform_3x3_8u32f_C1R
  modules/imgproc/src/distransform.cpp
Labels: bug, category: imgproc

#15906 G-API (Fluid) core support for I420
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/test/gapi_fluid_test_kernels.cpp
Labels: category: g-api / gapi

#15896 build: GCC9 compilation
  3rdparty/protobuf/CMakeLists.txt
  cmake/OpenCVUtils.cmake
  modules/calib3d/src/solvepnp.cpp
  modules/calib3d/src/upnp.cpp
  modules/calib3d/src/upnp.h
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence_cpp.cpp
  modules/highgui/src/window_gtk.cpp
  modules/imgproc/src/fixedpoint.inl.hpp
Labels: category: build/install

#15852 GAPI Fluid: SIMD optimization for sep filters of 5x5 kernel size (gaussBlur)
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: category: g-api / gapi

#15911 Fix bug in ONNX ReduceL2
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn

#15100 Implement Camera Multiplexing API
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/perf/perf_camera.impl.hpp
  modules/videoio/perf/perf_input.cpp
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/test/test_camera.cpp
Labels: category: videoio(camera), feature

#15917 Convert demosiacing with variable number of gradients to HAL
  modules/imgproc/src/demosaicing.cpp
Labels: category: imgproc, optimization

#15503 Js test puppeteer
  .gitignore
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  modules/js/test/package.json
  modules/js/test/run_puppeteer.js
  modules/js/test/tests.html
Labels: category: javascript (js), test

#15855 imgproc: fix bit-exact GaussianBlur() / sepFilter2D()
  modules/features2d/misc/java/test/BruteForceDescriptorMatcherTest.java
  modules/features2d/misc/java/test/BruteForceL1DescriptorMatcherTest.java
  modules/features2d/misc/java/test/BruteForceSL2DescriptorMatcherTest.java
  modules/features2d/misc/java/test/FlannBasedDescriptorMatcherTest.java
  modules/features2d/misc/java/test/ORBDescriptorExtractorTest.java
  modules/imgproc/src/filter.dispatch.cpp
  modules/imgproc/src/fixedpoint.inl.hpp
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/test/test_filter.cpp
  modules/imgproc/test/test_smooth_bitexact.cpp
  modules/objdetect/misc/python/test/test_facedetect.py
  modules/ts/include/opencv2/ts.hpp
  modules/ts/src/ts.cpp
Labels: bug, category: imgproc, test

#15888 Introducing the sample of Face Beautification algorithm implemented via Graph-API
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/samples/face_beautification.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend.hpp
Labels: category: g-api / gapi, category: samples

#15290 Add retrieve encoded frame to VideoCapture
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: RFC, category: videoio

#15937 Fix 13577
  modules/core/test/test_umat.cpp
  modules/imgproc/src/resize.cpp
Labels: category: imgproc, category: ocl

#15938 (3.4) videoio: retrieve encoded frames through FFmpeg backend
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_api.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: videoio, feature

#15935 Fixed own::Mat::empty() for non-md case
  modules/gapi/include/opencv2/gapi/own/mat.hpp
  modules/gapi/test/own/mat_tests.cpp
Labels: category: g-api / gapi

#15919 python: force using of ArgInfo
  modules/dnn/misc/python/pyopencv_dnn.hpp
  modules/flann/misc/python/pyopencv_flann.hpp
  modules/ml/misc/python/pyopencv_ml.hpp
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/src2/pycompat.hpp
  modules/videoio/misc/python/pyopencv_videoio.hpp
Labels: bug, category: python bindings

#15946 js(test): update features2d test
  modules/js/test/test_features2d.js
Labels: category: javascript (js), test

#15945 dnn: update InferenceEngine extension handling
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn

#15925 core(test): extending tests with SIMD C++ emulation code (intrin_cpp.hpp)
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/test/test_intrin.cpp
  modules/core/test/test_intrin_emulator.cpp
Labels: category: core, optimization, test

#15918 python: emit bindings conversion failures
  modules/python/src2/cv2.cpp
Labels: category: python bindings

#15950 ffmpeg/4.x: update FFmpeg plugin
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: 3rdparty, category: videoio

#15494 Improving VSX performance of integral function
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_sse_em.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/core/test/test_intrin_utils.hpp
  modules/imgproc/src/sumpixels.cpp
Labels: category: core, optimization

#15956 Samples DNN: tf_text_graph_sd.py loads box coder variance and box NMS…
  samples/dnn/tf_text_graph_ssd.py
Labels: category: dnn

#15951 python: reduce code size of cv2.cpp
  modules/python/src2/cv2.cpp
Labels: category: build/install, category: python bindings

#15962 dnn: fix registration of custom OpenCVLayer
  modules/dnn/src/op_inf_engine.cpp
Labels: bug, category: dnn

#15968 core: fix MSA build
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
Labels: bug, category: build/install, category: core, platform: other

#15970 Fix android armv7 c++_static init crash
  modules/core/src/logger.cpp
  modules/core/src/system.cpp
Labels: bug, category: core, platform: android

#15971 core(kmeans): bailout if can't select cluster center
  modules/core/src/kmeans.cpp
  modules/core/test/test_math.cpp
Labels: bug, category: core

#15973 Fix infinite loop when trying to change state of the busy camera
  modules/videoio/src/cap_v4l.cpp
Labels: bug, category: videoio(camera)

#15975 Add information to iOS build instructions:
  doc/tutorials/introduction/ios_install/ios_install.markdown
  doc/tutorials/introduction/table_of_content_introduction.markdown
Labels: category: documentation, platform: ios/osx

#15980 Update links to Doxygen website
  doc/tutorials/introduction/cross_referencing/tutorial_cross_referencing.markdown
  doc/tutorials/introduction/documenting_opencv/documentation_tutorial.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation

#15959 ml: refactored tests
  modules/ml/test/test_ann.cpp
  modules/ml/test/test_bayes.cpp
  modules/ml/test/test_em.cpp
  modules/ml/test/test_emknearestkmeans.cpp
  modules/ml/test/test_gbttest.cpp
  modules/ml/test/test_kmeans.cpp
  modules/ml/test/test_knearest.cpp
  modules/ml/test/test_lr.cpp
  modules/ml/test/test_mltests.cpp
  modules/ml/test/test_mltests2.cpp
  modules/ml/test/test_precomp.hpp
  modules/ml/test/test_rtrees.cpp
  modules/ml/test/test_save_load.cpp
  modules/ml/test/test_svmsgd.cpp
  modules/ml/test/test_svmtrainauto.cpp
  modules/ml/test/test_utils.cpp
Labels: category: ml, test

#15978 videoio(v4l2): use logging, update handling of EBUSY, device closing
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/src/precomp.hpp
Labels: category: videoio(camera), platform: linux

#15986 FusedBatchNormV3 from TensorFlow
  modules/dnn/src/tensorflow/tf_importer.cpp
  samples/dnn/tf_text_graph_ssd.py
Labels: category: dnn

#15991 grammar corrections
  doc/py_tutorials/py_imgproc/py_colorspaces/py_colorspaces.markdown
  doc/py_tutorials/py_imgproc/py_filtering/py_filtering.markdown
  doc/py_tutorials/py_imgproc/py_geometric_transformations/py_geometric_transformations.markdown
  doc/py_tutorials/py_imgproc/py_thresholding/py_thresholding.markdown
Labels: category: documentation, category: imgproc

#15995 Fix some typos
  doc/js_tutorials/js_gui/js_trackbar/js_trackbar.markdown
  doc/py_tutorials/py_gui/py_trackbar/py_trackbar.markdown
  doc/py_tutorials/py_ml/py_knn/py_knn_opencv/py_knn_opencv.markdown
  doc/tutorials/imgproc/random_generator_and_text/random_generator_and_text.markdown
  modules/core/include/opencv2/core/hal/msa_macros.h
  modules/dnn/src/cuda/concat.cu
  modules/dnn/src/cuda/padding.cu
  modules/dnn/src/cuda/permute.cu
  modules/dnn/src/cuda/slice.cu
  modules/dnn/src/cuda4dnn/csl/cudnn/cudnn.hpp
  modules/dnn/src/cuda4dnn/csl/tensor.hpp
  modules/dnn/src/cuda4dnn/primitives/normalize_bbox.hpp
  modules/dnn/src/cuda4dnn/primitives/pooling.hpp
  modules/dnn/src/op_cuda.hpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_operators_tests.hpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
  modules/imgproc/test/test_watershed.cpp
Labels: backport is needed, category: documentation

#16001 (3.4) Fix some typos (backport #15995)
  doc/js_tutorials/js_gui/js_trackbar/js_trackbar.markdown
  doc/py_tutorials/py_gui/py_trackbar/py_trackbar.markdown
  doc/py_tutorials/py_ml/py_knn/py_knn_opencv/py_knn_opencv.markdown
  doc/tutorials/imgproc/random_generator_and_text/random_generator_and_text.markdown
  modules/core/include/opencv2/core/hal/msa_macros.h
  modules/imgproc/test/test_watershed.cpp
Labels: category: documentation

#15753 G-API: Introduced Security Barrier & Interactive Face Detection samples
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  samples/cpp/tutorial_code/gapi/age_gender_emotion_recognition/age_gender_emotion_recognition.cpp
  samples/cpp/tutorial_code/gapi/security_barrier_camera/security_barrier_camera.cpp
Labels: category: g-api / gapi, category: samples

#15869 G-API: Implement PlaidML2 backend
  modules/gapi/CMakeLists.txt
  modules/gapi/cmake/init.cmake
  modules/gapi/include/opencv2/gapi/plaidml/core.hpp
  modules/gapi/include/opencv2/gapi/plaidml/gplaidmlkernel.hpp
  modules/gapi/include/opencv2/gapi/plaidml/plaidml.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gbackend_priv.hpp
  modules/gapi/src/backends/plaidml/gplaidmlbackend.cpp
  modules/gapi/src/backends/plaidml/gplaidmlbackend.hpp
  modules/gapi/src/backends/plaidml/gplaidmlcore.cpp
  modules/gapi/src/backends/plaidml/plaidml_util.hpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/test/gapi_plaidml_pipelines.cpp
  modules/gapi/test/gapi_sample_pipelines.cpp
Labels: category: g-api / gapi

#15839 core(simd): v_setall template
  cmake/templates/opencv_abi.xml.in
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/simd_utils.impl.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: category: core, optimization

#15994 Rename parameter R to H in AffineWarper member declarations
  modules/stitching/include/opencv2/stitching/detail/warpers.hpp
Labels: category: documentation, category: stitching

#15998 ts: count skipped tests via SkipTestException
  modules/ts/include/opencv2/ts.hpp
  modules/ts/include/opencv2/ts/ts_ext.hpp
  modules/ts/include/opencv2/ts/ts_perf.hpp
  modules/ts/src/ts.cpp
  modules/ts/src/ts_perf.cpp
  modules/ts/src/ts_tags.cpp
  modules/ts/src/ts_tags.hpp
Labels: test

#15695 Fix incorrect use of std::move() in g-api perf tests
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
Labels: category: g-api / gapi

#16017 ml: fix check in SVM::trainAuto
  modules/ml/src/svm.cpp
Labels: bug, category: ml

#15955 Tests for argument conversion of Python bindings generator
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/test/test_misc.py
Labels: category: python bindings, test

#16006 Fixes typo in calib3d.hpp
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation
