Repository opencv/opencv, pull requests merged in 2019-03, with the labels that each got.

#13935 core:vsx Fix narrowing warning on vector splats
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: bug, category: build/install, category: core, platform: other

#13940 ml: handle sigmoid NaN result (should be Inf)
  modules/ml/src/svm.cpp
Labels: bug, category: ml

#13942 imgproc: removed LSD code due original code license conflict
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/lsd.cpp
  modules/imgproc/test/test_lsd.cpp
  samples/cpp/lsd_lines.cpp
Labels: category: imgproc

#13947 core, stitching: revise syntax to support Visual C++ 2013
  modules/core/src/persistence_json.cpp
  modules/stitching/include/opencv2/stitching.hpp
  modules/stitching/src/stitcher.cpp
Labels: category: build/install, category: core, category: stitching, platform: win32

#13951 dnn: fix usage of CV_LOG_VERBOSE macro
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
Labels: category: build/install, category: dnn

#13958 CUDA 10.1 Build Issue Fix
  modules/cudev/include/opencv2/cudev/warp/shuffle.hpp
Labels: category: build/install, category: gpu/cuda (contrib)

#13960 Windows Build Issue Fix
  modules/core/include/opencv2/core/cuda/detail/color_detail.hpp
Labels: category: build/install, category: gpu/cuda (contrib)

#13922 G-API: Remove incorrect assert in NV12 to RGB/BGR kernels
  modules/gapi/include/opencv2/gapi/imgproc.hpp
Labels: category: g-api

#13939 Android build improvements
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#13910 Fix Issue_13908
  modules/calib3d/src/calibration.cpp
Labels: bug, category: calib3d

#13949 cmake: +opencv_videoio_plugins virtual target
  cmake/OpenCVModule.cmake
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/plugin.cmake
Labels: category: build/install, category: videoio

#13969 videoio(v4l): fix build due missing defines
  modules/videoio/src/cap_v4l.cpp
Labels: bug, category: build/install, category: videoio, platform: linux

#13967 (3.4) android: backport build_sdk.py
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#13974 build: fix warnings
  modules/core/src/cuda_host_mem.cpp
  modules/core/src/opengl.cpp
  modules/highgui/src/window_QT.cpp
Labels: category: build/install

#13953 Need -DBUILD_DOCS CMake flag to build docs
  doc/tutorials/introduction/documenting_opencv/documentation_tutorial.markdown
Labels: bug, category: documentation

#13962 OpenCVDetectCXXCompiler.cmake update VS 2019
  cmake/OpenCVDetectCXXCompiler.cmake
  cmake/templates/OpenCVConfig.root-WIN32.cmake.in
Labels: category: build/install, feature

#13980 Fixed out of bound reading in LINEAR_EXACT resize for 8UC3
  modules/imgproc/src/resize.cpp
Labels: bug, category: imgproc

#13880 Add Hand-Eye calibration methods
  doc/opencv.bib
  modules/calib3d/doc/pics/hand-eye_figure.png
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/calibration_handeye.cpp
  modules/calib3d/test/test_calibration_hand_eye.cpp
Labels: category: calib3d, feature

#13988 videoio: gst: Fix gst assertion on null msg
  modules/videoio/src/cap_gstreamer.cpp
Labels: bug, category: videoio

#13993 Add ability to read thresh and nms_threshold from YOLO layer in YOLOV…
  modules/dnn/src/darknet/darknet_io.cpp
Labels: category: dnn, feature

#13986 perf: ignore _ovx tests
  modules/imgproc/perf/perf_filter2d.cpp
  modules/imgproc/perf/perf_pyramids.cpp
  modules/imgproc/perf/perf_warp.cpp
  modules/video/perf/perf_optflowpyrlk.cpp
Labels: test

#13979 core: fix condition in OutputArray::create(allowTransposed=True)
  modules/core/src/matrix_wrap.cpp
  modules/core/test/test_misc.cpp
Labels: bug, category: core

#13875 DNN: Optimization: Fuse Deconvolution -> BatchNorm
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn

#13999 fix android lint error in BaseLoaderCallback (LongLogTag)
  modules/java/generator/android/java/org/opencv/android/BaseLoaderCallback.java
Labels: platform: android

#14000 CUDA 10.1 Build Issue Fix on Master Branch
  modules/core/include/opencv2/core/cvstd_wrapper.hpp
Labels: category: build/install, category: gpu/cuda (contrib)

#13997 imgproc: dispatch cvtcolor
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/private.hpp
  modules/imgproc/CMakeLists.txt
  modules/imgproc/src/color.cpp
  modules/imgproc/src/color.hpp
  modules/imgproc/src/color.simd_helpers.hpp
  modules/imgproc/src/color_hsv.dispatch.cpp
  modules/imgproc/src/color_hsv.simd.hpp
  modules/imgproc/src/color_lab.cpp
  modules/imgproc/src/color_rgb.dispatch.cpp
  modules/imgproc/src/color_rgb.simd.hpp
  modules/imgproc/src/color_yuv.dispatch.cpp
  modules/imgproc/src/color_yuv.simd.hpp
Labels: category: imgproc, optimization

#13956 Expose more C++ functionality in the Java wrapper of the Mat class
  modules/core/misc/java/src/java/core+Mat.java
  modules/core/misc/java/test/MatTest.java
  modules/java/generator/src/cpp/Mat.cpp
  modules/java/test/android_test/src/org/opencv/test/OpenCVTestCase.java
  modules/java/test/pure_test/src/org/opencv/test/OpenCVTestCase.java
Labels: category: java bindings, feature

#13847 Add JPEG2000 compression flag.
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_jpeg2000.cpp
Labels: category: imgcodecs, feature

#14015 issue-13921: Support setting compression setting for writing tiff images
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_tiff.cpp
Labels: category: imgcodecs, feature

#14022 core(intrin): NEON v_load_expand_q() support unaligned addr
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
Labels: bug, category: core, platform: arm

#14011 Add Android SDK debug build flag
  modules/dnn/misc/java/src/cpp/dnn_converters.cpp
  modules/java/android_sdk/android_gradle_lib/build.gradle
  platforms/android/build_sdk.py
Labels: category: build/install, feature, platform: android

#14036 fix segfault when CONVERT_RGB is disabled with V4L backend
  modules/videoio/src/cap_v4l.cpp
Labels: bug, category: video

#14029 Tutorial create pattern grid for calibration using gen_pattern.py
  doc/tutorials/calib3d/camera_calibration_pattern/camera_calibration_pattern.markdown
  doc/tutorials/calib3d/table_of_content_calib3d.markdown
Labels: category: calib3d, category: documentation

#14041 Extract Ptr-related code from lut.cu to new lut.cpp
  modules/cudaarithm/src/core.cpp
  modules/cudaarithm/src/cuda/lut.cu
  modules/cudaarithm/src/lut.cpp
  modules/cudaarithm/src/lut.hpp
Labels: category: gpu/cuda (contrib)

#14043 imgproc: revert #13843
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/drawing.cpp
Labels: category: imgproc

#14045 Fix bug in test_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: bug, category: imgcodecs, test

#13695 Fixed bug that made cuda::filter give corrupted output when different filters were used in different threads/streams.
  modules/cudafilters/src/cuda/filter2d.cu
Labels: category: gpu/cuda (contrib)

#13655 Update documentation -photo.hpp-
  modules/photo/include/opencv2/photo.hpp
Labels: category: documentation, category: photo

#14040 core:vsx working around gcc aligned memory access bug
  cmake/OpenCVCompilerOptions.cmake
  cmake/OpenCVUtils.cmake
  cmake/checks/runtime/cpu_vsx_aligned.cpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
Labels: bug, category: core, optimization

#14054 Removed obsolete functions from cap_dc1394_v2.cpp
  modules/videoio/src/cap_dc1394_v2.cpp
Labels: category: videoio(camera)

#14048 android: don't install java/build.gradle
  modules/java/android_sdk/CMakeLists.txt
Labels: bug, category: build/install, platform: android

#14051 Issue 14047
  samples/python/stitching_detailed.py
Labels: bug, category: python bindings, category: samples

#14050 Changed eps checking condition
  modules/ml/src/ann_mlp.cpp
Labels: bug, category: ml

#14068 python: update CMake install rules
  modules/python/common.cmake
  modules/python/standalone.cmake
Labels: bug, category: build/install, category: python bindings

#14070 fix the region layer's output anchor size normalization error
  modules/dnn/src/layers/region_layer.cpp
Labels: bug, category: dnn

#14057 3rdparty: fix libtiff build
  3rdparty/libtiff/tif_config.h.cmake.in
Labels: bug, category: build/install

#14059 imgcodecs: OPENCV_IO_ENABLE_JASPER runtime parameter
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/src/grfmt_jpeg2000.cpp
  modules/imgcodecs/test/test_grfmt.cpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: bug, category: imgcodecs, category: vulnerability

#14071 cmake: clean unreferenced functions from OpenCV modules too
  cmake/OpenCVCompilerOptions.cmake
Labels: bug, category: build/install, priority: high

#14079 changes cmake_system_name matching condition
  CMakeLists.txt
Labels: bug, category: build/install

#14083 adding missing quick navigation to ImageProc module
  doc/tutorials/imgproc/anisotropic_image_segmentation/anisotropic_image_segmentation.markdown
  doc/tutorials/imgproc/motion_deblur_filter/motion_deblur_filter.markdown
  doc/tutorials/imgproc/out_of_focus_deblur_filter/out_of_focus_deblur_filter.markdown
  doc/tutorials/imgproc/periodic_noise_removing_filter/periodic_noise_removing_filter.markdown
Labels: category: documentation

#14089 core: add iterations limit check in eigenNonSymmetric()
  modules/core/src/lda.cpp
  modules/core/test/test_eigen.cpp
Labels: bug, category: core

#14091 core: cache dir version update
  modules/core/src/utils/filesystem.cpp
Labels: category: core

#14103 core: fix Core_EigenNonSymmetric.convergence test
  modules/core/test/test_eigen.cpp
Labels: bug, category: core, test

#14099 core:vsx Several improvements(3)
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
Labels: category: core, optimization, platform: other

#14090 [G-API] Allow unused nodes in Fluid backend
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/test/gapi_fluid_test.cpp
Labels: category: g-api

#14005 Add Android Media NDK video I/O file capture back-end
  CMakeLists.txt
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/detect_android_mediandk.cmake
  modules/videoio/cmake/init.cmake
  modules/videoio/src/cap_android_mediandk.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/videoio_registry.cpp
  platforms/android/ndk-18-api-level-21.config.py
Labels: category: videoio, effort: few weeks, feature, platform: android

#14104 android: reduce memory consumption by gradle builds
  platforms/android/build_sdk.py
Labels: category: build/install, category: infrastructure, platform: android

#14069 transform() implementation updated to utilize wide universal intrinsics
  modules/core/src/matmul.simd.hpp
Labels: category: core, optimization

#14110 core:vsx Add support for VSX3 half precision conversions
  cmake/OpenCVCompilerOptions.cmake
  cmake/checks/cpu_vsx_asm.cpp
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: category: core, optimization

#14092 flann/kmeans: Fix non-determinism of KMeans index
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: bug, category: ml

#14096 Remove fullscreen android:theme from samples where it breaks the menu
  samples/android/15-puzzle/AndroidManifest.xml
  samples/android/15-puzzle/gradle/AndroidManifest.xml
  samples/android/camera-calibration/AndroidManifest.xml
  samples/android/camera-calibration/gradle/AndroidManifest.xml
  samples/android/face-detection/AndroidManifest.xml
  samples/android/face-detection/gradle/AndroidManifest.xml
  samples/android/image-manipulations/AndroidManifest.xml
  samples/android/image-manipulations/gradle/AndroidManifest.xml
  samples/android/tutorial-2-mixedprocessing/AndroidManifest.xml
  samples/android/tutorial-2-mixedprocessing/gradle/AndroidManifest.xml
  samples/android/tutorial-3-cameracontrol/AndroidManifest.xml
  samples/android/tutorial-3-cameracontrol/gradle/AndroidManifest.xml
  samples/android/tutorial-4-opencl/AndroidManifest.xml
  samples/android/tutorial-4-opencl/gradle/AndroidManifest.xml
Labels: bug, category: samples, platform: android

#14113 Remove dead link in calib3d.hpp
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#14108 (3.4) samples: fix python samples compatibility with demo.py
  samples/python/asift.py
  samples/python/browse.py
  samples/python/calibrate.py
  samples/python/camera_calibration_show_extrinsics.py
  samples/python/camshift.py
  samples/python/coherence.py
  samples/python/color_histogram.py
  samples/python/contours.py
  samples/python/deconvolution.py
  samples/python/dft.py
  samples/python/digits.py
  samples/python/digits_adjust.py
  samples/python/digits_video.py
  samples/python/distrans.py
  samples/python/edge.py
  samples/python/facedetect.py
  samples/python/find_obj.py
  samples/python/fitline.py
  samples/python/floodfill.py
  samples/python/gabor_threads.py
  samples/python/gaussian_mix.py
  samples/python/grabcut.py
  samples/python/hist.py
  samples/python/houghcircles.py
  samples/python/houghlines.py
  samples/python/inpaint.py
  samples/python/kalman.py
  samples/python/kmeans.py
  samples/python/lappyr.py
  samples/python/letter_recog.py
  samples/python/lk_homography.py
  samples/python/lk_track.py
  samples/python/logpolar.py
  samples/python/morphology.py
  samples/python/mouse_and_match.py
  samples/python/mser.py
  samples/python/opencv_version.py
  samples/python/opt_flow.py
  samples/python/peopledetect.py
  samples/python/squares.py
  samples/python/stereo_match.py
  samples/python/texture_flow.py
  samples/python/tst_scene_render.py
  samples/python/turing.py
  samples/python/video.py
  samples/python/video_threaded.py
  samples/python/video_v4l2.py
  samples/python/watershed.py
Labels: bug, category: python bindings, category: samples, priority: high

#14112 android: build package with API 21
  platforms/android/build-tests/test_cmake_build.py
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#14121 cmake:vsx Fix compilation fail on aligned runtime test
  cmake/checks/runtime/cpu_vsx_aligned.cpp
Labels: bug, category: build/install, platform: other

#14109 Created python version of the code for the anisotropic image segmenta…
  doc/tutorials/imgproc/anisotropic_image_segmentation/anisotropic_image_segmentation.markdown
  samples/python/tutorial_code/imgProc/anisotropic_image_segmentation/anisotropic_image_segmentation.py
Labels: category: documentation, category: imgproc

#14101 core: fix fallback CV_CONSTEXPR definition
  modules/core/include/opencv2/core/cvdef.h
Labels: bug, category: build/install, category: core

#14125 cmake: support OpenVINO env variable: INTEL_OPENVINO_DIR
  cmake/OpenCVDetectInferenceEngine.cmake
Labels: category: build/install, category: dnn

#14124 samples: fix python samples compatibility with demo.py
  samples/python/dis_opt_flow.py
  samples/python/stitching.py
  samples/python/stitching_detailed.py
Labels: bug, category: python bindings, category: samples

#14126 Implementing AVX512 Support for 1 channel mats for CV_64F format
  modules/imgproc/src/sumpixels.avx512_skx.cpp
  modules/imgproc/src/sumpixels.cpp
Labels: category: imgproc, optimization

#13972 Add CUDA support for D3D11 interop.
  3rdparty/include/opencl/1.2/CL/cl_d3d11_ext.h
  CMakeLists.txt
  cmake/OpenCVDetectOpenCL.cmake
  cmake/templates/cvconfig.h.in
  modules/core/src/directx.cpp
  modules/core/src/directx.inc.hpp
Labels: category: core, category: ocl, feature

#14141 Extend LRN layer support with IE backend
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/test/test_halide_layers.cpp
Labels: category: dnn

#14142 Fixed cvdef.h for MSVC C users
  modules/core/include/opencv2/core/cvdef.h
Labels: bug, category: build/install, category: core, port/backport done

#14155 OCL: define CL_SILENCE_DEPRECATION on MacOSX
  modules/core/include/opencv2/core/opencl/runtime/autogenerated/opencl_core.hpp
  modules/core/src/opencl/runtime/generator/template/opencl_core.hpp.in
  modules/core/src/opencl/runtime/opencl_core.cpp
  samples/opencl/opencl-opencv-interop.cpp
Labels: category: build/install, category: ocl, platform: ios/osx

#14146 cmake: set CMP0068 => NEW
  CMakeLists.txt
Labels: category: build/install, platform: ios/osx

#14102 core: refactor EigenvalueDecomposition (hqr2)
  modules/core/src/lda.cpp
Labels: category: core

#14162 core: eliminate coverity scan issues
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/matx.hpp
  modules/core/src/copy.cpp
  modules/core/test/test_math.cpp
Labels: category: core

#14172 G-API: Fix valgrind issue in NV12 test
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
Labels: bug, category: g-api, test

#14168 dnn: fix support drop for IE<2018R3
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: bug, category: build/install, category: dnn

#14170 cmake: hide helper modules
  CMakeLists.txt
Labels: category: build/install

#14166 Fix Mobilenet v2 from TensorFlow slim
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#14177 cmake: emit error if CUDA is enabled without opencv_contrib
  modules/core/CMakeLists.txt
Labels: category: build/install, category: gpu/cuda (contrib)

#14154 Fixed #14148 Broken Documentation Link
  doc/tutorials/dnn/dnn_googlenet/dnn_googlenet.markdown
Labels: bug, category: dnn, category: documentation

#13932 Fix precision in tests for MyriadX
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/include/opencv2/dnn/utils/inference_engine.hpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_common.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, test

#14156 videoio: added bad parameters handling to VideoWriter
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_mfx_writer.cpp
  modules/videoio/test/test_dynamic.cpp
  modules/videoio/test/test_mfx.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio

#14193 3rdparty(zlib): prevent uninitialized use of state->check
  3rdparty/zlib/inflate.c
  3rdparty/zlib/patches/20190330-ununitialized-use-state-check.diff
Labels: backport is needed, category: 3rdparty

#14196 dnn:perf add missing definition __OPENCV_TEST to fix pch
  modules/dnn/CMakeLists.txt
Labels: bug, category: build/install, category: dnn, test

#14199 OpenBSD build fix
  modules/core/src/system.cpp
Labels: bug, category: build/install

#14202 imgcodecs(tiff): avoid leak of helper struct on malformed inputs
  modules/imgcodecs/src/grfmt_tiff.cpp
Labels: backport is needed, bug, category: imgcodecs, category: vulnerability

#14206 cmake: fix CUDA world build
  modules/core/CMakeLists.txt
Labels: category: build/install, category: gpu/cuda (contrib)
