Repository opencv/opencv, pull requests merged in 2019-01, with the labels that each got.

#13566 Fixed uninitialized value
  modules/stitching/include/opencv2/stitching/detail/exposure_compensate.hpp
  modules/stitching/src/exposure_compensate.cpp
Labels: bug, category: stitching

#13544 Fix a bug in cv :: merge when array of 3-channel mat is input
  modules/core/src/merge.cpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core, optimization

#13555 Stitcher: Setter/getter for number of gain filtering iterations
  modules/stitching/include/opencv2/stitching/detail/exposure_compensate.hpp
  modules/stitching/src/exposure_compensate.cpp
Labels: category: stitching, feature

#13587 Add Matplotlib Perceptually Uniform Sequential colormaps
  modules/imgproc/doc/pics/colormaps/colorscale_cividis.jpg
  modules/imgproc/doc/pics/colormaps/colorscale_inferno.jpg
  modules/imgproc/doc/pics/colormaps/colorscale_magma.jpg
  modules/imgproc/doc/pics/colormaps/colorscale_plasma.jpg
  modules/imgproc/doc/pics/colormaps/colorscale_twilight.jpg
  modules/imgproc/doc/pics/colormaps/colorscale_twilight_shifted.jpg
  modules/imgproc/doc/pics/colormaps/colorscale_viridis.jpg
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/colormap.cpp
Labels: category: imgproc, feature

#13553 Fix improper defining of CV_XADD when using Intel C++ on Mac
  modules/core/include/opencv2/core/cvdef.h
Labels: bug, category: build/install, platform: ios/osx

#13583 Do not compute gains when no images overlap
  modules/stitching/src/exposure_compensate.cpp
Labels: bug, category: stitching

#13571 js: allow building with aruco
  modules/js/src/core_bindings.cpp
  modules/js/src/embindgen.py
Labels: category: contrib, category: javascript (js), feature

#13584 Improve stitching detailed
  modules/stitching/include/opencv2/stitching/detail/exposure_compensate.hpp
  samples/cpp/stitching_detailed.cpp
Labels: category: samples, category: stitching, feature

#13599 Add a text message for Convolution layer's input channels check
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: dnn

#13600 Fix edge_detection.py sample for Python 3
  samples/dnn/edge_detection.py
Labels: category: dnn, category: samples

#13592 fix implicit fallthrough warning.
  3rdparty/carotene/src/resize.cpp
Labels: category: build/install

#13560 Fix typo in core+RotatedRect.java
  modules/core/misc/java/src/java/core+RotatedRect.java
Labels: bug, category: java bindings

#13606 dnn: remove malloc.h include
  modules/dnn/src/torch/THGeneral.cpp
Labels: category: build/install, category: dnn

#13601 Fix the bug in case determinant of rotation matrix is -1
  modules/calib3d/src/homography_decomp.cpp
  modules/calib3d/test/test_homography_decomp.cpp
Labels: bug, category: calib3d

#13614 SSD with FPN proposals from TensorFlow
  samples/dnn/tf_text_graph_common.py
  samples/dnn/tf_text_graph_faster_rcnn.py
  samples/dnn/tf_text_graph_mask_rcnn.py
  samples/dnn/tf_text_graph_ssd.py
Labels: category: dnn, category: samples

#13616 fixed tutorial code of py_matcher
  doc/py_tutorials/py_feature2d/py_matcher/py_matcher.markdown
Labels: category: documentation, category: python bindings, category: samples

#13617 Added CV_ALWAYS_INLINE macro
  modules/core/include/opencv2/core/cvdef.h
  modules/imgproc/src/fixedpoint.inl.hpp
Labels: category: build/install, category: core

#13619 cmake: don't use LIB_SUFFIX with CMAKE_INSTALL_LIBDIR
  CMakeLists.txt
Labels: category: build/install

#13610 Morphology reworked to use wide universal intrinsics
  modules/imgproc/src/filter.cpp
  modules/imgproc/src/morph.cpp
Labels: category: imgproc, optimization

#13622 Code clean up
  modules/calib3d/src/circlesgrid.cpp
  modules/calib3d/src/quadsubpix.cpp
  modules/calib3d/test/test_cameracalibration.cpp
  modules/calib3d/test/test_cameracalibration_artificial.cpp
  modules/calib3d/test/test_chessboardgenerator.cpp
  modules/calib3d/test/test_solvepnp_ransac.cpp
  modules/features2d/src/blobdetector.cpp
  modules/objdetect/src/qrcode.cpp
Labels: category: build/install

#13631 threshold() reworked to use wide universal intrinsics
  modules/imgproc/src/thresh.cpp
Labels: category: imgproc, optimization

#13639 GAPI: fix GCall misuse in unrollExpr
  modules/gapi/src/api/gcall.cpp
  modules/gapi/src/compiler/gmodelbuilder.cpp
Labels: category: g-api

#13625 Fix Farneback Optical Flow Algorithm
  modules/cudaoptflow/src/farneback.cpp
  modules/cudaoptflow/test/test_optflow.cpp
  modules/video/src/optflowgf.cpp
Labels: category: gpu/cuda (contrib), feature

#13644 dnn/samples: add googlenet to model zoo
  samples/dnn/models.yml
Labels: category: dnn, category: samples

#13645 Enabled #include documentation in all members
  doc/CMakeLists.txt
  doc/Doxyfile.in
Labels: category: documentation, feature

#13586 Add Operator overload for multi-channel Mat with literal constant.
  modules/core/include/opencv2/core/operations.hpp
  modules/core/test/test_mat.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: RFC

#13640 GAPI: document GCall's recursive behavior
  modules/gapi/src/api/gcall_priv.hpp
Labels: category: g-api

#13637 fix openvx wrappers
  3rdparty/openvx/hal/openvx_hal.cpp
  3rdparty/openvx/include/ivx.hpp
  modules/imgproc/src/median_blur.cpp
Labels: bug, category: build/install

#13539 Intel's Inference Engine DNN Builder API
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/crop_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, feature

#13649 YUV/YCrCb conversions rewritten to wide intrinsics
  modules/imgproc/src/color_yuv.cpp
Labels: category: imgproc, optimization

#13580 Check syntax of stitching detailed
  doc/tutorials/stitching/stitcher/images/affinepano.jpg
  doc/tutorials/stitching/stitcher/images/compressedPlaneA2B1.jpg
  doc/tutorials/stitching/stitcher/images/fisheye.jpg
  doc/tutorials/stitching/stitcher/images/gvedit.jpg
  doc/tutorials/stitching/stitcher/stitcher.markdown
  modules/stitching/include/opencv2/stitching/detail/blenders.hpp
  modules/stitching/include/opencv2/stitching/detail/motion_estimators.hpp
  modules/stitching/src/blenders.cpp
  samples/python/stitching_detailed.py
Labels: category: stitching

#13656 Faster-RCNN from TensorFlow with dilated convolutions
  samples/dnn/tf_text_graph_faster_rcnn.py
Labels: category: dnn, feature

#13665 (2.4) flann: use OpenCV theRNG()
  modules/flann/include/opencv2/flann/kdtree_index.h
  modules/flann/include/opencv2/flann/lsh_index.h
  modules/flann/include/opencv2/flann/random.h
Labels: bug, category: flann, port/backport done

#13669 core(test): relax eigen eps value: 0.01 -> 0.02
  modules/core/test/test_eigen.cpp
Labels: category: core, test

#13658 __shfl_up_sync with mask for CUDA >= 9
  modules/cudaimgproc/src/cuda/clahe.cu
  modules/cudev/include/opencv2/cudev/block/scan.hpp
  modules/cudev/include/opencv2/cudev/grid/detail/integral.hpp
  modules/cudev/include/opencv2/cudev/warp/scan.hpp
  modules/cudev/include/opencv2/cudev/warp/shuffle.hpp
  modules/cudev/test/test_scan.cu
Labels: bug, category: gpu/cuda (contrib), feature

#13664 GAPI: Add version of descr_of function taking vector of Mat
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/src/api/gmat.cpp
  modules/gapi/test/gapi_desc_tests.cpp
Labels: category: g-api

#13666 YUV/YCrCb conversions rewritten to wide intrinsics (port to master)
  modules/imgproc/src/color_yuv.cpp
Labels: category: imgproc, optimization, port/backport done

#13685 AVFoundation on Mac: fixed frame count and unsupported format handling (3.4)
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, platform: ios/osx

#13687 G-API Fixed fluid heterogeneity support
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
Labels: category: g-api

#13608 DNN: Object detection sample: Fix bug with other size
  modules/dnn/src/dnn.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_layers.cpp
Labels: bug, category: dnn

#13675 Add note about building for pkg-config
  doc/tutorials/introduction/linux_install/linux_install.markdown
Labels: category: build/install, category: documentation, platform: linux

#13686 AVFoundation on Mac: fixed frame count and unsupported format handling (master)
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/test/test_video_io.cpp
Labels: bug, category: video, platform: ios/osx

#13707 Fix a dnn bug with retrieving all the output blobs
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_misc.cpp
Labels: bug, category: dnn

#13692 Remove ASSERT_ANY_THROW tests for Myriad plugin
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, test

#13672 PyrDown: Fix bug #12961
  modules/imgproc/src/pyramids.cpp
  modules/imgproc/test/test_filter.cpp
Labels: bug, category: imgproc

#13679 imgproc: medianBlur code cleanup
  modules/imgproc/src/median_blur.cpp
Labels: category: imgproc

#13710 Added DMatch bindings
  modules/js/src/core_bindings.cpp
Labels: category: javascript (js)

#13693 spatialGradient() reworked to use wide universal intrinsics
  modules/imgproc/src/spatialgradient.cpp
Labels: category: imgproc, optimization

#13718 SVM sigmoid kernel fix (issue #13621)
  modules/ml/src/svm.cpp
  modules/ml/test/test_svmtrainauto.cpp
Labels: bug, category: ml, test
