Repository opencv/opencv, pull requests merged in 2020-02, with the labels that each got.

#16366 Add python version of panorama_stitching_rotating_camera and perspect…
  doc/tutorials/features2d/homography/homography.markdown
  samples/java/tutorial_code/features2D/Homography/PanoramaStitchingRotatingCamera.java
  samples/java/tutorial_code/features2D/Homography/PerspectiveCorrection.java
  samples/python/tutorial_code/features2D/Homography/panorama_stitching_rotating_camera.py
  samples/python/tutorial_code/features2D/Homography/perspective_correction.py
Labels: category: documentation, category: samples

#16474 Fixed Compilation warnings | Issue #16336
  modules/core/include/opencv2/core/types.hpp
Labels: category: build/install

#16479 Fix compilation errors on GLES platforms
  modules/highgui/src/window_QT.cpp
Labels: Hackathon, bug, category: build/install

#15464 Fix issue #6450
  modules/videoio/src/cap_avfoundation.mm
Labels: Hackathon, platform: ios/osx

#16481 delete old AndroidManifest.xml
  doc/tutorials/dnn/dnn_android/dnn_android.markdown
  samples/android/camera-calibration/AndroidManifest.xml
  samples/android/color-blob-detection/AndroidManifest.xml
  samples/android/face-detection/AndroidManifest.xml
  samples/android/image-manipulations/AndroidManifest.xml
  samples/android/mobilenet-objdetect/AndroidManifest.xml
  samples/android/tutorial-1-camerapreview/AndroidManifest.xml
  samples/android/tutorial-2-mixedprocessing/AndroidManifest.xml
  samples/android/tutorial-3-cameracontrol/AndroidManifest.xml
  samples/android/tutorial-4-opencl/AndroidManifest.xml
Labels: category: samples, platform: android

#16483 Issue 16458
  cmake/OpenCVUtils.cmake
Labels: Hackathon, category: build/install

#16496 G-API: unify G_TYPED_KERNEL and G_TYPED_KERNEL_M
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/infer.hpp
Labels: category: g-api / gapi

#16493 added note about BORDER_WRAP in separable filters; fixed SGBMStereo description
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#16487 Fixed build with FREETYPE and without tests.
  modules/gapi/CMakeLists.txt
Labels: Hackathon, bug, category: build/install, category: g-api / gapi

#16442 Added PR readiness checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: pr: Discussion Required

#16502 calib3d: fix typo
  modules/calib3d/src/ap3p.cpp
Labels: category: build/install, category: calib3d

#16499 Update py_thresholding.markdown
  doc/py_tutorials/py_imgproc/py_thresholding/py_thresholding.markdown
Labels: Hackathon, category: documentation

#16491 fixed issue with Mat reshape in decodeMulti()
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: bug, category: objdetect, test

#16495 fixed antialiased line rendering to process image border correctly
  modules/imgproc/src/drawing.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: Hackathon, bug, category: imgproc, test

#16504 imgproc(resize): avoid OOB access
  modules/imgproc/src/resize.cpp
Labels: bug, category: imgproc

#16490 Fix dnn::ResizeLayer to manage varying input shapes
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn

#16518 Improved GStreamer documentation
  modules/videoio/include/opencv2/videoio.hpp
Labels: category: documentation, category: videoio

#16519 G-API: Fix ocv render text slowdown
  modules/gapi/src/api/render_ocv.cpp
Labels: category: g-api / gapi

#16509 fixes #15155
  modules/imgcodecs/src/loadsave.cpp
Labels: category: imgcodecs, feature

#16522 dnn: eliminate MSVC warnings from ngraph.hpp
  modules/dnn/src/ie_ngraph.hpp
Labels: category: build/install, category: dnn

#16523 improved documentation for IMREAD_UNCHANGED flag
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: Hackathon, category: documentation, category: imgcodecs

#16510 G-API: deprecate G_TYPED_KERNEL_M and clean up redundant code
  modules/gapi/include/opencv2/gapi/gkernel.hpp
Labels: category: g-api / gapi

#16438 Added parsing for Connected and Dropout. Modified maxpool padding
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, feature

#16530 improved documentation for imread()
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: Hackathon, category: documentation, category: imgcodecs

#16421 Local memory pool experiment
  modules/calib3d/src/stereobm.cpp
  modules/core/include/opencv2/core/utils/buffer_area.private.hpp
  modules/core/src/buffer_area.cpp
  modules/core/test/test_utils.cpp
Labels: category: core, feature

#16529 dnn(test): skip failed ngraph tests
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_misc.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, test

#16463 core: CV_STRONG_ALIGNMENT macro
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/src/copy.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: RFC, category: core, optimization

#16486 cmake: enable C++11 implicitly
  cmake/templates/OpenCVConfig.cmake.in
  samples/CMakeLists.example.in
  samples/CMakeLists.txt
  samples/android/face-detection/jni/CMakeLists.txt
  samples/android/tutorial-2-mixedprocessing/jni/CMakeLists.txt
  samples/android/tutorial-4-opencl/jni/CMakeLists.txt
  samples/cpp/example_cmake/CMakeLists.txt
Labels: Hackathon, category: build/install

#16473 TF importer: Corrected end tensor_content parsing for StridedSlice layer.
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn

#16544 CMAKE: more robust custom IE libraries support
  cmake/OpenCVDetectInferenceEngine.cmake
Labels: category: build/install, category: dnn

#16546 (3.4) CMAKE: more robust custom IE libraries support
  cmake/OpenCVDetectInferenceEngine.cmake
Labels: category: build/install, category: dnn

#16505 cmake: hide IPPICV symbols using --exclude-libs
  cmake/OpenCVFindLibsPerf.cmake
Labels: category: build/install

#16520 Install all CMake files required to build samples
  samples/CMakeLists.txt
Labels: Hackathon

#16527 MSMF: refactored format handling and property access
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, platform: win32

#16531 core: export getCPUFeaturesLine to bindings
  modules/core/include/opencv2/core/utility.hpp
  modules/python/src2/cv2.cpp
Labels: category: core, category: python bindings

#16539 Fix: cudacodec building problem with CUDA 10
  modules/cudacodec/src/cuvid_video_source.hpp
  modules/cudacodec/src/frame_queue.hpp
  modules/cudacodec/src/precomp.hpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.hpp
Labels: Hackathon, category: build/install, category: gpu/cuda (contrib)

#16542 Implemented BASE64 support in cv::FileStorage parser for JSON
  modules/core/src/persistence_json.cpp
  modules/core/test/test_io.cpp
Labels: Hackathon, category: core

#16549 fix wrong memory allocation
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#16488 trying to fix handling file storages with extremely long lines
  modules/core/src/persistence.cpp
  modules/core/src/persistence_json.cpp
  modules/core/test/test_io.cpp
Labels: category: core

#16516 DNN: update network dump
  modules/dnn/src/dnn.cpp
Labels: category: dnn, feature

#16559 cmake: update handling of MSVC /MP flag
  cmake/OpenCVCRTLinkage.cmake
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install, category: infrastructure, platform: win32

#16580 Restore PowerFunctor state
  modules/dnn/src/layers/elementwise_layers.cpp
Labels: category: dnn

#16561 improved version of HoughCircles (HOUGH_GRADIENT_ALT method)
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/hough.cpp
  modules/imgproc/test/test_houghcircles.cpp
Labels: Hackathon, category: imgproc

#16424 Fixed ONNXImporter
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn, test

#16497 Fix NN resize with dimentions > 4
  modules/imgproc/src/resize.cpp
  modules/imgproc/test/test_imgwarp.cpp
Labels: bug, category: imgproc, test

#16588 fixed cv::moveWindow() on mac
  modules/highgui/src/window_cocoa.mm
Labels: Hackathon, category: highgui-gui, platform: ios/osx

#16600 imgproc: revert resize changes from PR 16497
  modules/imgproc/src/resize.cpp
  modules/imgproc/test/test_imgwarp.cpp
Labels: category: imgproc, priority: high

#16472 Add CP-VTON sample
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
  samples/dnn/human_parsing.py
  samples/dnn/virtual_try_on.py
Labels: category: dnn

#16213 G-API: Using functors as kernel implementation
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/test/gapi_sample_pipelines.cpp
Labels: category: g-api / gapi, feature

#16555 Add "Privacy masking camera" sample for the upcoming posting
  modules/gapi/samples/privacy_masking_camera.cpp
Labels: category: g-api / gapi, category: samples

#16572 dnn(test): test DLDT IRv10 model, drop old models
  modules/dnn/test/test_ie_models.cpp
Labels: category: dnn, test

#16612 Apply normalization to 7p algorithm.
  modules/calib3d/src/fundam.cpp
Labels: bug, category: calib3d

#16617 dnn(caffe): fix net.input_dim handling in Caffe importer
  modules/dnn/src/caffe/caffe_importer.cpp
Labels: category: dnn

#16503 fixes #16500
  modules/python/package/template/config.py.in
  modules/python/python_loader.cmake
Labels: category: gpu/cuda (contrib), category: python bindings, platform: win32

#16619 cmake: allow customization of CMAKE_CXX_STANDARD value
  CMakeLists.txt
  cmake/OpenCVDetectCXXCompiler.cmake
Labels: category: build/install

#14107 Adding python codes to samples/python
  samples/python/drawing.py
  samples/python/laplace.py
Labels: category: python bindings, category: samples

#16161 cuda4dnn(concat): write outputs from previous layers directly into concat's output
  modules/dnn/src/dnn.cpp
  modules/dnn/src/op_cuda.hpp
Labels: category: dnn, category: gpu/cuda (contrib)

#16595 Enable Mask R-CNN with Inference Engine.
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/layers/crop_and_resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#16610 Minor update in grabcut.py
  samples/python/grabcut.py
Labels: category: samples

#16608 fixed several problems when running tests on Mac
  modules/core/src/copy.cpp
  modules/core/src/ocl.cpp
  modules/core/src/opencl/flip.cl
  modules/imgproc/src/pyramids.cpp
  modules/imgproc/test/test_histograms.cpp
Labels: category: ocl

#16635 intrin: fixed int64->double conversion for AVX-512
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
Labels: category: build/install, category: core

#16594 fixed the ordering of contour convex hull points
  modules/imgproc/misc/java/test/ImgprocTest.java
  modules/imgproc/src/convhull.cpp
  modules/imgproc/test/test_convhull.cpp
Labels: category: imgproc

#13928 Add division operators for Matx.
  modules/core/include/opencv2/core/matx.hpp
  modules/core/test/test_operations.cpp
Labels: Hackathon, category: core

#16225 dnn: small fix in pose estimation model
  modules/dnn/src/model.cpp
  modules/dnn/test/test_model.cpp
Labels: category: dnn

#16616 dnn: fix processing of input shapes
  modules/core/include/opencv2/core/check.hpp
  modules/core/src/check.cpp
  modules/core/src/matrix_wrap.cpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/dnn/src/caffe/caffe_importer.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_misc.cpp
Labels: bug, category: dnn, test

#16641 Fix compilation with MSVS2019
  3rdparty/openexr/Imath/ImathQuat.h
Labels: category: build/install

#16586 add python version of video-input-psnr-ssim
  doc/tutorials/videoio/video-input-psnr-ssim/video_input_psnr_ssim.markdown
  samples/cpp/tutorial_code/videoio/video-input-psnr-ssim/video-input-psnr-ssim.cpp
  samples/python/tutorial_code/videoio/video-input-psnr-ssim.py
Labels: category: documentation, category: python bindings

#16647 cuda4dnn(InnerProduct): fix blob rank check assertion
  modules/dnn/src/cuda4dnn/primitives/inner_product.hpp
Labels: bug, category: dnn, category: gpu/cuda (contrib)

#16629 dnn(test): configure filtering for 32-bit systems
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#16648 cuda4dnn: resize tensors on reuse if the allocated memory isn't sufficient for reuse
  modules/dnn/src/op_cuda.hpp
Labels: category: dnn, category: gpu/cuda (contrib)

#16661 dnn(test): configure filtering for 32-bit systems (part 2)
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#16650 Darknet_io: Parsing for cost layer added
  modules/dnn/src/darknet/darknet_io.cpp
Labels: category: dnn

#16639 Update to new ICV packages
  3rdparty/ippicv/ippicv.cmake
  cmake/OpenCVFindIPP.cmake
Labels: optimization

#16656 core(MatExpr): fix .type() bug
  modules/core/src/matrix_expressions.cpp
  modules/core/test/test_mat.cpp
  modules/dnn/test/test_misc.cpp
Labels: bug, category: core

#16673 build: exclude opencv_contrib modules
  cmake/OpenCVPackaging.cmake
  include/opencv2/opencv.hpp
  modules/core/include/opencv2/core/persistence.hpp
Labels: category: build/install

#16657 G-API: fix test checks due MatExpr::type() bug
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/test/common/gapi_compoundkernel_tests.cpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_operators_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/gapi_basic_hetero_tests.cpp
  modules/gapi/test/gapi_fluid_parallel_rois_test.cpp
  modules/gapi/test/gapi_fluid_resize_test.cpp
  modules/gapi/test/gapi_fluid_roi_test.cpp
  modules/gapi/test/gapi_fluid_test.cpp
  modules/gapi/test/gapi_gcomputation_tests.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
  modules/gapi/test/gapi_planar_test.cpp
  modules/gapi/test/gapi_sample_pipelines.cpp
  modules/gapi/test/gapi_scalar_tests.cpp
  modules/gapi/test/gapi_smoke_test.cpp
  modules/gapi/test/gapi_typed_tests.cpp
  modules/gapi/test/internal/gapi_int_executor_tests.cpp
  modules/gapi/test/internal/gapi_int_recompilation_test.cpp
  modules/gapi/test/own/mat_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
  modules/gapi/test/test_precomp.hpp
Labels: category: g-api / gapi, test

#16457 Fixed getCPUCount | Issue #16268
  modules/core/src/parallel.cpp
Labels: Hackathon, category: core

#16628 Custom layers with nGraph
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, feature

#16638 Use BufferArea in StereoSGBM, RHO and FAST
  modules/calib3d/src/rho.cpp
  modules/calib3d/src/stereosgbm.cpp
  modules/core/include/opencv2/core/utils/buffer_area.private.hpp
  modules/core/src/buffer_area.cpp
  modules/core/test/test_utils.cpp
  modules/features2d/src/fast.cpp
Labels: category: calib3d, category: core, category: features2d

#16675 core: fix build getNumberOfCPUs for JavaScript
  modules/core/src/parallel.cpp
Labels: bug, category: build/install, category: core, category: javascript (js)

#16683 Fix annoying compiler warning issue-16680
  modules/gapi/samples/privacy_masking_camera.cpp
Labels: category: build/install, category: g-api / gapi, category: samples

#16682 dnn(test): adjust check tolerance in Keypoints_face
  modules/dnn/test/test_model.cpp
Labels: category: dnn, test

#16687 Track Hetero execution for nGraph networks using ngraph::Function
  modules/dnn/src/ie_ngraph.cpp
Labels: bug, category: dnn

#16685 cuda4dnn(tests): disable MaskRCNN test for DNN_TARGET_CUDA_FP16
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), test

#16688 G-API(test): fix check
  modules/gapi/test/common/gapi_core_tests_inl.hpp
Labels: category: g-api / gapi, test

#16677 add Copy to clipboard functional to imshow wnd with Qt
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_QT.h
  modules/highgui/src/window_QT.qrc
Labels: category: highgui-gui, feature

#16535 bug fix to Inconsistent comment for EXIF issue id #15706
  modules/imgcodecs/src/exif.hpp
Labels: category: imgcodecs

#16556 Vectorize calculating integral for line for single and multiple channels
  modules/imgproc/src/sumpixels.simd.hpp
Labels: category: imgproc, optimization

#16626 V4L2: Add V4L2_PIX_FMT_Y12 (12 bit grey) support
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio(camera), feature, platform: linux

#16684 Ignore clang warnings for deprecated enum+enum operations in mat.inl.hpp
  cmake/OpenCVCompilerOptions.cmake
  modules/core/include/opencv2/core/mat.inl.hpp
Labels: category: build/install, category: core

#16658 cuda4dnn(activations, eltwise, scale_shift): refactor to reduce code duplication
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/bias_activation.cu
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/execution.hpp
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda/scale_shift.cu
  modules/dnn/src/cuda4dnn/kernels/bias_activation.hpp
  modules/dnn/src/cuda4dnn/kernels/scale_shift.hpp
  modules/dnn/src/cuda4dnn/primitives/convolution.hpp
  modules/dnn/src/cuda4dnn/primitives/normalize_bbox.hpp
Labels: category: dnn, category: gpu/cuda (contrib)

#16573 ONNX: upsample subgraph fusion added
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature
