Repository opencv/opencv, pull requests merged in 2020-09, with the labels that each got.

#18167 Bit exact gaussian blur for 16bit unsigned int
  modules/imgproc/src/fixedpoint.inl.hpp
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/src/smooth.simd.hpp
  modules/imgproc/test/test_smooth_bitexact.cpp
Labels: category: imgproc

#18211 Pev handle dna vectors
  modules/flann/include/opencv2/flann/kmeans_index.h
  modules/flann/src/miniflann.cpp
Labels: category: flann

#18225 fix missing 0.5 factor in anisotropic segmentation tutorial
  doc/tutorials/imgproc/anisotropic_image_segmentation/anisotropic_image_segmentation.markdown
  samples/cpp/tutorial_code/ImgProc/anisotropic_image_segmentation/anisotropic_image_segmentation.cpp
  samples/python/tutorial_code/imgProc/anisotropic_image_segmentation/anisotropic_image_segmentation.py
Labels: bug, category: documentation

#18182 [G-API]: Relocation of operators' overloads
  modules/gapi/include/opencv2/gapi/operators.hpp
  modules/gapi/src/api/operators.cpp
  modules/gapi/test/common/gapi_operators_tests_inl.hpp
Labels: category: g-api / gapi

#18234 Support Reshape with zero dim
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: dnn

#18246 dnn(permute): do not allocate UMat in non-OpenCL targets
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, category: ocl

#18186 core(OpenCL): thread-local OpenCL execution context
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/ocl.hpp
  modules/core/src/directx.cpp
  modules/core/src/ocl.cpp
  modules/core/src/ocl_disabled.impl.hpp
  modules/core/src/opengl.cpp
  modules/core/src/precomp.hpp
  modules/core/src/va_intel.cpp
  modules/core/test/test_opencl.cpp
  samples/CMakeLists.txt
  samples/sycl/CMakeLists.txt
  samples/sycl/sycl-opencv-interop.cpp
Labels: category: core, category: ocl, feature

#18243 checks and fixes from static code analyzers results
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/src/calibration.cpp
  modules/calib3d/src/fundam.cpp
  modules/calib3d/src/usac/estimator.cpp
  modules/calib3d/src/usac/fundamental_solver.cpp
  modules/calib3d/src/usac/local_optimization.cpp
  modules/calib3d/src/usac/sampler.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/ocl4dnn/include/ocl4dnn.hpp
  modules/flann/include/opencv2/flann/result_set.h
  modules/flann/include/opencv2/flann/timer.h
  modules/highgui/src/window_w32.cpp
  modules/objdetect/src/cascadedetect_convert.cpp
Labels: category: build/install, port/backport done

#18255 (3.4) backport: checks and fixes from static code analyzers results
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/src/calibration.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/ocl4dnn/include/ocl4dnn.hpp
  modules/flann/include/opencv2/flann/result_set.h
  modules/flann/include/opencv2/flann/timer.h
  modules/highgui/src/window_w32.cpp
  modules/objdetect/src/cascadedetect_convert.cpp
Labels: category: build/install, port/backport done

#18061 Fix KD Tree kNN Implementation
  modules/ml/src/kdtree.cpp
  modules/ml/src/knearest.cpp
  modules/ml/test/test_knearest.cpp
Labels: RFC, bug, category: ml, test

#18265 videoio: repair build of FFmpeg Windows wrapper
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: build/install, category: videoio, platform: win32

#18126 Account for sample weights in calculating OOB Error
  modules/ml/include/opencv2/ml.hpp
  modules/ml/src/rtrees.cpp
  modules/ml/test/test_rtrees.cpp
Labels: category: ml, feature

#18270 Swift native in/out array handling
  modules/calib3d/misc/objc/test/Calib3dTest.swift
  modules/core/misc/objc/common/ByteVectorExt.swift
  modules/core/misc/objc/gen_dict.json
  modules/core/misc/objc/test/CoreTest.swift
  modules/dnn/misc/objc/gen_dict.json
  modules/imgcodecs/misc/objc/test/ImgcodecsTest.swift
  modules/imgproc/misc/objc/gen_dict.json
  modules/imgproc/misc/objc/test/ImgprocTest.swift
  modules/imgproc/misc/objc/test/Subdiv2DTest.swift
  modules/objc/generator/gen_objc.py
  modules/objc/test/test/OpenCVTestCase.swift
  samples/swift/ios/ColorBlobDetection/ColorBlobDetection/ColorBlobDetector.swift
  samples/swift/ios/FaceDetection/FaceDetection/ViewController.swift
Labels: category: swift/objc bindings, feature, platform: ios/osx

#18127 [G-API]: Add GOpaque and GArray serialization support
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/src/api/garray.cpp
  modules/gapi/src/api/gopaque.cpp
  modules/gapi/src/api/gorigin.cpp
  modules/gapi/src/api/gorigin.hpp
  modules/gapi/src/api/s11n.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/compiler/gmodel.cpp
  modules/gapi/src/compiler/gmodel.hpp
  modules/gapi/src/compiler/gmodelbuilder.cpp
  modules/gapi/src/compiler/gobjref.hpp
  modules/gapi/src/compiler/passes/meta.cpp
  modules/gapi/test/gapi_array_tests.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
  modules/gapi/test/internal/gapi_int_garg_test.cpp
  modules/gapi/test/internal/gapi_int_gmodel_builder_test.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
  modules/gapi/test/s11n/gapi_sample_pipelines_s11n.cpp
Labels: category: g-api / gapi, feature, test

#18280 don't use VTK_USE_FILE for VTK >= 8.90
  cmake/OpenCVDetectVTK.cmake
Labels: category: build/install, category: viz

#18286 Haiku: build fix
  modules/videoio/src/backend_plugin.cpp
Labels: category: build/install, category: videoio

#18284 ffmpeg/3.4: update FFmpeg wrapper
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: affected: 3.4, category: 3rdparty, category: videoio, platform: win32

#18290 ffmpeg/4.x: update FFmpeg wrapper
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: 3rdparty, category: videoio, platform: win32

#18299 Support global reduce ops
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#18309 [G-API] Wrap cv::gapi::mean kernel into python
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gscalar.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
Labels: category: g-api / gapi, category: python bindings

#18310 Typo fix: CV.rabCutClasses to CV.grabCutClasses
  doc/js_tutorials/js_imgproc/js_grabcut/js_grabcut.markdown
Labels: category: javascript (js)

#18317 Restore changes from PR #17629
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn

#18320 Fix implicitly-deleted default constructor
  modules/gapi/include/opencv2/gapi/gkernel.hpp
Labels: category: build/install, category: g-api / gapi

#18325 imgcodecs: lazy on-demand codecs initialization
  modules/imgcodecs/src/loadsave.cpp
Labels: bug, category: imgcodecs

#18314 Fix signed integer overflow in connected components
  modules/imgproc/src/connectedcomponents.cpp
  modules/imgproc/test/test_connectedcomponents.cpp
Labels: bug, category: imgcodecs

#18294 Install: added prebuilt samples installation
  CMakeLists.txt
  cmake/OpenCVModule.cmake
  samples/samples_utils.cmake
Labels: category: build/install, category: samples

#18331 Fix np row,column to cv y,x [3.4 branch]
  doc/py_tutorials/py_imgproc/py_contours/py_contour_properties/py_contour_properties.markdown
Labels: category: documentation

#18316 Fix loading of ONNX models with Resize operation with Opset 11 for newer versions of Pytorch
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#18213 Basic RMat implementation
  modules/gapi/include/opencv2/gapi/rmat.hpp
  modules/gapi/test/rmat/rmat_tests.cpp
  modules/gapi/test/rmat/rmat_view_tests.cpp
Labels: category: g-api / gapi, feature

#18348 cudaarithm: use only even number for inplace flip
  modules/cudaarithm/src/core.cpp
  modules/cudaarithm/test/test_core.cpp
Labels: bug, category: gpu/cuda (contrib)

#18332 [G-API] Wrap GIn & GOut
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gproto.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
  modules/python/src2/cv2.cpp
Labels: category: g-api / gapi, category: python bindings

#18353 Fixed bug in ONNX Mul op
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn

#18196 [G-API]: Add GArray initialization support
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/src/api/garray.cpp
  modules/gapi/src/api/gorigin.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/compiler/gobjref.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/test/gapi_array_tests.cpp
Labels: category: g-api / gapi, feature

#18360 OpenCL: add explicit cast for half
  modules/dnn/src/opencl/prior_box.cl
Labels: bug, category: dnn, category: ocl

#18287 [G-API]: Add four kernels to parse NN outputs & provide information in Streaming scenarios
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/infer/parsers.hpp
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/api/kernels_nnparsers.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/src/backends/cpu/gnnparsers.cpp
  modules/gapi/src/backends/cpu/gnnparsers.hpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_parsers_tests_common.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
Labels: category: g-api / gapi

#18343 [G-API] Support std::tuple for return type
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/misc/python/test/test_gapi_sample_pipelines.py
  modules/python/src2/cv2.cpp
  modules/python/test/test_copytomask.py
Labels: category: g-api / gapi, category: python bindings

#18257 [G-API]: Add Fluid bitwise operations implementation for (GMat, GScalar)
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_operators_tests.hpp
  modules/gapi/test/common/gapi_operators_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/cpu/gapi_operators_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_operators_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_operators_tests_gpu.cpp
Labels: category: g-api / gapi

#18261 [G-API]: Fluid: add mask, extend convertTo for CV_16S
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
Labels: category: g-api / gapi

#18362 OpenCL: async kernel reschedule bug
  modules/core/src/ocl.cpp
  modules/dnn/src/ocl4dnn/src/math_functions.cpp
Labels: bug, category: core, category: dnn, category: ocl

#18363 core: emit more clear messages in OutputArray::create()
  modules/core/src/matrix_wrap.cpp
Labels: category: core

#18292 [G-API]: Support render primitives serialization
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/render/render.hpp
  modules/gapi/include/opencv2/gapi/render/render_types.hpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/test/gapi_array_tests.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
  modules/gapi/test/s11n/gapi_sample_pipelines_s11n.cpp
Labels: category: g-api / gapi, feature, test

#18374 imgcodecs(openjpeg): add checks for input
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.cpp
Labels: bug, category: imgcodecs

#18365 typo error
  doc/tutorials/calib3d/camera_calibration/camera_calibration.markdown
Labels: category: documentation

#18384 Disabled failed test instantiations
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
Labels: category: g-api / gapi, test

#18378 Fixed assertions on IPPE solver for SolvePnP
  modules/calib3d/src/ippe.cpp
Labels: bug, category: calib3d

#18386 Make sure there is a cuda device before getting it
  modules/dnn/src/cuda4dnn/init.hpp
Labels: bug, category: dnn, category: gpu/cuda (contrib)

#18323 Tengine lite update
  3rdparty/libtengine/tengine.cmake
  modules/dnn/CMakeLists.txt
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/tengine4dnn/include/tengine_graph_convolution.hpp
  modules/dnn/src/tengine4dnn/src/tengine_graph_convolution.cpp
Labels: category: dnn, platform: arm

#18391 G-API: Make GFrame a new (distinct) G-type, not an alias to GMat
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gframe.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/src/api/gframe.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/test/gapi_frame_tests.cpp
Labels: category: g-api / gapi

#18393 dnn: fix some tests
  modules/dnn/test/test_ie_models.cpp
Labels: category: dnn, test

#18395 OpenCL: fix cast for native_powr when half
  modules/dnn/src/opencl/ocl4dnn_lrn.cl
Labels: category: dnn, category: ocl

#18400 videoio: naming MFX tests
  modules/videoio/test/test_mfx.cpp
  modules/videoio/test/test_precomp.hpp
Labels: category: videoio, test

#18397 gapi: fix building wihout video module, fix infer test
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#18422 python: fixed limited API build
  modules/python/python3/CMakeLists.txt
  modules/python/src2/cv2.cpp
Labels: bug, category: build/install, category: python bindings

#18408 [G-API] Fix Windows standalone build
  modules/gapi/cmake/standalone.cmake
Labels: category: build/install, category: g-api / gapi

#18410 Fixed and updated OpenCL-VA interoperability
  3rdparty/include/opencl/1.2/CL/cl_va_api_media_sharing_intel.h
  CMakeLists.txt
  cmake/OpenCVDetectOpenCL.cmake
  cmake/OpenCVFindLibsVideo.cmake
  cmake/OpenCVFindVA.cmake
  cmake/OpenCVFindVA_INTEL.cmake
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/va_intel.hpp
  modules/core/src/va_intel.cpp
  samples/CMakeLists.txt
  samples/va_intel/CMakeLists.txt
Labels: backport is needed, category: build/install, category: core, category: ocl

#18424 CUDA: add compute capability 8.6
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib), feature

#18427 CUDA: brush up by following the comments
  modules/cudaarithm/src/core.cpp
  modules/cudaarithm/test/test_core.cpp
Labels: category: gpu/cuda (contrib)

#18423 videoio: fix plugins build with enabled Eigen
  modules/videoio/cmake/plugin.cmake
  modules/videoio/src/precomp.hpp
Labels: bug, category: build/install, category: videoio

#18429 OCL: fix PlatformInfo usage
  modules/core/src/directx.cpp
  modules/core/src/ocl.cpp
  modules/core/src/opengl.cpp
  modules/core/src/va_intel.cpp
Labels: bug, category: ocl

#18387 Update G-API slides to OpenCV 4.4
  modules/gapi/doc/slides/gapi_overview.org
  modules/gapi/samples/slides_blur_gapi.cpp
Labels: category: documentation, category: g-api / gapi

#18434 dnn: loosen threshold for Mali
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, test

#18441 core: force check for string literals are used in the message
  modules/core/include/opencv2/core/check.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: core, category: dnn

#18445 ml: fix python test
  modules/ml/misc/python/test/test_goodfeatures.py
Labels: bug, category: ml, category: python bindings, test

#18436 iOS build fixes
  modules/objc/generator/CMakeLists.txt
  modules/objc/test/cmakelists.template
  platforms/ios/build_framework.py
  samples/swift/ios/ColorBlobDetection/ColorBlobDetectionDynamic.xcodeproj/project.pbxproj
  samples/swift/ios/ColorBlobDetection/ColorBlobDetectionDynamic.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  samples/swift/ios/FaceDetection/FaceDetectionDynamic.xcodeproj/project.pbxproj
  samples/swift/ios/FaceDetection/FaceDetectionDynamic.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: category: build/install, platform: ios/osx

#18401 [G-API] Add support for more types serialization
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/test/gapi_array_tests.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
  modules/gapi/test/s11n/gapi_sample_pipelines_s11n.cpp
Labels: category: g-api / gapi, feature, test

#18430 IPPICV: install third-party-programs.txt file
  cmake/OpenCVFindIPP.cmake
Labels: category: build/install

#18447 dnn(opencl): fix convolution kernel w/o bias with activation
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
  modules/dnn/src/opencl/conv_layer_spatial.cl
  modules/dnn/test/test_layers.cpp
Labels: bug, category: dnn, category: ocl

#18449 ios: don't force BUILD_opencv_world=OFF in case of excluded modules
  platforms/ios/build_framework.py
Labels: category: build/install, platform: ios/osx

#18438 dnn: improve debugging of ONNX parsing errors
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: dnn

#18341 [G-API] wrap gin
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
  modules/gapi/misc/python/test/test_gapi_sample_pipelines.py
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/test/gapi_gcomputation_tests.cpp
  modules/python/src2/cv2.cpp
Labels: category: g-api / gapi, category: python bindings

#18439 Android OpenCL support
  modules/core/src/opencl/runtime/opencl_core.cpp
  platforms/android/build_sdk.py
Labels: category: build/install, category: ocl, platform: android

#18415 G-API: Introduce cv::MediaFrame, a host type for cv::GFrame
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi.hpp
  modules/gapi/include/opencv2/gapi/gframe.hpp
  modules/gapi/include/opencv2/gapi/media.hpp
  modules/gapi/src/api/media.cpp
  modules/gapi/test/gapi_frame_tests.cpp
Labels: category: g-api / gapi

#18460 Eliminate build warnings
  modules/core/include/opencv2/core/ocl.hpp
Labels: category: build/install

#18451 [G-API]: countNonZero() Standard Kernel Implementation
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/ocl/goclkernel.hpp
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/src/backends/ocl/goclcore.cpp
  modules/gapi/src/backends/ocl/goclkernel.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
Labels: category: g-api / gapi, feature, test
