Repository opencv/opencv, pull requests merged in 2020-01, with the labels that each got.

#16275 Fix vector insert
  samples/cpp/tutorial_code/gapi/face_beautification/face_beautification.cpp
Labels: category: build/install, category: g-api / gapi, category: samples

#16222 Android move version info to Gradle style
  modules/java/android_sdk/android_gradle_lib/AndroidManifest.xml
  modules/java/android_sdk/android_gradle_lib/build.gradle
  modules/java/android_sdk/android_lib/AndroidManifest.xml
  modules/java/android_sdk/build.gradle.in
  modules/java/generator/android/java/org/opencv/android/OpenCVLoader.java
Labels: category: build/install, platform: android

#16238 imgproc(resize): avoid unnecessary type conversions
  modules/imgproc/src/resize.cpp
  modules/imgproc/src/resize.hpp
  modules/imgproc/src/resize.sse4_1.cpp
Labels: category: imgproc

#16230 cuda4dnn: improve host-device transfer performance
  modules/dnn/src/cuda/fp_conversion.cu
  modules/dnn/src/cuda4dnn/kernels/fp_conversion.hpp
  modules/dnn/src/op_cuda.hpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#16265 Fix swapped channels in BGR* conversion utility function
  modules/imgcodecs/src/utils.cpp
Labels: bug, category: imgcodecs

#16289 Fixed compilation on windows with openvx
  modules/core/src/ovx.cpp
Labels: bug, category: build/install, category: core

#16300 Enable cmake CMP0077 policy
  CMakeLists.txt
Labels: category: build/install

#16302 Fix build on non-Linux glibc-based systems
  modules/videoio/src/backend_plugin.cpp
Labels: category: build/install, category: video

#16240 Changed plus operator to os.path.join()
  modules/objdetect/misc/python/test/test_qrcode_detect.py
Labels: category: objdetect, category: python bindings, test

#16236 core: fix simd emulator code
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/src/arithm.cpp
  modules/core/src/arithm.simd.hpp
  modules/core/src/lapack.cpp
  modules/core/src/mathfuncs_core.simd.hpp
  modules/core/test/test_intrin_emulator.cpp
  modules/core/test/test_intrin_utils.hpp
  modules/features2d/src/fast_score.cpp
  modules/imgproc/src/corner.avx.cpp
Labels: bug, category: build/install

#16270 Sort text TensorFlow graphs
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
Labels: category: dnn

#14666 Python code examples for file IO in xml and yml format
  doc/tutorials/core/file_input_output_with_xml_yml/file_input_output_with_xml_yml.markdown
  samples/cpp/tutorial_code/core/file_input_output/file_input_output.cpp
  samples/python/tutorial_code/core/file_input_output/file_input_output.py
Labels: category: documentation, category: samples

#16276 Added java code for meanshift and optical_flow
  doc/tutorials/video/meanshift/meanshift.markdown
  doc/tutorials/video/optical_flow/optical_flow.markdown
  doc/tutorials/video/table_of_content_video.markdown
  samples/java/tutorial_code/video/meanshift/CamshiftDemo.java
  samples/java/tutorial_code/video/meanshift/MeanshiftDemo.java
  samples/java/tutorial_code/video/optical_flow/OpticalFlowDemo.java
  samples/java/tutorial_code/video/optical_flow/OpticalFlowDenseDemo.java
Labels: category: documentation, category: samples

#16335 ml/python: fix digits samples(3.4)
  samples/python/digits.py
  samples/python/digits_video.py
Labels: bug, category: ml, category: python bindings, category: samples

#15915 Fix implicit conversion from array to scalar in python bindings
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/test/test_misc.py
  modules/python/test/test_norm.py
Labels: RFC, category: python bindings

#16232 Update Myriad test of nGraph
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, test

#16344 Enable acrossSpatial normalizeL2 on Myriad
  modules/dnn/src/layers/normalize_bbox_layer.cpp
Labels: category: dnn

#16199 Compute gradient x
  modules/photo/src/seamless_cloning_impl.cpp
Labels: category: photo

#16291 ONNX graphs simplifier
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#16353 Fix uninitialized value
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
Labels: category: build/install, category: dnn

#16218 Enable cuda4dnn on hardware without support for __half
  modules/dnn/CMakeLists.txt
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/atomics.hpp
  modules/dnn/src/cuda/bias_activation.cu
  modules/dnn/src/cuda/concat.cu
  modules/dnn/src/cuda/crop_and_resize.cu
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/fill_copy.cu
  modules/dnn/src/cuda/limits.hpp
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda/max_unpooling.cu
  modules/dnn/src/cuda/normalize.cu
  modules/dnn/src/cuda/padding.cu
  modules/dnn/src/cuda/permute.cu
  modules/dnn/src/cuda/prior_box.cu
  modules/dnn/src/cuda/region.cu
  modules/dnn/src/cuda/resize.cu
  modules/dnn/src/cuda/roi_pooling.cu
  modules/dnn/src/cuda/scale_shift.cu
  modules/dnn/src/cuda/slice.cu
  modules/dnn/src/cuda4dnn/csl/fp16.hpp
  modules/dnn/src/dnn.cpp
Labels: category: build/install, category: dnn, category: gpu/cuda (contrib)

#16354 Wrap custom OpenCV layers to try-catch
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/op_inf_engine.cpp
Labels: bug, category: dnn

#16357 Different way to reset Myriad device
  modules/dnn/src/dnn.cpp
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn

#16361 android: fix javadoc
  modules/java/generator/android/java/org/opencv/android/OpenCVLoader.java.in
Labels: bug, category: build/install, platform: android

#16363 Fix: rsqrt(float) was improperly put in the ifdef for half
  modules/dnn/src/cuda/math.hpp
Labels: category: dnn, category: gpu/cuda (contrib)

#16257 Make stitching script more pythonic
  samples/python/stitching_detailed.py
Labels: category: samples, category: stitching

#16351 finish Android version info to Gradle style
  modules/java/android_sdk/build.gradle.in
Labels: platform: android

#16325 core(SIMD): fix NEON alignmnet issue
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
Labels: bug, category: core, optimization, platform: arm

#16349 remove Eclipse relicts in Android sample
  modules/java/android_sdk/android_lib/.classpath
  modules/java/android_sdk/android_lib/.project
  platforms/android/service/engine/.classpath
  platforms/android/service/engine/.project
  platforms/android/service/engine/build.xml
  platforms/android/service/engine/project.properties
  samples/android/15-puzzle/.classpath
  samples/android/15-puzzle/.project
  samples/android/camera-calibration/.classpath
  samples/android/camera-calibration/.project
  samples/android/color-blob-detection/.classpath
  samples/android/color-blob-detection/.project
  samples/android/face-detection/.classpath
  samples/android/face-detection/.cproject
  samples/android/face-detection/.project
  samples/android/image-manipulations/.classpath
  samples/android/image-manipulations/.project
  samples/android/tutorial-1-camerapreview/.classpath
  samples/android/tutorial-1-camerapreview/.project
  samples/android/tutorial-2-mixedprocessing/.classpath
  samples/android/tutorial-2-mixedprocessing/.cproject
  samples/android/tutorial-2-mixedprocessing/.project
  samples/android/tutorial-3-cameracontrol/.classpath
  samples/android/tutorial-3-cameracontrol/.project
  samples/android/tutorial-4-opencl/.classpath
  samples/android/tutorial-4-opencl/.cproject
  samples/android/tutorial-4-opencl/.project
Labels: category: samples, platform: android

#16063 support eltwise sum with different number of input channels in CUDA backend
  modules/dnn/src/cuda/shortcut.cu
  modules/dnn/src/cuda4dnn/kernels/shortcut.hpp
  modules/dnn/src/cuda4dnn/primitives/shortcut.hpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, category: gpu/cuda (contrib), feature, optimization

#16294 cmake: fix Linux system OpenEXR detection
  cmake/OpenCVFindOpenEXR.cmake
Labels: category: build/install

#16369 carotene: Replace ipcp-unit-growth with ipa-cp-unit-growth on gcc >= 10
  3rdparty/carotene/CMakeLists.txt
  3rdparty/carotene/hal/CMakeLists.txt
Labels: category: build/install, platform: arm

#16367 Extend MVN layer support through nGraph
  modules/dnn/src/layers/mvn_layer.cpp
Labels: category: dnn

#16376 FIX: disable dnn cuda input_shortcut on _half for CC<5.3
  modules/dnn/src/cuda/shortcut.cu
Labels: category: build/install, category: dnn, category: gpu/cuda (contrib)

#16273 add a wrapper for getAvailableTargets
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/java/gen_dict.json
  modules/dnn/misc/java/src/cpp/dnn_converters.cpp
  modules/dnn/misc/java/src/cpp/dnn_converters.hpp
  modules/dnn/misc/java/test/DnnTensorFlowTest.java
  modules/dnn/misc/python/pyopencv_dnn.hpp
  modules/dnn/misc/python/test/test_dnn.py
Labels: category: dnn, category: java bindings, category: python bindings, feature

#15488 Vectorize minMaxIdx functions
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/src/minmax.cpp
  modules/core/test/test_intrin_utils.hpp
Labels: category: core, optimization

#16350 Fix lint issues in Android samples
  samples/android/15-puzzle/src/org/opencv/samples/puzzle15/Puzzle15Activity.java
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/CalibrationResult.java
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/CameraCalibrator.java
Labels: platform: android

#16372 (3.4) fix lint errors and warnings ins Android samples
  samples/android/15-puzzle/src/org/opencv/samples/puzzle15/Puzzle15Activity.java
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/CalibrationResult.java
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/CameraCalibrator.java
Labels: platform: android, port/backport done

#15929 Update seamless_cloning.cpp
  modules/photo/src/seamless_cloning.cpp
Labels: category: photo

#16377 dnn(onnx): handle unaligned access in ONNX importer
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn, platform: arm

#16378 dnn: dump layer's blobs on getMemoryShapes() error
  modules/dnn/src/dnn.cpp
Labels: category: dnn

#16385 ts: move message about misused 'optional' under the configuration parameter
  modules/ts/src/ts.cpp
Labels: test

#16309 Added resize flag handlers for imread and imdecode | Issue #16203
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_precomp.hpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: category: imgcodecs, feature, test

#16389 core(SIMD): fix MSA build - add v_reduce_min/max for u8/s8
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
Labels: bug, category: build/install, category: core, platform: other

#16391 Support nGraph LRN with SPATIAL_NRM
  modules/dnn/src/layers/lrn_layer.cpp
Labels: category: dnn

#16393 build: workaround for FORTIFY_SOURCE=2 builds on Alpine
  modules/videoio/src/precomp.hpp
Labels: category: build/install, category: videoio

#16400 cmake: apply '-Wl,--as-needed' linker option
  cmake/OpenCVCompilerOptions.cmake
  cmake/OpenCVUtils.cmake
Labels: category: build/install

#16358 Convolutional padding parsing modified
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn

#16146 Improve resize 8u3
  modules/imgproc/src/resize.cpp
Labels: category: imgproc, optimization

#16408 dnn(test): adjust test tolerance for MYRIAD
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, test

#16396 feat(android): add parameter for choose modules for android
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#16405 Added type check for solvePnPGeneric | Issue: #16049
  modules/calib3d/misc/python/test/test_solvepnp.py
  modules/calib3d/src/solvepnp.cpp
Labels: bug, category: calib3d, category: python bindings, test

#16409 G-API: Fix linkage in standalone mode
  modules/gapi/src/compiler/gstreaming.cpp
Labels: category: build/install, category: g-api / gapi

#16356 dnn: prevent unloading of InferenceEngine plugins
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn

#16414 samples(dnn): avoid 'async' keyword (Python 3.7+)
  samples/dnn/object_detection.py
Labels: bug, category: dnn, category: python bindings, category: samples

#16375 Reduce LLC loads, stores and multiplies on MulTransposed - 8% faster
  modules/core/src/matmul.simd.hpp
Labels: category: core, optimization

#16374 imgproc: dispatch sumpixels (integral)
  modules/imgproc/CMakeLists.txt
  modules/imgproc/src/sumpixels.avx512_skx.hpp
  modules/imgproc/src/sumpixels.dispatch.cpp
  modules/imgproc/src/sumpixels.hpp
  modules/imgproc/src/sumpixels.simd.hpp
Labels: category: imgproc, optimization

#16170 added tutorial for text skewness correction
  samples/cpp/text_skewness_correction.cpp
  samples/python/text_skewness_correction.py
Labels: category: samples

#16418 Extend nGraph Softmax layer (support logsoftmax)
  modules/dnn/src/layers/softmax_layer.cpp
Labels: category: dnn

#16190 Videocapture skip frames
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: videoio, feature

#16413 Extend nGraph Deconvolution layer support
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: dnn

#16422 GAPI(test): update test tolerance for DIV operation on ARM
  modules/gapi/test/common/gapi_core_tests_inl.hpp
Labels: category: g-api / gapi, platform: arm, test

#16434 core(build): fix i386 compilation
  modules/core/src/parallel_impl.cpp
Labels: bug, category: build/install, category: core

#15338 QR-Code detector : multiple detection
  modules/java/generator/gen_java.py
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/misc/java/test/QRCodeDetectorTest.java
  modules/objdetect/misc/python/test/test_qrcode_detect.py
  modules/objdetect/perf/perf_qrcode_pipeline.cpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
  samples/cpp/qrcode.cpp
Labels: category: objdetect, feature

#16441 (3.4) cmake: support OPENCV_ABI_SKIP_MODULES_LIST
  cmake/OpenCVGenABI.cmake
Labels: category: build/install

#16338 cmake: support OPENCV_ABI_SKIP_MODULES_LIST
  cmake/OpenCVGenABI.cmake
Labels: category: build/install

#16423 cmake: reuse OpenCV NEON detection in carotene
  3rdparty/carotene/hal/CMakeLists.txt
  CMakeLists.txt
Labels: category: build/install, platform: arm

#16248 Add python tests for cudaobjdetect, cudawarping and cudaarithm modules
  modules/python/test/test_cuda.py
Labels: category: gpu/cuda (contrib), category: python bindings, test

#16453 core:vsx fix inline asm constraints
  cmake/checks/cpu_vsx_asm.cpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: bug, category: build/install, optimization, platform: other

#15714 Support software triggering aravis cameras
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_aravis.cpp
Labels: category: videoio(camera)

#16461 core:vsx workaround for the unexpected results of `vec_vbpermq`
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: bug, optimization, platform: other

#16452 objdetect(QR): don't introduce deprecated API, compatibility code
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/src/qrcode.cpp
Labels: category: objdetect

#16415 Fix bug 16410 and add test
  modules/imgproc/src/connectedcomponents.cpp
  modules/imgproc/test/test_connectedcomponents.cpp
Labels: bug, category: imgproc

#16220 cuda4dnn(ROIPooling): improve FP16 accuracy and optimize
  modules/dnn/src/cuda/roi_pooling.cu
  modules/dnn/src/cuda4dnn/kernels/roi_pooling.hpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#16459 cvdef.h: Don't use C's limits.h under C++
  modules/core/include/opencv2/core/cvdef.h
Labels: category: build/install, category: core

#16118 G-API: GOpaque implementation
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gcall.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gcompoundkernel.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gmetaarg.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/gproto.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/gtyped.hpp
  modules/gapi/include/opencv2/gapi/ocl/goclkernel.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gcall.cpp
  modules/gapi/src/api/gopaque.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/cpu/gcpukernel.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/backends/plaidml/gplaidmlbackend.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gobjref.hpp
  modules/gapi/src/compiler/passes/dump_dot.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
  modules/gapi/test/gapi_transform_tests.cpp
  modules/gapi/test/internal/gapi_int_garg_test.cpp
Labels: category: g-api / gapi

#16246 VideoIO classes refactoring
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap.cpp
Labels: category: videoio

#15993 This is a correction of the previously missleading documentation and a warning related to a common calibration failure described in issue #15992
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation
