Repository opencv/opencv, pull requests merged in 2020-08, with the labels that each got.

#17939 cuda4dnn(Eltwise, Power): fix eltwise fusion, enable more eltwise fusion, fix power fusion
  modules/dnn/src/cuda4dnn/primitives/convolution.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
Labels: bug, category: dnn, category: gpu/cuda (contrib)

#17858 added depth-wise convolution; gives ~20-40% performance improvement on MobileSSD networks
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: category: dnn, optimization

#17882 Add Objective-C/Swift wrappers for opencv_contrib modules
  modules/calib3d/misc/objc/gen_dict.json
  modules/core/misc/objc/common/Float6.mm
  modules/core/misc/objc/common/Point3d.h
  modules/core/misc/objc/common/Point3d.mm
  modules/core/misc/objc/common/Point3f.h
  modules/core/misc/objc/common/Point3f.mm
  modules/core/misc/objc/common/Point3i.h
  modules/core/misc/objc/common/Point3i.mm
  modules/core/misc/objc/gen_dict.json
  modules/dnn/misc/objc/gen_dict.json
  modules/features2d/misc/objc/gen_dict.json
  modules/imgproc/misc/objc/gen_dict.json
  modules/objc/generator/gen_objc.py
  modules/photo/misc/objc/gen_dict.json
  modules/videoio/misc/objc/gen_dict.json
Labels: category: build/install, category: swift bindings, platform: ios/osx

#17478 CUDA: drop support of old CC
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib), future

#17907 Implement ASIFT in C++
  doc/opencv.bib
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/affine_feature.cpp
  modules/features2d/test/test_affine_feature.cpp
  samples/cpp/asift.cpp
Labels: GSoC, category: features2d

#17885 DNN: OpenCL/slice update
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/opencl/slice.cl
Labels: category: dnn, category: ocl, optimization

#17742 Adding comment from source code to DetectionOutputLayer class documentation
  modules/dnn/include/opencv2/dnn/all_layers.hpp
Labels: category: dnn, category: documentation

#17735 Pev fix trees descent
  modules/features2d/misc/java/test/FlannBasedDescriptorMatcherTest.java
  modules/features2d/test/test_matchers_algorithmic.cpp
  modules/flann/include/opencv2/flann/hierarchical_clustering_index.h
  modules/flann/include/opencv2/flann/kdtree_index.h
  modules/flann/include/opencv2/flann/miniflann.hpp
  modules/flann/include/opencv2/flann/params.h
  modules/flann/src/miniflann.cpp
Labels: category: flann

#17967 Supported convolution with non-const weights
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#17998 Replace nGraph's i64 to i32 for size_t
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_misc.cpp
Labels: category: dnn

#18011 cuda4dnn(MVNOp): add MVNOp
  modules/dnn/src/cuda/mvn.cu
  modules/dnn/src/cuda4dnn/kernels/mvn.hpp
  modules/dnn/src/cuda4dnn/primitives/mvn.hpp
  modules/dnn/src/layers/mvn_layer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#18012 Update doc and sample
  modules/imgproc/include/opencv2/imgproc.hpp
  samples/cpp/warpPerspective_demo.cpp
Labels: category: samples

#18014 videoio: fix compilation with Aravis enabled
  modules/videoio/src/cap_aravis.cpp
Labels: category: build/install, category: videoio(camera)

#18016 Cleaner code for hierarchical_clustering
  modules/flann/include/opencv2/flann/hierarchical_clustering_index.h
Labels: category: flann

#18018 Add Python binding for composePanorama
  modules/stitching/include/opencv2/stitching.hpp
  modules/stitching/misc/python/test/test_stitching.py
Labels: category: python bindings, category: stitching

#18019 Pev multiple kmeans trees
  modules/flann/include/opencv2/flann.hpp
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: category: flann, feature

#17922 Build riscv with c++ intrinsics
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/checks/cpu_rvv.cpp
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/cv_cpu_helper.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
  modules/core/src/system.cpp
  platforms/linux/riscv64-clang.toolchain.cmake
Labels: GSoC, category: build/install, platform: riscv

#18008 Document PatchNANs input type (issue #18000)
  modules/core/include/opencv2/core.hpp
Labels: category: documentation

#18017 Add ReLU Activation to DarkNet Importer
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, feature, test

#18027 Dnn backport ngraph
  modules/dnn/src/ie_ngraph.cpp
Labels: category: dnn, port/backport done

#18036 (3.4) added depth-wise convolution (backport 17858)
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: category: dnn, port/backport done

#18043 Update README.md
  README.md
Labels: documentation

#18048 Fix ONNX Gather op
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: dnn

#18039 Add support for using new ffmpeg encoding API when writing a video
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio

#17982 cuda::GpuMat::convertTo - fix for in-place arguments
  modules/core/src/cuda/gpu_mat.cu
  modules/cudaarithm/test/test_gpumat.cpp
Labels: category: gpu/cuda (contrib), test

#17643 Pev new flann demo
  samples/cpp/flann_search_dataset.cpp
Labels: category: documentation, category: flann, category: samples

#18065 Fix Objective-C declaration of Mat_to_vector_Point2d
  modules/core/misc/objc/common/Converters.h
Labels: bug, category: build/install, category: swift/objc bindings, platform: ios/osx

#18062 Merge the two KMeansIndexParams ctor on master
  modules/flann/include/opencv2/flann.hpp
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: category: flann

#18060 cuda4dnn(DetectionOutput, tests): fix compile-time errors, disable unsupported tests
  modules/dnn/src/cuda/detection_output.cu
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), test

#18059 Obj-C/Swift docs improvements
  modules/core/misc/objc/common/Mat.h
  modules/objc/generator/gen_objc.py
  modules/objc/generator/templates/cmakelists.template
  platforms/ios/build_docs.py
  platforms/ios/build_framework.py
  platforms/osx/build_docs.py
  platforms/osx/build_framework.py
Labels: category: build/install, category: documentation, platform: ios/osx

#18033 Improving DaSiamRPN tracker sample
  samples/dnn/dasiamrpn_tracker.py
Labels: category: dnn, category: samples

#18074 Refactoring to prepare for other vector types while mutualizing methods
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: category: flann

#18077 Supported ReduceSum op
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature, test

#17976 dnn: add exhaustive fusion tests, enable more eltwise fusions
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, feature, test

#18078 Fix MatMul and Add axes
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn

#18096 Added ReduceSum to ONNX importer
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#18092 core(OpenCL): fix ocl::Image2d::isFormatSupported()
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#18080 improve Mat::operator=(Scalar)
  modules/core/src/copy.cpp
Labels: category: core, optimization

#17683 [GSoC] New RANSAC. Homography part
  doc/tutorials/calib3d/usac.markdown
  modules/calib3d/CMakeLists.txt
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/five-point.cpp
  modules/calib3d/src/fundam.cpp
  modules/calib3d/src/ptsetreg.cpp
  modules/calib3d/src/solvepnp.cpp
  modules/calib3d/src/usac.hpp
  modules/calib3d/src/usac/degeneracy.cpp
  modules/calib3d/src/usac/dls_solver.cpp
  modules/calib3d/src/usac/essential_solver.cpp
  modules/calib3d/src/usac/estimator.cpp
  modules/calib3d/src/usac/fundamental_solver.cpp
  modules/calib3d/src/usac/gamma_values.hpp
  modules/calib3d/src/usac/homography_solver.cpp
  modules/calib3d/src/usac/local_optimization.cpp
  modules/calib3d/src/usac/pnp_solver.cpp
  modules/calib3d/src/usac/quality.cpp
  modules/calib3d/src/usac/ransac_solvers.cpp
  modules/calib3d/src/usac/sampler.cpp
  modules/calib3d/src/usac/termination.cpp
  modules/calib3d/src/usac/utils.cpp
  modules/calib3d/test/test_usac.cpp
  samples/cpp/epipolar_lines.cpp
  samples/cpp/essential_mat_reconstr.cpp
  samples/data/essential_mat_data.txt
  samples/data/leuvenA.jpg
  samples/data/leuvenB.jpg
  samples/python/essential_mat_reconstr.py
Labels: GSoC, category: calib3d, feature

#18105 highgui: don't terminate if we can't initialize GTK backend
  modules/highgui/src/window_gtk.cpp
Labels: bug, category: highgui-gui

#18001 8-bit SIFT descriptors
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/sift.dispatch.cpp
  modules/features2d/src/sift.simd.hpp
  modules/features2d/test/test_sift.cpp
Labels: GSoC, category: features2d, feature, pr: Discussion Required

#17993 [IE][VPU]: Refactor vpu configs
  modules/dnn/src/ie_ngraph.cpp
Labels: backport is needed, category: dnn

#18119 videoio: fix build error on odroid-n2-plus
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: build/install, category: videoio

#17989 Add arm64-build-checks github action
  .github/workflows/arm64-build-checks.yml
Labels: category: build/install, platform: arm

#18022 Added reference to paper to CornerSubPix function.
  doc/opencv.bib
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#18037 Improve BRISK Initialization
  modules/features2d/src/brisk.cpp
Labels: category: features2d, optimization

#18129 Update the stereo sample:
  samples/cpp/stereo_match.cpp
Labels: category: samples

#18121 [GSoC, New RANSAC] Fix warnings
  modules/calib3d/src/usac/degeneracy.cpp
  modules/calib3d/src/usac/ransac_solvers.cpp
  samples/cpp/essential_mat_reconstr.cpp
Labels: category: build/install

#18085 Add debug assert to check in FLANN the vectors size is multiple of th…
  modules/flann/include/opencv2/flann/dist.h
Labels: category: flann

#18084 DNA mode: add the distance computations
  modules/flann/include/opencv2/flann.hpp
  modules/flann/include/opencv2/flann/defines.h
  modules/flann/include/opencv2/flann/dist.h
Labels: category: flann, feature

#18083 Fixed centering issue with make_cicle_pattern and make_acircle_pattern()
  doc/pattern_tools/gen_pattern.py
Labels: category: documentation

#18148 [G-API]: Fluid Core kernels performance tests
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
Labels: category: g-api / gapi

#18181 Supported ONNX Pow op
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#18146 Remove obsolete FFMPEG versions support
  modules/videoio/cmake/detect_ffmpeg.cmake
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: build/install, category: videoio

#18185 Back-port for FFMPEG versions guard fix for AV_CODEC_FLAG_GLOBAL_HEADER and AVDISCARD_NONINTRA
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio, port/backport done

#18165 [3.4] Fix cubic root computation in calibrateHandEye
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/calibration_handeye.cpp
  modules/calib3d/test/test_calibration_hand_eye.cpp
Labels: bug, category: calib3d, test

#18178 Use camera intrinsic matrix everywhere in the doc
  doc/mymath.js
  doc/mymath.sty
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#17163 Fixed cooperation of Compound kernel and GMatP type
  modules/gapi/include/opencv2/gapi/gcompoundkernel.hpp
  modules/gapi/src/backends/common/gcompoundkernel.cpp
  modules/gapi/test/common/gapi_compoundkernel_tests.cpp
Labels: bug, category: g-api / gapi, test

#18171 Add broken implementation note for DLS and UPnP
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/solvepnp.cpp
Labels: category: calib3d, category: documentation

#17647 [GSoC] Add siamrpnpp.py
  samples/dnn/siamrpnpp.py
Labels: GSoC, category: dnn

#17978 Fix ONNX loading in issues opencv#17516, opencv#17531
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn, test

#17919 Flownet2 with anysize
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/test/test_layers.cpp
  samples/dnn/optical_flow.py
Labels: category: dnn

#18136 bit-exact cuda::equalizeHist
  modules/cudaimgproc/src/cuda/hist.cu
  modules/cudaimgproc/src/histogram.cpp
  modules/cudaimgproc/test/test_histogram.cpp
  modules/cudaoptflow/src/cuda/tvl1flow.cu
Labels: bug, category: gpu/cuda (contrib)

#18184 ADD yolov4 in models.yml
  samples/dnn/models.yml
Labels: category: dnn, category: samples

#18207 bugfix
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: bug, category: flann

#18203 Add Robot-World/Hand-Eye calibration function
  doc/opencv.bib
  modules/calib3d/doc/pics/robot-world_hand-eye_figure.png
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/calibration_handeye.cpp
  modules/calib3d/test/test_calibration_hand_eye.cpp
Labels: category: calib3d, feature

#18208 videoio: reduce min libavcodec version
  modules/videoio/cmake/detect_ffmpeg.cmake
Labels: category: build/install, category: videoio

#18053 Bit-exact Nearest Neighbor Resizing
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/perf/perf_resize.cpp
  modules/imgproc/src/fixedpoint.inl.hpp
  modules/imgproc/src/resize.cpp
  modules/imgproc/test/test_imgwarp.cpp
  modules/imgproc/test/test_resize_bitexact.cpp
Labels: category: imgproc, feature

#18210 Change default parameters of OpenJPEG encoder to produce lossy result
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.cpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: category: imgcodecs

#18094 Universal Build for Big Sur
  CMakeLists.txt
  platforms/ios/build_framework.py
  platforms/osx/build_framework.py
Labels: category: build/install, feature, platform: ios/osx

#18235 OCL: cleanup dead code in case of disabled OpenCL
  modules/core/src/ocl.cpp
  modules/core/src/ocl_deprecated.hpp
  modules/core/src/ocl_disabled.impl.hpp
  modules/features2d/src/orb.cpp
Labels: category: core, category: ocl
