Repository opencv/opencv, pull requests merged in 2020-04, with the labels that each got.

#16805 G-API: Unification of own:: Scalar with cv:: Scalar
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidbuffer.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gscalar.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/ocl/goclkernel.hpp
  modules/gapi/include/opencv2/gapi/own/convert.hpp
  modules/gapi/include/opencv2/gapi/own/cvdefs.hpp
  modules/gapi/include/opencv2/gapi/render/render.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/api/gscalar.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/cpu/gcpukernel.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/fluid/gfluidbuffer.cpp
  modules/gapi/src/backends/fluid/gfluidbuffer_priv.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/backends/ocl/goclkernel.cpp
  modules/gapi/src/compiler/gobjref.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/gapi_async_test.cpp
  modules/gapi/test/gapi_fluid_test.cpp
  modules/gapi/test/gapi_fluid_test_kernels.cpp
  modules/gapi/test/gapi_kernel_tests.cpp
  modules/gapi/test/internal/gapi_int_gmetaarg_test.cpp
  modules/gapi/test/internal/gapi_int_gmodel_builder_test.cpp
Labels: category: g-api / gapi

#16947 videoio: fixed conversion in MSMF backend
  modules/videoio/src/cap_msmf.cpp
Labels: category: videoio, platform: win32

#16948 core: emit warning ONCE on ambiguous MatExpr processing
  modules/core/src/matrix_expressions.cpp
Labels: category: core

#16950 stitching: fix range check in DpSeamFinder::computeCosts
  modules/stitching/src/seam_finders.cpp
Labels: bug, category: stitching

#16953 videoio: fixed MSMF writer fps handling
  modules/videoio/src/cap_msmf.cpp
Labels: bug, category: videoio, platform: win32

#16956 core(OCL): options to control buffer access flags
  modules/core/perf/opencl/perf_matop.cpp
  modules/core/src/ocl.cpp
Labels: category: core, category: ocl

#16959 winpack_dldt: readme update
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, platform: win32

#16745 G-API: Unification of own:: structures with cv:: (Size, Point, Rect)
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/own/convert.hpp
  modules/gapi/include/opencv2/gapi/own/cvdefs.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gmat.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/fluid/gfluidbuffer.cpp
  modules/gapi/src/backends/fluid/gfluidbuffer_priv.hpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/test/gapi_fluid_parallel_rois_test.cpp
  modules/gapi/test/gapi_fluid_resize_test.cpp
  modules/gapi/test/gapi_fluid_roi_test.cpp
  modules/gapi/test/gapi_fluid_test.cpp
  modules/gapi/test/gapi_gcompiled_tests.cpp
  modules/gapi/test/gapi_gcomputation_tests.cpp
  modules/gapi/test/internal/gapi_int_island_fusion_tests.cpp
  modules/gapi/test/internal/gapi_int_recompilation_test.cpp
Labels: category: g-api / gapi

#16980 Incorrect PREDEFINED setting.
  doc/Doxyfile.in
Labels: category: documentation

#16965 Introduce a new abstraction layer over island input/output data
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gexecutor.hpp
Labels: category: g-api / gapi, feature

#16982 OpenCL: let the test pass on Mali G52 (ODROID-N2)
  modules/imgproc/test/ocl/test_houghlines.cpp
Labels: category: imgproc, test

#16963 Added GFrame class
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gproto.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/test/gapi_frame_tests.cpp
  modules/gapi/test/internal/gapi_int_garg_test.cpp
Labels: category: g-api / gapi, feature

#16992 Fixed divide by zero segfault in forEach
  modules/core/include/opencv2/core/utility.hpp
Labels: bug, category: core

#16967 typo fix
  doc/py_tutorials/py_imgproc/py_houghlines/py_houghlines.markdown
Labels: category: documentation

#16911 G-API utils - make variant converting constructor and assignment operator properly forward it's argument
  modules/gapi/include/opencv2/gapi/util/variant.hpp
  modules/gapi/test/util/variant_tests.cpp
Labels: category: g-api / gapi

#16886 G-API: DISABLED_ in tests instead #if 0
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
  modules/gapi/test/cpu/gapi_operators_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_operators_tests_fluid.cpp
  modules/gapi/test/gapi_desc_tests.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_operators_tests_gpu.cpp
Labels: category: g-api / gapi

#16964 Added GOpaque support to GStreamingExecutor
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
Labels: category: g-api / gapi, feature

#16952 GAPI - KW fixes - removes unreachable code GIsland::producer()
  modules/gapi/src/compiler/gislandmodel.cpp
Labels: category: g-api / gapi

#16970 Fix ENet test with OpenVINO 2020.2
  modules/dnn/src/dnn.cpp
Labels: category: dnn

#16878 Case sensitive dnn layers types
  modules/dnn/src/dnn.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/torch/torch_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn

#17005 OpenCL: fix OpenCL spec violation
  modules/imgproc/src/opencl/hough_lines.cl
Labels: bug, category: imgproc, category: ocl

#16640 Enable Otsu thresholding for CV_16UC1 images
  modules/imgproc/src/thresh.cpp
  modules/imgproc/test/test_thresh.cpp
Labels: category: imgproc, feature

#16984 Switch to argparse in gen_pattern.py from parsing manually - reworked
  doc/pattern_tools/gen_pattern.py
Labels: category: apps, category: documentation

#16840 Supported Fully Connected layer with two inputs
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#16889 Consolidate tutorials on image read/display/write
  doc/py_tutorials/py_gui/py_image_display/images/matplotlib_screenshot.jpg
  doc/py_tutorials/py_gui/py_image_display/images/opencv_screenshot.jpg
  doc/py_tutorials/py_gui/py_image_display/py_image_display.markdown
  doc/py_tutorials/py_gui/py_table_of_contents_gui.markdown
  doc/tutorials/introduction/display_image/display_image.markdown
  doc/tutorials/introduction/images/Load_Save_Image_Result_1.jpg
  doc/tutorials/introduction/images/Load_Save_Image_Result_2.jpg
  doc/tutorials/introduction/load_save_image/load_save_image.markdown
  doc/tutorials/introduction/table_of_content_introduction.markdown
  samples/cpp/tutorial_code/introduction/display_image/display_image.cpp
  samples/python/tutorial_code/introduction/display_image/display_image.py
Labels: category: documentation, category: highgui-gui, category: imgcodecs

#15907 G-API: unique_ptr for Priv in fluid
  modules/gapi/include/opencv2/gapi/fluid/gfluidbuffer.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/fluid/gfluidbuffer.cpp
  modules/gapi/src/backends/fluid/gfluidbuffer_priv.hpp
  modules/gapi/test/gapi_kernel_tests.cpp
Labels: category: g-api / gapi

#16905 Import TF2.0 network from Keras
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#16717 G-API: cv::gapi::goodFeaturesToTrack() implementation
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
Labels: category: g-api / gapi

#16999 Added export to GIslandExecutable class
  modules/gapi/src/compiler/gislandmodel.hpp
Labels: category: build/install, category: g-api / gapi

#17007 OpenJPEG: fixed compilation and warnings with VS
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.cpp
Labels: category: build/install, category: imgcodecs, platform: win32

#16614 added estimateTranslation3D to calib3d/ptsetreg
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/ptsetreg.cpp
  modules/calib3d/test/test_translation3d_estimator.cpp
Labels: category: calib3d, feature

#17014 Fix Elu import from ONNX
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: dnn

#17009 videoio: added plug-in support to MSMF backend
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/plugin.cmake
  modules/videoio/src/cap_mfx_plugin.cpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/videoio_registry.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, feature, platform: win32

#16979 Support FusedResizeAndPadConv2D from TensorFlow
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#16993 Migrated FAQ page to Github Wiki.
  doc/faq.markdown
Labels: category: documentation

#17010 cmake: update generation of 'uninstall' target
  cmake/OpenCVExtraTargets.cmake
  cmake/templates/cmake_uninstall.cmake.in
Labels: category: build/install

#17018 GAPI: Fix [-Wreturn-type] warning on standalone mac build
  modules/gapi/include/opencv2/gapi/own/assert.hpp
Labels: category: g-api / gapi

#16788 G-API: gapi::calcOpticalFlowPyrLK() Implementation
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/cpu/video.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/video.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_video_perf_tests.cpp
  modules/gapi/perf/common/gapi_video_perf_tests.hpp
  modules/gapi/perf/common/gapi_video_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_video_perf_tests_cpu.cpp
  modules/gapi/perf/perf_precomp.hpp
  modules/gapi/src/api/kernels_video.cpp
  modules/gapi/src/backends/cpu/gcpuvideo.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/common/gapi_video_tests.cpp
  modules/gapi/test/common/gapi_video_tests.hpp
  modules/gapi/test/common/gapi_video_tests_common.hpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
  modules/gapi/test/cpu/gapi_video_tests_cpu.cpp
  modules/gapi/test/test_precomp.hpp
Labels: category: g-api / gapi, feature

#16975 highgui: Fix error at #include <window_winrt_bridge.hpp>
  modules/highgui/src/window_winrt.cpp
Labels: bug, category: build/install, platform: winrt/uwp

#17028 Update OpenCVFindVA_INTEL.cmake
  cmake/OpenCVFindVA_INTEL.cmake
Labels: bug, category: build/install

#17000 Async islands
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/api/gproto_priv.hpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/internal/gapi_int_proto_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, feature

#17023 Remove std::binary_function as it's deprecated in C++11
  3rdparty/openexr/IlmImf/ImfAttribute.cpp
Labels: category: 3rdparty

#16653 core(MatExpr): drop from InputArray
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/src/matrix_expressions.cpp
  modules/core/test/test_mat.cpp
Labels: RFC, category: core

#17006 Remove OpenCV comment in .ppm writer
  modules/imgcodecs/src/grfmt_pxm.cpp
Labels: category: imgcodecs

#17039 CUDA: Fix cuda imgproc failure
  modules/cudaimgproc/test/test_color.cpp
Labels: category: gpu/cuda (contrib), test

#13869 LineVirtualIterator
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/drawing.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: category: imgproc, feature

#16985 ONNX : ReflecitonPad2d and ZeroPad2d Subgraph fusion added
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#16925 Enable ONNX SSD from https://github.com/amdegroot/ssd.pytorch
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#17025 photo: fix test failure on Jetson Nano/TX1/TX2
  modules/photo/test/test_denoising.cuda.cpp
Labels: category: gpu/cuda (contrib), category: photo, test

#17049 Fixed compilation when NN builder is not built
  modules/dnn/CMakeLists.txt
  modules/dnn/src/op_inf_engine.hpp
Labels: category: build/install, category: dnn

#17060 Align DLIE and nGraph average pooling layers
  modules/dnn/src/layers/pooling_layer.cpp
Labels: bug, category: dnn

#17048 GAPI: utils - variant::get_if
  modules/gapi/include/opencv2/gapi/util/variant.hpp
  modules/gapi/test/util/variant_tests.cpp
Labels: category: g-api / gapi

#17017 Header parser `explicit` constructors support
  modules/python/src2/hdr_parser.py
  modules/videoio/misc/java/test/VideoCaptureTest.java
Labels: category: java bindings, category: python bindings, test

#17056 Build OpenCV winpack with DLDT 2020.2
  platforms/winpack_dldt/2020.2/20200413-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2020.2/20200413-dldt-fix-binaries-location.patch
  platforms/winpack_dldt/2020.2/20200413-dldt-pdb.patch
  platforms/winpack_dldt/2020.2/20200415-ngraph-disable-unused-options.patch
  platforms/winpack_dldt/2020.2/patch.config.py
  platforms/winpack_dldt/2020.2/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: backport is needed, category: build/install, category: dnn, platform: win32

#17079 CUDA: fix test failure on Jetson TX2
  modules/cudabgsegm/test/test_bgsegm.cpp
Labels: category: gpu/cuda (contrib), test

#17081 (3.4) Build OpenCV winpack with DLDT 2020.2
  platforms/winpack_dldt/2020.2/20200413-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2020.2/20200413-dldt-fix-binaries-location.patch
  platforms/winpack_dldt/2020.2/20200413-dldt-pdb.patch
  platforms/winpack_dldt/2020.2/20200415-ngraph-disable-unused-options.patch
  platforms/winpack_dldt/2020.2/patch.config.py
  platforms/winpack_dldt/2020.2/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: dnn, platform: win32, port/backport done

#17084 objdetect: fix wrong condition check
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#17083 Added to description of WCube constructor
  modules/viz/include/opencv2/viz/widgets.hpp
Labels: category: documentation, category: viz

#17074 Fix python tutorial document miss
  doc/py_tutorials/py_ml/py_svm/py_svm_basics/py_svm_basics.markdown
Labels: category: documentation, category: ml

#17080 Remove NodeVector for nGraph
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
Labels: category: dnn

#17075 dnn: align with OpenVINO 2020.2
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/src/op_inf_engine.hpp
Labels: category: build/install, category: dnn

#17091 objdetect: avoid test failure on Arm platform
  modules/objdetect/test/test_cascadeandhog.cpp
Labels: category: objdetect, test

#17071 TickMeter: added FPS and AvgTime, improved docs, reformatted
  modules/core/include/opencv2/core/utility.hpp
  samples/cpp/tutorial_code/snippets/core_various.cpp
Labels: category: core, feature

#16795 Added a sample file for qrcode detection in python
  samples/python/qrcode.py
Labels: category: objdetect, category: python bindings, category: samples

#16769 Do not copy standalone IPP libraries to install for static builds
  cmake/OpenCVFindIPP.cmake
  cmake/OpenCVFindIPPIW.cmake
Labels: category: build/install

#17096 fix missing underscore
  modules/java/CMakeLists.txt
Labels: bug, category: build/install

#17046 core: drop EXPR handing code in InputArray
  modules/core/include/opencv2/core/mat.hpp
  modules/core/src/matrix_expressions.cpp
  modules/core/src/matrix_wrap.cpp
Labels: category: core

#17105 Point Polygon Test Demo : resolved tuple error
  samples/python/tutorial_code/ShapeDescriptors/point_polygon_test/pointPolygonTest_demo.py
Labels: category: documentation, category: samples

#17102 Flexible inputs for OpenVINO IR models
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_misc.cpp
Labels: category: dnn

#17110 videoio(MSMF): fix build warning
  modules/videoio/src/cap_msmf.cpp
Labels: category: build/install, category: videoio, platform: win32

#17109 cmake: handle VIDEOIO_PLUGIN_LIST=all
  modules/videoio/CMakeLists.txt
Labels: category: build/install, category: videoio

#17106 Added descriptions of randu and randn
  modules/core/include/opencv2/core/matx.hpp
Labels: category: core, category: documentation

#17112 Support nGraph Region
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn

#16995 G-API: Mat's "deownification"
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidbuffer.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gmetaarg.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/own/cvdefs.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/api/gmat.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/api/gscalar.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/cpu/gcpukernel.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbuffer.cpp
  modules/gapi/src/backends/fluid/gfluidbuffer_priv.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/backends/plaidml/gplaidmlbackend.cpp
  modules/gapi/src/backends/render/grenderocvbackend.cpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/gapi_async_test.cpp
  modules/gapi/test/gapi_desc_tests.cpp
  modules/gapi/test/gapi_fluid_test.cpp
  modules/gapi/test/gapi_sample_pipelines.cpp
  modules/gapi/test/own/mat_tests.cpp
Labels: category: g-api / gapi

#16961 QRDetectMulti : different return value bug fix
  modules/objdetect/perf/perf_qrcode_pipeline.cpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: bug, category: objdetect

#17030 ONNX: modifications in onnx_importer for upsample node fused from unfused Resize subgraph
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#17123 Fixed "strange" formulas in the documentation for 3.4 branch
  doc/tutorials/ml/non_linear_svms/non_linear_svms.markdown
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/video/include/opencv2/video/tracking.hpp
Labels: bug, category: documentation

#17120 Fixed "strange" formulas in the documentation for master branch
  modules/gapi/include/opencv2/gapi/imgproc.hpp
Labels: bug, category: documentation, category: g-api / gapi

#16887 ONNX: Add support for Resnet_backbone (Torchvision)
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#17122 videoio: load debug versions of plug-ins in debug builds
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/plugin.cmake
  modules/videoio/src/backend_plugin.cpp
Labels: category: build/install, category: videoio, platform: win32

#17133 GAPI: fix build, update IE handling, add OPENCV_GAPI_INF_ENGINE
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/own/convert.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: bug, category: build/install, category: g-api / gapi

#17082 G-API: gapi::buildOpticalFlowPyramid() Implementation
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/video.hpp
  modules/gapi/perf/common/gapi_video_perf_tests.hpp
  modules/gapi/perf/common/gapi_video_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_video_perf_tests_cpu.cpp
  modules/gapi/src/api/kernels_video.cpp
  modules/gapi/src/backends/cpu/gcpuvideo.cpp
  modules/gapi/test/common/gapi_video_tests.hpp
  modules/gapi/test/common/gapi_video_tests_common.hpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
  modules/gapi/test/cpu/gapi_video_tests_cpu.cpp
Labels: category: g-api / gapi, feature

#17088 G-API: Laplacian and bilateralFilter standard kernels
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/perf/gpu/gapi_imgproc_perf_tests_gpu.cpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/src/backends/ocl/goclimgproc.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
Labels: category: g-api / gapi, feature

#17129 dnn(test): skip failed NGRAPH/MYRIAD tests
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, test

#17134 dnn(IE): avoid conversion to legacy CNNNetworkImpl
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_ie_models.cpp
Labels: bug, category: dnn

#17108 Update videocapture_basic.cpp
  modules/videoio/doc/videoio_overview.markdown
  modules/videoio/src/cap_aravis.cpp
  samples/cpp/videocapture_basic.cpp
Labels: category: samples, category: videoio

#17144 cuda4dnn(Slice): handle case where no slicing is required
  modules/dnn/src/cuda4dnn/primitives/slice.hpp
Labels: category: dnn, category: gpu/cuda (contrib)

#17149 core(SIMD): suppress coverity UNINIT_CTOR on SIMD vectors
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
Labels: category: core

#17119 features2d: move SIFT to main repository
  doc/opencv.bib
  doc/py_tutorials/py_feature2d/py_feature_homography/py_feature_homography.markdown
  doc/py_tutorials/py_feature2d/py_matcher/py_matcher.markdown
  doc/py_tutorials/py_feature2d/py_sift_intro/py_sift_intro.markdown
  doc/tutorials/features2d/feature_flann_matcher/feature_flann_matcher.markdown
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/misc/java/test/SIFTDescriptorExtractorTest.java
  modules/features2d/perf/perf_sift.cpp
  modules/features2d/src/sift.cpp
  modules/features2d/test/test_descriptors_invariance.cpp
  modules/features2d/test/test_descriptors_regression.cpp
  modules/features2d/test/test_detectors_invariance.cpp
  modules/features2d/test/test_detectors_regression.cpp
  modules/features2d/test/test_keypoints.cpp
  modules/stitching/src/matchers.cpp
  samples/cpp/tutorial_code/calib3d/real_time_pose_estimation/src/Utils.cpp
  samples/python/find_obj.py
Labels: category: features2d

#17157 dnn(protobuf): backport AllowUnknownField(), SetRecursionLimit()
  3rdparty/protobuf/src/google/protobuf/text_format.cc
  3rdparty/protobuf/src/google/protobuf/text_format.h
  modules/dnn/src/caffe/caffe_io.cpp
Labels: bug, category: 3rdparty, category: dnn

#17161 cmake: fix protobuf handling
  cmake/OpenCVFindProtobuf.cmake
  modules/dnn/CMakeLists.txt
Labels: category: build/install, category: dnn

#17159 Added to Camera constructor parameter description
  modules/viz/include/opencv2/viz/types.hpp
Labels: category: documentation, category: viz

#16914 Update train.prototxt
  samples/dnn/face_detector/train.prototxt
Labels: category: dnn, category: samples

#16983 PReLU from Tensorflow
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#16766 feature: Extend VideoWriter to accept vector of parameters
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/backend.hpp
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/backend_static.cpp
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_images.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/cap_mfx_writer.cpp
  modules/videoio/src/cap_mjpeg_encoder.cpp
  modules/videoio/src/cap_msmf.cpp
Labels: RFC, category: videoio, feature

#17145 Added initial version of cmake toolchain for RISC-V architecture
  cmake/OpenCVDetectCXXCompiler.cmake
  modules/core/src/parallel_impl.cpp
  platforms/linux/riscv.toolchain.cmake
  platforms/linux/riscv64-gnu.toolchain.cmake
Labels: platform: riscv

#17173 OpenCL: fix test failure on ODROID-N2
  modules/objdetect/src/hog.cpp
  modules/objdetect/src/opencl/objdetect_hog.cl
Labels: bug, category: objdetect, category: ocl

#17180 fix Scharr nomination
  modules/cudaoptflow/src/cuda/pyrlk.cu
  modules/video/src/lkpyramid.cpp
  modules/video/src/lkpyramid.hpp
Labels: category: video

#17190 dnn(test): update skip tests on Win32 configuration
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#17185 Support Yolov4
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn

#17188 Restored test disabled during 3.0-alpha preparation.
  modules/calib3d/test/test_fisheye.cpp
Labels: category: calib3d, test
