Repository opencv/opencv, pull requests merged in 2020-03, with the labels that each got.

#16652 Using argv[0] represent binary executable files' name in help() function in sample codes instead of cpp files' name.
  samples/cpp/3calibration.cpp
  samples/cpp/calibration.cpp
  samples/cpp/camshiftdemo.cpp
  samples/cpp/contours2.cpp
  samples/cpp/convexhull.cpp
  samples/cpp/cout_mat.cpp
  samples/cpp/delaunay2.cpp
  samples/cpp/detect_blob.cpp
  samples/cpp/detect_mser.cpp
  samples/cpp/digits.cpp
  samples/cpp/distrans.cpp
  samples/cpp/drawing.cpp
  samples/cpp/edge.cpp
  samples/cpp/facedetect.cpp
  samples/cpp/facial_features.cpp
  samples/cpp/fback.cpp
  samples/cpp/ffilldemo.cpp
  samples/cpp/fitellipse.cpp
  samples/cpp/grabcut.cpp
  samples/cpp/image_alignment.cpp
  samples/cpp/laplace.cpp
  samples/cpp/letter_recog.cpp
  samples/cpp/matchmethod_orb_akaze_brisk.cpp
  samples/cpp/morphology2.cpp
  samples/cpp/segment_objects.cpp
  samples/cpp/select3dobj.cpp
  samples/cpp/stereo_calib.cpp
  samples/cpp/stereo_match.cpp
  samples/cpp/stitching_detailed.cpp
  samples/cpp/tree_engine.cpp
Labels: category: samples

#16716 Skipped ResizeUnfused test on Builder API
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#16700 core: fix MatExpr::size() for gemm()
  modules/core/src/matrix_expressions.cpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core

#16720 KW: G-API tests - fixes for uninitialized variables
  modules/gapi/test/gapi_opaque_tests.cpp
Labels: category: g-api / gapi, test

#16721 MSMF: fixed issue with camera format selection
  modules/videoio/src/cap_msmf.cpp
Labels: bug, category: videoio(camera), platform: win32

#16709 ONNX: Add support for Style trasfer models, ONNX model zoo
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#16722 Supported Div op for constants
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#15765 Use argument value for 'mat' in call to format for vector_mat and vector_mat_template
  modules/python/src2/hdr_parser.py
  modules/python/test/test_umat.py
Labels: Hackathon, category: python bindings

#16731 imgproc(integral): avoid OOB access
  modules/imgproc/perf/perf_integral.cpp
  modules/imgproc/src/sumpixels.simd.hpp
Labels: bug, category: imgproc, optimization

#16704 core(logger): add CV_LOG_ONCE_xxx() CV_LOG_IF_xxx() macros
  modules/core/include/opencv2/core/utils/logger.hpp
  modules/core/src/logger.cpp
  modules/core/test/test_utils.cpp
Labels: category: core, feature

#16693 G-API: Include <imgproc.hpp> to <render.hpp>
  modules/gapi/src/api/render.cpp
Labels: category: g-api / gapi

#16577 G-API: Fix. own::Mat successfully creates a {-1, -1} mat.
  modules/gapi/include/opencv2/gapi/own/mat.hpp
  modules/gapi/test/own/mat_tests.cpp
Labels: category: g-api / gapi

#16513 Allow access to CUDA pointers for interoperability with other libraries
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/include/opencv2/core/cuda.inl.hpp
  modules/core/src/cuda_stream.cpp
  modules/python/test/test_cuda.py
Labels: category: gpu/cuda (contrib), category: python bindings, feature

#16723 core(ocl): Don't query image formats when none exist
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#16740 Fix building with ToT libc++
  modules/core/include/opencv2/core/cvstd.inl.hpp
Labels: category: build/install

#16719 (3.4) DNN(IE): use HAVE_DNN_IE_NN_BUILDER_2019 for NN Builder API code
  modules/dnn/CMakeLists.txt
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_misc.cpp
  modules/ts/src/ts_tags.cpp
Labels: category: dnn, port/backport done

#16694 DNN(IE): use HAVE_DNN_IE_NN_BUILDER_2019 for NN Builder API code
  modules/dnn/CMakeLists.txt
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_misc.cpp
  modules/ts/src/ts_tags.cpp
Labels: category: dnn, port/backport done

#16697 imgcodecs(jpeg): drop unnecessary code
  modules/imgcodecs/src/grfmt_jpeg.cpp
Labels: category: imgcodecs

#16738 Broadcasting from ONNX
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#16751 core: fix coverity issues
  modules/core/src/minmax.cpp
  modules/core/src/norm.cpp
Labels: category: core

#16754 core: FP16 norm() test
  modules/core/src/minmax.cpp
  modules/core/src/norm.cpp
  modules/core/src/sum.dispatch.cpp
  modules/core/test/ocl/test_arithm.cpp
  modules/ts/src/ts_func.cpp
Labels: bug, category: core, test

#16743 ts(gtest): dump exception message from EXPECT_NO_THROW()
  modules/ts/include/opencv2/ts/ts_gtest.h
Labels: test

#16724 3.4-tengine
  3rdparty/libtengine/tengine.cmake
  CMakeLists.txt
  cmake/OpenCVFindTengine.cmake
  modules/dnn/CMakeLists.txt
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/tengine4dnn/include/tengine_graph_convolution.hpp
  modules/dnn/src/tengine4dnn/src/tengine_graph_convolution.cpp
Labels: category: dnn, optimization, platform: arm

#16625 findChessboardCornersSB improvements
  modules/calib3d/doc/pics/checkerboard_radon.png
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/chessboard.cpp
  modules/calib3d/src/chessboard.hpp
  modules/calib3d/test/test_chesscorners.cpp
Labels: category: calib3d, feature

#16436 dnn(darknet-importer): add grouped convolutions, sigmoid, swish, scale_channels
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, feature

#16604 G-API: Zero-height mat is cause of crash
  modules/gapi/include/opencv2/gapi/gproto.hpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/compiler/gcompiled.cpp
  modules/gapi/test/own/mat_tests.cpp
Labels: category: g-api / gapi

#16713 feature: Add video capture bitrate read-only property for FFMPEG backend
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_api.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: videoio, feature

#16746 DNN(IE): switch to nGraph backend by default
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn

#16744 core: don't allow reallocation in add/div/sub/bitwise aug operators
  modules/core/include/opencv2/core/operations.hpp
  modules/core/test/test_operations.cpp
Labels: bug, category: core

#16773 ffmpeg/3.4: update FFmpeg wrapper
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: affected: 3.4, category: 3rdparty, category: videoio, platform: win32

#16774 core: update CPUs detection
  modules/core/src/parallel.cpp
  modules/ts/src/ts.cpp
Labels: category: core

#16782 GAPI - KW fixes - - replace "unsafe" memcpy with "safe" :) std::copy_n to make KW happy
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
Labels: category: g-api / gapi

#16498 Expose maxIters in findFundamentalMat
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/fundam.cpp
Labels: RFC, category: calib3d, feature

#16756 cmake: allow extra compile options for tests
  cmake/OpenCVModule.cmake
Labels: category: build/install

#16784 ffmpeg/4.x: update FFmpeg plugin
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: 3rdparty, category: videoio, platform: win32

#16787 fix: estimateChessboardSharpness triggers out of range test
  modules/calib3d/src/chessboard.cpp
Labels: category: calib3d

#16792 dnn: fix merge mistake in scale_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
Labels: bug, category: dnn

#16793 GAPI - KW fixes - replaced bitwise &= on bools, with explicit &&
  modules/gapi/src/executor/gstreamingexecutor.cpp
Labels: category: g-api / gapi

#16796 GAPI - KW fixes - avoid overflow in own::Mat::total() and according tests
  modules/gapi/include/opencv2/gapi/own/mat.hpp
  modules/gapi/test/own/mat_tests.cpp
Labels: category: g-api / gapi

#16806 GAPI - KW fixes: avoid overflow in own::Mat::total() and according tests, part 2
  modules/gapi/test/own/mat_tests.cpp
Labels: category: g-api / gapi, test

#16797 cmake: fix missing project() warning in Python standalone builds
  modules/python/CMakeLists.txt
Labels: category: build/install, category: python bindings

#16798 opencv_version: dump threads information
  apps/version/opencv_version.cpp
Labels: category: apps, category: core

#16735 Supported Flatten for constant nodes
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#16760 Support for MobileNetV3-SSD from TensorFlow
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  samples/dnn/tf_text_graph_ssd.py
Labels: category: dnn, feature

#16809 dnn(ie): separate IECore for different devices
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: category: dnn

#16812 core:vsx reimplement `v_broadcast_element()`
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
Labels: category: core, optimization

#16786 core: adjust type of allocator_stats counter, allow to disable
  cmake/OpenCVDetectCXXCompiler.cmake
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/utils/allocator_stats.impl.hpp
Labels: category: build/install, category: core

#16695 Intelligent scissors
  samples/cpp/intelligent_scissors.cpp
Labels: category: samples

#16779 Fixes issue 16777.
  modules/core/src/parallel.cpp
Labels: bug, category: core, platform: win32

#16820 Fix memory leak in Python custom dnn layers
  modules/dnn/misc/python/pyopencv_dnn.hpp
Labels: bug, category: dnn, category: python bindings

#16824 Fixs several problems found by static analysis
  modules/calib3d/src/chessboard.cpp
  modules/core/src/persistence.cpp
  modules/features2d/src/kaze/AKAZEFeatures.cpp
  modules/objdetect/src/qrcode.cpp
Labels: port/backport done

#16826 Backport 3.4: Fix several problems found by static analysis
  modules/features2d/src/kaze/AKAZEFeatures.cpp
  modules/objdetect/src/qrcode.cpp
Labels: port/backport done

#16825 objdetect: fix QRCode tests with disabled QUIRC
  modules/objdetect/test/test_qrcode.cpp
Labels: category: objdetect, test

#16827 core(buffer_area): handle 'OPENCV_ENABLE_MEMORY_SANITIZER=ON' case
  modules/core/include/opencv2/core/utils/buffer_area.private.hpp
  modules/core/src/buffer_area.cpp
Labels: category: core

#16715 Support Slice layer with multiple inputs
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#16836 stitching: don't use nonfree by default
  modules/stitching/src/stitcher.cpp
Labels: RFC, affected: 3.4, bug, category: stitching

#16818 Update template_matching.markdown
  doc/tutorials/imgproc/histograms/template_matching/template_matching.markdown
Labels: category: documentation

#16733 Some debian package manager tweaks
  modules/videoio/misc/plugin_ffmpeg/Dockerfile-ffmpeg
  modules/videoio/misc/plugin_ffmpeg/Dockerfile-ubuntu
  modules/videoio/misc/plugin_gstreamer/Dockerfile
Labels: category: build/install

#16554 Added DaSiamRPN tracker
  samples/dnn/dasiamrpn_tracker.py
Labels: category: dnn

#16768 G-API: Implement WarpAffine
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
Labels: category: g-api / gapi, feature

#16846 cmake(python): handle PYTHON3_LIMITED_API
  modules/python/common.cmake
Labels: category: build/install, category: python bindings

#16828 dnn: expose only float variant of NMSBoxes for bindings
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/python/test/test_dnn.py
Labels: category: dnn, category: python bindings, test

#16835 [WIP] cuda4dnn: release and relock page-locked memory when tensor is resized
  modules/dnn/src/cuda4dnn/csl/memory.hpp
  modules/dnn/src/op_cuda.hpp
Labels: bug, category: dnn, category: gpu/cuda (contrib)

#16853 Add link to article for sample "Intelligent scissors"
  samples/cpp/intelligent_scissors.cpp
Labels: category: samples

#16832 3.4 tengine android
  3rdparty/libtengine/tengine.cmake
  CMakeLists.txt
  cmake/OpenCVFindTengine.cmake
Labels: category: build/install

#16858 core: fix .begin()/.end() of empty Mat
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core

#16865 doc: fix misused "see also" doxygen command
  doc/js_tutorials/js_gui/js_image_display/js_image_display.markdown
  doc/py_tutorials/py_calib3d/py_calibration/py_calibration.markdown
  doc/py_tutorials/py_gui/py_image_display/py_image_display.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contours_more_functions/py_contours_more_functions.markdown
  doc/py_tutorials/py_imgproc/py_histograms/py_histogram_begins/py_histogram_begins.markdown
  doc/tutorials/ml/introduction_to_svm/introduction_to_svm.markdown
  doc/tutorials/videoio/video-input-psnr-ssim/video_input_psnr_ssim.markdown
  modules/cudaoptflow/include/opencv2/cudaoptflow.hpp
  modules/videoio/include/opencv2/videoio.hpp
Labels: bug, category: documentation

#16859 Try to enable G-API build on Android
  modules/gapi/cmake/DownloadADE.cmake
Labels: category: build/install, category: g-api / gapi, platform: android

#16868 cuda4dnn(ScaleShift): fix segfaults, support bias in untrainable mode, allow batches in untrainable mode
  modules/dnn/src/cuda4dnn/primitives/scale_shift.hpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, category: gpu/cuda (contrib)

#16864 imgproc: add src.empty() checks in filter operations
  modules/imgproc/src/bilateral_filter.dispatch.cpp
  modules/imgproc/src/box_filter.dispatch.cpp
  modules/imgproc/src/deriv.cpp
  modules/imgproc/src/filter.dispatch.cpp
  modules/imgproc/src/median_blur.dispatch.cpp
  modules/imgproc/src/morph.dispatch.cpp
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/test/test_filter.cpp
  modules/objdetect/src/qrcode.cpp
  modules/ts/include/opencv2/ts/ts_ext.hpp
Labels: bug, category: imgproc

#16882 cmake(apps): support OPENCV_INSTALL_APPS_LIST
  apps/CMakeLists.txt
Labels: category: apps, category: build/install

#16883 cmake: set CMP0066 => NEW
  CMakeLists.txt
Labels: category: build/install

#16817 (dnn) LSTM from ONNX
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#16885 calib3d: fixed VS2019 warning C4756
  modules/calib3d/src/quadsubpix.cpp
Labels: category: build/install, platform: win32

#16849 G-API utils - fix compilation error in variant::operator=
  modules/gapi/include/opencv2/gapi/util/variant.hpp
  modules/gapi/test/util/variant_tests.cpp
Labels: category: g-api / gapi

#16891 3rdparty: libjpeg-turbo 2.0.2 => 2.0.4
  3rdparty/libjpeg-turbo/CMakeLists.txt
  3rdparty/libjpeg-turbo/README.md
  3rdparty/libjpeg-turbo/src/jchuff.c
  3rdparty/libjpeg-turbo/src/jcmaster.c
  3rdparty/libjpeg-turbo/src/jcphuff.c
  3rdparty/libjpeg-turbo/src/jdhuff.c
  3rdparty/libjpeg-turbo/src/jdmerge.c
  3rdparty/libjpeg-turbo/src/jdsample.c
  3rdparty/libjpeg-turbo/src/jfdctint.c
  3rdparty/libjpeg-turbo/src/jidctint.c
  3rdparty/libjpeg-turbo/src/jidctred.c
Labels: category: 3rdparty, category: imgcodecs

#16892 3rdparty: update libtiff 4.0.10 => 4.1.0
  3rdparty/libtiff/CMakeLists.txt
  3rdparty/libtiff/snprintf.c
  3rdparty/libtiff/tif_aux.c
  3rdparty/libtiff/tif_config.h.cmake.in
  3rdparty/libtiff/tif_dir.c
  3rdparty/libtiff/tif_dirread.c
  3rdparty/libtiff/tif_dirwrite.c
  3rdparty/libtiff/tif_luv.c
  3rdparty/libtiff/tif_lzw.c
  3rdparty/libtiff/tif_pixarlog.c
  3rdparty/libtiff/tif_read.c
  3rdparty/libtiff/tif_webp.c
  3rdparty/libtiff/tif_zip.c
  3rdparty/libtiff/tiffiop.h
Labels: category: 3rdparty, category: imgcodecs

#16893 3rdparty: update libwebp 1.0.3 => 1.1.0
  3rdparty/libwebp/src/dec/frame_dec.c
  3rdparty/libwebp/src/dec/idec_dec.c
  3rdparty/libwebp/src/dec/vp8i_dec.h
  3rdparty/libwebp/src/dec/vp8l_dec.c
  3rdparty/libwebp/src/dec/vp8li_dec.h
  3rdparty/libwebp/src/demux/demux.c
  3rdparty/libwebp/src/dsp/dec_neon.c
  3rdparty/libwebp/src/dsp/dsp.h
  3rdparty/libwebp/src/dsp/lossless.c
  3rdparty/libwebp/src/dsp/lossless_common.h
  3rdparty/libwebp/src/dsp/lossless_enc_sse2.c
  3rdparty/libwebp/src/dsp/lossless_sse2.c
  3rdparty/libwebp/src/dsp/upsampling_msa.c
  3rdparty/libwebp/src/dsp/upsampling_neon.c
  3rdparty/libwebp/src/enc/histogram_enc.c
  3rdparty/libwebp/src/enc/picture_csp_enc.c
  3rdparty/libwebp/src/enc/vp8i_enc.h
  3rdparty/libwebp/src/mux/muxi.h
  3rdparty/libwebp/src/mux/muxread.c
  3rdparty/libwebp/src/utils/color_cache_utils.h
  3rdparty/libwebp/src/utils/thread_utils.c
  3rdparty/libwebp/src/utils/utils.c
  3rdparty/libwebp/src/webp/decode.h
  3rdparty/libwebp/src/webp/encode.h
  3rdparty/libwebp/src/webp/mux.h
  3rdparty/libwebp/src/webp/mux_types.h
  3rdparty/libwebp/src/webp/types.h
Labels: category: 3rdparty, category: imgcodecs

#16894 3rdparty: update TBB 2020.0 => 2020.1
  3rdparty/tbb/CMakeLists.txt
Labels: category: 3rdparty, category: build/install

#16888 cuda4dnn(conv): fix CUDNN_STATUS_NOT_SUPPORTED, remove redundant fusion checks
  modules/dnn/src/cuda4dnn/csl/cudnn/cudnn.hpp
  modules/dnn/src/cuda4dnn/primitives/convolution.hpp
  modules/dnn/src/dnn.cpp
Labels: category: dnn, category: gpu/cuda (contrib)

#16897 calib3d: check input values in dls (KW)
  modules/calib3d/src/dls.cpp
Labels: category: calib3d

#16803 G-API: Implement NV12toGray
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
Labels: category: g-api / gapi, feature

#16895 core(persistence): fix resource leaks - force closing files
  modules/core/src/persistence.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#16841 G-API: Implement WarpPerspective
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
Labels: category: g-api / gapi, feature

#16903 (3.4) core(persistence): fix resource leaks - force closing files
  modules/core/src/persistence.cpp
  modules/core/src/persistence_c.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core, priority: normal

#16901 cmake: fix find process for InferenceEngine extra libraries
  cmake/OpenCVDetectInferenceEngine.cmake
Labels: category: build/install, category: dnn

#16494 RFC: Jpeg2000 OpenJPEG port
  CMakeLists.txt
  cmake/OpenCVFindLibsGrfmt.cmake
  cmake/templates/cvconfig.h.in
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.cpp
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.hpp
  modules/imgcodecs/src/grfmts.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_grfmt.cpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: Hackathon, category: imgcodecs, feature

#16916 fix freebsd build
  modules/core/src/parallel.cpp
Labels: category: build/install

#16860 Closes 16292: calib3d(docs): misleading/ wrong documentation for RT
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: backport is needed, category: calib3d, category: documentation

#16847 Build opencv winpack dldt
  cmake/OpenCVModule.cmake
  platforms/winpack_dldt/.gitattributes
  platforms/winpack_dldt/2020.1/20200313-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2020.1/20200313-dldt-fix-binaries-location.patch
  platforms/winpack_dldt/2020.1/20200313-ngraph-disable-tests-examples.patch
  platforms/winpack_dldt/2020.1/20200318-dldt-pdb.patch
  platforms/winpack_dldt/2020.1/20200319-dldt-fix-msvs2019-v16.5.0.patch
  platforms/winpack_dldt/2020.1/patch.config.py
  platforms/winpack_dldt/2020.1/sysroot.config.py
  platforms/winpack_dldt/build_package.py
  platforms/winpack_dldt/cmake-opencv-checks/POST_FINALIZE.cmake
  platforms/winpack_dldt/package-tests/test_dnn_backends.py
Labels: category: build/install, category: dnn, platform: win32

#16913 G-API(SIMD): initialize accumulator values
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: bug, category: g-api / gapi

#16915 Eliminate build warnings
  modules/calib3d/src/chessboard.cpp
  modules/calib3d/src/chessboard.hpp
  modules/core/src/parallel.cpp
  modules/dnn/CMakeLists.txt
Labels: category: build/install, port/backport done

#16918 (3.4) eliminate build warnings
  modules/core/src/parallel.cpp
  modules/dnn/CMakeLists.txt
Labels: category: build/install

#16919 (3.4) calib3d updates documentation
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation, port/backport done

#16922 imgcodecs(test): rework common I/O test, added grayscale mode
  modules/imgcodecs/test/test_common.cpp
  modules/imgcodecs/test/test_common.hpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: category: imgcodecs, test

#16928 imgproc(resize): fix resizeNNInvoker handling of generic pixel size
  modules/imgproc/src/resize.cpp
  modules/imgproc/test/test_imgwarp.cpp
Labels: bug, category: imgproc

#16932 imgproc(resize): drop unused 'pix_size4'
  modules/imgproc/src/resize.avx2.cpp
  modules/imgproc/src/resize.cpp
  modules/imgproc/src/resize.hpp
  modules/imgproc/src/resize.sse4_1.cpp
Labels: category: imgproc

#16938 build: adapt samples scripts for winpack DLDT package
  CMakeLists.txt
  modules/videoio/CMakeLists.txt
  samples/_winpack_build_sample.cmd
  samples/_winpack_run_python_sample.cmd
  samples/python/demo.py
Labels: category: build/install, category: samples, platform: win32
