Repository opencv/opencv, pull requests merged in 2020-11, with the labels that each got.

#18651 Not serialize compile arguments which have no S11N<T> template specialization
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/include/opencv2/gapi/s11n/base.hpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
Labels: category: g-api / gapi

#18701 Expand ie::Params to support config
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#18716 G-API: Introduce ONNX backend for Inference
  CMakeLists.txt
  cmake/FindONNX.cmake
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/samples/infer_ie_onnx_hybrid.cpp
  modules/gapi/samples/infer_ssd_onnx.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.hpp
  modules/gapi/src/compiler/passes/kernels.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
Labels: category: g-api / gapi

#18724 Change naming of keypoints comparator
  modules/features2d/src/keypoint.cpp
Labels: category: features2d

#18719 G-API: Desync -- fix the queue saturation problem
  modules/gapi/src/executor/gstreamingexecutor.cpp
Labels: category: g-api / gapi

#18736 videoio: added frameSize to MFX capture
  modules/videoio/src/cap_mfx_reader.cpp
  modules/videoio/src/cap_mfx_reader.hpp
  modules/videoio/test/test_mfx.cpp
Labels: category: videoio, feature

#18699 cmake: prefer using Eigen configuration files
  cmake/OpenCVFindLibsPerf.cmake
Labels: category: 3rdparty, category: build/install

#18571 Added clapack
  3rdparty/clapack/CMakeLists.txt
  3rdparty/clapack/include/cblas.h
  3rdparty/clapack/include/f2c.h
  3rdparty/clapack/include/lapack.h
  3rdparty/clapack/lapack_LICENSE
  3rdparty/clapack/make_clapack.py
  3rdparty/clapack/runtime/cblas_wrap.c
  3rdparty/clapack/runtime/dlamch_custom.c
  3rdparty/clapack/runtime/lapack_stubs.c
  3rdparty/clapack/runtime/lsame_custom.c
  3rdparty/clapack/runtime/pow_di.c
  3rdparty/clapack/runtime/pow_ii.c
  3rdparty/clapack/runtime/s_cat.c
  3rdparty/clapack/runtime/s_cmp.c
  3rdparty/clapack/runtime/slamch_custom.c
  3rdparty/clapack/runtime/xerbla_custom.c
  3rdparty/clapack/src/cgemm.c
  3rdparty/clapack/src/dcopy.c
  3rdparty/clapack/src/ddot.c
  3rdparty/clapack/src/dgeev.c
  3rdparty/clapack/src/dgemm.c
  3rdparty/clapack/src/dgemv.c
  3rdparty/clapack/src/dgesdd.c
  3rdparty/clapack/src/disnan.c
  3rdparty/clapack/src/dlacpy.c
  3rdparty/clapack/src/dlange.c
  3rdparty/clapack/src/dlapy2.c
  3rdparty/clapack/src/dlarf.c
  3rdparty/clapack/src/dlarfb.c
  3rdparty/clapack/src/dlarfg.c
  3rdparty/clapack/src/dlarft.c
  3rdparty/clapack/src/dlartg.c
  3rdparty/clapack/src/dlascl.c
  3rdparty/clapack/src/dlaset.c
  3rdparty/clapack/src/dlassq.c
  3rdparty/clapack/src/dnrm2.c
  3rdparty/clapack/src/dorgqr.c
  3rdparty/clapack/src/dormqr.c
  3rdparty/clapack/src/drot.c
  3rdparty/clapack/src/dscal.c
  3rdparty/clapack/src/dswap.c
  3rdparty/clapack/src/dtrmm.c
  3rdparty/clapack/src/dtrmv.c
  3rdparty/clapack/src/ilaenv.c
  3rdparty/clapack/src/sgemm.c
  3rdparty/clapack/src/zgemm.c
  CMakeLists.txt
  cmake/OpenCVFindLAPACK.cmake
  modules/core/src/hal_internal.cpp
  modules/core/test/test_math.cpp
Labels: category: 3rdparty, category: core, feature

#18740 Fixed undefined rmat and media symbols in standalone
  modules/gapi/cmake/standalone.cmake
Labels: category: g-api / gapi

#18741 Use explicit opset of Unsqueeze from nGraph
  modules/dnn/src/layers/prior_box_layer.cpp
Labels: backport is needed, category: dnn

#18732 fix truncate threshold example display issue in py_tutorials
  doc/py_tutorials/py_imgproc/py_thresholding/images/threshold.jpg
  doc/py_tutorials/py_imgproc/py_thresholding/py_thresholding.markdown
Labels: category: documentation, category: imgproc

#18742 Fixed Inputs/OutputsDataMap conversion
  modules/gapi/src/backends/ie/giebackend/giewrapper.cpp
Labels: category: g-api / gapi

#18746 (3.4) Use explicit opset of Unsqueeze from nGraph (backport #18741)
  modules/dnn/src/layers/prior_box_layer.cpp
Labels: category: dnn, port/backport done

#18707 (5.x) imgproc: drop LineSegmentDetector stubs
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/lsd.cpp
  modules/imgproc/test/test_lsd.cpp
Labels: RFC, category: imgproc

#18753 Fix typo in OpenCVFindOpenBLAS.cmake file
  cmake/OpenCVFindOpenBLAS.cmake
Labels: bug, category: build/install

#18752 dnn: use OpenVINO 2021.1 defines
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/src/op_inf_engine.hpp
Labels: category: build/install, category: dnn

#18764 doxygen: adjust IMAGE_PATH
  doc/CMakeLists.txt
Labels: category: documentation

#18652 [G-API]: morphologyEx() Standard Kernel Implementation
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
Labels: category: g-api / gapi, feature, test

#18765 Fix code snippets inclusion into video tutorials
  doc/tutorials/video/background_subtraction/background_subtraction.markdown
  doc/tutorials/videoio/video-input-psnr-ssim/video_input_psnr_ssim.markdown
  doc/tutorials/videoio/video-write/video_write.markdown
Labels: category: documentation

#18510 [G-API]: findContours() and boundingRect() Standard Kernels Implementation
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
Labels: category: g-api / gapi, feature, test

#18774 bindings: "inline namespace"
  modules/python/src2/hdr_parser.py
Labels: category: python bindings, feature

#18786 calib3d: uninitialzed fields in usac
  modules/calib3d/src/usac.hpp
Labels: category: calib3d

#18795 Use in-place sort in stiching example
  samples/python/stitching_detailed.py
Labels: bug, category: samples, category: stitching

#18729 Added support of 1x1x1xN input for parseYolo
  modules/gapi/src/backends/cpu/gnnparsers.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_parsers_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
Labels: category: g-api / gapi

#18771 Xcode 12 and Python 2/3 fixes
  modules/objc/generator/gen_objc.py
  platforms/ios/build_framework.py
Labels: category: build/install, platform: ios/osx

#18499 Allow a GMainLoop when capturing using GStreamer
  modules/videoio/src/cap_gstreamer.cpp
Labels: category: videoio, feature

#18798 Java: robust code generation
  modules/java/generator/gen_java.py
Labels: category: java bindings

#18783 Add support for Conv1D on OpenCV backend
  modules/dnn/perf/perf_convolution.cpp
  modules/dnn/perf/perf_convolution1d.cpp
  modules/dnn/perf/perf_convolution3d.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#18806 samples: cmake: digits needs opencv_dnn module to build
  samples/cpp/CMakeLists.txt
Labels: category: build/install, category: samples

#18809 objc: fix std::string handling
  modules/core/misc/objc/gen_dict.json
Labels: bug, category: swift/objc bindings

#18802 Small typo-fix
  doc/tutorials/videoio/video-input-psnr-ssim/video_input_psnr_ssim.markdown
Labels: bug, category: documentation

#18810 Changed sample code, fixes #18807
  samples/cpp/stitching.cpp
Labels: bug, category: samples, category: stitching

#18801 java: 'namespace_' class prefix, support inner classes
  modules/java/generator/gen_java.py
Labels: backport is needed, category: java bindings, feature

#18808 objc: robust code generation
  modules/objc/generator/gen_objc.py
Labels: category: swift/objc bindings

#18817 objc(test): repair binary resource files
  modules/objc/generator/gen_objc.py
Labels: bug, category: swift/objc bindings, platform: ios/osx, test

#18805 cmake: update objc generator scripts
  modules/objc/CMakeLists.txt
  modules/objc/generator/CMakeLists.txt
  modules/objc/generator/gen_objc.py
  modules/objc/generator/templates/cmakelists.template
  platforms/ios/build_framework.py
  platforms/osx/build_framework.py
Labels: category: build/install, category: swift/objc bindings

#18763 videoio: Support Orbbec Astra 3D cameras using OpenNI2 API
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_openni2.cpp
Labels: category: videoio(camera), feature

#18811 objc: rework headers import
  modules/core/misc/objc/common/Converters.h
  modules/core/misc/objc/common/CvType.h
  modules/core/misc/objc/common/DMatch.h
  modules/core/misc/objc/common/Double2.h
  modules/core/misc/objc/common/Double3.h
  modules/core/misc/objc/common/Float4.h
  modules/core/misc/objc/common/Float6.h
  modules/core/misc/objc/common/Int4.h
  modules/core/misc/objc/common/KeyPoint.h
  modules/core/misc/objc/common/Mat.h
  modules/core/misc/objc/common/MinMaxLocResult.h
  modules/core/misc/objc/common/Point2d.h
  modules/core/misc/objc/common/Point2f.h
  modules/core/misc/objc/common/Point2i.h
  modules/core/misc/objc/common/Point3d.h
  modules/core/misc/objc/common/Point3f.h
  modules/core/misc/objc/common/Point3i.h
  modules/core/misc/objc/common/Range.h
  modules/core/misc/objc/common/Rect2d.h
  modules/core/misc/objc/common/Rect2f.h
  modules/core/misc/objc/common/Rect2i.h
  modules/core/misc/objc/common/RotatedRect.h
  modules/core/misc/objc/common/Scalar.h
  modules/core/misc/objc/common/Size2d.h
  modules/core/misc/objc/common/Size2f.h
  modules/core/misc/objc/common/Size2i.h
  modules/core/misc/objc/common/TermCriteria.h
  modules/imgcodecs/misc/objc/ios/Mat+Converters.h
  modules/imgcodecs/misc/objc/macosx/Mat+Converters.h
  modules/imgproc/misc/objc/common/Moments.h
  modules/objc/generator/gen_objc.py
  modules/objc/generator/templates/objc_class_header.template
  modules/objc/generator/templates/objc_module_header.template
Labels: category: build/install, category: swift/objc bindings, feature

#18720 [G-API] ND RMat Views
  modules/gapi/include/opencv2/gapi/rmat.hpp
  modules/gapi/src/api/rmat.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/test/rmat/rmat_test_common.hpp
  modules/gapi/test/rmat/rmat_view_tests.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
Labels: category: g-api / gapi

#18688 Added ND GMatDesc serialization test
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
Labels: category: g-api / gapi, test

#18744 G-API: ONNX. Support tensor input for CNN with dynamic input
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
Labels: category: g-api / gapi

#18756 add rudimentary support for uEye cameras
  CMakeLists.txt
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/detect_ueye.cmake
  modules/videoio/cmake/init.cmake
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/cap_ueye.cpp
  modules/videoio/src/videoio_registry.cpp
Labels: category: videoio, feature

#18818 objc: skip unsupported inner namespaces
  modules/objc/generator/gen_objc.py
Labels: category: build/install, category: swift/objc bindings, platform: ios/osx

#18822 java: workaround handling of base class
  modules/java/generator/gen_java.py
Labels: category: java bindings

#18823 python: emit "string" => "std::string"
  modules/python/src2/gen2.py
Labels: bug, category: python bindings

#18296 Fix loading issue for Faster RCNN model from #16783
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#18830 [ONNX] Added handler for int32 tensors
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
Labels: category: dnn, feature

#18793 G-API: Introduce runtime in-graph metadata
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/streaming/cap.hpp
  modules/gapi/include/opencv2/gapi/streaming/meta.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/grunarg.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/common/gmetabackend.cpp
  modules/gapi/src/backends/common/gmetabackend.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/gapi_graph_meta_tests.cpp
Labels: category: g-api / gapi, feature

#18790 [G-API]: fitLine() Standard Kernel Implementation
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
Labels: category: g-api / gapi, feature, test

#18828 Fix typo 'Applicatioin'
  apps/interactive-calibration/parametersController.cpp
Labels: category: apps

#18833 Disable Conv1d test on NGRAPH/MYRIAD
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#18782 core: fix F16C compilation check
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/src/convert.simd.hpp
  modules/core/test/test_intrin.cpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, category: build/install, category: core

#18220 Edited on tag '4.3.0-openvino' to support HDDL
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/include/opencv2/dnn/utils/inference_engine.hpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_ie_models.cpp
  samples/dnn/classification.py
  samples/dnn/human_parsing.py
  samples/dnn/object_detection.py
  samples/dnn/segmentation.py
  samples/dnn/virtual_try_on.py
Labels: category: dnn, feature

#18840 dnn(test): skip gather_multi_output test on Myriad
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#18834 [ONNX] Added Reduce ops for batch and channel
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#18839 3rdparty: libjpeg-turbo 2.0.5 => 2.0.6
  3rdparty/libjpeg-turbo/CMakeLists.txt
  3rdparty/libjpeg-turbo/LICENSE.md
  3rdparty/libjpeg-turbo/README.ijg
  3rdparty/libjpeg-turbo/README.md
  3rdparty/libjpeg-turbo/src/jchuff.c
  3rdparty/libjpeg-turbo/src/jcinit.c
  3rdparty/libjpeg-turbo/src/jcphuff.c
  3rdparty/libjpeg-turbo/src/jctrans.c
  3rdparty/libjpeg-turbo/src/jdapistd.c
  3rdparty/libjpeg-turbo/src/jdcoefct.c
  3rdparty/libjpeg-turbo/src/jdcolor.c
  3rdparty/libjpeg-turbo/src/jdmerge.c
  3rdparty/libjpeg-turbo/src/jdmerge.h
  3rdparty/libjpeg-turbo/src/jdmrg565.c
  3rdparty/libjpeg-turbo/src/jdmrgext.c
  3rdparty/libjpeg-turbo/src/jdtrans.c
  3rdparty/libjpeg-turbo/src/jfdctint.c
  3rdparty/libjpeg-turbo/src/jidctint.c
  3rdparty/libjpeg-turbo/src/jmorecfg.h
  3rdparty/libjpeg-turbo/src/jpegcomp.h
  3rdparty/libjpeg-turbo/src/jpeglib.h
  3rdparty/libjpeg-turbo/src/jquant2.c
  3rdparty/libjpeg-turbo/src/jversion.h
Labels: category: 3rdparty

#18145 Fix problems with loading ONNX networks with parametrized inputs
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn

#18711 dnn: fix High-Level public API (cv::dnn::Model class)
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/include/opencv2/dnn/version.hpp
  modules/dnn/src/model.cpp
  modules/dnn/test/test_caffe_importer.cpp
Labels: RFC, category: dnn

#18819 G-API: Adding a skip for failed streaming tests
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, test

#18838 Tracking API: move to video/tracking.hpp
  modules/video/CMakeLists.txt
  modules/video/doc/video.bib
  modules/video/include/opencv2/video/detail/tracking.private.hpp
  modules/video/include/opencv2/video/detail/tracking_feature.private.hpp
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/misc/java/test/TrackerCreateTest.java
  modules/video/misc/python/pyopencv_video.hpp
  modules/video/misc/python/test/test_tracking.py
  modules/video/perf/perf_main.cpp
  modules/video/perf/perf_trackers.cpp
  modules/video/src/tracking/detail/tracker_feature.cpp
  modules/video/src/tracking/detail/tracker_feature_haar.impl.hpp
  modules/video/src/tracking/detail/tracker_feature_set.cpp
  modules/video/src/tracking/detail/tracker_mil_model.cpp
  modules/video/src/tracking/detail/tracker_mil_model.hpp
  modules/video/src/tracking/detail/tracker_mil_state.cpp
  modules/video/src/tracking/detail/tracker_mil_state.hpp
  modules/video/src/tracking/detail/tracker_model.cpp
  modules/video/src/tracking/detail/tracker_sampler.cpp
  modules/video/src/tracking/detail/tracker_sampler_algorithm.cpp
  modules/video/src/tracking/detail/tracker_state_estimator.cpp
  modules/video/src/tracking/detail/tracking_feature.cpp
  modules/video/src/tracking/detail/tracking_online_mil.cpp
  modules/video/src/tracking/detail/tracking_online_mil.hpp
  modules/video/src/tracking/tracker.cpp
  modules/video/src/tracking/tracker_goturn.cpp
  modules/video/src/tracking/tracker_mil.cpp
  modules/video/test/test_main.cpp
  modules/video/test/test_trackers.cpp
  modules/video/test/test_trackers.impl.hpp
  samples/python/tracker.py
Labels: RFC, category: tracking, category: video, feature

#17839 Update tutorial for erosion / dilation
  doc/tutorials/imgproc/erosion_dilatation/erosion_dilatation.markdown
  samples/cpp/tutorial_code/ImgProc/Morphology_1.cpp
  samples/java/tutorial_code/ImgProc/erosion_dilatation/MorphologyDemo1.java
  samples/python/tutorial_code/imgProc/erosion_dilatation/morphology_1.py
Labels: category: documentation

#18675 Documentation Improvement
  modules/core/include/opencv2/core.hpp
  modules/highgui/include/opencv2/highgui.hpp
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation

#18863 Fixed Test_Model.DetectionOutput
  modules/dnn/src/model.cpp
  modules/dnn/test/test_model.cpp
Labels: bug, category: dnn

#18848 Fixed issue with Epipolar Geometry Tutorial
  doc/py_tutorials/py_calib3d/py_epipolar_geometry/py_epipolar_geometry.markdown
Labels: category: calib3d, category: documentation

#18849 Minimum change to address issue #18837
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#18854 Add tutorial on how to use Orbbec Astra 3D cameras
  doc/tutorials/videoio/intelperc.markdown
  doc/tutorials/videoio/kinect_openni.markdown
  doc/tutorials/videoio/orbbec-astra/images/astra_color.jpg
  doc/tutorials/videoio/orbbec-astra/images/astra_depth.png
  doc/tutorials/videoio/orbbec-astra/orbbec_astra.markdown
  doc/tutorials/videoio/table_of_content_videoio.markdown
  samples/cpp/tutorial_code/videoio/orbbec_astra/orbbec_astra.cpp
  samples/cpp/videocapture_openni.cpp
Labels: category: documentation, category: videoio(camera)

#18335 Ordinary quaternion
  modules/core/include/opencv2/core/affine.hpp
  modules/core/include/opencv2/core/quaternion.hpp
  modules/core/include/opencv2/core/quaternion.inl.hpp
  modules/core/test/test_quaternion.cpp
  modules/stitching/include/opencv2/stitching/detail/warpers_inl.hpp
Labels: category: core, feature

#18855 Expose CGImage <-> Mat conversion for iOS platforms
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/include/opencv2/imgcodecs/ios.h
  modules/imgcodecs/include/opencv2/imgcodecs/macosx.h
  modules/imgcodecs/misc/objc/ios/Mat+Converters.h
  modules/imgcodecs/misc/objc/ios/Mat+Converters.mm
  modules/imgcodecs/misc/objc/macosx/Mat+Converters.h
  modules/imgcodecs/src/apple_conversions.h
Labels: category: build/install, platform: ios/osx

#18868 G-API: ONNX. Added small fix for cmake
  cmake/FindONNX.cmake
Labels: category: build/install, category: g-api / gapi

#18858 Small improvements to persistence-API doc
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/test/test_io.cpp
Labels: category: core, category: documentation, test

#18841 Fixing dnn Resize layer for variable input size
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#18371 Added SQPnP algorithm to SolvePnP
  modules/calib3d/doc/calib3d.bib
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/solvepnp.cpp
  modules/calib3d/src/sqpnp.cpp
  modules/calib3d/src/sqpnp.hpp
  modules/calib3d/test/test_solvepnp_ransac.cpp
Labels: category: calib3d, feature, test

#18882 calib3d: eliminate 'register' build warning
  modules/calib3d/src/sqpnp.cpp
Labels: category: build/install, category: calib3d

#18887 Fix typo in docs
  doc/tutorials/core/how_to_use_OpenCV_parallel_for_/how_to_use_OpenCV_parallel_for_.markdown
Labels: category: documentation

#18845 Fix for index error for Reduce Mean
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn, pr: needs test

#18895 Remove unnecessary condition (will never reach)
  modules/core/src/copy.cpp
Labels: category: core

#18896 cmake: update condition for find_package(Eigen3 CONFIG)
  cmake/OpenCVFindLibsPerf.cmake
Labels: bug, category: build/install

#18905 objc: fix handling of std::vector<std::vector<T>> return type
  modules/objc/generator/gen_objc.py
Labels: bug, category: swift/objc bindings

#18862 Support for Pool1d layer for OpenCV and OpenCL targets
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_pool.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#18904 G-API: Adding skip for GraphMeta tests
  modules/gapi/test/gapi_graph_meta_tests.cpp
Labels: category: g-api / gapi, test

#18826 Support XCFramework builds, Catalyst
  cmake/OpenCVGenInfoPlist.cmake
  cmake/OpenCVUtils.cmake
  modules/imgcodecs/CMakeLists.txt
  modules/objc/generator/templates/cmakelists.template
  platforms/apple/__init__.py
  platforms/apple/build_xcframework.py
  platforms/apple/cv_build_utils.py
  platforms/apple/readme.md
  platforms/ios/__init__.py
  platforms/ios/build_framework.py
  platforms/ios/cmake/Toolchains/Toolchain-Catalyst_Xcode.cmake
  platforms/ios/cmake/Toolchains/common-ios-toolchain.cmake
  platforms/osx/__init__.py
  platforms/osx/build_framework.py
Labels: category: build/install, feature, platform: ios/osx

#18907 fix missing addref() in ocl::Context::create(str)
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#18914 videoio: add missing getCaptureDomain() methods
  modules/videoio/src/cap_openni.cpp
  modules/videoio/src/cap_openni2.cpp
Labels: bug, category: videoio

#18918 doc: Fix example code using deprecated `xrange` in py_tutorials
  doc/py_tutorials/py_calib3d/py_calibration/py_calibration.markdown
Labels: category: documentation

#17077 core(matrix): Negative values checks
  modules/core/src/matrix_wrap.cpp
  modules/core/test/test_mat.cpp
Labels: test

#18929 G-API: eliminate std::rand() and RAND_MAX from tests
  modules/gapi/test/common/gapi_parsers_tests_common.hpp
  modules/gapi/test/rmat/rmat_tests.cpp
  modules/gapi/test/test_precomp.hpp
Labels: category: g-api / gapi, test

#18922 (3.4) build: Xcode 12 support
  CMakeLists.txt
  cmake/OpenCVCompilerOptions.cmake
  cmake/OpenCVFindLibsGrfmt.cmake
  platforms/ios/build_framework.py
Labels: category: build/install, platform: ios/osx

#18939 dnn(test): skip unstable GatherMultiOutput OCL_FP16 test
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, test

#18285 cuda4dnn: enable fusion tests, update thresholds, fix eltwise fusion regression
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_model.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), test

#18938 G-API(test): avoid anonymous namespace types as template parameters
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_test_utils.hpp
  modules/gapi/test/gapi_array_tests.cpp
  modules/gapi/test/gapi_opaque_tests.cpp
Labels: bug, category: build/install, category: g-api / gapi, platform: linux, test

#18935 Removed redundant call of handleNewStream in streaming executor
  modules/gapi/src/executor/gstreamingexecutor.cpp
Labels: bug, category: g-api / gapi

#18762 [G-API] Wrap GArray
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/opencv_includes.hpp
  modules/gapi/include/opencv2/gapi/own/types.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
  modules/gapi/misc/python/test/test_gapi_imgproc.py
  modules/gapi/misc/python/test/test_gapi_sample_pipelines.py
  modules/gapi/misc/python/test/test_gapi_streaming.py
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/compiler/gcompiled_priv.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gstreaming.cpp
  modules/gapi/src/compiler/gstreaming_priv.hpp
  modules/gapi/test/own/gapi_types_tests.cpp
Labels: category: g-api / gapi, category: python bindings

#18064 [GSoC] Develop OpenCV.js DNN modules for promising web use cases together with their tutorials
  doc/js_tutorials/js_assets/js_dnn_example_helper.js
  doc/js_tutorials/js_assets/js_image_classification.html
  doc/js_tutorials/js_assets/js_image_classification_model_info.json
  doc/js_tutorials/js_assets/js_image_classification_with_camera.html
  doc/js_tutorials/js_assets/js_object_detection.html
  doc/js_tutorials/js_assets/js_object_detection_model_info.json
  doc/js_tutorials/js_assets/js_object_detection_with_camera.html
  doc/js_tutorials/js_assets/js_pose_estimation.html
  doc/js_tutorials/js_assets/js_pose_estimation_model_info.json
  doc/js_tutorials/js_assets/js_semantic_segmentation.html
  doc/js_tutorials/js_assets/js_semantic_segmentation_model_info.json
  doc/js_tutorials/js_assets/js_style_transfer.html
  doc/js_tutorials/js_assets/js_style_transfer_model_info.json
  doc/js_tutorials/js_assets/utils.js
  doc/js_tutorials/js_dnn/js_image_classification/js_image_classification.markdown
  doc/js_tutorials/js_dnn/js_image_classification/js_image_classification_with_camera.markdown
  doc/js_tutorials/js_dnn/js_object_detection/js_object_detection.markdown
  doc/js_tutorials/js_dnn/js_object_detection/js_object_detection_with_camera.markdown
  doc/js_tutorials/js_dnn/js_pose_estimation/js_pose_estimation.markdown
  doc/js_tutorials/js_dnn/js_semantic_segmentation/js_semantic_segmentation.markdown
  doc/js_tutorials/js_dnn/js_style_transfer/js_style_transfer.markdown
  doc/js_tutorials/js_dnn/js_table_of_contents_dnn.markdown
  doc/js_tutorials/js_tutorials.markdown
Labels: GSoC, category: documentation, category: javascript (js)

#17851 Sole tbb executor
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/own/assert.hpp
  modules/gapi/include/opencv2/gapi/util/copy_through_move.hpp
  modules/gapi/src/executor/gapi_itt.hpp
  modules/gapi/src/executor/gtbbexecutor.cpp
  modules/gapi/src/executor/gtbbexecutor.hpp
  modules/gapi/test/executor/gtbbexecutor_internal_tests.cpp
Labels: category: g-api / gapi

#18857 [G-API]: kmeans() Standard Kernel Implementation
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/src/api/gmat.cpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
Labels: category: g-api / gapi, feature, test

#18674 GAPI: New BackgroundSubtractor stateful kernel
  modules/gapi/include/opencv2/gapi/video.hpp
  modules/gapi/src/api/kernels_video.cpp
  modules/gapi/src/backends/cpu/gcpuvideo.cpp
  modules/gapi/test/common/gapi_video_tests.hpp
  modules/gapi/test/common/gapi_video_tests_common.hpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
  modules/gapi/test/cpu/gapi_video_tests_cpu.cpp
Labels: category: g-api / gapi, feature, test

#18948 apple/build_xcframework.py: python syntax
  platforms/apple/build_xcframework.py
Labels: category: build/install, platform: ios/osx

#18930 python: restore sys.path in bootstrap()
  modules/python/package/cv2/__init__.py
Labels: category: python bindings, platform: win32

#18968 Added test for VideoCapture CAP_PROP_FRAME_MSEC option
  modules/videoio/src/cap_mjpeg_decoder.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, test
