Repository opencv/opencv, pull requests merged in 2020-12, with the labels that each got.

#18982 TBB executor for GAPI: fix race consition in Async test
  modules/gapi/test/executor/gtbbexecutor_internal_tests.cpp
Labels: bug, category: g-api / gapi

#18972 Delete xcframework if it already exists before building a new one
  platforms/apple/build_xcframework.py
Labels: bug, category: build/install, platform: ios/osx

#18973 Fix build when HAVE_VULKAN is ON
  modules/dnn/src/layers/pooling_layer.cpp
Labels: bug, category: build/install, category: dnn

#18978 Increase testing IPHONEOS_DEPLOYMENT_TARGET to 9.0
  platforms/ios/run_tests.py
Labels: category: build/install, platform: ios/osx, test

#18967 GAPI: Reuse move through copy
  modules/gapi/src/executor/gasync.cpp
Labels: category: g-api / gapi

#18891 Add option for NMS for boxes with different labels
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/model.cpp
  modules/dnn/test/test_model.cpp
Labels: category: dnn, feature

#18981 GAPI: fix C++17 compilation errors in GNetPackage
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/src/api/ginfer.cpp
Labels: category: build/install, category: g-api / gapi

#18228 Universal intrinsics implementation with RISC-V vector extension
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
  platforms/linux/riscv64-gcc.toolchain.cmake
Labels: GSoC, platform: riscv

#18971 Improve tutorial on using Orbbec Astra cameras
  doc/tutorials/videoio/orbbec-astra/orbbec_astra.markdown
  samples/cpp/tutorial_code/videoio/orbbec_astra/orbbec_astra.cpp
Labels: category: documentation, category: videoio

#18991 core(IPP): workaround getIppTopFeatures() value mismatch
  modules/core/src/system.cpp
  modules/ts/src/ts.cpp
Labels: bug, category: core, optimization

#18462 Modified rvv option for clang to match LLVM upstream
  platforms/linux/riscv64-clang.toolchain.cmake
Labels: category: build/install, platform: riscv

#18977 Fix Darwin collision of Point/Rect/Size types
  modules/objc/generator/gen_objc.py
Labels: category: swift/objc bindings, platform: ios/osx

#18831 norm.cpp(normL2Sqr_): improve performance of pipeline
  modules/core/src/norm.cpp
Labels: optimization, platform: arm

#18986 core(IPP): disable SSE4.2 code path in countNonZero()
  modules/core/src/count_non_zero.dispatch.cpp
Labels: bug, category: core, optimization

#18911 Add adding and subtraction operations between a number and a quaternion;
  modules/core/include/opencv2/core/quaternion.hpp
  modules/core/include/opencv2/core/quaternion.inl.hpp
  modules/core/test/test_quaternion.cpp
Labels: category: core, test

#18994 core(UMat): drop unavailable methods
  modules/core/include/opencv2/core/mat.hpp
Labels: bug, category: core

#18966 Add live timestamps to MSMF Video API
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/test/test_camera.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, feature, platform: win32, platform: winrt/uwp

#18992 Fixed minor typo "poins" in documentation page
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation

#18998 fix: typo
  doc/tutorials/videoio/video-write/video_write.markdown
Labels: category: documentation

#18993 cmake: clean cached INTERNAL variable used for 3rdparty deps
  cmake/OpenCVFindLibsGrfmt.cmake
  cmake/OpenCVUtils.cmake
Labels: category: build/install

#18997 github(actions): manual trigger for arm64-build-checks.yml
  .github/workflows/arm64-build-checks.yml
Labels: category: build/install

#19000 cmake: fix processing order of <wrapper>_bindings_generator
  cmake/OpenCVModule.cmake
  modules/python/bindings/CMakeLists.txt
Labels: bug, category: build/install

#17570 [GSoC] High Level API and Samples for Scene Text Detection and Recognition
  doc/opencv.bib
  doc/tutorials/dnn/dnn_OCR/dnn_OCR.markdown
  doc/tutorials/dnn/dnn_text_spotting/detect_test1.jpg
  doc/tutorials/dnn/dnn_text_spotting/detect_test2.jpg
  doc/tutorials/dnn/dnn_text_spotting/dnn_text_spotting.markdown
  doc/tutorials/dnn/dnn_text_spotting/text_det_test_results.jpg
  doc/tutorials/dnn/dnn_text_spotting/text_rec_test.png
  doc/tutorials/dnn/table_of_content_dnn.markdown
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/model.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_model.cpp
  samples/data/alphabet_36.txt
  samples/data/alphabet_94.txt
  samples/dnn/scene_text_detection.cpp
  samples/dnn/scene_text_recognition.cpp
  samples/dnn/scene_text_spotting.cpp
  samples/dnn/text_detection.cpp
Labels: GSoC, category: dnn, category: samples

#18955 ts: cvtest::debugLevel / --test_debug=<N> option
  modules/calib3d/test/test_cornerssubpix.cpp
  modules/calib3d/test/test_fisheye.cpp
  modules/imgproc/test/test_drawing.cpp
  modules/ts/include/opencv2/ts/ts_ext.hpp
  modules/ts/src/ts.cpp
Labels: feature, test

#19018 samples: replace regex
  samples/dnn/scene_text_detection.cpp
Labels: category: build/install, category: samples

#18535 Add CV_16UC1/GRAY16_LE support to GStreamer backend for VideoWriter
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/cap_mfx_plugin.cpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/cap_ueye.cpp
  modules/videoio/src/plugin_api.hpp
  modules/videoio/test/test_gstreamer.cpp
Labels: category: videoio, feature

#19022 cmake: avoid duplication of -Winit-self flag
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#19021 build warnings
  modules/dnn/include/opencv2/dnn/dnn.inl.hpp
  modules/gapi/include/opencv2/gapi/util/optional.hpp
Labels: category: build/install, category: dnn, category: g-api / gapi

#19015 dnn: prefer to use v_fma() instead of v_c += v_a * v_b
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
Labels: category: dnn, optimization

#19019 cmake: avoid excessive output from cmake --trace/--trace-expand
  cmake/OpenCVUtils.cmake
Labels: category: build/install, feature

#19023 core: update handling of allocator stats type
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/utils/allocator_stats.impl.hpp
Labels: category: build/install, category: core

#19035 dnn: add another color to Net::Impl::dump()
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn

#19041 videoio(test): skip GStreamer in 'frame_timestamp' tests
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, test

#19029 add thread-safe startup of fastMalloc and fastFree
  modules/core/perf/perf_allocation.cpp
  modules/core/src/alloc.cpp
Labels: bug, category: core

#19036 Updated modules white list for JS after calib3d reorg
  platforms/apple/build_xcframework.py
  platforms/js/opencv_js.config.py
Labels: bug, category: build/install, category: javascript (js)

#19044 [G-API]: Fix coverity warnings
  modules/gapi/perf/common/gapi_video_perf_tests_inl.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_video_tests_common.hpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
Labels: bug, category: g-api / gapi, test

#19046 android: use protected fields in JavaCamera2View
  modules/java/generator/android-21/java/org/opencv/android/JavaCamera2View.java
Labels: platform: android

#18969 [G-API] Multiple return/note fix
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/video.hpp
Labels: category: documentation, category: g-api / gapi

#19052 clarify opencl execution context doc
  modules/core/include/opencv2/core/ocl.hpp
Labels: category: core, category: documentation, category: ocl

#18996 Added TF resize_bilinear behaviour alignment
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#19002 [G-API] Support GFrame for infer
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/util.hpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#19059 cmake: fix handling of wrappers dependencies
  cmake/OpenCVModule.cmake
Labels: bug, category: build/install

#19060 JS(WASM): use fallback on missing intrinsics in Emscripten 2.0.0+
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
Labels: category: build/install, category: javascript (js)

#19061 dnn(caffe): add DetectionOutputParameter.clip to .proto file
  modules/dnn/src/caffe/opencv-caffe.proto
Labels: bug, category: dnn

#19072 videoio: turn off synchronized sink in GStreamer
  modules/videoio/src/cap_gstreamer.cpp
Labels: category: videoio

#19074 dnn(test): adjust EAST test tolerance
  modules/dnn/test/test_model.cpp
Labels: category: dnn, test

#19075 dnn: fix build with Halide, skip tests with crashes
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/test/test_backends.cpp
Labels: bug, category: build/install, category: dnn, test

#19076 Fix path resolution bugs for XCFramework builds
  platforms/apple/build_xcframework.py
Labels: bug, category: build/install, platform: ios/osx

#18983 support SIMD for larger symmetric Bit-exact 16U gaussian blur
  modules/imgproc/src/smooth.simd.hpp
Labels: category: imgproc, optimization

#18591 Scripts for downloading models in DNN samples
  samples/dnn/.gitignore
  samples/dnn/README.md
  samples/dnn/download_models.py
  samples/dnn/face_detector/download_weights.py
  samples/dnn/face_detector/weights.meta4
  samples/dnn/models.yml
Labels: category: python bindings, category: samples

#19024 Check for CMake 3.19 if Xcode version is 12.2 or higher
  CMakeLists.txt
  platforms/ios/build_framework.py
  platforms/osx/build_framework.py
Labels: category: build/install, platform: ios/osx

#19009 [G-API] GStreamingBackend
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi.hpp
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gcall.hpp
  modules/gapi/include/opencv2/gapi/gframe.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/streaming/format.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gcall.cpp
  modules/gapi/src/api/gframe.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/api/kernels_streaming.cpp
  modules/gapi/src/backends/cpu/gcpukernel.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.hpp
  modules/gapi/src/backends/streaming/gstreamingkernel.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gstreaming_priv.hpp
  modules/gapi/src/compiler/passes/intrin.cpp
  modules/gapi/src/compiler/passes/streaming.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, feature

#19071 Added TF nearest neighbour resize behaviour alignment
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#19048 android: use gradle 5.6.4
  platforms/android/gradle-wrapper/gradle/wrapper/gradle-wrapper.properties
Labels: category: build/install, platform: android

#19049 android: add -llog for libprotobuf
  3rdparty/protobuf/CMakeLists.txt
Labels: category: build/install, platform: android

#19054 (3.4) cmake: don't define ENABLE_NEON flags in non-cross-compiling mode
  CMakeLists.txt
Labels: bug, category: build/install, platform: android

#19055 (4.x) cmake: don't define ENABLE_NEON flags in non-cross-compiling mode
  CMakeLists.txt
Labels: bug, category: build/install, platform: arm

#19062 (3.4) flann: drop wrapping of Index class
  modules/flann/include/opencv2/flann/miniflann.hpp
Labels: bug, category: flann

#19045 flann: avoid dangling pointers on lost features data
  modules/features2d/test/test_nearestneighbors.cpp
  modules/flann/include/opencv2/flann/miniflann.hpp
  modules/flann/src/miniflann.cpp
Labels: bug, category: flann

#19064 cmake: update MKL library searching
  cmake/OpenCVFindMKL.cmake
Labels: category: 3rdparty, category: build/install

#19068 imgproc: fix minAreaRect()
  modules/imgproc/misc/java/test/ImgprocTest.java
  modules/imgproc/src/rotcalipers.cpp
  modules/imgproc/test/test_convhull.cpp
  modules/python/test/test_legacy.py
Labels: bug, category: imgproc

#19084 features2d: fix ORB::setFirstScale() handling
  modules/features2d/src/orb.cpp
  modules/features2d/test/test_orb.cpp
Labels: bug, category: features2d, test

#19085 [G-API]: Fix new streaming tests for CI
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: bug, category: g-api / gapi, test

#19079 calib3d: fix findCirclesGrid hang
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/src/circlesgrid.cpp
  modules/calib3d/test/test_chesscorners.cpp
Labels: bug, category: calib3d, feature, port to 5.x is needed, test

#19088 Make xcframework output path argument explicit and required
  platforms/apple/build_xcframework.py
  platforms/apple/readme.md
  platforms/ios/build_framework.py
  platforms/osx/build_framework.py
Labels: category: build/install, platform: ios/osx

#18869 GAPI: Kalman filter stateful kernel.
  modules/gapi/include/opencv2/gapi/video.hpp
  modules/gapi/src/api/kernels_video.cpp
  modules/gapi/src/backends/cpu/gcpuvideo.cpp
  modules/gapi/test/common/gapi_video_tests.hpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
  modules/gapi/test/cpu/gapi_video_tests_cpu.cpp
Labels: category: g-api / gapi, feature

#19106 Fix a typo s/VERISON/VERSION/ in opencv.js tutorial
  doc/js_tutorials/js_setup/js_usage/js_usage.markdown
Labels: category: documentation

#19103 [G-API]: Performance tests for color conversion kernels
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
Labels: category: g-api / gapi, test

#19110 videoio(test): add FFmpeg backend check
  modules/videoio/test/test_main.cpp
Labels: category: videoio, test

#19115 DNN(OpenCL): avoid mess FP16/FP32 in convolution layer
  modules/core/src/convert.dispatch.cpp
  modules/core/src/opencl/halfconvert.cl
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/ocl4dnn/include/ocl4dnn.hpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
  modules/dnn/src/opencl/conv_spatial_helper.cl
Labels: bug, category: dnn, category: ocl

#19107 [G-API] GStreamingBackend hotfix
  modules/gapi/include/opencv2/gapi/streaming/format.hpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.hpp
  modules/gapi/src/backends/streaming/gstreamingkernel.hpp
Labels: category: g-api / gapi

#19089 Added '@ref' to 3.4 Camera Calibration and 3D Reconstruction documentation
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/test/test_fisheye.cpp
Labels: category: calib3d, category: documentation, port to 5.x is needed

#19114 DNN(OpenCL): fix GEMM kernels with beta=0
  modules/core/src/ocl.cpp
  modules/dnn/src/ocl4dnn/src/math_functions.cpp
  modules/dnn/src/opencl/gemm_buffer.cl
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn, category: ocl

#19112 Generic copy kernel
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/streaming/format.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/api/kernels_streaming.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/ocl/goclcore.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/internal/gapi_int_island_fusion_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi

#19142 Included format in core.hpp
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/streaming/format.hpp
Labels: bug, category: g-api / gapi

#19130 G-API: Fix various Doxygen isses for the 4.5.1 release
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/infer/parsers.hpp
Labels: category: documentation, category: g-api / gapi

#19101 core(opencl): add version check before clCreateFromGLTexture() call
  modules/core/include/opencv2/core/ocl.hpp
  modules/core/src/ocl.cpp
  modules/core/src/opengl.cpp
Labels: bug, category: core, category: ocl

#19082 added the credits & copyrights of ISCAS
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
Labels: platform: riscv

#19139 Optimize calls to std::string::find() and friends for a single char.
  modules/core/test/test_misc.cpp
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
Labels: optimization

#19143 Move big objects (>20k) from stack to heap.
  modules/imgproc/src/clahe.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/pyramids.cpp
Labels: category: flann, category: imgproc

#19146 dnn: use OpenVINO 2021.2 defines
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: build/install, category: dnn

#19104 doc(windows): update how to handle MSVS 2019
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation, platform: win32

#19105 JavaScript: update documentation and builds scripts
  doc/js_tutorials/js_setup/js_intro/js_intro.markdown
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  doc/js_tutorials/js_setup/js_usage/js_usage.markdown
  platforms/js/README.md
  platforms/js/build_js.py
Labels: category: build/install, category: documentation, category: javascript (js)

#19137 fix: conversion to string in python bindings
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, category: python bindings, test

#19154 docs(calib3d): avoid reference on legacy C API constants
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: bug, category: calib3d, category: documentation

#18985 Aruco javascript fix and added functionality
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  modules/js/generator/embindgen.py
  platforms/js/opencv_js.config.py
Labels: backport is needed, category: build/install, category: javascript (js), feature

#19127 Increased Photo_CalibrateDebevec.regression test tolerance to pass on arm64 with gcc 9.3.
  modules/photo/test/test_hdr.cpp
Labels: category: photo, platform: arm, test

#19128 arm64 fix: Replaced float value strong equal checks with check with tolerance
  modules/gapi/test/common/gapi_core_tests_inl.hpp
Labels: category: g-api / gapi, platform: arm

#19161 JavaScript: robust code generation
  modules/js/generator/embindgen.py
Labels: category: build/install, category: javascript (js)

#19156 Named arguments handling
  modules/core/include/opencv2/core/cvdef.h
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/filter.dispatch.cpp
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
  modules/python/test/test_imgproc.py
Labels: pr: needs test

#19152 Added YUV conversion fix
  modules/imgproc/src/color.hpp
Labels: bug, category: imgproc, category: ocl

#19158 Build OpenCV winpack with DLDT 2021.2.0
  platforms/winpack_dldt/2021.2/20200413-dldt-pdb.patch
  platforms/winpack_dldt/2021.2/20200604-dldt-disable-multidevice.patch
  platforms/winpack_dldt/2021.2/20201217-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2021.2/20201218-dldt-vs-version.patch
  platforms/winpack_dldt/2021.2/build.config.py
  platforms/winpack_dldt/2021.2/patch.config.py
  platforms/winpack_dldt/2021.2/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: dnn, platform: win32

#19162 (3.4) JavaScript: backport PR #18985
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  modules/js/generator/embindgen.py
  platforms/js/opencv_js.config.py
Labels: category: build/install, category: javascript (js), feature

#19168 ABI: exclude quaternion header from ABI/API check
  cmake/templates/opencv_abi.xml.in
Labels: category: core

#18604 Replace FLANNException by CV_Error.
  modules/flann/include/opencv2/flann/all_indices.h
  modules/flann/include/opencv2/flann/autotuned_index.h
  modules/flann/include/opencv2/flann/composite_index.h
  modules/flann/include/opencv2/flann/flann_base.hpp
  modules/flann/include/opencv2/flann/general.h
  modules/flann/include/opencv2/flann/hierarchical_clustering_index.h
  modules/flann/include/opencv2/flann/index_testing.h
  modules/flann/include/opencv2/flann/kdtree_index.h
  modules/flann/include/opencv2/flann/kdtree_single_index.h
  modules/flann/include/opencv2/flann/kmeans_index.h
  modules/flann/include/opencv2/flann/linear_index.h
  modules/flann/include/opencv2/flann/lsh_index.h
  modules/flann/include/opencv2/flann/matrix.h
  modules/flann/include/opencv2/flann/nn_index.h
  modules/flann/include/opencv2/flann/params.h
  modules/flann/include/opencv2/flann/random.h
  modules/flann/include/opencv2/flann/saving.h
  modules/flann/src/precomp.hpp
Labels: category: build/install, category: flann

#19164 [cv::transform] Enable CV_SIMD for the 16U case on AArch64.
  modules/core/src/matmul.simd.hpp
Labels: category: core, optimization, platform: arm

#19175 imgproc: add rotatedRectangleIntersection empty input handling
  modules/imgproc/src/intersection.cpp
  modules/imgproc/test/test_intersection.cpp
Labels: bug, category: imgproc, test

#19176 docs(core): fix process_video_frame() code snippet
  modules/core/include/opencv2/core/mat.hpp
Labels: bug, category: core, category: documentation

#19177 doxygen: drop deprecated TCL_SUBST
  doc/Doxyfile.in
Labels: category: build/install, category: documentation

#19180 JavaScript(build): fix generator with Python3
  modules/js/generator/embindgen.py
Labels: bug, category: build/install, category: javascript (js)

#19186 GFrame as internal node in GExecutor
  modules/gapi/src/executor/gexecutor.cpp
Labels: category: g-api / gapi

#19187 samples: check for Python 3.9
  modules/python/package/setup.py
  samples/_winpack_run_python_sample.cmd
Labels: backport is needed, category: build/install, category: python bindings, category: samples

#19199 Find only shared IE libraries, not plugins
  cmake/OpenCVDetectInferenceEngine.cmake
Labels: category: build/install, category: dnn

#19133 remove g_isOpenCVActivated errant assign and clarify variable
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#19193 (3.4) samples: check for Python 3.9
  modules/python/package/setup.py
  samples/_winpack_run_python_sample.cmd
Labels: category: build/install, category: python bindings, category: samples, port/backport done

#19109 OpenJPEG: decoder for J2K codestreams
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.cpp
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_grfmt.cpp
Labels: category: imgcodecs, feature

#19195 add windows native aligned malloc + unit test case
  CMakeLists.txt
  modules/core/CMakeLists.txt
  modules/core/src/alloc.cpp
  modules/core/test/test_misc.cpp
Labels: backport is needed, category: core, feature, platform: win32

#19207 JavaScript: fix Python 3 support in make_umd.py
  modules/js/src/make_umd.py
Labels: bug, category: build/install, category: javascript (js)

#19208 JavaScript(build): reuse Python executable used to run main script
  platforms/js/build_js.py
Labels: category: build/install, category: javascript (js)

#19210 (3.4) Find only shared IE libraries, not plugins
  cmake/OpenCVDetectInferenceEngine.cmake
Labels: category: build/install, category: dnn, platform: ios/osx, port/backport done

#19206 [G-API]: IE tests pluginConfig fix & refactoring
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: bug, category: g-api / gapi, test

#19070 G-API: Support GFrame for ONNX infer
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
Labels: category: g-api / gapi, test

#19205 [G-API] Fix streaming kernels in standalone
  modules/gapi/cmake/standalone.cmake
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
Labels: category: g-api / gapi

#19203 Fix cvSaveImage( ) function bug
  modules/imgcodecs/src/loadsave.cpp
Labels: bug, category: imgcodecs

#19209 docs(build config): fix table cells
  doc/tutorials/introduction/config_reference/config_reference.markdown
Labels: category: documentation

#19027 videoio: plugins API versioning
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_mfx_plugin.cpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/cap_ueye.cpp
  modules/videoio/src/plugin_api.hpp
Labels: RFC, category: videoio

#19194 imgproc: add IntelligentScissors
  doc/js_tutorials/js_assets/js_intelligent_scissors.html
  doc/js_tutorials/js_imgproc/js_intelligent_scissors/js_intelligent_scissors.markdown
  doc/js_tutorials/js_imgproc/js_table_of_contents_imgproc.markdown
  doc/opencv.bib
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/include/opencv2/imgproc/segmentation.hpp
  modules/imgproc/src/intelligent_scissors.cpp
  modules/imgproc/test/test_intelligent_scissors.cpp
  modules/js/src/core_bindings.cpp
  modules/js/test/test_imgproc.js
  platforms/js/opencv_js.config.py
  samples/cpp/CMakeLists.txt
  samples/cpp/tutorial_code/snippets/imgproc_segmentation.cpp
  samples/samples_utils.cmake
Labels: category: imgproc, category: javascript (js), feature

#19213 OpenCL: parametrize OpenCLExecutionContext tests
  modules/core/test/test_opencl.cpp
Labels: category: core, category: ocl, test

#19230 Updated Calib3d documentation to fix missing @ref in master
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#19235 Swift(test): fix minAreaRect test
  modules/imgproc/misc/objc/test/ImgprocTest.swift
Labels: bug, category: swift/objc bindings, test

#19098 Add to/from Euler Angles in quaternion
  modules/core/include/opencv2/core/quaternion.hpp
  modules/core/include/opencv2/core/quaternion.inl.hpp
  modules/core/test/test_quaternion.cpp
Labels: category: core, feature

#19191 [G-API]: Performance tests for morphologyEx
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
Labels: category: g-api / gapi, test

#19239 Fix typo in hough_lines tutorial
  doc/tutorials/imgproc/imgtrans/hough_lines/hough_lines.markdown
Labels: bug, category: documentation, category: imgproc
