Repository opencv/opencv, pull requests merged in 2020-07, with the labels that each got.

#17723 Remove duplicate line
  modules/flann/include/opencv2/flann/hierarchical_clustering_index.h
Labels: category: flann

#17708 Clarify component statistics documentation
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation, category: imgproc

#17721 Fix arguments list in loadindex for histogram intersection
  modules/flann/src/miniflann.cpp
Labels: bug, category: flann

#17725 Precompute the divisor to ensure that no kind of compiler would proce…
  modules/flann/include/opencv2/flann/dist.h
Labels: category: flann

#17733 Supported yolov4-tiny
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, feature

#17744 cmake: fix ENABLE_PROFILING
  cmake/OpenCVCompilerOptions.cmake
Labels: bug, category: build/install

#17701 Type consistency for all xxxIndexParams integer arguments as well as …
  modules/flann/include/opencv2/flann.hpp
  modules/flann/include/opencv2/flann/lsh_index.h
Labels: RFC, category: flann

#17454 fix instable fisheye undistortPoints
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: bug, category: calib3d, test

#17719 Fix genericity of computeNodeStatistics that couldn't compute stats p…
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: bug, category: flann

#17722 Clean: replace C style asserts by CV_Assert and CV_DbgAssert
  modules/flann/include/opencv2/flann/autotuned_index.h
  modules/flann/include/opencv2/flann/flann_base.hpp
  modules/flann/include/opencv2/flann/hierarchical_clustering_index.h
  modules/flann/include/opencv2/flann/index_testing.h
  modules/flann/include/opencv2/flann/kdtree_index.h
  modules/flann/include/opencv2/flann/kdtree_single_index.h
  modules/flann/include/opencv2/flann/kmeans_index.h
  modules/flann/include/opencv2/flann/lsh_index.h
  modules/flann/include/opencv2/flann/lsh_table.h
  modules/flann/include/opencv2/flann/nn_index.h
  modules/flann/include/opencv2/flann/simplex_downhill.h
Labels: category: flann

#17724 Mix of 32 and 64bits vector types prevents vectorisation for distance…
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: category: flann, optimization

#17729 forget to look in sub folder of include/openblas
  cmake/OpenCVFindOpenBLAS.cmake
Labels: category: build/install

#17756 Fixed header paths for some nGraph ops
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
Labels: backport is needed, category: dnn

#17758 GAPI: avoid kernel compile error on Arm SBCs
  modules/gapi/test/opencl_kernels_test_gapi.hpp
Labels: category: g-api / gapi, category: ocl, test

#17754 cuda4dnn(slice, concat): reduce slice and concat to copy, more concat fusions
  modules/dnn/src/cuda/concat.cu
  modules/dnn/src/cuda/slice.cu
  modules/dnn/src/cuda4dnn/primitives/slice.hpp
  modules/dnn/src/dnn.cpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#17761 imgcodecs: fix test build with disabled JPEG and PNG libs
  modules/imgcodecs/test/test_read_write.cpp
Labels: category: imgcodecs, test

#17766 (3.4) Fixed header paths for some nGraph ops
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
Labels: category: dnn, port/backport done

#17743 dnn(test): add YOLOv4-tiny tests
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, test

#17685 cuda4dnn(build): add basic support for cuDNN 8
  modules/dnn/CMakeLists.txt
  modules/dnn/src/cuda4dnn/csl/cudnn/convolution.hpp
  modules/dnn/src/cuda4dnn/csl/cudnn/transpose_convolution.hpp
Labels: category: dnn, category: features2d, category: gpu/cuda (contrib), optimization

#17699 (3.4) CUDA: fix build
  CMakeLists.txt
  cmake/OpenCVDetectCUDA.cmake
  modules/core/include/opencv2/core/cuda_types.hpp
Labels: category: build/install, category: gpu/cuda (contrib), feature

#17728 Update documentation of imwrite()
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  samples/cpp/tutorial_code/snippets/imgcodecs_imwrite.cpp
Labels: category: documentation, category: imgcodecs

#17752 dnn: allow concat fusion for non-channel axis
  modules/dnn/src/dnn.cpp
Labels: category: dnn, optimization

#17759 Build OpenCV winpack with DLDT 2020.4.0
  platforms/winpack_dldt/2020.4/20200413-dldt-pdb.patch
  platforms/winpack_dldt/2020.4/20200604-dldt-disable-multidevice.patch
  platforms/winpack_dldt/2020.4/20200701-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2020.4/patch.config.py
  platforms/winpack_dldt/2020.4/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: dnn, platform: win32

#17745 cmake(cuda): repair ccbin, re-implement execute_process() cache
  cmake/OpenCVDetectCUDA.cmake
  cmake/templates/cvconfig.h.in
  modules/core/include/opencv2/core/private.cuda.hpp
Labels: backport is needed, bug, category: build/install, category: gpu/cuda (contrib)

#17777 (3.4) cmake: backport CUDA scripts
  cmake/OpenCVDetectCUDA.cmake
  cmake/templates/cvconfig.h.in
  modules/core/include/opencv2/core/private.cuda.hpp
Labels: category: build/install, category: gpu/cuda (contrib), port/backport done

#17674 OCL: imgproc: align GaussianBlur/sepFilter2D OpenCL with CPU version
  modules/imgproc/perf/opencl/perf_filters.cpp
  modules/imgproc/src/filter.dispatch.cpp
  modules/imgproc/src/filter.hpp
  modules/imgproc/src/opencl/filterSepCol.cl
  modules/imgproc/src/opencl/filterSepRow.cl
  modules/imgproc/src/opencl/filterSep_singlePass.cl
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/test/ocl/test_sepfilter2d.cpp
  modules/stitching/src/exposure_compensate.cpp
Labels: bug, category: imgproc, category: ocl

#17748 cuda4dnn: overlap D2H output blobs transfer with inference
  modules/dnn/src/cuda4dnn/csl/event.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/op_cuda.hpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#17707 use universal SIMD intrinsics for SIFT
  modules/features2d/src/sift.simd.hpp
Labels: GSoC, category: features2d, optimization

#17737 Fix trees parsing behavior in hierarchical_clustering_index:
  modules/flann/include/opencv2/flann/hierarchical_clustering_index.h
Labels: bug, category: flann

#17363 cuda4dnn(conv): fuse eltwise with convolutions
  modules/dnn/src/cuda/activation_eltwise.cu
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/bias_activation.cu
  modules/dnn/src/cuda/bias_activation_eltwise.cu
  modules/dnn/src/cuda/bias_eltwise_activation.cu
  modules/dnn/src/cuda/eltwise_activation.cu
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda/scale_shift.cu
  modules/dnn/src/cuda4dnn/csl/cudnn/convolution.hpp
  modules/dnn/src/cuda4dnn/csl/span.hpp
  modules/dnn/src/cuda4dnn/csl/tensor_ops.hpp
  modules/dnn/src/cuda4dnn/kernels/activation_eltwise.hpp
  modules/dnn/src/cuda4dnn/kernels/activations.hpp
  modules/dnn/src/cuda4dnn/kernels/bias_activation.hpp
  modules/dnn/src/cuda4dnn/kernels/bias_activation_eltwise.hpp
  modules/dnn/src/cuda4dnn/kernels/bias_eltwise_activation.hpp
  modules/dnn/src/cuda4dnn/kernels/eltwise_activation.hpp
  modules/dnn/src/cuda4dnn/primitives/convolution.hpp
  modules/dnn/src/cuda4dnn/primitives/eltwise.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#17772 Fixed checkMasks in DescriptorMatcher with train descs in UMats
  modules/features2d/src/matchers.cpp
  modules/features2d/test/test_matchers_algorithmic.cpp
Labels: bug, category: features2d

#17791 cuda4dnn(concat): fix concat fusion to work with arbitary axis
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn, category: gpu/cuda (contrib)

#17635 Use"moms"replace "contourArea"
  modules/features2d/src/blobdetector.cpp
Labels: category: features2d

#17800 use bufferarea for allocating buffer in SIFT
  modules/features2d/src/sift.simd.hpp
Labels: category: features2d

#17783 Added a script to measure & report privacy masking camera performance…
  modules/gapi/samples/privacy_masking_camera.cpp
  modules/gapi/scripts/measure_privacy_masking.py
Labels: category: g-api / gapi

#17813 Fix typo
  samples/android/color-blob-detection/src/org/opencv/samples/colorblobdetect/ColorBlobDetectionActivity.java
  samples/swift/ios/ColorBlobDetection/ColorBlobDetection/ViewController.swift
Labels: category: samples

#17805 CUDA: re-enable automatic CC detection on Jetson
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#17822 core: use lazy on-demand initialization for param_traceEnable
  modules/core/src/trace.cpp
Labels: category: core

#17770 3.4 Allow first capture to return false
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio(camera), platform: linux

#17639 Pev binary kmeans
  modules/flann/include/opencv2/flann.hpp
  modules/flann/include/opencv2/flann/all_indices.h
  modules/flann/include/opencv2/flann/dist.h
  modules/flann/include/opencv2/flann/flann_base.hpp
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: category: flann

#17806 dnn(IE): enable KEY_CPU_THREADS_NUM for Windows
  modules/dnn/src/op_inf_engine.cpp
Labels: category: dnn

#17830 features2d: v_fma => v_mulladd for integers
  modules/features2d/src/sift.simd.hpp
Labels: bug, category: build/install, category: features2d, platform: ppc (PowerPC)

#17694 G-API args serialization
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/src/api/s11n.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
Labels: category: g-api / gapi, feature

#17502 G-API: Introduce a new gapi::infer2 overload + gaze estimation sample
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/samples/gaze_estimation.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/compiler/gobjref.hpp
  modules/gapi/test/gapi_array_tests.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
  modules/gapi/test/infer/gapi_infer_tests.cpp
  modules/gapi/test/internal/gapi_int_garg_test.cpp
  modules/gapi/test/internal/gapi_int_gmodel_builder_test.cpp
Labels: category: g-api / gapi

#17847 GAPI: fix warnings in own::Mat default generated constructors/assign op
  modules/gapi/include/opencv2/gapi/own/mat.hpp
Labels: category: g-api / gapi

#17788 cuda4dnn: catch common build mistakes early and better diagnostics
  modules/dnn/CMakeLists.txt
  modules/dnn/src/cuda4dnn/init.hpp
  modules/dnn/src/dnn.cpp
Labels: category: build/install, category: dnn, category: gpu/cuda (contrib)

#17741 [G-API] Allow building graphs with a dynamic number of inputs and outputs
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gproto.hpp
  modules/gapi/samples/dynamic_graph.cpp
  modules/gapi/test/internal/gapi_int_dynamic_graph.cpp
Labels: category: g-api / gapi

#17818 Documentation fixes/improvements
  modules/core/misc/objc/common/CVObjcUtil.h
  modules/core/misc/objc/common/DMatch.mm
  modules/core/misc/objc/common/KeyPoint.mm
  modules/core/misc/objc/common/Point2d.mm
  modules/core/misc/objc/common/Point2f.mm
  modules/core/misc/objc/common/Point3d.mm
  modules/core/misc/objc/common/Point3f.mm
  modules/core/misc/objc/common/Rect2d.mm
  modules/core/misc/objc/common/Rect2f.mm
  modules/core/misc/objc/common/RotatedRect.mm
  modules/core/misc/objc/common/Scalar.mm
  modules/core/misc/objc/common/Size2d.mm
  modules/core/misc/objc/common/Size2f.mm
  modules/core/misc/objc/common/TermCriteria.mm
  modules/objc/doc/README.md
  modules/objc/generator/gen_objc.py
  platforms/ios/build_framework.py
Labels: category: documentation, platform: ios/osx

#17849 Fix TensorFlow->ONNX imports
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
Labels: bug, category: dnn

#17842 GAPI: GAPI_LOG_DEBUG facility
  modules/gapi/src/logger.hpp
Labels: category: g-api / gapi

#17764 dnn: fix OpenCL implementation of Slice layer
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/opencl/slice.cl
  modules/dnn/test/test_layers.cpp
Labels: bug, category: dnn, category: ocl

#17668 GAPI: Migration to IE Core API
  modules/gapi/CMakeLists.txt
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend.hpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.cpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.hpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi, feature

#17856 DNN: align with OpenVINO 2020.4.0
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  platforms/winpack_dldt/build_package.py
Labels: category: dnn

#17865 imgproc: add missing check into cvtColorTwoPlane()
  modules/imgproc/src/color_yuv.dispatch.cpp
  modules/imgproc/test/test_color.cpp
Labels: bug, category: imgproc, test

#17841 fixed issue #17412
  modules/core/src/persistence.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#17868 dnn(test): adjust tests for OpenVINO 2020.4 (4.x branch)
  modules/dnn/test/test_model.cpp
Labels: category: dnn, test

#17873 G-API: Try to fix infer2 problem with VS2017
  modules/gapi/include/opencv2/gapi/infer.hpp
Labels: category: g-api / gapi

#17877 core(persistence): fix "use after free" bug
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core, test

#17872 Fixed removing is_parameter, is_constant, is_output
  modules/dnn/src/ie_ngraph.cpp
Labels: backport is needed, category: dnn

#17888 Fixed removing is_parameter, is_constant, is_output
  modules/dnn/src/ie_ngraph.cpp
Labels: backport is needed

#17890 Support Gather for variable inputs
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#17863 cuda::flip - Use in-place npp function for inplace arguments
  modules/cudaarithm/src/core.cpp
  modules/cudaarithm/test/test_core.cpp
Labels: backport is needed, category: gpu/cuda (contrib)

#17913 Added reference to Original Wu's articte about SAUF algorithm
  doc/opencv.bib
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#17489 FFmpeg cap consider rotation metadata 3.4
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_ffmpeg_api.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: video

#17928 Update samples
  samples/cpp/create_mask.cpp
  samples/cpp/intersectExample.cpp
  samples/cpp/squares.cpp
Labels: category: samples

#17943 let test pass on Jetson
  modules/cudaarithm/test/test_element_operations.cpp
Labels: category: gpu/cuda (contrib), test

#17896 GAPI: KW fix - video_tests
  modules/gapi/test/common/gapi_video_tests_common.hpp
Labels: category: g-api / gapi

#17871 GAPI: Overload for `GArray<GMat>` ProtoParam
  modules/gapi/include/opencv2/gapi/gtyped.hpp
  modules/gapi/test/gapi_typed_tests.cpp
Labels: category: g-api / gapi

#17925 Update train_HOG.cpp
  samples/cpp/train_HOG.cpp
Labels: port into master is needed

#17916 update mish functor
  modules/dnn/src/layers/elementwise_layers.cpp
Labels: category: dnn

#17493 G-API: Python bindings
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/cpu/core.hpp
  modules/gapi/include/opencv2/gapi/fluid/core.hpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidbuffer.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/ocl/core.hpp
  modules/gapi/include/opencv2/gapi/own/exports.hpp
  modules/gapi/include/opencv2/gapi/plaidml/core.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
  modules/gapi/src/backends/fluid/gfluidbuffer.cpp
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
Labels: category: g-api / gapi, category: python bindings, feature

#17816 findEssentialMatrix: 2 camera matrices
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/five-point.cpp
  modules/calib3d/test/test_cameracalibration.cpp
Labels: category: calib3d, feature

#17957 Updated the OpenCV logo
  doc/js_tutorials/js_assets/opencv_logo.jpg
  doc/opencv-logo-small.png
  doc/opencv-logo-white.png
  doc/opencv-logo.png
  doc/opencv-logo2.png
  doc/opencv.ico
  doc/py_tutorials/py_setup/images/opencv_logo.jpg
  samples/data/opencv-logo-white.png
  samples/data/opencv-logo.png
  samples/winrt/ImageManipulations/assets/StoreLogo.png
  samples/winrt/ImageManipulations/assets/opencv-logo-150.png
  samples/winrt/ImageManipulations/assets/opencv-logo-30.png
  samples/winrt/ImageManipulations/assets/windows-sdk.scale-100.png
  samples/winrt/JavaScript/images/logo.scale-100.png
  samples/winrt/JavaScript/images/smalllogo.scale-100.png
  samples/winrt/JavaScript/images/windows-sdk.png
  samples/winrt/OcvImageProcessing/OcvImageProcessing/Assets/Logo.png
  samples/winrt/OcvImageProcessing/OcvImageProcessing/Assets/SmallLogo.png
  samples/winrt/OcvImageProcessing/OcvImageProcessing/Assets/StoreLogo.png
Labels: category: documentation

#17977 calib3d: calibrateHandEye - allow using Rodrigues vectors for rotation
  modules/calib3d/src/calibration_handeye.cpp
  modules/calib3d/test/test_calibration_hand_eye.cpp
Labels: category: calib3d, feature, pr: needs rebase

#17983 Fix build of grfmt_jpeg2000.cpp
  modules/imgcodecs/src/grfmt_jpeg2000.cpp
Labels: category: build/install, category: imgcodecs

#17987 Fix Carotene compilation with XCode
  3rdparty/carotene/CMakeLists.txt
  3rdparty/carotene/hal/CMakeLists.txt
  3rdparty/carotene/hal/dummy.cpp
  3rdparty/carotene/src/dummy.cpp
Labels: category: build/install, platform: arm, platform: ios/osx

#17301 cuda4dnn(DetectionOutput): add fast approximate DetectionOutputOp
  modules/dnn/src/cuda/bbox_utils.hpp
  modules/dnn/src/cuda/block_stride_range.hpp
  modules/dnn/src/cuda/detection_output.cu
  modules/dnn/src/cuda/fill_copy.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda/grid_nms.cu
  modules/dnn/src/cuda/grid_stride_range.hpp
  modules/dnn/src/cuda/index_helpers.hpp
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda4dnn/csl/tensor.hpp
  modules/dnn/src/cuda4dnn/kernels/detection_output.hpp
  modules/dnn/src/cuda4dnn/kernels/grid_nms.hpp
  modules/dnn/src/cuda4dnn/primitives/detection_output.hpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/test/test_model.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: RFC, category: dnn, category: gpu/cuda (contrib), optimization
