Repository opencv/opencv, pull requests merged in 2020-10, with the labels that each got.

#18452 [G-API] Export a part of serialization interface
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/api/gcomputation_priv.hpp
  modules/gapi/src/api/s11n.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
Labels: category: g-api / gapi

#18431 fix issue in PR #18017
  modules/dnn/src/darknet/darknet_io.cpp
Labels: bug, category: dnn

#18444 calib3d: check for minimum corresponding points to calculate homography
  modules/calib3d/src/fundam.cpp
  modules/calib3d/test/test_homography.cpp
Labels: bug, category: calib3d

#18458 Update window_w32.cpp
  modules/highgui/src/window_w32.cpp
Labels: RFC, category: highgui-gui

#18483 change flags and bugfix graph in new RANSAC.
  modules/calib3d/src/fundam.cpp
  modules/calib3d/src/ptsetreg.cpp
  modules/calib3d/src/solvepnp.cpp
  modules/calib3d/src/usac/local_optimization.cpp
Labels: bug, category: calib3d

#18487 imgproc: bool is always True
  modules/imgproc/src/subdivision2d.cpp
Labels: category: imgproc

#18488 calib3d/imgproc: add GCGraph::maxFlow() missing empty checks
  modules/imgproc/src/gcgraph.hpp
Labels: bug, category: calib3d, category: imgproc

#18399 Modified for Intel Realsense webcam
  doc/tutorials/videoio/intelperc.markdown
Labels: category: documentation, category: videoio

#18339 [GAPI] RMat integration into the framework
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/own/mat.hpp
  modules/gapi/include/opencv2/gapi/rmat.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gmat.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/api/rmat.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/backends/plaidml/gplaidmlbackend.cpp
  modules/gapi/src/backends/render/grenderocvbackend.cpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gexecutor.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/gapi_array_tests.cpp
  modules/gapi/test/internal/gapi_int_proto_tests.cpp
  modules/gapi/test/rmat/rmat_integration_tests.cpp
  modules/gapi/test/rmat/rmat_test_common.hpp
  modules/gapi/test/rmat/rmat_tests.cpp
  modules/gapi/test/rmat/rmat_view_tests.cpp
Labels: category: g-api / gapi

#18473 Fix out-of-bounds access in setSize() from cv::Mat() constructor
  modules/core/src/matrix.cpp
Labels: bug, category: core

#18505 python: replace numpy.full() to support numpy<1.13
  modules/python/test/test_copytomask.py
Labels: category: python bindings, test

#18507 Add an OpenBSD check
  modules/core/src/parallel.cpp
Labels: category: build/install

#18509 dnn: check for empty Net in .forward()
  modules/dnn/src/dnn.cpp
  modules/dnn/test/test_misc.cpp
Labels: bug, category: dnn, test

#18494 G-API: Integrated cv::MediaFrame as I/O type + CPU backend
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gframe.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gmetaarg.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/media.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gframe.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/api/media.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/compiler/gcompiled.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/passes/dump_dot.cpp
  modules/gapi/test/gapi_frame_tests.cpp
Labels: category: g-api / gapi

#18506 core: allow to disable including of unsupported/Eigen/CXX11/Tensor
  modules/core/include/opencv2/core/eigen.hpp
Labels: category: build/install

#18515 core(test): regression test for 18473
  modules/core/test/test_mat.cpp
Labels: category: core, test

#18517 (3.4) Removed get_output_as_single_output_node method (backport 18031)
  modules/dnn/src/dnn.cpp
Labels: category: dnn, port/backport done

#18522 core(logger): avoid destruction of GlobalLoggingInitStruct object
  modules/core/src/logger.cpp
  platforms/scripts/valgrind.supp
Labels: bug, category: core

#18356 update new RANSAC
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/usac.hpp
  modules/calib3d/src/usac/degeneracy.cpp
  modules/calib3d/src/usac/dls_solver.cpp
  modules/calib3d/src/usac/essential_solver.cpp
  modules/calib3d/src/usac/estimator.cpp
  modules/calib3d/src/usac/fundamental_solver.cpp
  modules/calib3d/src/usac/gamma_values.cpp
  modules/calib3d/src/usac/gamma_values.hpp
  modules/calib3d/src/usac/homography_solver.cpp
  modules/calib3d/src/usac/local_optimization.cpp
  modules/calib3d/src/usac/pnp_solver.cpp
  modules/calib3d/src/usac/quality.cpp
  modules/calib3d/src/usac/ransac_solvers.cpp
  modules/calib3d/src/usac/sampler.cpp
  modules/calib3d/src/usac/utils.cpp
Labels: GSoC, category: calib3d

#18518 (3.4) [IE][VPU]: Refactor vpu configs (backport 17993)
  modules/dnn/src/ie_ngraph.cpp
Labels: category: dnn, port/backport done

#18519 java: fix javadoc generation
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/java/generator/gen_java.py
Labels: category: build/install, category: documentation, category: java bindings

#18526 videoio(dc1394_v2): ensure variable initialization
  modules/videoio/src/cap_dc1394_v2.cpp
Labels: category: build/install, category: videoio

#18512 [G-API] Numpy array with int64 failed in cv.gin
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
Labels: category: g-api / gapi, category: python bindings

#18195 Installation tutorials rework
  doc/stylesheet.css
  doc/tutorials/introduction/android_binary_package/O4A_SDK.markdown
  doc/tutorials/introduction/android_binary_package/android_dev_intro.markdown
  doc/tutorials/introduction/android_binary_package/android_ocl_intro.markdown
  doc/tutorials/introduction/android_binary_package/dev_with_OCV_on_Android.markdown
  doc/tutorials/introduction/building_tegra_cuda/building_tegra_cuda.markdown
  doc/tutorials/introduction/clojure_dev_intro/clojure_dev_intro.markdown
  doc/tutorials/introduction/config_reference/config_reference.markdown
  doc/tutorials/introduction/cross_referencing/tutorial_cross_referencing.markdown
  doc/tutorials/introduction/crosscompilation/arm_crosscompile_with_cmake.markdown
  doc/tutorials/introduction/desktop_java/java_dev_intro.markdown
  doc/tutorials/introduction/display_image/display_image.markdown
  doc/tutorials/introduction/documenting_opencv/documentation_tutorial.markdown
  doc/tutorials/introduction/general_install/general_install.markdown
  doc/tutorials/introduction/ios_install/ios_install.markdown
  doc/tutorials/introduction/java_eclipse/java_eclipse.markdown
  doc/tutorials/introduction/linux_eclipse/linux_eclipse.markdown
  doc/tutorials/introduction/linux_gcc_cmake/linux_gcc_cmake.markdown
  doc/tutorials/introduction/linux_install/linux_install.markdown
  doc/tutorials/introduction/macos_install/macos_install.markdown
  doc/tutorials/introduction/table_of_content_introduction.markdown
  doc/tutorials/introduction/transition_guide/transition_guide.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
  doc/tutorials/introduction/windows_visual_studio_image_watch/windows_visual_studio_image_watch.markdown
  doc/tutorials/introduction/windows_visual_studio_opencv/windows_visual_studio_opencv.markdown
  doc/tutorials/tutorials.markdown
  samples/install/linux_install_a.sh
  samples/install/linux_install_b.sh
  samples/install/linux_quick_install.sh
  samples/install/linux_quick_install_contrib.sh
  samples/install/linux_verify.sh
Labels: category: documentation

#18536 doxygen: backport style changes
  doc/stylesheet.css
Labels: category: documentation

#18496 Serialization && deserialization for compile arguments
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/include/opencv2/gapi/s11n/base.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/src/api/s11n.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
Labels: category: g-api / gapi

#18279 next: OpenCV 5.0-pre
  modules/core/include/opencv2/core/version.hpp
Labels: future

#18539 Doc: fixed warnings when CUDA modules are missing
  doc/tutorials/introduction/config_reference/config_reference.markdown
Labels: category: documentation

#18527 dnn(test): update tests for OpenVINO 2021.1
  modules/dnn/perf/perf_net.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, test

#18534 Build OpenCV winpack with DLDT 2021.1.0
  platforms/winpack_dldt/2020.4/20201005-dldt-fix-cldnn-compilation.patch
  platforms/winpack_dldt/2020.4/patch.config.py
  platforms/winpack_dldt/2021.1/20200413-dldt-pdb.patch
  platforms/winpack_dldt/2021.1/20200604-dldt-disable-multidevice.patch
  platforms/winpack_dldt/2021.1/20201005-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2021.1/patch.config.py
  platforms/winpack_dldt/2021.1/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: dnn, platform: win32

#18545 dnn(test): enable tests from issue 17953
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, test

#18419 [G-API] Introduce generic version for cv::gapi::infer
  modules/gapi/include/opencv2/gapi/gcall.hpp
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/src/api/gcall.cpp
  modules/gapi/src/api/gcall_priv.hpp
  modules/gapi/src/api/ginfer.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/compiler/gmodel.cpp
  modules/gapi/src/compiler/gmodel.hpp
  modules/gapi/src/compiler/gmodelbuilder.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#18551 dnn(opencl): bypass unsupported fusion cases
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_layers.cpp
Labels: bug, category: dnn, category: ocl

#18557 cmake: fix typo in CUDA_GENERATION=Auto cache
  cmake/OpenCVDetectCUDA.cmake
Labels: bug, category: build/install, category: gpu/cuda (contrib)

#18564 dnn(test): update tests for OpenVINO 2021.1 (OpenCV 4.x)
  modules/dnn/test/test_model.cpp
Labels: category: dnn, test

#18568 Fix deepgreen colormap figure
  modules/imgproc/doc/pics/colormaps/colorscale_deepgreen.jpg
Labels: bug, category: documentation

#18581 build: winpack_dldt with videoio plugins
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: videoio, platform: win32

#18559 Fix warnings: "-Wrange-loop-construct" in gapi
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/compiler/passes/exec.cpp
Labels: category: g-api / gapi

#18547 Mat conversions for macOS/AppKit
  cmake/templates/opencv_abi.xml.in
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/include/opencv2/imgcodecs/macosx.h
  modules/imgcodecs/misc/objc/macosx/Mat+Converters.h
  modules/imgcodecs/misc/objc/macosx/Mat+Converters.mm
  modules/imgcodecs/src/apple_conversions.h
  modules/imgcodecs/src/apple_conversions.mm
  modules/imgcodecs/src/ios_conversions.mm
  modules/imgcodecs/src/macosx_conversions.mm
  modules/objc/generator/gen_objc.py
Labels: category: imgcodecs, feature, platform: ios/osx

#18566 Add Mat data pointer bridging method for Objective-C/Swift
  modules/core/misc/objc/common/Mat.h
  modules/core/misc/objc/common/Mat.mm
Labels: category: swift/objc bindings, feature, platform: ios/osx

#18583 Doc: INTER_LINEAR_EXACT unsupported in remap
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation, category: g-api / gapi, category: imgproc

#18582 Doc: INTER_LINEAR_EXACT unsupported in remap
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation, category: imgproc

#18493 [G-API Wrap streaming
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gproto.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/streaming/cap.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_streaming.py
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gstreaming.cpp
  modules/gapi/src/compiler/gstreaming_priv.hpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, category: python bindings

#18542 [G-API] Support ImportNetwork for cv::gapi::infer
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.cpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.hpp
Labels: category: g-api / gapi

#18589 cmake(protobuf): ensure using of own headers
  3rdparty/protobuf/CMakeLists.txt
Labels: category: 3rdparty, category: build/install

#18533 imwrite: multi-image overload for bindings
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: imgcodecs, category: python bindings

#18590 Update demosaicing.cpp
  modules/imgproc/src/demosaicing.cpp
Labels: bug, category: imgproc

#18602 core: fix __clang_major__ typo regression
  modules/core/include/opencv2/core/cvdef.h
Labels: bug, category: core

#18605 Fix Objective-C/Swift binding's handling of properties with enum type
  modules/objc/generator/gen_objc.py
Labels: bug, category: swift/objc bindings, platform: ios/osx

#18598 Fix: UsacParams Python bindings (Issue#18595)
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/solvepnp.cpp
Labels: category: calib3d, category: python bindings

#18068 [GSoC] OpenCV.js: WASM SIMD optimization 2.0
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/js/CMakeLists.txt
  modules/js/perf/base.js
  modules/js/perf/perf_64bits.html
  modules/js/perf/perf_64bits.js
  modules/js/perf/perf_helpfunc.js
  modules/js/perf/perf_imgproc/perf_blur.html
  modules/js/perf/perf_imgproc/perf_blur.js
  modules/js/perf/perf_imgproc/perf_cvtcolor.js
  modules/js/perf/perf_imgproc/perf_dilate.html
  modules/js/perf/perf_imgproc/perf_dilate.js
  modules/js/perf/perf_imgproc/perf_erode.html
  modules/js/perf/perf_imgproc/perf_erode.js
  modules/js/perf/perf_imgproc/perf_filter2D.html
  modules/js/perf/perf_imgproc/perf_filter2D.js
  modules/js/perf/perf_imgproc/perf_gaussianBlur.html
  modules/js/perf/perf_imgproc/perf_gaussianBlur.js
  modules/js/perf/perf_imgproc/perf_medianBlur.html
  modules/js/perf/perf_imgproc/perf_medianBlur.js
  modules/js/perf/perf_imgproc/perf_pyrDown.html
  modules/js/perf/perf_imgproc/perf_pyrDown.js
  modules/js/perf/perf_imgproc/perf_remap.html
  modules/js/perf/perf_imgproc/perf_remap.js
  modules/js/perf/perf_imgproc/perf_resize.js
  modules/js/perf/perf_imgproc/perf_scharr.html
  modules/js/perf/perf_imgproc/perf_scharr.js
  modules/js/perf/perf_imgproc/perf_sobel.html
  modules/js/perf/perf_imgproc/perf_sobel.js
  modules/js/perf/perf_imgproc/perf_threshold.js
  modules/js/perf/perf_imgproc/perf_warpAffine.html
  modules/js/perf/perf_imgproc/perf_warpAffine.js
  modules/js/perf/perf_imgproc/perf_warpPerspective.html
  modules/js/perf/perf_imgproc/perf_warpPerspective.js
  modules/js/src/loader.js
  platforms/js/build_js.py
Labels: GSoC, category: javascript (js), optimization

#18593 Add support thread-local directx (OpenCL interop) initialization
  modules/core/src/directx.cpp
  modules/core/src/directx.hpp
  modules/core/src/ocl.cpp
Labels: category: core, category: ocl, feature, platform: win32

#18621 G-API KW fixes (WW43 2020)
  modules/gapi/include/opencv2/gapi/media.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
Labels: category: g-api / gapi

#18426 add HEVC(H.265) codec to iOS,Mac VideoWriter
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
Labels: feature, platform: ios/osx

#18614 fixes #18613
  samples/dnn/siamrpnpp.py
Labels: category: samples, category: tracking

#18588 [FIX #18553] Enable imshow to take GpuMat inputs in Python
  modules/python/src2/hdr_parser.py
Labels: category: gpu/cuda (contrib), category: python bindings, feature

#18628 Typo in docstring of distanceTransform
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation, category: imgproc

#18584 [G-API]: Introduce RMat serialization API
  modules/gapi/include/opencv2/gapi/rmat.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/src/api/s11n.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
Labels: category: g-api / gapi

#18338 Univ Intrinsics implementation of Add, Sub, Absdiff kernels
  modules/gapi/src/backends/fluid/gfluidcore.cpp
Labels: category: core

#18607 stiching: add warpPointBackward to warpers
  modules/stitching/include/opencv2/stitching/detail/warpers.hpp
  modules/stitching/include/opencv2/stitching/detail/warpers_inl.hpp
  modules/stitching/include/opencv2/stitching/warpers.hpp
  modules/stitching/src/warpers.cpp
  modules/stitching/test/test_reprojection.cpp
Labels: category: stitching, feature, test

#18476 G-API: Introduced a Text Detection sample
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/include/opencv2/gapi/infer/parsers.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/samples/text_detection.cpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
Labels: category: g-api / gapi, category: samples

#18624 support similarity masks
  modules/stitching/include/opencv2/stitching/detail/exposure_compensate.hpp
  modules/stitching/src/exposure_compensate.cpp
  modules/stitching/test/test_exposure_compensate.cpp
  modules/stitching/test/test_precomp.hpp
Labels: category: stitching, feature

#18641 Fix errors when building with cuda stubs
  modules/cudaarithm/src/lut.cpp
  modules/stitching/src/blenders.cpp
Labels: bug, category: build/install, category: gpu/cuda (contrib), category: stitching

#18622 [G-API] Fix namespace for OCVCallHelper
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
Labels: category: g-api / gapi

#18637 Add support for Swift version independence
  modules/objc/generator/gen_objc.py
  modules/objc/generator/templates/cmakelists.template
Labels: category: build/install, category: swift/objc bindings, platform: ios/osx

#18633 Fix TypeError when building for WebAssembly with Python 3
  modules/js/src/make_umd.py
Labels: category: build/install, category: javascript (js)

#18003 Detection and decoding of curved QR-codes
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: category: objdetect, feature

#18640 core: move inline code from mat.inl.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/src/matrix.cpp
  modules/core/src/matrix_sparse.cpp
  modules/core/src/umatrix.cpp
Labels: category: core

#18646 stitching: add WAVE_CORRECT_AUTO
  modules/stitching/include/opencv2/stitching/detail/motion_estimators.hpp
  modules/stitching/src/motion_estimators.cpp
  modules/stitching/test/test_precomp.hpp
  modules/stitching/test/test_wave_correction.cpp
Labels: category: stitching, feature

#18491 [G-API] Wrap cv::gapi::infer<Generic> into python
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/include/opencv2/gapi/infer/bindings_ie.hpp
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_infer.py
  modules/gapi/src/api/ginfer.cpp
  modules/gapi/src/backends/ie/bindings_ie.cpp
Labels: category: g-api / gapi, category: python bindings

#18600 [G-API] Implement render using stateful kernel
  modules/gapi/CMakeLists.txt
  modules/gapi/src/api/render_ocv.cpp
  modules/gapi/src/api/render_ocv.hpp
  modules/gapi/src/backends/render/ft_render.cpp
  modules/gapi/src/backends/render/ft_render.hpp
  modules/gapi/src/backends/render/ft_render_priv.hpp
  modules/gapi/src/backends/render/grenderocv.cpp
  modules/gapi/src/backends/render/grenderocv.hpp
  modules/gapi/src/backends/render/grenderocvbackend.cpp
  modules/gapi/src/backends/render/grenderocvbackend.hpp
  modules/gapi/test/render/ftp_render_test.cpp
  modules/gapi/test/render/gapi_render_tests_ocv.cpp
Labels: category: g-api / gapi, feature

#18664 Bugfix: Manual page sizes now overwrite the default page size if they…
  doc/pattern_tools/gen_pattern.py
Labels: bug, category: objdetect

#18671 [G-API] Minor s11n and RMat improvements:
  modules/gapi/src/api/gmat.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/common/serialization.cpp
Labels: category: g-api / gapi

#18663 core: move inline code from mat.inl.hpp (OpenCV 4.x additions)
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/src/matrix.cpp
  modules/core/src/umatrix.cpp
Labels: category: core

#18685 Curved QR-code decoding (fix)
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#18672 cmake(3rdparty): use EXCLUDE_FROM_ALL
  3rdparty/carotene/CMakeLists.txt
  3rdparty/cpufeatures/CMakeLists.txt
  3rdparty/ippicv/CMakeLists.txt
  3rdparty/ittnotify/CMakeLists.txt
  3rdparty/libjasper/CMakeLists.txt
  3rdparty/libjpeg-turbo/CMakeLists.txt
  3rdparty/libjpeg/CMakeLists.txt
  3rdparty/libpng/CMakeLists.txt
  3rdparty/libtiff/CMakeLists.txt
  3rdparty/libwebp/CMakeLists.txt
  3rdparty/openexr/CMakeLists.txt
  3rdparty/protobuf/CMakeLists.txt
  3rdparty/quirc/CMakeLists.txt
  3rdparty/tbb/CMakeLists.txt
  3rdparty/zlib/CMakeLists.txt
  cmake/OpenCVUtils.cmake
Labels: category: 3rdparty, category: build/install

#18658 Fix cmake configure error
  modules/videoio/cmake/init.cmake
Labels: bug, category: build/install, category: videoio

#18673 G-API: Introduce streaming::desync and infer(ROI)
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi.hpp
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/include/opencv2/gapi/streaming/desync.hpp
  modules/gapi/samples/infer_single_roi.cpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gbackend_priv.hpp
  modules/gapi/src/api/ginfer.cpp
  modules/gapi/src/api/kernels_streaming.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/compiler/gmodel.cpp
  modules/gapi/src/compiler/gmodel.hpp
  modules/gapi/src/compiler/gmodelbuilder.cpp
  modules/gapi/src/compiler/gobjref.hpp
  modules/gapi/src/compiler/gstreaming.cpp
  modules/gapi/src/compiler/gstreaming_priv.hpp
  modules/gapi/src/compiler/passes/exec.cpp
  modules/gapi/src/compiler/passes/intrin.cpp
  modules/gapi/src/compiler/passes/kernels.cpp
  modules/gapi/src/compiler/passes/passes.hpp
  modules/gapi/src/compiler/transactions.hpp
  modules/gapi/src/executor/conc_queue.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.hpp
  modules/gapi/src/executor/last_value.hpp
  modules/gapi/test/internal/gapi_int_gmodel_builder_test.cpp
  modules/gapi/test/internal/gapi_int_island_fusion_tests.cpp
  modules/gapi/test/internal/gapi_transactions_test.cpp
  modules/gapi/test/own/conc_queue_tests.cpp
  modules/gapi/test/own/last_written_value_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, feature

#18158 Optimize opencv dft by vectorizing radix2 and radix3.
  modules/core/src/dxt.cpp
Labels: category: core, optimization
