Repository opencv/opencv, pull requests merged in 2020-06, with the labels that each got.

#17436 fixed #17044
  doc/tutorials/core/file_input_output_with_xml_yml/file_input_output_with_xml_yml.markdown
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence_cpp.cpp
  modules/core/src/persistence_xml.cpp
  modules/python/test/test_filestorage_io.py
  samples/python/tutorial_code/core/file_input_output/file_input_output.py
Labels: Hackathon, bug, category: core, category: python bindings

#17424 dnn: add a human parsing cpp sample
  samples/dnn/human_parsing.cpp
Labels: category: dnn, category: samples

#17417 improved fitEllipse and fitEllipseDirect accuracy in singular cases
  modules/imgproc/misc/java/test/ImgprocTest.java
  modules/imgproc/src/shapedescr.cpp
  modules/imgproc/test/test_fitellipse.cpp
Labels: Hackathon, category: imgproc

#17438 core: fix builds with eigen helper header
  modules/core/include/opencv2/core/eigen.hpp
Labels: bug, category: build/install, category: core

#17447 dnn(IE): fix layers extraction
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn

#17430 videoio(ffmpeg): fix handling of AVERROR_EOF
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: Hackathon, bug, category: videoio

#17369 Add instructions for how to use findEssentialMat() when camera matrices are different
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#17455 Added countNonZero test for big arrays
  modules/core/src/count_non_zero.dispatch.cpp
  modules/core/test/test_countnonzero.cpp
Labels: bug, category: core, optimization

#17469 Fixed virtual Try-On sample
  modules/dnn/src/onnx/onnx_importer.cpp
  samples/dnn/virtual_try_on.py
Labels: category: dnn

#17473 - Fixing broken URL to mp4ra website
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/include/opencv2/videoio/videoio_c.h
Labels: bug, category: documentation, category: videoio

#17432 CUDA: choose supported NVCC automatically
  cmake/OpenCVDetectCUDA.cmake
Labels: RFC, category: build/install, category: gpu/cuda (contrib)

#17466 Build OpenCV winpack with DLDT 2020.3.0
  platforms/winpack_dldt/2020.3.0/20200413-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2020.3.0/20200413-dldt-fix-binaries-location.patch
  platforms/winpack_dldt/2020.3.0/20200413-dldt-pdb.patch
  platforms/winpack_dldt/2020.3.0/20200604-dldt-disable-multidevice.patch
  platforms/winpack_dldt/2020.3.0/patch.config.py
  platforms/winpack_dldt/2020.3.0/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: dnn, platform: win32

#17350 Enable stateful kernels in G-API OCV Backend
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/gcompiled.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/cpu/gcpubackend.hpp
  modules/gapi/src/backends/cpu/gcpukernel.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.hpp
  modules/gapi/src/backends/render/grenderocvbackend.cpp
  modules/gapi/src/compiler/gcompiled.cpp
  modules/gapi/src/compiler/gcompiled_priv.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gexecutor.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_test_utils.hpp
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
Labels: category: g-api / gapi

#17474 Add handling for Android "NDK (Side by side)"
  platforms/android/build_sdk.py
Labels: category: build/install, feature, platform: android

#17431 Added VTK 9 support
  cmake/OpenCVDetectVTK.cmake
Labels: Hackathon, category: build/install, category: viz

#17471 Skip some GAPI tests if VideoCapture is not capable to playback video
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, test

#17485 Fix '--help' of stitching_detailed.py sample
  samples/python/stitching_detailed.py
Labels: category: samples, category: stitching

#17497 videoio: fix plugins build
  modules/videoio/cmake/plugin_standalone.cmake
Labels: category: build/install, category: videoio

#17498 3rdparty: update TBB 2020.1 => 2020.2
  3rdparty/tbb/CMakeLists.txt
Labels: category: 3rdparty, category: build/install

#17504 ffmpeg/3.4: update FFmpeg wrapper
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: affected: 3.4, category: 3rdparty, category: videoio, platform: win32

#17507 ffmpeg/4.4: update FFmpeg plugin
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: 3rdparty, category: videoio, platform: win32

#16955 add text python recognition sample
  samples/dnn/text_detection.py
Labels: category: dnn, category: python bindings, category: samples

#17492 add Memory barriers
  modules/core/src/precomp.hpp
Labels: category: build/install, category: core

#17368 Add documentation about usage of cv2eigen functions in eigen.hpp
  modules/core/include/opencv2/core/eigen.hpp
Labels: category: documentation

#17528 cuda4dnn(resize, tests): allow two-input resize, fix test thresholds
  modules/dnn/src/cuda4dnn/primitives/resize.hpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), test

#17341 Added information to OpenCV documentation [MacOS]
  doc/tutorials/introduction/macos_install/macos_install.markdown
Labels: category: documentation

#17143 improve the mkl search procedure
  cmake/OpenCVFindMKL.cmake
Labels: category: build/install

#17538 DNN: use OpenVINO 2020.3 defines
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: category: build/install, category: dnn

#17536 Removed error lisneter usage
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: category: build/install, category: dnn

#17537 Fix typo
  cmake/OpenCVFindOpenEXR.cmake
Labels: bug, category: build/install

#17527 CUDA: fix corner case of libnvcuvid
  cmake/OpenCVDetectCUDA.cmake
  cmake/templates/cvconfig.h.in
  modules/cudacodec/src/cuvid_video_source.hpp
  modules/cudacodec/src/frame_queue.hpp
  modules/cudacodec/src/precomp.hpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.hpp
Labels: category: build/install, category: gpu/cuda (contrib), feature

#17540 cuda4dnn(mish): improve accuracy and performance
  modules/dnn/src/cuda/functors.hpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#17533 core: fix handling of ND-arrays in dumpInputArray() helpers
  modules/core/src/bindings_utils.cpp
  modules/python/test/test_misc.py
Labels: bug, category: core, category: python bindings, test

#17557 (3.4) Removed plugin dispatcher (backport 17554)
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/op_inf_engine.cpp
Labels: category: build/install, category: dnn

#16772 Added g-api render performance tests
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/common/gapi_render_perf_tests.cpp
  modules/gapi/perf/common/gapi_render_perf_tests.hpp
  modules/gapi/perf/common/gapi_render_perf_tests_inl.hpp
  modules/gapi/perf/render/gapi_render_perf_tests_ocv.cpp
Labels: category: g-api / gapi, test

#17561 platforms/android: fix --no_samples_build flag not working
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#17556 cuda optflow TVL1 : run safely in async mode
  modules/core/include/opencv2/core/cuda/common.hpp
  modules/cudaimgproc/src/cuda/canny.cu
  modules/cudaimgproc/test/test_canny.cpp
  modules/cudaoptflow/src/cuda/tvl1flow.cu
  modules/cudaoptflow/test/test_optflow.cpp
Labels: bug, category: gpu/cuda (contrib)

#17555 Rework native pointer handling for Objective-C/Swift binding
  modules/core/misc/objc/common/CVObjcUtil.h
  modules/core/misc/objc/common/Mat.h
  modules/core/misc/objc/common/Mat.mm
  modules/imgproc/misc/objc/test/ImgprocTest.swift
  modules/objc/generator/gen_objc.py
  platforms/ios/build_framework.py
Labels: bug, category: swift bindings, platform: ios/osx

#17564 Changed StridedSlice to VariadicSplit in Region layer
  modules/dnn/src/layers/region_layer.cpp
Labels: category: dnn

#17468 TEngine installation rules fix for static build
  3rdparty/libtengine/tengine.cmake
Labels: Hackathon, category: build/install, platform: android, platform: arm

#17534 cuda4dnn: reduce CUDA version requirements to at least CUDA 9.2
  modules/dnn/src/cuda/atomics.hpp
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda4dnn/csl/cublas.hpp
  modules/dnn/src/cuda4dnn/csl/cudnn/cudnn.hpp
  modules/dnn/src/cuda4dnn/csl/fp16.hpp
  modules/dnn/src/op_cuda.hpp
Labels: category: build/install, category: dnn, category: gpu/cuda (contrib)

#17568 cudacodec(build): fix detection in CMake, cleanup duplicate includes
  cmake/OpenCVDetectCUDA.cmake
  modules/cudacodec/src/cuvid_video_source.hpp
  modules/cudacodec/src/frame_queue.hpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.hpp
  modules/cudacodec/src/video_source.hpp
Labels: category: build/install, category: gpu/cuda (contrib)

#17571 CUDA: fix automatic cc
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#17573 fixing #17572
  platforms/android/build_sdk.py
Labels: bug, category: build/install, platform: android

#17577 imgproc(color_yuv.simd): Fix the build using MinGW
  modules/imgproc/src/color_yuv.simd.hpp
Labels: bug, category: build/install, platform: win32

#17578 fix VS Windows build with eigen. https://github.com/opencv/opencv/iss…
  modules/core/include/opencv2/core/eigen.hpp
Labels: category: build/install, category: core

#17581 CUDA: fix build error on Jetson TX1 and TX2
  modules/cudaimgproc/src/cuda/canny.cu
Labels: bug, category: build/install, category: gpu/cuda (contrib)

#17587 fix build on Jetson TX1 and TX2
  modules/cudaoptflow/src/cuda/tvl1flow.cu
Labels: category: build/install, category: gpu/cuda (contrib)

#17580 docs: linkfix in bibliography
  doc/opencv.bib
Labels: category: documentation

#17526 respect CUDA_HOST_COMPILER when detecting CUDA arch
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#17593 CUDA: add Ampere CC
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib), feature

#17599 CUDA: Fix cuda fail safe path
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#17592 Disabling default NMS in yolo layer
  modules/dnn/src/darknet/darknet_io.cpp
Labels: category: dnn

#17617 core(logger): complete initialization of logger structures
  modules/core/src/logger.cpp
Labels: bug, category: core

#17576 videoio(ximea): fix the detection of the XIMEA library
  modules/videoio/cmake/detect_ximea.cmake
Labels: category: build/install, category: videoio

#17616 Conditional compilation for network reader
  modules/dnn/test/test_ie_models.cpp
Labels: backport is needed, category: build/install, category: dnn

#17622 Remove deprecated Inference Engine CPU extensions
  modules/dnn/src/ie_ngraph.cpp
Labels: category: build/install, category: dnn

#17634 (master) Remove deprecated Inference Engine CPU extensions
  modules/dnn/src/ie_ngraph.cpp
Labels: category: build/install, category: dnn, port/backport done

#17633 (3.4) Conditional compilation for network reader
  modules/dnn/test/test_ie_models.cpp
Labels: category: build/install, category: dnn, port/backport done

#17624 Optimize Mish for CPU backend
  modules/dnn/src/layers/elementwise_layers.cpp
Labels: category: dnn, optimization

#17621 cuda4dnn(mish): use fp32 mish for fp16 mish (faster and more accurate)
  modules/dnn/src/cuda/functors.hpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#17605 G-API: Add default implementation for plaidml::kernels
  modules/gapi/src/backends/plaidml/gplaidmlcore.cpp
  modules/gapi/test/gapi_plaidml_pipelines.cpp
Labels: category: g-api / gapi

#17648 3rdparty: libjpeg 9d
  3rdparty/libjpeg/README
  3rdparty/libjpeg/change.log
  3rdparty/libjpeg/jcarith.c
  3rdparty/libjpeg/jccolor.c
  3rdparty/libjpeg/jchuff.c
  3rdparty/libjpeg/jcmarker.c
  3rdparty/libjpeg/jcmaster.c
  3rdparty/libjpeg/jcomapi.c
  3rdparty/libjpeg/jcparam.c
  3rdparty/libjpeg/jdarith.c
  3rdparty/libjpeg/jdatadst.c
  3rdparty/libjpeg/jdatasrc.c
  3rdparty/libjpeg/jdcolor.c
  3rdparty/libjpeg/jdct.h
  3rdparty/libjpeg/jdhuff.c
  3rdparty/libjpeg/jdmarker.c
  3rdparty/libjpeg/jdmaster.c
  3rdparty/libjpeg/jdmerge.c
  3rdparty/libjpeg/jerror.h
  3rdparty/libjpeg/jfdctint.c
  3rdparty/libjpeg/jidctint.c
  3rdparty/libjpeg/jmemmgr.c
  3rdparty/libjpeg/jmemnobs.c
  3rdparty/libjpeg/jpegint.h
  3rdparty/libjpeg/jpeglib.h
  3rdparty/libjpeg/jutils.c
  3rdparty/libjpeg/jversion.h
Labels: category: 3rdparty

#17650 3rdparty: libjpeg-turbo 2.0.4 => 2.0.5
  3rdparty/libjpeg-turbo/CMakeLists.txt
  3rdparty/libjpeg-turbo/jconfigint.h.in
  3rdparty/libjpeg-turbo/src/jdatadst.c
  3rdparty/libjpeg-turbo/src/jversion.h
Labels: category: 3rdparty

#17584 Enable state initialization params via compile_args
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gcompiled.hpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/cpu/gcpubackend.hpp
  modules/gapi/src/backends/cpu/gcpukernel.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.hpp
  modules/gapi/src/backends/plaidml/gplaidmlbackend.cpp
  modules/gapi/src/backends/render/grenderocvbackend.cpp
  modules/gapi/src/compiler/gcompiled.cpp
  modules/gapi/src/compiler/gcompiled_priv.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gexecutor.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.hpp
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
  modules/gapi/test/gapi_compile_args_tests.cpp
Labels: category: g-api / gapi

#17641 Fix: error in the dimension used for computeMinMax
  modules/flann/include/opencv2/flann/kdtree_single_index.h
Labels: bug, category: flann

#17658 Conditional compilation for IR v7 support
  modules/dnn/src/dnn.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: backport is needed, category: dnn

#17618 Added/Fixed testcases for SIFT
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/perf/perf_feature2d.hpp
  modules/features2d/perf/perf_sift.cpp
  modules/features2d/src/sift.dispatch.cpp
  modules/features2d/test/test_descriptors_invariance.cpp
  modules/features2d/test/test_detectors_invariance.cpp
Labels: GSoC, category: features2d, test

#17663 (3.4) Conditional compilation for IR v7 support
  modules/dnn/src/dnn.cpp
  modules/dnn/src/op_inf_engine.hpp
Labels: category: dnn, port/backport done

#17638 Optim: test that could be done once has been extracted from the loop
  modules/flann/include/opencv2/flann/kdtree_single_index.h
Labels: category: flann, optimization

#17020 G-API Serialization routines
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/api/gcomputation_priv.hpp
  modules/gapi/src/api/s11n.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/common/serialization.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gcompiler.hpp
  modules/gapi/src/compiler/gmodel.hpp
  modules/gapi/src/compiler/passes/kernels.cpp
  modules/gapi/src/compiler/passes/transformations.cpp
  modules/gapi/test/gapi_transform_tests.cpp
  modules/gapi/test/s11n/gapi_s11n_tests.cpp
  modules/gapi/test/s11n/gapi_sample_pipelines_s11n.cpp
Labels: category: g-api / gapi, feature

#17642 Pev fixes and clean
  modules/flann/include/opencv2/flann/dist.h
  modules/flann/include/opencv2/flann/kmeans_index.h
  modules/flann/include/opencv2/flann/lsh_index.h
  modules/flann/include/opencv2/flann/lsh_table.h
  modules/flann/include/opencv2/flann/result_set.h
Labels: bug, category: flann

#17671 CUDA: fix native detection on Jetson
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#17567 Increased portability of CV_Func
  modules/core/include/opencv2/core/cvdef.h
Labels: RFC, category: build/install

#17665 Dynamic build for Objective-C/Swift wrapper
  cmake/OpenCVGenInfoPlist.cmake
  modules/core/misc/objc/common/ByteVector.h
  modules/core/misc/objc/common/CVObjcUtil.h
  modules/core/misc/objc/common/Converters.h
  modules/core/misc/objc/common/CvType.h
  modules/core/misc/objc/common/DMatch.h
  modules/core/misc/objc/common/Double2.h
  modules/core/misc/objc/common/Double3.h
  modules/core/misc/objc/common/DoubleVector.h
  modules/core/misc/objc/common/Float4.h
  modules/core/misc/objc/common/Float6.h
  modules/core/misc/objc/common/FloatVector.h
  modules/core/misc/objc/common/Int4.h
  modules/core/misc/objc/common/IntVector.h
  modules/core/misc/objc/common/KeyPoint.h
  modules/core/misc/objc/common/Mat.h
  modules/core/misc/objc/common/MatOfByte.h
  modules/core/misc/objc/common/MatOfDMatch.h
  modules/core/misc/objc/common/MatOfDouble.h
  modules/core/misc/objc/common/MatOfFloat.h
  modules/core/misc/objc/common/MatOfFloat4.h
  modules/core/misc/objc/common/MatOfFloat6.h
  modules/core/misc/objc/common/MatOfInt.h
  modules/core/misc/objc/common/MatOfInt4.h
  modules/core/misc/objc/common/MatOfKeyPoint.h
  modules/core/misc/objc/common/MatOfPoint2f.h
  modules/core/misc/objc/common/MatOfPoint2i.h
  modules/core/misc/objc/common/MatOfPoint3.h
  modules/core/misc/objc/common/MatOfPoint3f.h
  modules/core/misc/objc/common/MatOfRect2d.h
  modules/core/misc/objc/common/MatOfRect2i.h
  modules/core/misc/objc/common/MatOfRotatedRect.h
  modules/core/misc/objc/common/MinMaxLocResult.h
  modules/core/misc/objc/common/Point2d.h
  modules/core/misc/objc/common/Point2f.h
  modules/core/misc/objc/common/Point2i.h
  modules/core/misc/objc/common/Point3d.h
  modules/core/misc/objc/common/Point3f.h
  modules/core/misc/objc/common/Point3i.h
  modules/core/misc/objc/common/Range.h
  modules/core/misc/objc/common/Rect2d.h
  modules/core/misc/objc/common/Rect2f.h
  modules/core/misc/objc/common/Rect2i.h
  modules/core/misc/objc/common/RotatedRect.h
  modules/core/misc/objc/common/Scalar.h
  modules/core/misc/objc/common/Size2d.h
  modules/core/misc/objc/common/Size2f.h
  modules/core/misc/objc/common/Size2i.h
  modules/core/misc/objc/common/TermCriteria.h
  modules/imgcodecs/misc/objc/ios/Mat+Converters.h
  modules/imgproc/misc/objc/common/Moments.h
  modules/objc/generator/templates/cmakelists.template
  modules/objc/generator/templates/objc_class_header.template
  modules/objc/generator/templates/objc_module_header.template
  modules/videoio/misc/objc/ios/CvCamera2.h
  platforms/ios/Info.Dynamic.plist.in
  platforms/ios/build_framework.py
Labels: category: build/install, category: swift bindings, platform: ios/osx

#17636 support indexed color images on iOS
  modules/imgcodecs/src/ios_conversions.mm
Labels: platform: ios/osx

#17499 Fix cuda11
  cmake/FindCUDNN.cmake
  cmake/OpenCVDetectCUDA.cmake
  modules/dnn/CMakeLists.txt
Labels: category: build/install, category: gpu/cuda (contrib)

#17686 cmake(CUDA): update handling of -std=c++11/14 flags
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#17695 cmake(gapi): fix opencv_world build for winpack
  modules/gapi/CMakeLists.txt
Labels: bug, category: build/install, category: g-api / gapi

#17696 min max fix for G-API standalone build
  modules/gapi/src/backends/common/serialization.cpp
Labels: category: build/install, category: g-api / gapi

#17700 Restored compatibility with CMake older than 3.7.
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)
