Repository opencv/opencv, pull requests merged in 2020-05, with the labels that each got.

#16941 Add text recognition to examples_dnn_text_decoder
  samples/dnn/text_detection.cpp
Labels: category: dnn, category: samples, feature

#17222 dnn: Slice with variable input shapes
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: dnn, feature, test

#17218 Update NumPy links
  doc/py_tutorials/py_setup/py_intro/py_intro.markdown
Labels: category: documentation, category: python bindings

#17219 Update Supported formula commands - MathJax link
  doc/tutorials/introduction/documenting_opencv/documentation_tutorial.markdown
Labels: category: documentation

#17223 Update table of content for imgproc module tutorials to reflect languages used
  doc/tutorials/imgproc/table_of_content_imgproc.markdown
Labels: category: documentation

#17208 (3.4) Fix MINGW DShow compilation
  modules/videoio/src/cap_dshow.cpp
Labels: category: build/install, category: videoio, platform: win32

#17229 Fix fluid resize operating with zero output size
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
Labels: bug, category: g-api / gapi

#17200 cuda4dnn: optimizations for swish, mish, sigmoid, region, resize based ops, transpose, identity-conv fusion
  modules/dnn/src/cuda/crop_and_resize.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda/memory.hpp
  modules/dnn/src/cuda/permute.cu
  modules/dnn/src/cuda/region.cu
  modules/dnn/src/cuda/resize.cu
  modules/dnn/src/cuda/roi_pooling.cu
  modules/dnn/src/cuda/vector_traits.hpp
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#17118 Added NDHWC Concat support for TensorFlow
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#17235 Update Image Watch Tutorial
  doc/tutorials/introduction/windows_visual_studio_image_watch/windows_visual_studio_image_watch.markdown
Labels: category: documentation, platform: win32

#17258 cuda4dnn(Slice): fix regression from 3.4 port
  modules/dnn/src/layers/slice_layer.cpp
Labels: category: dnn, category: gpu/cuda (contrib)

#17256 Easier access to opencv.js in tutorial
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  doc/js_tutorials/js_setup/js_usage/js_usage.markdown
Labels: category: documentation, category: javascript (js)

#17244 Update tutorials tables of content for several modules
  doc/tutorials/calib3d/table_of_content_calib3d.markdown
  doc/tutorials/core/table_of_content_core.markdown
  doc/tutorials/dnn/table_of_content_dnn.markdown
  doc/tutorials/features2d/table_of_content_features2d.markdown
  doc/tutorials/gpu/table_of_content_gpu.markdown
  doc/tutorials/imgcodecs/table_of_content_highgui.markdown
  doc/tutorials/ios/table_of_content_ios.markdown
  doc/tutorials/stitching/table_of_content_stitching.markdown
  doc/tutorials/videoio/table_of_content_videoio.markdown
  doc/tutorials/viz/table_of_content_viz.markdown
Labels: category: documentation

#17230 Added C++ and Java regression test for estimateNewCameraMatrixForUndistortRectify
  modules/calib3d/misc/java/test/Calib3dTest.java
  modules/calib3d/test/test_fisheye.cpp
Labels: category: calib3d, test

#17233 Added ONNX BatchNorm subgraph
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#17215 Adding Official OpenCV course link
  README.md
Labels: category: documentation

#17196 core(MatExpr): fix warning in case of e.s == (0, 0, 0, 0)
  modules/core/src/matrix_expressions.cpp
Labels: category: core

#17211 features2d(SIFT): add runtime dispatching
  modules/features2d/CMakeLists.txt
  modules/features2d/src/sift.dispatch.cpp
  modules/features2d/src/sift.simd.hpp
Labels: category: features2d, optimization

#17260 Implementation of colormap "DeepGreen"
  modules/imgproc/doc/pics/colorscale_deepgreen.jpg
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/colormap.cpp
Labels: category: imgproc

#17228 CAP_MFX: surface pool with timeout, more parameters
  modules/videoio/src/cap_mfx_common.cpp
  modules/videoio/src/cap_mfx_common.hpp
  modules/videoio/src/cap_mfx_reader.cpp
  modules/videoio/src/cap_mfx_writer.cpp
Labels: category: videoio, feature

#17270 Fixed bug with ngraph::op::v1::Multiply
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#17268 G-API: "deownification" corrections
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/opencv_includes.hpp
  modules/gapi/include/opencv2/gapi/own/cvdefs.hpp
  modules/gapi/include/opencv2/gapi/own/mat.hpp
  modules/gapi/src/api/gmat.cpp
  modules/gapi/src/api/gscalar.cpp
Labels: category: g-api / gapi

#17281 Determine SSD input shape
  samples/dnn/tf_text_graph_ssd.py
Labels: category: dnn

#17284 Fix BatchNorm reinitialization after fusion
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/test/test_layers.cpp
Labels: bug, category: dnn

#17285 Fix #17279 Documentation Error
  doc/js_tutorials/js_setup/js_nodejs/js_nodejs.markdown
Labels: bug, category: documentation, category: javascript (js), category: samples

#17287 features2d: fix test failure on Mali T760 and Mali T628
  modules/features2d/test/ocl/test_feature2d.cpp
Labels: category: features2d, category: ocl, test

#17288 TensorFlow downscale bilinear resize
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#17248 Prefer addAll instead of iteration for performance
  modules/java/generator/src/java/org/opencv/utils/Converters.java
Labels: category: java bindings

#17055 Update calcBackProject_Demo1.py
  samples/python/tutorial_code/Histograms_Matching/back_projection/calcBackProject_Demo1.py
Labels: category: python bindings, category: samples

#17224 Fixed indexing in prefilter
  modules/calib3d/src/stereobm.cpp
  modules/calib3d/test/test_stereomatching.cpp
Labels: bug, category: calib3d

#15214 Imgproc: templmatch: Add support for mask for all methods
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/filterengine.hpp
  modules/imgproc/src/templmatch.cpp
  modules/imgproc/test/test_templmatchmask.cpp
Labels: category: imgproc, feature, test

#17299 Important single character fix
  samples/_winpack_build_sample.cmd
Labels: category: samples

#17296 Fixed build with latest Vulkan headers
  modules/dnn/src/vkcom/vulkan/function_list.inl.hpp
Labels: bug, category: build/install, category: dnn

#17294 samples: fix OpenCL events leaks
  samples/opencl/opencl-opencv-interop.cpp
Labels: bug, category: ocl, category: samples

#17304 Compilation fixes for Mac Catalyst
  modules/imgcodecs/CMakeLists.txt
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_ios_abstract_camera.mm
Labels: category: build/install, platform: ios/osx

#17092 imgproc: enable IPP parallel optimization for GaussuanBlur()
  modules/core/include/opencv2/core/private.hpp
  modules/imgproc/CMakeLists.txt
  modules/imgproc/perf/opencl/perf_filters.cpp
  modules/imgproc/src/smooth.dispatch.cpp
Labels: RFC, category: imgproc, optimization

#17313 Revise and expand kNN Python tutorials
  doc/py_tutorials/py_ml/py_knn/py_knn_opencv/py_knn_opencv.markdown
  doc/py_tutorials/py_ml/py_knn/py_knn_understanding/py_knn_understanding.markdown
Labels: category: documentation, category: python bindings

#17297 Increase test threshold for YOLOv3 on OCL FP16
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, test

#17317 ignore a features2d's test dependent on flann when flann module is absent
  modules/features2d/test/test_matchers_algorithmic.cpp
Labels: category: build/install, category: features2d, test

#16575 Support FlowNet2 model
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/caffe/caffe_importer.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/accum_layer.cpp
  modules/dnn/src/layers/correlation_layer.cpp
  modules/dnn/src/layers/flow_warp_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/test/test_layers.cpp
  samples/dnn/optical_flow.py
Labels: category: dnn, feature

#17191 GAPI: utils - variant converting ctor and assignment op. reworked
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/util/type_traits.hpp
  modules/gapi/include/opencv2/gapi/util/variant.hpp
  modules/gapi/test/util/variant_tests.cpp
Labels: category: g-api / gapi

#17339 Add note on Pylint install for make check_pylint
  doc/tutorials/introduction/documenting_opencv/documentation_tutorial.markdown
Labels: category: documentation

#17331 Objdetect: QR decoder: Update 3rd party
  3rdparty/quirc/include/quirc_internal.h
  3rdparty/quirc/src/decode.c
  3rdparty/quirc/src/quirc.c
  3rdparty/quirc/src/version_db.c
Labels: category: 3rdparty, category: objdetect, feature

#17343 Add note on CMake installation with Homebrew
  doc/tutorials/introduction/macos_install/macos_install.markdown
Labels: category: documentation

#17345 build: fix warnings about TARGET_OS_MACCATALYST
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_ios_abstract_camera.mm
Labels: bug, category: build/install, platform: ios/osx

#17295 Flush to zero Convolution denormal weights
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: dnn, optimization

#17349 cuda4dnn: do not create temporary unused handles
  modules/dnn/src/cuda4dnn/csl/cublas.hpp
  modules/dnn/src/cuda4dnn/csl/cudnn/cudnn.hpp
  modules/dnn/src/cuda4dnn/csl/stream.hpp
Labels: category: dnn, category: gpu/cuda (contrib), optimization

#17320 Add eigen tensor conversions
  modules/core/include/opencv2/core/eigen.hpp
  modules/core/test/test_mat.cpp
Labels: category: core, feature, test

#17360 Fix documentation for cv::blur
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: bug, category: documentation, category: imgproc

#17361 Fix documentation for cv::gapi::blur
  modules/gapi/include/opencv2/gapi/imgproc.hpp
Labels: bug, category: documentation, category: g-api / gapi

#17367 GAPI: fix uninitialized variables in Fluid
  modules/gapi/include/opencv2/gapi/fluid/gfluidbuffer.hpp
  modules/gapi/src/backends/fluid/gfluidbuffer_priv.hpp
Labels: category: g-api / gapi

#17332 Fixed NMSBoxes bug
  samples/dnn/object_detection.cpp
  samples/dnn/object_detection.py
Labels: bug, category: dnn

#17374 dnn: *_DENORMALS_ZERO_MODE is defined for SSE3
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: build/install, category: dnn

#17275 fix bug for CHECK bpp issue
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: category: imgcodecs, feature

#17376 (3.4) dnn: *_DENORMALS_ZERO_MODE is defined for SSE3
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: build/install, category: dnn

#17352 Fix integer overflow in parseOption().
  modules/core/src/system.cpp
Labels: bug, category: core

#17377 pkg-config: Drop broken include path
  cmake/templates/opencv-XXX.pc.in
Labels: bug, category: build/install

#17390 Switch ngraph::op::v1::Multiply to v0
  modules/dnn/src/layers/normalize_bbox_layer.cpp
Labels: category: dnn

#17386 Add ClipByValue subgraph
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn

#17388 dnn: update network dump code, include ngraph serialization
  modules/dnn/src/dnn.cpp
  modules/dnn/src/dnn_common.hpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/precomp.hpp
Labels: category: dnn, feature

#17394 Fix segmentation py
  samples/dnn/mask_rcnn.py
  samples/dnn/segmentation.py
Labels: bug, category: dnn, category: samples

#17359 cuda4dnn(concat): fix stream not being set for concat wrappers after fusion
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn, category: gpu/cuda (contrib), optimization

#17406 videoio/MSMF: fixed audio stream handling
  modules/videoio/src/cap_msmf.cpp
Labels: bug, category: videoio, platform: win32

#17410 Command name typo fix for formulas in documentation.
  doc/mymath.sty
Labels: Hackathon, category: documentation

#17416 fixed fillPoly, the overloaded variant with InputArrayOfArrays parameter
  modules/imgproc/src/drawing.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: Hackathon, category: imgproc

#17384 EfficientDet text graph generator
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  samples/dnn/tf_text_graph_common.py
  samples/dnn/tf_text_graph_efficientdet.py
Labels: category: dnn, feature

#17392 dnn(test): add YOLOv4 tests
  modules/dnn/perf/perf_net.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, test

#17371 Fixed NMSBoxes bug in DetectionModel
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/src/model.cpp
Labels: bug, category: dnn

#17338 Create separate section and table of contents for contours articles
  doc/tutorials/imgproc/table_of_content_imgproc.markdown
  doc/tutorials/imgproc/table_of_contents_contours.markdown
Labels: RFC, category: documentation

#17419 chk divide 0 in darknet
  modules/dnn/src/darknet/darknet_io.cpp
Labels: category: dnn

#17428 Generate proper constructor for classes with smart pointer
  modules/features2d/misc/java/test/BruteForceDescriptorMatcherTest.java
  modules/features2d/misc/java/test/FlannBasedDescriptorMatcherTest.java
  modules/java/generator/gen_java.py
Labels: Hackathon, bug, category: java bindings, test

#17403 Fix Test Case: in latest version, window.cv is a promise instance that makes most test case failed.
  modules/js/test/tests.html
Labels: bug, category: javascript (js), test

#17420 Fixed cascadedetect convert from old cascade to new
  modules/objdetect/src/cascadedetect_convert.cpp
Labels: Hackathon, bug, category: apps

#17439 dnn(test): file 'dnn/efficientdet-d0.pb' is optional
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, test
