Repository opencv/opencv, pull requests merged in 2021-08, with the labels that each got.

#20451 Closing brackets missing
  doc/py_tutorials/py_imgproc/py_contours/py_contour_features/py_contour_features.markdown
Labels: category: documentation

#20485 fix: convert arguments names that are keywords reserved by Python
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/gen2.py
  modules/python/test/test_misc.py
Labels: RFC, category: python bindings

#20474 Remove explicit PNet resizes from MTCNN graph
  modules/gapi/samples/face_detection_mtcnn.cpp
Labels: category: g-api / gapi, category: samples

#20487 fix traincascade documentation
  doc/tutorials/objdetect/traincascade.markdown
Labels: category: documentation

#20384 Fix find_package cache pollution
  cmake/OpenCVDetectVTK.cmake
Labels: RFC, category: build/install

#20490 [G-API] Support FP16 input precision for IE backend
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: g-api / gapi, feature

#20480 Add Python's test for LSTM layer
  modules/dnn/misc/python/test/test_dnn.py
Labels: test, category: python bindings, category: dnn

#20507 CMake: fix cross-compilation problems
  modules/highgui/cmake/init.cmake
  modules/videoio/cmake/init.cmake
  platforms/linux/gnu.toolchain.cmake
  platforms/linux/riscv.toolchain.cmake
Labels: bug, category: build/install

#20502 Avoid adding false UMat/GpuMat declaration
  modules/python/src2/hdr_parser.py
Labels: category: python bindings

#20505 add links in python and js contours tutorial
  doc/js_tutorials/js_imgproc/js_contours/js_contour_features/js_contour_features.markdown
  doc/js_tutorials/js_imgproc/js_contours/js_contour_properties/js_contour_properties.markdown
  doc/js_tutorials/js_imgproc/js_contours/js_contours_begin/js_contours_begin.markdown
  doc/js_tutorials/js_imgproc/js_contours/js_contours_hierarchy/js_contours_hierarchy.markdown
  doc/js_tutorials/js_imgproc/js_contours/js_contours_more_functions/js_contours_more_functions.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contour_features/py_contour_features.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contour_properties/py_contour_properties.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contours_begin/py_contours_begin.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contours_hierarchy/py_contours_hierarchy.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contours_more_functions/py_contours_more_functions.markdown
Labels: category: documentation

#20503 Fixed memory access issue in v_rshr_pack_store intrinsic on RISC-V RVV
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
Labels: bug, platform: riscv

#20476 [G-API] Support postprocessing for not argmaxed outputs
  modules/gapi/samples/semantic_segmentation.cpp
Labels: category: g-api / gapi

#20508 [G-API] Expand PyParams to support constInput
  modules/gapi/include/opencv2/gapi/infer/bindings_ie.hpp
  modules/gapi/src/backends/ie/bindings_ie.cpp
Labels: category: python bindings, category: g-api / gapi

#20442 Add initialization and inference for GRU layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn

#20510 G-API: Python. Gaze Estimation sample. Update.
  modules/gapi/misc/python/samples/gaze_estimation.py
Labels: category: python bindings, category: samples, category: g-api / gapi

#20457 Add Quicklook for Mat on iOS and macOS
  modules/imgcodecs/misc/objc/ios/Mat+Converters.h
  modules/imgcodecs/misc/objc/ios/Mat+Converters.mm
  modules/imgcodecs/misc/objc/ios/Mat+QuickLook.h
  modules/imgcodecs/misc/objc/ios/Mat+QuickLook.mm
  modules/imgcodecs/misc/objc/macosx/Mat+QuickLook.h
  modules/imgcodecs/misc/objc/macosx/Mat+QuickLook.mm
Labels: feature, category: imgcodecs, platform: ios/osx, category: swift/objc bindings

#20500 add note about hierarchy in python version
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#20287 Optimization of DNN using native RISC-V vector intrinsics.
  modules/dnn/CMakeLists.txt
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: optimization, GSoC, category: dnn, platform: riscv

#20466 Add Max layer to TF
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: test, feature, category: dnn

#20533 MinAreaRect fix rotating calipers
  modules/imgproc/src/rotcalipers.cpp
  modules/imgproc/test/test_convhull.cpp
Labels: bug, test, category: imgproc

#20536 docs(core/ocl): clarify ownership of arguments passed into OpenCL related functions
  modules/core/include/opencv2/core/ocl.hpp
Labels: category: core, category: documentation, category: ocl

#20515 java: fix MLTest.java
  modules/ml/misc/java/test/MLTest.java
Labels: bug, test, category: ml, category: java bindings

#20529 Fix YUV indexes + YUV Planner detection condition
  modules/videoio/src/cap_android_camera.cpp
Labels: bug, category: videoio(camera), platform: android

#20545 add note about Python's dsize to doc
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#20541 VideoCapture timeout set/get
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_api.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: feature, category: videoio(camera)

#20525 DNN : fix bug in extracting prior-box variances in detection output layer
  modules/dnn/src/layers/detection_output_layer.cpp
Labels: bug, category: dnn

#20506 Support activations (Sigmoid, Tanh) for LSTM
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn

#20549 VideoCapture add open/read timeout params to FFMPEG backend
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: feature, category: videoio

#20460 Improves FLANN's heap allocations by a memory pool
  modules/flann/include/opencv2/flann/heap.h
  modules/flann/include/opencv2/flann/hierarchical_clustering_index.h
  modules/flann/include/opencv2/flann/kdtree_index.h
  modules/flann/include/opencv2/flann/kmeans_index.h
Labels: optimization, category: flann

#20524 Implement ctc prefix beam search decode for TextRecognitionModel.
  doc/tutorials/dnn/dnn_text_spotting/dnn_text_spotting.markdown
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/math_utils.hpp
  modules/dnn/src/model.cpp
  modules/dnn/test/test_model.cpp
Labels: test, feature, category: dnn

#18694 videoio/gstreamer: Add support for GRAY16_LE.
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_gstreamer.cpp
Labels: feature, category: videoio

#20547 Add gdb pretty printer for cv::Mat
  doc/tutorials/introduction/linux_gcc_cmake/linux_gcc_cmake.markdown
  doc/tutorials/introduction/linux_gdb_pretty_printer/images/example.png
  doc/tutorials/introduction/linux_gdb_pretty_printer/linux_gdb_pretty_printer.markdown
  doc/tutorials/introduction/linux_install/linux_install.markdown
  doc/tutorials/introduction/table_of_content_introduction.markdown
  samples/gdb/gdbinit
  samples/gdb/mat_pretty_printer.py
Labels: category: documentation, category: samples

#20483 Support cumsum layer for onnx
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/cumsum_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn

#20546 G-API: oneVPL (simplification) source base commit
  modules/gapi/CMakeLists.txt
  modules/gapi/cmake/init.cmake
  modules/gapi/cmake/standalone.cmake
  modules/gapi/include/opencv2/gapi/streaming/onevpl/onevpl_source.hpp
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/src/streaming/onevpl/onevpl_source.cpp
  modules/gapi/src/streaming/onevpl/onevpl_source_priv.cpp
  modules/gapi/src/streaming/onevpl/onevpl_source_priv.hpp
Labels: category: g-api / gapi

#20528 [G-API] Prohibit setPrecision & preprocessing for importedNetworks
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.cpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.hpp
Labels: category: g-api / gapi

#20228 8-bit quantization in dnn module and int8 layers
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/int8layers/batch_norm_layer.cpp
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/elementwise_layers.cpp
  modules/dnn/src/int8layers/eltwise_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/layers_common.hpp
  modules/dnn/src/int8layers/layers_common.simd.hpp
  modules/dnn/src/int8layers/pooling_layer.cpp
  modules/dnn/src/int8layers/quantize_dequantize_layer.cpp
  modules/dnn/src/int8layers/scale_layer.cpp
  modules/dnn/src/int8layers/softmax_layer.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/shuffle_channel_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/layers/split_layer.cpp
  modules/dnn/test/test_int8_layers.cpp
Labels: feature, GSoC, category: dnn

#20386 Use the one argument version of SetTotalBytesLimit.
  modules/dnn/src/caffe/caffe_io.cpp
Labels: category: build/install, category: dnn, category: 3rdparty

#20572 [G-API] Validate RMat adapter in executor
  modules/gapi/src/executor/gexecutor.cpp
Labels: category: g-api / gapi

#20556 fix Split partial sum
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, test, category: dnn

#20564 Update kalman sample
  samples/cpp/kalman.cpp
  samples/python/kalman.py
Labels: category: samples

#20581 cmake: handle empty CVPY_SUFFIX
  modules/python/common.cmake
Labels: category: python bindings, category: build/install

#20494 fix ONNXImporter diagnostic mode layer registration issue
  apps/model-diagnostics/model_diagnostics.cpp
  modules/dnn/include/opencv2/dnn/layer_reg.private.hpp
  modules/dnn/include/opencv2/dnn/utils/debug_utils.hpp
  modules/dnn/src/debug_utils.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/dnn_common.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn

#20586 dnn(OpenCL): fix top initialization in verifyResult
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
Labels: bug, category: ocl, category: dnn

#20475 Added exposure and gain props, maximized pixel clk
  modules/videoio/src/cap_ueye.cpp
Labels: category: videoio(camera)

#20555 [G-API] Extend compileStreaming to support different overloads
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/misc/python/package/gapi/__init__.py
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_streaming.py
Labels: category: python bindings, category: g-api / gapi

#20593 [G-API] Fix GExecutor WriteBackExec
  modules/gapi/src/executor/gexecutor.cpp
Labels: bug, category: g-api / gapi

#20570 G-API: oneVPL (simplification) Add data adapter & Cfg params
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/streaming/onevpl/cfg_params.hpp
  modules/gapi/include/opencv2/gapi/streaming/onevpl/data_provider_interface.hpp
  modules/gapi/include/opencv2/gapi/streaming/onevpl/onevpl_source.hpp
  modules/gapi/include/opencv2/gapi/streaming/onevpl/source.hpp
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/src/streaming/onevpl/cfg_params.cpp
  modules/gapi/src/streaming/onevpl/data_provider_interface_exception.cpp
  modules/gapi/src/streaming/onevpl/file_data_provider.cpp
  modules/gapi/src/streaming/onevpl/file_data_provider.hpp
  modules/gapi/src/streaming/onevpl/onevpl_source.cpp
  modules/gapi/src/streaming/onevpl/source.cpp
  modules/gapi/src/streaming/onevpl/source_priv.cpp
  modules/gapi/src/streaming/onevpl/source_priv.hpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: feature, category: g-api / gapi

#20584 Fix hough circles alt dimensions
  modules/imgproc/src/hough.cpp
  modules/python/test/test_houghcircles.py
Labels: test, category: python bindings, category: imgproc, RFC

#20597 highgui(win32): avoid using of stalled iterator
  modules/highgui/src/window_w32.cpp
Labels: bug, category: highgui-gui, platform: win32

#20609 Do not use deprecated ReleaseCleared in protobuf library.
  modules/dnn/src/caffe/caffe_importer.cpp
Labels: category: build/install, category: dnn, category: 3rdparty

#20623 java(test): avoid deprecation warning
  modules/java/test/common_test/src/org/opencv/test/utils/ConvertersTest.java
Labels: test, category: build/install, category: java bindings

#20625 build: eliminate build warnings
  modules/features2d/src/kaze/KAZEFeatures.cpp
  modules/photo/src/contrast_preserve.hpp
  modules/superres/src/btv_l1.cpp
  samples/cpp/tutorial_code/TrackingMotion/cornerDetector_Demo.cpp
Labels: category: build/install

#20628 build: eliminate build warnings
  modules/calib3d/src/chessboard.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: build/install

#20633 core(ocl): handle NULL in dumpValue() debug call
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#20622 fix opencv/opencv#20544 nodiscard for msvc/gcc
  cmake/OpenCVCompilerOptions.cmake
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/matx.hpp
Labels: category: core, category: build/install

#20608 Update submap.cpp for loop closure detection in 3d
  modules/3d/include/opencv2/3d/detail/submap.hpp
Labels: GSoC, category: 3d module
