Repository opencv/opencv, pull requests merged in 2021-05, with the labels that each got.

#20018 calib3d: Update documentation of calibrateCamera
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: calib3d, category: documentation

#20019 Stream default to Stream::Null() when no default in function prototype
  modules/python/src2/gen2.py
  modules/python/test/test_cuda.py
Labels: bug, category: gpu/cuda (contrib), category: python bindings

#20033 samples/dnn: better errormsg in openpose.py
  samples/dnn/openpose.py
Labels: category: dnn, category: samples

#20045 Enable QNX build
  CMakeLists.txt
Labels: category: build/install

#20049 Remove static initializers
  modules/flann/include/opencv2/flann/any.h
Labels: category: flann

#20068 Disable auto fusing in ie backend
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: g-api / gapi

#19976 Added PaddlePaddle classification model conversion case
  samples/dnn/dnn_model_runner/dnn_conversion/paddlepaddle/README.md
  samples/dnn/dnn_model_runner/dnn_conversion/paddlepaddle/data/cat.jpg
  samples/dnn/dnn_model_runner/dnn_conversion/paddlepaddle/data/labels.txt
  samples/dnn/dnn_model_runner/dnn_conversion/paddlepaddle/paddle_resnet50.py
  samples/dnn/dnn_model_runner/dnn_conversion/requirements.txt
Labels: category: dnn, category: samples, feature

#20071 Document imwrite depth fallback
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation, category: imgcodecs

#20082 Update requirements and README for PaddlePaddle sample
  samples/dnn/dnn_model_runner/dnn_conversion/paddlepaddle/README.md
  samples/dnn/dnn_model_runner/dnn_conversion/requirements.txt
Labels: category: dnn, category: samples

#20088 cmake: fix handling of CMAKE_MODULE_LINKER_FLAGS
  cmake/OpenCVCompilerOptions.cmake
Labels: bug, category: build/install

#20085 Fix typo in calib3d tutorial code
  samples/cpp/tutorial_code/calib3d/camera_calibration/camera_calibration.cpp
Labels: category: calib3d, category: documentation

#20097 Fix for failing QRCodeDetectorTest.testDetectAndDecodeMulti test
  modules/objdetect/misc/java/test/QRCodeDetectorTest.java
Labels: category: java bindings, category: objdetect, platform: arm, test

#20065 G-API MTCNN demo hotfix to align overall pipeline accuracy with the reference Python code output.
  modules/gapi/samples/face_detection.cpp
Labels: bug, category: g-api / gapi, category: samples

#20106 [G-API] IE backend convert fp32 to fp16
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: g-api / gapi

#20092 Fixes for Swift troubles
  modules/core/misc/objc/common/Point2i.h
  modules/core/misc/objc/common/Rect2i.h
  modules/core/misc/objc/common/Size2i.h
  modules/core/misc/objc/common/Typealiases.swift
  modules/core/misc/objc/gen_dict.json
  platforms/ios/build_framework.py
  platforms/osx/build_framework.py
Labels: category: build/install, category: swift/objc bindings, platform: ios/osx

#20012 fix inliers in solvePnPRansac
  modules/calib3d/src/solvepnp.cpp
  modules/calib3d/src/usac/ransac_solvers.cpp
  modules/calib3d/test/test_usac.cpp
Labels: bug, category: calib3d

#20103 Make div spectrums public
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/phasecorr.cpp
  modules/imgproc/test/test_pc.cpp
Labels: category: imgproc, feature, test

#20123 Use correct BibTeX syntax for month field
  doc/opencv.bib
Labels: bug, category: documentation

#20086 vtk 9.0 autoinit fix
  modules/world/CMakeLists.txt
Labels: category: build/install, category: viz

#19982 G-API: New python operations API
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/misc/python/package/gapi/__init__.py
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/python_bridge.hpp
  modules/gapi/misc/python/test/test_gapi_sample_pipelines.py
  modules/python/common.cmake
  modules/python/package/cv2/__init__.py
  modules/python/package/cv2/_extra_py_code/__init__.py
  modules/python/python_loader.cmake
Labels: category: g-api / gapi, category: python bindings, feature

#19967 Adding functions rbegin() and rend() functions to matrix class.
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/test/test_mat.cpp
Labels: RFC, category: core, feature

#19987 Fix seam finder in stitching_detailed.py
  samples/python/stitching_detailed.py
Labels: category: python bindings, category: samples, category: stitching

#20026 Extract IE version from IE cmake config
  cmake/OpenCVDetectInferenceEngine.cmake
Labels: category: build/install, category: dnn

#20119 Support queue capacity as graph compilation argument
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, feature

#20135 Fix data overflow problem in GaussianBlur
  modules/imgproc/src/smooth.simd.hpp
  modules/imgproc/test/test_smooth_bitexact.cpp
Labels: bug, category: imgproc, optimization, test

#19778 Master riscv 0.7.1
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
  modules/core/src/arithm.simd.hpp
  modules/core/src/system.cpp
  platforms/linux/riscv64-071-gcc.toolchain.cmake
Labels: platform: riscv

#20107 G-API: Add transpose operation
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/src/backends/ocl/goclcore.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
Labels: category: g-api / gapi

#20158 Fix LaTeX (MathJax) script in the docs
  doc/py_tutorials/py_feature2d/py_features_harris/py_features_harris.markdown
  doc/py_tutorials/py_feature2d/py_shi_tomasi/py_shi_tomasi.markdown
  doc/py_tutorials/py_feature2d/py_sift_intro/py_sift_intro.markdown
Labels: category: documentation

#20116 highgui: backends and plugins
  cmake/OpenCVFindLibsGUI.cmake
  cmake/OpenCVMinDepVersions.cmake
  cmake/OpenCVModule.cmake
  cmake/templates/cvconfig.h.in
  modules/CMakeLists.txt
  modules/core/include/opencv2/core/utils/plugin_loader.private.hpp
  modules/highgui/CMakeLists.txt
  modules/highgui/cmake/detect_gtk.cmake
  modules/highgui/cmake/init.cmake
  modules/highgui/cmake/plugin.cmake
  modules/highgui/misc/plugins/build_plugins.sh
  modules/highgui/misc/plugins/plugin_gtk/CMakeLists.txt
  modules/highgui/misc/plugins/plugin_gtk/Dockerfile-ubuntu-gtk2
  modules/highgui/misc/plugins/plugin_gtk/Dockerfile-ubuntu-gtk3
  modules/highgui/misc/plugins/plugin_gtk/build.sh
  modules/highgui/src/backend.cpp
  modules/highgui/src/backend.hpp
  modules/highgui/src/factory.hpp
  modules/highgui/src/plugin_api.hpp
  modules/highgui/src/plugin_wrapper.impl.hpp
  modules/highgui/src/precomp.hpp
  modules/highgui/src/registry.hpp
  modules/highgui/src/registry.impl.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_QT.h
  modules/highgui/src/window_gtk.cpp
  modules/highgui/test/test_gui.cpp
Labels: category: build/install, category: highgui-gui, feature

#20164 highgui: fix config verification for GTK
  modules/highgui/cmake/detect_gtk.cmake
Labels: category: build/install, category: highgui-gui

#20155 Add streaming queue capacity option choice to MTCNN G-API sample
  modules/gapi/samples/face_detection_mtcnn.cpp
Labels: category: g-api / gapi, category: samples

#20173 videoio(test): bailout from VP9 tests if first frame can't be read
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, test

#20172 core(OpenCL): avoid limit of Image kernel args
  modules/core/src/ocl.cpp
  modules/core/test/ocl/test_opencl.cpp
Labels: bug, category: core, category: ocl

#20174 highgui: fix trackbar value pointer handling
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_winrt_bridge.cpp
Labels: bug, category: highgui-gui

#19883 Add Neon optimised RGB2Lab conversion
  modules/imgproc/src/color_lab.cpp
Labels: RFC, optimization, platform: arm

#20102 Add missing sqrt to magSpectrum().
  modules/imgproc/src/phasecorr.cpp
Labels: bug, category: imgproc

#20170 Handle minDiversity in Grayscale MSER
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/mser.cpp
  modules/features2d/test/test_mser.cpp
  modules/python/test/test_mser.py
Labels: category: features2d, feature

#20054 Fix Robertson Calibration NaN Bug
  modules/photo/src/merge.cpp
  modules/photo/test/test_hdr.cpp
Labels: category: photo, test

#20182 Fix RVV toolchain conflicts.
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  platforms/linux/riscv64-071-gcc.toolchain.cmake
Labels: GSoC, category: build/install, platform: riscv

#20036 Tracking API: added DaSiamRPN tracker
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/misc/python/pyopencv_video.hpp
  modules/video/src/tracking/tracker_dasiamrpn.cpp
  modules/video/test/test_trackers.cpp
  samples/dnn/CMakeLists.txt
  samples/dnn/dasiamrpn_tracker.cpp
  samples/dnn/dasiamrpn_tracker.py
  samples/python/tracker.py
Labels: category: tracking, feature
