Repository opencv/opencv, pull requests merged in 2021-03, with the labels that each got.

#19460 videoio: HW decode/encode in FFMPEG backend; new properties with support in FFMPEG/GST/MSMF
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/backend_static.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_ffmpeg_hw.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/precomp.hpp
  modules/videoio/test/test_precomp.hpp
  modules/videoio/test/test_video_io.cpp
  samples/tapi/video_acceleration.cpp
Labels: category: ocl, category: videoio, feature, optimization

#19322 [G-API] Introduce cv.gin/cv.descr_of for python
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/garg.hpp
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gcomputation.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/gproto.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/infer/parsers.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/python_bridge.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
  modules/gapi/misc/python/test/test_gapi_imgproc.py
  modules/gapi/misc/python/test/test_gapi_infer.py
  modules/gapi/misc/python/test/test_gapi_streaming.py
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/api/gcomputation_priv.hpp
  modules/gapi/src/api/grunarg.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/compiler/gcompiled_priv.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gstreaming.cpp
  modules/gapi/test/gapi_gcomputation_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
  modules/python/src2/cv2.cpp
Labels: category: g-api / gapi, category: python bindings

#19651 relative to https://forum.opencv.org/t/cv2-findtransformecc-sometimes…
  modules/video/include/opencv2/video/tracking.hpp
Labels: category: python bindings, category: video

#19658 3rdparty: update libwebp 1.1.0 => 1.2.0
  3rdparty/libwebp/src/dec/io_dec.c
  3rdparty/libwebp/src/dec/vp8_dec.c
  3rdparty/libwebp/src/dec/vp8i_dec.h
  3rdparty/libwebp/src/dec/vp8l_dec.c
  3rdparty/libwebp/src/demux/anim_decode.c
  3rdparty/libwebp/src/demux/demux.c
  3rdparty/libwebp/src/dsp/alpha_processing.c
  3rdparty/libwebp/src/dsp/alpha_processing_sse2.c
  3rdparty/libwebp/src/dsp/cpu.c
  3rdparty/libwebp/src/dsp/dec_neon.c
  3rdparty/libwebp/src/dsp/dsp.h
  3rdparty/libwebp/src/dsp/lossless.c
  3rdparty/libwebp/src/dsp/lossless.h
  3rdparty/libwebp/src/dsp/lossless_common.h
  3rdparty/libwebp/src/dsp/lossless_enc.c
  3rdparty/libwebp/src/dsp/lossless_enc_sse2.c
  3rdparty/libwebp/src/enc/analysis_enc.c
  3rdparty/libwebp/src/enc/backward_references_enc.c
  3rdparty/libwebp/src/enc/backward_references_enc.h
  3rdparty/libwebp/src/enc/config_enc.c
  3rdparty/libwebp/src/enc/frame_enc.c
  3rdparty/libwebp/src/enc/histogram_enc.c
  3rdparty/libwebp/src/enc/picture_csp_enc.c
  3rdparty/libwebp/src/enc/picture_tools_enc.c
  3rdparty/libwebp/src/enc/vp8i_enc.h
  3rdparty/libwebp/src/enc/vp8l_enc.c
  3rdparty/libwebp/src/enc/vp8li_enc.h
  3rdparty/libwebp/src/enc/webp_enc.c
  3rdparty/libwebp/src/mux/muxi.h
  3rdparty/libwebp/src/mux/muxread.c
  3rdparty/libwebp/src/utils/utils.c
  3rdparty/libwebp/src/webp/decode.h
  3rdparty/libwebp/src/webp/encode.h
Labels: category: 3rdparty, category: imgcodecs

#19659 3rdparty: update libtiff 4.1.0 => 4.2.0
  3rdparty/libtiff/CMakeLists.txt
  3rdparty/libtiff/ChangeLog
  3rdparty/libtiff/libport.h
  3rdparty/libtiff/tif_aux.c
  3rdparty/libtiff/tif_compress.c
  3rdparty/libtiff/tif_dir.c
  3rdparty/libtiff/tif_dir.h
  3rdparty/libtiff/tif_dirinfo.c
  3rdparty/libtiff/tif_dirread.c
  3rdparty/libtiff/tif_dirwrite.c
  3rdparty/libtiff/tif_fax3.c
  3rdparty/libtiff/tif_fax3.h
  3rdparty/libtiff/tif_fax3sm.c
  3rdparty/libtiff/tif_flush.c
  3rdparty/libtiff/tif_getimage.c
  3rdparty/libtiff/tif_jbig.c
  3rdparty/libtiff/tif_jpeg.c
  3rdparty/libtiff/tif_luv.c
  3rdparty/libtiff/tif_lzma.c
  3rdparty/libtiff/tif_lzw.c
  3rdparty/libtiff/tif_ojpeg.c
  3rdparty/libtiff/tif_open.c
  3rdparty/libtiff/tif_pixarlog.c
  3rdparty/libtiff/tif_predict.c
  3rdparty/libtiff/tif_print.c
  3rdparty/libtiff/tif_read.c
  3rdparty/libtiff/tif_strip.c
  3rdparty/libtiff/tif_thunder.c
  3rdparty/libtiff/tif_tile.c
  3rdparty/libtiff/tif_unix.c
  3rdparty/libtiff/tif_webp.c
  3rdparty/libtiff/tif_win32.c
  3rdparty/libtiff/tif_write.c
  3rdparty/libtiff/tif_zip.c
  3rdparty/libtiff/tif_zstd.c
  3rdparty/libtiff/tiff.h
  3rdparty/libtiff/tiffconf.h.cmake.in
  3rdparty/libtiff/tiffio.h
  3rdparty/libtiff/tiffiop.h
  3rdparty/libtiff/tiffvers.h
Labels: category: 3rdparty, category: imgcodecs

#19660 3rdparty: update openjpeg 2.3.1 => 2.4.0
  3rdparty/openjpeg/CHANGELOG.md
  3rdparty/openjpeg/CMakeLists.txt
  3rdparty/openjpeg/openjp2/CMakeLists.txt
  3rdparty/openjpeg/openjp2/dwt.c
  3rdparty/openjpeg/openjp2/dwt.h
  3rdparty/openjpeg/openjp2/j2k.c
  3rdparty/openjpeg/openjp2/j2k.h
  3rdparty/openjpeg/openjp2/jp2.c
  3rdparty/openjpeg/openjp2/jp2.h
  3rdparty/openjpeg/openjp2/libopenjp2.pc.cmake.in
  3rdparty/openjpeg/openjp2/mct.c
  3rdparty/openjpeg/openjp2/mct.h
  3rdparty/openjpeg/openjp2/mqc.c
  3rdparty/openjpeg/openjp2/mqc.h
  3rdparty/openjpeg/openjp2/mqc_inl.h
  3rdparty/openjpeg/openjp2/openjpeg.c
  3rdparty/openjpeg/openjp2/openjpeg.h
  3rdparty/openjpeg/openjp2/opj_codec.h
  3rdparty/openjpeg/openjp2/opj_common.h
  3rdparty/openjpeg/openjp2/opj_intmath.h
  3rdparty/openjpeg/openjp2/pi.c
  3rdparty/openjpeg/openjp2/pi.h
  3rdparty/openjpeg/openjp2/t1.c
  3rdparty/openjpeg/openjp2/t1.h
  3rdparty/openjpeg/openjp2/t2.c
  3rdparty/openjpeg/openjp2/t2.h
  3rdparty/openjpeg/openjp2/tcd.c
  3rdparty/openjpeg/openjp2/tcd.h
Labels: category: 3rdparty, category: imgcodecs

#19663 videoio: av_frame_unref compilation fix
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: build/install, category: videoio

#19661 (3.4) videoio: ffmpeg fixes
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: build/install, category: videoio

#19606 (4.x) reduce binaries size of FFmpeg Windows wrapper
  modules/core/CMakeLists.txt
  modules/core/src/arithm.cpp
  modules/core/src/array.cpp
  modules/core/src/convert_c.cpp
  modules/core/src/convert_scale.dispatch.cpp
  modules/core/src/copy.cpp
  modules/core/src/datastructs.cpp
  modules/core/src/dxt.cpp
  modules/core/src/lapack.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/matmul.dispatch.cpp
  modules/core/src/matrix_c.cpp
  modules/core/src/matrix_operations.cpp
  modules/core/src/matrix_transform.cpp
  modules/core/src/matrix_wrap.cpp
  modules/core/src/norm.cpp
  modules/core/src/rand.cpp
  modules/core/src/stat_c.cpp
  modules/core/src/umatrix.cpp
Labels: RFC, category: build/install, category: core, port/backport done

#19667 videoio(ffmpeg): fix VIDEO_ACCELERATION_ANY handling
  modules/videoio/src/cap_ffmpeg_hw.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: videoio

#19665 ffmpeg/3.4: update FFmpeg wrapper 2021.03
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: affected: 3.4, category: 3rdparty, category: videoio, platform: win32

#19666 ffmpeg/4.x: update FFmpeg wrapper 2021.03
  3rdparty/ffmpeg/ffmpeg.cmake
  modules/videoio/test/test_video_io.cpp
Labels: category: 3rdparty, category: videoio, platform: win32

#19539 Added CALIB_FIX_FOCAL_LENGTH to fisheye calibration
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: category: calib3d, feature, test

#19607 (3.4) backport 19606
  modules/core/CMakeLists.txt
  modules/core/src/arithm.cpp
  modules/core/src/array.cpp
  modules/core/src/convert_c.cpp
  modules/core/src/convert_scale.dispatch.cpp
  modules/core/src/copy.cpp
  modules/core/src/datastructs.cpp
  modules/core/src/dxt.cpp
  modules/core/src/lapack.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/matmul.dispatch.cpp
  modules/core/src/matrix_c.cpp
  modules/core/src/matrix_operations.cpp
  modules/core/src/matrix_transform.cpp
  modules/core/src/matrix_wrap.cpp
  modules/core/src/norm.cpp
  modules/core/src/persistence_c.cpp
  modules/core/src/rand.cpp
  modules/core/src/stat_c.cpp
  modules/core/src/umatrix.cpp
Labels: category: build/install, category: core, port/backport done

#19674 Determine layout
  modules/dnn/src/ie_ngraph.cpp
Labels: bug, category: dnn

#19668 getCacheDirectory binding for Python
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/core/src/bindings_utils.cpp
  modules/python/test/test_fs_cache_dir.py
Labels: category: python bindings, test

#19677 QR code: fix false positive detection
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#19655 EXR alpha support for 4 channel reading and writing
  modules/imgcodecs/src/grfmt_exr.cpp
  modules/imgcodecs/src/grfmt_exr.hpp
  modules/imgcodecs/test/test_exr.impl.hpp
Labels: category: imgcodecs, feature

#19583 Update polynom_solver.cpp
  modules/calib3d/src/polynom_solver.cpp
  modules/core/include/opencv2/core/base.hpp
Labels: bug, category: calib3d

#19595 Clean up C API
  modules/core/include/opencv2/core/core_c.h
  modules/core/src/arithm.cpp
  modules/core/src/array.cpp
  modules/core/src/copy.cpp
  modules/core/src/kmeans.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/matrix_c.cpp
  modules/core/src/parallel.cpp
  modules/core/src/system.cpp
  modules/core/test/test_math.cpp
  modules/imgproc/include/opencv2/imgproc/imgproc_c.h
  modules/imgproc/src/canny.cpp
  modules/imgproc/src/convhull.cpp
  modules/imgproc/src/corner.cpp
  modules/imgproc/src/deriv.cpp
  modules/imgproc/src/drawing.cpp
  modules/imgproc/src/featureselect.cpp
  modules/imgproc/src/histogram.cpp
  modules/imgproc/src/hough.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/pyramids.cpp
  modules/imgproc/src/segmentation.cpp
  modules/imgproc/src/thresh.cpp
  modules/imgproc/src/utils.cpp
  modules/ts/src/ts.cpp
  modules/videoio/include/opencv2/videoio/videoio_c.h
  modules/videoio/src/videoio_c.cpp
Labels: category: core, category: imgproc, category: videoio

#19565 Local objects optimization in calibration init
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/src/checkchessboard.cpp
  modules/calib3d/src/circlesgrid.cpp
  modules/core/src/system.cpp
  modules/imgproc/src/subdivision2d.cpp
Labels: category: calib3d

#19671 dnn : Added Spatial Attention Module in Darknet Importer
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, feature

#19680 cmake: update Python linters handling
  CMakeLists.txt
  cmake/FindPylint.cmake
  cmake/OpenCVPylint.cmake
Labels: category: build/install, category: python bindings, category: samples

#19641 Aligned TF Reshape layer behaviour
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn

#19622 Updated cpp reference implementations for a few intrinsics
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
Labels: category: core

#19687 videoio(docs): fixes
  doc/tutorials/videoio/video-write/video_write.markdown
  modules/videoio/doc/videoio_overview.markdown
  modules/videoio/include/opencv2/videoio.hpp
  samples/cpp/videocapture_gstreamer_pipeline.cpp
Labels: category: documentation, category: videoio

#19685 Init params (StereoBMParams) in StereoBMImpl constructor initialization list
  modules/calib3d/src/stereobm.cpp
Labels: category: calib3d

#19675 Removed unused variables found by pylint
  samples/dnn/virtual_try_on.py
Labels: category: python bindings, category: samples

#19688 videoio(doc): add 'videoio_hwaccel' group
  doc/tutorials/app/video_write.markdown
  modules/videoio/doc/videoio_overview.markdown
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/include/opencv2/videoio/doc/hwaccel.doc.hpp
  samples/cpp/videocapture_gstreamer_pipeline.cpp
Labels: category: documentation, category: videoio

#19690 fix camera_calibration sample for fisheye
  samples/cpp/tutorial_code/calib3d/camera_calibration/camera_calibration.cpp
Labels: bug, category: calib3d, category: documentation, category: samples

#19619 get and set cameras on stitcher
  modules/stitching/include/opencv2/stitching.hpp
  modules/stitching/src/stitcher.cpp
  modules/stitching/test/test_stitcher.cpp
Labels: category: stitching, feature

#18240 [G-API]: Adding reshape for CNN input.
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#19542 [G-API]: Performance tests for BackgroundSubtractor
  modules/gapi/perf/common/gapi_video_perf_tests.hpp
  modules/gapi/perf/common/gapi_video_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_video_perf_tests_cpu.cpp
  modules/gapi/test/common/gapi_video_tests_common.hpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
  modules/gapi/test/cpu/gapi_video_tests_cpu.cpp
Labels: category: g-api / gapi, test

#19613 boost NMS performance
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/nms.inl.hpp
Labels: category: dnn, optimization

#19222 cuda4dnn: fix version check diagnostic
  modules/dnn/src/cuda4dnn/init.hpp
  modules/dnn/src/dnn.cpp
Labels: category: dnn, category: gpu/cuda (contrib)

#19703 Init params (StereoSGBMParams) in StereoSGBMImpl constructor init list
  modules/calib3d/src/stereosgbm.cpp
Labels: category: calib3d

#19253 Unexpected exception in solvePnPRansac caused by input points
  modules/calib3d/src/solvepnp.cpp
  modules/calib3d/test/test_solvepnp_ransac.cpp
Labels: RFC, category: calib3d

#19683 add noexcept to default constructor for: Mat, UMat, Mat_, MatSize, MatStep
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/src/matrix.cpp
  modules/core/src/umatrix.cpp
Labels: category: core

#19715 core:ppc64 fix detecting CPU features when optimization is off
  modules/core/src/system.cpp
Labels: bug, category: build/install, category: core, platform: ppc (PowerPC)

#19707 Upstream fixes from release
  modules/gapi/include/opencv2/gapi/media.hpp
  modules/gapi/src/api/media.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: g-api / gapi

#19716 Added ngraph::op::v4::Interpolation
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
Labels: category: dnn, feature

#19718 (3.4) noexcept def construct Mat, UMat, Mat_, MatSize, MatStep
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/src/matrix.cpp
  modules/core/src/umatrix.cpp
Labels: category: core, port/backport done

#19720 core(ocl): skip SPIR test on AMD devices if problem detected
  modules/core/test/ocl/test_opencl.cpp
Labels: category: core, category: ocl, test

#19284 Add QRCodeDetector to JavaScript Build
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  modules/js/generator/embindgen.py
  modules/js/test/test_objdetect.js
  platforms/js/build_js.py
  platforms/js/opencv_js.config.py
Labels: category: javascript (js), feature

#19739 valgrind: filter out hardware-accelerated videoio tests
  modules/ts/misc/run_long.py
Labels: category: infrastructure, category: videoio, test

#19741 ml: use OpenCV license header for logistic regression
  modules/ml/src/lr.cpp
  modules/ml/test/test_lr.cpp
  samples/cpp/logistic_regression.cpp
Labels: category: ml

#19738 [G-API] Fix blocking desc usage
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: bug, category: g-api / gapi

#19310 [G-API] Support generic infer overloads
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/src/api/ginfer.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#19745 features2d(MSER): chi_table.h notes
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/mser.cpp
Labels: category: features2d

#19747 core(parallel): fix plugins handling if no filesystem available
  modules/core/CMakeLists.txt
  modules/core/src/parallel/parallel.cpp
  modules/core/src/parallel/registry_parallel.impl.hpp
Labels: bug, category: core

#19632 Added OpenVINO ARM target
  modules/dnn/include/opencv2/dnn/utils/inference_engine.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#19757 JavaScript: support setLogLevel() / getLogLevel() calls
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/js/generator/CMakeLists.txt
  platforms/js/opencv_js.config.py
Labels: category: javascript (js), feature

#19477 Added TF add behaviour alignment
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#19765 Corrected DNN elementwise multiplication
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#19325 [G-API] Added Y, UV accessors for cv::MediaFrame
  modules/gapi/include/opencv2/gapi/streaming/format.hpp
  modules/gapi/src/api/kernels_streaming.cpp
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, feature

#19762 Solve Issue 19761
  samples/python/stitching_detailed.py
Labels: category: python bindings, category: samples, category: stitching

#19731 G-API: Basic frame drop functionality
  modules/gapi/include/opencv2/gapi/streaming/sync.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.hpp
  modules/gapi/test/streaming/gapi_streaming_sync_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, feature

#19770 dnn: use OpenVINO 2021.3 defines
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: build/install, category: dnn

#19318 [G-API] Python ROI generic inference
  modules/gapi/include/opencv2/gapi/infer.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/python_bridge.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
  modules/gapi/misc/python/test/test_gapi_infer.py
Labels: category: g-api / gapi, category: python bindings

#19774 Introduce relaxed accuracy thresholds for CL target in some dnn tests.
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: category: dnn, category: ocl, test

#19783 Performance optimization in DirectX and VAAPI interop
  modules/core/src/directx.cpp
  modules/core/src/opencl/cvtclr_dx.cl
  modules/core/src/va_intel.cpp
Labels: category: core, category: ocl, optimization

#19784 G-API(build): eliminate Win32 build warning
  modules/gapi/test/streaming/gapi_streaming_sync_tests.cpp
Labels: bug, category: build/install, category: g-api / gapi, platform: win32

#19782 [G-API] Support RMat for PlaidML backend
  modules/gapi/src/backends/plaidml/gplaidmlbackend.cpp
Labels: category: g-api / gapi

#19712 [G-API]: Performance tests for KalmanFilter
  modules/gapi/perf/common/gapi_video_perf_tests.hpp
  modules/gapi/perf/common/gapi_video_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_video_perf_tests_cpu.cpp
  modules/gapi/src/backends/cpu/gcpuvideo.cpp
  modules/gapi/test/common/gapi_video_tests_common.hpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
Labels: category: g-api / gapi, test

#19546 Added Steps support in DNN Slice layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#19785 dnn(OpenCL): fix gemm kernel scheduling
  modules/dnn/src/ocl4dnn/src/math_functions.cpp
Labels: bug, category: dnn, category: ocl

#19773 [hal][neon] Optimise v_expand for AArch64
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
Labels: optimization, platform: arm

#19786 Build OpenCV winpack with DLDT 2021.3.0
  platforms/winpack_dldt/2021.3/20200604-dldt-disable-multidevice.patch
  platforms/winpack_dldt/2021.3/20210324-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2021.3/20210324-dldt-pdb.patch
  platforms/winpack_dldt/2021.3/20210324-dldt-vs-version.patch
  platforms/winpack_dldt/2021.3/build.config.py
  platforms/winpack_dldt/2021.3/patch.config.py
  platforms/winpack_dldt/2021.3/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: dnn, platform: win32

#19793 Relax accuracy requirement on OpenCL MinEigenVal corner kernel test.
  modules/imgproc/test/ocl/test_imgproc.cpp
Labels: category: imgproc, category: ocl, test

#19693 ONNX diagnostic tool corrections
  apps/CMakeLists.txt
  apps/model-diagnostics/CMakeLists.txt
  apps/model-diagnostics/model_diagnostics.cpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/include/opencv2/dnn/layer_reg.private.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: apps, category: dnn, feature

#19802 G-API: Fixed valgrind warnings in accessors tests
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, test

#19792 G-API: IE. Adding support for INT32 type.
  modules/gapi/samples/semantic_segmentation.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: g-api / gapi, test

#19351 [G-API] Python backend
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/python/python.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_sample_pipelines.py
  modules/gapi/misc/python/test/test_gapi_streaming.py
  modules/gapi/src/backends/python/gpythonbackend.cpp
  modules/python/src2/cv2.cpp
Labels: category: g-api / gapi, category: python bindings

#19223 cuda4dnn(resize): add alignCorners and halfPixelCenters params to NN and bilinear resize
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda/resize.cu
  modules/dnn/src/cuda4dnn/kernels/resize.hpp
  modules/dnn/src/cuda4dnn/primitives/resize.hpp
  modules/dnn/src/layers/resize_layer.cpp
Labels: category: dnn, category: gpu/cuda (contrib), feature

#18952 Updated UI documentation to address WUI
  doc/Doxyfile.in
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/src/matrix_transform.cpp
  modules/core/test/test_intrin_utils.hpp
  modules/dnn/src/layers/convolution_layer.cpp
Labels: category: core, category: documentation

#19806 G-API: Fixed Y access in BGR accessor test, added more instantiations
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi, test

#19804 [G-API] Introduce custom python operator API
  modules/gapi/include/opencv2/gapi/garray.hpp
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gopaque.hpp
  modules/gapi/include/opencv2/gapi/gscalar.hpp
  modules/gapi/include/opencv2/gapi/own/exports.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/python_bridge.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_sample_pipelines.py
  modules/gapi/src/backends/python/gpythonbackend.cpp
  modules/python/src2/cv2.cpp
  modules/python/src2/hdr_parser.py
Labels: category: g-api / gapi, category: python bindings, feature

#19752 G-API: ONNX. Adding INT64-32 conversion for output.
  modules/gapi/src/backends/common/gbackend.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
Labels: category: g-api / gapi, test

#19798 Added reduce sum by channel support
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#19809 videoio(avfoundation): add getCaptureDomain()
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
Labels: category: videoio, platform: ios/osx

#18903 G-API: ONNX. Disable unnecessary outputs
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
Labels: category: g-api / gapi, feature, test

#19732 G-API Stereo operation and tests
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/cpu/stereo.hpp
  modules/gapi/include/opencv2/gapi/stereo.hpp
  modules/gapi/src/api/kernels_stereo.cpp
  modules/gapi/src/backends/cpu/gcpustereo.cpp
  modules/gapi/test/common/gapi_stereo_tests.cpp
  modules/gapi/test/common/gapi_stereo_tests.hpp
  modules/gapi/test/common/gapi_stereo_tests_inl.hpp
  modules/gapi/test/cpu/gapi_stereo_tests_cpu.cpp
Labels: category: g-api / gapi

#19815 [G-API]: Fix kernel's input conversion bug
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
Labels: bug, category: g-api / gapi

#19808 python: fix CV_WRAP_AS handling
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
  modules/python/src2/pycompat.hpp
Labels: bug, category: python bindings

#19811 core(arithm_op): workaround problem with scalars handling
  modules/core/src/arithm.cpp
  modules/core/test/test_operations.cpp
Labels: bug, category: core

#19812 videoio(mjpeg): disable parallel encoder
  modules/videoio/src/cap_mjpeg_encoder.cpp
Labels: bug, category: videoio

#19813 core(IPP): disable some ippsMagnitude_32f calls
  modules/core/src/mathfuncs_core.dispatch.cpp
  modules/core/test/test_arithm.cpp
Labels: bug, category: core, optimization

#19814 python: exception-free pyopencv_to() wrapper
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
Labels: bug, category: python bindings
