Repository opencv/opencv, pull requests merged in 2021-10, with the labels that each got.

#20791 G-API: Fix bugs with dangling frames
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: bug, category: g-api / gapi

#20793 imgproc: suppress GaussianBlur to generate empty images
  modules/cudafilters/test/test_filters.cpp
  modules/imgproc/src/smooth.simd.hpp
  modules/imgproc/test/test_smooth_bitexact.cpp
Labels: bug, optimization, category: imgproc

#20794 dnn(OpenCL): fix conv DWCONV workgroup
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
  modules/dnn/src/opencl/conv_layer_spatial.cl
Labels: bug, category: ocl, category: dnn

#20795 Automatically set the correct OpenCV version in build.gradle
  modules/java/android_sdk/build.gradle.in
Labels: category: build/install, platform: android

#20796 Fix gst_initializer
  modules/videoio/src/cap_gstreamer.cpp
Labels: bug, category: videoio

#20797 Restore LineSegmentDetector
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/lsd.cpp
  modules/imgproc/test/test_lsd.cpp
  samples/cpp/lsd_lines.cpp
Labels: category: imgproc

#20800 dnn : fix illegal memory access in int8 convolution
  modules/dnn/src/int8layers/convolution_layer.cpp
Labels: bug, category: dnn

#20772 remove redundant semicolons
  modules/gapi/include/opencv2/gapi/own/types.hpp
Labels: category: g-api / gapi

#20702 Add ExpandDims layer of tf_importer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: feature, category: dnn

#20183 improve compatibility for qt 6.
  CMakeLists.txt
  cmake/OpenCVDetectVTK.cmake
  cmake/OpenCVFindLibsGUI.cmake
  modules/highgui/CMakeLists.txt
  modules/highgui/src/window_QT.cpp
Labels: category: highgui-gui, category: build/install

#20743 Prefix global javascript functions with sub-namespaces
  modules/js/generator/CMakeLists.txt
  modules/js/generator/embindgen.py
  platforms/js/opencv_js.config.py
Labels: bug, category: javascript (js)

#20535 dnn : int8 quantized layers support in onnx importer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/int8layers/quantization_utils.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_int8_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, GSoC, category: dnn

#20291 speech recognition sample
  samples/dnn/speech_recognition.py
Labels: feature, category: samples, GSoC, category: dnn

#20803 core(parallel): suppress TSAN warning
  modules/core/src/parallel_impl.cpp
Labels: category: core

#20782 cuda4dnn(eltwise): tensor broadcasting
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/kernel_dispatcher.hpp
  modules/dnn/src/cuda4dnn/kernels/eltwise_ops.hpp
  modules/dnn/src/dnn.cpp
Labels: feature, category: gpu/cuda (contrib), category: dnn

#20771 G-API: Add more parameters to render fixture
  modules/gapi/test/common/gapi_tests_helpers.hpp
Labels: feature, category: g-api / gapi

#20808 ffmpeg/3.4: update FFmpeg wrapper 2021.10
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: videoio, affected: 3.4, platform: win32, category: 3rdparty

#20811 ffmpeg/4.x: update FFmpeg wrapper 2021.10
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: videoio, platform: win32, category: 3rdparty

#20521 Make the implementation of optimization in DNN adjustable to different vector sizes with RVV intrinsics.
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: optimization, GSoC, category: dnn, platform: riscv

#20731 Add matrix multiplication to Mat for iOS/Android
  modules/core/misc/java/src/java/core+Mat.java
  modules/core/misc/java/src/java/core+MatMatMul.kt
  modules/core/misc/java/test/MatTest.java
  modules/core/misc/objc/common/Mat.h
  modules/core/misc/objc/common/Mat.mm
  modules/core/misc/objc/common/MatExt.swift
  modules/core/misc/objc/test/MatTest.swift
  modules/java/generator/src/cpp/Mat.cpp
Labels: category: core, category: java bindings, platform: ios/osx

#20802 core(TLS): force TlsAbstraction initialization before main()
  modules/core/src/system.cpp
Labels: category: core

#20814 dnn(pytest/test_input_3d): reload model between switching targets
  modules/dnn/misc/python/test/test_dnn.py
Labels: test, category: dnn

#20815 features2d: repair SimpleBlobDetector
  modules/features2d/src/blobdetector.cpp
  modules/features2d/test/test_blobdetector.cpp
Labels: bug, category: features2d

#20817 Fix build on older Xcode versions
  modules/imgcodecs/misc/objc/ios/Mat+QuickLook.mm
  modules/imgcodecs/misc/objc/macosx/Mat+QuickLook.mm
Labels: category: build/install, platform: ios/osx

#20976 python: properly handle step for multichannel case
  modules/core/src/matrix.cpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, test, category: python bindings

#20980 (3.4) highgui: drop invalid cvGetWindowImageRect
  modules/highgui/include/opencv2/highgui/highgui_c.h
  modules/highgui/src/window.cpp
Labels: bug, port/backport done, category: highgui-gui, category: build/install

#20982 (4.x) highgui: drop invalid cvGetWindowImageRect
  modules/highgui/include/opencv2/highgui/highgui_c.h
  modules/highgui/src/window.cpp
Labels: bug, category: highgui-gui, category: build/install
