Repository opencv/opencv, pull requests merged in 2021-02, with the labels that each got.

#19419 Fix error in documentation for RGB->HSV convertion
  modules/imgproc/doc/colors.markdown
Labels: category: documentation

#19423 Return accumulator value in HoughLines algorithm
  modules/imgproc/include/opencv2/imgproc/bindings.hpp
  modules/imgproc/misc/objc/gen_dict.json
  modules/python/test/test_houghlines.py
Labels: category: imgproc, category: python bindings, feature

#19443 Guard non-free usage in stitching as contrib can be built without it
  modules/stitching/test/test_matchers.cpp
Labels: category: stitching, test

#19447 cmake: workaround oneTBB build issues with MSVC
  cmake/OpenCVDetectTBB.cmake
Labels: bug, category: 3rdparty, category: build/install, platform: win32

#19435 Added ONNX NormalizeL2 subgraph
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#19286 add cuda::Stream constructor with cuda stream flags
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/src/cuda_stream.cpp
  modules/core/test/test_cuda.cpp
  modules/python/test/test_cuda.py
Labels: category: gpu/cuda (contrib), feature

#19408 highgui: expose VSYNC window property for OpenGL on W32
  modules/highgui/include/opencv2/highgui.hpp
  modules/highgui/src/precomp.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_w32.cpp
Labels: category: highgui-gui, feature, platform: win32

#19440 python: also catch general c++ exceptions
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, category: python bindings

#19449 DNN: Add LeakyReLU to TensorFlow Importer
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn, feature

#19428 DNN: rename clamp() => normalize_axis()
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn

#19456 cmake(TBB): fix target_compile_definitions() with "UNKNOWN" target
  cmake/OpenCVDetectTBB.cmake
Labels: bug, category: 3rdparty, category: build/install

#18466 GAPI: SIMD optimization for AddWeighted kernel.
  modules/gapi/src/backends/fluid/gfluidcore.cpp
Labels: category: g-api / gapi, optimization

#19451 cmake: workaround oneAPI problem with -DMKL_WITH_TBB=ON
  cmake/OpenCVFindLAPACK.cmake
  cmake/OpenCVFindMKL.cmake
Labels: category: 3rdparty, category: build/install, platform: win32

#19411 pollKey implementation for w32 backend of highgui
  modules/highgui/include/opencv2/highgui.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_cocoa.mm
  modules/highgui/src/window_gtk.cpp
  modules/highgui/src/window_w32.cpp
  modules/highgui/src/window_winrt.cpp
Labels: category: highgui-gui, feature, platform: win32

#19259 Minimal implementation of GpuMatND
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/include/opencv2/core/cuda.inl.hpp
  modules/core/src/cuda/gpu_mat_nd.cu
  modules/core/src/cuda_gpu_mat_nd.cpp
Labels: category: gpu/cuda (contrib), feature

#19407 QRCodeDetector::decodeMulti() fixed invalid usage fixedType()
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: bug, category: objdetect

#19466 core(cuda.hpp): fix GpuMatND compilation with GCC < 5
  modules/core/include/opencv2/core/cuda.hpp
Labels: bug, category: build/install, category: core, category: gpu/cuda (contrib)

#19467 highgui(pollKey): properly handle no-GUI case
  modules/highgui/src/window.cpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_cocoa.mm
  modules/highgui/src/window_gtk.cpp
  modules/highgui/src/window_winrt.cpp
Labels: bug, category: highgui-gui

#19468 CHange import order to avoid apple check error
  modules/imgcodecs/src/apple_conversions.h
  modules/imgcodecs/src/macosx_conversions.mm
Labels: category: build/install, platform: ios/osx

#19422 js(tutorial): add note about CVAT integration
  doc/js_tutorials/js_imgproc/js_intelligent_scissors/js_intelligent_scissors.markdown
Labels: category: documentation, category: imgproc, category: javascript (js)

#19233 GAPI: SIMD optimization for AbsDiffC kernel
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
Labels: category: g-api / gapi, optimization

#19479 Switched to v1 Multiply
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
Labels: category: dnn

#19319 [G-API] Introduce GOpaque and GArray for python
  modules/gapi/misc/python/python_bridge.hpp
  modules/gapi/misc/python/test/test_gapi_types.py
  modules/python/bindings/CMakeLists.txt
  modules/python/src2/gen2.py
Labels: category: g-api / gapi, category: python bindings, feature

#19471 Update imageSegmentation.cpp, imageSegmentation.py
  samples/cpp/tutorial_code/ImgTrans/imageSegmentation.cpp
  samples/python/tutorial_code/ImgTrans/distance_transformation/imageSegmentation.py
Labels: bug, category: documentation

#19488 Not not test stitiching with SURF, if NONFREE is disabled
  modules/stitching/perf/opencl/perf_stitch.cpp
  modules/stitching/perf/perf_estimators.cpp
  modules/stitching/perf/perf_matchers.cpp
  modules/stitching/perf/perf_precomp.hpp
  modules/stitching/perf/perf_stich.cpp
Labels: category: stitching, test

#19480 Disable thread sanitization check when CV_USE_GLOBAL_WORKERS_COND_VAR is not set.
  modules/core/src/parallel_impl.cpp
Labels: category: core

#19495 Add Media Frame size function and corresponding tests
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
Labels: category: g-api / gapi, feature

#19439 Added Exif parsing for PNG Issue 16579
  modules/imgcodecs/src/exif.cpp
  modules/imgcodecs/src/exif.hpp
  modules/imgcodecs/src/grfmt_base.cpp
  modules/imgcodecs/src/grfmt_base.hpp
  modules/imgcodecs/src/grfmt_jpeg.cpp
  modules/imgcodecs/src/grfmt_jpeg.hpp
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_png.cpp
Labels: category: imgcodecs, feature, test

#19452 fix: findCUDNN script
  cmake/FindCUDNN.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#19484 [dnn] fix high level api for python
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/python/test/test_dnn.py
Labels: bug, category: dnn, category: python bindings

#19494 Pass custom config file path as absolute
  platforms/js/build_js.py
Labels: category: build/install, category: javascript (js), feature

#19486 [hal][neon] Optimize the v_dotprod_fast intrinsics for aarch64.
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
Labels: optimization, platform: arm

#19505 cmake: use INTERFACE_COMPILE_DEFINITIONS
  cmake/OpenCVDetectTBB.cmake
Labels: bug, category: build/install

#19425 [G-API] Implement async infer
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend.hpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#19515 fix link order: put zlib after png/tiff/openexr
  modules/imgcodecs/CMakeLists.txt
Labels: category: 3rdparty, category: build/install, category: imgcodecs

#19520 Refine the execution order of for loop
  modules/dnn/src/layers/proposal_layer.cpp
Labels: category: dnn, optimization

#19523 fix the spell error
  CMakeLists.txt
Labels: category: build/install, platform: android

#19501 Fix Android NDK 22 build error
  cmake/android/android_gradle_projects.cmake
  platforms/android/gradle-wrapper/gradle/wrapper/gradle-wrapper.properties.in
  platforms/android/ndk-22.config.py
Labels: category: build/install, feature, platform: android

#19521 fix core module android arm64 build
  modules/core/src/rand.cpp
Labels: bug, category: build/install, category: core, platform: arm

#19522 fix find zlib.so instead of zlib.a when NDK >= 19
  cmake/OpenCVFindLibsGrfmt.cmake
Labels: category: build/install, feature, platform: android

#19519 cmake: fix add_apple_compiler_options() calls and OBJCXX handling
  cmake/OpenCVUtils.cmake
  modules/highgui/CMakeLists.txt
  modules/imgcodecs/CMakeLists.txt
  modules/videoio/CMakeLists.txt
Labels: bug, category: build/install, platform: ios/osx

#19532 getDefaultName() isn't overloaded in SparseOpticalFlow
  modules/cudaoptflow/src/brox.cpp
  modules/cudaoptflow/src/farneback.cpp
  modules/cudaoptflow/src/pyrlk.cpp
  modules/cudaoptflow/src/tvl1flow.cpp
  modules/video/src/lkpyramid.cpp
  modules/video/src/optflowgf.cpp
  modules/video/src/tvl1flow.cpp
Labels: category: gpu/cuda (contrib), category: video

#19392 goodFeaturesToTrack returns also corner value
  modules/features2d/src/gftt.cpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/perf/opencl/perf_gftt.cpp
  modules/imgproc/perf/perf_goodFeaturesToTrack.cpp
  modules/imgproc/src/featureselect.cpp
  modules/imgproc/test/ocl/test_gftt.cpp
  modules/imgproc/test/test_goodfeaturetotrack.cpp
Labels: category: features2d, category: imgproc, feature

#19516 Render Frame NV12 on CPU
  modules/gapi/include/opencv2/gapi/render/render.hpp
  modules/gapi/src/api/render.cpp
  modules/gapi/src/backends/render/grenderocv.cpp
  modules/gapi/test/common/gapi_render_tests.hpp
  modules/gapi/test/render/gapi_render_tests_ocv.cpp
Labels: category: g-api / gapi, feature, test

#19525 Reduce if statement as it has the same expression on both sides of '&&'
  3rdparty/carotene/src/resize.cpp
Labels: bug, category: 3rdparty

#19528 G-API: Fix optional move constructor
  modules/gapi/include/opencv2/gapi/util/optional.hpp
Labels: bug, category: g-api / gapi

#19470 core(parallel): plugins support
  cmake/OpenCVCompilerOptions.cmake
  cmake/OpenCVDetectTBB.cmake
  cmake/OpenCVPluginStandalone.cmake
  cmake/OpenCVUtils.cmake
  modules/core/CMakeLists.txt
  modules/core/cmake/parallel/detect_openmp.cmake
  modules/core/cmake/parallel/detect_tbb.cmake
  modules/core/cmake/parallel/init.cmake
  modules/core/include/opencv2/core/llapi/llapi.h
  modules/core/include/opencv2/core/parallel/parallel_backend.hpp
  modules/core/include/opencv2/core/utils/plugin_loader.private.hpp
  modules/core/misc/plugins/parallel_openmp/CMakeLists.txt
  modules/core/misc/plugins/parallel_tbb/CMakeLists.txt
  modules/core/src/parallel.cpp
  modules/core/src/parallel/factory_parallel.hpp
  modules/core/src/parallel/parallel.cpp
  modules/core/src/parallel/parallel.hpp
  modules/core/src/parallel/parallel_openmp.cpp
  modules/core/src/parallel/parallel_tbb.cpp
  modules/core/src/parallel/plugin_parallel_api.hpp
  modules/core/src/parallel/plugin_parallel_wrapper.impl.hpp
  modules/core/src/parallel/registry_parallel.hpp
  modules/core/src/parallel/registry_parallel.impl.hpp
  modules/core/src/precomp.hpp
  modules/core/src/utils/filesystem.cpp
  modules/core/src/utils/plugin_loader.impl.hpp
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/init.cmake
  modules/videoio/cmake/plugin_standalone.cmake
  modules/videoio/misc/plugin_ffmpeg/CMakeLists.txt
  modules/videoio/misc/plugin_gstreamer/CMakeLists.txt
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/plugin_api.hpp
  modules/videoio/src/plugin_capture_api.hpp
  modules/videoio/src/plugin_writer_api.hpp
Labels: category: core, feature

#19543 imgcodecs(test): don't include png.h
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/test/test_png.cpp
Labels: bug, category: build/install, category: imgcodecs, test

#19498 Properly handle empty centers in findCirclesGrid
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/test/test_chesscorners.cpp
Labels: bug, category: calib3d

#19550 docs(tutorial_pyramids): Fix typo under "Perform downsampling" subsection
  doc/tutorials/imgproc/pyramids/pyramids.markdown
Labels: category: documentation

#19533 [G-API] Async infer request hotfix
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: bug, category: g-api / gapi

#19496 [G-API] Change memory measurement statistic in Fluid tests
  modules/gapi/test/gapi_fluid_test.cpp
Labels: category: g-api / gapi, test

#19026 Dual quaternion
  cmake/templates/opencv_abi.xml.in
  modules/core/include/opencv2/core/dualquaternion.hpp
  modules/core/include/opencv2/core/dualquaternion.inl.hpp
  modules/core/include/opencv2/core/quaternion.inl.hpp
  modules/core/test/test_quaternion.cpp
Labels: category: core, feature

#19474 TanH darknet and test
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: category: dnn, feature, test

#19417 Corrected SSD text graph generation for Identity nodes
  samples/dnn/tf_text_graph_common.py
Labels: category: dnn

#19559 Handle error in camera calibration tutorial
  samples/cpp/tutorial_code/calib3d/camera_calibration/camera_calibration.cpp
Labels: category: samples

#19534 cudafilters: remove danger race condition
  modules/cudafilters/src/cuda/median_filter.cu
Labels: bug, category: gpu/cuda (contrib)

#19560 VA sample: device autodetection changed
  samples/va_intel/display.cpp.inc
Labels: bug, category: samples

#19541 core: include version.hpp in cvdef.h, fix precomp.hpp usage
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/simd_intrinsics.hpp
  modules/core/src/hal_internal.cpp
  modules/core/src/hal_internal.hpp
  modules/core/src/intel_gpu_gemm.inl.hpp
  modules/core/src/matrix_c.cpp
  modules/core/src/matrix_iterator.cpp
  modules/core/src/matrix_operations.cpp
  modules/core/src/matrix_sparse.cpp
  modules/core/src/matrix_wrap.cpp
Labels: RFC, category: build/install, category: core

#19562 core(libva): use dynamic loader
  CMakeLists.txt
  cmake/OpenCVFindVA.cmake
  modules/core/CMakeLists.txt
  modules/core/src/va_intel.cpp
  modules/core/src/va_wrapper.impl.hpp
  samples/va_intel/display.cpp.inc
Labels: category: build/install, category: core, feature

#19561 plugins: use RTLD_NOW instead of RTLD_LAZY
  modules/core/include/opencv2/core/utils/plugin_loader.private.hpp
Labels: category: core

#19572 add noexcept to default constructors of cv::ocl
  modules/core/include/opencv2/core/ocl.hpp
  modules/core/src/ocl.cpp
  modules/core/src/ocl_disabled.impl.hpp
Labels: category: core, category: ocl

#19540 OpenEXR comression options
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_exr.cpp
  modules/imgcodecs/test/test_exr.impl.hpp
Labels: category: imgcodecs, feature, test

#19582 (3.4) add noexcept to default constructors of cv::ocl
  modules/core/include/opencv2/core/ocl.hpp
  modules/core/src/ocl.cpp
  modules/core/src/ocl_disabled.impl.hpp
Labels: category: core, category: ocl, port/backport done

#19545 DNN : Add Exp layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda4dnn/kernels/activations.hpp
  modules/dnn/src/cuda4dnn/primitives/activation.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: backport is needed, category: dnn, feature

#19585 build warning (windows 32-bit)
  modules/imgcodecs/test/test_exr.impl.hpp
Labels: bug, category: build/install, test

#19580 Minor fix in OCL implementation of calcOpticalFlowPyrLK
  modules/video/src/lkpyramid.cpp
Labels: bug, category: ocl, category: video

#19584 add move construct/assigns to cv::ocl main classes
  modules/core/include/opencv2/core/ocl.hpp
  modules/core/src/ocl.cpp
  modules/core/src/ocl_disabled.impl.hpp
  modules/core/test/ocl/test_opencl.cpp
Labels: category: core, category: ocl, feature

#19586 Update py_setup_in_ubuntu.markdown
  doc/py_tutorials/py_setup/py_setup_in_ubuntu/py_setup_in_ubuntu.markdown
Labels: category: documentation

#19594 core(parallel): fix JS build, fix OpenMP version dump
  modules/core/include/opencv2/core/parallel/parallel_backend.hpp
  modules/core/misc/plugins/parallel_openmp/CMakeLists.txt
  modules/core/src/parallel/plugin_parallel_wrapper.impl.hpp
Labels: bug, category: build/install, category: core, category: javascript (js)

#19552 apply partial sort to save computations
  modules/dnn/src/layers/detection_output_layer.cpp
Labels: category: dnn, optimization

#19564 Update python samples
  samples/python/houghcircles.py
  samples/python/tutorial_code/Histograms_Matching/back_projection/calcBackProject_Demo1.py
  samples/python/tutorial_code/Histograms_Matching/back_projection/calcBackProject_Demo2.py
  samples/python/tutorial_code/Histograms_Matching/histogram_calculation/calcHist_Demo.py
  samples/python/tutorial_code/TrackingMotion/corner_subpixels/cornerSubPix_Demo.py
  samples/python/tutorial_code/TrackingMotion/good_features_to_track/goodFeaturesToTrack_Demo.py
  samples/python/tutorial_code/ml/introduction_to_svm/introduction_to_svm.py
  samples/python/tutorial_code/ml/non_linear_svms/non_linear_svms.py
  samples/python/tutorial_code/ml/py_svm_opencv/hogsvm.py
  samples/python/tutorial_code/video/optical_flow/optical_flow.py
  samples/python/tutorial_code/videoio/video-input-psnr-ssim.py
Labels: category: python bindings, category: samples

#19536 save allocation of memory for fake image
  modules/dnn/src/layers/proposal_layer.cpp
Labels: category: dnn, optimization

#19601 dnn: fix build (nullptr issue)
  modules/dnn/src/layers/proposal_layer.cpp
Labels: bug, category: build/install, category: dnn

#19529 improve map allocation check
  modules/dnn/src/layers/detection_output_layer.cpp
Labels: category: dnn, optimization

#19535 core(InputArray): replace STD_ARRAY to MATX
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/src/matrix_wrap.cpp
  modules/core/test/test_mat.cpp
Labels: category: core

#19568 cmake(plugins): build without opencv_*.so on OSX
  cmake/OpenCVPluginStandalone.cmake
Labels: bug, category: build/install, platform: ios/osx

#19610 Minor fixes to plugin compilation and VA feature
  CMakeLists.txt
  cmake/OpenCVCompilerOptions.cmake
Labels: bug, category: build/install

#19618 videoio: dump exception's messages in plugins
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_mfx_plugin.cpp
  modules/videoio/src/cap_msmf.cpp
Labels: category: videoio

#19503 Fix bug in put/get of non-continuous Mat
  modules/core/misc/java/test/MatTest.java
  modules/java/generator/src/cpp/Mat.cpp
  modules/java/test/android_test/src/org/opencv/test/OpenCVTestCase.java
  modules/java/test/pure_test/src/org/opencv/test/OpenCVTestCase.java
Labels: bug, category: java bindings, test

#19609 videoio(gstreamer): rework retrieveFrame() to handle strides
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_gstreamer.cpp
Labels: backport is needed, bug, category: videoio

#19620 Fixed several issues found by static analysis
  modules/calib3d/src/sqpnp.hpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/model.cpp
  modules/videoio/src/cap_msmf.cpp
Labels: backport is needed

#19627 plugins: add suffix to default OUTPUT_NAME
  cmake/OpenCVPluginStandalone.cmake
Labels: bug, category: build/install, platform: win32

#19597 Android NDK camera support
  CMakeLists.txt
  cmake/android/android_gradle_projects.cmake
  modules/java/android_sdk/CMakeLists.txt
  modules/videoio/CMakeLists.txt
  modules/videoio/cmake/detect_android_camera.cmake
  modules/videoio/cmake/init.cmake
  modules/videoio/src/cap_android_camera.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/videoio_registry.cpp
  platforms/android/ndk-18-api-level-24.config.py
Labels: category: videoio, feature, platform: android

#19497 [G-API]: Performance tests for kmeans
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_common.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_imgproc_tests_common.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
Labels: category: g-api / gapi, test

#19633 gstreamer: add video module
  modules/videoio/cmake/detect_gstreamer.cmake
Labels: bug, category: build/install, category: videoio

#19487 [G-API] Support multiple asynchronous requests
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi, feature

#19628 imgproc(warpAffine): avoid buffer indexes overflow in SIMD code
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/test/test_imgwarp.cpp
Labels: bug, category: imgproc, optimization

#19631 Sota ccl
  doc/opencv.bib
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/ccl_bolelli_forest.inc.hpp
  modules/imgproc/src/ccl_bolelli_forest_firstline.inc.hpp
  modules/imgproc/src/ccl_bolelli_forest_lastline.inc.hpp
  modules/imgproc/src/ccl_bolelli_forest_singleline.inc.hpp
  modules/imgproc/src/connectedcomponents.cpp
  modules/imgproc/test/test_connectedcomponents.cpp
Labels: category: imgproc, feature

#19636 python binding blendLinear
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: imgproc, category: python bindings, feature

#19603 Fix UB in CopyMakeConstBoder_8u
  modules/core/src/copy.cpp
Labels: category: core

#19642 (3.4) Added exp layer (backport 19545)
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature, port/backport done

#19640 calib3d(usac): do not crash on empty models
  modules/calib3d/src/usac/estimator.cpp
  modules/calib3d/src/usac/quality.cpp
  modules/calib3d/test/test_usac.cpp
Labels: bug, category: calib3d, priority: normal
