Repository opencv/opencv, pull requests merged in 2021-01, with the labels that each got.

#19247 Fix building opencv using gcc 11.x #19244
  modules/gapi/test/test_precomp.hpp
Labels: category: build/install, category: g-api / gapi

#19258 Remove blurb about patent in python SIFT example
  doc/py_tutorials/py_feature2d/py_sift_intro/py_sift_intro.markdown
Labels: category: documentation

#19220 dnn: improve debugging of TensorFlow parsing errors
  modules/dnn/src/tensorflow/tf_importer.cpp
Labels: category: dnn

#19291 docs(tutorial_js_usage): fix imshow usage
  doc/js_tutorials/js_setup/js_usage/js_usage.markdown
Labels: bug, category: documentation, category: javascript (js)

#19296 Doc issue fix 18836 FULL
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#19297 Template Matching Tutorial issue fix https://github.com/opencv/opencv…
  doc/js_tutorials/js_assets/js_template_matching_matchTemplate.html
Labels: bug, category: javascript (js), category: samples

#19301 added multi-config to regexp in CMakeList.txt
  CMakeLists.txt
Labels: category: build/install

#19216 Inlined WASM fallback intrinsics to avoid using of V_TypeTraits
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
Labels: category: build/install, category: javascript (js), optimization

#19300 docs: hotfix: call isOpened() in python bg sub tutorial
  samples/python/tutorial_code/video/background_subtraction/bg_sub.py
Labels: category: samples

#18902 G-API: ONNX. Const input
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
Labels: category: g-api / gapi, feature, test

#19215 [G-API]: Performance tests for boundingRect
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_common.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/common/gapi_tests_common.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
Labels: category: g-api / gapi, test

#19108 All person ReIDentification samples.
  samples/dnn/person_reid.cpp
  samples/dnn/person_reid.py
Labels: category: dnn, category: samples

#19050 GAPI: fix Clang warning for dangling references in for loop variable
  modules/gapi/CMakeLists.txt
  modules/gapi/src/backends/common/gcompoundkernel.cpp
  modules/gapi/src/backends/common/serialization.cpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gmodelbuilder.cpp
  modules/gapi/src/compiler/passes/kernels.cpp
  modules/gapi/src/compiler/passes/meta.cpp
  modules/gapi/test/gapi_gcomputation_tests.cpp
  modules/gapi/test/internal/gapi_int_gmodel_builder_test.cpp
Labels: bug, category: build/install, category: g-api / gapi

#19268 [ts][summary.py] Extend `-o` to support tabs separated output.
  modules/ts/misc/summary.py
  modules/ts/misc/table_formatter.py
Labels: feature, test

#19321 videoio: fix API/ABI_VERSION macros before plugin_api.hpp
  modules/videoio/src/cap_mfx_plugin.cpp
  modules/videoio/src/videoio_registry.cpp
Labels: bug, category: build/install, category: videoio

#19330 Added Mish ONNX subgraph
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, feature

#19332 cmake: support ccache with Xcode generator
  CMakeLists.txt
  cmake/OpenCVCompilerOptions.cmake
  cmake/templates/xcode-launch-c.in
  cmake/templates/xcode-launch-cxx.in
  platforms/ios/cmake/Toolchains/common-ios-toolchain.cmake
Labels: category: build/install, feature, platform: ios/osx

#19326 gapi(async): use lazy-initialization of async_service singleton
  modules/gapi/src/executor/gasync.cpp
Labels: category: build/install, category: g-api / gapi

#19331 gapi: avoid global static initializers
  modules/gapi/src/compiler/passes/kernels.cpp
Labels: category: build/install, category: g-api / gapi

#19312 Raise overload resolution exception in Python bindings if overload resolution fails
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/test/test_misc.py
Labels: category: python bindings, feature, test

#19336 update xrange() to range(), as Python 2 has been deprecate
  doc/py_tutorials/py_imgproc/py_pyramids/py_pyramids.markdown
  doc/py_tutorials/py_imgproc/py_thresholding/py_thresholding.markdown
  doc/py_tutorials/py_imgproc/py_transforms/py_fourier_transform/py_fourier_transform.markdown
  doc/py_tutorials/py_photo/py_non_local_means/py_non_local_means.markdown
Labels: bug, category: documentation

#19340 stitching: workaround the ExposureCompensate.SimilarityThreshold failure
  modules/stitching/src/exposure_compensate.cpp
Labels: bug, category: ocl, category: stitching

#19345 Update essential_mat_reconstr.cpp
  samples/cpp/essential_mat_reconstr.cpp
Labels: bug, category: samples

#19353 Updated more links to forum.opencv.org (master)
  .github/ISSUE_TEMPLATE.md
  doc/py_tutorials/py_setup/py_intro/py_intro.markdown
  doc/tutorials/introduction/android_binary_package/O4A_SDK.markdown
  doc/tutorials/introduction/android_binary_package/android_dev_intro.markdown
  doc/tutorials/introduction/android_binary_package/dev_with_OCV_on_Android.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
  modules/videoio/src/cap_v4l.cpp
  samples/cpp/stereo_calib.cpp
Labels: port/backport done

#19355 GAPI: fix build warning
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: build/install, category: g-api / gapi

#19058 Conv1D and Pool1D for CUDA backend
  modules/dnn/src/cuda/max_unpooling.cu
  modules/dnn/src/cuda4dnn/primitives/convolution.hpp
  modules/dnn/src/cuda4dnn/primitives/max_unpooling.hpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, category: gpu/cuda (contrib)

#19364 VideoCapture test to ensure that cv::VideoCapture does not share output buffers
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, test

#19334 core(OpenCL): fix lifetime handling of Image kernel args
  modules/core/src/ocl.cpp
Labels: bug, category: core, category: ocl

#19376 JavaScript(documentation): fix path
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
Labels: bug, category: documentation, category: javascript (js)

#19382 highgui: remove gutter in window_w32
  modules/highgui/src/window_w32.cpp
Labels: bug, category: highgui-gui, platform: win32

#19383 cudalegacy: fix wrong index
  modules/cudalegacy/src/calib3d.cpp
Labels: bug, category: gpu/cuda (contrib)

#19337 [G-API]: Performance tests for fitLine and findContours
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_common.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
Labels: category: g-api / gapi, test

#19380 Python: handle errors in Rect conversions
  modules/dnn/misc/python/test/test_dnn.py
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, category: python bindings

#19078 Add DaSiamRPN tracker sample of c++ version
  samples/dnn/dasiamrpn_tracker.cpp
Labels: category: dnn, category: samples, category: tracking

#19344 Common fixed size Python sequence conversion to OpenCV types
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: category: python bindings, feature, test

#19388 Small corrections to Orbbec Astra cameras tutorial
  doc/tutorials/app/orbbec_astra.markdown
  samples/cpp/tutorial_code/videoio/orbbec_astra/orbbec_astra.cpp
Labels: category: documentation, category: videoio

#19390 fix peaky test failure
  modules/cudalegacy/test/test_calib3d.cpp
Labels: category: gpu/cuda (contrib), test

#19385 core(OpenCL): update isOpenCLActivated()
  modules/core/src/ocl.cpp
Labels: category: core, category: ocl

#19372 Fixed bug with constant Div
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn

#19373 Added shared weights for MatMul
  modules/dnn/src/tensorflow/tf_importer.cpp
Labels: category: dnn, feature

#17604 [GSoC] Added TF and PyTorch classification conversion cases
  doc/tutorials/dnn/dnn_pytorch_tf_classification/images/opencv_resnet50_test_res_c.jpg
  doc/tutorials/dnn/dnn_pytorch_tf_classification/images/pytorch_resnet50_opencv_test_res.jpg
  doc/tutorials/dnn/dnn_pytorch_tf_classification/images/squirrel_cls.jpg
  doc/tutorials/dnn/dnn_pytorch_tf_classification/images/tf_mobilenet_opencv_test_res.jpg
  doc/tutorials/dnn/dnn_pytorch_tf_classification/pytorch_cls_model_conversion_c_tutorial.md
  doc/tutorials/dnn/dnn_pytorch_tf_classification/pytorch_cls_model_conversion_tutorial.md
  doc/tutorials/dnn/dnn_pytorch_tf_classification/tf_cls_model_conversion_tutorial.md
  doc/tutorials/dnn/dnn_text_spotting/dnn_text_spotting.markdown
  doc/tutorials/dnn/table_of_content_dnn.markdown
  samples/data/squirrel_cls.jpg
  samples/dnn/classification.cpp
  samples/dnn/classification.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/abstract_model.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/evaluation/classification/cls_accuracy_evaluator.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/evaluation/classification/cls_data_fetcher.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/img_utils.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/test/cls_model_test_pipeline.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/test/configs/default_preprocess_config.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/test/configs/test_config.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/test/model_test_pipeline.py
  samples/dnn/dnn_model_runner/dnn_conversion/common/utils.py
  samples/dnn/dnn_model_runner/dnn_conversion/pytorch/classification/py_to_py_cls.py
  samples/dnn/dnn_model_runner/dnn_conversion/pytorch/classification/py_to_py_resnet50.py
  samples/dnn/dnn_model_runner/dnn_conversion/pytorch/classification/py_to_py_resnet50_onnx.py
  samples/dnn/dnn_model_runner/dnn_conversion/pytorch/pytorch_model.py
  samples/dnn/dnn_model_runner/dnn_conversion/requirements.txt
  samples/dnn/dnn_model_runner/dnn_conversion/tf/classification/py_to_py_cls.py
  samples/dnn/dnn_model_runner/dnn_conversion/tf/classification/py_to_py_mobilenet.py
  samples/dnn/dnn_model_runner/dnn_conversion/tf/tf_model.py
Labels: GSoC, category: dnn, category: documentation, category: samples

#19403 fix python test runner wildcard handling
  modules/python/test/test.py
Labels: category: python bindings, test

#19365 core: parallel API backends
  cmake/templates/opencv_abi.xml.in
  doc/Doxyfile.in
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/parallel/backend/parallel_for.openmp.hpp
  modules/core/include/opencv2/core/parallel/backend/parallel_for.tbb.hpp
  modules/core/include/opencv2/core/parallel/parallel_backend.hpp
  modules/core/include/opencv2/core/utility.hpp
  modules/core/src/parallel.cpp
  samples/cpp/CMakeLists.txt
  samples/cpp/tutorial_code/core/parallel_backend/CMakeLists.txt
  samples/cpp/tutorial_code/core/parallel_backend/example-openmp.cpp
  samples/cpp/tutorial_code/core/parallel_backend/example-tbb.cpp
Labels: category: core, feature

#19404 Corrected SSD text graph generation in accordance with preprocessing block order
  samples/dnn/tf_text_graph_ssd.py
Labels: category: dnn

#19394 add video capture parameters
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/misc/objc/gen_dict.json
  modules/videoio/src/backend.hpp
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/backend_static.cpp
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/test/test_camera.cpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: videoio, feature

#19413 videoio(plugins): support VideoCaptureParameters, CAPTURE_API_VERSION=1
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/src/cap_ffmpeg_legacy_api.hpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/plugin_capture_api.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: videoio, feature

#19384 core, gapi: supported build with oneTBB 2021
  3rdparty/tbb/CMakeLists.txt
  cmake/OpenCVDetectTBB.cmake
  cmake/OpenCVFindMKL.cmake
  modules/core/src/parallel.cpp
  modules/gapi/src/executor/gtbbexecutor.cpp
  modules/gapi/src/executor/gtbbexecutor.hpp
  modules/gapi/test/executor/gtbbexecutor_internal_tests.cpp
Labels: category: build/install, category: core, category: g-api / gapi, feature

#19370 VideoCapture/DSHOW : Allow to set CAP_PROP_CONVERT_RGB before FOURCC/FPS/CHANNEL/WIDTH/HEIGHT.
  modules/videoio/src/cap_dshow.cpp
  modules/videoio/src/cap_dshow.hpp
  modules/videoio/test/test_camera.cpp
Labels: bug, category: videoio

#19395 [Minor PR] Change Keymap wording for gray image in curve mode
  samples/python/hist.py
Labels: bug, category: samples

#18943 G-API: ONNX. Support for networks with three dimensional input.
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
Labels: category: g-api / gapi, feature

#19057 Preparations for enabling 1D support for Conv and Pool operations on CUDA
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
Labels: category: dnn, port/backport done

#19424 cmake: update Python linters (Pylint/Flake8)
  CMakeLists.txt
  cmake/FindFlake8.cmake
  cmake/FindPylint.cmake
Labels: category: build/install

#19427 build: fix cv2.cpp compilation
  modules/core/include/opencv2/core/utils/tls.hpp
  modules/python/src2/cv2.cpp
Labels: bug, category: build/install, category: python bindings

#19430 JavaScript: fix SIMD build
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
Labels: bug, category: build/install, category: core, category: javascript (js)
