Repository opencv/opencv, pull requests merged in 2021-12, with the labels that each got.

#21112 Fix integer overflow in cv::Luv2RGBinteger::process.
  modules/imgproc/src/color_lab.cpp
  modules/imgproc/test/test_color.cpp
Labels: bug, category: imgproc

#21153 build: eliminate C4309 warning from protobuf files with MSVS2017
  3rdparty/protobuf/CMakeLists.txt
  modules/dnn/CMakeLists.txt
Labels: category: build/install, category: dnn, platform: win32, category: 3rdparty

#21158 GAPI Fluid: SIMD for SubC kernel.
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21163 Add default order to Transpose
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn

#21164 add Sum of 1 input
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn

#21170 Check buffer size when frameWidth * frameHeight bigger than allocated buffer size
  modules/videoio/src/cap_android_mediandk.cpp
Labels: category: videoio, platform: android

#21172 dnn(test): drop non OCV/CPU cases for Int8
  modules/dnn/test/test_int8_layers.cpp
Labels: test, category: dnn

#21173 (3.4) dnn(test): re-enable tests which works with OpenVINO 2021.4.x
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_misc.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: test, category: dnn

#21174 QR encoder: fix memory and unused variables issues
  modules/objdetect/src/qrcode_encoder.cpp
Labels: bug, category: objdetect, affected: 3.4

#21159 fix ceil_mode for Average/MaxPooling
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn

#21160 Add alpha parameter to ELU layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/opencl/activations.cl
Labels: bug, category: dnn

#21162 Add Log/Softmax simplification
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
Labels: bug, category: dnn

#21165 videoio: fix grabFrame() in cap_android_camera.cpp
  modules/videoio/src/cap_android_camera.cpp
Labels: bug, category: videoio, category: videoio(camera), platform: android

#20755 New odometry Pipeline
  modules/3d/include/opencv2/3d.hpp
  modules/3d/include/opencv2/3d/depth.hpp
  modules/3d/include/opencv2/3d/detail/submap.hpp
  modules/3d/include/opencv2/3d/odometry.hpp
  modules/3d/include/opencv2/3d/odometry_frame.hpp
  modules/3d/include/opencv2/3d/odometry_settings.hpp
  modules/3d/samples/odometry_evaluation.cpp
  modules/3d/src/rgbd/depth_to_3d.cpp
  modules/3d/src/rgbd/fast_icp.cpp
  modules/3d/src/rgbd/fast_icp.hpp
  modules/3d/src/rgbd/normal.cpp
  modules/3d/src/rgbd/odometry.cpp
  modules/3d/src/rgbd/odometry_frame_impl.cpp
  modules/3d/src/rgbd/odometry_functions.cpp
  modules/3d/src/rgbd/odometry_functions.hpp
  modules/3d/src/rgbd/odometry_settings_impl.cpp
  modules/3d/src/rgbd/plane.cpp
  modules/3d/src/rgbd/utils.cpp
  modules/3d/src/rgbd/utils.hpp
  modules/3d/test/test_normal.cpp
  modules/3d/test/test_odometry.cpp
Labels: category: 3d module

#21041 G-API: GAPI introduce compile guard for some types for gin/gout params passing
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/opencv_includes.hpp
  modules/gapi/include/opencv2/gapi/own/types.hpp
  modules/gapi/include/opencv2/gapi/util/util.hpp
  modules/gapi/test/gapi_util_tests.cpp
  modules/gapi/test/internal/gapi_int_gmetaarg_test.cpp
  modules/gapi/test/internal/gapi_int_proto_tests.cpp
Labels: category: g-api / gapi

#21177 GAPI Fluid: SIMD for MulC kernel.
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21012 Update RVV backend for using Clang.
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
  modules/dnn/src/layers/layers_common.simd.hpp
  platforms/linux/riscv64-clang.toolchain.cmake
Labels: optimization, feature, category: build/install, platform: riscv

#21147 resolve #21014 by limiting number of ticks
  modules/highgui/src/window_cocoa.mm
Labels: category: highgui-gui, platform: ios/osx

#21145 Audio MSMF: added the ability to set sample per second
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/test/test_audio.cpp
Labels: test, feature, category: videoio, platform: win32

#21167 dnn(test): re-enable tests which works with OpenVINO 2021.4.x
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, category: dnn

#21180 Added CV_PROP_RW macro to keypoints
  modules/stitching/include/opencv2/stitching/detail/matchers.hpp
  modules/stitching/misc/python/test/test_stitching.py
Labels: test, category: python bindings, category: stitching

#21182 Split cv2.cpp
  modules/python/common.cmake
  modules/python/src2/cv2.cpp
  modules/python/src2/cv2.hpp
  modules/python/src2/cv2_convert.cpp
  modules/python/src2/cv2_convert.hpp
  modules/python/src2/cv2_highgui.cpp
  modules/python/src2/cv2_highgui.hpp
  modules/python/src2/cv2_numpy.cpp
  modules/python/src2/cv2_numpy.hpp
  modules/python/src2/cv2_util.cpp
  modules/python/src2/cv2_util.hpp
  modules/python/src2/pycompat.hpp
Labels: category: python bindings, category: build/install

#21188 fix issue 21187: markdown file: gray image does not have three dimensions
  doc/py_tutorials/py_feature2d/py_feature_homography/py_feature_homography.markdown
Labels: category: documentation

#20709 Ported GStreamerSource to OpenCV
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/streaming/gstreamer/gstreamerpipeline.hpp
  modules/gapi/include/opencv2/gapi/streaming/gstreamer/gstreamersource.hpp
  modules/gapi/include/opencv2/gapi/streaming/onevpl/device_selector_interface.hpp
  modules/gapi/src/streaming/gstreamer/gstreamer_buffer_utils.cpp
  modules/gapi/src/streaming/gstreamer/gstreamer_buffer_utils.hpp
  modules/gapi/src/streaming/gstreamer/gstreamer_media_adapter.cpp
  modules/gapi/src/streaming/gstreamer/gstreamer_media_adapter.hpp
  modules/gapi/src/streaming/gstreamer/gstreamer_pipeline_facade.cpp
  modules/gapi/src/streaming/gstreamer/gstreamer_pipeline_facade.hpp
  modules/gapi/src/streaming/gstreamer/gstreamerenv.cpp
  modules/gapi/src/streaming/gstreamer/gstreamerenv.hpp
  modules/gapi/src/streaming/gstreamer/gstreamerpipeline.cpp
  modules/gapi/src/streaming/gstreamer/gstreamerpipeline_priv.hpp
  modules/gapi/src/streaming/gstreamer/gstreamerptr.hpp
  modules/gapi/src/streaming/gstreamer/gstreamersource.cpp
  modules/gapi/src/streaming/gstreamer/gstreamersource_priv.hpp
  modules/gapi/test/streaming/gapi_gstreamer_pipeline_facade_int_tests.cpp
  modules/gapi/test/streaming/gapi_gstreamersource_tests.cpp
Labels: category: g-api / gapi

#21205 GAPI GPU: fix for "MulDoublePerfTestGPU" test failures.
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
Labels: test, category: g-api / gapi

#21212 [G-API] Bring updates from openvino version of standalone files
  modules/gapi/doc/10-hld-overview.md
  modules/gapi/include/opencv2/gapi/own/cvdefs.hpp
Labels: category: g-api / gapi

#21208 Add ArgMax and ArgMin layers
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/arg_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn

#21213 cmake: fix OPENGL_LIBRARIES handling
  cmake/OpenCVFindLibsGUI.cmake
  modules/core/CMakeLists.txt
  samples/cpp/CMakeLists.txt
  samples/opengl/CMakeLists.txt
Labels: category: build/install

#21049 G-API: oneVPL merge DX11 acceleration
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/streaming/onevpl/cfg_params.hpp
  modules/gapi/perf/streaming/gapi_streaming_source_perf_tests.cpp
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/src/backends/render/grenderocv.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_cpu.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_cpu.hpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.hpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_interface.hpp
  modules/gapi/src/streaming/onevpl/accelerators/dx11_alloc_resource.cpp
  modules/gapi/src/streaming/onevpl/accelerators/dx11_alloc_resource.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/cpu_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/cpu_frame_adapter.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/dx11_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/dx11_frame_adapter.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/surface.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/surface.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/surface_pool.hpp
  modules/gapi/src/streaming/onevpl/accelerators/utils/elastic_barrier.hpp
  modules/gapi/src/streaming/onevpl/accelerators/utils/shared_lock.cpp
  modules/gapi/src/streaming/onevpl/accelerators/utils/shared_lock.hpp
  modules/gapi/src/streaming/onevpl/cfg_param_device_selector.cpp
  modules/gapi/src/streaming/onevpl/cfg_params.cpp
  modules/gapi/src/streaming/onevpl/cfg_params_parser.cpp
  modules/gapi/src/streaming/onevpl/cfg_params_parser.hpp
  modules/gapi/src/streaming/onevpl/data_provider_defines.hpp
  modules/gapi/src/streaming/onevpl/data_provider_dispatcher.cpp
  modules/gapi/src/streaming/onevpl/data_provider_interface_exception.cpp
  modules/gapi/src/streaming/onevpl/demux/async_mfp_demux_data_provider.hpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_engine_legacy.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_engine_legacy.hpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_session.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_session.hpp
  modules/gapi/src/streaming/onevpl/engine/engine_session.hpp
  modules/gapi/src/streaming/onevpl/engine/processing_engine_base.cpp
  modules/gapi/src/streaming/onevpl/engine/processing_engine_base.hpp
  modules/gapi/src/streaming/onevpl/file_data_provider.cpp
  modules/gapi/src/streaming/onevpl/onevpl_export.hpp
  modules/gapi/src/streaming/onevpl/source_priv.cpp
  modules/gapi/src/streaming/onevpl/source_priv.hpp
  modules/gapi/src/streaming/onevpl/utils.cpp
  modules/gapi/src/streaming/onevpl/utils.hpp
  modules/gapi/test/common/gapi_streaming_tests_common.hpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_utils_test.cpp
  modules/gapi/test/streaming/gapi_streaming_vpl_core_test.cpp
  modules/gapi/test/streaming/gapi_streaming_vpl_data_provider.cpp
  modules/gapi/test/streaming/gapi_streaming_vpl_device_selector.cpp
Labels: feature, category: g-api / gapi

#21218 cmake: option to disable GStreamer in G-API
  modules/gapi/CMakeLists.txt
Labels: category: build/install, category: g-api / gapi

#21219 Replaced distutils module to sysconfig
  cmake/OpenCVDetectPython.cmake
  modules/python/common.cmake
Labels: feature, category: python bindings, category: build/install

#21230 G-API: Fix Win32 build: uint64_t ->size_t
  modules/gapi/include/opencv2/gapi/streaming/onevpl/cfg_params.hpp
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/src/streaming/onevpl/cfg_params.cpp
Labels: bug, category: build/install, category: g-api / gapi

#21074 Solve Rect overflow issues.
  modules/core/include/opencv2/core/types.hpp
  modules/core/test/test_misc.cpp
Labels: bug, category: core

#21194 Qt opengl build fix
  cmake/OpenCVFindLibsGUI.cmake
  modules/highgui/CMakeLists.txt
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_QT.h
Labels: feature, category: highgui-gui

#21227 fix unicode errors for framework headers
  platforms/ios/build_framework.py
Labels: category: build/install, platform: ios/osx, category: swift/objc bindings

#21201 fixed an error ------Context::p is protected whinin this context
  modules/core/src/ocl.cpp
Labels: bug, category: build/install, category: ocl

#21154 Add BatchMatMul layer support for tf_importer
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: test, feature, category: dnn

#21222 Replaced distutils to shutil when copying files in a tree
  modules/objc/generator/gen_objc.py
  platforms/ios/build_framework.py
Labels: category: build/install

#21086 Further optimize DNN for RISC-V Vector.
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: optimization, category: dnn, platform: riscv

#21228 imgproc(OpenCL): fix resizeLN, avoid integer overflow
  modules/imgproc/src/opencl/resize.cl
  modules/imgproc/src/resize.cpp
  modules/imgproc/test/ocl/test_warp.cpp
Labels: bug, test, category: imgproc, category: ocl

#21235 Update Optical Flow algorithm name from Gunner to Gunnar as that's the name he published his paper with
  doc/js_tutorials/js_video/js_lucas_kanade/js_lucas_kanade.markdown
  doc/tutorials/video/optical_flow/optical_flow.markdown
Labels: bug, category: documentation

#21166 Fix intrinsics processing in case USAC parameters
  modules/calib3d/src/usac.hpp
  modules/calib3d/src/usac/dls_solver.cpp
  modules/calib3d/src/usac/pnp_solver.cpp
  modules/calib3d/src/usac/ransac_solvers.cpp
  modules/calib3d/src/usac/utils.cpp
  modules/calib3d/test/test_usac.cpp
Labels: bug, category: calib3d

#21247 Fix issues in reduceArgMax test found by coverity
  modules/core/test/test_arithm.cpp
Labels: bug, category: core

#21204 GAPI Fluid: Enable dynamic dispatching for AbsDiffC kernel.
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21178 cmake: update SOVERSION
  cmake/OpenCVVersion.cmake
Labels: category: build/install, RFC, port to 5.x is needed

#21250 (3.4) videoio(MSMF): add queue for async ReadSample()
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/test/test_camera.cpp
Labels: bug, port/backport done, category: videoio, category: videoio(camera), platform: win32

#21150 GAPI: Add compare function to perf tests
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
Labels: test, category: g-api / gapi

#21088 Onnx conformance tests
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_all_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_cpu_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp32_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
  modules/ts/misc/testlog_parser.py
Labels: test, feature, category: dnn

#21256 docs: correct normalize factor in gaussian pyramid tutorial
  doc/tutorials/imgproc/pyramids/pyramids.markdown
Labels: bug, category: imgproc, category: documentation

#21257 imgproc: catch NaNs in clip(), use table index debug check
  modules/imgproc/src/color_lab.cpp
  modules/imgproc/test/test_color.cpp
Labels: bug, category: imgproc

#20934 AudioIO: add spectrogram samples for C++/python
  samples/cpp/audio_spectrogram.cpp
  samples/python/audio_spectrogram.py
Labels: category: videoio, category: samples

#21254 Build OpenCV winpack with DLDT 2021.4.2
  cmake/OpenCVDetectInferenceEngine.cmake
  platforms/winpack_dldt/2021.4.2/20210630-dldt-disable-multidevice-autoplugin.patch
  platforms/winpack_dldt/2021.4.2/20210630-dldt-disable-unused-targets.patch
  platforms/winpack_dldt/2021.4.2/20210630-dldt-pdb.patch
  platforms/winpack_dldt/2021.4.2/20210630-dldt-vs-version.patch
  platforms/winpack_dldt/2021.4.2/build.config.py
  platforms/winpack_dldt/2021.4.2/patch.config.py
  platforms/winpack_dldt/2021.4.2/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: category: build/install, category: dnn, platform: win32

#21259 Fix a few issues in MaxUnpool, ReduceMean/Max/Sum, Pad
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: bug, category: dnn (onnx)

#21246 Add Square layer support for tf_importer
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: feature, category: dnn

#21261 dnn(test): update ONNX conformance filters
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__halide_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: test, category: dnn

#21269 Do not force -O2 flag in hardening-enabled builds
  cmake/OpenCVCompilerDefenses.cmake
Labels: category: build/install

#21271 Use NaN-safe clip function.
  modules/imgproc/src/color_lab.cpp
  modules/imgproc/test/test_color.cpp
Labels: bug, category: imgproc

#21272 Odometry warnings fix
  modules/3d/src/rgbd/odometry_frame_impl.cpp
Labels: category: 3d module

#21268 add argmax and argmin parsing for tensorflow
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: feature, category: dnn

#21267 Fixed several issues found by static analysis
  modules/dnn/src/int8layers/eltwise_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/objdetect/src/face_detect.cpp
  modules/objdetect/src/face_recognize.cpp
  modules/objdetect/src/qrcode_encoder.cpp
Labels: port/backport done

#21277 (3.4) Fixed several issues found by static analysis
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/objdetect/src/qrcode_encoder.cpp
Labels: port/backport done

#21264 Audio GStreamer: added support .wav .flac audio formats
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_audio.cpp
Labels: test, feature, category: videoio

#21258 Fixed threshold(THRESH_TOZERO) at imgproc(IPP)
  modules/imgproc/src/thresh.cpp
  modules/imgproc/test/test_thresh.cpp
Labels: optimization, category: imgproc

#21231 GAPI FLUID: SIMD for SubRC kernel
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21283 fix Flatten layer
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__halide_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_all_denylist.inl.hpp
Labels: bug, category: dnn, category: dnn (onnx)

#21176 Add acos, acosh, asin, asinh, atan, atanh, cos, cosh, erf, hardswish, sin, sinh, softplus, softsign, tan layers
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda4dnn/kernels/activations.hpp
  modules/dnn/src/cuda4dnn/primitives/activation.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: feature, category: dnn

#21275 Improve CCL with new algorithms and tests
  doc/opencv.bib
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/connectedcomponents.cpp
  modules/imgproc/test/test_connectedcomponents.cpp
Labels: feature, category: imgproc

#21282 dnn(test): skip failed tests on Vulkan backend
  modules/dnn/test/test_misc.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: test, category: dnn

#21253 Illustration about realsense
  doc/tutorials/app/images/realsense.jpg
  doc/tutorials/app/intelperc.markdown
Labels: category: videoio, category: documentation

#21279 New example for realsense
  doc/tutorials/app/intelperc.markdown
  samples/cpp/videocapture_intelperc.cpp
  samples/cpp/videocapture_realsense.cpp
Labels: category: samples, category: videoio(camera)

#21190 Add celu, hardsigmoid, selu, thresholdedrelu layers
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda4dnn/kernels/activations.hpp
  modules/dnn/src/cuda4dnn/primitives/activation.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: feature, category: dnn

#21295 ffmpeg/3.4: update FFmpeg wrapper 2021.12
  3rdparty/ffmpeg/ffmpeg.cmake
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio, affected: 3.4, platform: win32, category: 3rdparty

#21296 ffmpeg/4.x: update FFmpeg wrapper 2021.12
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: videoio, platform: win32, category: 3rdparty

#21297 fix const/x in Div
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, test, category: dnn (onnx)

#21301 videoio: add non zero check
  modules/videoio/src/cap_gstreamer.cpp
Labels: category: videoio

#21305 cmake: force lowercase plugins internal names
  modules/core/CMakeLists.txt
  modules/highgui/cmake/init.cmake
  modules/videoio/CMakeLists.txt
Labels: category: build/install

#21302 (3.4) highgui: fix Win32 with OPENGL=ON
  modules/highgui/CMakeLists.txt
Labels: bug, category: highgui-gui, category: build/install, platform: win32

#21303 highgui: fix Win32 with OPENGL=ON
  modules/highgui/CMakeLists.txt
Labels: bug, category: highgui-gui, category: build/install, platform: win32

#21321 dnn(test): decompose 'DynamicAxes' test
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, category: dnn

#21323 dnn: do not try to rebuilt network during setInput()
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn

#21322 dnn: improve logging, catch import errors
  modules/dnn/src/dnn.cpp
  modules/dnn/src/dnn_common.hpp
  modules/dnn/src/onnx/onnx_graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/precomp.hpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.hpp
Labels: bug, category: dnn, category: dnn (onnx)

#21330 highgui(gtk): fix onmouse event flags
  modules/highgui/src/window_gtk.cpp
Labels: bug, category: highgui-gui, platform: linux

#21331 highgui(gtk): repair scroll events
  modules/highgui/src/window_gtk.cpp
Labels: bug, category: highgui-gui

#21325 Fix matching points viewing in asift.py sample
  samples/python/find_obj.py
Labels: bug, category: samples

#21335 dnn(onnx): debug dump of inputs/outputs/initializers in importer
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: dnn, category: dnn (onnx)

#21336 dnn: add checks in pooling layer implementation
  modules/dnn/src/layers/pooling_layer.cpp
Labels: bug, category: dnn

#21306 Fix: Grammatical mistake
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation

#21320 Main PnP pose computation doc page
  doc/opencv.bib
  modules/calib3d/doc/calib3d.bib
  modules/calib3d/doc/solvePnP.markdown
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: port/backport done, category: documentation, category: calib3d

#21327 imgcodecs: disable OpenEXR in runtime for 3rdparty source code
  cmake/OpenCVFindLibsGrfmt.cmake
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/src/grfmt_exr.cpp
  modules/imgcodecs/test/test_grfmt.cpp
Labels: category: build/install, category: imgcodecs

#21329 cmake: use find_package(OpenEXR) to support OpenEXR 3+
  CMakeLists.txt
  cmake/OpenCVFindLibsGrfmt.cmake
  cmake/OpenCVFindOpenEXR.cmake
  modules/imgcodecs/src/grfmt_exr.hpp
Labels: feature, category: build/install, category: imgcodecs, category: 3rdparty

#21341 python: use '((x,y), (w,h), angle)' in std::vector<RotatedRect>
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, category: python bindings

#21339 Disabling SSE4.1 path in GFluidResize due to Valgrind issues
  modules/gapi/src/backends/fluid/gfluidcore.cpp
Labels: bug, optimization, category: g-api / gapi

#21197 AudioIO: add OpenCV audio reading to dnn speech recognition sample
  samples/dnn/speech_recognition.py
Labels: category: samples

#21319 Warning fixes for quaternion headers
  modules/core/include/opencv2/core/dualquaternion.inl.hpp
  modules/core/include/opencv2/core/quaternion.inl.hpp
Labels: category: core, category: build/install

#21343 dnn(onnx): handle non-default ONNX domains
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn

#21347 highgui: Fix unresolved OpenGL functions for Qt backend
  modules/highgui/CMakeLists.txt
Labels: bug, category: highgui-gui, category: build/install

#21018 New LevMarq implementation
  modules/3d/include/opencv2/3d.hpp
  modules/3d/include/opencv2/3d/detail/optimizer.hpp
  modules/3d/include/opencv2/3d/detail/pose_graph.hpp
  modules/3d/include/opencv2/3d/detail/submap.hpp
  modules/3d/perf/perf_pnp.cpp
  modules/3d/src/calibration_base.cpp
  modules/3d/src/fundam.cpp
  modules/3d/src/levmarq.cpp
  modules/3d/src/precomp.hpp
  modules/3d/src/ptsetreg.cpp
  modules/3d/src/rgbd/hash_tsdf.cpp
  modules/3d/src/rgbd/odometry_frame_impl.cpp
  modules/3d/src/rgbd/pose_graph.cpp
  modules/3d/src/rgbd/sparse_block_matrix.hpp
  modules/3d/src/solvepnp.cpp
  modules/3d/test/test_pose_graph.cpp
  modules/calib/src/calibration.cpp
  modules/calib/test/test_cameracalibration.cpp
  modules/core/include/opencv2/core/dualquaternion.inl.hpp
  modules/core/include/opencv2/core/quaternion.inl.hpp
  modules/stitching/src/motion_estimators.cpp
Labels: feature, category: 3d module

#21318 GAPI: Move GKernelPackage to cv namespace
  doc/tutorials/gapi/anisotropic_segmentation/porting_anisotropic_segmentation.markdown
  modules/gapi/include/opencv2/gapi/cpu/core.hpp
  modules/gapi/include/opencv2/gapi/fluid/core.hpp
  modules/gapi/include/opencv2/gapi/gkernel.hpp
  modules/gapi/include/opencv2/gapi/ocl/core.hpp
  modules/gapi/include/opencv2/gapi/plaidml/core.hpp
  modules/gapi/include/opencv2/gapi/render/render.hpp
  modules/gapi/include/opencv2/gapi/streaming/format.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/shadow_gapi.hpp
  modules/gapi/perf/common/gapi_video_perf_tests_inl.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gbackend_priv.hpp
  modules/gapi/src/api/gkernel.cpp
  modules/gapi/src/backends/common/gmetabackend.cpp
  modules/gapi/src/backends/common/gmetabackend.hpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/src/backends/cpu/gcpustereo.cpp
  modules/gapi/src/backends/cpu/gcpuvideo.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ocl/goclcore.cpp
  modules/gapi/src/backends/ocl/goclimgproc.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
  modules/gapi/src/backends/plaidml/gplaidmlcore.cpp
  modules/gapi/src/backends/render/grenderocv.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/compiler/gcompiler.hpp
  modules/gapi/src/compiler/passes/kernels.cpp
  modules/gapi/src/compiler/passes/passes.hpp
  modules/gapi/src/compiler/passes/transformations.cpp
  modules/gapi/test/common/gapi_video_tests_inl.hpp
  modules/gapi/test/gapi_basic_hetero_tests.cpp
  modules/gapi/test/gapi_compile_args_tests.cpp
  modules/gapi/test/gapi_fluid_resize_test.cpp
  modules/gapi/test/gapi_fluid_test_kernels.cpp
  modules/gapi/test/gapi_fluid_test_kernels.hpp
  modules/gapi/test/gapi_gpu_test.cpp
  modules/gapi/test/gapi_transform_tests.cpp
  modules/gapi/test/internal/gapi_int_executor_tests.cpp
  modules/gapi/test/rmat/rmat_integration_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
  samples/cpp/tutorial_code/gapi/doc_snippets/api_ref_snippets.cpp
  samples/cpp/tutorial_code/gapi/porting_anisotropic_image_segmentation/porting_anisotropic_image_segmentation_gapi_fluid.cpp
Labels: category: g-api / gapi

#21334 [Backport 5.x] Main PnP pose computation doc page
  doc/opencv.bib
  modules/3d/doc/3d.bib
  modules/3d/doc/solvePnP.markdown
  modules/3d/include/opencv2/3d.hpp
Labels: port/backport done, category: documentation, category: 3d module

#21354 samples: query for Python 3.10 setup
  samples/_winpack_run_python_sample.cmd
Labels: category: samples

#21360 (3.4) core(OpenCL): add option to abort on OpenCL kernel build failure
  modules/core/src/ocl.cpp
Labels: category: core, category: ocl

#21157 GAPI: Move Resize kernel from core to imgproc
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/src/api/kernels_core.cpp
  modules/gapi/src/api/kernels_imgproc.cpp
  modules/gapi/src/backends/cpu/gcpucore.cpp
  modules/gapi/src/backends/cpu/gcpuimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/ocl/goclcore.cpp
  modules/gapi/src/backends/ocl/goclimgproc.cpp
  modules/gapi/test/common/gapi_core_tests.hpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/common/gapi_imgproc_tests.hpp
  modules/gapi/test/common/gapi_imgproc_tests_inl.hpp
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
  modules/gapi/test/gapi_fluid_resize_test.cpp
  modules/gapi/test/gapi_fluid_test.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
  modules/gapi/test/internal/gapi_int_pattern_matching_test.cpp
  modules/gapi/test/internal/gapi_int_perform_substitution_test.cpp
  modules/gapi/test/internal/gapi_int_recompilation_test.cpp
  samples/cpp/tutorial_code/gapi/doc_snippets/dynamic_graph_snippets.cpp
Labels: category: g-api / gapi

#21356 core(OpenCL): add option to abort on OpenCL kernel build failure
  modules/dnn/src/opencl/activations.cl
Labels: port/backport done, category: infrastructure, category: ocl

#21276 Add support for 3D point cloud segmentation, using the USAC framework.
  modules/3d/doc/3d.bib
  modules/3d/include/opencv2/3d/ptcloud.hpp
  modules/3d/src/ptcloud/ptcloud_utils.cpp
  modules/3d/src/ptcloud/ptcloud_utils.hpp
  modules/3d/src/ptcloud/ptcloud_wrapper.hpp
  modules/3d/src/ptcloud/sac_segmentation.cpp
  modules/3d/src/ptcloud/sac_segmentation.hpp
  modules/3d/src/ptcloud/sampling.cpp
  modules/3d/src/usac.hpp
  modules/3d/src/usac/estimator.cpp
  modules/3d/src/usac/plane_solver.cpp
  modules/3d/src/usac/quality.cpp
  modules/3d/src/usac/ransac_solvers.cpp
  modules/3d/src/usac/sphere_solver.cpp
  modules/3d/test/test_sac_segmentation.cpp
  samples/cpp/tutorial_code/snippets/3d_sac_segmentation.cpp
Labels: feature, category: 3d module
