Repository opencv/opencv, pull requests merged in 2022-05, with the labels that each got.

#21940 Wrap gpuMat::release to Python
  modules/core/include/opencv2/core/cuda.hpp
  modules/python/test/test_cuda.py
Labels: category: gpu/cuda (contrib)

#21943 Fix compilation with non glibc.
  modules/core/src/parallel.cpp
Labels: category: core, category: build/install

#21896 Added workflow for Github Actions to build and test OpenCV on Windows for 4.x branch
  .github/workflows/PR-4.x-W10.yaml
Labels: CI/CD: GitHub Actions

#21970 GTest filtered list for 3.4 branch
  .github/workflows/PR-3.4-W10.yaml
Labels: CI/CD: GitHub Actions

#21971 GTest filtered list for 4.x
  .github/workflows/PR-4.x-W10.yaml
Labels: CI/CD: GitHub Actions

#21882 Remove an extra "not" in doc
  modules/core/include/opencv2/core/mat.hpp
Labels: category: documentation

#21883 G-API: VPL Source turn on Linux CPU version
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/streaming/onevpl/accel_types.hpp
  modules/gapi/perf/streaming/gapi_streaming_source_perf_tests.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_cpu.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.hpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_va_api.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_va_api.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/base_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/base_frame_adapter.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/dx11_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/surface.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/surface_pool.cpp
  modules/gapi/src/streaming/onevpl/cfg_param_device_selector.cpp
  modules/gapi/src/streaming/onevpl/cfg_params_parser.cpp
  modules/gapi/src/streaming/onevpl/demux/async_mfp_demux_data_provider.cpp
  modules/gapi/src/streaming/onevpl/demux/async_mfp_demux_data_provider.hpp
  modules/gapi/src/streaming/onevpl/device_selector_interface.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_engine_legacy.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_session.hpp
  modules/gapi/src/streaming/onevpl/engine/engine_session.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_engine.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/vpp_preproc_defines.hpp
  modules/gapi/src/streaming/onevpl/engine/processing_engine_base.hpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_engine_legacy.cpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_session.hpp
  modules/gapi/src/streaming/onevpl/onevpl_export.hpp
  modules/gapi/src/streaming/onevpl/source_priv.cpp
  modules/gapi/src/streaming/onevpl/utils.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_vpl_core_test.cpp
  modules/gapi/test/streaming/gapi_streaming_vpl_data_provider.cpp
  modules/gapi/test/streaming/gapi_streaming_vpl_device_selector.cpp
  modules/gapi/test/streaming/gapi_streaming_vpp_preproc_test.cpp
Labels: category: g-api / gapi

#21974 Fix global variable assignment in JS test suite
  modules/js/test/test_imgproc.js
Labels: test, category: javascript (js)

#21608 DNN: add depth2space and space2depth layer for onnx importer
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: category: dnn, category: dnn (onnx)

#21917 Workflow to use a self-hosted Github runner on Linux x86_64 for 3.4 branch
  .github/workflows/PR-3.4-U20.yaml
Labels: CI/CD: GitHub Actions

#21931 Add undistortImagePoints function
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/undistort.dispatch.cpp
  modules/calib3d/test/test_undistort_points.cpp
Labels: feature, category: calib3d

#21954 Small imencode documentation improvement
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation

#21963 fix JpegEncoder::write
  modules/imgcodecs/src/grfmt_jpeg.cpp
Labels: bug, category: imgcodecs

#21916 Fix KalmanFilter comment error
  modules/video/src/kalman.cpp
Labels: category: documentation

#21847 Minor documentation fixes for geometric image transformations
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#21871 TIFFTAG_PREDICTOR should not be applied unless LZW, DEFLATE or ADOBE_DEFLATE
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: category: imgcodecs

#21924 Workflow to build and test on ARM64 for 3.4 branch
  .github/workflows/PR-3.4-ARM64.yaml
Labels: CI/CD: GitHub Actions

#21933 Fix some typos in doc.
  3rdparty/openvx/README.md
  doc/js_tutorials/js_imgproc/js_morphological_ops/js_morphological_ops.markdown
  doc/js_tutorials/js_setup/js_nodejs/js_nodejs.markdown
  doc/py_tutorials/py_feature2d/py_feature_homography/py_feature_homography.markdown
  doc/py_tutorials/py_imgproc/py_morphological_ops/py_morphological_ops.markdown
  doc/tutorials/imgproc/morph_lines_detection/morph_lines_detection.md
Labels: category: documentation

#21935 Fix some typos in modules/.
  modules/core/include/opencv2/core/mat.hpp
  modules/cudafilters/include/opencv2/cudafilters.hpp
  modules/cudafilters/src/cuda/median_filter.cu
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/src/onnx/opencv-onnx.proto
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/opencl/medianFilter.cl
  modules/imgproc/test/test_convhull.cpp
  modules/ml/src/lr.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_intelperc.cpp
  modules/videoio/src/cap_intelperc.hpp
  modules/videoio/src/cap_libv4l.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: documentation

#21975 Move from https to ssh for Windows in Github Actions
  .github/workflows/PR-3.4-W10.yaml
Labels: CI/CD: GitHub Actions

#20471 GSoC module to save and load point cloud
  doc/tutorials/3d/point_cloud/point_cloud.markdown
  doc/tutorials/3d/point_cloud/teapot_grid.jpg
  doc/tutorials/3d/point_cloud/teapot_mesh.jpg
  doc/tutorials/3d/point_cloud/tutorial_point_cloud_teapot.jpg
  doc/tutorials/3d/table_of_content_3d.markdown
  doc/tutorials/tutorials.markdown
  modules/3d/include/opencv2/3d.hpp
  modules/3d/src/pointcloud/io_base.cpp
  modules/3d/src/pointcloud/io_base.hpp
  modules/3d/src/pointcloud/io_obj.cpp
  modules/3d/src/pointcloud/io_obj.hpp
  modules/3d/src/pointcloud/io_ply.cpp
  modules/3d/src/pointcloud/io_ply.hpp
  modules/3d/src/pointcloud/load_point_cloud.cpp
  modules/3d/src/pointcloud/utils.cpp
  modules/3d/src/pointcloud/utils.hpp
  modules/3d/test/test_pointcloud.cpp
  samples/python/essential_mat_reconstr.py
  samples/python/point_cloud.py
Labels: GSoC, category: 3d module

#21702 Fixes and optimizations for the SQPnP solver
  modules/calib3d/src/sqpnp.cpp
  modules/calib3d/src/sqpnp.hpp
Labels: category: calib3d

#21964 Documentation Fix: Python and Java switched in Explanation
  doc/tutorials/imgproc/imgtrans/hough_circle/hough_circle.markdown
Labels: category: documentation

#21977 opencv_contrib branch check on Windows
  .github/workflows/PR-3.4-W10.yaml
Labels: CI/CD: GitHub Actions

#21980 Move environment variables on a host side (GHA Windows)
  .github/workflows/PR-3.4-W10.yaml
Labels: CI/CD: GitHub Actions

#21907 Workflow to build and test on ARM64 for 4.x branch
  .github/workflows/PR-4.x-ARM64.yaml
Labels: CI/CD: GitHub Actions (GHA)

#21909 Reduce G-API tests number
  modules/gapi/test/cpu/gapi_core_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_core_tests_fluid.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_imgproc_tests_fluid.cpp
  modules/gapi/test/cpu/gapi_operators_tests_cpu.cpp
  modules/gapi/test/cpu/gapi_operators_tests_fluid.cpp
  modules/gapi/test/gpu/gapi_core_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_imgproc_tests_gpu.cpp
  modules/gapi/test/gpu/gapi_operators_tests_gpu.cpp
Labels: test, category: g-api / gapi

#21994 Extended DNN testing in GHA
  .github/workflows/PR-3.4-ARM64.yaml
  .github/workflows/PR-3.4-U20.yaml
  .github/workflows/PR-3.4-W10.yaml
Labels: CI/CD: GitHub Actions (GHA)

#21998 GHA: fix git merge (part 2)
  .github/workflows/PR-3.4-W10.yaml
Labels: CI/CD: GitHub Actions (GHA)

#21987 G-API(test): reduce used amount of memory
  modules/gapi/test/rmat/rmat_view_tests.cpp
Labels: test, category: g-api / gapi

#21968 Modify randomSampling in point cloud
  modules/3d/src/ptcloud/sampling.cpp
Labels: bug, category: 3d module

#21984 Add make_capture_src for video stream to Python
  modules/gapi/include/opencv2/gapi/streaming/cap.hpp
  modules/gapi/misc/python/samples/gaze_estimation.py
Labels: category: python bindings, category: g-api / gapi

#21941 imgproc: fix two typos (imput, magnutude)
  modules/imgproc/include/opencv2/imgproc/segmentation.hpp
  modules/imgproc/src/intelligent_scissors.cpp
Labels: category: documentation

#21992 Added support for 4B RGB V4L2 pixel formats
  modules/videoio/src/cap_v4l.cpp
Labels: category: videoio(camera)

#21991 Support asymmetric paddings for QConv in ONNX
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, category: dnn (onnx)

#22001 Move workflows to a dedicated repository
  .github/workflows/PR-3.4-ARM64.yaml
  .github/workflows/PR-3.4-U20.yaml
  .github/workflows/PR-3.4-W10.yaml
  .github/workflows/PR-3.4.yaml
Labels: CI/CD: GitHub Actions (GHA)

#22013 Move workflows to a dedicated repository for 4.x branch
  .github/workflows/PR-4.x-ARM64.yaml
  .github/workflows/PR-4.x-U20.yaml
  .github/workflows/PR-4.x-W10.yaml
  .github/workflows/PR-4.x.yaml
  .github/workflows/timvx_backend_tests.yml
Labels: CI/CD: GitHub Actions (GHA)

#22014 Move workflows to a dedicated repository for 5.x branch
  .github/workflows/PR-5.x-U20.yaml
  .github/workflows/PR-5.x.yaml
  .github/workflows/timvx_backend_tests.yml
Labels: CI/CD: GitHub Actions (GHA)

#21918 Add normal estimation and region growing algorithm for point cloud
  modules/3d/doc/3d.bib
  modules/3d/include/opencv2/3d/ptcloud.hpp
  modules/3d/src/ptcloud/normal_estimation.cpp
  modules/3d/src/ptcloud/region_growing_3d.cpp
  modules/3d/src/ptcloud/region_growing_3d.hpp
  modules/3d/test/test_normal_estimation.cpp
  modules/3d/test/test_ptcloud_utils.cpp
  modules/3d/test/test_ptcloud_utils.hpp
  modules/3d/test/test_sac_segmentation.cpp
Labels: category: 3d module

#21818 Add prefixes to layer names and layer output names
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn, category: dnn (onnx)

#22006 Fix vector access in TF::sortByExecutionOrder
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, test, category: dnn

#22028 (4.x) build warnings
  modules/calib3d/perf/perf_undistort.cpp
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: category: build/install

#22033 windows: skip failed videoio tests
  modules/videoio/test/test_audio.cpp
  modules/videoio/test/test_video_io.cpp
Labels: test, category: videoio

#22035 typo: Minkowsky is actually Minkowski
  modules/flann/include/opencv2/flann.hpp
  modules/flann/include/opencv2/flann/dist.h
Labels: category: documentation, category: flann

#22005 Move stitching package and tool to a dedicated repository
  apps/opencv_stitching_tool/README.md
  apps/opencv_stitching_tool/opencv_stitching/.gitignore
  apps/opencv_stitching_tool/opencv_stitching/__init__.py
  apps/opencv_stitching_tool/opencv_stitching/blender.py
  apps/opencv_stitching_tool/opencv_stitching/camera_adjuster.py
  apps/opencv_stitching_tool/opencv_stitching/camera_estimator.py
  apps/opencv_stitching_tool/opencv_stitching/camera_wave_corrector.py
  apps/opencv_stitching_tool/opencv_stitching/cropper.py
  apps/opencv_stitching_tool/opencv_stitching/exposure_error_compensator.py
  apps/opencv_stitching_tool/opencv_stitching/feature_detector.py
  apps/opencv_stitching_tool/opencv_stitching/feature_matcher.py
  apps/opencv_stitching_tool/opencv_stitching/image_handler.py
  apps/opencv_stitching_tool/opencv_stitching/largest_interior_rectangle.py
  apps/opencv_stitching_tool/opencv_stitching/megapix_scaler.py
  apps/opencv_stitching_tool/opencv_stitching/seam_finder.py
  apps/opencv_stitching_tool/opencv_stitching/stitcher.py
  apps/opencv_stitching_tool/opencv_stitching/stitching_error.py
  apps/opencv_stitching_tool/opencv_stitching/subsetter.py
  apps/opencv_stitching_tool/opencv_stitching/test/.gitignore
  apps/opencv_stitching_tool/opencv_stitching/test/SAMPLE_IMAGES_TO_DOWNLOAD.txt
  apps/opencv_stitching_tool/opencv_stitching/test/stitching_detailed.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_composition.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_matcher.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_megapix_scaler.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_performance.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_registration.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_stitcher.py
  apps/opencv_stitching_tool/opencv_stitching/timelapser.py
  apps/opencv_stitching_tool/opencv_stitching/warper.py
  apps/opencv_stitching_tool/opencv_stitching_tool.py
Labels: category: apps

#22034 ffmpeg/4.x: update FFmpeg wrapper 2022.05
  3rdparty/ffmpeg/ffmpeg.cmake
Labels: category: videoio, platform: win32, category: 3rdparty

#21843 Update js_usage.markdown to use onRuntimeInitialized
  doc/js_tutorials/js_setup/js_usage/js_usage.markdown
Labels: category: documentation, category: javascript (js)

#22021 Update fisheye::distortPoints() documentation
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation, category: calib3d

#22019 Fix cameracalibration test
  modules/calib3d/test/test_cameracalibration.cpp
Labels: bug, test, category: calib3d

#22054 Fix Xcode version matching
  platforms/ios/build_framework.py
Labels: category: build/install, platform: ios/osx

#22041 remove const from functions returning by value
  modules/core/include/opencv2/core/check.hpp
  modules/core/include/opencv2/core/utils/plugin_loader.private.hpp
  modules/core/src/check.cpp
  modules/core/src/ocl.cpp
  modules/core/src/utils/plugin_loader.impl.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/matchers.cpp
  modules/gapi/include/opencv2/gapi/fluid/gfluidkernel.hpp
  modules/gapi/include/opencv2/gapi/own/types.hpp
  modules/stitching/include/opencv2/stitching.hpp
  modules/stitching/include/opencv2/stitching/detail/motion_estimators.hpp
Labels: category: build/install

#22030 objdetect: qrcode_encoder: fix to missing timing pattern
  modules/objdetect/src/qrcode_encoder.cpp
  modules/objdetect/test/test_qrcode_encode.cpp
Labels: bug, category: objdetect
