Repository opencv/opencv, pull requests merged in 2022-02, with the labels that each got.

#21477 [G-API] Implement G-API pipeline modeling tool
  modules/gapi/CMakeLists.txt
  modules/gapi/samples/data/config_template.yml
  modules/gapi/samples/pipeline_modeling_tool.cpp
  modules/gapi/samples/pipeline_modeling_tool/dummy_source.hpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline.hpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline_builder.hpp
  modules/gapi/samples/pipeline_modeling_tool/test_pipeline_modeling_tool.py
  modules/gapi/samples/pipeline_modeling_tool/utils.hpp
Labels: category: build/install, category: samples, category: g-api / gapi

#21420 Introduce Cropping to OpenCV Stitching Tool
  apps/opencv_stitching_tool/opencv_stitching/blender.py
  apps/opencv_stitching_tool/opencv_stitching/cropper.py
  apps/opencv_stitching_tool/opencv_stitching/feature_matcher.py
  apps/opencv_stitching_tool/opencv_stitching/image_handler.py
  apps/opencv_stitching_tool/opencv_stitching/largest_interior_rectangle.py
  apps/opencv_stitching_tool/opencv_stitching/megapix_downscaler.py
  apps/opencv_stitching_tool/opencv_stitching/megapix_scaler.py
  apps/opencv_stitching_tool/opencv_stitching/panorama_estimation.py
  apps/opencv_stitching_tool/opencv_stitching/seam_finder.py
  apps/opencv_stitching_tool/opencv_stitching/stitcher.py
  apps/opencv_stitching_tool/opencv_stitching/subsetter.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_megapix_scaler.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_performance.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_registration.py
  apps/opencv_stitching_tool/opencv_stitching/test/test_stitcher.py
  apps/opencv_stitching_tool/opencv_stitching/warper.py
  apps/opencv_stitching_tool/opencv_stitching_tool.py
Labels: category: stitching, category: apps

#21538 Fallback to vaCreateImage + vaPutImage when vaDeriveImage fails
  modules/core/src/va_intel.cpp
Labels: feature, category: core, category: ocl

#21547 Option to enable/disable plugin linking with OpenCV
  cmake/OpenCVPluginStandalone.cmake
Labels: category: build/install

#21452 Use modern OpenVINO package interface
  CMakeLists.txt
  cmake/OpenCVDetectInferenceEngine.cmake
  doc/tutorials/introduction/config_reference/config_reference.markdown
  modules/dnn/CMakeLists.txt
  modules/gapi/CMakeLists.txt
Labels: feature, category: build/install, category: dnn, category: 3rdparty

#21551 (3.4) cmake: dnn scripts backport
  CMakeLists.txt
  cmake/OpenCVDetectInferenceEngine.cmake
  cmake/OpenCVUtils.cmake
  modules/dnn/CMakeLists.txt
Labels: port/backport done, category: build/install, category: dnn

#21474 GAPI Fluid: SIMD for DivC kernel.
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21511 G-API media format gray
  modules/gapi/include/opencv2/gapi/gframe.hpp
  modules/gapi/src/api/gframe.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/test/common/gapi_core_tests_inl.hpp
  modules/gapi/test/gapi_frame_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi

#21555 Fix calculation of GpuMat::dataend
  modules/core/src/cuda/gpu_mat.cu
  modules/ts/include/opencv2/ts/cuda_test.hpp
  modules/ts/src/cuda_test.cpp
Labels: bug, category: gpu/cuda (contrib)

#21562 cmake(carotene): disable with CV_DISABLE_OPTIMIZATION
  CMakeLists.txt
Labels: category: build/install, platform: arm, category: 3rdparty

#21569 dnn(ngraph): fixup get_output_as_single_output_node() replacement patch
  modules/dnn/src/dnn.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: bug, category: dnn

#21439 Odometry python support
  modules/3d/include/opencv2/3d/odometry.hpp
  modules/3d/misc/python/test/test_odometry.py
  modules/3d/src/rgbd/odometry.cpp
  modules/3d/src/rgbd/odometry_frame_impl.cpp
  modules/3d/src/rgbd/odometry_functions.cpp
  modules/3d/src/rgbd/odometry_functions.hpp
  modules/3d/src/rgbd/odometry_settings_impl.cpp
  modules/3d/test/test_odometry.cpp
  samples/python/odometry.py
Labels: category: python bindings, category: 3d module

#21566 [G-API] Pipeline modeling tool - Fix generating FP16 Mat
  modules/gapi/samples/pipeline_modeling_tool/dummy_source.hpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline_builder.hpp
  modules/gapi/samples/pipeline_modeling_tool/utils.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: g-api / gapi

#21573 Update LineIterator documentation
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: imgproc, category: documentation

#21577 fix cv::floodfill() for calling it with an empty mask
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/floodfill.cpp
  modules/imgproc/test/test_floodfill.cpp
Labels: bug, test, category: imgproc

#21560 G-API gst source gray support
  modules/gapi/include/opencv2/gapi/streaming/gstreamer/gstreamersource.hpp
  modules/gapi/src/streaming/gstreamer/gstreamer_media_adapter.cpp
  modules/gapi/src/streaming/gstreamer/gstreamersource.cpp
  modules/gapi/src/streaming/gstreamer/gstreamersource_priv.hpp
  modules/gapi/test/streaming/gapi_gstreamersource_tests.cpp
Labels: category: g-api / gapi

#21579 [G-API] Handle errors in IEBackend & modeling tool
  modules/gapi/samples/pipeline_modeling_tool.cpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/logger.hpp
Labels: category: g-api / gapi

#21567 G-API: Fix streaming hangs for ConstSource & Improve troubleshooting logger messages
  modules/gapi/src/executor/gstreamingexecutor.cpp
Labels: bug, category: g-api / gapi

#21582 Fix cv::FileStorage::Mode::Memory doxygen layout
  modules/core/include/opencv2/core/persistence.hpp
Labels: bug, category: documentation

#21590 Update text_detection.py
  samples/dnn/text_detection.py
Labels: bug, category: python bindings, category: samples, category: dnn

#21561 Default FFMPEG VideoCapture backend to rtsp_flags=prefer_tcp
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio

#21591 dnn: drop legacy Inference Engine NN builder API
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/include/opencv2/dnn/utils/inference_engine.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_misc.cpp
Labels: category: dnn, cleanup

#21599 build(winpack_dldt): force using CMake config for InferenceEngine
  cmake/OpenCVDetectInferenceEngine.cmake
  platforms/winpack_dldt/2021.4.2/cmake/InferenceEngineConfig-version.cmake
  platforms/winpack_dldt/2021.4.2/cmake/InferenceEngineConfig.cmake
  platforms/winpack_dldt/2021.4.2/sysroot.config.py
  platforms/winpack_dldt/build_package.py
Labels: bug, category: build/install, category: dnn, platform: win32

#21609 Update filters in ONNX tests
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: test, backport is needed, category: dnn

#21617 [backport] Update filters in ONNX tests
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: test, port/backport done, category: dnn

#21614 core(vsx): update vec_absd() workaround condition
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: category: build/install, platform: ppc (PowerPC)

#21622 (3.4) imgcodecs: add runtime checks to validate input
  modules/imgcodecs/src/grfmt_pam.cpp
  modules/imgcodecs/src/grfmt_tiff.cpp
Labels: bug, port/backport done, category: imgcodecs

#21612 Replaced incorrect double checked locking with a static
  modules/core/src/matrix.cpp
Labels: category: core, RFC

#21626 GAPI Perf Tests:Workaround for the OpenCV's issue.
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
Labels: bug, test, category: g-api / gapi

#21602 highui: qt - enable hidpi by default
  modules/highgui/src/window_QT.cpp
Labels: category: highgui-gui, RFC

#21628 GAPI Fluid Resize: Fix for 32bit build issue.
  modules/gapi/src/backends/fluid/gfluidcore_simd_sse41.hpp
Labels: bug, optimization, category: g-api / gapi

#21635 Issue 21595 fix 3.4 branch
  modules/imgproc/src/histogram.cpp
  modules/imgproc/test/test_histograms.cpp
Labels: bug, test, optimization, category: imgproc

#21615 Added 3D point cloud code comments and copyright
  modules/3d/include/opencv2/3d/ptcloud.hpp
  modules/3d/src/ptcloud/ptcloud_utils.cpp
  modules/3d/src/ptcloud/ptcloud_utils.hpp
  modules/3d/src/ptcloud/ptcloud_wrapper.hpp
  modules/3d/src/ptcloud/sac_segmentation.cpp
  modules/3d/src/ptcloud/sac_segmentation.hpp
  modules/3d/src/ptcloud/sampling.cpp
  modules/3d/test/test_sac_segmentation.cpp
  modules/3d/test/test_sampling.cpp
Labels: category: 3d module

#21598 Fix DpSeamFinder::hasOnlyOneNeighbor
  modules/stitching/src/seam_finders.cpp
Labels: category: stitching

#21639 Fix -Winvalid-noreturn under clang-cl
  modules/core/include/opencv2/core/base.hpp
Labels: category: core, category: build/install

#21534 GAPI FLUID: Enable dynamic dispatching for Merge4 kernel
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21613 GAPI Fluid: Fix incorrect kernel matrix size for Scharr
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
Labels: bug, category: g-api / gapi

#21652 Fix HashTSDF compilation
  modules/3d/src/rgbd/hash_tsdf_functions.cpp
Labels: bug, optimization, category: build/install, category: 3d module

#21618 G-API: Add VPL/VPP preproc core module
  modules/gapi/CMakeLists.txt
  modules/gapi/perf/streaming/gapi_streaming_source_perf_tests.cpp
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_cpu.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_cpu.hpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.hpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_interface.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/base_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/base_frame_adapter.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/cpu_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/cpu_frame_adapter.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/dx11_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/dx11_frame_adapter.hpp
  modules/gapi/src/streaming/onevpl/cfg_params_parser.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_engine_legacy.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_engine_legacy.hpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_session.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_session.hpp
  modules/gapi/src/streaming/onevpl/engine/engine_session.cpp
  modules/gapi/src/streaming/onevpl/engine/engine_session.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_engine.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_engine.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_session.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_session.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/utils.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/utils.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/vpp_preproc_defines.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc_defines.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc_engine_interface.hpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_engine_legacy.cpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_engine_legacy.hpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_session.cpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_session.hpp
  modules/gapi/src/streaming/onevpl/onevpl_export.hpp
  modules/gapi/src/streaming/onevpl/source_priv.cpp
  modules/gapi/src/streaming/onevpl/source_priv.hpp
  modules/gapi/src/streaming/onevpl/utils.cpp
  modules/gapi/src/streaming/onevpl/utils.hpp
  modules/gapi/test/streaming/gapi_streaming_vpl_core_test.cpp
  modules/gapi/test/streaming/gapi_streaming_vpl_data_provider.cpp
  modules/gapi/test/streaming/gapi_streaming_vpp_preproc_test.cpp
Labels: category: g-api / gapi

#21625 Update Clang toolchain for RVV.
  platforms/linux/riscv64-clang.toolchain.cmake
Labels: category: build/install, platform: riscv

#21553 Port to 4.x: submodule or a class scope for exported classes #21488
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/gapi/misc/python/package/gapi/__init__.py
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/src2/pycompat.hpp
  modules/python/test/test_misc.py
Labels: port/backport done, category: python bindings

#21630 Added NEON support in builds for Windows on ARM
  cmake/OpenCVCompilerOptions.cmake
  cmake/checks/cpu_neon.cpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/src/system.cpp
Labels: feature, category: build/install, platform: win32, platform: arm

#21458 AudioIO: add dnn speech recognition sample on C++
  samples/dnn/speech_recognition.cpp
Labels: feature, category: samples, category: dnn

#21542 Fix negative starts in Slice and add no-op Expand for consts
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/src/torch/torch_importer.cpp
  modules/dnn/test/test_layers.cpp
Labels: bug, test, category: dnn, category: dnn (onnx)
