Repository opencv/opencv, pull requests merged in 2022-01, with the labels that each got.

#21375 Doc warnings about experimental UMatUsageFlags
  modules/core/include/opencv2/core/mat.hpp
Labels: category: documentation, category: ocl, category: t-api

#21382 Fix #21366
  modules/imgproc/src/connectedcomponents.cpp
  modules/imgproc/test/test_connectedcomponents.cpp
Labels: bug, category: imgproc

#21394 Remove unnecessary use of ref-capture in code example.
  modules/core/include/opencv2/core/mat.hpp
Labels: category: core, category: documentation

#21398 apple/build_xcframework.py: fix incorrect catalyst archs
  platforms/apple/build_xcframework.py
Labels: bug, category: build/install, platform: ios/osx

#21412 kmeans: assertion "There can't be more clusters than elements"
  modules/core/src/kmeans.cpp
Labels: category: core

#21405 Use c++ namespaces explicitly
  modules/calib3d/src/dls.cpp
  modules/calib3d/src/dls.h
  modules/calib3d/src/solvepnp.cpp
Labels: bug, category: build/install, category: calib3d

#21416 videoio(MSMF): use info message in SourceReaderCB destructor
  modules/videoio/src/cap_msmf.cpp
Labels: category: videoio, platform: win32

#21409 update documentation
  doc/tutorials/dnn/dnn_face/dnn_face.markdown
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/include/opencv2/objdetect/detection_based_tracker.hpp
  modules/objdetect/include/opencv2/objdetect/face.hpp
  samples/dnn/face_detect.cpp
  samples/dnn/face_detect.py
Labels: category: documentation, category: objdetect

#21400 tiff need check TIFFTAG_SAMPLEFORMAT, should not always use unsigned.
  modules/imgcodecs/src/grfmt_tiff.cpp
Labels: feature, category: imgcodecs

#21421 Fix a potential UBSAN error.
  modules/core/src/matrix.cpp
Labels: category: core

#21374 Allow cv::cuda::Event to accept combinations of flags
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/src/cuda_stream.cpp
Labels: feature, category: gpu/cuda (contrib)

#21422 GAPI Resize: fix rounding of the scaled size
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
Labels: bug, category: g-api / gapi

#21424 Adapt remote inference to operate with NV12 blobs
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: feature, category: g-api / gapi

#21440 Fixed some issues found by static analysis
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/gapi/src/api/media.cpp
Labels: category: g-api / gapi, category: dnn (onnx)

#20363 Updated To Modern Version of Aravis USB 3 Vision Protocol Library
  modules/videoio/cmake/detect_aravis.cmake
  modules/videoio/src/cap_aravis.cpp
Labels: category: videoio(camera), category: 3rdparty

#21144 GAPI Fluid: Resize Linear U8C3 - reworking horizontal pass.
  modules/gapi/src/backends/fluid/gfluidcore_simd_sse41.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
Labels: bug, optimization, category: g-api / gapi

#21451 Update documentation of imreadmulti()
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation, category: imgcodecs

#21361 samples(python): update tracker.py
  samples/python/tracker.py
Labels: bug, category: samples, category: tracking

#20785 GAPI: Add OAK backend
  modules/gapi/CMakeLists.txt
  modules/gapi/cmake/init.cmake
  modules/gapi/include/opencv2/gapi/oak/oak.hpp
  modules/gapi/samples/oak_rgb_camera_encoding.cpp
  modules/gapi/samples/oak_small_hetero_pipeline.cpp
  modules/gapi/src/backends/oak/goak.cpp
  modules/gapi/src/backends/oak/goak_media_adapter.cpp
  modules/gapi/src/backends/oak/goakbackend.cpp
  modules/gapi/src/backends/oak/oak_media_adapter.hpp
  modules/gapi/test/oak/gapi_tests_oak.cpp
Labels: category: g-api / gapi

#21467 core(persistence): avoid NULL pointer dereference
  modules/core/src/persistence.cpp
  modules/core/src/persistence_impl.hpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#21470 build(winpack_dldt): repair build with MSVS 2019 (16.11.9)
  platforms/winpack_dldt/2021.4.2/20220118-dldt-fix-msvs-compilation-21469.patch
  platforms/winpack_dldt/2021.4.2/patch.config.py
Labels: bug, category: build/install, category: dnn, platform: win32, category: 3rdparty

#21357 Add domain support to model diagnostic tool
  modules/dnn/include/opencv2/dnn/layer.hpp
  modules/dnn/src/debug_utils.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/dnn_common.hpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
Labels: bug, feature, category: dnn (onnx)

#21468 fix: handle possible PyModule_AddObject failure
  modules/python/src2/pycompat.hpp
Labels: bug, category: python bindings

#21362 G-API: Suppress ngraph warnings for MSVS2015 (4268)
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: test, category: build/install, category: g-api / gapi

#21478 Python submodules initialization fixes
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, backport is needed, category: python bindings

#21483 (3.4) cmake(highgui): update handling of OpenGL libraries
  modules/highgui/CMakeLists.txt
Labels: bug, port/backport done, category: build/install

#21349 cmake(link): add '-Wl,--no-undefined'
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#21453 Reading BigTiff images
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: test, feature, category: imgcodecs

#21429 (3.4) dnn: fix API - explicit ctors, const methods
  modules/dnn/include/opencv2/dnn/dict.hpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/dnn_common.hpp
  modules/dnn/src/layers/recurrent_layers.cpp
Labels: category: dnn

#21437 (4.x) dnn: fix API - explicit ctors, const methods
  modules/dnn/include/opencv2/dnn/dict.hpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/objc/gen_dict.json
  modules/dnn/src/dnn.cpp
  modules/dnn/src/dnn_common.hpp
  modules/dnn/src/layers/recurrent_layers.cpp
Labels: category: dnn

#21065 docs: use doxygen-awesome theme
  doc/Doxyfile.in
  doc/doxygen-awesome.css
  doc/header.html
  doc/stylesheet.css
Labels: category: documentation, RFC

#21497 build: fix GCC12 compilation
  modules/core/src/persistence_base64.cpp
Labels: bug, category: core, category: build/install

#21500 videoio: added explicit gst-audio dependency for windows
  modules/videoio/cmake/detect_gstreamer.cmake
Labels: bug, category: videoio, category: build/install, platform: win32

#21505 Disable -Wreturn-type-c-linkage under clang-cl
  modules/core/include/opencv2/core/core_c.h
Labels: category: build/install, platform: win32

#21501 Update python samples
  samples/python/camera_calibration_show_extrinsics.py
  samples/python/common.py
  samples/python/digits.py
  samples/python/digits_video.py
  samples/python/facedetect.py
  samples/python/qrcode.py
  samples/python/text_skewness_correction.py
Labels: bug, category: samples

#21232 G-API: oneVPL DX11 inference
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/streaming/onevpl/cfg_params.hpp
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_cpu.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_cpu.hpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_dx11.hpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_interface.hpp
  modules/gapi/src/streaming/onevpl/accelerators/dx11_alloc_resource.cpp
  modules/gapi/src/streaming/onevpl/accelerators/dx11_alloc_resource.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/dx11_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/cfg_params.cpp
  modules/gapi/src/streaming/onevpl/cfg_params_parser.cpp
  modules/gapi/src/streaming/onevpl/cfg_params_parser.hpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_engine_legacy.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_engine_legacy.hpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_session.cpp
  modules/gapi/src/streaming/onevpl/engine/decode/decode_session.hpp
  modules/gapi/src/streaming/onevpl/engine/engine_session.hpp
  modules/gapi/src/streaming/onevpl/engine/processing_engine_base.cpp
  modules/gapi/src/streaming/onevpl/engine/processing_engine_base.hpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_engine_legacy.cpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_engine_legacy.hpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_session.cpp
  modules/gapi/src/streaming/onevpl/engine/transcode/transcode_session.hpp
  modules/gapi/src/streaming/onevpl/file_data_provider.hpp
  modules/gapi/src/streaming/onevpl/source_priv.cpp
  modules/gapi/src/streaming/onevpl/utils.hpp
  modules/gapi/test/streaming/gapi_streaming_vpl_core_test.cpp
Labels: category: g-api / gapi

#21512 Fix undefined behavior in line drawing.
  modules/imgproc/src/drawing.cpp
Labels: bug, category: imgproc

#21514 Fix VSX detection on FreeBSD
  modules/core/src/system.cpp
Labels: bug, category: core, category: build/install, platform: ppc (PowerPC)

#21506 core: FP denormals support
  modules/core/include/opencv2/core/utils/fp_control.private.hpp
  modules/core/include/opencv2/core/utils/fp_control_utils.hpp
  modules/core/src/parallel.cpp
  modules/core/src/system.cpp
  modules/core/test/test_misc.cpp
Labels: test, feature, category: core

#20832 G-API: Wrap GStreamerSource
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/streaming/gstreamer/gstreamerpipeline.hpp
  modules/gapi/include/opencv2/gapi/streaming/gstreamer/gstreamersource.hpp
  modules/gapi/misc/python/package/gapi/__init__.py
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_streaming.py
Labels: category: python bindings, category: g-api / gapi

#21490 Fix optional outputs support
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn (onnx)

#21499 Update imgcodecs.hpp
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation, category: imgcodecs

#21517 cmake: don't force -Werror=...
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#21525 fix: wrong reference counter after module initialization
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, category: python bindings

#21489 Python submodules initialization fixes backport to 4.x
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/test/test_misc.py
Labels: bug, port/backport done, category: python bindings

#21475 GAPI: Replace resize perf test to imgproc
  modules/gapi/perf/common/gapi_core_perf_tests.hpp
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests.hpp
  modules/gapi/perf/common/gapi_imgproc_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_cpu.cpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
  modules/gapi/perf/gpu/gapi_imgproc_perf_tests_gpu.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
Labels: test, category: g-api / gapi

#21528 fix for confusing Assertion in imshow
  modules/highgui/src/window.cpp
Labels: category: highgui-gui

#21533 GAPI: Change comparison function for DivC GPU test
  modules/gapi/perf/gpu/gapi_core_perf_tests_gpu.cpp
Labels: test, category: g-api / gapi

#21518 Add resize layer compatible with ONNX opset13 version
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, feature, category: dnn

#21521 dnn: apply hint to ignore denormals processing
  modules/dnn/src/caffe/caffe_importer.cpp
  modules/dnn/src/darknet/darknet_importer.cpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/src/torch/torch_importer.cpp
Labels: feature, category: dnn

#21527 Fix wrong MSAN errors.
  modules/core/src/hal_internal.cpp
Labels: category: core

#21540 (3.4) dnn: support outputs registration under new names
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance.cpp
Labels: bug, category: dnn

#21520 GAPI FLUID: Enable dynamic dispatching for Split4
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21508 android: set all zlib variables used by downstream packages
  cmake/OpenCVFindLibsGrfmt.cmake
Labels: category: build/install, platform: android

#21428 TiffEncoder write support more depth type
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: test, feature, category: imgcodecs
