Repository opencv/opencv, pull requests merged in 2022-09, with the labels that each got.

#22454 DNN: Try to be compatible with win32
  modules/dnn/src/layers/fast_convolution/fast_convolution.hpp
Labels: bug, category: dnn

#22456 G-API: Fix OneVPL linux build
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/src/streaming/onevpl/accelerators/accel_policy_va_api.cpp
  modules/gapi/src/streaming/onevpl/cfg_param_device_selector.cpp
Labels: category: build/install, category: g-api / gapi

#22226 [GSoC 2022] spng encoder/decoder added as optional png codec
  3rdparty/libspng/CMakeLists.txt
  3rdparty/libspng/LICENSE
  3rdparty/libspng/spng.c
  3rdparty/libspng/spng.h
  CMakeLists.txt
  cmake/OpenCVFindLibsGrfmt.cmake
  cmake/templates/cvconfig.h.in
  modules/highgui/src/window_w32.cpp
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/perf/perf_png.cpp
  modules/imgcodecs/src/grfmt_spng.cpp
  modules/imgcodecs/src/grfmt_spng.hpp
  modules/imgcodecs/src/grfmts.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_grfmt.cpp
  modules/imgcodecs/test/test_png.cpp
  modules/imgcodecs/test/test_read_write.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: feature, category: imgcodecs, GSoC, category: 3rdparty

#22474 videoio(test): fix build warning
  modules/videoio/test/test_ffmpeg.cpp
Labels: test, category: videoio, category: build/install

#22475 ADD weights yolov4 in models.yml
  samples/data/dnn/object_detection_classes_yolov4.txt
  samples/dnn/models.yml
Labels: category: samples, category: dnn

#22460 Stereo calibration fixed when intrinsic guess is given
  modules/calib/src/calibration.cpp
  modules/calib/test/test_cameracalibration.cpp
Labels: bug, category: calib3d

#22466 Improvement on error handling for HoughCircles
  modules/imgproc/src/hough.cpp
Labels: category: imgproc

#22480 Save output file to local directory instead of desktop (for windows)
  doc/pattern_tools/svgfig.py
Labels: category: apps

#21934 Fix some typos in platforms/, samples/, 3rdparty/.
  platforms/android/android.toolchain.cmake
  samples/cpp/tutorial_code/video/meanshift/camshift.cpp
  samples/cpp/tutorial_code/video/meanshift/meanshift.cpp
  samples/java/tutorial_code/video/meanshift/CamshiftDemo.java
  samples/java/tutorial_code/video/meanshift/MeanshiftDemo.java
  samples/winrt/ImageManipulations/MainPage.xaml.cpp
Labels: category: documentation

#22346 Changes separated from Mat 1D support in core #18594
  modules/core/src/arithm.cpp
  modules/core/src/minmax.cpp
  modules/core/test/test_mat.cpp
Labels: feature, category: core

#22451 G-API: Introduce abstract base classes for GExecutor and GStreamingExecutor
  modules/gapi/CMakeLists.txt
  modules/gapi/src/compiler/gcompiled.cpp
  modules/gapi/src/compiler/gcompiled_priv.hpp
  modules/gapi/src/compiler/gstreaming.cpp
  modules/gapi/src/compiler/gstreaming_priv.hpp
  modules/gapi/src/executor/gabstractexecutor.cpp
  modules/gapi/src/executor/gabstractexecutor.hpp
  modules/gapi/src/executor/gabstractstreamingexecutor.cpp
  modules/gapi/src/executor/gabstractstreamingexecutor.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gexecutor.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.hpp
Labels: feature, category: g-api / gapi

#22037 Add stateful kernel to python G-API
  modules/gapi/include/opencv2/gapi/python/python.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/test/test_gapi_sample_pipelines.py
  modules/gapi/misc/python/test/test_gapi_stateful_kernel.py
  modules/gapi/src/backends/python/gpythonbackend.cpp
Labels: category: python bindings, category: g-api / gapi

#22491 Calibration per view error fixed
  modules/calib/src/calibration.cpp
Labels: bug, category: calib3d

#22497 Update 3rdparty readme.txt for spng
  3rdparty/readme.txt
Labels: category: documentation

#22248 VideoCapture FFMpeg RTSP low fps fixes
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: test, feature, category: videoio

#22482 Tutorial for Generalized Hough Ballard and Guil Transform
  doc/tutorials/imgproc/generalized_hough_ballard_guil/generalized_hough_ballard_guil.markdown
  doc/tutorials/imgproc/generalized_hough_ballard_guil/images/generalized_hough_image.jpg
  doc/tutorials/imgproc/generalized_hough_ballard_guil/images/generalized_hough_less_perfect_result_img.jpg
  doc/tutorials/imgproc/generalized_hough_ballard_guil/images/generalized_hough_mini_image.jpg
  doc/tutorials/imgproc/generalized_hough_ballard_guil/images/generalized_hough_mini_template.jpg
  doc/tutorials/imgproc/generalized_hough_ballard_guil/images/generalized_hough_result_img.jpg
  doc/tutorials/imgproc/generalized_hough_ballard_guil/images/generalized_hough_template.jpg
  doc/tutorials/imgproc/imgtrans/hough_circle/hough_circle.markdown
  doc/tutorials/imgproc/imgtrans/remap/remap.markdown
  doc/tutorials/imgproc/table_of_content_imgproc.markdown
  doc/tutorials/objdetect/traincascade.markdown
  samples/cpp/tutorial_code/ImgTrans/generalizedHoughTransform.cpp
Labels: category: imgproc, category: documentation

#22448 changed names of permutations if Reshpe is in NHWC
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn

#22040 Optimize the cvCeil and cvFloor functions for LoongArch
  modules/core/include/opencv2/core/fast_math.hpp
Labels: optimization, category: core, platform: other

#22372 [GSoC 2022] nasm/simd support for libjpeg-turbo
  3rdparty/libjpeg-turbo/CMakeLists.txt
  3rdparty/libjpeg-turbo/src/simd/CMakeLists.txt
  CMakeLists.txt
  modules/imgcodecs/perf/perf_jpeg.cpp
Labels: optimization, category: imgcodecs, GSoC, category: 3rdparty

#22498 ffmpeg/4.x: update FFmpeg wrapper 2022.09
  3rdparty/ffmpeg/ffmpeg.cmake
  modules/videoio/test/test_ffmpeg.cpp
  modules/videoio/test/test_video_io.cpp
Labels: feature, category: videoio, platform: win32, category: 3rdparty

#22227 Fix issues: #22214 and #22198
  modules/videoio/src/cap_android_mediandk.cpp
Labels: bug, category: videoio, platform: android

#22504 Removes a broken link
  modules/videoio/include/opencv2/videoio.hpp
Labels: category: documentation

#22516 3rdparty: Update readme.txt for libjpeg-turbo simd
  3rdparty/readme.txt
Labels: category: documentation, category: build/install

#22495 add explicit onChange callback in cocoa cvSetTrackbarPos
  modules/highgui/src/window_cocoa.mm
Labels: bug, category: highgui-gui, platform: ios/osx

#22503 Add H264 / H265 writter support for Android
  modules/videoio/src/cap_android_mediandk.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/videoio_registry.cpp
Labels: feature, category: videoio, platform: android

#22145 Fixed time value obtained on some frames at the end of the video #22141
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_video_io.cpp
Labels: test, category: videoio

#22499 Calibration internals refactored
  modules/3d/src/levmarq.cpp
  modules/calib/src/calibration.cpp
Labels: category: calib3d

#22521 Do not store full CuDNN version in cache to exclude inconsistency duкing reconfiguration
  cmake/FindCUDNN.cmake
Labels: category: build/install

#22479 Fix issues in opencv_test_dnn from conv48 kernels without bias
  modules/dnn/src/vkcom/shader/conv48_nobias.comp
  modules/dnn/src/vkcom/shader/conv48_nobias_spv.cpp
  modules/dnn/src/vkcom/shader/spv_shader.hpp
  modules/dnn/src/vkcom/src/op_conv.cpp
Labels: bug, optimization, category: dnn

#22507 G-API: Replace MFX major version assertion to warning
  modules/gapi/src/streaming/onevpl/source_priv.cpp
Labels: category: g-api / gapi

#21945 fix a 3rd party blur3x3 function(the 7th value in tcurr should be set to the 5th value in old tcurr, which will be be overwritten by the 3rd value in old tcurr)
  3rdparty/carotene/src/blur.cpp
Labels: bug, platform: arm

#22523 Update mirrors 220916
  cmake/mirrors/gitcode.cmake
Labels: category: build/install

#22332 Fix for frame stride wider than frame width for 1080p issue
  modules/videoio/src/cap_android_camera.cpp
Labels: category: videoio(camera), platform: android

#22524 Fix MSVC15 compilation
  modules/3d/src/rgbd/normal.cpp
  modules/3d/src/rgbd/odometry.cpp
  modules/3d/src/rgbd/odometry_functions.cpp
  modules/calib/src/calibration.cpp
  modules/calib/test/test_cameracalibration.cpp
Labels: category: build/install, platform: win32

#22343 Poll for frame data if acquisition fails after OnCaptureCompleted
  modules/videoio/src/cap_android_camera.cpp
Labels: category: videoio(camera), platform: android

#22290 Support for YOLOv7 ONNX (not simplified)
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn (onnx)

#21738 add Gather implementation
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/gather_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn (onnx)

#22511 dnn: eliminate GCC12 warning in total() call
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
Labels: category: build/install, category: dnn

#22519 Stereo Calibration: Return rotation and transformation vectors for each calibration object
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/calibration.cpp
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_cameracalibration.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: feature, category: calib3d, port to 5.x is needed

#22512 build: eliminate uninitialized warnings from GCC12
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/imgproc/src/sumpixels.avx512_skx.hpp
Labels: category: build/install

#22535 GitHub Workflows security hardening
  .github/workflows/arm64-build-checks.yml
  .github/workflows/lint_python.yml
Labels: CI/CD: GitHub Actions (GHA)

#22286 Disabled compiling warnings in case of symbols in cmake for 4.x
  3rdparty/openexr/CMakeLists.txt
  3rdparty/openjpeg/openjp2/CMakeLists.txt
  cmake/OpenCVCompilerOptions.cmake
  modules/calib3d/src/calibration_handeye.cpp
  modules/calib3d/src/usac.hpp
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/include/opencv2/core/cuda.inl.hpp
  modules/core/include/opencv2/core/matx.hpp
  modules/core/include/opencv2/core/opengl.hpp
  modules/core/include/opencv2/core/utils/filesystem.private.hpp
  modules/features2d/src/affine_feature.cpp
  modules/objdetect/test/test_qrcode_encode.cpp
  modules/stitching/include/opencv2/stitching/detail/warpers.hpp
Labels: category: build/install

#22285 Disabled compiling warnings in case of symbols in cmake for 3.4
  3rdparty/openexr/CMakeLists.txt
  cmake/OpenCVCompilerOptions.cmake
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/include/opencv2/core/cuda.inl.hpp
  modules/core/include/opencv2/core/matx.hpp
  modules/core/include/opencv2/core/opengl.hpp
  modules/core/include/opencv2/core/utils/filesystem.private.hpp
  modules/features2d/src/affine_feature.cpp
  modules/stitching/include/opencv2/stitching/detail/warpers.hpp
Labels: category: build/install

#22287 Disabled compiling warnings in case of symbols in cmake for 5.x
  3rdparty/clapack/CMakeLists.txt
  3rdparty/openexr/CMakeLists.txt
  3rdparty/openjpeg/openjp2/CMakeLists.txt
  cmake/OpenCVCompilerOptions.cmake
  modules/3d/src/usac.hpp
  modules/calib/src/calibration_handeye.cpp
  modules/core/include/opencv2/core/cuda.hpp
  modules/core/include/opencv2/core/cuda.inl.hpp
  modules/core/include/opencv2/core/matx.hpp
  modules/core/include/opencv2/core/opengl.hpp
  modules/core/include/opencv2/core/utils/filesystem.private.hpp
  modules/features2d/src/affine_feature.cpp
  modules/objdetect/test/test_qrcode_encode.cpp
  modules/stitching/include/opencv2/stitching/detail/warpers.hpp
Labels: category: build/install

#22547 Detect RISC-V compiler from PATH environment variable
  platforms/linux/riscv64-gcc.toolchain.cmake
Labels: category: build/install, platform: riscv

#22128 [GSoC 2022] Multipage Image Decoder API
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: category: imgcodecs, RFC, GSoC

#22558 Fix v_signmask for RISC-V Vector
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: platform: riscv

#22568 Report that animated webp is not supported for now
  modules/imgcodecs/src/grfmt_webp.cpp
Labels: category: imgcodecs

#22570 riscv: use /opt/riscv path in toolchain
  platforms/linux/riscv64-clang.toolchain.cmake
  platforms/linux/riscv64-gcc.toolchain.cmake
Labels: category: build/install, platform: riscv

#22572 [3.4] Add information about the disparity-to-depth mapping matrix
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation, category: calib3d

#22518 [G-API] Pipeline modeling tool - support local infer node config
  modules/gapi/samples/pipeline_modeling_tool.cpp
  modules/gapi/samples/pipeline_modeling_tool/utils.hpp
Labels: category: g-api / gapi

#22552 OpenCV for OpenVINO documentation
  doc/tutorials/dnn/dnn_android/dnn_android.markdown
  doc/tutorials/dnn/dnn_halide_scheduling/dnn_halide_scheduling.markdown
  doc/tutorials/dnn/dnn_openvino/dnn_openvino.markdown
  doc/tutorials/dnn/table_of_content_dnn.markdown
  modules/dnn/include/opencv2/dnn/dnn.hpp
Labels: category: documentation

#22566 Fix multiple sdtlib linkage warning on Windows with MSVS.
  3rdparty/libjpeg-turbo/CMakeLists.txt
Labels: category: build/install

#22358 QRcode, change INTER_LINEAR to INTER_LINEAR_EXACT
  modules/objdetect/misc/python/test/test_qrcode_detect.py
  modules/objdetect/perf/perf_qrcode_pipeline.cpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: bug, test, category: objdetect, affected: 3.4, platform: arm

#22585 DNN: Remove unused code in onnx_importer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: dnn (onnx)

#20379 Add StackBlur for imgproc
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/perf/perf_blur.cpp
  modules/imgproc/src/stackblur.cpp
  modules/imgproc/test/test_stackblur.cpp
Labels: feature, category: imgproc

#22589 fix warnings in ImageCollection
  modules/imgcodecs/src/loadsave.cpp
Labels: category: build/install, category: imgcodecs
