Repository opencv/opencv, pull requests merged in 2022-11, with the labels that each got.

#22739 DNN: remove never used code in onnximporter
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: category: dnn (onnx), cleanup

#22682 3D: Handle cases where the depth of Octree setting is too large
  modules/3d/include/opencv2/3d.hpp
  modules/3d/src/octree.cpp
  modules/3d/test/test_octree.cpp
Labels: category: 3d module

#22744 Fix the problem that "ADE" downloaded from GitCode doesn't work
  cmake/mirrors/gitcode.cmake
Labels: category: build/install

#22761 Fix `floodFill` for very large images
  modules/imgproc/src/floodfill.cpp
Labels: bug, category: imgproc

#22494 G-API Expose all core operations to python
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gscalar.hpp
  modules/gapi/include/opencv2/gapi/imgproc.hpp
  modules/gapi/include/opencv2/gapi/s11n.hpp
  modules/gapi/misc/python/package/gapi/__init__.py
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/misc/python/python_bridge.hpp
  modules/gapi/misc/python/test/test_gapi_core.py
  modules/gapi/misc/python/test/test_gapi_types.py
  modules/gapi/src/backends/common/serialization.cpp
Labels: feature, category: python bindings, category: g-api / gapi

#22790 OpenEXR encoder: add capability to set the DWA compression level
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_exr.cpp
Labels: feature, category: imgcodecs

#22706 Introduce libavdevice to make v4l2 available to the ffmpeg backend
  CMakeLists.txt
  modules/videoio/cmake/detect_ffmpeg.cmake
  modules/videoio/misc/plugin_ffmpeg/CMakeLists.txt
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio, category: videoio(camera)

#22802 Fix infinit loop in tf 3.4 branch
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
Labels: bug, port/backport done, affected: 3.4, category: dnn

#22804 Remove infinite recursion in Trackbar handling on Windows
  modules/highgui/src/window_w32.cpp
Labels: bug, category: highgui-gui

#22801 3rdparty: zlib 1.2.12 => 1.2.13
  3rdparty/zlib/CMakeLists.txt
  3rdparty/zlib/ChangeLog
  3rdparty/zlib/LICENSE
  3rdparty/zlib/README
  3rdparty/zlib/compress.c
  3rdparty/zlib/crc32.c
  3rdparty/zlib/deflate.c
  3rdparty/zlib/deflate.h
  3rdparty/zlib/gzlib.c
  3rdparty/zlib/gzread.c
  3rdparty/zlib/gzwrite.c
  3rdparty/zlib/infback.c
  3rdparty/zlib/inflate.c
  3rdparty/zlib/inftrees.c
  3rdparty/zlib/inftrees.h
  3rdparty/zlib/trees.c
  3rdparty/zlib/uncompr.c
  3rdparty/zlib/zconf.h
  3rdparty/zlib/zlib.h
  3rdparty/zlib/zutil.c
  3rdparty/zlib/zutil.h
Labels: category: 3rdparty

#22811 core: support CV_Check*() macros with 'bool' parameters
  modules/core/include/opencv2/core/check.hpp
  modules/core/src/check.cpp
  modules/imgcodecs/src/grfmt_webp.cpp
Labels: feature, category: core

#22741 HashTSDF: fix for volume pose
  modules/3d/include/opencv2/3d/volume_settings.hpp
  modules/3d/src/opencl/hash_tsdf.cl
  modules/3d/src/rgbd/hash_tsdf_functions.cpp
  modules/3d/src/rgbd/volume_settings_impl.cpp
  modules/3d/test/test_tsdf.cpp
Labels: bug, category: 3d module

#22816 Suppress CUDA nvcc generated warnings #1394-D and #1388-D on windows
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#22814 log QR version and corners
  modules/objdetect/src/qrcode.cpp
Labels: category: objdetect

#22771 define the number of dstChannels for HLS and HSV conversion as well
  modules/imgproc/src/color.hpp
Labels: bug, category: imgproc, affected: 3.4

#22735 G-API Expose all imgproc operations to python
  modules/gapi/include/opencv2/gapi/imgproc.hpp
Labels: feature, category: python bindings, category: g-api / gapi

#22805 Fix #22766: Corrected off-by one error causing inconsistent row spacing.
  modules/highgui/src/window_w32.cpp
Labels: bug, category: highgui-gui, affected: 3.4

#22831 gapi: fix InferWithReshape test crash when data is not found
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: bug, test, category: g-api / gapi

#22839 fix typo: Gausssian to Gaussian
  doc/js_tutorials/js_imgproc/js_gradients/js_gradients.markdown
  doc/py_tutorials/py_imgproc/py_gradients/py_gradients.markdown
  modules/video/src/bgfg_gaussmix2.cpp
Labels: bug, category: documentation

#22737 Cocoa/highgui: Set `[NSApp activateIgnoringOtherApps]` to spawn window on top
  modules/highgui/src/window_cocoa.mm
Labels: category: highgui-gui, platform: ios/osx

#22842 backport #22737: Cocoa/highgui: Set [NSApp activateIgnoringOtherApps] to spawn window on top
  modules/highgui/src/window_cocoa.mm
Labels: category: highgui-gui, platform: ios/osx

#22806 Fix #22767: Ensure that the buttons are spaced to the size of the toolbar window, which is always visible.
  modules/highgui/src/window_w32.cpp
Labels: bug, category: highgui-gui, affected: 3.4

#22775 DNN: Make MatMul layer support 3D or 4D operation with const input
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, category: dnn (onnx)

#22178 HashTSDF: enableGrowth property
  modules/3d/include/opencv2/3d/volume.hpp
  modules/3d/src/rgbd/hash_tsdf_functions.cpp
  modules/3d/src/rgbd/hash_tsdf_functions.hpp
  modules/3d/src/rgbd/tsdf_functions.cpp
  modules/3d/src/rgbd/volume_impl.cpp
  modules/3d/src/rgbd/volume_impl.hpp
  modules/3d/test/ocl/test_tsdf.cpp
  modules/3d/test/test_tsdf.cpp
Labels: category: 3d module

#22478 DNN: Let part of the operators in nary_eltwise support CUDA
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/op_cuda.cpp
Labels: category: gpu/cuda (contrib)

#22845 Volume interface changes, etc.
  modules/3d/include/opencv2/3d/detail/submap.hpp
  modules/3d/include/opencv2/3d/volume.hpp
  modules/3d/include/opencv2/3d/volume_settings.hpp
  modules/3d/perf/perf_tsdf.cpp
  modules/3d/src/rgbd/color_tsdf_functions.cpp
  modules/3d/src/rgbd/color_tsdf_functions.hpp
  modules/3d/src/rgbd/hash_tsdf_functions.cpp
  modules/3d/src/rgbd/hash_tsdf_functions.hpp
  modules/3d/src/rgbd/tsdf_functions.cpp
  modules/3d/src/rgbd/tsdf_functions.hpp
  modules/3d/src/rgbd/volume_impl.cpp
  modules/3d/src/rgbd/volume_impl.hpp
  modules/3d/src/rgbd/volume_settings_impl.cpp
  modules/3d/test/ocl/test_tsdf.cpp
  modules/3d/test/test_tsdf.cpp
Labels: category: 3d module

#22855 Print CL status code on error in opengl interop functions
  modules/core/src/opengl.cpp
Labels: category: core

#22866 Fixed OpenGL errors formatting
  modules/core/src/opengl.cpp
Labels: category: core

#22875 More fixes for OpenCL error reporting
  modules/core/src/opengl.cpp
Labels: category: core

#22873 DNN: let MatMul can work when both two inputs are const
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, feature, category: dnn, category: dnn (onnx)

#22809 dnn: support ONNX Tile
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/tile_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn, category: dnn (onnx)

#22857 dnn: add batched nms
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/nms.cpp
  modules/dnn/test/test_nms.cpp
Labels: feature, category: dnn

#22792 Add support for CAP_PROP_ORIENTATION_AUTO to AVFoundation backend
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/test/test_ffmpeg.cpp
  modules/videoio/test/test_orientation.cpp
Labels: feature, category: videoio, platform: ios/osx
