Repository opencv/opencv, pull requests merged in 2022-03, with the labels that each got.

#21645 Optimize cv::applyColorMap() for simple case
  modules/imgproc/src/colormap.cpp
Labels: optimization, category: imgproc

#21530 GAPI Fluid: SIMD for DivRC kernel.
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21488 feature: submodule or a class scope for exported classes
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2.cpp
  modules/python/src2/gen2.py
  modules/python/src2/pycompat.hpp
  modules/python/test/test_misc.py
Labels: port/backport done, feature, category: python bindings, RFC

#21676 Fix convertFromD3D11Texture2D is not working with NVIDIA GPU
  modules/core/src/directx.cpp
Labels: bug, category: core, category: ocl

#21674 Bug fixes and feature support in stitching_detailed.py
  samples/python/stitching_detailed.py
Labels: bug, category: python bindings, category: samples, category: stitching

#21658 G-API: Add ROI processing in VPP preproc
  modules/gapi/perf/streaming/gapi_streaming_source_perf_tests.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_engine.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_engine.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_session.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_session.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc_engine_interface.hpp
  modules/gapi/test/streaming/gapi_streaming_vpp_preproc_test.cpp
Labels: category: g-api / gapi

#21692 add apply softmax option to ClassificationModel
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/model.cpp
Labels: feature, category: dnn

#21669 G-API: Added reshape() functionality to CPU backend
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/cpu/gcpubackend.hpp
  modules/gapi/src/backends/fluid/gfluidbackend.cpp
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
  modules/gapi/test/internal/gapi_int_executor_tests.cpp
Labels: test, feature, category: g-api / gapi

#21701 Add 10-12-14bit (integer) TIFF decoding support
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: test, feature, category: imgcodecs

#21710 videoio(ffmpeg): fix memory leak through sw_picture
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, category: videoio

#21715 Changed call of NodeTypeInfo constructor
  modules/dnn/src/ie_ngraph.cpp
Labels: category: dnn

#21703 Add n-dimensional transpose to core
  modules/core/include/opencv2/core.hpp
  modules/core/perf/perf_arithm.cpp
  modules/core/src/matrix_transform.cpp
  modules/core/test/test_arithm.cpp
Labels: test, feature, category: core

#21522 Fix LSTM support in ONNX
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, test, feature, category: dnn (onnx)

#21687 G-API: Add VPP preproc CPU/GPU dispatcher
  modules/gapi/CMakeLists.txt
  modules/gapi/src/streaming/onevpl/accelerators/surface/base_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/base_frame_adapter.hpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/cpu_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/accelerators/surface/dx11_frame_adapter.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_dispatcher.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_dispatcher.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_engine.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/vpp_preproc_defines.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc_defines.hpp
  modules/gapi/test/streaming/gapi_streaming_vpp_preproc_test.cpp
Labels: feature, category: g-api / gapi

#21686 GAPI Fluid: Dynamic dispatching for Add kernel.
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21722 Fix libva dynamic loading
  modules/core/src/va_wrapper.impl.hpp
Labels: bug, category: core, category: build/install

#21677 better accuracy of _rotatedRectangleIntersection
  modules/imgproc/src/intersection.cpp
  modules/imgproc/test/test_intersection.cpp
Labels: bug, category: imgproc

#21678 GAPI Fluid: Resize F32C1 scalar version.
  modules/gapi/include/opencv2/gapi/own/assert.hpp
  modules/gapi/perf/cpu/gapi_imgproc_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
Labels: category: g-api / gapi

#21531 Support downloading 3rdparty resources from Gitcode & Gitlab-style mirrors
  cmake/OpenCVDownload.cmake
  cmake/mirrors/custom.cmake
  cmake/mirrors/gitcode.cmake
Labels: feature, category: build/install

#21746 GAPI Fluid: Enable dynamic dispatching for the Sub kernel.
  modules/gapi/perf/common/gapi_core_perf_tests_inl.hpp
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21739 cartToPolar/polarToCart: disable inplace mode
  modules/core/src/mathfuncs.cpp
  modules/core/test/test_arithm.cpp
  modules/ts/include/opencv2/ts/ocl_test.hpp
Labels: bug, category: core

#21756 Objective-C wrapper header fix-ups to avoid clashes with system macros
  modules/core/misc/objc/gen_dict.json
  modules/objc/generator/gen_objc.py
Labels: platform: ios/osx, category: swift/objc bindings

#21764 Update CameraBridgeViewBase error message
  modules/java/generator/android/java/org/opencv/android/CameraBridgeViewBase.java
Labels: platform: android

#21759 Fix build with LLVM 13 on ppc64le
  modules/core/include/opencv2/core/vsx_utils.hpp
Labels: category: build/install, platform: ppc (PowerPC)

#21743 Fix typos in tutorials within `docs/`
  doc/js_tutorials/js_assets/webnn-electron/package.json
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  doc/tutorials/calib3d/usac.markdown
  doc/tutorials/core/how_to_use_OpenCV_parallel_for_new/how_to_use_OpenCV_parallel_for_new.markdown
  doc/tutorials/dnn/dnn_halide_scheduling/dnn_halide_scheduling.markdown
  doc/tutorials/dnn/dnn_text_spotting/dnn_text_spotting.markdown
  doc/tutorials/gapi/anisotropic_segmentation/porting_anisotropic_segmentation.markdown
  doc/tutorials/gapi/interactive_face_detection/interactive_face_detection.markdown
  doc/tutorials/imgproc/shapedescriptors/bounding_rects_circles/bounding_rects_circles.markdown
  doc/tutorials/introduction/android_binary_package/dev_with_OCV_on_Android.markdown
  doc/tutorials/introduction/linux_gdb_pretty_printer/linux_gdb_pretty_printer.markdown
  doc/tutorials/ios/image_manipulation/image_manipulation.markdown
Labels: category: documentation

#21772 dnn: fix various dnn related typos
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/cuda/concat.cu
  modules/dnn/src/cuda/kernel_dispatcher.hpp
  modules/dnn/src/cuda/permute.cu
  modules/dnn/src/cuda/slice.cu
  modules/dnn/src/cuda4dnn/csl/memory.hpp
  modules/dnn/src/cuda4dnn/csl/pointer.hpp
  modules/dnn/src/darknet/darknet_io.cpp
  modules/dnn/src/model.cpp
  modules/dnn/src/tengine4dnn/src/tengine_graph_convolution.cpp
  modules/dnn/test/test_ie_models.cpp
  samples/dnn/speech_recognition.cpp
  samples/dnn/speech_recognition.py
Labels: category: dnn

#21660 [G-API] Handle exceptions in streaming executor
  modules/gapi/include/opencv2/gapi/cpu/gcpukernel.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/streaming/gstreamingbackend.cpp
  modules/gapi/src/compiler/gislandmodel.cpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.hpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
Labels: category: g-api / gapi

#21719 [G-API] Pipeline modeling tool: Skip frames
  modules/gapi/samples/pipeline_modeling_tool.cpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline_builder.hpp
  modules/gapi/samples/pipeline_modeling_tool/test_pipeline_modeling_tool.py
Labels: category: g-api / gapi

#21728 GAPI Fluid: SIMD AVX2 Resize F32C1.
  modules/gapi/src/backends/fluid/gfluidimgproc.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_simd_avx2.hpp
Labels: optimization, category: g-api / gapi

#21750 dnn: fix index access
  modules/dnn/src/dnn.cpp
Labels: bug, category: dnn

#21601 DNN: Support some reduce layers of ONNX on CPU backend
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/int8layers/reduce_layer.cpp
  modules/dnn/src/layers/reduce_layer.cpp
  modules/dnn/src/net_quantization.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: test, category: dnn, category: dnn (onnx)

#21781 fix: inline namespace handling in header parser
  modules/python/src2/hdr_parser.py
Labels: bug, category: python bindings

#21785 python: ensure publishing of subclasses before derived types
  modules/python/src2/gen2.py
Labels: bug, category: python bindings

#21777 GAPI Fluid: SIMD for ConvertTo.
  modules/gapi/perf/cpu/gapi_core_perf_tests_fluid.cpp
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: optimization, category: g-api / gapi

#21351 Update universal intrinsics of RVV back-end.
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
Labels: optimization, category: core, platform: riscv

#21796 dnn: fix ReduceLayer implementation, update OpenVINO tests
  modules/dnn/src/layers/reduce_layer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, test, category: dnn

#21782 [G-API] Fix problems with 1D cv::Mat as graph output
  modules/core/src/matrix.cpp
  modules/core/test/test_mat.cpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline_builder.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/test/gapi_sample_pipelines.cpp
Labels: bug, category: core, category: g-api / gapi

#21036 dnn: TIM-VX NPU backend support
  3rdparty/libtim-vx/tim-vx.cmake
  CMakeLists.txt
  cmake/OpenCVFindTIMVX.cmake
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/int8layers/batch_norm_layer.cpp
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/elementwise_layers.cpp
  modules/dnn/src/int8layers/eltwise_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/pooling_layer.cpp
  modules/dnn/src/int8layers/quantization_utils.cpp
  modules/dnn/src/int8layers/softmax_layer.cpp
  modules/dnn/src/layer.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/legacy_backend.cpp
  modules/dnn/src/net_impl.cpp
  modules/dnn/src/net_impl.hpp
  modules/dnn/src/net_impl_backend.cpp
  modules/dnn/src/net_impl_fuse.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/op_timvx.cpp
  modules/dnn/src/op_timvx.hpp
  modules/dnn/src/registry.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_int8_layers.cpp
Labels: feature, category: dnn
