Repository opencv/opencv, pull requests merged in 2022-12, with the labels that each got.

#22594 add test for PR #22253
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2_convert.hpp
  modules/python/test/test_misc.py
Labels: test, category: python bindings

#22899 videoio: fixed FFmpeg plugin build
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_interface.hpp
Labels: bug, category: videoio, category: build/install

#22910 cmake: ocv_check_modules: ignore -latomic and -lstdc++
  cmake/OpenCVUtils.cmake
Labels: category: build/install

#22888 dnn(openvino): fix custom layers BlockingDesc
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: bug, category: dnn

#22865 ocl_minMaxIdx to call minmaxloc.cl for OpenCL 1.2+ only
  modules/core/src/minmax.cpp
Labels: category: core, category: ocl

#22808 support Nanotrack in video module
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/misc/python/pyopencv_video.hpp
  modules/video/src/tracking/tracker_nano.cpp
  modules/video/test/test_trackers.cpp
  samples/dnn/nanotrack_tracker.cpp
  samples/python/tracker.py
Labels: test, feature, category: tracking

#22863 TSDF tests refactored
  modules/3d/include/opencv2/3d/volume_settings.hpp
  modules/3d/perf/perf_tsdf.cpp
  modules/3d/src/rgbd/hash_tsdf_functions.cpp
  modules/3d/src/rgbd/hash_tsdf_functions.hpp
  modules/3d/src/rgbd/tsdf_functions.cpp
  modules/3d/src/rgbd/volume_impl.cpp
  modules/3d/test/ocl/test_tsdf.cpp
  modules/3d/test/test_tsdf.cpp
Labels: category: 3d module

#22840 DNN: reduce the memory used in convolution layer
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_darknet_importer.cpp
Labels: test, optimization, category: dnn

#22882 DNN: gemm support transA and transB, and first input is constance.
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, category: dnn, category: dnn (onnx)

#22922 risc-v: fix RVV backend on clang with undefined CV_RVV_SCALABLE
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
Labels: bug, optimization, category: core, platform: riscv

#22932 cmake(3rdparty): drop simd warning in libjpeg-turbo
  3rdparty/libjpeg-turbo/src/simd/CMakeLists.txt
Labels: category: build/install

#22933 videoio(test): test skip due to non-updated FFmpeg wrapper
  modules/videoio/test/test_ffmpeg.cpp
Labels: test, category: videoio

#22937 Integer underflow fix for morphologyEx in Carotene (arm).
  3rdparty/carotene/hal/tegra_hal.hpp
  modules/imgproc/test/test_filter.cpp
Labels: bug, test, optimization, category: imgproc, platform: arm

#22940 build: fix/eliminate MSVC warnings
  modules/calib3d/test/test_cameracalibration.cpp
  modules/calib3d/test/test_fisheye.cpp
  modules/core/include/opencv2/core/types.hpp
  modules/core/test/test_intrin_utils.hpp
  modules/gapi/include/opencv2/gapi/ocl/goclkernel.hpp
  modules/gapi/src/streaming/onevpl/default.cpp
  modules/objdetect/src/qrcode.cpp
  modules/video/src/tracking/tracker_nano.cpp
Labels: category: build/install

#22942 videoio(test): update PSNR check for H264/265
  modules/videoio/test/test_ffmpeg.cpp
  modules/videoio/test/test_video_io.cpp
Labels: test, category: videoio

#22928 cmake: fix RISC-V toolchains
  cmake/OpenCVCompilerOptimizations.cmake
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  platforms/linux/riscv-gnu.toolchain.cmake
  platforms/linux/riscv.toolchain.cmake
  platforms/linux/riscv64-clang.toolchain.cmake
  platforms/linux/riscv64-gcc.toolchain.cmake
  platforms/linux/riscv64-gnu.toolchain.cmake
Labels: category: build/install, platform: riscv

#22946 fix: AVFoundation inconsistent camera indices
  modules/videoio/src/cap_avfoundation_mac.mm
Labels: category: videoio(camera), platform: ios/osx

#22924 core(logger): strip opencv's modules base path
  modules/core/src/logger.cpp
Labels: feature, category: core

#22955 fix: add _ suffix to properties having reserved keyword names
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/gen2.py
  modules/python/test/test_misc.py
Labels: test, category: python bindings

#22954 fix: remove function duplicates in test_misc.py
  modules/python/test/test_misc.py
Labels: test, category: python bindings

#22675 Update OpenCVDetectCUDA.cmake
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#22939 Add waitAny wrapper and bindings
  modules/core/include/opencv2/core/bindings_utils.hpp
  modules/python/src2/cv2_convert.cpp
  modules/python/src2/cv2_convert.hpp
  modules/python/test/test_misc.py
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/misc/python/pyopencv_videoio.hpp
Labels: category: python bindings

#22958 Fix missing FFmpeg include needed for av_get_pix_fmt_name
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio, category: build/install

#22951 Video: update download link for NanoTrack
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/test/test_trackers.cpp
  samples/python/tracker.py
Labels: test, category: video, category: samples

#22891 Use QR code alignment markers
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/perf/perf_qrcode_pipeline.cpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: test, feature, category: objdetect

#22919 Timeouts support for GStreamer backend
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_gstreamer.cpp
Labels: feature, category: videoio

#22828 DNN: make MatMul support 3D or 4D with broadcast
  modules/dnn/src/cuda4dnn/primitives/matmul.hpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, feature, category: dnn, category: dnn (onnx)

#22907 Update windows_install.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation

#22966 Fix slower CV_PAUSE on SkyLake and above.
  modules/core/src/parallel_impl.cpp
Labels: optimization, category: core

#22936 videoio: add Orbbec Gemini 2 and Astra 2 camera support
  modules/videoio/src/cap_obsensor/obsensor_stream_channel_interface.hpp
  modules/videoio/src/cap_obsensor/obsensor_stream_channel_msmf.cpp
  modules/videoio/src/cap_obsensor/obsensor_uvc_stream_channel.cpp
  modules/videoio/src/cap_obsensor/obsensor_uvc_stream_channel.hpp
  modules/videoio/src/cap_obsensor_capture.cpp
  modules/videoio/src/cap_obsensor_capture.hpp
Labels: feature, category: videoio, category: videoio(camera)

#22368 move aruco from contrib to objdetect in main repository
  apps/interactive-calibration/frameProcessor.cpp
  apps/interactive-calibration/frameProcessor.hpp
  apps/interactive-calibration/main.cpp
  doc/py_tutorials/py_calib3d/py_pose/py_pose.markdown
  modules/objdetect/doc/objdetect.bib
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/include/opencv2/objdetect/aruco_board.hpp
  modules/objdetect/include/opencv2/objdetect/aruco_detector.hpp
  modules/objdetect/include/opencv2/objdetect/aruco_dictionary.hpp
  modules/objdetect/misc/java/test/ArucoTest.java
  modules/objdetect/misc/python/test/test_objdetect_aruco.py
  modules/objdetect/src/aruco/apriltag/apriltag_quad_thresh.cpp
  modules/objdetect/src/aruco/apriltag/apriltag_quad_thresh.hpp
  modules/objdetect/src/aruco/apriltag/predefined_dictionaries_apriltag.hpp
  modules/objdetect/src/aruco/apriltag/unionfind.hpp
  modules/objdetect/src/aruco/apriltag/zarray.hpp
  modules/objdetect/src/aruco/apriltag/zmaxheap.cpp
  modules/objdetect/src/aruco/apriltag/zmaxheap.hpp
  modules/objdetect/src/aruco/aruco_board.cpp
  modules/objdetect/src/aruco/aruco_detector.cpp
  modules/objdetect/src/aruco/aruco_dictionary.cpp
  modules/objdetect/src/aruco/aruco_utils.cpp
  modules/objdetect/src/aruco/aruco_utils.hpp
  modules/objdetect/src/aruco/predefined_dictionaries.hpp
  modules/objdetect/test/test_arucodetection.cpp
  modules/objdetect/tutorials/images/singlemarkersaxes.jpg
  modules/objdetect/tutorials/images/singlemarkersaxes2.jpg
Labels: test, category: objdetect

#22880 Prevent cudacodec libs locations being reset when cmake is re-run
  CMakeLists.txt
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#22934 python: resolve Ptr<FileStorage> requirement issue
  modules/core/include/opencv2/core.hpp
  modules/core/src/algorithm.cpp
  modules/features2d/include/opencv2/features2d.hpp
  modules/python/src2/gen2.py
Labels: category: python bindings

#22980 samples: query for Python 3.11 setup
  samples/_winpack_run_python_sample.cmd
Labels: category: samples

#22979 videoio(test): reduce number of test threads
  modules/videoio/test/test_ffmpeg.cpp
Labels: bug, test, category: videoio

#22988 Even faster CV_PAUSE on SkyLake and above.
  modules/core/src/parallel_impl.cpp
Labels: optimization, category: core

#22981 core: freeze cache directory prefix - "4.x"
  modules/core/src/utils/filesystem.cpp
Labels: category: core, RFC

#22994 build: eliminate build warnings on Ubuntu 20.04
  modules/gapi/CMakeLists.txt
  modules/gapi/src/executor/gtbbexecutor.hpp
  modules/gapi/test/executor/gtbbexecutor_internal_tests.cpp
  modules/gapi/test/streaming/gapi_gstreamer_pipeline_facade_int_tests.cpp
Labels: category: build/install, category: g-api / gapi

#22963 Replace all instances of CUDA texture references with texture objects
  modules/core/include/opencv2/core/cuda/common.hpp
Labels: feature, category: gpu/cuda (contrib)

#22995 dnn: disable OpenCL code path in MatMul processing
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, optimization, category: ocl, category: dnn

#22634 dnn: add the CANN backend
  CMakeLists.txt
  cmake/OpenCVFindCANN.cmake
  cmake/checks/cann.cpp
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/layer.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/legacy_backend.cpp
  modules/dnn/src/net_cann.cpp
  modules/dnn/src/net_impl.cpp
  modules/dnn/src/net_impl.hpp
  modules/dnn/src/net_impl_backend.cpp
  modules/dnn/src/op_cann.cpp
  modules/dnn/src/op_cann.hpp
  modules/dnn/src/registry.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_common.impl.hpp
Labels: feature, category: dnn

#23001 videoio(v4l): initialize variables
  modules/videoio/src/cap_v4l.cpp
Labels: bug, category: videoio

#22967 Fix maxIter parameter in usac findEssentialMat
  modules/calib3d/src/five-point.cpp
  modules/calib3d/src/usac.hpp
  modules/calib3d/src/usac/ransac_solvers.cpp
  modules/calib3d/test/test_usac.cpp
Labels: bug, category: calib3d

#20367 Add read/write functions for features2d and normalize naming convention
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/misc/java/test/AGASTFeatureDetectorTest.java
  modules/features2d/misc/java/test/AKAZEDescriptorExtractorTest.java
  modules/features2d/misc/java/test/BRIEFDescriptorExtractorTest.java
  modules/features2d/misc/java/test/BRISKDescriptorExtractorTest.java
  modules/features2d/misc/java/test/FASTFeatureDetectorTest.java
  modules/features2d/misc/java/test/Features2dTest.java
  modules/features2d/misc/java/test/GFTTFeatureDetectorTest.java
  modules/features2d/misc/java/test/KAZEDescriptorExtractorTest.java
  modules/features2d/misc/java/test/MSERFeatureDetectorTest.java
  modules/features2d/misc/java/test/ORBDescriptorExtractorTest.java
  modules/features2d/misc/java/test/SIFTDescriptorExtractorTest.java
  modules/features2d/misc/java/test/SIMPLEBLOBFeatureDetectorTest.java
  modules/features2d/misc/java/test/STARFeatureDetectorTest.java
  modules/features2d/misc/java/test/SURFDescriptorExtractorTest.java
  modules/features2d/misc/java/test/SURFFeatureDetectorTest.java
  modules/features2d/misc/objc/gen_dict.json
  modules/features2d/src/agast.cpp
  modules/features2d/src/akaze.cpp
  modules/features2d/src/blobdetector.cpp
  modules/features2d/src/brisk.cpp
  modules/features2d/src/fast.cpp
  modules/features2d/src/gftt.cpp
  modules/features2d/src/kaze.cpp
  modules/features2d/src/mser.cpp
  modules/features2d/src/orb.cpp
  modules/features2d/src/sift.dispatch.cpp
  modules/java/check-tests.py
Labels: category: features2d

#23005 aruco(cleanup): don't use Ptr<FileStorage>
  modules/objdetect/include/opencv2/objdetect/aruco_detector.hpp
  modules/objdetect/include/opencv2/objdetect/aruco_dictionary.hpp
  modules/objdetect/src/aruco/aruco_detector.cpp
  modules/objdetect/src/aruco/aruco_dictionary.cpp
  modules/objdetect/src/aruco/aruco_utils.hpp
Labels: category: objdetect, cleanup

#22999 valgrind: suppress FFV1 16 bit issue in avcodec-57
  platforms/scripts/valgrind_3rdparty.supp
Labels: category: videoio

#22959 Parallelize implementation of HDR MergeMertens.
  modules/photo/perf/perf_hdr.cpp
  modules/photo/src/merge.cpp
  modules/python/test/test_umat.py
Labels: optimization, category: photo

#23009 Update Javascript bindings for Aruco after migration
  platforms/js/opencv_js.config.py
Labels: category: objdetect, category: java bindings

#23013 Fix self converTo.
  modules/photo/src/merge.cpp
Labels: bug, category: photo

#23004 SourceForge folder update
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation

#22993 dnn: fix gather layer implementation
  modules/dnn/src/layers/gather_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, optimization, category: ocl, category: dnn

#23014 videoio(ffmpeg): limit number of default threads
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: optimization, category: videoio

#22914 Bugfix for solvePnPRansac with SOLVEPNP_ITERATIVE
  modules/calib3d/src/solvepnp.cpp
Labels: bug, category: calib3d

#23012 Fix nvcc compile errors when built against CUDA SDK < 11.2
  cmake/OpenCVDetectCUDA.cmake
Labels: category: gpu/cuda (contrib)

#23002 obj-c: de-duplicate values of nested enums
  modules/objc/generator/gen_objc.py
Labels: bug, category: swift/objc bindings

#23017 Valgrind issues fix in QRCode detector.
  modules/objdetect/src/qrcode.cpp
Labels: category: objdetect

#23008 dnn: updated YOLOv4-tiny model and tests
  modules/dnn/perf/perf_net.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_int8_layers.cpp
Labels: category: dnn

#22930 Support one-time audio video reading
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_audio.cpp
Labels: feature, category: videoio

#22898 dnn: support ONNX Slice with negative steps by adding and using cv::flipND
  modules/core/include/opencv2/core.hpp
  modules/core/src/matrix_transform.cpp
  modules/core/test/test_arithm.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, feature, category: core, category: dnn, category: dnn (onnx)

#22962 dstChannels Lab, Luv, YCrCb and XYZ conversion fix
  modules/imgproc/src/color.hpp
Labels: optimization, category: imgproc

#22965 Remove references to deprecated NumPy type aliases.
  modules/dnn/test/pascal_semsegm_test_fcn.py
  modules/python/test/test_misc.py
  modules/python/test/tst_scene_render.py
Labels: category: python bindings, priority: high, category: samples

#22957 Switch to new OpenVINO API after 2022.1 release
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/net_openvino.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_model.cpp
Labels: optimization, feature, category: dnn

#23028 Doc: Add spaces to make links clickable
  modules/video/include/opencv2/video/tracking.hpp
Labels: bug, category: video, category: documentation

#23035 ffmpeg/4.x: update FFmpeg wrapper 2022.12
  3rdparty/ffmpeg/ffmpeg.cmake
  modules/videoio/test/test_ffmpeg.cpp
  modules/videoio/test/test_video_io.cpp
Labels: category: videoio, platform: win32, category: 3rdparty

#23036 Fixed blob detector parameters range.
  modules/features2d/src/blobdetector.cpp
Labels: bug, category: features2d

#22905 DNN: clean old convolution and optimize depth-wise Conv, Conv1D and Conv3D
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/fast_convolution/depthwise_convolution.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.avx2.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.hpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.simd.hpp
  modules/dnn/src/layers/fast_convolution/winograd_3x3s1_f63.cpp
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: optimization, category: dnn

#23039 cmake: VERSION_GREATER_EQUAL is not supported in CMake 3.5.1
  cmake/OpenCVDetectCUDA.cmake
  modules/world/CMakeLists.txt
Labels: bug, category: build/install, category: gpu/cuda (contrib), category: viz

#23037 Fix CUDA 12.0 build errors
  modules/core/include/opencv2/core/cuda/common.hpp
Labels: category: build/install, category: gpu/cuda (contrib)

#23029 Backport to 3.4: fix fisheye aspect ratio
  modules/calib3d/misc/java/test/Calib3dTest.java
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: port/backport done, category: calib3d

#23043 Add missing ORB.setFastThreshold(int) method
  platforms/js/opencv_js.config.py
Labels: category: javascript (js)

#23049 dnn(openvino): remove undefined status
  modules/dnn/src/ie_ngraph.cpp
Labels: bug, optimization, category: dnn

#23050 DNN: fix invalid memory access
  modules/dnn/src/layers/fast_convolution/fast_convolution.cpp
Labels: bug, priority: high, category: dnn

#22986 Move contrib charuco to main objdetect
  apps/interactive-calibration/CMakeLists.txt
  apps/interactive-calibration/calibController.cpp
  apps/interactive-calibration/frameProcessor.cpp
  apps/interactive-calibration/frameProcessor.hpp
  apps/interactive-calibration/main.cpp
  apps/interactive-calibration/parametersController.cpp
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/include/opencv2/objdetect/aruco_board.hpp
  modules/objdetect/include/opencv2/objdetect/aruco_detector.hpp
  modules/objdetect/include/opencv2/objdetect/aruco_dictionary.hpp
  modules/objdetect/include/opencv2/objdetect/charuco_detector.hpp
  modules/objdetect/misc/java/test/ArucoTest.java
  modules/objdetect/misc/python/test/test_objdetect_aruco.py
  modules/objdetect/perf/perf_aruco.cpp
  modules/objdetect/src/aruco/aruco_board.cpp
  modules/objdetect/src/aruco/aruco_detector.cpp
  modules/objdetect/src/aruco/charuco_detector.cpp
  modules/objdetect/test/test_aruco_utils.cpp
  modules/objdetect/test/test_aruco_utils.hpp
  modules/objdetect/test/test_boarddetection.cpp
  modules/objdetect/test/test_charucodetection.cpp
Labels: test, category: objdetect
