Repository opencv/opencv, pull requests merged in 2022-04, with the labels that each got.

#21688 G-API: VPP preprocessing GIEBackend integration
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/infer/ie.hpp
  modules/gapi/include/opencv2/gapi/streaming/onevpl/accel_types.hpp
  modules/gapi/include/opencv2/gapi/streaming/onevpl/device_selector_interface.hpp
  modules/gapi/include/opencv2/gapi/streaming/onevpl/source.hpp
  modules/gapi/samples/onevpl_infer_single_roi.cpp
  modules/gapi/samples/pipeline_modeling_tool.cpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/streaming/onevpl/cfg_param_device_selector.cpp
  modules/gapi/src/streaming/onevpl/cfg_param_device_selector.hpp
  modules/gapi/src/streaming/onevpl/device_selector_interface.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_dispatcher.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_dispatcher.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc/preproc_engine.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc_defines.hpp
  modules/gapi/src/streaming/onevpl/engine/preproc_engine_interface.cpp
  modules/gapi/src/streaming/onevpl/engine/preproc_engine_interface.hpp
  modules/gapi/src/streaming/onevpl/source.cpp
Labels: feature, category: g-api / gapi

#21752 CI for TIM-VX backend
  .github/workflows/timvx_backend_tests.yml
Labels: category: dnn, CI/CD: GitHub Actions

#21754 videoio: initial FFmpeg 5.0 support
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: feature, category: videoio

#20938 Add CUDA backend for LSTM layer
  modules/dnn/src/cuda4dnn/csl/cudnn/cudnn.hpp
  modules/dnn/src/cuda4dnn/csl/cudnn/recurrent.hpp
  modules/dnn/src/cuda4dnn/csl/tensor_ops.hpp
  modules/dnn/src/cuda4dnn/primitives/recurrent_cells.hpp
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: optimization, category: gpu/cuda (contrib), category: dnn

#21794 Update Connected component labelling bug
  modules/imgproc/src/connectedcomponents.cpp
Labels: bug, category: imgproc

#21798 Fix MSA sum overflow issue (#19432)
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/msa_macros.h
Labels: bug, optimization, platform: other

#21803 python binding for matches and inliers_mask attributes of cv2.detail_MatchesInfo class
  modules/stitching/include/opencv2/stitching/detail/matchers.hpp
  modules/stitching/misc/python/test/test_stitching.py
Labels: feature, category: python bindings, category: stitching

#21644 add test (DISABLED_open_from_web)
  modules/videoio/test/test_ffmpeg.cpp
  modules/videoio/test/test_precomp.hpp
  modules/videoio/test/test_video_io.cpp
Labels: test, category: videoio

#21795 (3.4) dnn(test): update OpenVINO tests
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: test, category: dnn

#21815 G-API: Fix warning in giebackend
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: build/install, category: g-api / gapi

#21731 Fixed handling of new stream, especially for stateful OCV kernels
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/cpu/gcpubackend.hpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
Labels: category: g-api / gapi

#21812 add BackgroundSubtractor(KNN|MOG2).getDefaultName() implementation
  modules/video/src/bgfg_KNN.cpp
  modules/video/src/bgfg_gaussmix2.cpp
Labels: bug, category: video

#21741 Odometry prepareFrame fix
  modules/3d/src/rgbd/odometry_functions.cpp
  modules/3d/test/test_odometry.cpp
Labels: bug, category: 3d module

#21821 3rdparty: zlib 1.2.11 => 1.2.12
  3rdparty/readme.txt
  3rdparty/zlib/CMakeLists.txt
  3rdparty/zlib/ChangeLog
  3rdparty/zlib/README
  3rdparty/zlib/crc32.c
  3rdparty/zlib/crc32.h
  3rdparty/zlib/deflate.c
  3rdparty/zlib/deflate.h
  3rdparty/zlib/gzguts.h
  3rdparty/zlib/gzlib.c
  3rdparty/zlib/gzread.c
  3rdparty/zlib/gzwrite.c
  3rdparty/zlib/infback.c
  3rdparty/zlib/inffast.c
  3rdparty/zlib/inflate.c
  3rdparty/zlib/inflate.h
  3rdparty/zlib/inftrees.c
  3rdparty/zlib/trees.c
  3rdparty/zlib/zlib.h
  3rdparty/zlib/zutil.c
  3rdparty/zlib/zutil.h
Labels: category: 3rdparty

#21779 Fixed out-of-bounds read in parallel version of ippGaussianBlur()
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/test/test_filter.cpp
Labels: bug, test, category: imgproc

#21819 (4.x) videoio(ffmpeg): avoid memory leaks
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, port/backport done, category: videoio

#21820 (3.4) videoio(ffmpeg): avoid memory leaks
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: bug, port/backport done, category: videoio

#21822 (4.x) dnn(test): update OpenVINO tests
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_model.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, category: dnn

#21861 Add assert to address tf simplifier security concerns
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: bug, category: dnn

#21864 Add assert to persistance to address security concerns
  modules/core/src/persistence.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#21873 Document defaults for JPEG settings.
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation

#21834 Add termination criteria to cv::fisheye::undistortPoints()
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/fisheye.cpp
Labels: category: calib3d

#21884 Fix CUDA compilation issues and adjust thresholds.
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_misc.cpp
  modules/dnn/test/test_model.cpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_denylist.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: gpu/cuda (contrib), category: dnn

#21841 Add distort/undistort test for fisheye::undistortPoints()
  modules/calib3d/perf/perf_undistort.cpp
  modules/calib3d/test/test_fisheye.cpp
  modules/calib3d/test/test_undistort_points.cpp
Labels: test, category: calib3d

#21805 Mat pretty printer: fix submatrix indexation
  samples/gdb/mat_pretty_printer.py
Labels: bug, category: samples

#21875 Added workflow for Github Actions to build and test OpenCV on Linux
  .github/workflows/PR-3.4-U20.yaml
Labels: CI/CD: GitHub Actions

#21876 Added workflow for Github Actions to build and test OpenCV on Linux for 4.x
  .github/workflows/PR-4.x-U20.yaml
Labels: CI/CD: GitHub Actions

#21811 Support mirrors for TIM-VX and others 3rdparty components in opencv_contrib
  cmake/mirrors/custom.cmake
  cmake/mirrors/gitcode.cmake
Labels: category: build/install

#21904 Fixed url for a fork
  .github/workflows/PR-3.4-U20.yaml
Labels: CI/CD: GitHub Actions

#21877 Added workflow for Github Actions to build and test OpenCV on Linux for 5.x
  .github/workflows/PR-5.x-U20.yaml
Labels: CI/CD: GitHub Actions

#21905 Fixed url for a fork (4.x branch)
  .github/workflows/PR-4.x-U20.yaml
  .github/workflows/timvx_backend_tests.yml
Labels: CI/CD: GitHub Actions

#21915 opencv_extra fork usage in Github Actions (4.x branch)
  .github/workflows/PR-4.x-U20.yaml
  .github/workflows/timvx_backend_tests.yml
Labels: CI/CD: GitHub Actions

#21908 remove Imgproc_cvWarpAffine.regression test
  modules/imgproc/test/test_imgwarp.cpp
Labels: test

#21888 Added workflow for Github Actions to build and test OpenCV on Windows for 3.4 branch
  .github/workflows/PR-3.4-W10.yaml
Labels: CI/CD: GitHub Actions

#21919 Fix #21894: Wrap constructor to Python to create initialized cuda::BufferPool object
  modules/core/include/opencv2/core/cuda.hpp
  modules/python/test/test_cuda.py
Labels: bug, test, category: gpu/cuda (contrib)

#21923 Add use of R and P parameters to cv::undistortPoints test
  modules/calib3d/test/test_undistort_points.cpp
Labels: test, category: calib3d

#21920 opencv_contrib fork usage in Github Actions for 3.4 branch
  .github/workflows/PR-3.4-U20.yaml
Labels: CI/CD: GitHub Actions

#21856 Try to solve I21853 mouse wheel problem with GTK3
  modules/highgui/src/window_gtk.cpp
Labels: category: highgui-gui
