Repository opencv/opencv, pull requests merged in 2023-11, with the labels that each got.

#24409 dnn: add shared fastNorm kernel for mvn, instance norm and layer norm
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/layers/cpu_kernels/fast_norm.cpp
  modules/dnn/src/layers/cpu_kernels/fast_norm.hpp
  modules/dnn/src/layers/layer_norm.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: optimization, category: dnn

#24468 Fixed Python signatures in Doxygen documentation.
  modules/python/src2/gen2.py
Labels: category: python bindings, category: documentation

#24478 Fix MinGW build issue due to obsensor
  CMakeLists.txt
Labels: category: build/install, category: videoio(camera)

#24480 Backport to 4.x: patchNaNs() SIMD acceleration
  modules/core/include/opencv2/core.hpp
  modules/core/perf/perf_arithm.cpp
  modules/core/src/mathfuncs.cpp
Labels: optimization, category: core

#24485 Optimize the Implementation of RVV Universal Intrinsic.
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
Labels: optimization, platform: riscv

#24463 DNN graph fusion with shared nodes
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#24397 Added PyTorch fcnresnet101 segmentation conversion cases
  samples/dnn/models.yml
  samples/dnn/segmentation.py
Labels: category: samples, category: dnn

#24466 Improve and refactor softmax layer
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/layers/cpu_kernels/softmax.cpp
  modules/dnn/src/layers/cpu_kernels/softmax.hpp
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: optimization, category: dnn, category: dnn (onnx)

#24495 Get the SSE2 condition match the emmintrin.h inclusion condition.
  modules/core/include/opencv2/core/fast_math.hpp
Labels: category: build/install

#24456 Added scripts for creating an AAR package and a local Maven repository with OpenCV library
  platforms/android/aar-template/OpenCV/build.gradle.template
  platforms/android/aar-template/OpenCV/proguard-rules.pro
  platforms/android/aar-template/OpenCV/src/main/AndroidManifest.xml
  platforms/android/aar-template/OpenCV/src/main/cpp/CMakeLists.txt.template
  platforms/android/aar-template/OpenCV/src/main/cpp/include/temp.h
  platforms/android/aar-template/OpenCV/src/main/cpp/native-lib.cpp
  platforms/android/aar-template/README.md
  platforms/android/aar-template/build.gradle
  platforms/android/aar-template/gradle.properties
  platforms/android/aar-template/gradle/wrapper/gradle-wrapper.jar
  platforms/android/aar-template/gradle/wrapper/gradle-wrapper.properties
  platforms/android/aar-template/gradlew
  platforms/android/aar-template/gradlew.bat
  platforms/android/aar-template/settings.gradle
  platforms/android/build_java_shared_aar.py
  platforms/android/build_static_aar.py
Labels: category: build/install, platform: android

#24500 dnn (onnx): add subgraph fusion tests
  modules/dnn/test/test_graph_simplifier.cpp
Labels: category: dnn

#24474 Added Java bindings for BOWImgDescriptorExtractor constructor
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/misc/java/test/BOWImgDescriptorExtractorTest.java
Labels: category: java bindings

#24477 Add JavaScript bindings for SimpleBlobDetector
  modules/js/src/core_bindings.cpp
  modules/js/test/test_features2d.js
  platforms/js/opencv_js.config.py
Labels: feature, category: java bindings

#24445 Einsum Layer Performance Test
  modules/dnn/perf/perf_einsum.cpp
Labels: test, category: dnn

#24243 Fix gstreamer backend with manual pipelines
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/test/test_audio.cpp
  modules/videoio/test/test_gstreamer.cpp
  modules/videoio/test/test_video_io.cpp
Labels: bug, category: videoio

#24465 Reformat USAC tutorial
  doc/opencv.bib
  doc/tutorials/calib3d/interactive_calibration/interactive_calibration.markdown
  doc/tutorials/calib3d/table_of_content_calib3d.markdown
  doc/tutorials/calib3d/usac.markdown
Labels: category: documentation

#24512 Fixed build warning introduced in #24243
  modules/videoio/test/test_gstreamer.cpp
Labels: category: videoio, category: build/install

#24483 Commutative rules for DNN subgraphs fusion
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/graph_simplifier.hpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
Labels: category: dnn

#24511 Exclude RVV UI internals from Doxygen documentation.
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
Labels: category: documentation

#24488 Link lib_acl_op_compiler when compile with CANN
  cmake/OpenCVFindCANN.cmake
Labels: category: build/install, category: dnn, platform: other

#23098 finiteMask() and doubles for patchNaNs()
  modules/3d/perf/perf_tsdf.cpp
  modules/3d/src/rgbd/odometry_functions.cpp
  modules/3d/test/test_odometry.cpp
  modules/3d/test/test_tsdf.cpp
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core.hpp
  modules/core/perf/opencl/perf_arithm.cpp
  modules/core/perf/perf_arithm.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/nan_mask.dispatch.cpp
  modules/core/src/nan_mask.simd.hpp
  modules/core/src/opencl/finitemask.cl
  modules/core/test/ocl/test_arithm.cpp
  modules/core/test/test_arithm.cpp
  modules/core/test/test_precomp.hpp
Labels: bug, feature, category: core

#24479 Fix contour filtering in ArUco
  doc/pattern_tools/test_charuco_board.py
  modules/objdetect/include/opencv2/objdetect/aruco_detector.hpp
  modules/objdetect/src/aruco/aruco_detector.cpp
  modules/objdetect/src/aruco/charuco_detector.cpp
  modules/objdetect/test/test_arucodetection.cpp
  modules/objdetect/test/test_charucodetection.cpp
Labels: bug, test, feature, category: objdetect

#24517 3d: fix static init in test
  modules/3d/test/test_normal.cpp
Labels: test, category: 3d module

#24492 Use video stream fps first in FFmpeg backend for VideoCapture
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: videoio

#24521 Fix some of the broken urls in docs
  doc/LICENSE_CHANGE_NOTICE.txt
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  doc/py_tutorials/py_gui/py_video_display/py_video_display.markdown
  doc/tutorials/core/univ_intrin/univ_intrin.markdown
  doc/tutorials/imgproc/out_of_focus_deblur_filter/out_of_focus_deblur_filter.markdown
  doc/tutorials/introduction/building_tegra_cuda/building_tegra_cuda.markdown
  doc/tutorials/introduction/java_eclipse/java_eclipse.markdown
  doc/tutorials/introduction/linux_install/linux_install.markdown
  doc/tutorials/introduction/macos_install/macos_install.markdown
  doc/tutorials/introduction/transition_guide/transition_guide.markdown
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/include/opencv2/videoio/legacy/constants_c.h
Labels: category: documentation

#24510 Enable softmax layer vectorization on RISC-V RVV
  modules/dnn/src/layers/cpu_kernels/softmax.cpp
Labels: optimization, category: dnn, platform: riscv

#24519 updated additional resources links
  doc/py_tutorials/py_ml/py_knn/py_knn_understanding/py_knn_understanding.markdown
  doc/py_tutorials/py_ml/py_svm/py_svm_basics/py_svm_basics.markdown
Labels: category: documentation

#24458 Dnn_ Net_ A bug occurred when compiling getUnconnectedOutLayersNames into JavaScript
  modules/js/generator/embindgen.py
  modules/js/src/core_bindings.cpp
  platforms/js/opencv_js.config.py
Labels: category: javascript (js)

#24531 dnn onnx test: remove cuda backend filter for instance norm test
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: gpu/cuda (contrib), category: dnn

#24526 fix tab arrow issue
  modules/highgui/src/window_QT.cpp
Labels: category: highgui-gui

#24533 remove filter fix in aruco qr code detector
  modules/objdetect/src/qrcode.cpp
Labels: category: objdetect, cleanup

#24496 ADD weights yolov3 in models.yml
  samples/data/dnn/object_detection_classes_yolo.txt
  samples/dnn/models.yml
Labels: category: samples, category: dnn

#24535 Handle huge images in IPP distanceTransform
  modules/imgproc/src/distransform.cpp
Labels: bug, optimization, category: imgproc

#24462 dnn cann backend: add hardswish, layernorm and instasnce norm for cann and bug fix
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/gemm_layer.cpp
  modules/dnn/src/layers/instance_norm_layer.cpp
  modules/dnn/src/layers/layer_norm.cpp
Labels: bug, feature, category:dnn_cann

#24060 G-API: Advanced device selection for ONNX DirectML Execution Provider
  CMakeLists.txt
  cmake/OpenCVDetectDirectML.cmake
  cmake/checks/directml.cpp
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/src/backends/onnx/dml_ep.cpp
Labels: feature, category: g-api / gapi

#24396 using cv2 dnn interface to run yolov8 model
  samples/dnn/common.py
  samples/dnn/models.yml
  samples/dnn/object_detection.py
Labels: category: samples, category: dnn

#24509 Fast gemm for einsum
  modules/dnn/perf/perf_einsum.cpp
  modules/dnn/src/layers/einsum_layer.cpp
Labels: category: dnn

#24364 Bugfix/qrcode version estimator
  modules/objdetect/src/qrcode_encoder.cpp
  modules/objdetect/test/test_qrcode_encode.cpp
Labels: bug, category: objdetect

#24473 Updated Android samples for modern Android studio. Added OpenCV from Maven support.
  cmake/android/android_gradle_projects.cmake
  platforms/android/build-tests/test_gradle.sh
  samples/android/15-puzzle/build.gradle.in
  samples/android/build.gradle.in
  samples/android/camera-calibration/build.gradle.in
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/CameraCalibrationActivity.java
  samples/android/color-blob-detection/build.gradle.in
  samples/android/face-detection/build.gradle.in
  samples/android/face-detection/jni/CMakeLists.txt
  samples/android/image-manipulations/build.gradle.in
  samples/android/mobilenet-objdetect/build.gradle.in
  samples/android/tutorial-1-camerapreview/build.gradle.in
  samples/android/tutorial-2-mixedprocessing/build.gradle.in
  samples/android/tutorial-2-mixedprocessing/jni/CMakeLists.txt
  samples/android/tutorial-3-cameracontrol/build.gradle.in
  samples/android/tutorial-4-opencl/build.gradle.in
  samples/android/tutorial-4-opencl/jni/CMakeLists.txt
Labels: category: build/install, category: samples, platform: android

#24544 dnn test: move layer norm tests into conformance tests
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_graph_simplifier.cpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, category: dnn (onnx)

#23654 DNN: add the Winograd fp16 support
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/checks/cpu_fp16.cpp
  modules/core/include/opencv2/core/cv_cpu_helper.h
  modules/core/test/ocl/test_image2d.cpp
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/layers/cpu_kernels/conv_block.simd.hpp
  modules/dnn/src/layers/cpu_kernels/conv_depthwise.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.neon.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.simd.hpp
  modules/dnn/src/layers/cpu_kernels/convolution.cpp
  modules/dnn/src/layers/cpu_kernels/convolution.hpp
  modules/dnn/src/model.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_model.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_torch_importer.cpp
Labels: optimization, category: dnn

#24561 Port of Replace double atomic in USAC
  modules/3d/src/usac.hpp
  modules/3d/src/usac/essential_solver.cpp
  modules/3d/src/usac/quality.cpp
  modules/3d/src/usac/ransac_solvers.cpp
Labels: category: 3d module

#24566 Fix typos in calibinit.cpp
  modules/calib3d/src/calibinit.cpp
Labels: category: documentation, category: calib3d

#24560 Print warning, but not throw exceptions in cv::VideoCapture for OpenNI2
  modules/videoio/src/cap_openni2.cpp
Labels: category: videoio(camera)

#24552 dnn: add openvino, opencl and cuda backends for layer normalization layer
  modules/dnn/src/cuda/mvn.cu
  modules/dnn/src/cuda4dnn/kernels/mvn.hpp
  modules/dnn/src/cuda4dnn/primitives/layer_norm.hpp
  modules/dnn/src/layers/layer_norm.cpp
  modules/dnn/src/opencl/mvn.cl
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: feature, category: gpu/cuda (contrib), category: dnn

#24527 Fix out of image corners in cv::cornerSubPix
  modules/imgproc/src/cornersubpix.cpp
  modules/imgproc/test/test_cornersubpix.cpp
Labels: bug, category: calib3d

#24578 Fix verify unsupported new mat depth for nonzero/minmax/lut
  modules/core/include/opencv2/core.hpp
  modules/core/src/check.cpp
  modules/core/src/count_non_zero.dispatch.cpp
  modules/core/src/count_non_zero.simd.hpp
  modules/core/src/has_non_zero.simd.hpp
  modules/core/src/lut.cpp
  modules/core/src/minmax.cpp
  modules/core/test/test_arithm.cpp
  modules/ts/include/opencv2/ts/ts_perf.hpp
Labels: feature, category: core

#24574 cudaMemset2D fix: Correct buffer height parameter
  modules/cudastereo/src/cuda/stereobm.cu
Labels: affected: 3.4, category: gpu/cuda (contrib)

#24553 Add yolov5n to tests
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, category: dnn

#24577 Fix graph fusion with commutative ops
  modules/dnn/src/graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_graph_simplifier.cpp
Labels: category: dnn

#24575 Drop OpenCV Manager from samples initialization
  CMakeLists.txt
  modules/java/generator/android/java/org/opencv/android/AsyncServiceHelper.java
  modules/java/generator/android/java/org/opencv/android/BaseLoaderCallback.java
  modules/java/generator/android/java/org/opencv/android/InstallCallbackInterface.java
  modules/java/generator/android/java/org/opencv/android/LoaderCallbackInterface.java
  modules/java/generator/android/java/org/opencv/android/OpenCVLoader.java.in
  modules/java/generator/android/java/org/opencv/engine/OpenCVEngineInterface.aidl
  platforms/android/service/CMakeLists.txt
  platforms/android/service/engine/AndroidManifest.xml
  platforms/android/service/engine/CMakeLists.txt
  platforms/android/service/engine/res/drawable/icon.png
  platforms/android/service/engine/res/layout/main.xml
  platforms/android/service/engine/res/values/strings.xml
  platforms/android/service/engine/src/org/opencv/engine/HardwareDetector.java
  platforms/android/service/engine/src/org/opencv/engine/MarketConnector.java
  platforms/android/service/engine/src/org/opencv/engine/OpenCVEngineInterface.aidl
  platforms/android/service/engine/src/org/opencv/engine/OpenCVEngineService.java
  platforms/android/service/engine/src/org/opencv/engine/manager/ManagerActivity.java
  platforms/android/service/readme.txt
  samples/android/15-puzzle/src/org/opencv/samples/puzzle15/Puzzle15Activity.java
  samples/android/camera-calibration/src/org/opencv/samples/cameracalibration/CameraCalibrationActivity.java
  samples/android/color-blob-detection/src/org/opencv/samples/colorblobdetect/ColorBlobDetectionActivity.java
  samples/android/face-detection/src/org/opencv/samples/facedetect/FdActivity.java
  samples/android/image-manipulations/src/org/opencv/samples/imagemanipulations/ImageManipulationsActivity.java
  samples/android/mobilenet-objdetect/src/org/opencv/samples/opencv_mobilenet/MainActivity.java
  samples/android/tutorial-1-camerapreview/src/org/opencv/samples/tutorial1/Tutorial1Activity.java
  samples/android/tutorial-2-mixedprocessing/src/org/opencv/samples/tutorial2/Tutorial2Activity.java
  samples/android/tutorial-3-cameracontrol/src/org/opencv/samples/tutorial3/Tutorial3Activity.java
Labels: category: build/install, category: samples, platform: android, cleanup

#24569 Add support for custom padding in DNN preprocessing
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn_utils.cpp
  modules/dnn/test/test_misc.cpp
Labels: feature, category: dnn

#24608 Fix comment typo in matx.hpp
  modules/core/include/opencv2/core/matx.hpp
Labels: category: documentation

#24604 Fix time measurement in test Calib3d_ChessboardDetector.timing
  modules/calib3d/test/test_chesscorners_timing.cpp
Labels: test

#24581 Fix race condition in color_lab.cpp initLabTabs().
  modules/imgproc/src/color_lab.cpp
Labels: bug, category: core

#24600 Fixed regression in Android Tutorial2 initialization.
  samples/android/tutorial-2-mixedprocessing/src/org/opencv/samples/tutorial2/Tutorial2Activity.java
Labels: category: samples, platform: android

#24607 Serialize Android samples build in SDK script to prevent raise between gradle instances
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#24595 Fix typo in ChessBoardDetector::generateQuads
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d

#24598 Add android QR detection sample
  samples/android/CMakeLists.txt
  samples/android/qr-detection/AndroidManifest.xml
  samples/android/qr-detection/CMakeLists.txt
  samples/android/qr-detection/build.gradle.in
  samples/android/qr-detection/gradle/AndroidManifest.xml
  samples/android/qr-detection/res/drawable/icon.png
  samples/android/qr-detection/res/values/strings.xml
  samples/android/qr-detection/src/org/opencv/samples/qrdetection/QRProcessor.java
  samples/android/qr-detection/src/org/opencv/samples/qrdetection/QRdetectionActivity.java
Labels: category: samples, category: objdetect, platform: android

#24584 G-API: Implement inference only mode for OV backend
  modules/gapi/include/opencv2/gapi/infer/ov.hpp
  modules/gapi/src/backends/ov/govbackend.cpp
  modules/gapi/src/backends/ov/govbackend.hpp
Labels: category: g-api / gapi

#24615 G-API: Soften the argument check in infer2
  modules/gapi/src/backends/ie/giebackend.cpp
Labels: category: g-api / gapi

#24619 Update README.md - Add campaign and additional resources
  README.md
Labels: category: documentation

#24597 Fix bug in ChessBoardDetector::findQuadNeighbors
  modules/calib3d/src/calibinit.cpp
Labels: bug, category: calib3d

#24616 Fix Android sample mobilenet-ssd detector
  samples/android/CMakeLists.txt
  samples/android/mobilenet-objdetect/CMakeLists.txt
  samples/android/mobilenet-objdetect/gradle/AndroidManifest.xml
  samples/android/mobilenet-objdetect/res/drawable/icon.png
  samples/android/mobilenet-objdetect/res/values/strings.xml
  samples/android/mobilenet-objdetect/src/org/opencv/samples/opencv_mobilenet/MainActivity.java
Labels: category: samples, platform: android

#24565 Change the lsx to baseline features.
  cmake/OpenCVCompilerOptimizations.cmake
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_lasx.hpp
  modules/core/src/system.cpp
Labels: optimization, category: core, platform: loongson

#24625 Report correct open status from Bitstream
  modules/videoio/src/container_avi.cpp
Labels: bug, category: videoio
