Repository opencv/opencv, pull requests merged in 2023-08, with the labels that each got.

#24087 Fixed warnings in videoio module
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/test/test_precomp.hpp
  modules/videoio/test/test_v4l2.cpp
Labels: category: videoio, category: build/install

#24059 G-API: Support CUDA & TensoRT Execution Providers for ONNXRT Backend
  modules/gapi/include/opencv2/gapi/infer/bindings_onnx.hpp
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/src/backends/onnx/bindings_onnx.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
Labels: feature, category: g-api / gapi

#24069 DetectionOutput layer on OpenVINO without limitations
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_model.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: optimization, category: dnn

#24072 Remove legacy nGraph logic
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/net_openvino.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: optimization, category: dnn, cleanup

#24095 Add CI configuration with Ubuntu 22.04 for 5.x branch.
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#24080 Resolve uncovered CUDA dnn layer
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/cuda/activations.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda4dnn/kernels/activations.hpp
  modules/dnn/src/cuda4dnn/primitives/activation.hpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: optimization, category: gpu/cuda (contrib), category: dnn

#24084 Finalize calib3d module split for fisheye part
  modules/3d/include/opencv2/3d.hpp
  modules/3d/misc/java/gen_dict.json
  modules/3d/misc/java/test/Cv3dTest.java
  modules/3d/perf/perf_undistort.cpp
  modules/3d/src/fisheye.cpp
  modules/3d/test/test_fisheye.cpp
  modules/calib/include/opencv2/calib.hpp
  modules/calib/misc/java/test/CalibTest.java
  modules/calib/perf/perf_undistort.cpp
  modules/calib/src/fisheye.cpp
  modules/calib/test/test_cameracalibration.cpp
  modules/calib/test/test_fisheye.cpp
  modules/stereo/include/opencv2/stereo.hpp
  modules/stereo/misc/java/gen_dict.json
  modules/stereo/src/stereo_geom.cpp
  modules/stereo/test/test_geometry.cpp
Labels: category: calib3d, category: 3d module

#24096 Port stereoRectify grid fix #24035
  modules/stereo/src/stereo_geom.cpp
  modules/stereo/test/test_geometry.cpp
Labels: bug, category: calib3d

#24039 TFLite models on different backends (tests and improvements)
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/net_openvino.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_darknet_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: category: dnn

#24104 `cuda`: fix for compatibility with CUDA Toolkit >= 12.2.0
  modules/dnn/src/cuda4dnn/primitives/normalize_bbox.hpp
  modules/dnn/src/cuda4dnn/primitives/region.hpp
Labels: category: build/install, category: gpu/cuda (contrib)

#24101 Invalid memory access fix for ONNX split layer parser #24076
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: bug, category: dnn

#24118 Removed merge previous 4.x->5.x merge artifact
  modules/calib3d/src/usac/bundle.cpp
Labels: category: calib3d, cleanup

#24125 Fix v_pack_store alignment issue on Windows 32-bit.
  modules/core/include/opencv2/core/hal/intrin.hpp
Labels: bug, category: build/install, platform: win32

#24122 dnn: cleanup of tengine backend
  3rdparty/libtengine/tengine.cmake
  CMakeLists.txt
  cmake/OpenCVFindTengine.cmake
  cmake/mirrors/custom.cmake
  cmake/mirrors/gitcode.cmake
  doc/tutorials/introduction/config_reference/config_reference.markdown
  modules/dnn/CMakeLists.txt
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/tengine4dnn/include/tengine_graph_convolution.hpp
  modules/dnn/src/tengine4dnn/src/tengine_graph_convolution.cpp
Labels: category: dnn, port to 5.x is needed, cleanup

#24086 videoio: doc: add odd width or height limitation for FFMPEG
  modules/videoio/include/opencv2/videoio.hpp
Labels: category: videoio, category: documentation

#24089 `cuda`: Fix `GpuMat::copyTo` and `GpuMat::converTo` python bindings
  modules/core/include/opencv2/core/cuda.hpp
  modules/python/test/test_cuda.py
Labels: category: python bindings

#24116 fix python sample code (tst_scene_render)
  samples/python/tst_scene_render.py
Labels: category: python bindings

#24133 Fixed bug when MSMF webcamera doesn't start when build with VIDEOIO_PLUGIN_ALL
  modules/videoio/src/cap_msmf.cpp
Labels: bug, category: videoio, platform: win32

#23980 Rewrite Universal Intrinsic code by using new API: Core module.
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/src/arithm.cpp
  modules/core/src/arithm.simd.hpp
  modules/core/src/convert.hpp
  modules/core/src/convert.simd.hpp
  modules/core/src/convert_scale.simd.hpp
  modules/core/src/copy.cpp
  modules/core/src/count_non_zero.simd.hpp
  modules/core/src/lapack.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/matmul.simd.hpp
  modules/core/src/matrix_transform.cpp
  modules/core/src/merge.simd.hpp
  modules/core/src/norm.cpp
  modules/core/src/split.simd.hpp
  modules/core/src/stat.simd.hpp
  modules/core/src/sum.simd.hpp
Labels: optimization, category: core, GSoC, platform: riscv

#24012 `VideoCapture`: remove decoder initialization when demuxing
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: category: videoio

#24140 Fix GNU/Hurd build
  modules/core/include/opencv2/core/utils/filesystem.private.hpp
  modules/core/src/utils/filesystem.cpp
Labels: category: build/install, platform: other

#23734 Fixed invalid cast and unaligned memory access
  modules/core/src/persistence.cpp
Labels: category: core

#24138 videoio: fix camera opening with GStreamer plugin
  modules/videoio/src/cap_gstreamer.cpp
Labels: bug, category: videoio

#24153 fix the return-type error in `ipp_warpAffine`
  modules/imgproc/src/imgwarp.cpp
Labels: category: imgproc, category: build/install

#24156 DNN: fix the issue in layer_fuse
  modules/dnn/src/net_impl_fuse.cpp
Labels: bug, category: dnn

#24120 OCL_FP16 MatMul with large batch
  modules/dnn/misc/python/test/test_dnn.py
  modules/dnn/perf/perf_caffe.cpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/opencl/gemm_buffer.cl
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_int8_layers.cpp
  modules/dnn/test/test_model.cpp
Labels: bug, category: ocl, category: dnn

#24150 Adding support for Streamlabs Desktop Virtual Webcam
  modules/videoio/src/cap_dshow.cpp
Labels: category: videoio

#24167 add missing include
  modules/dnn/src/op_halide.cpp
Labels: bug, category: build/install, category: dnn

#24172 Use STRING instead of PATH to fix #24141
  cmake/OpenCVDetectPython.cmake
Labels: bug, category: build/install

#24157 Mark OpenVINO models for G-API tests optional
  modules/gapi/misc/python/test/test_gapi_infer.py
  modules/gapi/misc/python/test/test_gapi_infer_ov.py
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
  modules/gapi/test/infer/gapi_infer_ov_tests.cpp
Labels: test, category: g-api / gapi

#24160 gapi: update ADE library to 0.1.2b
  modules/gapi/cmake/DownloadADE.cmake
Labels: category: build/install, category: g-api / gapi

#24176 Remove explitit transB attribute from MatMul perf test
  modules/dnn/perf/perf_layer.cpp
Labels: test, category: dnn

#24189 Enable OpenVINO max pooling with indices since 2022.1
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: category: dnn

#24179 core:add OPENCV_IPP_MEAN/MINMAX/SUM option to enable IPP optimizations
  doc/tutorials/introduction/config_reference/config_reference.markdown
  modules/core/CMakeLists.txt
  modules/core/src/mean.dispatch.cpp
  modules/core/src/minmax.cpp
  modules/core/src/sum.dispatch.cpp
  modules/imgproc/CMakeLists.txt
Labels: optimization, category: build/install

#24186 Skip test on SkipTestException at fixture's constructor
  modules/core/test/test_misc.cpp
  modules/python/test/tests_common.py
  modules/ts/include/opencv2/ts/ts_ext.hpp
  modules/ts/src/ts_tags.cpp
Labels: test

#24194 Fix compilation when forcing later C++.
  modules/objdetect/test/test_qrcode_encode.cpp
Labels: bug, test, category: build/install

#23965 core: add broadcast
  modules/core/include/opencv2/core.hpp
  modules/core/perf/perf_arithm.cpp
  modules/core/src/matrix_transform.cpp
  modules/core/test/test_arithm.cpp
Labels: feature, category: core
