Repository opencv/opencv, pull requests merged in 2023-10, with the labels that each got.

#24342 Fail Java test suite, execution, if one of test failed.
  modules/core/misc/java/test/CoreTest.java
  modules/java/test/pure_test/build.xml
Labels: category: build/install, category: java bindings

#24349 add aruco board separation check
  doc/pattern_tools/gen_pattern.py
  modules/objdetect/src/aruco/aruco_board.cpp
Labels: category: objdetect

#24353 Fixed CumSum dnn layer
  modules/dnn/src/layers/cumsum_layer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__halide_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__vulkan_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: feature, category: dnn

#24323 Allow limiting the number of keypoints in AKAZE keypoint detector
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/misc/java/test/AKAZEDescriptorExtractorTest.java
  modules/features2d/src/akaze.cpp
Labels: feature, category: features2d

#24343 Fix tests writing to current work dir
  modules/core/test/test_io.cpp
  modules/core/test/test_mat.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: test

#24351 `numpy.distutils` is removed in numpy 1.26 on Python 3.12.
  cmake/OpenCVDetectPython.cmake
Labels: category: python bindings, category: build/install

#24354 Removed invalid reference usage in charuco detector
  modules/objdetect/src/aruco/charuco_detector.cpp
Labels: bug, category: objdetect

#24356 feat: re-export cv2.typing module as typing
  modules/python/src2/typing_stubs_generation/generation.py
  modules/python/src2/typing_stubs_generation/nodes/type_node.py
Labels: bug, category: python bindings

#24298 Extend performance test models
  modules/dnn/perf/perf_net.cpp
Labels: test, category: dnn

#24337 3rdparty: update ade version
  modules/gapi/cmake/DownloadADE.cmake
Labels: category: 3rdparty

#24357 imgproc: move stb_truetype functions into cv namespace
  modules/imgproc/src/stb_truetype.cpp
  modules/imgproc/src/stb_truetype.hpp
Labels: category: imgproc, category: build/install

#24325 Rewrite Universal Intrinsic code: float related part
  modules/calib3d/src/undistort.simd.hpp
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/src/arithm.simd.hpp
  modules/core/src/has_non_zero.simd.hpp
  modules/core/src/lapack.cpp
  modules/core/src/matmul.simd.hpp
  modules/core/src/mean.simd.hpp
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/imgproc/src/accum.simd.hpp
  modules/imgproc/src/color_hsv.simd.hpp
  modules/imgproc/src/median_blur.simd.hpp
Labels: optimization, category: imgproc, category: calib3d, category: dnn, platform: riscv

#24233 Add HAL implementation hooks to cv::flip() and cv::rotate() functions from core module
  modules/core/src/hal_replacement.hpp
  modules/core/src/matrix_transform.cpp
Labels: optimization, category: core

#24315 dnn: hotfixes for fast gemm
  modules/dnn/src/layers/cpu_kernels/fast_gemm_kernels.default.hpp
  modules/dnn/src/layers/cpu_kernels/fast_gemm_kernels.simd.hpp
  modules/dnn/src/layers/gemm_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn

#24333 Implement color conversion from RGB to YUV422 family
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/include/opencv2/imgproc/hal/hal.hpp
  modules/imgproc/perf/opencl/perf_color.cpp
  modules/imgproc/perf/perf_cvt_color.cpp
  modules/imgproc/src/color.cpp
  modules/imgproc/src/color.hpp
  modules/imgproc/src/color.simd_helpers.hpp
  modules/imgproc/src/color_yuv.dispatch.cpp
  modules/imgproc/src/color_yuv.simd.hpp
  modules/imgproc/src/hal_replacement.hpp
  modules/imgproc/src/opencl/color_yuv.cl
  modules/imgproc/test/ocl/test_color.cpp
  modules/imgproc/test/test_cvtyuv.cpp
Labels: test, feature, category: imgproc

#24368 RISC-V: added v0.12 intrinsics compatibility header
  modules/core/include/opencv2/core/hal/intrin_rvv_011_compat.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
Labels: optimization, category: build/install, platform: riscv

#24355 add dynamic window in aruco cornerRefinement
  modules/objdetect/include/opencv2/objdetect/aruco_detector.hpp
  modules/objdetect/src/aruco/aruco_detector.cpp
Labels: category: objdetect

#24350 Encode QR code data to UTF-8
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: bug, test, category: objdetect

#24370 Fix imshow icons missing when linking the static opencv library
  modules/highgui/src/window_QT.cpp
Labels: bug, category: highgui-gui

#24324 Rewrite Universal Intrinsic code: gapi module (fluid part).
  modules/gapi/src/backends/fluid/gfluidcore.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.dispatch.cpp
  modules/gapi/src/backends/fluid/gfluidcore_func.hpp
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
Labels: optimization, category: g-api / gapi, platform: riscv

#24359 Tuned threshold for FastNeuralStyle_eccv16 test
  modules/dnn/test/test_backends.cpp
Labels: category: dnn

#24386 dnn: fix inconsistent input dtype for nary eltwise layers
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, test, category: dnn, category: dnn (onnx)

#24401 CI: enable RISC-V for 4.x branch
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#24240 Added test with V4L CAP_PROP_CONVERT_RGB=false.
  modules/videoio/test/test_camera.cpp
Labels: category: videoio(camera), platform: linux

#24417 Ensure interarea algorithm usage in resize perfomance test
  modules/imgproc/perf/perf_resize.cpp
Labels: bug, test, category: imgproc

#24367 Fixed CumSum layer inplace flag
  modules/dnn/src/layers/cumsum_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, pr: needs test

#24092 GSoC Add ONNX Support for GatherElements
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/gather_elements_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__vulkan_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: GSoC, category: dnn, category: dnn (onnx)

#24422 Updated libade to 0.1.2d
  modules/gapi/cmake/DownloadADE.cmake
Labels: category: 3rdparty

#24420 added detection & dispatching of some modern NEON instructions (NEON_FP16, NEON_BF16)
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/checks/cpu_neon_bf16.cpp
  cmake/checks/cpu_neon_dotprod.cpp
  cmake/checks/cpu_neon_fp16.cpp
  modules/core/include/opencv2/core/cvdef.h
  modules/core/src/system.cpp
Labels: category: core, platform: arm, pr: Discussion Required

#24372 supporting protobuf v22 and later(with abseil-cpp/C++17)
  cmake/OpenCVFindProtobuf.cmake
  modules/dnn/CMakeLists.txt
  modules/dnn/test/test_layers.cpp
Labels: category: build/install, category: dnn, category: 3rdparty

#24382 Enable multicore CUDA compilation
  cmake/OpenCVDetectCUDA.cmake
Labels: feature, category: build/install, category: gpu/cuda (contrib)

#24427 dnn: fp16 support for gather elements
  modules/dnn/src/layers/gather_elements_layer.cpp
Labels: bug, category: dnn

#24412 Speed up line merging in INTER_AREA
  modules/imgproc/src/resize.cpp
Labels: optimization, category: imgproc

#24429 Unconditionally create SuperScale in BarcodeDetector to avoid null deref
  modules/objdetect/src/barcode.cpp
Labels: bug, category: objdetect

#21066 Native ONNX to Inference Engine backend
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn_read.cpp
  modules/dnn/test/test_misc.cpp
Labels: test, feature, category: dnn

#24371 Clean up the obsolete API of Universal Intrinsic
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/src/convert.hpp
  modules/core/src/mathfuncs_core.simd.hpp
  modules/core/src/matmul.simd.hpp
  modules/core/src/matrix_transform.cpp
  modules/core/src/minmax.cpp
  modules/core/test/test_intrin_utils.hpp
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/pooling_layer.cpp
  modules/dnn/src/layers/cpu_kernels/conv_depthwise.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/features2d/src/fast.cpp
  modules/features2d/src/fast_score.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_func.simd.hpp
  modules/gapi/src/backends/fluid/gfluidimgproc_simd_avx2.hpp
  modules/imgproc/src/bilateral_filter.simd.hpp
  modules/imgproc/src/box_filter.simd.hpp
  modules/imgproc/src/color_lab.cpp
  modules/imgproc/src/color_rgb.simd.hpp
  modules/imgproc/src/demosaicing.cpp
  modules/imgproc/src/filter.simd.hpp
  modules/imgproc/src/histogram.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/median_blur.simd.hpp
  modules/imgproc/src/moments.cpp
  modules/imgproc/src/pyramids.cpp
  modules/imgproc/src/resize.cpp
  modules/imgproc/src/sumpixels.simd.hpp
  modules/objdetect/src/hog.cpp
  modules/video/src/dis_flow.cpp
  modules/video/src/lkpyramid.cpp
  modules/video/src/optflowgf.cpp
  modules/video/src/variational_refinement.cpp
  samples/cpp/simd_basic.cpp
  samples/cpp/tutorial_code/core/univ_intrin/univ_intrin.cpp
Labels: optimization, cleanup

#24425 dnn: fix HAVE_TIMVX macro definition in dnn test
  modules/dnn/CMakeLists.txt
Labels: category: dnn, category:dnn_timvx

#23929 Optimize some function with lasx.
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/checks/cpu_lsx.cpp
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/cv_cpu_helper.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_lasx.hpp
  modules/core/include/opencv2/core/hal/intrin_lsx.hpp
  modules/core/src/system.cpp
Labels: optimization, platform: loongson

#23894 Use T-API for critical parts of blobFromImagesWithParams
  modules/dnn/src/dnn_utils.cpp
  modules/objdetect/src/face_detect.cpp
Labels: optimization, category: dnn

#24438 Check the return value of avifDecoderSetIOMemory.
  modules/imgcodecs/src/grfmt_avif.cpp
Labels: category: build/install, category: imgcodecs

#24440 tutorial_py_fourier_transform wrong division operator fix
  doc/py_tutorials/py_imgproc/py_transforms/py_fourier_transform/py_fourier_transform.markdown
Labels: category: python bindings, category: samples

#24441 Make sure AVIF decoder is destroyed in case of failure
  modules/imgcodecs/src/grfmt_avif.cpp
Labels: category: imgcodecs

#24322 Ellipses supported added for Einsum Layer
  modules/dnn/src/layers/einsum_layer.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn (onnx)

#24363 videoio: Add raw encoded video stream encapsulation to `cv::VideoWriter` with `CAP_FFMPEG`
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: feature, category: videoio

#24434 fix: supress GCC13 warnings
  modules/core/test/test_mat.cpp
  modules/dnn/src/layers/layers_common.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/gapi/src/compiler/passes/exec.cpp
  modules/gapi/src/streaming/onevpl/file_data_provider.hpp
  modules/stitching/src/camera.cpp
  modules/video/src/optical_flow_io.cpp
Labels: category: build/install

#24453 Enable RISC-V CI configuration for 5.x
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#24451 Update of IPP integration
  3rdparty/ippicv/ippicv.cmake
Labels: optimization, category: 3rdparty

#24461 video tracking (dnn): set backend and target for TrackerVit
  modules/video/src/tracking/tracker_vit.cpp
Labels: bug, category: video, category: dnn

#24454 Refactor ObjectiveC Range class
  modules/core/misc/objc/common/Range.h
  modules/core/misc/objc/common/Range.mm
  modules/core/misc/objc/gen_dict.json
Labels: platform: ios/osx, category: swift/objc bindings

#24405 Extend the signature of imdecodemulti()
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: test, feature, category: imgcodecs
