Repository opencv/opencv, pull requests merged in 2023-07, with the labels that each got.

#23901 removing duplicated statement
  modules/calib3d/src/usac/gamma_values.cpp
Labels: category: calib3d

#23900 fixing typos in usac
  modules/calib3d/src/usac/degeneracy.cpp
  modules/calib3d/src/usac/essential_solver.cpp
  modules/calib3d/src/usac/fundamental_solver.cpp
  modules/calib3d/src/usac/pnp_solver.cpp
  modules/calib3d/src/usac/ransac_solvers.cpp
  modules/calib3d/src/usac/sampler.cpp
  modules/calib3d/src/usac/termination.cpp
  modules/calib3d/src/usac/utils.cpp
Labels: category: documentation

#23909 Update PRs & Issue templates to exclude 3.4 from active development
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: category: documentation

#23885 Rewrite SIMD code by using new Universal Intrinsic API : an example.
  modules/core/src/mean.simd.hpp
Labels: optimization, platform: riscv

#23918 use CPACK_PACKAGE_VERSION instead of OPENCV_VCSVERSION for CPACK_PACKAGE_FILE_NAME
  cmake/OpenCVPackaging.cmake
Labels: category: build/install

#23815 Add single image support to VideoCapture
  modules/videoio/src/cap_images.cpp
Labels: feature, category: videoio

#23924 removed trailing semicolon after function
  modules/core/include/opencv2/core/cuda.hpp
Labels: category: gpu/cuda (contrib)

#23814 Fix typo `confindece`
  modules/stitching/include/opencv2/stitching/detail/matchers.hpp
  modules/stitching/src/matchers.cpp
Labels: category: documentation

#23881 Disable finite-math-only option with ENABLE_FAST_MATH=1 case to handle NaN and Inf checks correctly
  cmake/OpenCVCompilerOptions.cmake
Labels: category: core

#23940 videoio: fix CAP_IMAGES with non-numbered file
  modules/videoio/src/cap_images.cpp
Labels: bug, category: videoio

#23928 Add missing properties to error class
  modules/python/src2/typing_stubs_generation/api_refinement.py
  modules/python/src2/typing_stubs_generation/nodes/__init__.py
Labels: category: python bindings

#23944 videoio: test for V4L using virtual device
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/test/test_precomp.hpp
  modules/videoio/test/test_v4l2.cpp
Labels: test, category: videoio

#23955 fix: typing stubs overload presence check
  modules/python/src2/typing_stubs_generation/generation.py
Labels: bug, category: python bindings

#23954 feat: add matrix type stubs generation
  modules/python/src2/typing_stubs_generation/api_refinement.py
  modules/python/src2/typing_stubs_generation/generation.py
Labels: category: python bindings

#23943 Fix checkSignature not thread safe for AVIF.
  modules/imgcodecs/src/grfmt_avif.cpp
Labels: bug, category: imgcodecs

#23927 Fix partially unknown Mat
  modules/core/misc/python/package/mat_wrapper/__init__.py
Labels: category: python bindings

#23958 feat: update NumPy type to Mat type fail message
  modules/python/src2/cv2_convert.cpp
  modules/python/src2/cv2_util.hpp
  modules/python/test/test_misc.py
Labels: feature, category: python bindings

#23963 cmake: don't export external target twice
  cmake/OpenCVUtils.cmake
Labels: bug, category: build/install

#23970 videoio: fix v4l2 test on older platforms (centos)
  modules/videoio/test/test_v4l2.cpp
Labels: category: build/install, platform: linux

#23956 fix: recursively re-export nested submodules in typing stubs
  modules/python/src2/typing_stubs_generation/generation.py
Labels: bug, category: python bindings

#23969 Fixed tests execution with Python 2.7
  modules/python/src2/cv2_util.hpp
  modules/python/test/test_misc.py
Labels: category: python bindings

#23972 Prefer using `TYPE_CHECKING` condition in `cv2.typing` module
  modules/core/misc/python/package/mat_wrapper/__init__.py
  modules/python/src2/typing_stubs_generation/nodes/type_node.py
Labels: category: python bindings

#23973 RISC-V: fix unaligned loads and stores
  modules/core/src/matrix_transform.cpp
  modules/imgproc/src/demosaicing.cpp
Labels: bug, optimization, platform: riscv

#23968 doc: added environment vars reference
  doc/tutorials/introduction/config_reference/config_reference.markdown
  doc/tutorials/introduction/env_reference/env_reference.markdown
  doc/tutorials/introduction/table_of_content_introduction.markdown
Labels: category: documentation

#23966 Add missing ”v_popcount“ for RVV and enable tests.
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: optimization, GSoC, platform: riscv

#23914 update ArUco Dictionary documentation
  doc/opencv.bib
  modules/objdetect/include/opencv2/objdetect/aruco_dictionary.hpp
Labels: category: documentation, category: objdetect

#18498 Add V4L2_PIX_FMT_Y16_BE pixel format
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/test/test_precomp.hpp
  modules/videoio/test/test_v4l2.cpp
Labels: feature, category: videoio(camera), platform: linux

#23920 Fix LoongArch Macro Definition
  modules/core/include/opencv2/core/fast_math.hpp
Labels: category: core, platform: loongson

#23952 DNN: optimize the speed of general Depth-wise
  modules/dnn/perf/perf_convolution.cpp
  modules/dnn/src/layers/cpu_kernels/convolution.cpp
Labels: optimization, category: dnn

#23988 Drop Python2 support
  .github/workflows/arm64-build-checks.yml
  CMakeLists.txt
  cmake/OpenCVDetectPython.cmake
  cmake/OpenCVMinDepVersions.cmake
  cmake/OpenCVModule.cmake
  cmake/vars/OPENCV_DISABLE_THREAD_SUPPORT.cmake
  doc/pattern_tools/test_charuco_board.py
  doc/py_tutorials/py_imgproc/py_histograms/py_2d_histogram/py_2d_histogram.markdown
  doc/py_tutorials/py_imgproc/py_histograms/py_histogram_begins/py_histogram_begins.markdown
  doc/py_tutorials/py_setup/py_setup_in_fedora/py_setup_in_fedora.markdown
  doc/py_tutorials/py_setup/py_setup_in_ubuntu/py_setup_in_ubuntu.markdown
  doc/py_tutorials/py_setup/py_setup_in_windows/py_setup_in_windows.markdown
  doc/tutorials/introduction/config_reference/config_reference.markdown
  doc/tutorials/introduction/macos_install/macos_install.markdown
  modules/python/CMakeLists.txt
  modules/python/python2/CMakeLists.txt
  modules/ts/misc/chart.py
  modules/ts/misc/perf_tests_timing.py
  modules/ts/misc/report.py
  modules/ts/misc/run_long.py
  modules/ts/misc/run_suite.py
  modules/ts/misc/run_utils.py
  modules/ts/misc/summary.py
  modules/ts/misc/table_formatter.py
  modules/ts/misc/testlog_parser.py
  modules/ts/misc/trace_profiler.py
  modules/ts/misc/xls-report.py
  platforms/apple/cv_build_utils.py
  platforms/js/build_js.py
  platforms/wince/readme.md
  platforms/winpack_dldt/build_package.py
  samples/_winpack_run_python_sample.cmd
  samples/dnn/download_models.py
  samples/dnn/object_detection.py
  samples/python/browse.py
  samples/python/camshift.py
  samples/python/coherence.py
  samples/python/common.py
  samples/python/contours.py
  samples/python/demo.py
  samples/python/digits_adjust.py
  samples/python/fitline.py
  samples/python/gaussian_mix.py
  samples/python/kalman.py
  samples/python/lappyr.py
  samples/python/morphology.py
  samples/python/mosse.py
  samples/python/plane_tracker.py
  samples/python/qrcode.py
  samples/python/squares.py
  samples/python/turing.py
Labels: category: python bindings, category: build/install

#24008 test_houghlines: Fix C++20 compatibility
  modules/imgproc/test/test_houghlines.cpp
Labels: category: build/install

#23991 Eliminating compilation warnings when using lto in gcc12 and later versions
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install

#23999 Use OpenCV logging instead of std::cerr
  modules/core/src/ocl.cpp
  modules/core/src/system.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/net_impl.cpp
  modules/highgui/src/window_wayland.cpp
  modules/imgcodecs/src/grfmt_pxm.cpp
  modules/imgcodecs/src/loadsave.cpp
Labels: category: core, category: build/install, category: imgcodecs, category: dnn

#24023 Python typing magic constants
  modules/python/src2/typing_stubs_generation/api_refinement.py
  modules/python/src2/typing_stubs_generation/generation.py
  modules/python/src2/typing_stubs_generation/nodes/constant_node.py
Labels: bug, category: python bindings

#24004 [TFLite] Pack layer and other fixes for SSD from Keras
  modules/dnn/src/tflite/tflite_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: bug, category: dnn

#24024 G-API: Support OpenVINO Execution Provider for ONNXRT Backend
  modules/gapi/include/opencv2/gapi/infer/bindings_onnx.hpp
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/src/backends/onnx/bindings_onnx.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
Labels: feature, category: g-api / gapi

#23931 Fixed possible out-of-bound access in circles drawing
  modules/imgproc/src/drawing.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: bug, category: imgproc

#24028 Fix FLANN python bindings
  modules/flann/include/opencv2/flann/any.h
  modules/flann/include/opencv2/flann/general.h
  modules/flann/include/opencv2/flann/matrix.h
  modules/flann/include/opencv2/flann/params.h
  modules/flann/include/opencv2/flann/result_set.h
  modules/flann/misc/python/pyopencv_flann.hpp
  modules/flann/misc/python/test/test_flann_based_matcher.py
Labels: bug, category: python bindings, category: flann

#24029 feat: add cuda_Stream and cuda_GpuMat to simple types mapping
  modules/python/src2/gen2.py
Labels: bug, category: python bindings, category: gpu/cuda (contrib)

#24040 Increase eps for Test_Torch_nets.FastNeuralStyle_accuracy to prevent sporadic test failres with CUDA.
  modules/dnn/test/test_torch_importer.cpp
Labels: test, category: gpu/cuda (contrib), category: dnn

#24032 Fix undefined behavior with wrong function pointers called.
  modules/core/src/channels.cpp
Labels: category: core

#24001 Use intrinsics for `cvRound` on x86_64 `__GNUC__` (clang/gcc linux) too.
  modules/core/include/opencv2/core/fast_math.hpp
Labels: optimization, category: core

#23990 Unify Pinhole and Fisheye camera models
  modules/calib/include/opencv2/calib.hpp
  modules/calib/test/test_fisheye.cpp
  samples/cpp/tutorial_code/calib3d/camera_calibration/camera_calibration.cpp
Labels: category: calib3d

#24047 Remove unused features in USAC in 4.x
  modules/calib3d/src/usac.hpp
  modules/calib3d/src/usac/utils.cpp
Labels: category: calib3d

#24043 fix compilation error on Windows ARM, use vaddq_f32 instead of +=
  modules/dnn/src/layers/cpu_kernels/conv_block.simd.hpp
Labels: bug, optimization, category: dnn, platform: arm

#24055 Disable waring C5054 in VS2022 c++20
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/imgproc/include/opencv2/imgproc/imgproc_c.h
  modules/videoio/include/opencv2/videoio.hpp
Labels: category: build/install, platform: win32

#24046 feat: add cuda_GpuMat to big types
  modules/python/src2/gen2.py
Labels: category: python bindings, category: gpu/cuda (contrib)

#24045 G-API: Support DirectML Execution Provider for ONNXRT Backend
  cmake/FindONNX.cmake
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/infer/bindings_onnx.hpp
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/misc/python/pyopencv_gapi.hpp
  modules/gapi/src/backends/onnx/bindings_onnx.cpp
  modules/gapi/src/backends/onnx/dml_ep.cpp
  modules/gapi/src/backends/onnx/dml_ep.hpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
Labels: feature, category: g-api / gapi

#24042 Fix harmless ASAN error.
  modules/imgproc/src/drawing.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: category: imgproc

#24061 feat: add highgui functions to typing stubs
  modules/python/src2/typing_stubs_generation/api_refinement.py
  modules/python/src2/typing_stubs_generation/nodes/__init__.py
Labels: category: python bindings

#24054 [Build] popcnt is not supported on windows ARM
  3rdparty/openjpeg/openjp2/ht_dec.c
Labels: platform: win32, platform: arm, category: 3rdparty

#24062 feat: add typing stub for redirectError
  modules/python/src2/typing_stubs_generation/api_refinement.py
Labels: bug, category: python bindings

#24066 Python typing refinement for dnn_registerLayer/dnn_unregisterLayer functions
  modules/python/src2/typing_stubs_generation/api_refinement.py
  modules/python/src2/typing_stubs_generation/ast_utils.py
  modules/python/src2/typing_stubs_generation/generation.py
  modules/python/src2/typing_stubs_generation/nodes/__init__.py
  modules/python/src2/typing_stubs_generation/nodes/class_node.py
  modules/python/src2/typing_stubs_generation/nodes/constant_node.py
  modules/python/src2/typing_stubs_generation/nodes/enumeration_node.py
  modules/python/src2/typing_stubs_generation/nodes/function_node.py
  modules/python/src2/typing_stubs_generation/nodes/namespace_node.py
  modules/python/src2/typing_stubs_generation/nodes/node.py
  modules/python/src2/typing_stubs_generation/nodes/type_node.py
Labels: bug, category: python bindings, category: dnn

#23986 Numeric truncation at `tif_dirread.c:4386`
  3rdparty/libtiff/tif_dirread.c
Labels: category: 3rdparty

#23936 update opencv dnn to support cann version >=6.3
  cmake/OpenCVFindCANN.cmake
  modules/dnn/src/net_cann.cpp
  modules/dnn/src/op_cann.hpp
Labels: category: build/install, category: dnn

#24056 PReLU with element-wise scales
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn

#24005 Merge usac to 5.x
  modules/3d/include/opencv2/3d.hpp
  modules/3d/src/five-point.cpp
  modules/3d/src/fundam.cpp
  modules/3d/src/ptcloud/sac_segmentation.cpp
  modules/3d/src/ptsetreg.cpp
  modules/3d/src/solvepnp.cpp
  modules/3d/src/usac.hpp
  modules/3d/src/usac/bundle.cpp
  modules/3d/src/usac/degeneracy.cpp
  modules/3d/src/usac/dls_solver.cpp
  modules/3d/src/usac/essential_solver.cpp
  modules/3d/src/usac/estimator.cpp
  modules/3d/src/usac/fundamental_solver.cpp
  modules/3d/src/usac/gamma_values.cpp
  modules/3d/src/usac/homography_solver.cpp
  modules/3d/src/usac/local_optimization.cpp
  modules/3d/src/usac/plane_solver.cpp
  modules/3d/src/usac/pnp_solver.cpp
  modules/3d/src/usac/quality.cpp
  modules/3d/src/usac/ransac_solvers.cpp
  modules/3d/src/usac/sampler.cpp
  modules/3d/src/usac/sphere_solver.cpp
  modules/3d/src/usac/termination.cpp
  modules/3d/src/usac/utils.cpp
  modules/3d/test/test_sac_segmentation.cpp
  modules/3d/test/test_usac.cpp
Labels: category: calib3d

#24035 Fix stereoRectify image boundaries.
  modules/calib3d/src/calibration.cpp
  modules/calib3d/test/test_cameracalibration.cpp
Labels: bug, test, category: calib3d
