Repository opencv/opencv, pull requests merged in 2023-01, with the labels that each got.

#23108 Usage of imread(): magic number 0, unchecked result
  apps/traincascade/imagestorage.cpp
  doc/py_tutorials/py_calib3d/py_depthmap/py_depthmap.markdown
  doc/py_tutorials/py_calib3d/py_epipolar_geometry/py_epipolar_geometry.markdown
  doc/py_tutorials/py_core/py_basic_ops/py_basic_ops.markdown
  doc/py_tutorials/py_core/py_image_arithmetics/py_image_arithmetics.markdown
  doc/py_tutorials/py_core/py_optimization/py_optimization.markdown
  doc/py_tutorials/py_feature2d/py_brief/py_brief.markdown
  doc/py_tutorials/py_feature2d/py_fast/py_fast.markdown
  doc/py_tutorials/py_feature2d/py_feature_homography/py_feature_homography.markdown
  doc/py_tutorials/py_feature2d/py_orb/py_orb.markdown
  doc/py_tutorials/py_feature2d/py_surf_intro/py_surf_intro.markdown
  doc/py_tutorials/py_imgproc/py_canny/py_canny.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contour_features/py_contour_features.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contours_begin/py_contours_begin.markdown
  doc/py_tutorials/py_imgproc/py_contours/py_contours_more_functions/py_contours_more_functions.markdown
  doc/py_tutorials/py_imgproc/py_filtering/py_filtering.markdown
  doc/py_tutorials/py_imgproc/py_geometric_transformations/py_geometric_transformations.markdown
  doc/py_tutorials/py_imgproc/py_grabcut/py_grabcut.markdown
  doc/py_tutorials/py_imgproc/py_gradients/py_gradients.markdown
  doc/py_tutorials/py_imgproc/py_histograms/py_2d_histogram/py_2d_histogram.markdown
  doc/py_tutorials/py_imgproc/py_histograms/py_histogram_backprojection/py_histogram_backprojection.markdown
  doc/py_tutorials/py_imgproc/py_histograms/py_histogram_begins/py_histogram_begins.markdown
  doc/py_tutorials/py_imgproc/py_histograms/py_histogram_equalization/py_histogram_equalization.markdown
  doc/py_tutorials/py_imgproc/py_houghcircles/py_houghcircles.markdown
  doc/py_tutorials/py_imgproc/py_morphological_ops/py_morphological_ops.markdown
  doc/py_tutorials/py_imgproc/py_pyramids/py_pyramids.markdown
  doc/py_tutorials/py_imgproc/py_template_matching/py_template_matching.markdown
  doc/py_tutorials/py_imgproc/py_thresholding/py_thresholding.markdown
  doc/py_tutorials/py_imgproc/py_transforms/py_fourier_transform/py_fourier_transform.markdown
  doc/py_tutorials/py_imgproc/py_watershed/py_watershed.markdown
  doc/py_tutorials/py_photo/py_inpainting/py_inpainting.markdown
  doc/tutorials/introduction/linux_eclipse/linux_eclipse.markdown
  doc/tutorials/introduction/linux_gcc_cmake/linux_gcc_cmake.markdown
  modules/calib3d/test/test_chesscorners.cpp
  modules/calib3d/test/test_stereomatching.cpp
  modules/features2d/test/test_descriptors_regression.cpp
  modules/imgcodecs/misc/java/test/ImgcodecsTest.java
  modules/imgproc/test/test_connectedcomponents.cpp
  modules/imgproc/test/test_imgproc_umat.cpp
  modules/imgproc/test/test_watershed.cpp
  modules/java/test/android_test/src/org/opencv/test/OpenCVTestCase.java
  modules/java/test/pure_test/src/org/opencv/test/OpenCVTestCase.java
  modules/objdetect/test/test_cascadeandhog.cpp
  modules/photo/test/test_denoising.cpp
  modules/videoio/test/test_ffmpeg.cpp
  samples/cpp/3calibration.cpp
  samples/cpp/calibration.cpp
  samples/cpp/facedetect.cpp
  samples/cpp/pca.cpp
  samples/cpp/stereo_calib.cpp
  samples/cpp/tutorial_code/snippets/imgproc_HoughLinesCircles.cpp
  samples/cpp/tutorial_code/snippets/imgproc_HoughLinesP.cpp
  samples/cpp/tutorial_code/snippets/imgproc_calcHist.cpp
  samples/cpp/tutorial_code/snippets/imgproc_drawContours.cpp
  samples/cpp/watershed.cpp
  samples/python/calibrate.py
  samples/python/mouse_and_match.py
Labels: category: documentation

#23117 videoio(test): skip unstable Media.audio test
  modules/videoio/test/test_audio.cpp
Labels: test, category: videoio

#23114 fix typo: stetDictionary to setDictionary
  platforms/js/opencv_js.config.py
Labels: category: javascript (js)

#23062 CUDA: add Ada Lovelace and Hopper CC
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#23112 DNN: fix possible segmentation fault error in winograd on x86
  modules/dnn/src/layers/fast_convolution/fast_convolution.avx2.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.cpp
  modules/dnn/src/layers/fast_convolution/winograd_3x3s1_f63.cpp
Labels: bug, optimization, category: dnn

#23111 Open CV_CPU_NEON_DOTPROD on Apple silicon devices
  modules/core/src/system.cpp
Labels: bug, platform: ios/osx

#23120 build: eliminate GCC9 warning from sift.simd.hpp
  modules/features2d/src/sift.simd.hpp
Labels: category: build/install

#22938 Use reinterpret instead of c-style casting for GCC
  cmake/checks/cpu_rvv.cpp
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
Labels: category: build/install, platform: riscv

#23096 DNN: fused depthwise and add
  modules/dnn/src/layers/fast_convolution/depthwise_convolution.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn

#23128 Fix broken paper link for fastNlMeansDenoising
  doc/opencv.bib
  modules/photo/include/opencv2/photo.hpp
Labels: bug, category: documentation, category: photo

#23095 fix openmp include and link issue on macos
  cmake/OpenCVFindFrameworks.cmake
  modules/core/CMakeLists.txt
  modules/video/CMakeLists.txt
Labels: category: build/install, platform: ios/osx

#23143 Fix compilation with msan
  modules/core/src/hal_internal.cpp
Labels: bug, category: core, category: build/install

#23145 Backport to 3.4: cvIsInf() fix
  modules/core/include/opencv2/core/fast_math.hpp
  modules/core/test/test_math.cpp
Labels: bug, test, category: core

#23141 Backport C-API cleanup (imgproc) from 5.x
  doc/tutorials/imgproc/erosion_dilatation/erosion_dilatation.markdown
  doc/tutorials/imgproc/histograms/histogram_comparison/histogram_comparison.markdown
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/test/test_undistort.cpp
  modules/core/include/opencv2/core/cuda.hpp
  modules/gapi/include/opencv2/gapi/core.hpp
  modules/imgproc/doc/pics/polar_remap_doc.svg
  modules/imgproc/misc/java/test/ImgprocTest.java
  modules/imgproc/perf/opencl/perf_matchTemplate.cpp
  modules/imgproc/perf/perf_houghcircles.cpp
  modules/imgproc/src/_geom.h
  modules/imgproc/src/canny.cpp
  modules/imgproc/src/drawing.cpp
  modules/imgproc/src/linefit.cpp
  modules/imgproc/src/segmentation.cpp
  modules/imgproc/src/templmatch.cpp
  modules/imgproc/test/ocl/test_match_template.cpp
  modules/imgproc/test/test_canny.cpp
  modules/imgproc/test/test_drawing.cpp
  modules/imgproc/test/test_houghcircles.cpp
  modules/imgproc/test/test_imgwarp_strict.cpp
  modules/imgproc/test/test_pc.cpp
  modules/imgproc/test/test_templmatch.cpp
  modules/imgproc/test/test_templmatchmask.cpp
  modules/photo/src/inpaint.cpp
  modules/ts/src/ocl_test.cpp
  modules/ts/src/ts_func.cpp
  modules/video/test/test_camshift.cpp
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_openni2.cpp
  samples/android/15-puzzle/src/org/opencv/samples/puzzle15/Puzzle15Processor.java
  samples/cpp/mask_tmpl.cpp
  samples/java/tutorial_code/ImgProc/erosion_dilatation/MorphologyDemo1.java
Labels: category: imgproc, category: videoio, category: build/install, category: calib3d, category: photo

#23148 perf: drop runtime time adjustment calibration
  modules/ts/include/opencv2/ts/ts_perf.hpp
  modules/ts/src/ts_perf.cpp
Labels: test, cleanup

#16189 Enable 2-channel arrays in resize tests
  modules/calib3d/test/test_homography.cpp
  modules/imgproc/test/test_color.cpp
  modules/imgproc/test/test_convhull.cpp
  modules/imgproc/test/test_imgwarp.cpp
  modules/imgproc/test/test_imgwarp_strict.cpp
  modules/ts/src/ts.cpp
  modules/video/test/test_estimaterigid.cpp
Labels: bug, test, category: imgproc

#23073 USAC fix: GraphCut fails to allocate big dense matrices
  modules/calib3d/src/precomp.hpp
  modules/calib3d/src/usac/local_optimization.cpp
  modules/calib3d/test/test_usac.cpp
Labels: bug, category: calib3d

#23154 SURF: make test tolerate to rounding error
  modules/ts/src/cuda_test.cpp
Labels: test, category: gpu/cuda (contrib)

#23025 Backport to 3.4: fixing how stdDev in calibration is calculated
  modules/calib3d/src/calibration.cpp
Labels: bug, category: calib3d

#23173 build: suppress warning
  modules/dnn/src/cuda4dnn/primitives/matmul.hpp
Labels: category: build/install, category: gpu/cuda (contrib), category: dnn

#23172 Adding HEVC/H265 FourCC support to MSMF video writer
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/test/test_video_io.cpp
Labels: feature, category: videoio, platform: win32

#23165 removed redundant code in `distransform.cpp`
  modules/imgproc/src/distransform.cpp
Labels: category: imgproc, cleanup

#23178 Fisheye calibration: uncertainty fixed
  modules/calib/src/fisheye.cpp
  modules/calib/test/test_fisheye.cpp
Labels: category: calib3d

#23047 dnn: add layer normalization for vision transformers
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/layer_norm.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, feature, category: dnn

#23185 Avoid double-checked locking with TSAN in parallel
  modules/core/src/parallel.cpp
Labels: category: core

#23179 Backport to 3.4 of the fisheye calibration uncertainty fix
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: bug, category: calib3d

#23076 Fix occuring artifacts in fillPoly
  modules/imgproc/src/drawing.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: bug, category: imgproc

#23162 DNN: fixed bug in depthwise conv of stride 2
  modules/dnn/src/layers/fast_convolution/depthwise_convolution.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, test, optimization, category: dnn

#23168 Fix encodeStructuredAppend() resulting in only one QR code problem, and false output data fix.
  modules/objdetect/src/qrcode_encoder.cpp
  modules/objdetect/test/test_qrcode_encode.cpp
Labels: bug, category: objdetect

#23186 MSVC warnings fixed in 3d module
  modules/3d/perf/perf_tsdf.cpp
  modules/3d/src/rgbd/odometry_functions.cpp
  modules/3d/src/rgbd/odometry_functions.hpp
  modules/3d/src/rgbd/volume_impl.cpp
  modules/3d/test/test_odometry.cpp
  modules/3d/test/test_tsdf.cpp
Labels: category: build/install, platform: win32

#23198 RISC-V RVV 0.7: v_add/v_sub saturation and avoiding 64-bit VLEN
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
Labels: optimization, category: core, platform: riscv
