Repository opencv/opencv, pull requests merged in 2023-09, with the labels that each got.

#24203 Fix compilation on arm64 with FP16 when disabled
  modules/dnn/src/layers/cpu_kernels/convolution.hpp
Labels: bug, category: dnn

#24199 imgcodecs: fix libtiff URL in opencv source code
  3rdparty/readme.txt
  modules/imgcodecs/src/grfmt_tiff.cpp
Labels: category: documentation, category: 3rdparty

#24178 G-API: Introduce a Queue Source
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/gtype_traits.hpp
  modules/gapi/include/opencv2/gapi/streaming/queue_source.hpp
  modules/gapi/include/opencv2/gapi/streaming/source.hpp
  modules/gapi/src/compiler/gislandmodel.hpp
  modules/gapi/src/executor/gstreamingexecutor.cpp
  modules/gapi/src/streaming/queue_source.cpp
  modules/gapi/test/streaming/gapi_streaming_queue_source_tests.cpp
Labels: category: g-api / gapi

#24215 core: arm64: v_round() works with round to nearest, ties to even.
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, optimization, category: core, platform: arm

#23904 removing unreachable codes in `gbackend`
  modules/gapi/src/api/gbackend.cpp
Labels: category: g-api / gapi

#23607 Fix crash in ap3p
  modules/calib3d/src/ap3p.cpp
  modules/calib3d/test/test_solvepnp_ransac.cpp
Labels: category: calib3d

#24221 Increase the test threshold of FastRCNN_vgg166 and FastRCNN_zf when FAST_MATH enable
  modules/dnn/test/test_caffe_importer.cpp
Labels: test, category: dnn

#24216 Minor optimization of two lines intersection
  modules/imgproc/src/geometry.cpp
  modules/objdetect/src/qrcode.cpp
Labels: optimization

#24209 Fixed bug with the last 4 bytes in MJPEG encoder
  modules/videoio/src/cap_mjpeg_encoder.cpp
Labels: bug, category: videoio

#24214 distanceTransform for inputs with large step and height
  modules/imgproc/src/distransform.cpp
  modules/imgproc/test/test_distancetransform.cpp
Labels: bug, category: imgproc

#24139 fix refineDetectedMarkers
  modules/objdetect/misc/python/test/test_objdetect_aruco.py
  modules/objdetect/src/aruco/aruco_detector.cpp
Labels: bug, test, category: objdetect

#24223 Revert PR 24186 as it forces skipping tests
  modules/core/test/test_misc.cpp
  modules/python/test/tests_common.py
  modules/ts/include/opencv2/ts/ts_ext.hpp
  modules/ts/src/ts_tags.cpp
Labels: bug, test

#24204 Properly preserve chi_table license as mandated by BSD-3-Clause
  modules/features2d/3rdparty/mscr/chi_table.h
  modules/features2d/3rdparty/mscr/chi_table_LICENSE.txt
  modules/features2d/CMakeLists.txt
  modules/features2d/src/mser.cpp
Labels: category: documentation

#24196 Use ngraph::Output in OpenVINO backend wrapper
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/crop_and_resize_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/net_openvino.cpp
  modules/dnn/test/test_halide_layers.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: category: dnn

#24227 Add missing <sstream> includes
  apps/visualisation/opencv_visualisation.cpp
  modules/core/include/opencv2/core/opencl/opencl_info.hpp
  modules/core/src/check.cpp
Labels: category: build/install

#24128 Fix bug at blobFromImagesWithParams
  modules/dnn/src/dnn_utils.cpp
  modules/dnn/test/test_misc.cpp
Labels: bug, category: dnn

#24232 Add missing std namespace qualifiers
  modules/calib3d/test/test_affine2d_estimator.cpp
  modules/calib3d/test/test_affine3d_estimator.cpp
  modules/calib3d/test/test_affine_partial2d_estimator.cpp
  modules/calib3d/test/test_stereomatching.cpp
  modules/calib3d/test/test_translation3d_estimator.cpp
  modules/core/test/test_countnonzero.cpp
  modules/features2d/test/test_descriptors_regression.cpp
  modules/imgproc/test/test_histograms.cpp
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_cascadeandhog.cpp
Labels: category: build/install

#24180 Fixed the channels when capturing yuv422 with v4l2 backend
  modules/videoio/src/cap_v4l.cpp
Labels: bug, category: videoio(camera), platform: linux

#24228 fix extendDictionary
  modules/objdetect/src/aruco/aruco_dictionary.cpp
  modules/objdetect/test/test_boarddetection.cpp
Labels: bug, test, category: objdetect

#24246 Check that cv::merge input matrices are not empty
  modules/core/src/merge.dispatch.cpp
Labels: bug, category: core

#24218 Added CMake configuration OPENCV_DNN_BACKEND_DEFAULT
  CMakeLists.txt
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/dnn_params.cpp
Labels: category: build/install, category: dnn

#24244 Replaced torch7 by onnx model in js_face_recognition dnn sample
  samples/dnn/js_face_recognition.html
Labels: category: samples, category: javascript (js)

#24245 Replaced torch7 model by ONNX model in fast-neural-style dnn sample
  samples/dnn/fast_neural_style.py
Labels: category: samples

#24251 Build with OpenVINO in Debug
  modules/dnn/src/net_openvino.cpp
Labels: bug, category: dnn

#24252 cmake: revise OPENCV_DNN_BACKEND_DEFAULT integration
  CMakeLists.txt
  modules/dnn/CMakeLists.txt
  modules/dnn/src/dnn_params.cpp
Labels: category: build/install, category: dnn

#24248 JavaScript: include LUT support
  modules/js/test/test_core.js
  modules/js/test/test_mat.js
  modules/js/test/tests.html
  modules/js/test/tests.js
  platforms/js/opencv_js.config.py
Labels: test, feature, category: javascript (js)

#24239 More strict test for MSMF FOURCC (camera)
  modules/videoio/test/test_camera.cpp
Labels: category: videoio, platform: win32

#24247 fix type cast in drawDetectedMarkers, drawDetectedCornersCharuco, drawDetectedDiamonds
  modules/objdetect/misc/python/test/test_objdetect_aruco.py
  modules/objdetect/src/aruco/aruco_detector.cpp
  modules/objdetect/src/aruco/charuco_detector.cpp
  modules/objdetect/test/test_charucodetection.cpp
Labels: bug, test, category: objdetect

#24263 Add missing sanitizer interface include
  modules/core/src/hal_internal.cpp
Labels: category: build/install

#24266 Added default dimension value to tensorflow ArgMax and ArgMin layers
  modules/dnn/src/tensorflow/tf_importer.cpp
Labels: category: dnn

#24269 Update OpenCVFindOpenBLAS.cmake to accomodate alternative lib name
  cmake/OpenCVFindOpenBLAS.cmake
Labels: category: build/install

#24131 `cuda`: update default PTX behaviour when `CUDA_ARCH_BIN` is unset
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#24260 Fix undefined behavior arithmetic in copyMakeBorder and adjustROI.
  modules/core/src/copy.cpp
  modules/core/src/matrix.cpp
  modules/core/test/test_mat.cpp
  modules/core/test/test_operations.cpp
Labels: category: build/install

#24270 Higher threshold for FasterRCNN_vgg16
  modules/dnn/test/test_caffe_importer.cpp
Labels: test, category: dnn

#24058 Rewrite Universal Intrinsic code by using new API: ImgProc module.
  modules/imgproc/src/accum.simd.hpp
  modules/imgproc/src/blend.cpp
  modules/imgproc/src/canny.cpp
  modules/imgproc/src/color_rgb.simd.hpp
  modules/imgproc/src/contours.cpp
  modules/imgproc/src/corner.cpp
  modules/imgproc/src/histogram.cpp
  modules/imgproc/src/pyramids.cpp
  modules/imgproc/src/resize.cpp
  modules/imgproc/src/smooth.simd.hpp
  modules/imgproc/src/spatialgradient.cpp
Labels: optimization, GSoC, platform: riscv

#24278 More fixes for iterators-are-pointers case
  modules/calib3d/src/checkchessboard.cpp
  modules/objdetect/src/aruco/apriltag/apriltag_quad_thresh.cpp
Labels: category: build/install

#24275 Fixed removePhaseSwitches in tf_graph_simplifier
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
Labels: category: dnn

#24288 build fixes for emscripten 3.1.45
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/js/src/core_bindings.cpp
Labels: category: build/install, category: javascript (js)

#24132 Rewrite Universal Intrinsic code by using new API: ImgProc module Part 2
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_compat_overloaded.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/imgproc/src/bilateral_filter.simd.hpp
  modules/imgproc/src/color_lab.cpp
  modules/imgproc/src/color_yuv.simd.hpp
  modules/imgproc/src/filter.simd.hpp
  modules/imgproc/src/hough.cpp
  modules/imgproc/src/stackblur.cpp
  modules/imgproc/src/thresh.cpp
Labels: optimization, category: imgproc, platform: riscv

#24074 python: support tuple src for cv::add()/subtract()/...
  modules/core/include/opencv2/core.hpp
  modules/python/src2/cv2.hpp
  modules/python/src2/cv2_convert.cpp
  modules/python/src2/cv2_convert.hpp
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
  modules/python/test/test_misc.py
Labels: category: python bindings

#24166 Rewrite Universal Intrinsic code: ImgProc (CV_SIMD_WIDTH related Part)
  modules/imgproc/src/box_filter.simd.hpp
  modules/imgproc/src/morph.simd.hpp
  modules/imgproc/src/shapedescr.cpp
Labels: category: imgproc, platform: riscv

#24201 vittrack(gsoc realtime object tracking model)
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/src/tracking/tracker_vit.cpp
  modules/video/test/test_trackers.cpp
  samples/dnn/vit_tracker.cpp
  samples/python/tracker.py
Labels: category: video, GSoC

#23897 dnn: add gemm_layer in place of fully_connected_layer for onnx models
  modules/dnn/CMakeLists.txt
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/perf/perf_gemm.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/cpu_kernels/fast_gemm.cpp
  modules/dnn/src/layers/cpu_kernels/fast_gemm.hpp
  modules/dnn/src/layers/cpu_kernels/fast_gemm_kernels.default.hpp
  modules/dnn/src/layers/cpu_kernels/fast_gemm_kernels.simd.hpp
  modules/dnn/src/layers/gemm_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_int8_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: optimization, category: dnn, category: dnn (onnx)

#24291 Fix memory leak and handle realloc failure
  modules/dnn/src/torch/THDiskFile.cpp
Labels: bug, category: dnn

#24126 fix charuco checkBoard
  modules/objdetect/include/opencv2/objdetect/aruco_board.hpp
  modules/objdetect/src/aruco/aruco_board.cpp
  modules/objdetect/src/aruco/charuco_detector.cpp
  modules/objdetect/test/test_charucodetection.cpp
Labels: bug, test, category: objdetect

#24303 Warnings fix on Windows.
  modules/calib3d/src/stereobm.cpp
  modules/calib3d/src/stereosgbm.cpp
  modules/video/src/tracking/tracker_vit.cpp
  modules/video/test/test_trackers.cpp
Labels: category: build/install

#24302 Skip test cases in case of SkipTestException in SetUp
  modules/core/test/test_misc.cpp
  modules/ts/include/opencv2/ts/ts_ext.hpp
Labels: test

#24037 Add Support for Einsum Layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/einsum_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, category: dnn (onnx)

#24286 add Intel® oneAPI DPC++/C++ Compiler (icx)
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVCompilerOptions.cmake
  cmake/OpenCVDetectCXXCompiler.cmake
Labels: feature, category: build/install

#24262 RISC-V: fix compilation in RVV scalable mode
  modules/3d/src/pointcloud/utils.hpp
  modules/3d/src/ptcloud/sampling.cpp
  modules/3d/src/rgbd/tsdf_functions.hpp
  modules/3d/src/usac/estimator.cpp
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/src/convert.hpp
Labels: bug, optimization, category: build/install, platform: riscv, category: 3d module

#24301 Rewrite Universal Intrinsic code: features2d and calib3d module.
  modules/calib3d/src/stereobm.cpp
  modules/calib3d/src/stereosgbm.cpp
  modules/features2d/src/sift.simd.hpp
Labels: optimization, platform: riscv

#24305 cmake: Fix riscv-gnu toolchain file.
  platforms/linux/riscv-gnu.toolchain.cmake
Labels: category: build/install

#24295 dnn: expand refactor with cv::broadcast for onnx models
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/expand_layer.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, category: dnn (onnx)

#24309 Update OpenVINO init of new GEMM layer
  modules/dnn/perf/perf_gemm.cpp
  modules/dnn/src/layers/gemm_layer.cpp
Labels: category: dnn

#24283 dnn: merge tests from test_halide_layers to test_backends
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_halide_layers.cpp
Labels: test, category: dnn, cleanup

#24329 Added CI with OpenVINO for DNN and G-API.
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#24280 optimization for parallelization when large core number
  modules/core/src/parallel_impl.cpp
Labels: optimization, category: core

#24334 dnn onnx: fix not-found constant indices for Gather if shared
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn, category: dnn (onnx)

#23987 OpenVINO backend for INT8 models
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/int8layers/batch_norm_layer.cpp
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/elementwise_layers.cpp
  modules/dnn/src/int8layers/eltwise_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/pooling_layer.cpp
  modules/dnn/src/int8layers/quantization_utils.cpp
  modules/dnn/src/int8layers/scale_layer.cpp
  modules/dnn/src/int8layers/softmax_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/net_impl_backend.cpp
  modules/dnn/src/net_openvino.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/test/test_int8_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: optimization, category: dnn

#24341 fix: update location to `samples/dnn/download_models.py`
  samples/dnn/README.md
Labels: category: documentation

#24344 Fixed OpenCL FP16 fallback in Einsum layer
  modules/dnn/src/layers/einsum_layer.cpp
Labels: bug, category: ocl, category: dnn
