Repository opencv/opencv, pull requests merged in 2023-03, with the labels that each got.

#23237 videoio: add support for Orbbec Femto Mega RGB-D camera
  modules/videoio/src/cap_obsensor/obsensor_stream_channel_interface.hpp
  modules/videoio/src/cap_obsensor/obsensor_stream_channel_msmf.cpp
  modules/videoio/src/cap_obsensor/obsensor_uvc_stream_channel.cpp
  modules/videoio/src/cap_obsensor_capture.cpp
Labels: feature, category: videoio

#22441 Speed up HLS2RGB.
  modules/imgproc/src/color_hsv.simd.hpp
Labels: optimization, category: imgproc

#23305 Fix calib3d undistortion grid
  modules/calib3d/src/calibration.cpp
  modules/calib3d/test/test_undistort.cpp
Labels: category: calib3d

#23283 Fix signed integer overflow.
  modules/imgproc/src/stb_truetype.cpp
Labels: bug, category: imgproc

#23268 fix: remove extra '/O' modifier for '/IO' arguments
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
Labels: bug, category: python bindings

#23301 Fixed strict type in slerp and spline; Fixed nlerp usage condition
  modules/core/include/opencv2/core/quaternion.inl.hpp
Labels: bug, category: core

#23192 DNN: Refactor the fast conv structure
  modules/dnn/CMakeLists.txt
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/cpu_kernels/conv_block.simd.hpp
  modules/dnn/src/layers/cpu_kernels/conv_depthwise.cpp
  modules/dnn/src/layers/cpu_kernels/conv_depthwise.simd.hpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.simd.hpp
  modules/dnn/src/layers/cpu_kernels/convolution.cpp
  modules/dnn/src/layers/cpu_kernels/convolution.hpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.avx2.cpp
  modules/dnn/src/layers/fast_convolution/fast_convolution.simd.hpp
  modules/dnn/src/layers/fast_convolution/winograd_3x3s1_f63.cpp
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: optimization, category: dnn

#23261 Remove separator between trackbars.
  modules/highgui/src/window_w32.cpp
Labels: category: highgui-gui, platform: win32

#23319 dnn CANN backend: fix some bugs and add some features
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/layer.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/net_cann.cpp
  modules/dnn/src/op_cann.cpp
  modules/dnn/src/op_cann.hpp
Labels: bug, category: dnn, category:dnn_cann

#23343 DNN Test ONNX: Fix the logic of the test case
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_denylist.inl.hpp
Labels: test, category: dnn (onnx)

#23353 Fix bugs of test case failure
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.cpp
Labels: bug, category: dnn

#23276 Fixed potential memory leak in flann
  modules/flann/include/opencv2/flann/flann_base.hpp
  modules/flann/src/miniflann.cpp
Labels: bug, category: flann

#23354 DNN : fix bug in layer fusion
  modules/dnn/src/net_impl_fuse.cpp
Labels: bug, category: dnn

#23291 remove flags of obsolete VideoCapture backends
  doc/tutorials/app/kinect_openni.markdown
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/include/opencv2/videoio/legacy/constants_c.h
  modules/videoio/misc/gen_dict.json
  modules/videoio/test/test_video_io.cpp
  samples/cpp/videocapture_openni.cpp
Labels: category: videoio

#23357 DNN : Fix Winograd optimization on x86 32-bit CPUs
  modules/dnn/src/layers/cpu_kernels/convolution.cpp
  modules/dnn/src/layers/cpu_kernels/convolution.hpp
Labels: bug, category: dnn

#23139 add python charuco sample
  samples/data/aruco/choriginal.jpg
  samples/data/aruco/tutorial_camera_charuco.yml
  samples/python/aruco_detect_board_charuco.py
Labels: category: samples, category: objdetect

#23356 Optimize&Fix fitEllipse sample
  samples/cpp/fitellipse.cpp
Labels: category: samples

#23292 Add ENABLE_DELAYLOAD option
  CMakeLists.txt
  cmake/OpenCVModule.cmake
Labels: category: build/install, platform: win32

#23196 added argument to print notice in `roiSelector.cpp`
  modules/highgui/include/opencv2/highgui.hpp
  modules/highgui/src/roiSelector.cpp
Labels: feature, category: highgui-gui

#23377 use findFile in opengl.cpp sample
  samples/opengl/opengl.cpp
Labels: category: samples

#23300 Support VideoCapture CAP_PROP_AUTO_WB and CV_CAP_PROP_WHITE_BALANCE_BLUE_U for DShow
  modules/videoio/src/cap_dshow.cpp
Labels: feature, category: videoio(camera), platform: win32

#23325 Propagate inputs info for ONNX and TFLite models
  modules/dnn/src/net_impl.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tflite/tflite_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: category: dnn

#23344 Add possibility for disabling inlining `wasm` in `opencv.js`
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  modules/js/CMakeLists.txt
  platforms/js/build_js.py
Labels: category: javascript (js)

#23275 Added QR_Code data flip support, flip and retry after first ECC failure
  3rdparty/quirc/include/quirc.h
  3rdparty/quirc/src/decode.c
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: test, feature, category: objdetect

#23250 highgui: Set hard GLib requirement to >=2.32
  modules/highgui/cmake/detect_gtk.cmake
  modules/highgui/src/window_gtk.cpp
Labels: category: highgui-gui, category: build/install

#23380 Fix error of `POSE_PAIRS` in pose estimation doc
  doc/js_tutorials/js_assets/js_pose_estimation.html
Labels: bug, category: javascript (js)

#23381 two typos
  modules/core/src/hal_replacement.hpp
Labels: category: documentation

#23019 Fix for using sampleIdx to limit training data
  modules/ml/src/data.cpp
Labels: bug, category: ml

#22363 add multiview calibration [GSOC 2022]
  apps/python-calibration-generator/board.py
  apps/python-calibration-generator/calibration_generator.py
  apps/python-calibration-generator/config_cv_test.yaml
  apps/python-calibration-generator/drawer.py
  apps/python-calibration-generator/utils.py
  doc/tutorials/calib3d/camera_multiview_calibration/images/1.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/2.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/3.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/4.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/checkerboard.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/exp.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/terminal-demo.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/terminal-real-demo.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/multiview_calibration.markdown
  doc/tutorials/calib3d/interactive_calibration/interactive_calibration.markdown
  doc/tutorials/calib3d/table_of_content_calib3d.markdown
  modules/calib/include/opencv2/calib.hpp
  modules/calib/src/calibration.cpp
  modules/calib/src/multiview_calibration.cpp
  modules/calib/test/test_cameracalibration.cpp
  modules/calib/test/test_fisheye.cpp
  modules/calib/test/test_multiview_calib.cpp
  samples/cpp/multiview_calibration_sample.cpp
  samples/python/multiview_calibration.py
Labels: feature, category: calib3d, GSoC

#23307 core(simd): 64-bit integer EQ/NE without misused 64F guard
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, optimization, feature, category: core, RFC

#22471 Increasing tolerance for Preproc4lpiTest set on ARM
  modules/gapi/test/gapi_fluid_resize_test.cpp
Labels: bug, test, category: g-api / gapi

#23399 Fix create aruco Board in Python
  modules/objdetect/misc/python/test/test_objdetect_aruco.py
  modules/objdetect/src/aruco/aruco_board.cpp
Labels: bug, test, category: python bindings, category: objdetect

#23367 Note for MSMF in doc
  modules/videoio/include/opencv2/videoio.hpp
Labels: category: videoio, category: documentation

#23271 Aruco/Charuco test case fixes for floating point for loops
  modules/objdetect/test/test_arucodetection.cpp
  modules/objdetect/test/test_boarddetection.cpp
  modules/objdetect/test/test_charucodetection.cpp
Labels: bug, test, category: objdetect
