Repository opencv/opencv, pull requests merged in 2023-02, with the labels that each got.

#23204 Fix rootsift
  modules/features2d/src/sift.simd.hpp
Labels: bug, category: features2d

#23203 Supress tones of -Wdeprecated-copy warnings
  modules/gapi/cmake/DownloadADE.cmake
  modules/ts/include/opencv2/ts.hpp
Labels: port/backport done, category: build/install, platform: ios/osx

#23067 Fix Heap-buffer-overflow READ in opj_jp2_apply_pclr
  3rdparty/openjpeg/openjp2/jp2.c
Labels: bug, category: imgcodecs, category: 3rdparty

#23217 Change generated header file output location
  CMakeLists.txt
  modules/core/CMakeLists.txt
Labels: category: build/install

#23214 Warning supression fix for XCode 13.1 and newer. Backport #23203
  3rdparty/libpng/CMakeLists.txt
  modules/calib3d/test/test_cameracalibration.cpp
  modules/flann/include/opencv2/flann/index_testing.h
  modules/ml/src/kdtree.cpp
  modules/ts/include/opencv2/ts.hpp
  modules/video/test/test_optflowpyrlk.cpp
Labels: port/backport done, category: build/install

#23222 Update charuco_detector.cpp
  modules/objdetect/src/aruco/charuco_detector.cpp
Labels: bug, category: objdetect

#23210 Fix rect_nfa (lsd)
  modules/imgproc/src/lsd.cpp
Labels: bug, category: imgproc

#23061 DNN: make GEMM can be supported with transA and transB in CUDA
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/cuda4dnn/primitives/matmul.hpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: optimization, category: gpu/cuda (contrib), category: dnn, category: dnn (onnx)

#23209 Fixes #23187 (part 1)
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#23219 Add GELU layer for vision transformers
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn, category: dnn (onnx)

#23131 Fix misaligned-pointer-use in intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
Labels: category: core

#23211 [G-API] Pipeline modeling tool: Refactor calculating performance statistics
  modules/gapi/samples/pipeline_modeling_tool.cpp
  modules/gapi/samples/pipeline_modeling_tool/dummy_source.hpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline.hpp
  modules/gapi/samples/pipeline_modeling_tool/pipeline_builder.hpp
  modules/gapi/samples/pipeline_modeling_tool/utils.hpp
Labels: category: samples, category: g-api / gapi

#23247 Fix focal length estimation from homography matrix
  modules/stitching/src/autocalib.cpp
Labels: bug, affected: 3.4, category: stitching

#23124 different interpolation by double image
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/sift.dispatch.cpp
  modules/features2d/test/test_descriptors_regression.impl.hpp
  modules/features2d/test/test_detectors_invariance.cpp
  modules/features2d/test/test_detectors_invariance.impl.hpp
  modules/features2d/test/test_invariance_utils.hpp
Labels: bug, category: features2d

#23255 DNN: fuse conv+naryEletwise on CUDA backend.
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/net_impl_fuse.cpp
Labels: optimization, category: gpu/cuda (contrib), category: dnn

#23274 dnn(tflite): add 3rdparty flatbuffers with pre-generated schema
  3rdparty/flatbuffers/LICENSE.txt
  3rdparty/flatbuffers/README.md
  3rdparty/flatbuffers/include/flatbuffers/allocator.h
  3rdparty/flatbuffers/include/flatbuffers/array.h
  3rdparty/flatbuffers/include/flatbuffers/base.h
  3rdparty/flatbuffers/include/flatbuffers/buffer.h
  3rdparty/flatbuffers/include/flatbuffers/buffer_ref.h
  3rdparty/flatbuffers/include/flatbuffers/default_allocator.h
  3rdparty/flatbuffers/include/flatbuffers/detached_buffer.h
  3rdparty/flatbuffers/include/flatbuffers/flatbuffer_builder.h
  3rdparty/flatbuffers/include/flatbuffers/flatbuffers.h
  3rdparty/flatbuffers/include/flatbuffers/stl_emulation.h
  3rdparty/flatbuffers/include/flatbuffers/string.h
  3rdparty/flatbuffers/include/flatbuffers/struct.h
  3rdparty/flatbuffers/include/flatbuffers/table.h
  3rdparty/flatbuffers/include/flatbuffers/vector.h
  3rdparty/flatbuffers/include/flatbuffers/vector_downward.h
  3rdparty/flatbuffers/include/flatbuffers/verifier.h
  CMakeLists.txt
  cmake/OpenCVDetectFlatbuffers.cmake
  cmake/OpenCVFindFlatBuffers.cmake
  cmake/OpenCVUtils.cmake
  modules/dnn/CMakeLists.txt
  modules/dnn/misc/tflite/schema_generated.h
  modules/dnn/src/tflite/tflite_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
  modules/highgui/CMakeLists.txt
  modules/videoio/CMakeLists.txt
Labels: feature, category: build/install, category: dnn, category: 3rdparty

#23287 dnn(tflite): fix wrong axis normalization
  modules/dnn/src/tflite/tflite_importer.cpp
Labels: bug, category: dnn
