Repository opencv/opencv, pull requests merged in 2024-11, with the labels that each got.

#26203 Use generic SIMD in warpAffineBlocklineNN
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/imgwarp.hpp
  modules/imgproc/src/imgwarp.sse4_1.cpp
Labels: optimization, category: imgproc

#26254 Added extra tests for reshape
  modules/core/src/copy.cpp
  modules/core/src/matrix.cpp
  modules/core/src/umatrix.cpp
  modules/core/test/test_mat.cpp
Labels: test, category: core

#26397 Remove useless cmake policy after upgrading cmake_minimum_required
  CMakeLists.txt
Labels: category: build/install

#26400 fixed FP16 mat comparison in tests
  modules/ts/src/ts_func.cpp
Labels: test

#26402 Added Universal Windows Package build to CI.
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#26396 Use LMUL=2 in the RISC-V Vector (RVV) FP16 part. (5.x)
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/src/matmul.simd.hpp
Labels: optimization, platform: riscv

#26331 build: made environment access a separate feature
  CMakeLists.txt
  cmake/platforms/OpenCV-WinRT.cmake
  cmake/platforms/OpenCV-WindowsCE.cmake
  doc/tutorials/introduction/env_reference/env_reference.markdown
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/utils/configuration.private.hpp
  modules/core/src/ocl.cpp
  modules/core/src/opencl/runtime/opencl_core.cpp
  modules/core/src/parallel/registry_parallel.impl.hpp
  modules/core/src/system.cpp
  modules/core/src/utils/datafile.cpp
  modules/core/src/utils/filesystem.cpp
  modules/core/src/va_wrapper.impl.hpp
  modules/dnn/perf/perf_main.cpp
  modules/dnn/src/precomp.hpp
  modules/dnn/src/vkcom/vulkan/vk_loader.cpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_ie_models.cpp
  modules/dnn/test/test_precomp.hpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/precomp.hpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
  modules/gapi/test/infer/gapi_infer_onnx_test.cpp
  modules/gapi/test/infer/gapi_infer_ov_tests.cpp
  modules/gapi/test/test_precomp.hpp
  modules/highgui/src/precomp.hpp
  modules/highgui/src/registry.impl.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_wayland.cpp
  modules/objdetect/test/test_main.cpp
  modules/ts/include/opencv2/ts.hpp
  modules/ts/src/precomp.hpp
  modules/ts/src/ts.cpp
  modules/ts/src/ts_perf.cpp
  modules/video/perf/perf_main.cpp
  modules/video/perf/perf_precomp.hpp
  modules/video/test/test_main.cpp
  modules/video/test/test_precomp.hpp
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/cap_dshow.cpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/src/videoio_registry.cpp
  modules/videoio/test/test_main.cpp
  modules/videoio/test/test_precomp.hpp
Labels: category: build/install

#26364 3rdparty: NDSRVP - Part 2.1: Filter-Related Functions
  3rdparty/ndsrvp/include/imgproc.hpp
  3rdparty/ndsrvp/src/bilateralFilter.cpp
  3rdparty/ndsrvp/src/filter.cpp
  3rdparty/ndsrvp/src/medianBlur.cpp
Labels: optimization, platform: riscv

#26420 Support 0d/1d Mat in FileStorage
  modules/core/src/persistence_types.cpp
  modules/core/test/test_io.cpp
Labels: feature, category: core

#26412 doc: update to doxygen-awesome-css v2.3.4
  doc/Doxyfile.in
  doc/custom.css
  doc/doxygen-awesome.css
Labels: category: documentation

#26399 int64 data type in FileStorage
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence.cpp
  modules/core/src/persistence.hpp
  modules/core/src/persistence_impl.hpp
  modules/core/src/persistence_json.cpp
  modules/core/src/persistence_xml.cpp
  modules/core/src/persistence_yml.cpp
  modules/core/test/test_io.cpp
  modules/python/src2/typing_stubs_generation/predefined_types.py
Labels: port into 4.x is needed, category: core, category: features2d

#26347 Updated segmentation sample as per current update usage and engine
  samples/dnn/segmentation.cpp
  samples/dnn/segmentation.py
Labels: category: samples, category: dnn

#26334 Modify DNN Samples to use ENGINE_CLASSIC for Non-Default Back-end or Target
  modules/dnn/src/net_impl_backend.cpp
  samples/dnn/classification.cpp
  samples/dnn/classification.py
  samples/dnn/colorization.cpp
  samples/dnn/colorization.py
  samples/dnn/edge_detection.cpp
  samples/dnn/edge_detection.py
  samples/dnn/models.yml
  samples/dnn/person_reid.py
Labels: category: samples, category: dnn

#26414 backport C++ 3d/calibration_base.cpp:5.x to calib3d/calibration_base.cpp:4.x
  modules/calib3d/src/calib3d_c_api.h
  modules/calib3d/src/calibration.cpp
  modules/calib3d/src/calibration_base.cpp
  modules/calib3d/src/checkchessboard.cpp
  modules/calib3d/src/precomp.hpp
  modules/calib3d/src/solvepnp.cpp
Labels: category: calib3d, cleanup

#26435 Remove unused internal C functions
  modules/calib3d/src/calib3d_c_api.h
  modules/calib3d/src/calibration.cpp
  modules/calib3d/src/checkchessboard.cpp
  modules/calib3d/src/compat_ptsetreg.cpp
  modules/calib3d/src/posit.cpp
  modules/calib3d/src/undistort.dispatch.cpp
Labels: cleanup

#26437 backport C++ stereo/stereo_geom.cpp:5.x to calib3d/stereo_geom.cpp:4.x
  modules/calib3d/src/calib3d_c_api.h
  modules/calib3d/src/calibration.cpp
  modules/calib3d/src/calibration_base.cpp
  modules/calib3d/src/compat_ptsetreg.cpp
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/src/precomp.hpp
  modules/calib3d/src/stereo_geom.cpp
  modules/calib3d/src/undistort.dispatch.cpp
Labels: cleanup

#26434 int64 data type support for FileStorage. 1d and empty Mat with exact dimensions
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/src/persistence.cpp
  modules/core/src/persistence.hpp
  modules/core/src/persistence_impl.hpp
  modules/core/src/persistence_json.cpp
  modules/core/src/persistence_xml.cpp
  modules/core/src/persistence_yml.cpp
  modules/core/test/test_io.cpp
  modules/python/src2/typing_stubs_generation/predefined_types.py
Labels: port/backport done, feature, category: core

#26443 C-API cleanup: core module tests
  modules/core/include/opencv2/core/core_c.h
  modules/core/include/opencv2/core/cvdef.h
  modules/core/perf/perf_reduce.cpp
  modules/core/test/test_allocator.cpp
  modules/core/test/test_arithm.cpp
  modules/core/test/test_ds.cpp
  modules/core/test/test_dxt.cpp
  modules/core/test/test_io.cpp
  modules/core/test/test_mat.cpp
  modules/core/test/test_math.cpp
  modules/core/test/test_umat.cpp
  modules/imgproc/test/test_pc.cpp
Labels: category: core, cleanup

#26348 imgproc: add new remap kernels that align with the new warpAffine and warpPerspective kernels
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/perf/perf_warp.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/opencl/remap.cl
  modules/imgproc/src/warp_common.scalar.hpp
  modules/imgproc/src/warp_common.vector.hpp
  modules/imgproc/src/warp_kernels.simd.hpp
  modules/imgproc/test/test_imgwarp_strict.cpp
  modules/stitching/test/ocl/test_warpers.cpp
Labels: optimization, category: imgproc

#26283 C-API cleanup: removed or updated some of 3d and calib tests
  modules/3d/test/test_fundam.cpp
  modules/3d/test/test_precomp.hpp
  modules/3d/test/test_undistort.cpp
  modules/3d/test/test_undistort_badarg.cpp
  modules/calib/test/test_cameracalibration_badarg.cpp
Labels: cleanup

#26444 Fix empty mat debug assertion
  modules/core/src/persistence_types.cpp
  modules/core/test/test_io.cpp
Labels: test, port into 4.x is needed

#26448 Windows UWP build in CI for 5.x
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#26451 Build fix for opencl_core.cpp
  modules/core/src/opencl/runtime/opencl_core.cpp
Labels: category: core, category: ocl

#26452 Add note for people debugging DirectML detection failures to check their Windows SDK version.
  cmake/OpenCVDetectDirectML.cmake
Labels: category: documentation, category: build/install

#25624 HAL added for add(array, scalar)
  modules/core/src/arithm.cpp
  modules/core/src/hal_replacement.hpp
Labels: feature, category: core

#26181 Enable PNG exif orientation test
  modules/imgcodecs/CMakeLists.txt
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_avif.cpp
  modules/imgcodecs/test/test_exif.cpp
  modules/imgcodecs/test/test_jpeg.cpp
  modules/imgcodecs/test/test_png.cpp
Labels: bug, feature, category: imgcodecs

#26303 Skip KleidiCV in offline build
  3rdparty/kleidicv/CMakeLists.txt
  3rdparty/kleidicv/kleidicv.cmake
  CMakeLists.txt
  cmake/OpenCVFindLibsPerf.cmake
Labels: category: build/install, platform: android, platform: arm

#26458 Drop C API in core
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core/core_c.h
  modules/core/include/opencv2/core/types_c.h
  modules/core/src/alloc.cpp
  modules/core/src/arithm.cpp
  modules/core/src/array.cpp
  modules/core/src/convert_c.cpp
  modules/core/src/copy.cpp
  modules/core/src/datastructs.cpp
  modules/core/src/dxt.cpp
  modules/core/src/lapack.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/matmul.dispatch.cpp
  modules/core/src/matrix_c.cpp
  modules/core/src/matrix_expressions.cpp
  modules/core/src/matrix_operations.cpp
  modules/core/src/matrix_sparse.cpp
  modules/core/src/norm.cpp
  modules/core/src/pca.cpp
  modules/core/src/persistence.cpp
  modules/core/src/persistence.hpp
  modules/core/src/precomp.hpp
  modules/core/src/rand.cpp
  modules/core/src/stat_c.cpp
  modules/core/src/system.cpp
Labels: category: core, cleanup

#26455 Fix warnings on documentation built
  modules/3d/src/pointcloud/load_point_cloud.cpp
Labels: category: documentation, category: 3d module

#26460 Backport some of C API removal in core module implementation.
  modules/core/src/matmul.dispatch.cpp
  modules/core/src/matrix_expressions.cpp
Labels: category: core, cleanup

#26462 flann: remove unused hdf5 header
  modules/flann/include/opencv2/flann/hdf5.h
Labels: cleanup

#26155 dnn: use dispatching for Winograd optimizations
  modules/dnn/CMakeLists.txt
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.dispatch.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.neon.cpp
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.simd.hpp
  modules/dnn/src/layers/cpu_kernels/convolution.hpp
Labels: optimization, category: dnn

#26466 Fix minor bugs in calibration.
  modules/calib/src/calibration.cpp
Labels: bug, category: calib3d

#26478 Check existence of OpenEXR version macros before using.
  modules/imgcodecs/src/grfmt_exr.cpp
Labels: category: imgcodecs

#26485 Added cap.isOpened() check to edge detection and segmentation sample
  samples/dnn/edge_detection.cpp
  samples/dnn/segmentation.cpp
  samples/dnn/segmentation.py
Labels: category: samples

#26484 Fixed sha1 issues with East model in Text Detection Sample
  samples/dnn/text_detection.cpp
  samples/dnn/text_detection.py
Labels: category: samples

#26454 imgproc: fix perf regressions on the c4 kernels of warpAffine / warpPerspective / remap
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/imgproc/src/warp_common.vector.hpp
  modules/imgproc/src/warp_kernels.simd.hpp
Labels: optimization, category: imgproc

#26461 Remove internal calib3d_c_api.h
  modules/calib3d/src/calib3d_c_api.h
  modules/calib3d/src/calibration.cpp
  modules/calib3d/src/compat_ptsetreg.cpp
Labels: category: calib3d, cleanup

#26459 HAL added for absdiff(array, scalar) + related fixes
  modules/core/src/arithm.cpp
  modules/core/src/hal_replacement.hpp
Labels: category: core

#26391 LSTM layer for new graph engine.
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/recurrent2_layers.cpp
  modules/dnn/src/onnx/onnx_importer2.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn, category: dnn (onnx)

#26473 ffmpeg/5.x: update FFmpeg wrapper 2024.11
  3rdparty/ffmpeg/ffmpeg.cmake
  modules/videoio/src/backend_plugin.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: test, category: videoio, platform: win32, category: 3rdparty

#26474 detect Python libs inside Xcode.app properly
  cmake/OpenCVDetectPython.cmake
Labels: category: python bindings, category: build/install

#26503 Fixed test LSTM warning.
  modules/dnn/test/test_layers.cpp
Labels: test, category: dnn (onnx)

#26510 doc: fix to supported depth for TIFF
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation

#26508 Support CV_32U, CV_64U and CV_64S for TIFF
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: feature, category: imgcodecs

#26512 Fix for build_js warnings
  modules/imgproc/src/color_lab.cpp
  platforms/js/build_js.py
Labels: bug, category: imgproc, category: build/install

#26529 Fixed missing include chrono in g-api tests
  modules/gapi/test/gapi_sample_pipelines.cpp
Labels: category: build/install, category: g-api / gapi

#26528 build: disable clang warning in clapack 3rdparty
  3rdparty/clapack/CMakeLists.txt
Labels: category: build/install, category: 3rdparty

#26530 calib3d: fix vector access in USAC
  modules/calib3d/src/usac/fundamental_solver.cpp
Labels: bug, category: calib3d

#26531 calib3d: fix vector access in USAC (5.x)
  modules/3d/src/usac/fundamental_solver.cpp
Labels: category: 3d module

#26533 test: fix technical issue with min_element in reduce tests
  modules/core/test/ref_reduce_arg.impl.hpp
Labels: test, category: core

#26534 test: fix technical issue with min_element in reduce tests (5.x)
  modules/core/test/ref_reduce_arg.impl.hpp
Labels: test, category: core

#26394 Modified tensorflow parser for the new dnn engine
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/java/test/DnnListRegressionTest.java
  modules/dnn/misc/java/test/DnnTensorFlowTest.java
  modules/dnn/misc/objc/gen_dict.json
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/dnn_read.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/model.cpp
  modules/dnn/src/net_impl2.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.hpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/test_tf_importer.cpp
Labels: category: dnn

#26527 Restore predefined G-API types in Python type stubs generator
  modules/python/src2/typing_stubs_generation/generation.py
  modules/python/src2/typing_stubs_generation/nodes/type_node.py
  modules/python/src2/typing_stubs_generation/predefined_types.py
Labels: category: python bindings, category: g-api / gapi

#26516 Document some stitching methods and enable bindings for them.
  modules/stitching/include/opencv2/stitching.hpp
Labels: category: python bindings, category: documentation, category: java bindings, category: stitching

#26537 Emscripten build fixes
  modules/core/include/opencv2/core/hal/intrin_lasx.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
Labels: optimization, category: build/install, category: javascript (js)

#26545 Added some mssing type constants to python type stubs generator.
  modules/python/src2/typing_stubs_generation/api_refinement.py
Labels: category: python bindings

#26532 objdetect: fix invalid vector access in QR de/encoder
  modules/objdetect/src/qrcode_encoder.cpp
Labels: category: objdetect

#26535 objdetect: fix invalid vector access in QR encoder (5.x)
  modules/objdetect/src/qrcode_encoder.cpp
Labels: bug, category: objdetect
