Repository opencv/opencv, pull requests merged in 2024-01, with the labels that each got.

#24814 core: fix clang warnings
  modules/core/include/opencv2/core/cuda/common.hpp
Labels: category: core, category: build/install, category: gpu/cuda (contrib)

#24807 Fix aruco detector thread safety.
  modules/objdetect/src/aruco/aruco_detector.cpp
Labels: bug, category: objdetect

#24801 Better error message for missing gstreamer plugin
  modules/videoio/src/cap_gstreamer.cpp
Labels: category: videoio

#24798 Correct invalid error directive
  modules/core/include/opencv2/core/quaternion.inl.hpp
Labels: category: core

#24815 Fix building on OpenBSD X86
  modules/core/src/system.cpp
Labels: category: build/install, platform: other

#24783 Changed onnx weights of yolov7
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#24820 Fix building on OpenBSD
  cmake/OpenCVCompilerOptions.cmake
Labels: category: build/install, platform: other

#24805 Link libacl_dvpp_mpi library when building with CANN backend
  cmake/OpenCVFindCANN.cmake
Labels: category: build/install

#24823 fix highgui qt's statusbar text got cropped
  modules/highgui/src/window_QT.cpp
Labels: bug, category: highgui-gui

#24828 videoio: fix 24774 incorrect timestamps returned by VideoCapture when CAP_PROP_FORMAT == -1
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
  modules/videoio/test/test_precomp.hpp
Labels: bug, category: videoio

#24829 Make aruco detector deterministic.
  modules/objdetect/src/aruco/aruco_detector.cpp
Labels: category: objdetect

#24765 dnn onnx: add mod
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda4dnn/kernels/eltwise_ops.hpp
  modules/dnn/src/cuda4dnn/primitives/eltwise.hpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: feature, category: dnn, category: dnn (onnx)

#24788 Fixed typo in Android build scripts.
  samples/android/15-puzzle/build.gradle.in
  samples/android/camera-calibration/build.gradle.in
  samples/android/color-blob-detection/build.gradle.in
  samples/android/face-detection/build.gradle.in
  samples/android/image-manipulations/build.gradle.in
  samples/android/mobilenet-objdetect/build.gradle.in
  samples/android/qr-detection/build.gradle.in
  samples/android/tutorial-1-camerapreview/build.gradle.in
  samples/android/tutorial-2-mixedprocessing/build.gradle.in
  samples/android/tutorial-3-cameracontrol/build.gradle.in
  samples/android/tutorial-4-opencl/build.gradle.in
  samples/android/video-recorder/build.gradle.in
Labels: category: build/install, platform: android

#24745 cmake: brush up the cmake part of merging option
  cmake/OpenCVCompilerOptimizations.cmake
Labels: category: build/install, platform: arm

#24834 dnn (cuda): support broadcasting if a.rank() != b.rank()
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda4dnn/csl/tensor.hpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/net_impl_fuse.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_layers.cpp
Labels: bug, category: gpu/cuda (contrib), category: dnn

#24827 Added any screen orientation support for JavaCameraView
  modules/java/generator/android/java/org/opencv/android/JavaCameraView.java
  samples/android/face-detection/gradle/AndroidManifest.xml
  samples/android/face-detection/src/org/opencv/samples/facedetect/FaceDetectActivity.java
  samples/android/tutorial-1-camerapreview/gradle/AndroidManifest.xml
Labels: feature, platform: android

#24846 Update README.md - remove IndieGoGo, add Support OpenCV page
  README.md
Labels: category: documentation

#24837 Manage Python Limited API version externally
  CMakeLists.txt
  cmake/OpenCVDetectPython.cmake
  modules/python/common.cmake
  modules/python/python3/CMakeLists.txt
  modules/python/src2/cv2.hpp
Labels: category: python bindings

#24843 Removed Android AIDL from build scrips and tutorials as it's not need since 4.9.0
  cmake/android/android_gradle_projects.cmake
  doc/tutorials/introduction/android_binary_package/dev_with_OCV_on_Android.markdown
  modules/java/CMakeLists.txt
  modules/java/android_sdk/android_gradle_lib/build.gradle
  modules/java/android_sdk/build.gradle.in
  modules/java/generator/gen_java.py
  platforms/android/aar-template/OpenCV/build.gradle.template
  samples/android/15-puzzle/build.gradle.in
  samples/android/camera-calibration/build.gradle.in
  samples/android/color-blob-detection/build.gradle.in
  samples/android/face-detection/build.gradle.in
  samples/android/image-manipulations/build.gradle.in
  samples/android/mobilenet-objdetect/build.gradle.in
  samples/android/qr-detection/build.gradle.in
  samples/android/tutorial-1-camerapreview/build.gradle.in
  samples/android/tutorial-2-mixedprocessing/build.gradle.in
  samples/android/tutorial-3-cameracontrol/build.gradle.in
  samples/android/tutorial-4-opencl/build.gradle.in
  samples/android/video-recorder/build.gradle.in
Labels: platform: android, cleanup

#24849 Modified AAR script: added javadoc to Android Maven
  platforms/android/aar-template/OpenCV/build.gradle.template
  platforms/android/build_java_shared_aar.py
  platforms/android/build_static_aar.py
Labels: category: build/install, platform: android

#24830 1d operation support for einsum layer
  modules/dnn/src/layers/einsum_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn

#24812 Replace interactive batched Matrix Multiply.
  modules/dnn/src/layers/cpu_kernels/fast_gemm.cpp
  modules/dnn/src/layers/einsum_layer.cpp
Labels: category: dnn

#24840 dnn (opencl): integrate bias handling in the inner product opencl kernel
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_inner_product.cpp
Labels: optimization, category: ocl, category: dnn

#24610 dnn onnx: add group norm layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/cuda/mvn.cu
  modules/dnn/src/cuda4dnn/kernels/mvn.hpp
  modules/dnn/src/cuda4dnn/primitives/group_norm.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/cpu_kernels/fast_norm.cpp
  modules/dnn/src/layers/cpu_kernels/fast_norm.hpp
  modules/dnn/src/layers/group_norm_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/opencl/mvn.cl
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: feature, category: dnn (onnx)

#24773 python: accept path-like objects wherever file names are expected
  modules/core/include/opencv2/core/cvdef.h
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/objdetect/include/opencv2/objdetect/barcode.hpp
  modules/objdetect/include/opencv2/objdetect/face.hpp
  modules/python/src2/cv2.hpp
  modules/python/src2/cv2_convert.cpp
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
  modules/python/test/test_pathlike.py
Labels: feature, category: python bindings

#24858 Use AVX2 overload instread on AVX in AVX2 scope
  modules/dnn/src/layers/cpu_kernels/conv_winograd_f63.cpp
Labels: bug, optimization, category: dnn

#24556 Optimization based on RISC-V P Packed SIMD Extension v0.5.2
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/layers_common.hpp
  modules/dnn/src/int8layers/layers_rvp052.cpp
  modules/dnn/src/int8layers/layers_rvp052.hpp
  platforms/linux/riscv64-andes-gcc.toolchain.cmake
Labels: optimization, category: imgproc, category: build/install, category: features2d, category: dnn, platform: riscv

#24864 Fix QNX build
  modules/core/src/system.cpp
  modules/ts/CMakeLists.txt
Labels: category: build/install, platform: other, platform: arm

#24865 Normalize axis parameter in DNN Concat to handle negative values
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_all_denylist.inl.hpp
Labels: category: dnn (onnx)

#24852 Make \epsilon parameter accessible in VariationalRefinement
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/src/dis_flow.cpp
  modules/video/src/variational_refinement.cpp
Labels: category: video

#24872 Replace deprecated symbols AVVideoCodecH264 and AVVideoCodecJPEG
  modules/videoio/misc/objc/ios/CvPhotoCamera2.m
  modules/videoio/misc/objc/ios/CvVideoCamera2.mm
  modules/videoio/src/cap_avfoundation_mac.mm
Labels: category: videoio, platform: ios/osx

#24860 Downgrade LIMITED_API_VERSION, if python3 is older than 3.6
  cmake/OpenCVDetectPython.cmake
Labels: category: python bindings, category: build/install

#24813 dnn: improve scatter and scatterND speed with multi-threading
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/layers/scatterND_layer.cpp
  modules/dnn/src/layers/scatter_layer.cpp
Labels: optimization, category: dnn

#24869 Added screen rotation support to JavaCamera2View amd NativeCameraView. Fixed JavaCamera2View initialization.
  modules/java/generator/android-21/java/org/opencv/android/JavaCamera2View.java
  modules/java/generator/android-24/java/org/opencv/android/NativeCameraView.java
  modules/java/generator/android/java/org/opencv/android/CameraBridgeViewBase.java
  modules/java/generator/android/java/org/opencv/android/JavaCameraView.java
Labels: category: samples, platform: android

#24880 dnn: fix ocl_fp16 support of scatter layer
  modules/dnn/src/layers/scatterND_layer.cpp
  modules/dnn/src/layers/scatter_layer.cpp
Labels: bug, category: ocl, category: dnn

#24868 fix qnx-sdp-700 build
  modules/core/src/system.cpp
Labels: category: build/install, platform: other

#24878 G-API: Ifdef OpenVINO API 1.0 functionality
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend.hpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#24750 Update applyColorMap document
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#24841 RISC-V: updated intrin_rvv071.hpp to work with modern toolchain 2.8.0
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
  platforms/linux/riscv64-071-gcc.toolchain.cmake
Labels: optimization, platform: riscv

#24895 Update windows_install.markdown - add set opencv path for vc17
  doc/tutorials/introduction/windows_install/windows_install.markdown
Labels: category: documentation, platform: win32

#24899 Relax test requirements for OpenCL in test DNNTestNetwork.FastNeuraStyle_eccv16
  modules/dnn/test/test_backends.cpp
Labels: test, category: dnn

#24900 Fixed type cast warning in CV_ELEM_SIZE1 for cv::Mat::type
  modules/core/include/opencv2/core/cvdef.h
Labels: category: core, platform: win32

#24906 Einsum Layer Inner Product Issue Solution
  modules/dnn/src/layers/einsum_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: category: dnn

#24875 jpeg: use libjpeg-turbo built-in color conversions
  modules/imgcodecs/src/grfmt_jpeg.cpp
Labels: optimization, category: imgcodecs, category: 3rdparty

#24873 Fix generateImage for charuco chessboard
  modules/objdetect/src/aruco/aruco_board.cpp
  modules/objdetect/test/test_charucodetection.cpp
Labels: bug, test, category: objdetect

#24832 Resolved issue number #22177
  modules/core/include/opencv2/core/base.hpp
Labels: category: documentation

#24918 core(OpenCL): optimize convertTo() with CV_16F (convertFp16() replacement)
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/ocl.hpp
  modules/core/include/opencv2/core/opencl/opencl_info.hpp
  modules/core/perf/opencl/perf_matop.cpp
  modules/core/src/convert.dispatch.cpp
  modules/core/src/ocl.cpp
  modules/core/src/ocl_disabled.impl.hpp
  modules/core/src/opencl/convert.cl
  modules/core/src/umatrix.cpp
Labels: optimization, category: core, category: ocl

#24925 Handle warnings in loongson-related code
  modules/core/include/opencv2/core/hal/intrin_lsx.hpp
  modules/dnn/src/layers/cpu_kernels/fast_gemm_kernels.simd.hpp
Labels: category: build/install, platform: loongson

#24892 DNN: avoid CV_16S usage for FP16
  modules/dnn/src/caffe/caffe_importer.cpp
  modules/dnn/src/caffe/caffe_shrinker.cpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/int8layers/quantization_utils.cpp
  modules/dnn/src/layer.cpp
  modules/dnn/src/layer_internals.hpp
  modules/dnn/src/layers/attention_layer.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/crop_and_resize_layer.cpp
  modules/dnn/src/layers/cumsum_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/einsum_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/expand_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/gather_elements_layer.cpp
  modules/dnn/src/layers/gather_layer.cpp
  modules/dnn/src/layers/gemm_layer.cpp
  modules/dnn/src/layers/group_norm_layer.cpp
  modules/dnn/src/layers/instance_norm_layer.cpp
  modules/dnn/src/layers/layer_norm.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/matmul_layer.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/recurrent_layers.cpp
  modules/dnn/src/layers/reduce_layer.cpp
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/scatterND_layer.cpp
  modules/dnn/src/layers/scatter_layer.cpp
  modules/dnn/src/layers/shuffle_channel_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/net_impl.cpp
  modules/dnn/src/ocl4dnn/src/math_functions.cpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_conv_spatial.cpp
  modules/dnn/src/ocl4dnn/src/ocl4dnn_inner_product.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/tensorflow/tf_graph_simplifier.cpp
  modules/dnn/src/tflite/tflite_importer.cpp
  modules/dnn/src/torch/torch_importer.cpp
  modules/dnn/test/test_layers.cpp
Labels: category: core, category: ocl, category: dnn

#24922 Fix AAR build with static OpenCV libraries for Android.
  platforms/android/build_static_aar.py
Labels: category: build/install, platform: android

#24931 RISC-V: fix mul 8/16 bit for RVV 0.7
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
Labels: optimization, platform: riscv

#24936 RISC-V: fix scale64f performance for RVV 0.7
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
Labels: optimization, platform: riscv

#24929 Do not release user-provided buffer, if image decoder failed
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_grfmt.cpp
Labels: feature, category: imgcodecs

#24919 Add python bindings for Rect2f and Point3i
  modules/core/include/opencv2/core/types.hpp
  modules/python/src2/cv2_convert.cpp
  modules/python/src2/cv2_convert.hpp
  modules/python/src2/typing_stubs_generation/predefined_types.py
  modules/python/test/test_misc.py
Labels: category: python bindings

#24768 Vulkan backend for NaryEltwiseLayer in DNN module
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/vkcom/include/op_naryeltwise.hpp
  modules/dnn/src/vkcom/include/vkcom.hpp
  modules/dnn/src/vkcom/shader/nary_eltwise_binary_forward.comp
  modules/dnn/src/vkcom/shader/nary_eltwise_binary_forward_spv.cpp
  modules/dnn/src/vkcom/shader/spv_shader.cpp
  modules/dnn/src/vkcom/shader/spv_shader.hpp
  modules/dnn/src/vkcom/src/op_naryEltwise.cpp
Labels: optimization, category: dnn

#24845 G-API: Implement concurrent executor
  modules/gapi/CMakeLists.txt
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/src/api/gcommon.cpp
  modules/gapi/src/compiler/gcompiler.cpp
  modules/gapi/src/executor/gthreadedexecutor.cpp
  modules/gapi/src/executor/gthreadedexecutor.hpp
  modules/gapi/src/executor/thread_pool.cpp
  modules/gapi/src/executor/thread_pool.hpp
  modules/gapi/test/gapi_sample_pipelines.cpp
  modules/gapi/test/own/thread_pool_tests.cpp
Labels: feature, category: g-api / gapi

#24898 Documentation for Yolo usage in Opencv
  doc/tutorials/dnn/dnn_yolo/dnn_yolo.markdown
  samples/dnn/yolo_detector.cpp
Labels: category: documentation, category: dnn

#24942 Build warning fix for Charuco tests
  modules/objdetect/test/test_charucodetection.cpp
Labels: category: build/install, platform: android

#24910 Modified Java tests to run on Android
  CMakeLists.txt
  modules/java/test/android_test/.classpath
  modules/java/test/android_test/.project
  modules/java/test/android_test/AndroidManifest.xml
  modules/java/test/android_test/CMakeLists.txt
  modules/java/test/android_test/build.gradle
  modules/java/test/android_test/gradle.properties
  modules/java/test/android_test/settings.gradle
  modules/java/test/android_test/src/org/opencv/test/OpenCVTestCase.java
  modules/java/test/android_test/src/org/opencv/test/OpenCVTestRunner.java
  modules/java/test/android_test/src/org/opencv/test/android/UtilsTest.java
  modules/java/test/android_test/tests_module/AndroidManifest.xml
  modules/java/test/android_test/tests_module/build.gradle.in
  modules/objdetect/misc/java/test/BarcodeDetectorTest.java
  modules/objdetect/misc/java/test/QRCodeDetectorTest.java
  platforms/android/gradle-wrapper/gradlew
Labels: category: build/install, platform: android

#24947 Added job to test with real hardware
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#24945 Build warning fix in Tutorial4-OpenCL.
  samples/android/tutorial-4-opencl/gradle/AndroidManifest.xml
Labels: category: build/install, platform: android
