Repository opencv/opencv, pull requests merged in 2024-06, with the labels that each got.

#25686 Suppress build warnings for GCC14
  modules/core/test/test_mat.cpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/src/torch/torch_importer.cpp
  modules/gapi/src/compiler/passes/exec.cpp
  modules/gapi/src/streaming/onevpl/file_data_provider.hpp
  modules/ts/include/opencv2/ts/ts_gtest.h
Labels: test, category: build/install

#25671 Tests added for mixed type arithmetic operations
  modules/core/perf/perf_arithm.cpp
  modules/core/src/arithm.cpp
  modules/core/test/test_arithm.cpp
  modules/ts/include/opencv2/ts.hpp
  modules/ts/src/ts_func.cpp
Labels: test, category: core

#25701 Update cv::FaceRecognizerSF class documentation
  modules/objdetect/include/opencv2/objdetect/face.hpp
Labels: category: documentation

#25702 Disable more G-API streaming test due to unstability.
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: test, category: g-api / gapi

#25716 Added potential fix for Android H264 Encoding Bug
  modules/videoio/src/cap_android_mediandk.cpp
Labels: category: videoio, platform: android

#25703 imgproc: fixed imread with output image argument
  modules/imgcodecs/src/grfmt_hdr.cpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_png.cpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: bug, category: imgcodecs

#25605 Added bool support to dnn
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/not_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/legacy_backend.cpp
  modules/dnn/src/net_impl_backend.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/op_cuda.hpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
  modules/ts/src/ts_func.cpp
Labels: category: dnn (onnx)

#25720 fix: mark floodFill mask as optional in Python typing stubs
  modules/python/src2/typing_stubs_generation/api_refinement.py
Labels: bug, category: python bindings

#25307 HAL RVV 0.7.1
  3rdparty/hal_rvv/CMakeLists.txt
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/version/hal_rvv_071.hpp
  CMakeLists.txt
Labels: optimization, platform: riscv

#25722 updated testSeveralBoardsWithCustomIds to enable in 5.x
  modules/objdetect/test/test_charucodetection.cpp
Labels: test, category: objdetect

#25709 Wrap dnn addLayer
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/python/pyopencv_dnn.hpp
  modules/dnn/misc/python/test/test_dnn.py
  modules/python/src2/typing_stubs_generation/predefined_types.py
Labels: category: python bindings, category: dnn

#25723 test: use cv::theRNG instead of own generator
  modules/core/test/test_math.cpp
  modules/ts/include/opencv2/ts.hpp
  modules/ts/src/ts.cpp
Labels: test

#25427 Make finding corner neighbor symmetrical in ChessBoardDetector::findQuadNeighbors
  modules/calib3d/src/calibinit.cpp
Labels: feature, category: calib3d

#25726 Better doc for WARP_RELATIVE_MAP
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#25727 Additional Comments for Conformance Denylist
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: test

#25718 Android SDK build script: HWAsan support added
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#25706 `cuda`: Add missing python CUDA dependency when CUDA is a first class language
  modules/python/python_loader.cmake
Labels: category: python bindings, category: build/install, category: gpu/cuda (contrib)

#25738 Fix arithmetics in CV_32F branch of divSpectrums()
  modules/imgproc/src/phasecorr.cpp
  modules/imgproc/test/test_pc.cpp
Labels: bug, category: imgproc

#25732 Fix OpenCV.js tests
  modules/js/test/init_cv.js
  modules/js/test/test_calib3d.js
  modules/js/test/test_core.js
  modules/js/test/test_features2d.js
  modules/js/test/test_imgproc.js
  modules/js/test/test_mat.js
  modules/js/test/test_objdetect.js
  modules/js/test/test_photo.js
  modules/js/test/test_utils.js
  modules/js/test/test_video.js
  modules/js/test/tests.js
  platforms/js/build_js.py
Labels: test, category: javascript (js)

#25759 Accuracy tests for equalizeHist() added
  modules/imgproc/test/test_histograms.cpp
Labels: test, category: imgproc

#25725 Fixed result buffer overflow in intersectConvexConvex_ for non-convex input
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/geometry.cpp
  modules/imgproc/test/test_intersectconvexconvex.cpp
Labels: bug, category: imgproc

#25602 Handle BGRA streams in GStreamer backend
  modules/videoio/src/cap_gstreamer.cpp
Labels: feature, category: videoio

#25757 Use onRuntimeInitialized with OpenCV.js Node tests
  modules/js/test/init_cv.js
Labels: test, category: javascript (js)

#25778 Svgfig library update to version 1.0.1 as it uses BSD-3 license.
  doc/pattern_tools/svgfig.py
Labels: category: documentation

#25771 video: fix vittrack in the case where crop size grows until out-of-memory when the input is black
  modules/video/include/opencv2/video/tracking.hpp
  modules/video/src/tracking/tracker_vit.cpp
  modules/video/test/test_trackers.cpp
  samples/dnn/vit_tracker.cpp
Labels: bug, category: video

#25746 Android SDK build script: HWAsan flags added for release mode
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#25780 Fixed input buffer read overflow in vectorized G-API convertTo implementation
  modules/gapi/src/backends/fluid/gfluidcore_func.simd.hpp
Labels: bug, optimization, platform: arm, category: g-api / gapi

#25787 Added LUT for FP16 and accuracy test
  modules/core/src/lut.cpp
  modules/core/test/test_arithm.cpp
Labels: test, feature, category: core

#25788 Extended bilateralFilter test to cover more branches
  modules/imgproc/perf/perf_bilateral.cpp
  modules/imgproc/test/test_bilateral_filter.cpp
Labels: test, category: imgproc

#25751 Add missing cv2eigen overload
  modules/core/include/opencv2/core/eigen.hpp
  modules/core/test/test_mat.cpp
Labels: feature, category: core, category: 3rdparty

#25791 Extending G-API onnx::Params to pass arbitrary session options
  modules/gapi/include/opencv2/gapi/infer/bindings_onnx.hpp
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/src/backends/onnx/bindings_onnx.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
Labels: category: g-api / gapi

#25773 fix for IPP
  3rdparty/ippicv/CMakeLists.txt
  cmake/OpenCVFindIPP.cmake
Labels: optimization, category: build/install, category: 3rdparty

#25779 dnn: add DepthToSpace and SpaceToDepth
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/cuda4dnn/csl/tensor.hpp
  modules/dnn/src/cuda4dnn/primitives/depth_space_ops.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/depth_space_ops_layer.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_int8_layers.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: feature, category: dnn (onnx), category:dnn_timvx, category:dnn_cann

#25803 cmake: support 10+ minor version(10,11,...)
  cmake/OpenCVUtils.cmake
Labels: bug, category: build/install

#25775 Add yolov8l.onnx to samples
  samples/dnn/models.yml
Labels: category: samples

#25805 Replace use of "eval()" with "getattr()".
  doc/py_tutorials/py_imgproc/py_template_matching/py_template_matching.markdown
Labels: category: python bindings, category: documentation, category: samples

#25661 Highgui backend on top of Framebuffer
  CMakeLists.txt
  cmake/checks/framebuffer.cpp
  modules/highgui/CMakeLists.txt
  modules/highgui/cmake/detect_framebuffer.cmake
  modules/highgui/cmake/init.cmake
  modules/highgui/src/backend.hpp
  modules/highgui/src/registry.impl.hpp
  modules/highgui/src/window_framebuffer.cpp
  modules/highgui/src/window_framebuffer.hpp
  modules/highgui/test/test_gui.cpp
Labels: feature, category: highgui-gui

#25815 Remove unused variables in rgb2hsv_b simd
  modules/imgproc/src/color_hsv.simd.hpp
Labels: category: imgproc, cleanup

#25764 Fixed cumsum layer, enabled conformance tests
  modules/dnn/src/layers/cumsum_layer.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: category: dnn, category: dnn (onnx)

#25739 Fixed blank layer for OpenVINO 2022.1
  modules/dnn/src/layers/blank_layer.cpp
Labels: category: dnn

#25789 Fill mean and stdDev tails with zeros for HAL branch in meanStdDev
  modules/core/src/mean.dispatch.cpp
Labels: category: core

#25816 Remove unused brow variable
  modules/imgproc/src/demosaicing.cpp
Labels: category: imgproc, cleanup

#25793 Fixed build error hal_rvv_071
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/version/hal_rvv_071.hpp
  CMakeLists.txt
Labels: bug, category: build/install, platform: riscv

#25755 Added more types support to dnn layers
  modules/dnn/src/cuda/concat.cu
  modules/dnn/src/cuda/fill_copy.cu
  modules/dnn/src/cuda/padding.cu
  modules/dnn/src/cuda/permute.cu
  modules/dnn/src/cuda/slice.cu
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/expand_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/gather_elements_layer.cpp
  modules/dnn/src/layers/gather_layer.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reduce_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/scatterND_layer.cpp
  modules/dnn/src/layers/scatter_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/split_layer.cpp
  modules/dnn/src/op_cuda.hpp
  modules/dnn/test/test_int.cpp
Labels: feature, category: dnn, category: dnn (onnx)

#25826 Drop redundant dependency from download_models.py
  samples/dnn/download_models.py
Labels: category: samples, cleanup

#25827 Exclude cap_ios.h from installation where it's not needed
  modules/videoio/CMakeLists.txt
Labels: category: build/install

#25820 Relax equalizeHist test for some HAL implementations
  modules/imgproc/test/test_histograms.cpp
Labels: test, category: imgproc
