Repository opencv/opencv, pull requests merged in 2024-07, with the labels that each got.

#25838 Fix file descriptor leak in HDR decoder
  modules/imgcodecs/src/grfmt_hdr.cpp
Labels: bug, category: imgcodecs

#25836 Fix #25833: The correct way to disable top-most state is with HWND_NOTOPMOST, not HWND_TOP.
  modules/highgui/src/window_w32.cpp
Labels: bug, category: highgui-gui, platform: win32

#25834 Fix: compilation Issue on ARM64 (msys2 clangarm)
  3rdparty/carotene/CMakeLists.txt
Labels: category: build/install, platform: win32, platform: arm

#25813 Update the tutorial of using Orbbec Astra cameras
  doc/tutorials/app/intelperc.markdown
  doc/tutorials/app/kinect_openni.markdown
  doc/tutorials/app/orbbec_astra_openni.markdown
  doc/tutorials/app/table_of_content_app.markdown
  samples/cpp/tutorial_code/videoio/openni_orbbec_astra/openni_orbbec_astra.cpp
Labels: category: documentation, category: videoio(camera)

#25841 Fixed CuDNN runtime version check for CuDNN 9+.
  modules/dnn/src/cuda4dnn/init.hpp
Labels: bug, category: gpu/cuda (contrib), category: dnn

#25800 photo: doc: Fix window range for fastNlMeansDenoisingMulti
  modules/photo/include/opencv2/photo.hpp
Labels: bug, category: documentation, category: photo

#24941 Add support for v_exp (exponential)
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_math.hpp
  modules/core/test/test_intrin_utils.hpp
  modules/dnn/src/layers/cpu_kernels/softmax.cpp
Labels: optimization, feature

#25845 Set using Orbbec SDK on MacOS OFF by default.
  modules/videoio/cmake/detect_obsensor.cmake
Labels: category: build/install, category: videoio(camera)

#25847 Added lut support for all new types in 5.x
  modules/core/src/lut.cpp
  modules/core/test/test_arithm.cpp
Labels: feature, category: core

#25848 Warnings fix for Ubuntu 24.04.
  3rdparty/clapack/CMakeLists.txt
  modules/3d/perf/perf_tsdf.cpp
  modules/3d/test/test_tsdf.cpp
Labels: category: build/install, category: 3d module, cleanup

#25794 Add sample support of `YOLOv9` and `YOLOv10` in OpenCV
  doc/tutorials/dnn/dnn_yolo/dnn_yolo.markdown
  modules/dnn/test/test_onnx_importer.cpp
  samples/dnn/yolo_detector.cpp
Labels: category: samples, category: dnn

#25630 dnn: parallelize nary elementwise forward implementation & enable related conformance tests
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda4dnn/kernels/eltwise_ops.hpp
  modules/dnn/src/cuda4dnn/primitives/eltwise.hpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__vulkan_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_all_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: optimization, category: dnn

#25809 imgcodecs: Add rgb flag for imread and imdecode
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/perf/perf_jpeg.cpp
  modules/imgcodecs/perf/perf_png.cpp
  modules/imgcodecs/src/grfmt_avif.cpp
  modules/imgcodecs/src/grfmt_base.cpp
  modules/imgcodecs/src/grfmt_base.hpp
  modules/imgcodecs/src/grfmt_bmp.cpp
  modules/imgcodecs/src/grfmt_exr.cpp
  modules/imgcodecs/src/grfmt_exr.hpp
  modules/imgcodecs/src/grfmt_gdal.cpp
  modules/imgcodecs/src/grfmt_hdr.cpp
  modules/imgcodecs/src/grfmt_jpeg.cpp
  modules/imgcodecs/src/grfmt_jpeg2000.cpp
  modules/imgcodecs/src/grfmt_jpeg2000_openjpeg.cpp
  modules/imgcodecs/src/grfmt_pam.cpp
  modules/imgcodecs/src/grfmt_pfm.cpp
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_pxm.cpp
  modules/imgcodecs/src/grfmt_spng.cpp
  modules/imgcodecs/src/grfmt_sunras.cpp
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/src/grfmt_webp.cpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/src/utils.cpp
  modules/imgcodecs/src/utils.hpp
  modules/imgcodecs/test/test_avif.cpp
  modules/imgcodecs/test/test_exr.impl.hpp
  modules/imgcodecs/test/test_grfmt.cpp
  modules/imgcodecs/test/test_jpeg.cpp
  modules/imgcodecs/test/test_png.cpp
  modules/imgcodecs/test/test_precomp.hpp
  modules/imgcodecs/test/test_read_write.cpp
  modules/imgcodecs/test/test_tiff.cpp
  modules/imgcodecs/test/test_webp.cpp
Labels: feature, category: imgcodecs

#25781 Add support for v_log (Natural Logarithm)
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_math.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: optimization, feature

#25799 Use Carotene implementation of TEGRA_GaussianBlurBinomial 3x3 and 5x5 on ARM
  3rdparty/carotene/hal/tegra_hal.hpp
Labels: optimization, platform: arm

#25855 Added Ubuntu 24.04 pipeline for 5.x
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions (GHA)

#25756 [BUG FIX] Segmentation sample u2netp model results
  samples/dnn/models.yml
  samples/dnn/segmentation.cpp
  samples/dnn/segmentation.py
Labels: bug, category: samples

#25863 Fixed failed JavaScript tests in 5.x
  modules/js/test/test_calib3d.js
  modules/js/test/test_features2d.js
  modules/js/test/test_imgproc.js
Labels: test, category: javascript (js)

#25410 Add videocapture_depth.cpp sample
  doc/tutorials/app/intelperc.markdown
  doc/tutorials/app/kinect_openni.markdown
  samples/cpp/videocapture_depth.cpp
  samples/cpp/videocapture_obsensor.cpp
  samples/cpp/videocapture_openni.cpp
  samples/cpp/videocapture_realsense.cpp
Labels: category: samples, cleanup

#25858 Enable KleidiCV for Android aarch64 by default.
  CMakeLists.txt
Labels: category: build/install, platform: android, platform: arm

#25810 python: attempts to fix 3d mat parsing problem for dnn
  modules/core/include/opencv2/core/cvdef.h
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/python/test/test_dnn.py
  modules/python/src2/cv2.hpp
  modules/python/src2/cv2_convert.cpp
  modules/python/src2/cv2_convert.hpp
  modules/python/src2/gen2.py
  modules/python/src2/hdr_parser.py
Labels: category: python bindings

#25856 Fixed kotlin requirement in Android build.gradle
  modules/java/android_sdk/build.gradle.in
Labels: category: build/install, platform: android

#25860 Fixed 32-bit build with some GCC versions
  modules/3d/src/octree.cpp
Labels: category: build/install

#25865 Hacked gtkglext search in cmake
  modules/highgui/cmake/detect_gtk.cmake
Labels: category: highgui-gui

#25861 Support for `Unflatten` operation requred by `Attention` layer - 4.x
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn, category: dnn (onnx)

#25842 imgproc: remove C-API usage from tests
  modules/imgproc/test/test_canny.cpp
  modules/imgproc/test/test_color.cpp
  modules/imgproc/test/test_convhull.cpp
  modules/imgproc/test/test_filter.cpp
  modules/imgproc/test/test_imgwarp.cpp
  modules/imgproc/test/test_pc.cpp
  modules/imgproc/test/test_templmatch.cpp
Labels: test, category: imgproc, cleanup

#25864 Make sure all the lines of a JPEG are read
  modules/imgcodecs/src/grfmt_jpeg.cpp
Labels: category: 3rdparty

#25844 Don't rely on nb_frames to be correct
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio

#25872 core: add v_erf
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_math.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: optimization, category: core

#22836 Explicitly prefer legacy GL in cmake on Linux?
  cmake/OpenCVFindLibsGUI.cmake
Labels: category: build/install

#25796 Use `hfloat` instead of `__fp16`.
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: category: core

#25877 calib3d: doc: enable line breaks in formulas
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation

#25808 Enable checkerboard detection with a central / corner marker on a black tile
  modules/calib3d/src/chessboard.cpp
  modules/calib3d/test/test_chesscorners.cpp
Labels: bug, test, category: calib3d

#25147 dnn: accelerate gelu via vectorized erf
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/opencl/activations.cl
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: optimization, category: dnn

#25607 Add a new function that approximates the polygon bounding a convex hull with a certain number of sides
  doc/opencv.bib
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/approx.cpp
  modules/imgproc/test/test_approxpoly.cpp
Labels: feature, category: imgproc

#25880 🐛 Fix CUDA for old GPUs without FP16 support
  modules/dnn/src/cuda4dnn/init.hpp
  modules/dnn/src/net_impl_backend.cpp
  modules/dnn/src/registry.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_onnx_conformance.cpp
Labels: category: gpu/cuda (contrib), category: dnn

#25894 imgproc: reduce template sizes in templMatch test
  modules/imgproc/test/test_templmatch.cpp
Labels: test, category: imgproc, platform: riscv

#25888 Update documentation cv::haveImageReader(), cv::haveImageWriter()
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
Labels: category: documentation

#25897 Fix the mistake about yolov10 inference step in dnn_yolo.markdown
  doc/tutorials/dnn/dnn_yolo/dnn_yolo.markdown
Labels: category: documentation

#25893 core: fix compilation problem with v_erf
  modules/core/include/opencv2/core/hal/intrin_math.hpp
Labels: category: core, category: build/install

#25252 Move API focused C++ samples to snippets
  doc/tutorials/others/stitcher.markdown
  modules/3d/include/opencv2/3d.hpp
  modules/core/include/opencv2/core.hpp
  modules/highgui/include/opencv2/highgui.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/photo/include/opencv2/photo.hpp
  modules/stitching/include/opencv2/stitching.hpp
  modules/video/include/opencv2/video/tracking.hpp
  modules/videoio/include/opencv2/videoio.hpp
  samples/cpp/cloning_gui.cpp
  samples/cpp/dft.cpp
  samples/cpp/ela.cpp
  samples/cpp/floodfill.cpp
  samples/cpp/imagelist_reader.cpp
  samples/cpp/imgcodecs_jpeg.cpp
  samples/cpp/inpaint.cpp
  samples/cpp/matchmethod_orb_akaze_brisk.cpp
  samples/cpp/snippets/camshiftdemo.cpp
  samples/cpp/snippets/cloning_demo.cpp
  samples/cpp/snippets/create_mask.cpp
  samples/cpp/snippets/detect_blob.cpp
  samples/cpp/snippets/dft.cpp
  samples/cpp/snippets/dis_opticalflow.cpp
  samples/cpp/snippets/distrans.cpp
  samples/cpp/snippets/epipolar_lines.cpp
  samples/cpp/snippets/falsecolor.cpp
  samples/cpp/snippets/intersectExample.cpp
  samples/cpp/snippets/kalman.cpp
  samples/cpp/snippets/kmeans.cpp
  samples/cpp/snippets/laplace.cpp
  samples/cpp/snippets/lsd_lines.cpp
  samples/cpp/snippets/mask_tmpl.cpp
  samples/cpp/snippets/phase_corr.cpp
  samples/cpp/snippets/polar_transforms.cpp
  samples/cpp/snippets/segment_objects.cpp
  samples/cpp/snippets/squares.cpp
  samples/cpp/snippets/stitching.cpp
  samples/cpp/snippets/warpPerspective_demo.cpp
  samples/cpp/snippets/watershed.cpp
  samples/cpp/text_skewness_correction.cpp
  samples/cpp/videowriter_basic.cpp
Labels: category: samples, cleanup

#25817 handling I32/I64 data types in G-API ONNX back-end
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
Labels: feature, category: g-api / gapi

#25899 Mark cv::Mat(Mat&&) as noexcept
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/mat.hpp
  modules/core/src/matrix.cpp
  modules/core/src/system.cpp
Labels: category: core

#25792 Added flag to GaussianBlur for faster but not bit-exact implementation
  CMakeLists.txt
  doc/tutorials/introduction/config_reference/config_reference.markdown
  modules/core/CMakeLists.txt
  modules/core/include/opencv2/core.hpp
  modules/core/src/system.cpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/test/test_smooth_bitexact.cpp
  modules/python/test/test_misc.py
  modules/ts/src/ts.cpp
Labels: test, optimization, feature, category: imgproc, category: core

#25900 dnn: merge #25630 to 5.x
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/functors.hpp
  modules/dnn/src/cuda/math.hpp
  modules/dnn/src/cuda4dnn/kernels/eltwise_ops.hpp
  modules/dnn/src/cuda4dnn/primitives/eltwise.hpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__vulkan_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp16_denylist.inl.hpp
Labels: category: dnn

#25903 core: hal: avoid to use _tzcnt_u32 for ARM64EC
  modules/core/include/opencv2/core/hal/intrin.hpp
Labels: category: build/install, platform: win32, platform: arm

#25824 calib3d: fix Rodrigues CV_32F and CV_64F type mismatch in projectPoints
  modules/calib3d/misc/python/test/test_calibration.py
  modules/calib3d/src/calibration.cpp
Labels: bug, category: calib3d

#25911 Post-merge fixes for algorithm hint API
  CMakeLists.txt
  doc/tutorials/introduction/config_reference/config_reference.markdown
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/utility.hpp
  modules/core/src/system.cpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/test/test_smooth_bitexact.cpp
Labels: category: imgproc, category: core

#25912 Restored removed test_round_pair_f64 test after PR 24941
  modules/core/test/test_intrin_utils.hpp
Labels: bug, test

#25913 Use CV_LOG_DEBUG for debug logging in chessboard detector.
  modules/calib3d/src/chessboard.cpp
Labels: category: calib3d, cleanup

#25917 Fix Reduce layer for cosnt inputs
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: bug, category: dnn (onnx)

#25101 1D test for Reduce layer
  modules/dnn/src/layers/reduce_layer.cpp
  modules/dnn/test/test_layers_1d.cpp
Labels: bug, category: dnn

#25914 throw() -> noexcept
  modules/core/include/opencv2/core.hpp
  modules/core/src/system.cpp
  modules/videoio/src/cap_gphoto2.cpp
Labels: category: core, category: build/install

#25927 Resolve Swift method name conflicts by adding missing namespace
  modules/objc/generator/gen_objc.py
Labels: category: swift/objc bindings

#25868 Add sample for GPT2 inference
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/java/generator/src/cpp/listconverters.cpp
  modules/java/generator/src/cpp/listconverters.hpp
  samples/dnn/gpt2_inference.py
Labels: category: samples, category: dnn

#25931 code clean
  modules/dnn/CMakeLists.txt
  modules/imgcodecs/src/rgbe.cpp
Labels: cleanup

#25907 Add tutorial on using Orbbec 3D cameras (UVC)
  doc/tutorials/app/images/orbbec_uvc_cpp.jpg
  doc/tutorials/app/images/orbbec_uvc_python.jpg
  doc/tutorials/app/intelperc.markdown
  doc/tutorials/app/orbbec_astra_openni.markdown
  doc/tutorials/app/orbbec_uvc.markdown
  doc/tutorials/app/table_of_content_app.markdown
Labels: category: documentation, category: videoio(camera)

#25934 Fix cmake macro in `riscv64-clang.toolchain.cmake`.
  platforms/linux/riscv64-clang.toolchain.cmake
Labels: category: build/install, platform: riscv

#25898 add a check for src == dst in ocl warpTransform
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/test/ocl/test_warp.cpp
Labels: test, category: imgproc, category: ocl

#25883 Upgrade RISC-V Vector intrinsic and cleanup the obsolete RVV backend.
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/checks/cpu_rvv.cpp
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_010_compat_non-policy.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_010_compat_overloaded-non-policy.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_011_compat.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_compat_overloaded.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/layers_common.simd.hpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/cpu_kernels/conv_depthwise.cpp
  modules/dnn/src/layers/cpu_kernels/conv_depthwise.simd.hpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/layers_common.simd.hpp
Labels: platform: riscv, cleanup

#25939 Fix "'/*' within block comment " warning
  modules/core/src/minmax.simd.hpp
Labels: category: build/install

#25905 highgui: Make GThread mandatory with GTK
  CMakeLists.txt
  modules/highgui/CMakeLists.txt
  modules/highgui/cmake/detect_gtk.cmake
  modules/highgui/misc/plugins/plugin_gtk/CMakeLists.txt
  modules/highgui/src/window_gtk.cpp
Labels: category: highgui-gui, category: build/install, cleanup

#25881 dnn: optimize activations with v_exp
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: optimization, category: dnn

#25935 Update IPP integration
  3rdparty/ippicv/ippicv.cmake
Labels: optimization

#25874 `videoio`: fix `cv::VideoWriter` with FFmpeg encapsulation timestamps
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/test/test_ffmpeg.cpp
Labels: bug, category: videoio

#25936 HAL for dot product added
  modules/core/src/hal_replacement.hpp
  modules/core/src/matmul.dispatch.cpp
Labels: optimization, category: core

#25942 Report used HAL to test log and xml
  modules/ts/src/ts.cpp
Labels: test

#25938 Properly check markers when none are provided.
  modules/objdetect/src/aruco/charuco_detector.cpp
  modules/objdetect/test/test_charucodetection.cpp
Labels: bug, category: objdetect

#25941 `cuda`: prevent `CMAKE_CUDA_ARCHITECTURES` default from overiding OpenCV architecture search (issue 25920)
  CMakeLists.txt
Labels: category: build/install, category: gpu/cuda (contrib)

#25807 search in two directions when try to add new quad in addOuterQuad
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d

#25902 Mask support with CV_Bool in ts and core
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/mat.hpp
  modules/core/src/arithm.cpp
  modules/core/src/copy.cpp
  modules/core/src/mean.dispatch.cpp
  modules/core/src/minmax.dispatch.cpp
  modules/core/src/norm.cpp
  modules/core/src/sum.dispatch.cpp
  modules/core/src/umatrix.cpp
  modules/core/test/test_arithm.cpp
  modules/ts/src/ts_func.cpp
Labels: feature, category: core

#25944 Avoid future integer overflow in _OutputArray::create
  modules/core/src/matrix_wrap.cpp
Labels: bug, category: core

#25814 add getFrameCount() member function to BaseImageDecoder
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_avif.cpp
  modules/imgcodecs/src/grfmt_base.cpp
  modules/imgcodecs/src/grfmt_base.hpp
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_avif.cpp
Labels: feature, category: imgcodecs

#25955 core: FileStorage: detect invalid attribute value
  modules/core/src/persistence_xml.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#25940 python: prefer cv::Mat over cv::UMat in python binding
  modules/python/src2/gen2.py
Labels: optimization, category: python bindings

#25965 imgproc: C-API cleanup 5.x
  modules/imgproc/src/drawing.cpp
  modules/imgproc/src/histogram.cpp
  modules/imgproc/src/precomp.hpp
  modules/imgproc/test/test_color.cpp
  modules/imgproc/test/test_pc.cpp
Labels: category: imgproc, cleanup

#25961 fix: js/html perf tests
  modules/js/perf/perf_64bits.js
  modules/js/perf/perf_helpfunc.js
  modules/js/perf/perf_imgproc/perf_blur.js
  modules/js/perf/perf_imgproc/perf_cvtcolor.js
  modules/js/perf/perf_imgproc/perf_dilate.js
  modules/js/perf/perf_imgproc/perf_erode.js
  modules/js/perf/perf_imgproc/perf_filter2D.js
  modules/js/perf/perf_imgproc/perf_gaussianBlur.js
  modules/js/perf/perf_imgproc/perf_medianBlur.js
  modules/js/perf/perf_imgproc/perf_pyrDown.js
  modules/js/perf/perf_imgproc/perf_remap.js
  modules/js/perf/perf_imgproc/perf_resize.js
  modules/js/perf/perf_imgproc/perf_scharr.js
  modules/js/perf/perf_imgproc/perf_sobel.js
  modules/js/perf/perf_imgproc/perf_threshold.js
  modules/js/perf/perf_imgproc/perf_warpAffine.js
  modules/js/perf/perf_imgproc/perf_warpPerspective.js
Labels: category: javascript (js)

#25945 Fix size() for 0d matrix
  modules/core/include/opencv2/core/mat.inl.hpp
  modules/core/include/opencv2/core/types.hpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core

#25644 [GSoC] dnn: Blockwise quantization support
  modules/dnn/src/int8layers/quantization_utils.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__vulkan_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_ocl_fp32_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: GSoC, category: dnn, category: dnn (onnx), category:dnn_timvx

#25972 Update orbbec(uvc) tutorial
  doc/tutorials/app/orbbec_uvc.markdown
  samples/cpp/tutorial_code/videoio/uvc_orbbec/videocapture_obsensor.cpp
  samples/python/tutorial_code/videoio/videocapture_obsensor.py
Labels: category: documentation

#25268 Removed obsolete python samples
  doc/tutorials/others/meanshift.markdown
  modules/core/include/opencv2/core.hpp
  modules/features2d/include/opencv2/features2d.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/stitching/include/opencv2/stitching.hpp
  modules/video/include/opencv2/video/tracking.hpp
  samples/python/browse.py
  samples/python/coherence.py
  samples/python/color_histogram.py
  samples/python/deconvolution.py
  samples/python/edge.py
  samples/python/feature_homography.py
  samples/python/find_obj.py
  samples/python/gabor_threads.py
  samples/python/hist.py
  samples/python/inpaint.py
  samples/python/lk_homography.py
  samples/python/mosse.py
  samples/python/plane_ar.py
  samples/python/snippets/camshift.py
  samples/python/snippets/contours.py
  samples/python/snippets/dft.py
  samples/python/snippets/dis_opt_flow.py
  samples/python/snippets/distrans.py
  samples/python/snippets/fitline.py
  samples/python/snippets/houghcircles.py
  samples/python/snippets/houghlines.py
  samples/python/snippets/kalman.py
  samples/python/snippets/kmeans.py
  samples/python/snippets/laplace.py
  samples/python/snippets/lk_track.py
  samples/python/snippets/logpolar.py
  samples/python/snippets/mser.py
  samples/python/snippets/opt_flow.py
  samples/python/snippets/squares.py
  samples/python/snippets/stitching.py
  samples/python/snippets/texture_flow.py
  samples/python/snippets/watershed.py
  samples/python/text_skewness_correction.py
  samples/python/turing.py
  samples/python/video_threaded.py
  samples/python/video_v4l2.py
Labels: category: samples, cleanup
