Repository opencv/opencv, pull requests merged in 2024-10, with the labels that each got.

#26219 SQPnP solver updates
  modules/calib3d/src/sqpnp.cpp
  modules/calib3d/src/sqpnp.hpp
Labels: category: calib3d

#26221 Reworked multiview calibration interface
  doc/tutorials/calib3d/camera_multiview_calibration/multiview_calibration.markdown
  modules/calib/include/opencv2/calib.hpp
  modules/calib/src/multiview_calibration.cpp
  modules/calib/test/test_cameracalibration.cpp
  modules/calib/test/test_fisheye.cpp
  modules/calib/test/test_multiview_calib.cpp
  samples/cpp/multiview_calibration_sample.cpp
  samples/python/multiview_calibration.py
Labels: category: calib3d

#26227 C-API cleanup: use AutoBuffer in MSER (5.x)
  modules/features2d/src/mser.cpp
Labels: port/backport done

#26228 C-API cleanup: use AutoBuffer in MSER (4.x)
  modules/features2d/src/mser.cpp
Labels: port/backport done

#26229 C-API cleanup: inpaint algorithms in photo (5.x)
  modules/photo/src/inpaint.cpp
Labels: port/backport done

#26230 C-API cleanup: inpaint algorithms in photo (4.x)
  modules/photo/src/inpaint.cpp
Labels: port/backport done

#26225 C-API cleanup: removed legacy headers in imgcodecs
  modules/imgcodecs/include/opencv2/imgcodecs/imgcodecs_c.h
  modules/imgcodecs/include/opencv2/imgcodecs/legacy/constants_c.h
Labels: category: imgproc, cleanup

#26236 Added HAL documentation note for out-of-bound hack in optical flow LK.
  modules/video/src/hal_replacement.hpp
Labels: category: documentation

#26231 Heterogenious cameras support in multiview calibration.
  modules/calib/include/opencv2/calib.hpp
  modules/calib/src/multiview_calibration.cpp
  modules/calib/test/test_multiview_calib.cpp
Labels: feature, category: calib3d

#25891 Resolve Compilation Error for v_func Function in SIMD Emulator
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_lasx.hpp
  modules/core/include/opencv2/core/hal/intrin_lsx.hpp
  modules/core/include/opencv2/core/hal/intrin_math.hpp
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, category: core

#25984 imgproc: add optimized warpAffine kernels for 8U/16U/32F + C1/C3/C4 inputs
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/features2d/src/affine_feature.cpp
  modules/imgproc/CMakeLists.txt
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/perf/opencl/perf_imgwarp.cpp
  modules/imgproc/perf/perf_resize.cpp
  modules/imgproc/perf/perf_warp.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/warp_common.hpp
  modules/imgproc/src/warp_common.scalar.hpp
  modules/imgproc/src/warp_common.vector.hpp
  modules/imgproc/src/warp_kernels.simd.hpp
  modules/imgproc/test/ocl/test_warp.cpp
  modules/imgproc/test/test_imgwarp_strict.cpp
  modules/ts/include/opencv2/ts.hpp
  modules/ts/src/ts.cpp
Labels: optimization, category: imgproc

#26224 C-API cleanup: backport videoio changes from 5.x
  modules/core/include/opencv2/core/cvdef.h
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/videoio/include/opencv2/videoio/container_avi.private.hpp
  modules/videoio/include/opencv2/videoio/legacy/constants_c.h
  modules/videoio/src/cap_android_camera.cpp
  modules/videoio/src/cap_android_mediandk.cpp
  modules/videoio/src/cap_aravis.cpp
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_dc1394_v2.cpp
  modules/videoio/src/cap_dshow.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/src/cap_gphoto2.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_images.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/cap_openni2.cpp
  modules/videoio/src/cap_pvapi.cpp
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/src/cap_ximea.cpp
  modules/videoio/src/cap_xine.cpp
  modules/videoio/src/container_avi.cpp
  modules/videoio/src/precomp.hpp
  samples/cpp/tutorial_code/compatibility/compatibility_test.cpp
Labels: category: videoio, cleanup

#26241 Updated KleidiCV HAL to version 0.2.
  3rdparty/kleidicv/CMakeLists.txt
Labels: optimization, category: 3rdparty

#26248 Multiple calibrateMultiview improvements.
  modules/calib/include/opencv2/calib.hpp
  modules/calib/src/multiview_calibration.cpp
  modules/calib/test/test_cameracalibration.cpp
  modules/calib/test/test_fisheye.cpp
  modules/calib/test/test_multiview_calib.cpp
  samples/cpp/multiview_calibration_sample.cpp
  samples/python/multiview_calibration.py
Labels: optimization, feature, category: calib3d

#26266 RISC-V: fix build with RVV 0.7.1
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
Labels: category: build/install, platform: riscv

#26256 extended Norm tests to prove that cv::norm() already supports all the…
  modules/core/src/norm.cpp
  modules/core/test/ocl/test_arithm.cpp
  modules/ts/include/opencv2/ts/ocl_test.hpp
  modules/ts/src/ts_func.cpp
Labels: test, category: core

#26267 calib: mark some multiview tests verylong
  modules/calib/test/test_multiview_calib.cpp
Labels: test, category: calib3d

#26255 added comprehensive test for countNonZero run on continuous and discontinuous 1D arrays
  modules/core/test/test_countnonzero.cpp
Labels: test, category: core

#26187 Fix fillPoly drawing over boundaries
  modules/imgproc/src/drawing.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: bug, test, category: imgproc

#26259 core: C-API cleanup: RNG algorithms in core(4.x)
  modules/core/src/rand.cpp
  modules/core/test/test_io.cpp
  modules/core/test/test_mat.cpp
  modules/core/test/test_rand.cpp
  modules/imgproc/test/test_imgwarp.cpp
Labels: category: core, cleanup

#26263 inversion checks
  modules/calib3d/src/sqpnp.cpp
Labels: category: calib3d

#26253 Fix hash_tsdf_functions.cpp compilation on some platforms.
  modules/3d/src/rgbd/hash_tsdf_functions.cpp
Labels: category: build/install, category: 3d module

#25909 Update intrin_wasm.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/js/perf/package.json
Labels: category: build/install, category: javascript (js)

#26260 Update Documentation
  doc/tutorials/core/file_input_output_with_xml_yml/file_input_output_with_xml_yml.markdown
  modules/core/doc/intro.markdown
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/affine.hpp
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/bufferpool.hpp
  modules/core/include/opencv2/core/dualquaternion.hpp
  modules/core/include/opencv2/core/mat.hpp
  modules/core/include/opencv2/core/operations.hpp
  modules/core/include/opencv2/core/persistence.hpp
  modules/core/include/opencv2/core/quaternion.hpp
  modules/core/include/opencv2/core/utility.hpp
  modules/imgproc/include/opencv2/imgproc.hpp
  samples/cpp/filestorage.cpp
  samples/cpp/tutorial_code/core/file_input_output/file_input_output.cpp
  samples/python/tutorial_code/core/file_input_output/file_input_output.py
Labels: category: documentation

#26216 Add the HAL implementation for the merge function on RISC-V Vector.
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/merge.hpp
Labels: optimization, platform: riscv

#25892 Add support for v_sin and v_cos (Sine and Cosine)
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_lasx.hpp
  modules/core/include/opencv2/core/hal/intrin_lsx.hpp
  modules/core/include/opencv2/core/hal/intrin_math.hpp
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: optimization, feature

#26278 Added buffer-based model loading to FaceRecognizerSF
  modules/objdetect/include/opencv2/objdetect/face.hpp
  modules/objdetect/src/face_recognize.cpp
Labels: category: objdetect

#26285 Fix sanitizer issue in countNonZero32f
  modules/core/src/count_non_zero.simd.hpp
Labels: category: core

#26234 move the gcc6 compatibility check to occur on a per-directory basis, …
  cmake/OpenCVUtils.cmake
Labels: bug, category: build/install

#26292 imgproc: update warpAffine opencl kernel to be in sync with cpu one
  modules/imgproc/src/opencl/warp_affine.cl
Labels: category: imgproc, category: ocl

#26212 Enhance cv::TickMeter to be able to get the last elapsed time
  modules/core/include/opencv2/core/utility.hpp
  samples/cpp/tutorial_code/snippets/core_various.cpp
Labels: feature, category: core

#26301 updated embedded font & stb_truetype renderer
  modules/imgproc/fonts/Rubik-Italic.ttf.gz
  modules/imgproc/fonts/Rubik.ttf.gz
  modules/imgproc/src/stb_truetype.cpp
  modules/imgproc/test/test_drawing.cpp
Labels: category: imgproc, category: 3rdparty

#26268 C-API cleanup: rework ArrayTest to use new arrays only
  modules/3d/test/test_undistort.cpp
  modules/core/test/test_dxt.cpp
  modules/core/test/test_math.cpp
  modules/ts/include/opencv2/ts.hpp
  modules/ts/src/ts_arrtest.cpp
Labels: test, cleanup

#26298 Proposed solution for the issue 26297
  CMakeLists.txt
  modules/imgcodecs/src/grfmt_avif.cpp
  modules/imgcodecs/test/test_avif.cpp
Labels: bug, test, category: imgcodecs

#26271 imgproc: add optimized warpPerspective linear kernels for inputs of type CV_8U/16U/32F+C1/C3/C4
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/perf/perf_warp.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/opencl/warp_perspective.cl
  modules/imgproc/src/warp_common.vector.hpp
  modules/imgproc/src/warp_kernels.simd.hpp
  modules/imgproc/test/test_imgwarp_strict.cpp
Labels: optimization, category: imgproc

#26320 build: set cmake policy for if(IN_LIST) support
  CMakeLists.txt
Labels: category: build/install

#26313 Use border value in ipp version of warp affine
  modules/imgproc/src/imgwarp.cpp
Labels: optimization, category: imgproc

#26293 G-API: Introduce level optimization flag for ONNXRT backend
  modules/gapi/include/opencv2/gapi/infer/bindings_onnx.hpp
  modules/gapi/include/opencv2/gapi/infer/onnx.hpp
  modules/gapi/src/backends/onnx/bindings_onnx.cpp
  modules/gapi/src/backends/onnx/gonnxbackend.cpp
Labels: category: g-api / gapi

#26211 imgcodecs: implement imencodemulti()
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_avif.cpp
  modules/imgcodecs/test/test_exr.impl.hpp
  modules/imgcodecs/test/test_read_write.cpp
Labels: test, feature, category: imgcodecs

#26321 2x more accurate float => bfloat conversion
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/test/test_math.cpp
Labels: feature, category: core

#26333 Fix #26322: construction of another Mat header for empty matrix
  modules/core/src/matrix.cpp
  modules/core/test/test_mat.cpp
Labels: bug, category: core

#26335 fix: performance typo
  modules/js/perf/package.json
Labels: category: documentation

#26281 Rewrote OpenCL-OpenGL-interop device discovery routine without extensions and with Apple support
  modules/core/src/opengl.cpp
Labels: feature, category: highgui-gui, platform: ios/osx, category: ocl

#26284 C++26 Deprecated Enum Arithmetic Conversion: Fix core/mat.inl.hpp
  modules/core/include/opencv2/core/mat.inl.hpp
Labels: category: core, RFC

#26330 Modified TFLite parser for the new dnn engine
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/objc/gen_dict.json
  modules/dnn/src/tflite/tflite_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: feature, category: dnn

#26340 doc: fix the position of toggle button
  doc/tutorial-utils.js
Labels: category: documentation

#26353 ADE update to 0.1.2e
  modules/gapi/cmake/DownloadADE.cmake
Labels: category: 3rdparty

#26357 OpenVINO friendly output names from non-compiled Model
  modules/dnn/src/ie_ngraph.cpp
Labels: bug, optimization, category: dnn

#26318 Use LMUL=2 in the RISC-V Vector (RVV) backend of Universal Intrinsic.
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/src/matmul.simd.hpp
Labels: optimization, platform: riscv

#26356 Update py_thresholding.markdown
  doc/py_tutorials/py_imgproc/py_thresholding/py_thresholding.markdown
Labels: category: documentation

#26367 Added exception when calling forward to specified layer with the new dnn engine
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/net_impl.cpp
Labels: category: dnn

#26368 Add the missing license header in hal_rvv.
  3rdparty/hal_rvv/hal_rvv_1p0/merge.hpp
Labels: platform: riscv

#26369 Fix hfloat conflicts of v_func in merging 4.x to 5.x
  modules/core/include/opencv2/core/hal/intrin_math.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, optimization, platform: arm

#26287 build: transition to C++17, minor changes in documentation
  cmake/OpenCVDetectCXXCompiler.cmake
  cmake/OpenCVMinDepVersions.cmake
  doc/tutorials/introduction/transition_guide/transition_guide.markdown
  modules/3d/src/precomp.hpp
  modules/core/src/precomp.hpp
  modules/objc/generator/templates/cmakelists.template
  modules/objc/test/cmakelists.template
  modules/videoio/src/precomp.hpp
  platforms/android/build-tests/test_cmake_build.py
  platforms/ios/build_framework.py
  platforms/ios/run_tests.py
  samples/install/linux_quick_install.sh
  samples/install/linux_quick_install_contrib.sh
  samples/install/linux_verify.sh
Labels: category: build/install

#26373 doc: fix doxygen errors at Algorithm and QRCodeEncoder
  modules/core/include/opencv2/core.hpp
  modules/objdetect/include/opencv2/objdetect.hpp
Labels: category: documentation

#26336 [BUG FIX] Fix issues in Person ReID C++ sample
  samples/dnn/person_reid.cpp
  samples/dnn/person_reid.py
Labels: bug, category: samples, category: dnn

#25349 Videocapture samples cleanup cpp
  modules/videoio/include/opencv2/videoio.hpp
  samples/cpp/snippets/videocapture_basic.cpp
  samples/cpp/videocapture_camera.cpp
  samples/cpp/videocapture_combined.cpp
  samples/cpp/videocapture_image_sequence.cpp
  samples/cpp/videocapture_starter.cpp
  samples/cpp/videowriter.cpp
  samples/cpp/videowriter_basic.cpp
Labels: category: samples, cleanup, OpenCV5

#26326 [BUG FIX] Object detection sample preprocessing
  samples/dnn/object_detection.cpp
Labels: bug, category: dnn

#26208 Modified Caffe parser to support the new dnn engine
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/objc/gen_dict.json
  modules/dnn/misc/python/test/test_dnn.py
  modules/dnn/src/caffe/caffe_importer.cpp
  modules/dnn/src/dnn_read.cpp
  modules/dnn/src/model.cpp
  modules/dnn/test/test_backends.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_googlenet.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_misc.cpp
Labels: feature, category: dnn

#25708 Add interface to Annoy which will replace the FLANN
  modules/features2d/3rdparty/annoy/LICENSE
  modules/features2d/3rdparty/annoy/annoylib.h
  modules/features2d/3rdparty/annoy/mman.h
  modules/features2d/CMakeLists.txt
  modules/features2d/include/opencv2/features2d.hpp
  modules/features2d/src/annoy.cpp
  modules/features2d/test/test_nearestneighbors.cpp
Labels: feature, cleanup

#26374 Fix incorrect string format in js build script
  platforms/js/build_js.py
Labels: category: build/install, category: javascript (js)

#26381 Hotfix ie_ngraph.cpp in Debug
  modules/dnn/src/ie_ngraph.cpp
Labels: bug, optimization, category: dnn

#26385 fixed typo in bfloat<=>float conversion test
  modules/core/test/test_math.cpp
Labels: optimization, category: core

#26384 WinRT/UWP build: fix more warnings in media part
  cmake/templates/dllmain.cpp.in
  modules/videoio/src/cap_winrt/MediaStreamSink.cpp
  modules/videoio/src/cap_winrt_bridge.cpp
  modules/videoio/src/cap_winrt_capture.cpp
  modules/videoio/src/cap_winrt_video.cpp
Labels: category: build/install, platform: winrt/uwp, platform: win32

#26388 Fix test typo.
  modules/imgproc/test/test_drawing.cpp
Labels: test, category: imgproc

#26383 build: raise min cmake version to 3.13 in other places
  CMakeLists.txt
  cmake/OpenCVGenPkgconfig.cmake
  doc/tutorials/introduction/linux_gcc_cmake/linux_gcc_cmake.markdown
  modules/core/misc/plugins/parallel_openmp/CMakeLists.txt
  modules/core/misc/plugins/parallel_tbb/CMakeLists.txt
  modules/gapi/CMakeLists.txt
  modules/highgui/misc/plugins/plugin_gtk/CMakeLists.txt
  modules/java/android_sdk/libcxx_helper/CMakeLists.txt
  modules/python/CMakeLists.txt
  modules/videoio/misc/plugin_ffmpeg/CMakeLists.txt
  modules/videoio/misc/plugin_gstreamer/CMakeLists.txt
  platforms/android/aar-template/OpenCV/src/main/cpp/CMakeLists.txt.template
  platforms/android/build-tests/test_cmake_build.py
  platforms/linux/gnu.toolchain.cmake
  samples/CMakeLists.example.in
  samples/CMakeLists.txt
  samples/android/tutorial-2-mixedprocessing/jni/CMakeLists.txt
  samples/android/tutorial-4-opencl/jni/CMakeLists.txt
  samples/cpp/example_cmake/CMakeLists.txt
  samples/cpp/tutorial_code/core/parallel_backend/CMakeLists.txt
  samples/cpp/tutorial_code/gpu/gpu-thrust-interop/CMakeLists.txt
  samples/hal/c_hal/CMakeLists.txt
  samples/hal/slow_hal/CMakeLists.txt
Labels: category: build/install

#26390 Disable SME2 branches in KleidiCV as it's incompatible with some CLang versions, e.g. NDK 28b1
  3rdparty/kleidicv/CMakeLists.txt
Labels: category: build/install, platform: android, platform: arm
