Repository opencv/opencv, pull requests merged in 2024-02, with the labels that each got.

#24934 Add CMake policy CMP0071 for AUTOMOC and AUTOUIC
  CMakeLists.txt
Labels: category: build/install

#24949 Enable file system on Emscripten
  modules/core/include/opencv2/core/utils/plugin_loader.private.hpp
  modules/core/src/utils/filesystem.cpp
Labels: category: build/install, category: javascript (js)

#24956 Added offline option for Android builds
  platforms/android/build-tests/test_gradle.sh
  platforms/android/build-tests/test_gradle_aar.sh
  platforms/android/build_aar.sh
  platforms/android/build_java_shared_aar.py
  platforms/android/build_static_aar.py
Labels: category: build/install, platform: android

#24779 Fix bug in ChessBoardDetector::findQuadNeighbors
  modules/calib3d/src/calibinit.cpp
Labels: bug, category: objdetect

#24968 dnn (opencl): fix incorrect steps and elemsize when dtype changes
  modules/dnn/src/layers/nary_eltwise_layers.cpp
Labels: bug, category: ocl, category: dnn

#24973 Fix proto and weights mess in dnn performance tests
  modules/dnn/perf/perf_net.cpp
Labels: test, category: dnn

#24969 Allow multiple flags with OPENCV_GRADLE_VERBOSE_OPTIONS
  cmake/android/android_gradle_projects.cmake
  modules/java/android_sdk/CMakeLists.txt
Labels: category: build/install, platform: android

#24987 bug fix infinite loop
  modules/calib3d/src/usac/utils.cpp
Labels: bug, category: calib3d

#24976 imgcodecs: refix test for 23416 to use perf::MatType
  modules/imgcodecs/test/test_tiff.cpp
Labels: test, cleanup

#24704 Fixed support of mean/scale preprocessing in OV backend for non-real types
  modules/gapi/src/backends/ov/govbackend.cpp
  modules/gapi/test/infer/gapi_infer_ov_tests.cpp
Labels: category: g-api / gapi

#24992 ts: Extended getTypeName() to support new types
  modules/ts/src/ts_func.cpp
Labels: test

#24961 PLY mesh support
  doc/tutorials/3d/point_cloud/point_cloud.markdown
  modules/3d/include/opencv2/3d.hpp
  modules/3d/src/pointcloud/io_ply.cpp
  modules/3d/src/pointcloud/io_ply.hpp
  modules/3d/src/pointcloud/load_point_cloud.cpp
  modules/3d/test/test_pointcloud.cpp
  samples/python/point_cloud.py
Labels: bug, feature, category: 3d module

#24710 Do not dilate binary images on first iteration in findChessboardCorners
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d

#24993 Relax test requirements for CUDA in DNNTestNetwork.FastNeuraStyle_eccv16
  modules/dnn/test/test_backends.cpp
Labels: category: gpu/cuda (contrib), category: dnn

#25008 Fix typo in size
  modules/python/src2/typing_stubs_generation/predefined_types.py
Labels: category: python bindings

#24562 Fix for Android build script: CMake vars
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#25009 Alternative solution for QR code black/white balance computation
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: category: objdetect

#25015 Fixed possible out-of-bound access in cv::Mat output formatter
  modules/core/src/out.cpp
Labels: bug, category: core

#25016 Suppress TBB compilation warnings visible during Android SDK build
  3rdparty/tbb/CMakeLists.txt
Labels: category: build/install, category: 3rdparty

#25020 Remove 3 hidden leading chars in flann/dist.h
  modules/flann/include/opencv2/flann/dist.h
Labels: category: build/install

#25023 Typo fix in Aruco documentation
  modules/objdetect/include/opencv2/objdetect/aruco_detector.hpp
Labels: category: documentation

#24833 Compensate edge length in ChessBoardDetector::generateQuads
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d

#25036 Reverted Compensate edge length in ChessBoardDetector::generateQuads #24833
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d

#25026 Fix qrcode bugs
  modules/objdetect/src/qrcode.cpp
  modules/objdetect/test/test_qrcode.cpp
Labels: bug, category: objdetect

#24989 remove bypass for ABI check in warpPointBackward
  modules/stitching/include/opencv2/stitching/detail/warpers.hpp
  modules/stitching/include/opencv2/stitching/warpers.hpp
  modules/stitching/src/warpers.cpp
Labels: category: stitching, cleanup

#25035 Fix barcode detectAndDecode
  modules/objdetect/perf/perf_barcode.cpp
  modules/objdetect/src/barcode.cpp
  modules/objdetect/test/test_barcode.cpp
Labels: bug, category: objdetect

#25030 Changed initial estimation for F in fisheye calibration
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: bug, category: calib3d

#25028 solvePnP implementation for Fisheye camera model
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/misc/objc/gen_dict.json
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: feature, category: calib3d

#24985 Fixes #24974 support HardSwishInt8
  modules/dnn/src/init.cpp
  modules/dnn/src/int8layers/elementwise_layers.cpp
  modules/dnn/src/tflite/tflite_importer.cpp
Labels: feature, category: dnn

#24980 dnn cleanup: On-fly-quantization removal
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/src/layer.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/shuffle_channel_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/layers/split_layer.cpp
  modules/dnn/src/net.cpp
  modules/dnn/src/net_impl.hpp
  modules/dnn/src/net_quantization.cpp
  modules/dnn/test/test_int8_layers.cpp
Labels: category: dnn, cleanup

#25045 fix unnecessary copying in ArucoDetector
  modules/objdetect/src/aruco/aruco_detector.cpp
  modules/objdetect/src/aruco/aruco_utils.cpp
  modules/objdetect/src/aruco/aruco_utils.hpp
Labels: optimization, category: objdetect

#25046 fix setArucoParameters in QRCodeDetectorAruco, add const to getArucoParameters
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/src/qrcode.cpp
Labels: bug, category: objdetect

#25024 Replace legacy __ARM_NEON__ by __ARM_NEON
  cmake/checks/cpu_neon.cpp
  modules/core/include/opencv2/core/cv_cpu_dispatch.h
  modules/core/include/opencv2/core/fast_math.hpp
  modules/core/src/system.cpp
  modules/flann/include/opencv2/flann/dist.h
Labels: category: build/install, platform: arm

#25048 docs: move detail section of group to the top of the page
  doc/DoxygenLayout.xml
Labels: category: documentation, RFC

#25021 Multiview calibration generator improvements
  apps/python-calibration-generator/calibration_generator.py
  apps/python-calibration-generator/utils.py
Labels: category: calib3d, category: samples

#25054 G-API: Lower supported IE backend version
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/src/backends/ie/giebackend.hpp
  modules/gapi/src/backends/ie/giebackend/giewrapper.cpp
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: category: g-api / gapi

#24977 Primitive 1D Tests
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/test/test_layers.cpp
Labels: test, category: dnn

#24884 Added kotlin classes to AAR
  platforms/android/aar-template/OpenCV/build.gradle.template
  platforms/android/aar-template/build.gradle
Labels: platform: android

#24946 Added Kotlin test, changed Kotlin version for OpenCV
  cmake/android/android_gradle_projects.cmake
  modules/java/test/android_test/CMakeLists.txt
  modules/java/test/android_test/build.gradle.in
  modules/java/test/android_test/src/org/opencv/test/android/KotlinTest.kt
  modules/java/test/android_test/tests_module/build.gradle.in
  platforms/android/ndk-25.config.py
Labels: category: build/install, platform: android, category: java bindings

#24930 Enable Android samples with native part with AAR package
  cmake/android/android_gradle_projects.cmake
Labels: category: build/install, platform: android

#25062 Adds missing const in function declaration of VideoCapture
  modules/videoio/include/opencv2/videoio.hpp
Labels: category: videoio

#25064 fix very slow compilation of five-point algorithm on some platforms (e.g. Qualcomm)
  modules/calib3d/src/five-point.cpp
Labels: category: build/install, platform: other

#25060 G-API: Make test execution lighter (first attempt)
  modules/gapi/test/cpu/gapi_ocv_stateful_kernel_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_tests.cpp
  modules/gapi/test/streaming/gapi_streaming_utils_test.cpp
Labels: category: g-api / gapi

#25086 Fixed typo.
  3rdparty/libjasper/jas_stream.c
  3rdparty/libjasper/jpc_bs.h
  modules/videoio/src/cap_android_camera.cpp
Labels: category: documentation

#25083 Fixing the formula in the documentation of reprojectImageTo3D
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation

#25084 Add compatibility with latest (3.1.54) emsdk version
  modules/js/src/helpers.js
  platforms/js/build_js.py
Labels: feature, category: build/install, category: javascript (js)

#25090 Compensate edge length in ChessBoardDetector::generateQuads (attempt 2)
  modules/calib3d/src/calibinit.cpp
  modules/calib3d/test/test_cameracalibration.cpp
Labels: category: calib3d

#25079 fix [use hasattr("cv2", "name") ,but first param is 'character string',
  modules/python/package/cv2/__init__.py
Labels: bug, category: python bindings

#23018 Move Aruco tutorials and samples to main repo
  doc/tutorials/objdetect/aruco_board_detection/aruco_board_detection.markdown
  doc/tutorials/objdetect/aruco_board_detection/images/board.png
  doc/tutorials/objdetect/aruco_board_detection/images/gbaxis.jpg
  doc/tutorials/objdetect/aruco_board_detection/images/gbmarkersaxis.jpg
  doc/tutorials/objdetect/aruco_board_detection/images/gbocclusion.jpg
  doc/tutorials/objdetect/aruco_board_detection/images/gboriginal.jpg
  doc/tutorials/objdetect/aruco_board_detection/images/singlemarkersaxes.jpg
  doc/tutorials/objdetect/aruco_detection/aruco_detection.markdown
  doc/tutorials/objdetect/aruco_detection/images/bitsextraction1.png
  doc/tutorials/objdetect/aruco_detection/images/bitsextraction2.png
  doc/tutorials/objdetect/aruco_detection/images/marker23.png
  doc/tutorials/objdetect/aruco_detection/images/markers.jpg
  doc/tutorials/objdetect/aruco_detection/images/removeperspective.jpg
  doc/tutorials/objdetect/aruco_detection/images/singlemarkersbrokenthresh.png
  doc/tutorials/objdetect/aruco_detection/images/singlemarkersdetection.jpg
  doc/tutorials/objdetect/aruco_detection/images/singlemarkersoriginal.jpg
  doc/tutorials/objdetect/aruco_detection/images/singlemarkersrejected.jpg
  doc/tutorials/objdetect/aruco_detection/images/singlemarkerssource.jpg
  doc/tutorials/objdetect/aruco_detection/images/singlemarkersthresh.png
  doc/tutorials/objdetect/table_of_content_objdetect.markdown
  doc/tutorials/tutorials.markdown
  modules/objdetect/include/opencv2/objdetect/charuco_detector.hpp
  modules/objdetect/tutorials/images/singlemarkersaxes2.jpg
  samples/cpp/aruco_dict_utils.cpp
  samples/cpp/tutorial_code/calib3d/camera_calibration/camera_calibration.cpp
  samples/cpp/tutorial_code/objectDetection/aruco_samples_utility.hpp
  samples/cpp/tutorial_code/objectDetection/create_board.cpp
  samples/cpp/tutorial_code/objectDetection/create_marker.cpp
  samples/cpp/tutorial_code/objectDetection/detect_board.cpp
  samples/cpp/tutorial_code/objectDetection/detect_markers.cpp
  samples/cpp/tutorial_code/objectDetection/tutorial_camera_params.yml
  samples/cpp/tutorial_code/objectDetection/tutorial_dict.yml
Labels: test, category: documentation, category: objdetect

#25098 upgrade tbb to version 2021.11.0
  3rdparty/tbb/CMakeLists.txt
Labels: category: 3rdparty

#25061 RegisterCameras function for heterogenious cameras pair
  modules/calib/include/opencv2/calib.hpp
  modules/calib/src/calibration.cpp
  modules/calib/test/test_cameracalibration.cpp
  modules/calib/test/test_fisheye.cpp
Labels: feature, category: calib3d

#25107 Fix mistake into the reprojectImageTo3D doc. Backport from #25083 PR.
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: bug, port/backport done, category: documentation, category: calib3d

#25050 Handle degenerate cases in RQDecomp3x3
  modules/calib3d/src/calibration.cpp
  modules/calib3d/test/test_decompose_projection.cpp
Labels: category: calib3d

#25091 Fixes #25056 : Optimising postProcess(const std::vector<Mat>& output_blobs)
  modules/objdetect/src/face_detect.cpp
Labels: optimization, category: objdetect, category: dnn

#25100 Fix issue #25077
  modules/dnn/src/layers/einsum_layer.cpp
Labels: bug, category: dnn

#25095 Added and tested yolov8x model
  samples/dnn/models.yml
Labels: category: samples, category: dnn

#25111 Fixed lcense and readme filenames after TBB update
  3rdparty/tbb/CMakeLists.txt
Labels: category: build/install

#25069 Disable fp16 instructions detection on Windows ARM64 because of build issues
  cmake/checks/cpu_fp16.cpp
Labels: platform: win32, platform: arm

#25063 Ground truth check and Charuco support in multiview_calibration.py
  samples/python/multiview_calibration.py
Labels: category: python bindings, category: samples

#25076 dnn: try improving performance of Attention layer
  modules/dnn/src/layers/attention_layer.cpp
Labels: optimization, category: dnn

#24621 first proposal of cv::remap with relative displacement field (#24603)
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/imgproc/include/opencv2/imgproc/types_c.h
  modules/imgproc/perf/perf_warp.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/opencl/remap.cl
  modules/imgproc/test/ocl/test_warp.cpp
  modules/imgproc/test/test_imgwarp.cpp
Labels: feature, category: imgproc

#25117 Scale layer 1d test
  modules/dnn/test/test_layers.cpp
Labels: test, category: dnn

#23985 [GSoC] Update octree methods and create frames for PCC
  modules/3d/include/opencv2/3d.hpp
  modules/3d/misc/python/test/test_octree.py
  modules/3d/src/octree.cpp
  modules/3d/src/octree.hpp
  modules/3d/src/pcc.h
  modules/3d/src/precomp.hpp
  modules/3d/test/test_octree.cpp
Labels: GSoC, category: 3d module

#25124 Extracted 1d test cases to reduce conflicts with 4.x.
  modules/dnn/test/test_common.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_layers_1d.cpp
Labels: category: dnn
