Repository opencv/opencv, pull requests merged in 2024-03, with the labels that each got.

#25125 Partially backport C API removal in imgproc module to reduce conflicts with 5.x
  modules/highgui/src/window_wayland.cpp
  modules/imgproc/src/approx.cpp
  modules/imgproc/src/contours.cpp
  modules/imgproc/src/distransform.cpp
  modules/imgproc/src/drawing.cpp
  modules/imgproc/src/emd.cpp
  modules/imgproc/src/histogram.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/thresh.cpp
  modules/imgproc/test/test_convhull.cpp
  modules/imgproc/test/test_drawing.cpp
  modules/imgproc/test/test_imgwarp.cpp
  modules/imgproc/test/test_thresh.cpp
Labels: category: imgproc, cleanup

#24411 Added int32, int64 support and type inference to dnn
  .github/workflows/PR-5.x.yaml
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/java/test/DnnListRegressionTest.java
  modules/dnn/perf/perf_convolution.cpp
  modules/dnn/perf/perf_convolution1d.cpp
  modules/dnn/perf/perf_convolution3d.cpp
  modules/dnn/perf/perf_layer.cpp
  modules/dnn/perf/perf_net.cpp
  modules/dnn/src/cuda/concat.cu
  modules/dnn/src/cuda/eltwise_ops.cu
  modules/dnn/src/cuda/fill_copy.cu
  modules/dnn/src/cuda/limits.hpp
  modules/dnn/src/cuda/max_unpooling.cu
  modules/dnn/src/cuda4dnn/kernels/max_unpooling.hpp
  modules/dnn/src/cuda4dnn/primitives/max_unpooling.hpp
  modules/dnn/src/dnn_common.hpp
  modules/dnn/src/int8layers/quantization_utils.cpp
  modules/dnn/src/layer.cpp
  modules/dnn/src/layer_internals.hpp
  modules/dnn/src/layers/arg_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/gather_elements_layer.cpp
  modules/dnn/src/layers/gather_layer.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/scatterND_layer.cpp
  modules/dnn/src/layers/scatter_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/legacy_backend.cpp
  modules/dnn/src/legacy_backend.hpp
  modules/dnn/src/model.cpp
  modules/dnn/src/net.cpp
  modules/dnn/src/net_impl.cpp
  modules/dnn/src/net_impl.hpp
  modules/dnn/src/net_impl_backend.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/src/op_cuda.cpp
  modules/dnn/src/op_cuda.hpp
  modules/dnn/src/tensorflow/tf_importer.cpp
  modules/dnn/test/npy_blob.cpp
  modules/dnn/test/test_caffe_importer.cpp
  modules/dnn/test/test_int.cpp
  modules/dnn/test/test_layers.cpp
  modules/dnn/test/test_layers_1d.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: category: dnn

#25130 Update net_impl.cpp and net.cpp to fix the first part of #25112
  modules/dnn/src/net.cpp
Labels: category: dnn

#25122 Use std::priority_queue in inpaint function for performance improvement
  modules/photo/perf/perf_inpaint.cpp
  modules/photo/src/inpaint.cpp
Labels: optimization, category: photo

#25120 Fixed ReduceMean layer behaviour
  modules/dnn/src/layers/reduce_layer.cpp
  modules/dnn/test/test_layers.cpp
Labels: bug, category: dnn

#24724 build: suppress warning ARM64 + Visual Studio build
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
Labels: category: build/install, platform: win32, platform: arm

#25123 zlib upgrade to version 1.3.1
  3rdparty/zlib/CMakeLists.txt
  3rdparty/zlib/ChangeLog
  3rdparty/zlib/README
  3rdparty/zlib/deflate.c
  3rdparty/zlib/deflate.h
  3rdparty/zlib/gzguts.h
  3rdparty/zlib/gzlib.c
  3rdparty/zlib/inflate.c
  3rdparty/zlib/inftrees.c
  3rdparty/zlib/inftrees.h
  3rdparty/zlib/trees.c
  3rdparty/zlib/zconf.h.cmakein
  3rdparty/zlib/zlib.h
  3rdparty/zlib/zutil.h
Labels: category: 3rdparty

#25159 dnn: fix to iteration variable scope
  modules/dnn/src/layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
Labels: bug, category: build/install, category: dnn

#25042 Documentation transition to fresh Doxygen
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/js_tutorials/js_setup/js_nodejs/js_nodejs.markdown
  doc/mymath.js
  doc/py_tutorials/py_setup/py_setup_in_windows/py_setup_in_windows.markdown
  doc/tutorials/core/discrete_fourier_transform/discrete_fourier_transform.markdown
  doc/tutorials/core/mat-mask-operations/mat_mask_operations.markdown
  doc/tutorials/dnn/dnn_OCR/dnn_OCR.markdown
  doc/tutorials/dnn/dnn_googlenet/dnn_googlenet.markdown
  doc/tutorials/dnn/dnn_text_spotting/dnn_text_spotting.markdown
  doc/tutorials/imgproc/erosion_dilatation/erosion_dilatation.markdown
  doc/tutorials/imgproc/gausian_median_blur_bilateral_filter/gausian_median_blur_bilateral_filter.markdown
  doc/tutorials/imgproc/imgtrans/copyMakeBorder/copyMakeBorder.markdown
  doc/tutorials/imgproc/imgtrans/filter_2d/filter_2d.markdown
  doc/tutorials/imgproc/imgtrans/hough_circle/hough_circle.markdown
  doc/tutorials/imgproc/imgtrans/hough_lines/hough_lines.markdown
  doc/tutorials/imgproc/imgtrans/laplace_operator/laplace_operator.markdown
  doc/tutorials/imgproc/imgtrans/sobel_derivatives/sobel_derivatives.markdown
  doc/tutorials/imgproc/morph_lines_detection/morph_lines_detection.md
  doc/tutorials/imgproc/pyramids/pyramids.markdown
  doc/tutorials/introduction/android_binary_package/android_dev_intro.markdown
  doc/tutorials/introduction/building_tegra_cuda/building_tegra_cuda.markdown
  doc/tutorials/introduction/clojure_dev_intro/clojure_dev_intro.markdown
  doc/tutorials/introduction/env_reference/env_reference.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/cvstd.hpp
  modules/core/include/opencv2/core/matx.hpp
  modules/core/include/opencv2/core/matx.inl.hpp
  modules/core/include/opencv2/core/persistence.hpp
  modules/features2d/include/opencv2/features2d.hpp
  modules/gapi/doc/00-root.markdown
  modules/gapi/doc/30-implementation.markdown
  modules/gapi/include/opencv2/gapi.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/include/opencv2/gapi/infer/ov.hpp
  modules/highgui/doc/highgui_qt.cpp
  modules/highgui/include/opencv2/highgui.hpp
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgproc/doc/colors.markdown
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/java/jar/build.xml.in
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/photo/include/opencv2/photo.hpp
  modules/video/include/opencv2/video.hpp
  modules/videoio/doc/videoio_overview.markdown
  samples/cpp/tutorial_code/ImgTrans/copyMakeBorder_demo.cpp
Labels: category: documentation, category: build/install

#25141 calib3d: doc: remove C API link (For 4.x)
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/calib3d_c_api.h
Labels: category: documentation, category: calib3d

#25160 Backport some highgui changes from #22754
  modules/highgui/src/window.cpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_gtk.cpp
  modules/highgui/src/window_w32.cpp
  modules/highgui/src/window_wayland.cpp
Labels: category: highgui-gui, cleanup

#25162 doc: removed duplicated markdown file
  doc/tutorials/others/_old/table_of_content_objdetect.markdown
  modules/gapi/doc/00-root.markdown
Labels: category: documentation, category: build/install

#25161 Documentation transition to fresh Doxygen (5.x)
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/js_tutorials/js_setup/js_nodejs/js_nodejs.markdown
  doc/mymath.js
  doc/py_tutorials/py_setup/py_setup_in_windows/py_setup_in_windows.markdown
  doc/tutorials/calib3d/camera_multiview_calibration/multiview_calibration.markdown
  doc/tutorials/core/discrete_fourier_transform/discrete_fourier_transform.markdown
  doc/tutorials/core/mat-mask-operations/mat_mask_operations.markdown
  doc/tutorials/dnn/dnn_OCR/dnn_OCR.markdown
  doc/tutorials/dnn/dnn_googlenet/dnn_googlenet.markdown
  doc/tutorials/dnn/dnn_text_spotting/dnn_text_spotting.markdown
  doc/tutorials/imgproc/erosion_dilatation/erosion_dilatation.markdown
  doc/tutorials/imgproc/gausian_median_blur_bilateral_filter/gausian_median_blur_bilateral_filter.markdown
  doc/tutorials/imgproc/imgtrans/copyMakeBorder/copyMakeBorder.markdown
  doc/tutorials/imgproc/imgtrans/filter_2d/filter_2d.markdown
  doc/tutorials/imgproc/imgtrans/hough_circle/hough_circle.markdown
  doc/tutorials/imgproc/imgtrans/hough_lines/hough_lines.markdown
  doc/tutorials/imgproc/imgtrans/laplace_operator/laplace_operator.markdown
  doc/tutorials/imgproc/imgtrans/sobel_derivatives/sobel_derivatives.markdown
  doc/tutorials/imgproc/morph_lines_detection/morph_lines_detection.md
  doc/tutorials/imgproc/pyramids/pyramids.markdown
  doc/tutorials/introduction/android_binary_package/android_dev_intro.markdown
  doc/tutorials/introduction/building_tegra_cuda/building_tegra_cuda.markdown
  doc/tutorials/introduction/clojure_dev_intro/clojure_dev_intro.markdown
  doc/tutorials/introduction/env_reference/env_reference.markdown
  doc/tutorials/introduction/windows_install/windows_install.markdown
  doc/tutorials/others/_old/table_of_content_objdetect.markdown
  modules/calib/include/opencv2/calib.hpp
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/cvstd.hpp
  modules/core/include/opencv2/core/matx.hpp
  modules/core/include/opencv2/core/matx.inl.hpp
  modules/core/include/opencv2/core/persistence.hpp
  modules/features2d/include/opencv2/features2d.hpp
  modules/gapi/doc/00-root.markdown
  modules/gapi/doc/30-implementation.markdown
  modules/gapi/include/opencv2/gapi.hpp
  modules/gapi/include/opencv2/gapi/gcommon.hpp
  modules/gapi/include/opencv2/gapi/gstreaming.hpp
  modules/gapi/include/opencv2/gapi/infer/ov.hpp
  modules/highgui/doc/highgui_qt.cpp
  modules/highgui/include/opencv2/highgui.hpp
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgproc/doc/colors.markdown
  modules/imgproc/include/opencv2/imgproc.hpp
  modules/java/jar/build.xml.in
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/photo/include/opencv2/photo.hpp
  modules/stereo/include/opencv2/stereo.hpp
  modules/video/include/opencv2/video.hpp
  modules/videoio/doc/videoio_overview.markdown
  samples/cpp/tutorial_code/ImgTrans/copyMakeBorder_demo.cpp
Labels: category: documentation

#25163 Avoid copy of ONNX graph during import
  modules/dnn/src/onnx/onnx_importer.cpp
Labels: optimization, category: dnn (onnx)

#25145 Improve contours approximations in ChessBoardDetector::generateQuads
  modules/calib3d/src/calibinit.cpp
Labels: optimization, category: calib3d

#25055 G-API: A quick value-initialization support GMat
  modules/gapi/include/opencv2/gapi/gmat.hpp
  modules/gapi/include/opencv2/gapi/gscalar.hpp
  modules/gapi/src/api/gbackend.cpp
  modules/gapi/src/api/gbackend_priv.hpp
  modules/gapi/src/api/gcomputation.cpp
  modules/gapi/src/api/gmat.cpp
  modules/gapi/src/api/gproto.cpp
  modules/gapi/src/backends/cpu/gcpubackend.cpp
  modules/gapi/src/backends/ocl/goclbackend.cpp
  modules/gapi/src/compiler/gobjref.hpp
  modules/gapi/src/compiler/passes/exec.cpp
  modules/gapi/src/executor/gexecutor.cpp
  modules/gapi/src/executor/gthreadedexecutor.cpp
  modules/gapi/test/gapi_mat_tests.cpp
Labels: category: g-api / gapi

#25171 doc: auto-enabling DOT support in documentation if dot executable has been found
  doc/CMakeLists.txt
Labels: category: documentation, category: build/install

#25148 Allowed int64 constants in ONNX parser
  modules/core/src/ocl.cpp
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/cast_layer.cpp
  modules/dnn/src/layers/expand_layer.cpp
  modules/dnn/src/layers/gather_elements_layer.cpp
  modules/dnn/src/layers/gather_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_int.cpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: feature, category: dnn, category: dnn (onnx)

#25180 doc: fix formulas in JavaDoc broken after Doxygen upgrade
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/mymath.js
  modules/java/jar/build.xml.in
Labels: bug, category: documentation

#25203 Updated RVV intrinsics and test to remove initializer_list
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: platform: riscv

#25199 Fix for OpenVINO 2024.0. OpenVINO 2022.1 as minimal supported version.
  cmake/OpenCVDetectInferenceEngine.cmake
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/ie_ngraph.hpp
  modules/dnn/src/int8layers/batch_norm_layer.cpp
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/elementwise_layers.cpp
  modules/dnn/src/int8layers/eltwise_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/pooling_layer.cpp
  modules/dnn/src/int8layers/scale_layer.cpp
  modules/dnn/src/int8layers/softmax_layer.cpp
  modules/dnn/src/layers/batch_norm_layer.cpp
  modules/dnn/src/layers/blank_layer.cpp
  modules/dnn/src/layers/concat_layer.cpp
  modules/dnn/src/layers/const_layer.cpp
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/src/layers/crop_and_resize_layer.cpp
  modules/dnn/src/layers/detection_output_layer.cpp
  modules/dnn/src/layers/elementwise_layers.cpp
  modules/dnn/src/layers/eltwise_layer.cpp
  modules/dnn/src/layers/flatten_layer.cpp
  modules/dnn/src/layers/fully_connected_layer.cpp
  modules/dnn/src/layers/gemm_layer.cpp
  modules/dnn/src/layers/instance_norm_layer.cpp
  modules/dnn/src/layers/layer_norm.cpp
  modules/dnn/src/layers/lrn_layer.cpp
  modules/dnn/src/layers/matmul_layer.cpp
  modules/dnn/src/layers/max_unpooling_layer.cpp
  modules/dnn/src/layers/mvn_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/layers/normalize_bbox_layer.cpp
  modules/dnn/src/layers/padding_layer.cpp
  modules/dnn/src/layers/permute_layer.cpp
  modules/dnn/src/layers/pooling_layer.cpp
  modules/dnn/src/layers/prior_box_layer.cpp
  modules/dnn/src/layers/proposal_layer.cpp
  modules/dnn/src/layers/region_layer.cpp
  modules/dnn/src/layers/reorg_layer.cpp
  modules/dnn/src/layers/reshape_layer.cpp
  modules/dnn/src/layers/resize_layer.cpp
  modules/dnn/src/layers/scale_layer.cpp
  modules/dnn/src/layers/slice_layer.cpp
  modules/dnn/src/layers/softmax_layer.cpp
  modules/dnn/src/net_openvino.cpp
  modules/dnn/src/op_inf_engine.cpp
  modules/dnn/src/op_inf_engine.hpp
  modules/dnn/src/op_webnn.hpp
  modules/dnn/test/test_ie_models.cpp
Labels: optimization, feature, category: dnn, category: 3rdparty, cleanup

#25229 Fix for jpegturbo Windows build
  3rdparty/libjpeg-turbo/CMakeLists.txt
Labels: category: build/install, category: 3rdparty

#25234 doc: auto-enabling DOT support (5.x)
  doc/CMakeLists.txt
Labels: port/backport done

#25217 core: Rename `cv::float16_t` to `cv::hfloat`
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/hal/hal.hpp
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_lasx.hpp
  modules/core/include/opencv2/core/hal/intrin_lsx.hpp
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/intrin_neon.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/core/include/opencv2/core/saturate.hpp
  modules/core/include/opencv2/core/traits.hpp
  modules/core/src/convert.dispatch.cpp
  modules/core/src/convert.hpp
  modules/core/src/convert.simd.hpp
  modules/core/src/convert_scale.simd.hpp
  modules/core/src/copy.cpp
  modules/core/src/norm.cpp
  modules/core/src/ocl.cpp
  modules/core/src/out.cpp
  modules/core/src/persistence.cpp
  modules/core/src/rand.cpp
  modules/core/test/test_intrin_utils.hpp
  modules/gapi/src/backends/ie/giebackend.cpp
  modules/gapi/test/common/gapi_tests_common.hpp
Labels: category: core, port to 5.x is needed

#25232 5.x core: rename `cv::bfloat16_t` to `cv::bfloat`
  modules/core/include/opencv2/core/base.hpp
  modules/core/include/opencv2/core/cvdef.h
  modules/core/include/opencv2/core/detail/dispatch_helper.impl.hpp
  modules/core/include/opencv2/core/hal/hal.hpp
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/saturate.hpp
  modules/core/include/opencv2/core/traits.hpp
  modules/core/src/arithm.cpp
  modules/core/src/arithm.simd.hpp
  modules/core/src/convert.dispatch.cpp
  modules/core/src/convert.hpp
  modules/core/src/convert.simd.hpp
  modules/core/src/convert_scale.simd.hpp
  modules/core/src/copy.cpp
  modules/core/src/mean.simd.hpp
  modules/core/src/minmax.simd.hpp
  modules/core/src/norm.cpp
  modules/core/src/out.cpp
  modules/core/src/persistence.cpp
  modules/core/src/rand.cpp
  modules/core/src/sum.simd.hpp
  modules/core/test/test_arithm.cpp
  modules/ts/src/ts_func.cpp
Labels: category: core

#25206 0D test for Reshape layer
  modules/dnn/test/test_layers_1d.cpp
Labels: test, category: dnn

#25257 3rdparty: libtiff: fix for small version expression problems for built-in tiff460
  3rdparty/libtiff/CMakeLists.txt
  3rdparty/libtiff/RELEASE-DATE
  cmake/OpenCVFindLibsGrfmt.cmake
Labels: bug, category: build/install, category: 3rdparty

#25181 Release convolution weightsMat after usage
  modules/dnn/src/layers/convolution_layer.cpp
  modules/dnn/test/test_common.hpp
  modules/dnn/test/test_common.impl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, optimization, category: dnn

#25213 doc: fix toggle buttons in some tutorials
  doc/tutorial-utils.js
Labels: category: documentation

#25166 dnn (CANN): Fix incorrect shape of 1d bias in Gemm
  modules/dnn/src/layers/gemm_layer.cpp
Labels: category: dnn, category:dnn_cann

#25249 Added support for V4L2_PIX_FMT_SGRBG8 pixel format to V4L2 backend
  modules/videoio/src/cap_v4l.cpp
Labels: feature, category: videoio(camera)

#25184 Avoid extra memset
  modules/dnn/src/layers/cpu_kernels/convolution.cpp
Labels: optimization, category: dnn

#25237 doc: add note on handling of spaces in CommandLineParser
  modules/core/include/opencv2/core/utility.hpp
Labels: category: documentation

#25205 0D test for split layer
  modules/dnn/test/test_layers_1d.cpp
Labels: test, category: dnn

#25197 Remove OpenVX
  3rdparty/openvx/CMakeLists.txt
  3rdparty/openvx/README.md
  3rdparty/openvx/hal/CMakeLists.txt
  3rdparty/openvx/hal/README.md
  3rdparty/openvx/hal/openvx_hal.cpp
  3rdparty/openvx/hal/openvx_hal.hpp
  3rdparty/openvx/include/ivx.hpp
  3rdparty/openvx/include/ivx_lib_debug.hpp
  CMakeLists.txt
  cmake/FindOpenVX.cmake
  cmake/OpenCVFindTIMVX.cmake
  cmake/checks/openvx_refenum_test.cpp
  cmake/templates/cvconfig.h.in
  doc/tutorials/introduction/config_reference/config_reference.markdown
  modules/core/include/opencv2/core.hpp
  modules/core/include/opencv2/core/openvx/ovx_defs.hpp
  modules/core/include/opencv2/core/ovx.hpp
  modules/core/include/opencv2/core/utils/trace.hpp
  modules/core/include/opencv2/core/utils/trace.private.hpp
  modules/core/src/lut.cpp
  modules/core/src/mean.dispatch.cpp
  modules/core/src/minmax.dispatch.cpp
  modules/core/src/ovx.cpp
  modules/core/src/precomp.hpp
  modules/core/src/trace.cpp
  modules/features2d/src/fast.cpp
  modules/imgproc/src/accum.cpp
  modules/imgproc/src/box_filter.dispatch.cpp
  modules/imgproc/src/canny.cpp
  modules/imgproc/src/deriv.cpp
  modules/imgproc/src/featureselect.cpp
  modules/imgproc/src/histogram.cpp
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/src/median_blur.dispatch.cpp
  modules/imgproc/src/pyramids.cpp
  modules/imgproc/src/resize.cpp
  modules/imgproc/src/smooth.dispatch.cpp
  modules/imgproc/src/thresh.cpp
  modules/imgproc/test/test_canny.cpp
  modules/video/src/lkpyramid.cpp
  platforms/js/build_js.py
  samples/CMakeLists.txt
  samples/openvx/CMakeLists.txt
  samples/openvx/no_wrappers.cpp
  samples/openvx/wrappers.cpp
  samples/openvx/wrappers_video.cpp
Labels: cleanup

#24893 added in-place support for cartToPolar and polarToCart
  modules/core/include/opencv2/core/hal/hal.hpp
  modules/core/src/hal_replacement.hpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/mathfuncs_core.dispatch.cpp
  modules/core/src/mathfuncs_core.simd.hpp
  modules/core/src/opencl/arithm.cl
  modules/core/test/test_arithm.cpp
Labels: optimization, category: core

#25258 Fix detect rotated SYMMETRIC_GRID
  modules/calib3d/src/circlesgrid.cpp
  modules/calib3d/src/circlesgrid.hpp
  modules/calib3d/test/test_chesscorners.cpp
Labels: bug, test, category: calib3d

#25183 Fix bug in maskBoundingRect
  modules/imgproc/src/shapedescr.cpp
  modules/imgproc/test/test_boundingrect.cpp
Labels: bug, category: imgproc

#25189 ios build fixes
  modules/videoio/src/cap_avfoundation.mm
  platforms/ios/Info.Dynamic.plist.in
Labels: category: build/install, platform: ios/osx

#25182 Increase decomposeProjectionMatrix precision for small scales
  modules/calib3d/src/calibration.cpp
  modules/calib3d/test/test_decompose_projection.cpp
Labels: category: calib3d, pr: Discussion Required

#25190 add component disable flag to android build
  platforms/android/build_sdk.py
Labels: feature, category: build/install, platform: android

#25177 Speed up adaptive threshold in findChessboardCorners
  modules/calib3d/src/calibinit.cpp
Labels: category: calib3d

#25264 fix a bug about vittrack post-process
  modules/video/src/tracking/tracker_vit.cpp
Labels: bug, category: video

#25282 Added PNG instance of image for fisheye::undistort test
  modules/calib3d/test/test_fisheye.cpp
Labels: category: calib3d, category: imgcodecs

#25255 imgcodecs: tiff: to avoid using TIFFTAG_* directly for imwrite() params.
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: category: imgcodecs

#24415 add imread
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_png.cpp
  modules/python/test/test_imread.py
  modules/python/test/test_pathlike.py
Labels: category: imgcodecs, RFC, pr: needs test

#25273 TFLite new layers
  modules/dnn/src/tflite/tflite_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: category: dnn

#25291 Einsum OpenVINO backend
  modules/dnn/src/layers/einsum_layer.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_importer.cpp
Labels: optimization, category: dnn

#25294 Skip InferROI.TestStreamingInfer as unstable as it hangs on CI time-to-time
  modules/gapi/test/infer/gapi_infer_ie_test.cpp
Labels: test, category: g-api / gapi

#25280 imgcodecs: jpeg: re-support to read CMYK Jpeg
  modules/imgcodecs/src/grfmt_jpeg.cpp
  modules/imgcodecs/test/test_jpeg.cpp
Labels: category: imgcodecs

#25293 Fixed HAL invocation for DCT.
  modules/core/src/dxt.cpp
Labels: bug, optimization, category: imgproc

#25285 core: Add cgroupsv2 support to parallel.cpp
  modules/core/src/parallel.cpp
Labels: feature, category: core

#25299 imgcodecs: jpeg: (test) fix condition to compare rgb and cmyk jpeg
  modules/imgcodecs/test/test_jpeg.cpp
Labels: bug, test, category: imgcodecs

#25230 Optimize int8 layers in DNN modules by using RISC-V Vector intrinsic.
  modules/dnn/CMakeLists.txt
  modules/dnn/src/int8layers/convolution_layer.cpp
  modules/dnn/src/int8layers/fully_connected_layer.cpp
  modules/dnn/src/int8layers/layers_common.simd.hpp
Labels: optimization, category: dnn, platform: riscv
