Repository opencv/opencv, pull requests merged in 2024-09, with the labels that each got.

#26096 RISC-V: fix installation process
  cmake/OpenCVCompilerOptimizations.cmake
Labels: category: build/install, platform: riscv

#26091 Got rid of CAROTENE_NEON_ARCH and use standard __ARM_ARCH check
  3rdparty/carotene/CMakeLists.txt
  3rdparty/carotene/hal/tegra_hal.hpp
  3rdparty/carotene/src/common.hpp
  3rdparty/carotene/src/vround_helper.hpp
  CMakeLists.txt
  doc/tutorials/introduction/config_reference/config_reference.markdown
Labels: optimization, category: build/install, platform: arm

#26094 Fix typo with cameramatrix command for documentation
  doc/opencv.bib
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation

#26079 Add Support for Hardmax Layer
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/harmax.cpp
  modules/dnn/src/onnx/onnx_importer.cpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: feature, category: dnn (onnx)

#26023 Fix hfloat, float16_t, float collision in 5.x about v_exp and v_log
  modules/core/test/test_intrin_utils.hpp
Labels: bug, test

#26093 Update test_tiff.cpp
  modules/imgcodecs/test/test_tiff.cpp
Labels: test, category: imgcodecs

#26102 Make T a math symbol
  doc/tutorials/imgproc/imgtrans/warp_affine/warp_affine.markdown
Labels: category: documentation

#26071 Remove the redundant codes of cv::convertMaps and mRGBA2RGBA<uchar>
  modules/imgproc/src/color_rgb.simd.hpp
  modules/imgproc/src/imgwarp.cpp
Labels: category: imgproc, cleanup

#26100 RISC-V: fix XuanTie and Andes builds
  cmake/OpenCVCompilerOptimizations.cmake
Labels: category: build/install, platform: riscv

#26084 Avoid uninitialized value read in resize.
  modules/imgproc/src/resize.cpp
Labels: category: imgproc, category: build/install

#26105 build: minor changes for cmake 3.30 and some cleanup
  CMakeLists.txt
  cmake/OpenCVDetectCXXCompiler.cmake
  cmake/OpenCVDownload.cmake
Labels: category: build/install

#26114 Added bit-exact tests for RGB2Gray
  modules/imgproc/test/test_color.cpp
Labels: test, category: imgproc

#26120 RISC-V: remove statically initialized global RVV variables (4.x)
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
Labels: platform: riscv, cleanup

#26119 RISC-V: remove statically initialized global RVV variables (5.x)
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
Labels: bug, platform: riscv, cleanup

#26115 Added more data types to OCL flip() and rotate() perf tests
  modules/core/perf/opencl/perf_arithm.cpp
Labels: test, category: core

#26117 Update remap tutorial
  doc/tutorials/imgproc/imgtrans/remap/remap.markdown
Labels: category: documentation

#25515 Improved edge detection sample
  doc/tutorials/dnn/dnn_custom_layers/dnn_custom_layers.md
  modules/dnn/src/int8layers/quantization_utils.cpp
  modules/imgproc/include/opencv2/imgproc.hpp
  samples/cpp/snippets/edge.cpp
  samples/dnn/common.hpp
  samples/dnn/common.py
  samples/dnn/custom_layer.py
  samples/dnn/edge_detection.cpp
  samples/dnn/edge_detection.py
  samples/dnn/models.yml
Labels: category: samples, cleanup, OpenCV5

#26110 Switch off OpenVINO backend for Hardmax
  modules/dnn/src/layers/hardmax.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
Labels: bug, category: dnn

#26125 Excluded nullptr leak to arithmetic HAL got from empty Mat.
  modules/core/src/arithm.cpp
Labels: bug, category: core

#26116 Added more data types for warpAffine() perf tests
  modules/imgproc/perf/perf_warp.cpp
Labels: test, category: imgproc

#26042 Add size() to CUDA PtrStepSz
  modules/core/include/opencv2/core/cuda_types.hpp
  modules/core/include/opencv2/core/cvdef.h
Labels: category: gpu/cuda (contrib)

#26025 C-API cleanup: highgui, videoio
  cmake/templates/opencv_abi.xml.in
  modules/core/include/opencv2/core/cvdef.h
  modules/dnn/include/opencv2/dnn/shape_utils.hpp
  modules/highgui/src/precomp.hpp
  modules/highgui/src/window.cpp
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_QT.h
  modules/highgui/src/window_cocoa.mm
  modules/highgui/src/window_gtk.cpp
  modules/highgui/src/window_w32.cpp
  modules/highgui/src/window_wayland.cpp
  modules/highgui/src/window_winrt.cpp
  modules/highgui/src/window_winrt_bridge.cpp
  modules/highgui/src/window_winrt_bridge.hpp
  modules/videoio/CMakeLists.txt
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/include/opencv2/videoio/container_avi.private.hpp
  modules/videoio/include/opencv2/videoio/legacy/constants_c.h
  modules/videoio/include/opencv2/videoio/videoio_c.h
  modules/videoio/misc/gen_dict.json
  modules/videoio/src/cap.cpp
  modules/videoio/src/cap_android_camera.cpp
  modules/videoio/src/cap_android_mediandk.cpp
  modules/videoio/src/cap_aravis.cpp
  modules/videoio/src/cap_avfoundation.mm
  modules/videoio/src/cap_avfoundation_mac.mm
  modules/videoio/src/cap_dc1394_v2.cpp
  modules/videoio/src/cap_dshow.cpp
  modules/videoio/src/cap_ffmpeg.cpp
  modules/videoio/src/cap_ffmpeg_impl.hpp
  modules/videoio/src/cap_gphoto2.cpp
  modules/videoio/src/cap_gstreamer.cpp
  modules/videoio/src/cap_images.cpp
  modules/videoio/src/cap_interface.hpp
  modules/videoio/src/cap_msmf.cpp
  modules/videoio/src/cap_openni2.cpp
  modules/videoio/src/cap_pvapi.cpp
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/src/cap_ximea.cpp
  modules/videoio/src/cap_xine.cpp
  modules/videoio/src/container_avi.cpp
  modules/videoio/src/precomp.hpp
  modules/videoio/src/videoio_c.cpp
  samples/cpp/tutorial_code/compatibility/compatibility_test.cpp
Labels: backport is needed, category: highgui-gui, category: videoio, category: videoio(camera), cleanup

#25326 Improved and refactored text detection sample in dnn module
  doc/tutorials/dnn/dnn_text_spotting/dnn_text_spotting.markdown
  samples/dnn/common.hpp
  samples/dnn/common.py
  samples/dnn/download_models.py
  samples/dnn/models.yml
  samples/dnn/scene_text_detection.cpp
  samples/dnn/scene_text_recognition.cpp
  samples/dnn/scene_text_spotting.cpp
  samples/dnn/text_detection.cpp
  samples/dnn/text_detection.py
Labels: category: samples, cleanup, OpenCV5

#26132 Leaky RELU support for TFLite.
  modules/dnn/src/tflite/tflite_importer.cpp
  modules/dnn/test/test_tflite_importer.cpp
Labels: feature, category: dnn

#26088 3rdparty: NDSRVP - Part 2: Filter
  3rdparty/ndsrvp/include/imgproc.hpp
  3rdparty/ndsrvp/src/cvutils.cpp
  3rdparty/ndsrvp/src/cvutils.hpp
  3rdparty/ndsrvp/src/filter.cpp
Labels: optimization, platform: riscv

#26144 Drop remaning C CV_FUNCTION_NAME as it's not used any more.
  modules/core/include/opencv2/core/core_c.h
  modules/highgui/src/window_w32.cpp
  modules/highgui/src/window_winrt.cpp
Labels: platform: win32, cleanup

#25901 RISC-V/AArch64: disable CPU features detection
  CMakeLists.txt
  cmake/OpenCVCompilerOptimizations.cmake
  cmake/OpenCVCompilerOptions.cmake
  cmake/OpenCVMinDepVersions.cmake
  cmake/platforms/OpenCV-Linux.cmake
  platforms/linux/arm.toolchain.cmake
  platforms/linux/flags-aarch64.cmake
  platforms/linux/flags-riscv64.cmake
  platforms/linux/riscv64-andes-gcc.toolchain.cmake
  platforms/linux/riscv64-clang.toolchain.cmake
  platforms/linux/riscv64-gcc.toolchain.cmake
Labels: category: build/install, platform: arm, platform: riscv

#26109 Replace operators with wrapper functions on universal intrinsics backends
  modules/core/include/opencv2/core/hal/intrin.hpp
  modules/core/include/opencv2/core/hal/intrin_avx.hpp
  modules/core/include/opencv2/core/hal/intrin_avx512.hpp
  modules/core/include/opencv2/core/hal/intrin_cpp.hpp
  modules/core/include/opencv2/core/hal/intrin_lasx.hpp
  modules/core/include/opencv2/core/hal/intrin_lsx.hpp
  modules/core/include/opencv2/core/hal/intrin_msa.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv071.hpp
  modules/core/include/opencv2/core/hal/intrin_sse.hpp
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
  modules/core/include/opencv2/core/hal/intrin_wasm.hpp
  modules/features2d/src/fast.avx2.cpp
  modules/imgproc/src/resize.cpp
  modules/imgproc/src/sumpixels.simd.hpp
Labels: category: core, cleanup

#25785 Documentation update for minMaxLoc
  modules/core/include/opencv2/core.hpp
Labels: category: documentation

#26146 ts: add some missing override markers
  modules/ts/include/opencv2/ts/ocl_perf.hpp
  modules/ts/include/opencv2/ts/ts_ext.hpp
  modules/ts/include/opencv2/ts/ts_gtest.h
  modules/ts/include/opencv2/ts/ts_perf.hpp
Labels: test, category: build/install

#26148 features2d: fixed out of bounds access in SIFT
  modules/features2d/src/sift.simd.hpp
  modules/features2d/test/test_sift.cpp
Labels: bug, test, category: features2d

#26153 sample: tracker parameters updated
  samples/python/tracker.py
Labels: category: samples, category: dnn

#26143 Added HAL interface for Lukas-Kanade optical flow
  3rdparty/carotene/hal/tegra_hal.hpp
  3rdparty/carotene/include/carotene/functions.hpp
  3rdparty/carotene/src/opticalflow.cpp
  modules/video/src/hal_replacement.hpp
  modules/video/src/lkpyramid.cpp
Labels: feature, category: video

#26154 Added and tested yolov5l model.
  samples/dnn/models.yml
Labels: category: samples, category: dnn

#25710 Merged yolo_detector and object detection sample
  doc/tutorials/dnn/dnn_yolo/dnn_yolo.markdown
  samples/dnn/common.hpp
  samples/dnn/models.yml
  samples/dnn/object_detection.cpp
  samples/dnn/object_detection.py
  samples/dnn/yolo_detector.cpp
Labels: category: samples, cleanup, OpenCV5

#26166 build: fix AVX2/AVX512 builds failed due to intrinsics operator usage
  modules/gapi/src/backends/fluid/gfluidimgproc_simd_avx2.hpp
  modules/imgproc/src/resize.cpp
Labels: optimization, category: imgproc, category: build/install, category: g-api / gapi

#26163 HAL interface for Sharr derivatives needed for Lukas-Kanade algorithm
  3rdparty/carotene/hal/tegra_hal.hpp
  modules/video/src/hal_replacement.hpp
  modules/video/src/lkpyramid.cpp
Labels: optimization, category: video

#26176 Fixed minor typos in JS tutorials
  doc/js_tutorials/js_core/js_image_arithmetics/js_image_arithmetics.markdown
Labels: category: documentation

#26177 Fixed code snippets in Yolo tutorial.
  doc/tutorials/dnn/dnn_yolo/dnn_yolo.markdown
  samples/dnn/object_detection.cpp
Labels: bug, category: documentation, category: samples

#25022 Add Charuco board support to multiview calibration sample (C++)
  samples/cpp/multiview_calibration_sample.cpp
Labels: category: calib3d, category: samples

#26184 Java Script config fix after 4.x merge.
  modules/3d/misc/js/gen_dict.json
  modules/calib/misc/js/gen_dict.json
Labels: category: build/install, category: javascript (js)

#26183 Multiview calibration pipeline documentation update
  doc/tutorials/calib3d/camera_multiview_calibration/images/connection_tree.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/count_example.png
  doc/tutorials/calib3d/camera_multiview_calibration/images/distort_error.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/multiview_calib.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/images/terminal-hololens-demo.jpg
  doc/tutorials/calib3d/camera_multiview_calibration/multiview_calibration.markdown
  modules/calib/doc/pics/multiview_calib.png
  modules/calib/doc/pics/register_pair.png
  modules/calib/include/opencv2/calib.hpp
Labels: category: documentation, category: calib3d

#26186 Add support for downloading DNN config files in download_models.py
  samples/dnn/download_models.py
  samples/dnn/models.yml
Labels: category: dnn, OpenCV5

#26189 build: fix AVX2/AVX512 builds failed due to intrinsics operator usage (5.x)
  modules/3d/src/rgbd/hash_tsdf_functions.cpp
  modules/gapi/src/backends/fluid/gfluidimgproc_simd_avx2.hpp
  modules/imgproc/src/resize.cpp
Labels: optimization

#26190 build: enable RISC-V FP16 support in the toolchain
  platforms/linux/flags-riscv64.cmake
Labels: category: build/install, platform: riscv

#26188 Multi-camera calibration tests with real cameras.
  modules/calib/test/test_multiview_calib.cpp
Labels: category: calib3d

#26213 RegisterCameras test for heterogenious pinhone + fisheye setup.
  modules/calib/test/test_multiview_calib.cpp
Labels: test, category: calib3d
