Repository opencv/opencv, pull requests merged in 2025-03, with the labels that each got.

#26992 Some minor fixes
  modules/videoio/doc/videoio_overview.markdown
Labels: category: documentation

#26987 videoio: print test params instead of indexes (5.x)
  modules/videoio/test/test_audio.cpp
  modules/videoio/test/test_ffmpeg.cpp
  modules/videoio/test/test_gstreamer.cpp
  modules/videoio/test/test_mfx.cpp
  modules/videoio/test/test_orientation.cpp
  modules/videoio/test/test_precomp.hpp
  modules/videoio/test/test_video_io.cpp
Labels: test, category: videoio

#26926 Fix getPerspectiveTransform for singular case
  modules/imgproc/src/imgwarp.cpp
  modules/imgproc/test/test_imgwarp.cpp
Labels: bug, category: imgproc

#26996 fix Logical defect in FilterSpecklesImpl
  modules/calib3d/src/stereosgbm.cpp
Labels: bug, category: calib3d

#26988 Optimize undistort points
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/src/undistort.dispatch.cpp
Labels: optimization, category: calib3d

#27004 Backported some CALL_HAL improvements from 5.x #26946
  modules/core/src/minmax.cpp
Labels: optimization, category: core

#26958 Add RISC-V HAL implementation for cv::pyrDown and cv::pyrUp
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/pyramids.hpp
  modules/imgproc/src/hal_replacement.hpp
  modules/imgproc/src/pyramids.cpp
Labels: optimization, platform: riscv

#27006 Fix issues in RISC-V Vector (RVV) Universal Intrinsic
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/src/convert.simd.hpp
  modules/core/src/convert_scale.simd.hpp
  modules/core/test/test_intrin_utils.hpp
Labels: bug, platform: riscv

#26849 APNG encoding optimization
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/perf/perf_decode_encode.cpp
  modules/imgcodecs/perf/perf_png.cpp
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_png.hpp
  modules/imgcodecs/src/grfmt_spng.cpp
  modules/imgcodecs/test/test_animation.cpp
  modules/imgcodecs/test/test_common.cpp
  modules/imgcodecs/test/test_common.hpp
  modules/imgcodecs/test/test_png.cpp
Labels: feature, category: imgcodecs

#26865 Add RISC-V HAL implementation for cv::dft and cv::dct
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/dxt.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/minmax.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm_diff.hpp
  modules/core/src/dxt.cpp
  modules/core/src/hal_replacement.hpp
Labels: optimization, platform: riscv

#26892 Add RISC-V HAL implementation for cv::solve
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/cholesky.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/lu.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/qr.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/svd.hpp
Labels: optimization, platform: riscv

#27007 Add RISC-V HAL implementation for cv::cvtColor
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/color.hpp
Labels: optimization, platform: riscv

#26977 [Refactor](HAL RVV): Consolidate Helpers for Code Reusability
  3rdparty/hal_rvv/hal_rvv_1p0/cholesky.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/dxt.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/flip.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/lu.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/lut.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/minmax.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/pyramids.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/qr.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/svd.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/types.hpp
Labels: platform: riscv, cleanup

#27036 Fix gaussianBlur5x5 performance regression
  3rdparty/fastcv/src/fastcv_hal_imgproc.cpp
Labels: bug, platform: arm, category: 3rdparty

#27037 Add a test to ensure ImageCollection class works good with animations
  modules/imgcodecs/src/grfmt_gif.cpp
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/test/test_animation.cpp
Labels: test, category: imgcodecs

#26868 Use universal intrinsics in bayer2gray
  modules/imgproc/src/demosaicing.cpp
Labels: optimization, category: imgproc

#27010 [HAL RVV] impl exp and log | add log perf test
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/exp.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/log.hpp
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
  modules/core/perf/perf_arithm.cpp
  modules/core/src/mathfuncs_core.simd.hpp
  modules/core/test/test_arithm.cpp
  modules/core/test/test_hal_core.cpp
Labels: optimization, platform: riscv

#27043 Warning fix on Windows.
  modules/imgproc/src/demosaicing.cpp
Labels: category: imgproc, category: build/install

#27001 Optimize camera matrix undistortion
  modules/calib3d/src/calibration_base.cpp
Labels: optimization, category: calib3d

#26934 Extend ArUcoDetector to run multiple dictionaries in an efficient manner.
  modules/objdetect/include/opencv2/objdetect/aruco_detector.hpp
  modules/objdetect/misc/python/test/test_objdetect_aruco.py
  modules/objdetect/src/aruco/aruco_detector.cpp
  modules/objdetect/test/test_arucodetection.cpp
  modules/objdetect/test/test_boarddetection.cpp
  modules/python/src2/cv2.cpp
Labels: feature, category: objdetect

#27026 Add RISC-V HAL implementation for cv::filter series
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/filter.hpp
Labels: optimization, platform: riscv

#26976 Refactor ArucoDetector::ArucoDetectorImpl::filterTooCloseCandidates
  modules/objdetect/src/aruco/aruco_detector.cpp
Labels: category: objdetect, cleanup

#27015 [HAL RVV] impl sqrt and invSqrt
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/sqrt.hpp
Labels: optimization, platform: riscv

#26968 Fix Aruco marker incorrect detection near image edge
  modules/objdetect/src/aruco/aruco_detector.cpp
Labels: bug, category: objdetect

#27050 RISC-V: Fix #27003.
  modules/core/include/opencv2/core/hal/intrin_rvv_scalable.hpp
Labels: bug, platform: riscv

#26834 Find contours speedup
  modules/imgproc/src/contours_approx.cpp
  modules/imgproc/src/contours_blockstorage.hpp
  modules/imgproc/src/contours_common.cpp
  modules/imgproc/src/contours_common.hpp
  modules/imgproc/src/contours_link.cpp
  modules/imgproc/src/contours_new.cpp
Labels: category: imgproc

#27041 Local decolor pipeline optimization
  modules/photo/src/contrast_preserve.hpp
Labels: optimization, category: photo

#27002 [HAL RVV] impl magnitude | add perf test
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/magnitude.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/sqrt.hpp
  modules/core/perf/perf_math.cpp
  modules/core/src/mathfuncs_core.simd.hpp
Labels: optimization, platform: riscv

#27055 Fix some vectorized loop conditions.
  modules/core/src/matmul.simd.hpp
  modules/imgproc/src/color_lab.cpp
  modules/imgproc/src/resize.cpp
Labels: optimization

#27000 [HAL RVV] reuse atan | impl cart_to_polar | add perf test
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/atan.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/cart_to_polar.hpp
  modules/core/perf/perf_math.cpp
  modules/core/src/mathfuncs_core.simd.hpp
Labels: optimization, platform: riscv

#27047 Move the CV_Assert above the << operation to not trigger the fuzzer
  modules/imgcodecs/src/grfmt_gif.cpp
Labels: category: imgcodecs

#27069 Fix a missing in the last 5.x merge 4.x
  modules/core/src/norm.simd.hpp
Labels: bug, category: core

#27056 [RVV HAL] Add copyright and replace '#pragma once'.
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/atan.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/cholesky.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/color.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/convert_scale.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/dxt.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/exp.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/filter.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/flip.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/log.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/lu.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/lut.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/mean.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/merge.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/minmax.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm_diff.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm_hamming.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/pyramids.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/qr.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/sqrt.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/svd.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/types.hpp
Labels: platform: riscv, cleanup

#27067 Optimize RISC-V HAL cv::sepFilter
  3rdparty/hal_rvv/hal_rvv_1p0/filter.hpp
Labels: optimization, platform: riscv

#27079 Add test for ArucoDetector::detectMarkers
  modules/objdetect/test/test_arucodetection.cpp
Labels: test, category: objdetect

#26999 [HAL RVV] unify and impl polar_to_cart | add perf test
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/polar_to_cart.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/pyramids.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/sincos.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/types.hpp
  modules/core/perf/perf_math.cpp
  modules/core/src/mathfuncs.cpp
  modules/core/src/mathfuncs_core.dispatch.cpp
  modules/core/src/mathfuncs_core.simd.hpp
Labels: optimization, platform: riscv

#27082 displayOverlay doesn't disappear after timeout
  modules/highgui/src/window_QT.cpp
Labels: bug, category: highgui-gui

#26991 core: improve norm of hal rvv
  3rdparty/hal_rvv/hal_rvv_1p0/common.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm.hpp
  modules/core/perf/perf_norm.cpp
  modules/core/src/norm.rvv1p0.hpp
  modules/core/src/norm.simd.hpp
Labels: optimization, category: core, platform: riscv

#27017 determine op mode at runtime
  modules/dnn/src/layers/gemm_layer.cpp
Labels: feature, category: dnn

#27104 fixed typo
  modules/imgproc/doc/colors.markdown
Labels: category: documentation

#27096 Add RISC-V HAL implementation for cv::moments
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/moments.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/types.hpp
Labels: optimization, platform: riscv

#27089 Add RISC-V HAL implementation for cv::equalizeHist
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/histogram.hpp
Labels: optimization, platform: riscv

#27097 Add RISC-V HAL implementation for cv::blur series
  3rdparty/hal_rvv/hal_rvv_1p0/filter.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/types.hpp
Labels: optimization, platform: riscv

#27087 Fixing imread() function 16 bit APNG reading problem
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/loadsave.cpp
  modules/imgcodecs/test/test_animation.cpp
Labels: bug, category: imgcodecs

#27081 GIF: Make sure to resize lzwExtraTable before each block
  modules/imgcodecs/src/grfmt_gif.cpp
Labels: category: imgcodecs

#27108 When WARP_INVERSE_MAP is used, accelerate the calculation with multi-threading
  modules/imgproc/src/imgwarp.cpp
Labels: optimization, category: imgproc

#27046 Fix RISC-V HAL solve/SVD and BGRtoLab
  3rdparty/hal_rvv/CMakeLists.txt
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/color.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/filter.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/lut.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/merge.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/sqrt.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/svd.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/thresh.hpp
Labels: bug, optimization, platform: riscv

#25027 video(test): filter very long debug tests
  modules/video/test/test_trackers.cpp
  modules/video/test/test_trackers.impl.hpp
Labels: test, category: video

#27112 cuda: Force C++17 Standard for CUDA targets when CUDA Toolkit >=12.8
  cmake/OpenCVDetectCUDA.cmake
  cmake/OpenCVDetectCUDALanguage.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#27114 Update old URL
  doc/js_tutorials/js_imgproc/js_watershed/js_watershed.markdown
  doc/py_tutorials/py_imgproc/py_watershed/py_watershed.markdown
Labels: category: documentation

#26880 Initial version of IPP-based HAL for x86 and x86_64 platforms
  3rdparty/ipphal/CMakeLists.txt
  3rdparty/ipphal/include/ipp_hal_core.hpp
  3rdparty/ipphal/include/ipp_utils.hpp
  3rdparty/ipphal/src/mean_ipp.cpp
  CMakeLists.txt
  modules/core/src/mean.dispatch.cpp
Labels: cleanup

#27128 Move IPP norm and normDiff to HAL
  3rdparty/ipphal/CMakeLists.txt
  3rdparty/ipphal/include/ipp_hal_core.hpp
  3rdparty/ipphal/src/norm_ipp.cpp
  modules/core/src/norm.dispatch.cpp
Labels: category: core, category: 3rdparty, cleanup

#27068 5.x merge 4.x: vectorized normDiff
  modules/core/perf/perf_norm.cpp
  modules/core/src/norm.dispatch.cpp
  modules/core/src/norm.simd.hpp
Labels: optimization

#27130 Add documentation for StereoBM parameters (fixes #26816)
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation

#27133 minor changes : Replace ndarray.ptp() with np.ptp() for NumPy 2.0 Compatibility
  samples/python/mosse.py
  samples/python/turing.py
Labels: category: python bindings, category: samples

#27125 Move IPP minMaxIdx to HAL
  3rdparty/ipphal/CMakeLists.txt
  3rdparty/ipphal/include/ipp_hal_core.hpp
  3rdparty/ipphal/src/minmax_ipp.cpp
  modules/core/src/mean.dispatch.cpp
  modules/core/src/minmax.cpp
Labels: category: core, category: 3rdparty, cleanup

#27132 Add planar accuracy tests for solvePnPRansac
  modules/calib3d/test/test_solvepnp_ransac.cpp
Labels: test, category: calib3d

#27102 Test gemm 3inputs
  modules/dnn/test/test_onnx_importer.cpp
Labels: test, category: dnn

#27115 core: refactored normDiff in hal_rvv and extended with support of more data types
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/common.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm_diff.hpp
  modules/core/src/norm.simd.hpp
Labels: optimization, platform: riscv

#27139 fix minAreaRect and boxPoints docs (#26799)
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#27119 Add RISC-V HAL implementation for cv::warp series
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/types.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/warp.hpp
  modules/imgproc/src/hal_replacement.hpp
  modules/imgproc/src/imgwarp.cpp
Labels: optimization, category: imgproc, platform: riscv

#27144 Fixed JavaDoc generation for StereoBM.
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: bug, category: documentation

#27148 doc: js: unwrap promise-typed cv object
  doc/js_tutorials/js_assets/js_setup_usage.html
  doc/js_tutorials/js_setup/js_setup/js_setup.markdown
  doc/js_tutorials/js_setup/js_usage/js_usage.markdown
Labels: bug, category: documentation, category: java bindings

#27142 Set C++ standard for all CUDA configurations
  cmake/OpenCVDetectCUDA.cmake
Labels: category: build/install, category: gpu/cuda (contrib)

#27138 Fix heap buffer overflow and use after free in imgcodecs
  modules/imgcodecs/src/grfmt_gif.cpp
  modules/imgcodecs/src/grfmt_png.cpp
Labels: bug, category: imgcodecs

#26906 Adding macbeth chart detector to objdetect module from opencv_contrib
  doc/tutorials/objdetect/macbeth_chart_detection/debugging_the_system.markdown
  doc/tutorials/objdetect/macbeth_chart_detection/macbeth_chart_detection.markdown
  doc/tutorials/objdetect/table_of_content_objdetect.markdown
  modules/objdetect/include/opencv2/objdetect.hpp
  modules/objdetect/include/opencv2/objdetect/mcc_checker_detector.hpp
  modules/objdetect/misc/js/gen_dict.json
  modules/objdetect/misc/python/pyopencv_cchecker.hpp
  modules/objdetect/perf/perf_mcc.cpp
  modules/objdetect/src/mcc/bound_min.cpp
  modules/objdetect/src/mcc/bound_min.hpp
  modules/objdetect/src/mcc/charts.cpp
  modules/objdetect/src/mcc/charts.hpp
  modules/objdetect/src/mcc/checker_detector.cpp
  modules/objdetect/src/mcc/checker_detector.hpp
  modules/objdetect/src/mcc/checker_model.cpp
  modules/objdetect/src/mcc/checker_model.hpp
  modules/objdetect/src/mcc/common.cpp
  modules/objdetect/src/mcc/common.hpp
  modules/objdetect/src/mcc/debug.cpp
  modules/objdetect/src/mcc/debug.hpp
  modules/objdetect/src/mcc/dictionary.hpp
  modules/objdetect/src/mcc/graph_cluster.cpp
  modules/objdetect/src/mcc/graph_cluster.hpp
  modules/objdetect/src/mcc/precomp.hpp
  modules/objdetect/src/mcc/wiener_filter.cpp
  modules/objdetect/src/mcc/wiener_filter.hpp
  modules/objdetect/test/test_mcc.cpp
  platforms/js/opencv_js.config.py
  samples/cpp/macbeth_chart_detection.cpp
  samples/dnn/models.yml
  samples/python/macbeth_chart_detection.py
Labels: feature, category: objdetect

#27164 cuda:: Add comment describing code around enable_language(CUDA) in CMakeLists.txt
  CMakeLists.txt
Labels: category: build/install, category: gpu/cuda (contrib)

#27154 User-defined logger callback, C-style.
  modules/core/include/opencv2/core/utils/logger.hpp
  modules/core/src/logger.cpp
  modules/core/test/test_logger_replace.cpp
Labels: test, feature, category: core

#27160 Add RISC-V HAL implementation for cv::resize
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/filter.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm_diff.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/resize.hpp
Labels: optimization, category: imgproc, platform: riscv

#27170 Fix closing of windows when using the Qt backend
  modules/highgui/src/window_QT.cpp
  modules/highgui/src/window_QT.h
Labels: category: highgui-gui

#27174 More elegant skipping SOLVEPNP_IPPE* methods in non-planar accuracy tests for solvePnP*
  modules/calib3d/test/test_solvepnp_ransac.cpp
Labels: test, category: calib3d

#26682 Fix null pointer dereference in Tracklet by initializing rgb_feature
  modules/gapi/src/3rdparty/vasot/src/components/ot/mtt/objects_associator.cpp
  modules/gapi/src/3rdparty/vasot/src/components/ot/tracklet.cpp
  modules/gapi/src/3rdparty/vasot/src/components/ot/tracklet.hpp
Labels: category: samples, category: g-api / gapi

#27162 HAL: added copyToMask and implemented in hal_rvv
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/copy_mask.hpp
  modules/core/src/copy.cpp
  modules/core/src/hal_replacement.hpp
Labels: optimization, platform: riscv

#27107 build: Check supported C++ standard features and user setting
  cmake/OpenCVDetectCXXCompiler.cmake
  cmake/checks/cxx11.cpp
  doc/tutorials/introduction/config_reference/config_reference.markdown
Labels: category: build/install
