Repository opencv/opencv, pull requests merged in 2025-04, with the labels that each got.

#27029 build: fix OpenBLAS detection on Linux
  cmake/OpenCVFindLAPACK.cmake
  cmake/OpenCVFindOpenBLAS.cmake
Labels: category: build/install

#27186 remove undefined/legacy CvArr reference in window_QT.h
  modules/highgui/src/window_QT.h
Labels: category: highgui-gui, category: build/install

#27185 Specify DLS and UPnP mappings to EPnP in all places for solvePnP* tests
  modules/calib3d/test/test_solvepnp_ransac.cpp
Labels: category: calib3d

#27193 videoio: fixed V4L frame size for non-BGR output
  modules/videoio/src/cap_v4l.cpp
  modules/videoio/test/test_v4l2.cpp
Labels: bug, category: videoio(camera)

#25394 Added reinterpret() method to Mat to convert meta-data without actual data conversion
  modules/core/include/opencv2/core/mat.hpp
  modules/core/src/matrix.cpp
  modules/core/src/matrix_wrap.cpp
  modules/core/test/test_mat.cpp
Labels: optimization, category: core

#27175 HAL: implemented cv_hal_div* and cv_hal_recip* in hal_rvv
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/div.hpp
Labels: optimization, category: core, platform: riscv

#27145 core: further vectorize copyTo with mask
  modules/core/perf/perf_mat.cpp
  modules/core/src/copy.cpp
Labels: optimization, category: core

#27203 Drop commented out convertTo impl with IPP.
  modules/core/src/convert.simd.hpp
Labels: category: core, cleanup

#27202 Dropped inefficient (disabled) IPP integration for LUT.
  modules/core/include/opencv2/core/private.hpp
  modules/core/src/lut.cpp
Labels: category: core, cleanup

#27196 Update js_houghcircles_HoughCirclesP.html
  doc/js_tutorials/js_assets/js_houghcircles_HoughCirclesP.html
Labels: category: documentation

#27213 Transfer IPP polarToCart to HAL
  3rdparty/ipphal/CMakeLists.txt
  3rdparty/ipphal/include/ipp_hal_core.hpp
  3rdparty/ipphal/src/cart_polar_ipp.cpp
  modules/core/src/mathfuncs.cpp
Labels: optimization, cleanup

#27220 imgproc: disable SIMD for compareHist(INTERSECT) if f64 is unsupported
  modules/imgproc/src/histogram.cpp
  modules/imgproc/test/test_histograms.cpp
Labels: bug, platform: arm

#27194 Migrated IPP impl for flip and transpose to HAL
  3rdparty/ipphal/CMakeLists.txt
  3rdparty/ipphal/include/ipp_hal_core.hpp
  3rdparty/ipphal/src/mean_ipp.cpp
  3rdparty/ipphal/src/minmax_ipp.cpp
  3rdparty/ipphal/src/norm_ipp.cpp
  3rdparty/ipphal/src/transforms_ipp.cpp
  modules/core/src/matrix_transform.cpp
Labels: optimization, category: core, cleanup

#27218 upgrade tbb to version 2022.1.0
  3rdparty/tbb/CMakeLists.txt
Labels: category: build/install, category: 3rdparty

#27182 Parallel_for in box Filter and support for 32f box filter in Fastcv hal
  3rdparty/fastcv/src/fastcv_hal_imgproc.cpp
  modules/imgproc/perf/perf_blur.cpp
Labels: optimization, platform: arm

#27217 Optimize gaussian blur performance in FastCV HAL
  3rdparty/fastcv/src/fastcv_hal_imgproc.cpp
Labels: optimization, platform: arm

#27201 HAL: implemented cv_hal_dotProduct in hal_rvv
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/dotprod.hpp
Labels: optimization, category: core, platform: riscv

#27060 [hal_rvv] Add cv::integral implementation and more types of input for test
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/integral.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/types.hpp
  modules/imgproc/perf/perf_integral.cpp
  modules/imgproc/src/sumpixels.dispatch.cpp
  modules/imgproc/test/test_filter.cpp
Labels: optimization, platform: riscv

#27239 Android-SDK: check flag IPP package
  platforms/android/build_sdk.py
Labels: category: build/install, platform: android

#27244 Fix QR code encoder with autoversion
  modules/objdetect/src/qrcode_encoder.cpp
  modules/objdetect/test/test_qrcode_encode.cpp
Labels: bug, category: objdetect

#27228 Explicitly specify enum type scopes to improve Java wrapper generation
  modules/dnn/include/opencv2/dnn/dnn.hpp
  modules/dnn/misc/java/test/DnnBlobFromImageWithParamsTest.java
  modules/objdetect/include/opencv2/objdetect.hpp
Labels: test, category: objdetect, category: java bindings, category: dnn

#27245 Enable Java bindings for SimpleBlobDetector::blobColor
  modules/features2d/misc/java/gen_dict.json
  modules/features2d/misc/java/test/SIMPLEBLOBFeatureDetectorTest.java
Labels: category: java bindings

#27221 minor changes in calib3d docs for clarity
  doc/tutorials/calib3d/camera_calibration/camera_calibration.markdown
  doc/tutorials/calib3d/camera_calibration_pattern/camera_calibration_pattern.markdown
  doc/tutorials/calib3d/camera_calibration_square_chess/camera_calibration_square_chess.markdown
Labels: category: documentation

#27249 HAL: aligned behavior of normDiff 32s kernels in hal_rvv in 4.x
  3rdparty/hal_rvv/hal_rvv_1p0/norm_diff.hpp
Labels: category: core, platform: riscv

#27229 HAL: implemented cv_hal_transpose in hal_rvv
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/transpose.hpp
  modules/core/perf/perf_arithm.cpp
Labels: optimization, category: core, platform: riscv

#27230 videoio: add Orbbec Gemini 330 camera support
  doc/tutorials/app/orbbec_uvc.markdown
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_obsensor/obsensor_stream_channel_interface.hpp
  modules/videoio/src/cap_obsensor/obsensor_stream_channel_msmf.cpp
  modules/videoio/src/cap_obsensor/obsensor_stream_channel_v4l2.cpp
  modules/videoio/src/cap_obsensor/obsensor_uvc_stream_channel.cpp
  modules/videoio/src/cap_obsensor/obsensor_uvc_stream_channel.hpp
  modules/videoio/src/cap_obsensor_capture.cpp
Labels: feature, category: videoio(camera), category: 3rdparty

#27184 FastCV gemm hal
  3rdparty/fastcv/include/fastcv_hal_core.hpp
  3rdparty/fastcv/src/fastcv_hal_core.cpp
  modules/core/test/test_operations.cpp
Labels: optimization, platform: arm

#27255 Update houghcircles.py
  samples/python/houghcircles.py
Labels: category: samples

#27257 hal_rvv: further optimized flip
  hal/riscv-rvv/hal_rvv_1p0/flip.hpp
  modules/core/perf/perf_flip.cpp
Labels: optimization, category: core, platform: riscv

#27260 Add CV_WRAP to registerOutput for language bindings support
  modules/dnn/include/opencv2/dnn/dnn.hpp
Labels: category: python bindings, category: java bindings, category: dnn

#27263 hal/riscv_rvv: implemented flip_inplace to boost cv::rotate
  hal/riscv-rvv/hal_rvv_1p0/flip.hpp
Labels: optimization, category: core, platform: riscv

#27261 5.x merge 4.x: merge changes of norm and norm_diff in hal rvv from 4.x
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/common.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/norm_diff.hpp
  modules/core/perf/perf_norm.cpp
  modules/core/src/norm.rvv1p0.hpp
  modules/core/src/norm.simd.hpp
Labels: port/backport done

#27238 Rotary positional embeddings
  modules/dnn/src/layers/attention_layer.cpp
  modules/dnn/test/test_layers.cpp
Labels: feature, category: dnn

#27227 Add additional information about homogeneous transformations in the calib3d doc
  modules/calib3d/doc/pics/pinhole_homogeneous_transformation.png
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation
