Repository opencv/opencv, pull requests merged in 2025-01, with the labels that each got.

#26704 Fix flaky Imgcodecs_APNG.imwriteanimation_bgcolor
  modules/imgcodecs/src/grfmt_png.cpp
Labels: bug, category: imgcodecs

#26695 fix: cast coordinates to int32 for compatibility with line function
  doc/py_tutorials/py_calib3d/py_pose/py_pose.markdown
Labels: category: python bindings, category: documentation, category: samples

#26701 Fix leaks in cv::PngDecoder
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_png.hpp
Labels: bug, category: imgcodecs

#26699 Fix integer overflow in in cv::BmpDecoder::readHeader
  modules/imgcodecs/src/grfmt_bmp.cpp
Labels: bug, category: imgcodecs

#26698 AndroidMediaNdkVideoWriter pixel format enhancement
  modules/videoio/src/cap_android_mediandk.cpp
  samples/android/video-recorder/src/org/opencv/samples/recorder/RecorderActivity.java
Labels: feature, category: videoio, platform: android

#26688 Animated GIF APNG WEBP AVIF revisions
  modules/imgcodecs/src/grfmt_avif.cpp
  modules/imgcodecs/src/grfmt_avif.hpp
  modules/imgcodecs/src/grfmt_base.cpp
  modules/imgcodecs/src/grfmt_gif.cpp
  modules/imgcodecs/src/grfmt_gif.hpp
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_png.hpp
  modules/imgcodecs/src/grfmt_webp.cpp
  modules/imgcodecs/src/grfmt_webp.hpp
  modules/imgcodecs/test/test_animation.cpp
Labels: category: imgcodecs

#26715 Fixed some memory leaks in PNG/APNG implementation
  modules/imgcodecs/src/grfmt_png.cpp
Labels: bug, priority: high, category: imgcodecs

#26716 Fix tests for ellipse fitting
  modules/imgproc/test/test_fitellipse_ams.cpp
  modules/imgproc/test/test_fitellipse_direct.cpp
Labels: test, category: imgproc

#26714 fix for png durations and memory leak
  modules/imgcodecs/src/grfmt_png.cpp
Labels: bug, category: imgcodecs

#26726 Remove extra /* in /**/ comment
  modules/imgcodecs/src/grfmt_png.cpp
Labels: category: build/install, category: imgcodecs

#26720 Use RAII to avoid leaks in PNG reader.
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_png.hpp
Labels: category: imgcodecs

#26719 Remove code duplication from tests for ellipse fitting
  modules/imgproc/test/test_fitellipse_ams.cpp
  modules/imgproc/test/test_fitellipse_direct.cpp
Labels: test, category: imgproc

#26721 Fix comment for fitEllipse Java case accurracy test
  modules/imgproc/test/test_fitellipse.cpp
Labels: category: documentation, category: java bindings

#26729 Change article for fitEllipseDirect function
  doc/opencv.bib
  modules/imgproc/include/opencv2/imgproc.hpp
  samples/cpp/fitellipse.cpp
Labels: category: imgproc, category: documentation

#26728 Fix behavior change when PNG buffer is incomplete.
  modules/imgcodecs/src/grfmt_png.cpp
Labels: category: imgcodecs

#26734 Fixed fread size check for corrupted PNGs
  modules/imgcodecs/src/grfmt_png.cpp
Labels: bug, category: imgcodecs

#26706 imgcodecs: fix EXR tests
  modules/imgcodecs/src/grfmt_exr.cpp
  modules/imgcodecs/test/test_exr.impl.hpp
Labels: test, category: imgcodecs

#26739 Add more boundary checks.
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_png.hpp
Labels: category: imgcodecs

#26741 added POST_BUILD to add_custom_command in python_loader.cmake to avoid warning
  modules/python/python_loader.cmake
Labels: category: build/install

#26676 Clean up sse_utils.hpp
  modules/core/include/opencv2/core/sse_utils.hpp
  modules/core/src/precomp.hpp
  modules/imgproc/src/imgwarp.sse4_1.cpp
  modules/imgproc/src/precomp.hpp
Labels: cleanup

#26713 Ensure Obj-C header files are generated correctly if under /private/var
  modules/objc/generator/gen_objc.py
Labels: category: build/install, platform: ios/osx

#26602 Improved dumpVector, cv::Rect operator<< and exceptions
  modules/core/src/bindings_utils.cpp
Labels: category: python bindings, category: core, category: java bindings

#26750 core: fixed VSX intrinsics implementation
  modules/core/include/opencv2/core/hal/intrin_vsx.hpp
Labels: bug, category: build/install, platform: ppc (PowerPC)

#26748 Fix remaining bugs in PNG reader
  modules/imgcodecs/src/grfmt_png.cpp
Labels: category: imgcodecs

#26738 fix bugs in GIF decoding
  modules/imgcodecs/src/grfmt_gif.cpp
Labels: bug, category: imgcodecs

#26742 Bug fix for #25546 - Updating inliers for homography estimation
  modules/calib3d/src/fundam.cpp
Labels: bug, category: calib3d

#26651 Remove MSVS 2013 related
  cmake/checks/cpu_avx.cpp
  cmake/checks/cpu_avx2.cpp
  modules/core/include/opencv2/core/cvstd_wrapper.hpp
  modules/imgproc/src/imgwarp.cpp
  modules/stitching/include/opencv2/stitching.hpp
  modules/stitching/src/stitcher.cpp
Labels: platform: win32, cleanup

#26757 fix threshold for photo_calibratedebevec regression test
  modules/photo/test/test_hdr.cpp
Labels: test, category: photo

#26753 Fix rotated aruco marker board generation
  modules/objdetect/src/aruco/aruco_board.cpp
  modules/objdetect/test/test_boarddetection.cpp
Labels: bug, category: objdetect

#26744 Fix #26086 - Update types inside HoughLinesProbabilistic
  modules/imgproc/src/hough.cpp
Labels: bug, category: imgproc

#26765 Fixed Android build with Vulkan support.
  modules/dnn/src/vkcom/src/context.cpp
Labels: category: build/install, platform: android

#26769 Avoid adding value to nullptr
  modules/imgproc/src/imgwarp.cpp
Labels: category: imgproc

#26776 Don't overflow pointer addition
  modules/imgproc/src/imgwarp.cpp
Labels: category: imgproc

#26792 Disable obsolete GHA pipelines for 3.4
  .github/workflows/PR-3.4.yaml
Labels: CI/CD: GitHub Actions (GHA)

#26805 Fix typo in matchTemplate description
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#26803 OpenCL: OpenBSD build fix
  modules/core/src/opencl/runtime/opencl_core.cpp
Labels: category: build/install, category: ocl, platform: other

#26802 3rdparty:ittnotify: update to v3.25.4
  3rdparty/ittnotify/CMakeLists.txt
  3rdparty/ittnotify/include/ittnotify.h
  3rdparty/ittnotify/include/jitprofiling.h
  3rdparty/ittnotify/include/legacy/ittnotify.h
  3rdparty/ittnotify/include/libittnotify.h
  3rdparty/ittnotify/include/llvm_jit_event_listener.hpp
  3rdparty/ittnotify/src/ittnotify/BSD-3-Clause.txt
  3rdparty/ittnotify/src/ittnotify/GPL-2.0-only.txt
  3rdparty/ittnotify/src/ittnotify/disable_warnings.h
  3rdparty/ittnotify/src/ittnotify/ittnotify_config.h
  3rdparty/ittnotify/src/ittnotify/ittnotify_static.c
  3rdparty/ittnotify/src/ittnotify/ittnotify_static.h
  3rdparty/ittnotify/src/ittnotify/ittnotify_types.h
  3rdparty/ittnotify/src/ittnotify/jitprofiling.c
  CMakeLists.txt
Labels: feature, category: 3rdparty

#26787 Fix memory leaks for JpegXLDecoder
  modules/imgcodecs/src/grfmt_jpegxl.cpp
Labels: bug, category: imgproc

#26798 Add CMake checks for getauxval and elf_aux_info for POWER
  CMakeLists.txt
  modules/core/CMakeLists.txt
  modules/core/src/system.cpp
Labels: category: core, category: build/install, platform: other

#26773 Improve robustness for ellipse fitting
  modules/imgproc/src/shapedescr.cpp
  modules/imgproc/test/test_fitellipse.cpp
  modules/imgproc/test/test_fitellipse_ams.cpp
  modules/imgproc/test/test_fitellipse_direct.cpp
Labels: category: imgproc

#26778 Added fontScale behavior description to putText() documentation
  modules/imgproc/include/opencv2/imgproc.hpp
Labels: category: documentation

#26813 add CV_WRAP to Animation struct
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/misc/java/test/ImgcodecsTest.java
Labels: category: java bindings

#26788 imgcodecs: jpegxl: support cv::IMREAD_UNCHANGED and other ImreadFlags
  modules/imgcodecs/src/grfmt_jpegxl.cpp
  modules/imgcodecs/src/grfmt_jpegxl.hpp
  modules/imgcodecs/test/test_jpegxl.cpp
  modules/imgcodecs/test/test_precomp.hpp
Labels: feature, category: imgcodecs

#26810 Improve robustness for fitEllipseAMS
  modules/imgproc/src/shapedescr.cpp
  modules/imgproc/test/test_fitellipse_ams.cpp
Labels: feature, category: imgproc

#26815 Replaced sprintf with snprintf
  samples/cpp/tutorial_code/ImgTrans/HoughLines_Demo.cpp
  samples/cpp/tutorial_code/objectDetection/aruco_samples_utility.hpp
  samples/opengl/opengl_interop.cpp
Labels: category: samples

#26800 fix default cap_prop_orientation_auto behaviour
  modules/videoio/src/cap_interface.hpp
  modules/videoio/test/test_orientation.cpp
Labels: bug, category: videoio

#26782 Fix potential READ memory access
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_png.hpp
Labels: category: imgcodecs

#26646 Android camera refactoring
  modules/videoio/src/cap_android_camera.cpp
Labels: category: videoio, platform: android

#26601 VideoCapture open camera slow
  modules/videoio/src/cap_dshow.cpp
  modules/videoio/src/cap_dshow.hpp
  modules/videoio/src/cap_interface.hpp
Labels: category: videoio(camera)

#26660 Cocoa/highgui: replace with `@autoreleasepool` blocks
  modules/highgui/src/window_cocoa.mm
Labels: platform: ios/osx, cleanup

#26832 Move the checks to read_chunk.
  modules/imgcodecs/src/grfmt_png.cpp
Labels: category: imgcodecs

#26678 build(4.x) OpenEXR 2.2 or earlier cannot be used with C++17 or later
  cmake/OpenCVDetectCXXCompiler.cmake
  cmake/OpenCVFindOpenEXR.cmake
  doc/tutorials/introduction/config_reference/config_reference.markdown
Labels: category: build/install, category: 3rdparty

#26669 solvePnPRansac implementation for Fisheye camera model
  modules/calib3d/include/opencv2/calib3d.hpp
  modules/calib3d/src/fisheye.cpp
  modules/calib3d/test/test_fisheye.cpp
Labels: feature, category: calib3d

#26837 Zoom functionality for Android native camera capture
  modules/videoio/include/opencv2/videoio.hpp
  modules/videoio/src/cap_android_camera.cpp
Labels: category: videoio(camera), platform: android

#26835 Corrections on bKGD chunk writing and reading in PNG
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/test/test_animation.cpp
Labels: category: imgcodecs

#26828 Imgcodecs minor improvements for better code readibility
  modules/imgcodecs/src/grfmt_png.cpp
  modules/imgcodecs/src/grfmt_png.hpp
Labels: category: imgcodecs, cleanup

#26841 Fix data01.xml file for example_cpp_logistic_regression
  samples/data/data01.xml
Labels: bug, category: samples

#26820 Initial support Blackwell GPU arch
  cmake/OpenCVDetectCUDAUtils.cmake
Labels: feature, category: build/install, category: gpu/cuda (contrib)

#26754 Add direct pdf links in the bibliography
  doc/opencv.bib
  doc/tutorials/imgproc/out_of_focus_deblur_filter/out_of_focus_deblur_filter.markdown
  doc/tutorials/imgproc/periodic_noise_removing_filter/periodic_noise_removing_filter.markdown
  modules/stitching/include/opencv2/stitching/detail/seam_finders.hpp
Labels: category: documentation

#26717 Add examples for each `cv::BorderTypes` enum types in the documentation
  modules/core/include/opencv2/core/base.hpp
Labels: category: documentation

#26847 Fix bug different marker ordering with findChessboardCornersSBWithMeta and CALIB_CB_LARGER flag
  modules/calib3d/src/chessboard.cpp
  modules/calib3d/test/test_chesscorners.cpp
Labels: category: calib3d

#26848 Fix overlow pointers.
  modules/imgproc/src/floodfill.cpp
Labels: category: imgproc

#26463 Update IPP integration
  3rdparty/ippicv/ippicv.cmake
  modules/core/include/opencv2/core/private.hpp
  modules/core/src/norm.cpp
Labels: optimization, category: 3rdparty

#26844 imgcodecs: jpegxl: imdecode() directly read from memory
  modules/imgcodecs/src/grfmt_jpegxl.cpp
  modules/imgcodecs/src/grfmt_jpegxl.hpp
  modules/imgcodecs/test/test_jpegxl.cpp
Labels: feature, category: imgcodecs

#26850 Update includes in filter.hpp
  modules/imgproc/src/filter.hpp
Labels: category: imgproc, category: build/install

#26826 Workaround solution for isuue #26818
  modules/python/src2/typing_stubs_generation/predefined_types.py
Labels: category: python bindings

#26846 Fix bug with int64 support for FileStorage
  modules/core/src/persistence.cpp
  modules/core/test/test_io.cpp
Labels: bug, category: core

#26831 added 16-bit support to fastNlMeansDenoising and updated tests
  modules/photo/src/denoising.cpp
  modules/photo/test/test_denoising.cpp
  modules/photo/test/test_precomp.hpp
Labels: feature, category: photo

#26851 fix related the issue 22551
  modules/imgcodecs/src/grfmt_png.cpp
Labels: category: imgcodecs

#26856 RISC-V: increase DotProduct test threshold a bit
  modules/core/test/test_math.cpp
Labels: category: core, platform: riscv

#26853 Add RISC-V HAL implementation for fastAtan32f/fastAtan64f
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/atan.hpp
Labels: optimization, platform: riscv

#26854 Fix oss-fuzz bugs 391934081 and 392318892
  modules/imgcodecs/include/opencv2/imgcodecs.hpp
  modules/imgcodecs/src/grfmt_png.cpp
Labels: category: imgcodecs

#26789 Add RISC-V HAL implementation for minMaxIdx
  3rdparty/hal_rvv/hal_rvv.hpp
  3rdparty/hal_rvv/hal_rvv_1p0/minmax.hpp
  modules/core/src/hal_replacement.hpp
  modules/core/src/minmax.cpp
Labels: optimization, platform: riscv

#26762 Fixed AVIF linkage on Windows
  cmake/OpenCVFindAVIF.cmake
Labels: category: build/install
