Repository opencv/opencv, pull requests merged in 2025-10, with the labels that each got.

#27833 Moved pattern generator to apps and rewrote tutorial
  apps/CMakeLists.txt
  apps/pattern-tools/DICT_4X4_100.json.gz
  apps/pattern-tools/DICT_4X4_1000.json.gz
  apps/pattern-tools/DICT_4X4_250.json.gz
  apps/pattern-tools/DICT_4X4_50.json.gz
  apps/pattern-tools/DICT_5X5_100.json.gz
  apps/pattern-tools/DICT_5X5_1000.json.gz
  apps/pattern-tools/DICT_5X5_250.json.gz
  apps/pattern-tools/DICT_5X5_50.json.gz
  apps/pattern-tools/DICT_6X6_100.json.gz
  apps/pattern-tools/DICT_6X6_1000.json.gz
  apps/pattern-tools/DICT_6X6_250.json.gz
  apps/pattern-tools/DICT_6X6_50.json.gz
  apps/pattern-tools/DICT_7X7_100.json.gz
  apps/pattern-tools/DICT_7X7_1000.json.gz
  apps/pattern-tools/DICT_7X7_250.json.gz
  apps/pattern-tools/DICT_7X7_50.json.gz
  apps/pattern-tools/DICT_APRILTAG_16h5.json.gz
  apps/pattern-tools/DICT_APRILTAG_25h9.json.gz
  apps/pattern-tools/DICT_APRILTAG_36h10.json.gz
  apps/pattern-tools/DICT_APRILTAG_36h11.json.gz
  apps/pattern-tools/DICT_ARUCO_ORIGINAL.json.gz
  apps/pattern-tools/README.txt
  apps/pattern-tools/generate_pattern.py
  apps/pattern-tools/requirements-test.txt
  apps/pattern-tools/svgfig.py
  apps/pattern-tools/test_charuco_board.py
  doc/CMakeLists.txt
  doc/tutorials/calib3d/camera_calibration_pattern/camera_calibration_pattern.markdown
  doc/tutorials/calib3d/camera_calibration_square_chess/camera_calibration_square_chess.markdown
  doc/tutorials/objdetect/aruco_board_detection/aruco_board_detection.markdown
  doc/tutorials/objdetect/charuco_detection/charuco_detection.markdown
  modules/calib3d/include/opencv2/calib3d.hpp
Labels: category: documentation, category: apps

#27861 Warning fixes in DLpack integration on Win32
  modules/core/misc/python/pyopencv_cuda.hpp
Labels: category: python bindings, category: build/install, category: gpu/cuda (contrib)

#27785 dnn: added neon intrinsics implementation of fastGEMM1T function
  modules/dnn/CMakeLists.txt
  modules/dnn/src/layers/layers_common.simd.hpp
  modules/dnn/src/layers/recurrent_layers.cpp
Labels: optimization, platform: arm

#27857 Cleaned up parser denylist and removed passing tests.
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_classic_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: test, category: dnn (onnx)

#27698 Added cast and castlike layers support in new DNN engine
  modules/dnn/include/opencv2/dnn/all_layers.hpp
  modules/dnn/src/ie_ngraph.cpp
  modules/dnn/src/init.cpp
  modules/dnn/src/layers/cast2_layer.cpp
  modules/dnn/src/layers/einsum_layer.cpp
  modules/dnn/src/layers/nary_eltwise_layers.cpp
  modules/dnn/src/net_impl2.cpp
  modules/dnn/src/onnx/onnx_graph_simplifier.cpp
  modules/dnn/src/onnx/onnx_importer2.cpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__cuda_fp16_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter__openvino.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_filter_opencv_classic_denylist.inl.hpp
  modules/dnn/test/test_onnx_conformance_layer_parser_denylist.inl.hpp
Labels: feature, category: dnn (onnx)

#27864 Add OPENCV_FFMPEG_SKIP_LOG_CALLBACK to preserve custom FFmpeg logging
  doc/tutorials/introduction/env_reference/env_reference.markdown
  modules/videoio/src/cap_ffmpeg_impl.hpp
Labels: category: videoio

#27872 Rename fields in camera calibration results
  apps/interactive-calibration/calibController.cpp
  doc/tutorials/calib3d/interactive_calibration/interactive_calibration.markdown
  doc/tutorials/objdetect/aruco_board_detection/aruco_board_detection.markdown
  doc/tutorials/objdetect/charuco_detection/charuco_detection.markdown
Labels: category: documentation, category: apps, cleanup

#27822 Improved blur
  modules/imgproc/CMakeLists.txt
  modules/imgproc/src/box_filter.dispatch.cpp
  modules/imgproc/src/box_filter.simd.hpp
Labels: optimization, category: imgproc
